

/*
  CUSTOM CSS
*/
/* Enter your custom styles */
/* body{font-family: 'Whitney', sans-serif} */
/* body{font-family: 'Whitney', sans-serif; font-size: 15px} */
button:hover{ cursor: pointer;}
/* a{ color: #091e35} */
a:hover, a:focus{ color: #b09455}
.c-header-2{ padding: 0}
.c-header-2-logo a img{ max-height: none;}
.c-header-2.-bg-white .c-header-2-logo{ position:absolute;background-color: #fff;padding: 10px 10px 20px;top: 0; z-index: 1000; top: -47px;}
.c-header-2.-sticky-active.-bg-white .c-header-2-logo{ top:0}
.c-header-2.-sticky-active.-bg-white .c-header-2-logo a img{ height: 90px;width: auto;}
.c-header-2.-bg-white .c-header-2-nav a,.card-menu-label{ text-transform: uppercase; font-size: 13px; color: rgba(255,255,255,0.2)}
.c-header-2-nav a{ padding: 0 7px;}
.c-header-2-nav > ul > li{ float: left;}
.c-header-2-nav > ul > li.cta, #mobile-navigation > ul > li.cta{ background: #69c5d1; }
.c-header-2-nav > ul > li.cta a, #mobile-navigation > ul > li.cta a, #mobile-navigation > ul > li.cta a:hover{background: #69c5d1;color: #091e35 !important; font-size: 15px !important; font-weight: 700}
.c-header-2-row{ background: #091e35; display: block;}
.c-header-2.-bg-white .c-header-2-nav > ul > li.sub > a{ color: #ffffff !important }
.c-header-2.-bg-white .c-header-2-nav > ul > li.sub > a:after{ content: none; }
.c-header-2.-bg-white .c-header-2-nav > ul > li.sub > a:hover{ color: #b09455 !important }
.c-header-2-nav > ul > li > ul{ display:block;padding: 10px;border-radius: 0px; }
#page-credit-card .c-header-2-nav > ul > li > ul{width: 685px;}
#page-merchant-solutions .c-header-2-nav > ul > li > ul{width: 647px;}
#page-banking .c-header-2-nav > ul > li > ul{width: 305px;}
.c-header-2-nav > ul > li > ul li{ float: left; }
.c-header-2-nav > ul > li > ul a,.card-menu-label{ color: #091e35 !important; min-width: inherit;}
.c-header-2-nav > ul > li > ul a:hover{ background-color: #f6f6f6; }
.card-menu-label a:hover{ background-color: #ffffff !important; }
.c-header-2.-overlap{ position: relative;}
.nav-link:hover{ color: #b09455 !important}
.search-field{ background: #eeeeee; border-radius: 3px; padding: 5px 0 5px 5px; float: right; }
.search-field input{ height: 25px; color: #666666; background: #eeeeee; width: 200px; border: none; font-size: 13px}
.search-field button{ padding: 0 10px; font-size: 14px; float: right; height: 25px; margin: 0; background: transparent; border: none; }
.search-field button:hover{ color: #666; }
.u-text-title{ font-weight: 300 !important;}
#pagetop{ background: #fff}
#pagetop { padding-top: 5px;padding-bottom: 5px; font-size: 13px}
#pagetop a { text-align: center; float: right; display: block; margin: 5px 15px 0 0; color: #091e35;}
#navigation{ background: #091e35;display: block;}
#mobile-navigation{display: none;}
footer{ background-color: #ffffff;color: #091e35;font-size: 15px;line-height: 28px;}
footer ul { list-style: none; padding:0}
footer ul.halfwidth{ width:50%; float: left;}
footer a.icon-xxs:hover{ color: #b09455 !important; background: #091e35 !important;}
footer .footer-top{padding-top: 20px}
footer .footer-bottom{ padding: 20px 0; font-size: 14px}
footer h5{ font-weight: 600; margin-bottom: 5px; font-size: 15px}
footer h4{ margin: 15px 0 }
footer h3{ margin-bottom: 10px }
footer .social-icon{border-radius: 3px; width: 30px; height: 30px; display: inline-block; color: #ffffff}

.c-summary-1-title{ font-size:24px; color: #091e35; font-weight: 600}
.u-color-gold{ color: #b09455 !important }
.u-color-bronze{ color: #857040 !important }
.u-color-grey{ color: #777777 !important}
.u-color-blue{ color: #091e35 !important }
.c-section.-bg-blue-light{ background-color: #f6f6f6 }
.u-text-sup{ color: #69c5d1 !important}
.c-blog-1-item-inner{ border: none;border-left: 1px solid #ffffff !important;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.c-blog-1-info{ padding:30px}

.c-summary-1.-icon-top .c-summary-1-icon{ margin-bottom: 10px; }
.c-summary-1-icon{ color: #b09455; }
.c-accordion-1.-style-boxed .c-accordion-1-header{border-bottom: 1px solid #fff;background-color: #091e35;}
.c-accordion-1-title, .c-accordion-1-item.active .c-accordion-1-title{ color: #fff !important}
.c-accordion-1-icon::before{ background-color: #fff}
.c-accordion-1-icon{border: 1px solid #091e35;background-color: #091e35;}
.c-button-1.-hover-green-default:hover{border-color: #091e35;background-color: #091e35;}
.c-button-1.-color-green-outline{border-color: #091e35;background-color: #091e35;color:#fff }
.u-text-title{ color: #091e35}
.c-blog-1-info-category{ font-size: 15px}
.drop-msg { background: #69c5d1; border: none; color: #091e35; font-weight: 600;padding: 10px 20px; z-index: 100; display: block; position: fixed; cursor: pointer; right: 20px; bottom: 15px; text-align: center; border-radius:0px}
.drop-msg:hover,.drop-msg:focus{ color: #091e35 }
.owl-carousel .owl-dots{ margin-top: 0}

.c-team-4-photo img{ border-radius: 0; width: 250px}
.btn-lightblue{ background-color: #69c5d1 !important; border-color: #69c5d1 !important; color: #091e35 !important }

.card-menu-label a{ font-weight:600 !important}
.card-menu-label i.fa-caret-down{ display:none }
.card-menu-label i.fa-caret-right{ display:inline-block }

table,td,th{border:1px solid #ccc; font-size:15px}
th{ font-weight:bold}
.modal-header{display:block;}

.facebook:hover,.facebook-bg{background:#4b6ea8 !important;}
.twitter:hover,.twitter-bg{background:#4fd5f8 !important;}
.youtube:hover,.youtube-bg{background:#da1818 !important;}
.vimeo:hover,.vimeo-bg{background:#96d3f0 !important;}
.pinterest:hover,.pinterest-bg{background:#d83633 !important;}
.linkedin:hover,.linkedin-bg{background:#0189c3 !important;}
.flickr:hover,.flickr-bg{background:#84979e !important;}
.dropbox:hover,.dropbox-bg{background:#1e81c2 !important;}
.instagram:hover,.instagram-bg{background:#d82950 !important;}
.tumblr:hover,.tumblr-bg{background:#345365 !important;}
.skype:hover,.skype-bg{background:#00bbf0!important;}
.google-plus:hover,.google-plus-bg{background:#da2200 !important;}
.twitter-square:hover,.twitter-square-bg{background:#4fd5f8 !important;}



/*
  For nav menu
*/
@media (max-width: 1130px) {
  .c-header-2-nav a{padding: 0 5px; font-size: 12px !important;}
  .c-header-2-nav > ul > li.cta a{font-size: 12px !important;}
  #page-credit-card .c-header-2-nav > ul > li > ul{ width: 616px;}
  #page-merchant-solutions .c-header-2-nav > ul > li > ul{ width: 545px;}
  #page-banking .c-header-2-nav > ul > li > ul{ width: 275px;}
}

/*
  Ipad
*/
@media (max-width: 991px) {
  footer .col-sm-6{ margin-bottom: 20px}
  .c-header-2.-bg-white .c-header-2-toggle{ border: none;float: right; color: #ffffff}
  .c-header-2-toggle{ font-size: 40px; height: 50px; width: 50px; line-height: 50px}
  .c-header-2-nav:before,.c-header-2-nav:after{ border: none; display: none;}
  .c-header-2-nav > ul > li{ float: none;}
  .c-header-2-nav{ border-radius: 0; border: none; top: 0; left: -50px;width: inherit; background: #091e35 !important; box-shadow: none !important;}
  nav ul{ float: left !important;}
  .c-header-2-nav > ul > li > ul{ width: inherit;}
  .c-header-2-nav > ul > li > ul li{ float: none;}
  .c-header-2.-bg-white .c-header-2-nav a{ border-color: rgba(255,255,255,0.05)}
  #section-home .u-text-lead{ font-weight: 300 !important; color: #000 !important}

  #navigation nav{ display: none; }
  #mobile-navigation{ display: block; }
  #mobile-navigation>*{ z-index: 2 !important; float: left;width: 100%;padding: 0;}
  #mobile-navigation{ overflow-x: hidden; overflow-y: auto;display: block; left:-260px; pointer-events: none; width: 260px; height: 100%; max-width: 80%; position: fixed; top:0; background-color:#091e35; z-index: 9999; -webkit-transform: translateX(0) translateZ(0); -moz-transform: translateX(0) translateZ(0); -ms-transform: translateX(0) translateZ(0); transform: translateX(0) translateZ(0); -webkit-transition: transform 0.3s; -moz-transition: transform 0.3s; transition: transform 0.3s;}
  #mobile-navigation.active{ pointer-events: auto; -webkit-transform: translateX(100%) translateZ(0); -moz-transform: translateX(100%) translateZ(0); -ms-transform: translateX(100%) translateZ(0); transform: translateX(100%) translateZ(0); }
  #mobile-navigation ul{ background-color: #091e35}
  #mobile-navigation li{ display: block; border-bottom: 1px solid rgba(255,255,255,0.03) }
  #mobile-navigation a{ color: rgba(255,255,255,0.1); padding: 10px 20px; text-transform: uppercase; font-size: 13px; }
  #mobile-navigation a:active, #mobile-navigation a:focus, #mobile-navigation li a.active, #mobile-navigation a:hover, #mobile-navigation li a.touchme{ background-color:#091e35; color:#b09455 !important }
  #mobile-navigation a span{ display: none; width: 100% }
  #mobile-navigation li.sub a{ float: none; padding: 10px 20px; width: 100%;display: block; color: #b09455 !important; background: rgba(255,255,255,0.1); }
  #mobile-navigation li.sub a:hover,#mobile-navigation li.sub a:active{ color: #b09455 !important}
  #mobile-navigation li.sub a:after{  content:"\f0d7"; font-family: 'FONTAWESOME'; float: right; font-size: 16px}
  #mobile-navigation li.sub ul{ padding-left:0; margin: 0; }
  #mobile-navigation li.sub ul li{ border: none }
  #mobile-navigation li.sub ul li a{ padding: 10px 20px 10px 40px;color: #ffffff !important; }
  #mobile-navigation li.sub ul li a:after{ content: ""; display: none}
  #mobile-navigation .card-menu-label i.fa-caret-right{ display:none }
  #mobile-navigation .card-menu-label i.fa-caret-down{ display:inline-block; margin-left:5px }
  /* Close Buton */
  #mobile-navigation .mb-close{ background-color:transparent; text-align: right; font-size: 13px; color:#bbb; cursor: pointer; padding:15px;float: right; width: auto;}
  #mobile-navigation .mb-close:before{ content:"\f00d"; font-family: 'FONTAWESOME';}
  #mobile-navigation-closer{display: none; z-index: 1019; position: fixed; -webkit-transform: translateZ(0); transform: translateZ(0); top:0; right: 0; height: 100%; width: 100%; background-color:rgba(0,0,0,0.4); cursor: pointer; }
  .c-team-4-photo img{ width: 150px; }
  .c-team-4 h2{ font-size: 26px !important }
}
/*
  Mobile
*/
@media (max-width: 576px){
  body{ font-size: 14px}
  .c-button-1.-size-large{ height:auto; padding: 20px !important; padding-bottom: 20px !important;line-height: 20px !important; }
  .u-text-lead{ font-weight: 400 !important; color: #777777 !important}
  footer .footer-bottom{ line-height: 20px; padding-top: 0}
  .u-space{ margin-top: 15px; margin-bottom: 15px;}
  #pagetop .search-holder{ width:70% }
  #pagetop .search-field input{ width:80% }
  #pagetop .search-field button{ width: 20% }
  .c-header-2-logo a img{ height: 90px; width: auto;}
  .c-header-2.-bg-white .c-header-2-logo{ left: -30px }
  .c-team-4-photo img{ width: 250px; }
}
