/* Enter your custom styles */
.c-logos-1-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.c-logos-1-image {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.c-logos-1-item-inner {
  position: relative;
  padding-top: 50%;
}
.c-logos-1.-style-default .c-logos-1-inner {
  overflow: hidden;
}
.c-logos-1.-style-default .c-logos-1-item-inner:before,
.c-logos-1.-style-default .c-logos-1-item-inner:after {
  position: absolute;
  content: "";
  display: inline-block;
}
.c-logos-1.-style-default .c-logos-1-item-inner:before {
  top: 0;
  left: -1px;
  height: 100%;
  border-left-width: 1px;
  border-left-style: dashed;
  border-color: #d7e0e5;
}
.c-logos-1.-style-default .c-logos-1-item-inner:after {
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-color: #d7e0e5;
}
.c-logos-1.-style-carousel .c-logos-1-item-inner {
  border-width: 1px 0 1px 0;
  border-style: dashed;
  border-color: #d7e0e5;
}
.c-logos-1.-style-carousel .c-logos-1-item-inner:after {
  position: absolute;
  top: 0;
  right: -1px;
  content: "";
  display: inline-block;
  height: 100%;
  border-right-width: 1px;
  border-right-style: dashed;
  border-color: #d7e0e5;
}
.c-logos-1.-hover-1 .c-logos-1-image {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.c-logos-1.-hover-1 .c-logos-1-item-inner:hover .c-logos-1-image {
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
}
.c-logos-1.-hover-2 .c-logos-1-image {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-opacity: 0.3;
  -khtml-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.c-logos-1.-hover-2 .c-logos-1-item-inner:hover .c-logos-1-image {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.c-logos-1.-hover-3 .c-logos-1-image {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.c-logos-1.-hover-3 .c-logos-1-item-inner:hover .c-logos-1-image {
  -webkit-transform: translate(-50%, -50%) scale(1.05);
  -moz-transform: translate(-50%, -50%) scale(1.05);
  -o-transform: translate(-50%, -50%) scale(1.05);
  -ms-transform: translate(-50%, -50%) scale(1.05);
  transform: translate(-50%, -50%) scale(1.05);
}

.owl-carousel .owl-nav,
.owl-carousel .owl-dots {
  margin-top: 25px;
}
.banner-text-background{
	background:rgba(255,255,255,0.4);
	padding:20px;
	border-radius: 3px;
}