html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 , p{font-family:'Gotham', 'sans-serif';overflow-x:hidden;font-display: swap;}
body{overflow-y:hidden;}
@media screen and (-webkit-min-device-pixel-ratio:0){button, p, li, span{font-family:sans-serif !important;}
}
a.visually-hidden.focusable.skip-link{display:none;}
a{color:#B09455;font-weight:900;text-transform:uppercase;padding:0.6rem 0.5rem;font-size:12px;font-weight:398px;}
a:hover,a:active,a:focus{color:#B09455 !important;}
ul.menu > li.menu-item > a{color:#fff;}
ul.socials > li > a{color:#fff !important;}
ul.menu > li.child-link > a{color:#3c3c3c;}
div.subnav-container > div.container-fluid > li.menu-item > a{color:#828282;}
div.subnav-container > div.container-fluid > li.menu-item:last-child > a{color:#B09455 !important;}
a#join{color:#fff;}
p{font-size:16px;color:#888;}
.text-gold{color:#B09455 !important;}
.text-blue{color:#091E35 !important;}
.text-light-blue{color:#69C5D1 !important;}
.bg-gold{background-color:#B09455 !important;}
.bg-blue, a.bg-blue:hover{background-color:#091E35 !important;}
.bg-light-blue{background-color:#69C5D1 !important;}
h2.h1.text-blue{line-height:56px;}
.center-element{left:50% !important;margin-left:-100px !important;}
.block-life li img,.block-success li img,.block-financial li img,.block-invest li img,.block-health li img{border-radius:0.25rem;}
.btn-white,.btn-primary,.btn-dark,.btn-light{text-transform:uppercase;font-size:14px;font-weight:bold;}
.btn-gold{color:#fff !important;background-color:#B09455 !important;border-color:#B09455 !important;text-transform:uppercase;font-size:14px;font-weight:bold;}
.btn-gold:hover,
.btn-gold:active,
.btn-gold:focus{color:#fff !important;background-color:rgba(176,148,85,0.8) !important;border-color:rgba(176,148,85,0.8) !important;text-transform:uppercase;font-size:14px;font-weight:bold;}
.btn-light-blue{color:#fff !important;background-color:#69C5D1 !important;border-color:#69C5D1 !important;text-transform:uppercase;font-size:14px;font-weight:bold;}
.btn-light-blue:hover,
.btn-light-blue:active,
.btn-light-blue:focus{color:#fff !important;background-color:rgba(105,197,209,0.8) !important;border-color:rgba(105,197,209,0.8) !important;text-transform:uppercase;font-size:14px;font-weight:bold;}
.btn-blue{color:#fff !important;background-color:#091E35 !important;border-color:#091E35 !important;text-transform:uppercase;font-size:14px;font-weight:bold;}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus{color:#fff !important;background-color:rgba(9,30,53,0.8) !important;border-color:rgba(9,30,53,0.8) !important;text-transform:uppercase;font-size:14px;font-weight:bold;}
.btn-transparent-white,
.btn-transparent-white:hover,
.btn-transparent-white:active,
.btn-transparent-white:focus{color:#fff !important;background-color:transparent !important;border-color:#fff !important;text-transform:uppercase;font-size:14px;font-weight:bold;}
.btn-transparent-blue,
.btn-transparent-blue:hover,
.btn-transparent-blue:active,
.btn-transparent-blue:focus{color:#091E35 !important;background-color:transparent !important;border-color:#091E35 !important;text-transform:uppercase;font-size:14px;font-weight:bold;}
.btn-transparent-light-blue,
.btn-transparent-light-blue:hover,
.btn-transparent-light-blue:active,
.btn-transparent-light-blue:focus{color:#69C5D1 !important;background-color:transparent !important;border-color:#69C5D1 !important;text-transform:uppercase;font-size:14px;font-weight:bold;}
header{border:none;background-color:rgba(9,30,53,0.2);}
.header-dark[class*="-not-top"][class*="-pinned"],.header-light[class*="-not-top"][class*="-pinned"],.headroom--not-top{background-color:rgba(9,30,53,1);}
.header-sticky[class*="-unpinned"]{transform:none;background-color:rgba(9,30,53,1);}
.header-dark[class*="-not-top"][class*="-pinned"] .navbar-nav .nav-item .nav-link,.header-light[class*="-not-top"][class*="-pinned"] .navbar-nav .nav-item .nav-link{color:#fff;}
.headroom--top .container{transition:all 0.4s;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition-delay:0s;-webkit-transition-delay:0s;-moz-transition-delay:0s;}
.headroom--not-top .container{max-width:1370px;width:100%;transition:all 0.4s;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition-delay:0s;-webkit-transition-delay:0s;-moz-transition-delay:0s;}
.headroom--top .navbar-brand img.pps-icon{display:none !important;opacity:0 !important}
.headroom--top .navbar-brand img.pps-logo{display:block !important;opacity:1 !important}
.headroom--top .navbar-brand{transition:all 0.4s;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition-delay:0s;-webkit-transition-delay:0s;-moz-transition-delay:0s;}
.headroom--not-top .navbar-brand img.pps-icon{display:block !important;opacity:1 !important}
.headroom--not-top .navbar-brand img.pps-logo{display:none !important;opacity:0 !important}
.headroom--not-top .navbar-brand{width:63px;height:59px;max-height:63px;transition:all 0.4s;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition-delay:0s;-webkit-transition-delay:0s;-moz-transition-delay:0s;}
#productCategory .headroom--top,#product .headroom--top{background-color:rgba(9,30,53,1) !important;}
.header-light{top:63px;background-color:#fff !important;z-index:50;}
.header-light .navbar-dark .navbar-nav .nav-link{color:rgba(9,30,53,1) !important;}
.header-light .navbar-dark .navbar-nav .nav-item a:hover{color:#B09455 !important;}
#product .headroom--top.header-light{background-color:#fff !important;z-index:1;}
.swiper-button-prev{position:absolute;color:#fff;top:50%;left:0;border:none;}
.swiper-button-next{position:absolute;color:#fff;top:50%;right:0;border:none;}
.swiper-button-prev:before, .swiper-button-next:before,
.swiper-button-prev:hover:before, .swiper-button-next:hover:before{color:#fff;font-size:60px;}
.navbar,.navbar .navbar-collapse{display:block !important;}
.navbar-brand{height:auto;position:absolute;top:0;left:0;width:180px;height:170px;max-height:170px;z-index:1000;}
.navbar-brand img{position:absolute;top:0;left:0;width:200px;height:200px;}
.navbar-nav .nav-link{text-transform:uppercase;}
.navbar-nav .nav-item{margin-left:10px !important;}
.navbar-nav .nav-item a{text-transform:uppercase;padding:0.6rem 0.5rem !important;font-size:12px;font-weight:500;}
.navbar-nav .nav-item a:hover{color:#B09455 !important;}
.navbar-nav.navbar-cta .nav-item a i{color:#B09455;font-size:16px;}
.navbar-nav.navbar-cta .nav-item a i:hover{color:#B09455;}
.navbar-nav.navbar-cta .nav-item a.btn:hover{color:#FFF !important;}
.navbar-nav.navbar-cta .nav-item.btn-search a{border-left:1px solid #fff;line-height:25px;display:block;}
.navbar-nav .btn-rounded{padding:8px 15px;font-size:14px;}
.navbar-nav .nav-item a p{color:#091E35;font-size:12px;}
.dropdown-menu{margin:0;width:200px;-webkit-box-shadow:0px 10px 40px 0px rgba(107, 107, 107, 0.3);-moz-box-shadow:0px 10px 40px 0px rgba(107, 107, 107, 0.3);box-shadow:0px 10px 40px 0px rgba(107, 107, 107, 0.3);}
.dropdown-toggle:after{margin:0px;border:0;}
.navbar-nav .nav-item a.dropdown-item{padding-top:12px !important;padding-bottom:12px !important;}
.dropdown-item p{line-height:20px;white-space:normal;}
.dropdown-item:hover,
.dropdown-item:focus{background-color:#eee;}
.dropdown-menu.show:before{display:inline-block;left:50%;margin-left:-0.5em;width:0;height:0;margin-top:-8px;vertical-align:0.255em;clear:both;content:"";border-bottom:0.5em solid;border-right:0.5em solid transparent;border-top:0;border-left:0.5em solid transparent;position:absolute;color:#fff;}
.dropdown-item.active, .dropdown-item:active{background-color:#eee !important;}
.nav-link.active, .nav-link:active{color:#B09455 !important;}
.text-white p{color: rgba(255,255,255,0.9)}
#homepage .swiper-container h1, #homepage .swiper-container p{text-shadow:0px 0px 5px rgba(0, 0, 0, 0.4);}
#homepage .swiper-container .eyebrow{text-transform:none;letter-spacing:normal;text-shadow:0px 0px 5px rgba(0, 0, 0, 0.4);}
#homepage .swiper-container .text-overlay{background-color:rgba(9,30,53,0.2);border-radius:0.25rem !important;}
#homepage .card-footer, #productCategory .user-caption{background-color:rgba(9,30,53,0.2);padding:1.875rem !important;}
#homepage video{height:315px !important;width:100% !important;}
#homepage .counter{color:#fff;}
#homepage .photo,
#homepage .photo a:before{border-radius:0;}
#homepage .parallax{padding:100px 0;}
#homepage .block-success .block-bg{position:absolute;top:0;right:0;background:rgba(196,196,196,0.4);width:400px;height:410px}
#homepage .block-success li{position:absolute;right:20px;list-style:none;}
#homepage .block-financial .block-bg{position:absolute;top:0;left:0;background:rgba(196,196,196,0.4);width:400px;height:480px}
#homepage .block-financial li{position:absolute;left:20px;list-style:none;}
#homepage .block-life .block-bg{position:absolute;top:0;right:100px;background:rgba(9,30,53,1);width:340px;height:380px}
#homepage .block-life li{position:absolute;right:120px;list-style:none;}
#homepage .block-invest .block-bg{position:absolute;top:0;left:0;background:rgba(176,148,85,1);width:340px;height:420px}
#homepage .block-invest li{position:absolute;left:20px;list-style:none;}
#homepage .block-health .block-bg{position:absolute;top:0;right:100px;background:rgba(9,30,53,1);width:340px;height:460px}
#homepage .block-health li{position:absolute;right:120px;list-style:none;}
#homepage .user-caption,
#product .user-caption{position:unset;background:rgba(0, 0, 0, 0.1);background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);bottom:94px !important;width:98%;margin-left:0%;position:absolute;bottom:0px !important;}
#homepage .user-caption p,#homepage .user-caption span,#homepage .user-caption h5,
#product .user-caption p,#product .user-caption span,#product .user-caption h5{text-shadow:none;font-size:13pt;}
#homepage .user:hover .user-caption,
#product .user:hover .user-caption{padding:1.875rem;}
#homepage .user-photo img{border:2px solid #fff;width:150px;height:150px;display:inline;}
#homepage .user-caption > a{display:inline;}
#productCategory .block-life .block-bg{position:absolute;top:0;right:0;background:rgba(196,196,196,0.4);width:400px;height:460px}
#productCategory .block-life li{position:absolute;right:60px;list-style:none;}
#productCategory .block-financial .block-bg{position:absolute;top:0;left:0;background:rgba(176,148,85,1);width:400px;height:400px}
#productCategory .block-financial li{position:absolute;left:20px;list-style:none;}
#productCategory .user figure img{height:100% !important;width:auto !important;}
#productCategory .user:hover .user-caption{padding-top:3rem;padding-bottom:3rem;}
#product .block-life .block-bg{position:absolute;top:0;left:0;background:rgba(9,30,53,1);width:400px;height:400px}
#product .block-life li{position:absolute;left:20px;list-style:none;}
#product .boxed.rising{border:1px solid #eee;z-index:1;}
#block-views-block-home-page-videos-unique-features-block{
    width:100% !important;
}

#block-views-block-home-page-videos-home-page-interview-block{
   width:100% !important; 
}

.notification{
    background: #69c5d1; 
    color: #fff; 
    position: fixed; 
    right: 0; 
    bottom: auto; 
    left: 0; 
    z-index: 99;
    /*displaying the notification message*/
    display:none !important;
}

.notification2 {
    background: #69c5d1;
    color: #fff;
    position: fixed;
    top: 154px;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 99;
    /*displaying the notification message*/
    display:none;
}

#product .drop-msg {
    padding: 8px 15px !important;
    z-index: 100;
    position: fixed;
    right: 22px;
    bottom: 15px;
    border-radius: 0;
    font-weight: 500 !important;
    font-size: 12px;
}

.drop-msg-investment{
    padding: 2px 15px !important;
    z-index: 100;
    position: fixed;
    right: 142px;
    bottom: 15px;
    border-radius: 0;
    font-weight: 500 !important;
    font-size: 12px;
}

.drop-msg a{
    color: #fff !important;
    display: block;
    padding: 0px;
   	font-size: 12px;
   	padding: 0px 15px;
}

.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next{background:rgba(255,255,255,0.6);}
.owl-carousel .owl-nav button.owl-prev::before,.owl-carousel .owl-nav button.owl-next::before{color:rgba(9,30,53,1);}
.owl-carousel .owl-nav button.owl-prev:hover,.owl-carousel .owl-nav button.owl-next:hover{background:rgba(255,255,255,0.6);}
footer,footer p{font-size:14px;}
footer .nav li{margin-bottom:5px;line-height:26px;width:250px !important;}
footer .nav li a:hover{text-decoration:underline;}
footer .nav li small{padding-top:4px !important;padding-bottom:4px !important;}
footer img{width:250px}
footer .bg-dark{background:rgba(21,21,21,0.4) !important;}
footer a.btn{text-transform:uppercase !important;padding:8px 15px !important;font-size:12px !important;font-weight:500 !important;}
nav#block-refresh-footer > ul > li{margin-bottom:5px;line-height:26px;width:250px !important;}
nav#block-refresh-footer > ul > li > a{padding:0.6rem 0rem !important;}
nav#block-usefullinksleft-2 > ul{margin-left:0px;}
nav#block-usefullinksleft-2 > ul > li{margin-bottom:5px;line-height:26px;width:100% !important;}
nav#block-usefullinksleft-2 > ul > li > a{padding:0.6rem 0rem !important;}
nav#block-usefullinksright-2 > ul > li{width:140px !important;}
.image[class*="-overlay"]::after{background-color:rgba(9,30,53,0.1) !important;}
.image-scrolling{position:relative;margin:0 auto;padding:6.25rem 0;overflow:hidden;}
.views-element-container{display:inline-block;}
.parallax{background-image:url(/themes/custom/refresh/assets/images/profit-share.jpg);background-size:cover;background-color:no-repeat;}
.pb-0{padding:6.25rem 0 !important;}
.swiper-button-next{right:51px !important;}
.item-list{width:33.33333%;position:relative;min-height:1px;float:left;}
.user-photo img{border-radius:50% !important;}
.menu{padding-top:5px !important;}
ul li{position:relative;}
nav ul li ul{display:none;position:absolute;background-color:#ffffff;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index:1;border-radius:5px;left:-60px;}
nav ul li ul li{padding:5px;margin-left:-40px;margin-bottom:1px;border-bottom:1px;border-bottom-color:#ccc;border-bottom-style:solid;min-width:200px;}
nav ul li ul li:last-child{padding:5px;margin-left:0px;margin-bottom:1px;border-bottom:0px;border-bottom-color:#ccc;border-bottom-style:solid;min-width:135px;}
nav ul li:hover ul{display:block;}
nav ul li ul li:hover{background:#F4F4F4 !important;}
li ul li:hover{background:#bbb !important;}
li ul li a{color:#091E35 !important;padding:5px;margin-left:-5px;display:block;}
.menu--footer ul li a{color:#fff !important;font-weight:normal !important;}
.menu--footer ul li{line-height:26px !important;}
.menu--footer ul{margin-left:-5px;}
.menu--useful-links-left ul li a{color:#fff !important;font-weight:normal !important;}
.menu--useful-links-left ul{margin-left:-5px;}
.menu--useful-links-right ul li a{color:#fff !important;font-weight:normal !important;}
.menu--useful-links-right ul{margin-left:10px;}
.mb-0{overflow:hidden;}
.menu--product-sub-menu ul li a{font-weight:900;color:rgba(9,30,53,1) !important;font-size:8pt;}
.menu--product-sub-menu ul li a:hover{color:#B09455 !important;}
.menu--product-sub-menu{margin-bottom:13px;}
.menu--product-sub-menu{float:right;}
nav h2{display:none !important;}
.swiper-slide{margin-top:-51px !important;}
.pb-6{padding-bottom:9.75rem !important;}
.pb-4{padding-bottom:8.5rem !important;}
.insurance-products{padding-bottom:4.5rem !important;}
.product-category{padding:4.25rem 0 7.25rem 0 !important;}
div #block-views-block-life-insure-product-life-insure-product-block{width:initial !important;margin-right:initial !important;}
.menu--_017-pps-integrated-report ul li{float:right !important;}
.menu--_017-pps-integrated-report ul li a{font-weight:900;color:rgba(9,30,53,1) !important;font-size:8pt;}
.menu--_017-pps-integrated-report ul li a:hover{color:#B09455 !important;}
.cd-accordion-menu{width:90%;max-width:510px;background:#061525;font-size:0.8em;text-transform:uppercase;}
.cd-accordion-menu label, .cd-accordion-menu a{position:relative;display:block;padding:10px 4px 10px 10px;line-height:16px;color:#ffffff;}
.report h1{color:#898781;font-size:36px;text-transform:uppercase;font-family:'Whitney-semibold' !important;padding:200px 0px 15px 0px;font-weight:normal;}
.left, #left{float:left;}
.right, #right{float:right;}
.banner-text-invest{width:550px;background:rgba(255,255,255,0.6);text-align:center;padding:15px 0;position:absolute;top:-85px;font-size:2.8rem !important;}
.banner-text{width:450px !important;background:rgba(255,255,255,0.6);text-align:center;padding:15px 0;position:relative;top:0px !important;font-size:2.8rem !important;}
@media screen and (min-width:1201px){#sideBar .col-md-4{float:none;margin:10px 0px 0px 0px;width:100%;}
}
@media screen and (max-width:1200px){body{}
#sideBar .col-md-4{float:left;}
}
div.tabs #tabMobileSelector{display:none;font-family:'Whitney-book';}
@media screen and (max-width:700px){footer{padding:20px 15px 40px 15px;}
#social .col-xs-2{padding-left:10px;}
footer h4{display:block;background-color:#d3d2ce;padding:20px 0px 20px 10px;margin-top:40px;margin-bottom:0px;}
div.tabs #tabMobileSelector{display:block;}
div.tabs #pageTabsContainer{display:none;}
div.tabs .tab-links{margin-bottom:15px;}
div.tabs .tab-links li{float:none;width:100%;}
div.tabs .tab-links li a{display:block !important;}
div.tabs #tabMobileSelector{background-color:#fff;color:#072b4d;text-transform:uppercase;display:block;line-height:40px;height:40px;padding:0px 0px 0px 10px;}
div.tabs #tabMobileSelector #mobileButton{border-left:1px solid #e2e2e0;background-image:url("../i/mobileArrowBleu.png");background-repeat:no-repeat;float:right;width:44px;height:40px;cursor:pointer;}
}
@media screen and (max-width:500px){#categoryBanner{margin-left:-15px !important;margin-right:-15px !important;}
}
#ppsPagelayoutControl{background-color:#e1e1e1;text-align:right;}
#addCordion, #expandAll{background-color:#091e35;color:#fff;display:inline-block;padding:10px;cursor:pointer;}
#accordion #heading{display:block;background-color:#ccc;background-image:url("../../../Style%20Library/PPS/images/accordionArrow_down.html");background-repeat:no-repeat;background-position:right center;font-size:16px;padding:10px;margin-top:2px;}
#accordion #content{border:2px solid #ccc;padding:10px;}
#accordion #content img{max-width:100%;height:auto;}
.accordionUp{background-image:url("../../../Style%20Library/PPS/images/accordionArrow_up.html") !important;background-position:right;background-repeat:no-repeat;}
.tabs{width:100%;display:inline-block;}
.tab-links:after{display:block;clear:both;content:'';}
ul.tab-links{padding:0px;margin:0px;}
.tab-links li{margin:0px 1px 0px 0px;float:left;list-style:none;}
.tab-links a{padding:9px 14px 9px 15px;display:inline-block;background:#ccc;font-size:14px;font-weight:600;color:#051525;text-decoration:none;text-transform:uppercase;transition:all linear 0.15s;}
.tab-links a:hover{background:#999;text-decoration:none;}
li.active a, li.active a:hover{background:#6ac6d1;color:#ffffff;}
.tab-content{padding:15px;background:#fff;position:relative;}
.tab-content:before{content:'';position:absolute;width:100%;height:7px;background:linear-gradient(to right, #6ac6d1, #ffffff);top:1px;left:0;}
.tab{display:none;}
.tab.active{display:block;}
.tab-content img, .col-lg-9 img{max-width:100% !Important;height:auto !important;}
sup{font-size:9px !important;padding-right:5px;}
.light-blue{color:#6ac6d1;}
span.circle{display:inline-block;border:1px solid #000;width:12px;border-radius:50%;height:12px;}
.c-green{background:#00af4c;}
.c-yellow{background:#ffcd03;}
.c-red{background:#ed1d24;}
.fl{float:left;padding:0 15px 10px 0;}
.report-table-data{color:#ffffff;}
.gov-section{display:flex;flex-direction:row;}
.gov-section div{width:25%;background-color:#061525;margin-right:7px;margin-bottom:7px;}
.download-links{color:#333339 !important;}
#block-2017ppsintegratedreport-2 ul li{width:135px !important;text-align:center;padding:0px 6px;border-left:1px solid #ccc;height:90px;}
.subnav-container{z-index:99;margin-top:-20px;position:fixed;width:100%;background:#fff;border-bottom:1px solid #f3f3f3;}

@-moz-document url-prefix() {
	.subnav-container {
	    z-index: 99;
	    margin-top: -47px;
	    position: fixed;
	    width: 100%;
	    background: #fff;
	    border-bottom: 1px solid #f3f3f3;
	}
}

.subnav-container li.menu-item{float:right;list-style:none;}
nav ul li ul li{list-style:none !important;}
.subnav-container > .container-fluid > li > a{float:right;width:130px;text-align:center;color:#828282;font-size:8pt;}
.subnav-container > .container-fluid > li > a:focus{color:#B09455 !important;}
.wwa-block{background:#071735;flex:1;margin:5px;color:#fff;text-align:center;padding:20px 10px;align-content:center;font-size:0.9em;}
.wwa-blocks{display:flex;flex-direction:row;justify-content:space-between;}
.scrollTbl table tbody tr td{padding:5px 10px;}
.footer-blocks{max-width:24% !important;background:rgba(255,255,255,0.05);padding:15px;margin:0px 5px;}
.banner-top-spacing{margin-top:38px;padding-top: 34% !important;}
.banner-images{width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:contain;}
.products-benefits{width:60px;margin-bottom:30px;}
.banner-text-invest{width:550px;background:rgba(255,255,255,0.6);text-align:center;padding:15px 0;position:absolute;top:250px;font-size:2.8rem !important;}
#block-refresh-footer > ul.menu{margin-left:0em;}
.scrollTbl{width:100%;overflow-x:scroll;}
@media(max-width:415px){
    #product .drop-msg{
        bottom:55px !important;
    }

    .drop-msg-investment{
        width:130px !important;
        bottom:55px !important; 
    }

    #chat_tab span {
          position: fixed !important;
          display: inline-block;
          bottom: 64px !important;
          padding: 9px 20px;
          right: 22px !important;
          cursor: pointer;
          width: 100px;
          left: unset!important;
      }

#PPSWebChat_ChatInfoPanel > div>input{color:#151515 !important;border:1px solid #e5e5e5 !important;padding:0.2rem;height:calc(2rem);}
.PPSWebChat-MainContainer{bottom:50px !important;z-index:99 !important;}
#PPSWebChat_ChatInfoPanel{height:70.7vh;overflow:auto;}
/* #PPSWebChat_ChatPanel{height:75vh;overflow:auto;} */
.banner-images{width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:cover;}
.banner-text{width:450px !important;background:rgba(255,255,255,0.6);text-align:center;padding:15px 0;position:relative;top:0px !important;font-size:1.8rem !important;}
.direct-contact{top:-31px !important;max-width:300px;height:60px !important;}
li.menu-item--active-trail.child-link > ul{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);}
li.menu-item--active-trail.child-link > ul > li.grandchild-link{padding:20px 5px !important;-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg);}
.life-spacing{margin-top:200px;}
nav#block-refresh-footer > ul > li{margin-bottom:5px;line-height:26px;width:100% !important;}
#homepage .user-caption, #product .user-caption{background:rgba(0, 0, 0, 0.1);background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);bottom:94px !important;width:98%;margin-left:0%;position:absolute !important;bottom:0px !important;}
#mainNav{border:0px !important;right:0px !important;position:relative;background:transparent !important;width:103px !important;padding-top:0px !important;}
.scrolling-gallery{height:102vh !important;}
.block-financial{margin:80px 0px;}
.block-life{margin:60px 20px -110px 20px;}
#homepage .block-health .block-bg{top:80px;right:40px;}
#homepage .block-health .skrollable ul li figure.photo p img{margin-top:170px;}
#homepage .block-health li{right:50px;}
.mobile-submenu-hide{display:none !important;}
#menu-burger{display:none;}
#navbarSupportedContent{display:inline-block !important;}
.navbar-brand{z-index:-99 !important;}
.navbar-toggler{margin:-14px 0px 0px 250px !important;}
.mt-7{margin-top:120px !important;}
.navbar-brand{margin-left:-32px !important;height:97px !important;width:100px !important;}
.header-sticky{position:absolute !important;top:0px;width:100% !important;}
.report img{width:100% !important;}
.report h2{width:100% !important;text-align:center;padding-top:30px;}
.report .scrollTbl{width:100%;overflow-x:scroll;}
a.navbar-brand.float-left.m-0.bg-blue{margin:10px !important;}
#block-2017ppsintegratedreport-2{display:none;}
.mobile-submenu-show{display:inline-block !important;}
#product .block-life .block-bg{position:absolute;top:0;left:0;background:rgba(9,30,53,1);width:88% !important;height:400px;}
#product .block-life li{position:absolute;left:-23px;list-style:none;}
.scrolling-gallery{height:55vh !important;}
.invest-link{text-align:center;}
#block-2017ppsintegratedreport-2{position:absolute;top:85px;right:-15px;width:235px !important;}
#block-2017ppsintegratedreport-2 ul li{width:100% !important;border-left:0px !important;border-bottom:1px solid #ccc;padding:20px 0px !important;}
#block-2017ppsintegratedreport-2 ul li a{color:#fff !important;width:100% !important;font-weight:normal}
.header-sticky{width:100% !important;margin:0px auto !important;}
.burger{margin-left:25px;margin-top:13px;}
.region-primary-menu{display:inline-block;}
.gov-section div{width:100%;}
.gov-section{display:inline-block;flex-direction:row;}
.cd-accordion-menu{width:100%;}
#main-nav-join ul li{display:inline-block !important;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(137,137,137,0.2);padding:15px !important;}
#main-nav-join ul li:last-child{border-bottom:0px;}
#main-nav-btn{display:none !important}
.pt-1{padding-top:0rem !important;}
.close-nav-icon{float:right;color:#fff;font-size:30px;}
.subnav-container{position:relative;}
.pheight{height:700px;}
.headroom--top{background:transparent !important;}
#product .headroom--top{background-color:transparent !important;}
#logins{display:none !important;}
#main-nav-join ul li{display:inline-block !important;width:100%;padding:7px 0px;}
.container-fluid{width:100%;padding-right:0px !important;padding-left:0px !important;}
.loginBtn{display:none !important;}
nav ul li a:active{color:#B09455 !important;}
nav > ul > li.menu-item{width:100% !important;padding:3.5% 0%;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(224,224,224,0.2);}
nav > ul > li.menu-item > ul > li{width:400px !important;padding:3.5% 70% 3.5% 0%;padding-left:0%;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(224,224,224,0.2);}
nav > ul > li.menu-item > ul > li:last-child{border-bottom-width:0px;}
nav > ul > li.menu-item > ul > li > ul > li{width:400px !important;padding:3.5% 70% 3.5% 0%;padding-left:0%;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(224,224,224,0.2);}
.close-nav-icon{margin-right:20px;}
.subnav-container{display:none !important;}
.menu-item--active-trail ul{display:inline-block !important;}
nav ul li ul{background:transparent !important;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
li ul li a{margin-left:0px !important;color:#fff !important;}
.menu-item--active-trail ul{position:relative;}
nav ul li ul li{margin-left:60px !important;width:80% !important;}
.mobilenav{display:block !important;position:fixed !important;bottom:0;width:100%;color:#fff;background:#0a1d37;z-index:999;padding:10px 22px;height:50px;z-index:99;}
nav ul li ul li ul.menu li{padding:0px !important;float:right !important;}
nav ul li a{color:rgba(255,255,255,0.7) !important;}
nav ul li ul li a{color:rgba(255,255,255,0.6) !important;}
nav ul li ul li:first-child{margin-left:60px !important;}
nav > ul > li > ul > li > ul.menu > li > a{color:#fff !important;float:left !important;padding-left:60px !important;text-align:left !important;width:100% !important;}
nav ul li ul li ul.menu li:first-child{padding-right:0px !important;float:right !important;}
.menu-item--active-trail > a{color:#B09455 !important;}
nav ul li ul li ul.menu{width:350px !important;}
nav ul li ul{display:unset;}
.hidemenu{display:none;}
.showmenu{display:block;}
.menu-item.child-link.showmenu{padding:10px 0px 10px 15px;}
.child-link > a{padding:3% 0%;color:#c2c2c2 !important;}
.menu-item:hover{background:transparent;}
.menu-item--active-trail > a:hover{color:#B09455 !important;background:transparent;}
nav ul li ul li:hover{background:transparent !important;}
nav ul li ul{position:relative;}
nav ul li ul li a:hover{color:#B09455 !important;}
.pt-10{padding-top:3.25rem !important;}
.banner-area{position:relative;top:70px;}
.banner-text-invest{max-width:300px;background:rgba(255,255,255,0.6);text-align:center;padding:15px 0;position:absolute;top:-85px;font-size:1.8rem !important;}
.banner-text{width:100% !important;margin-top:20%;text-shadow:2px 2px #ccc;}
.gutter-3 > *{margin-bottom:0 !important;padding:15px;margin-left:9%;}
.contact-area{height:unset;}
.boxed{margin-top:-70px;}
.px-5{padding-left:20% !important;padding-right:20% !important;}
#homepage .counter{color:#fff;display:inline-block;width:200px !important;font-size:36pt;}
.member{padding-left:21% !important;padding-right:21% !important;margin-top:5%;}
.disclaimer-footer{margin-bottom:49px !important;}
.mobilenav > div > a{height:38px;border-right:1px groove #fff;padding-top:3px !important;margin:-3px -4px 0px 6px;border-radius:0px;}
@keyframes flickerAnimation{0%{opacity:1;}
50%{opacity:0.1;}
100%{opacity:1;}
}
@-o-keyframes flickerAnimation{0%{opacity:1;}
50%{opacity:0.1;}
100%{opacity:1;}
}
@-moz-keyframes flickerAnimation{0%{opacity:1;}
50%{opacity:0.1;}
100%{opacity:1;}
}
@-webkit-keyframes flickerAnimation{0%{opacity:1;}
50%{opacity:0.1;}
100%{opacity:1;}
}
.animate-flicker{-webkit-animation:flickerAnimation 2s infinite;-moz-animation:flickerAnimation 2s infinite;-o-animation:flickerAnimation 2s infinite;animation:flickerAnimation 2s infinite;}
}
@media only screen and (min-width:992px){nav ul li ul li ul.menu{display:none !important;}
}
.submenu-show-style{position:fixed !important;top:0px;background:rgba(9,30,53,1) !important;width:100% !important;height:100%;overflow:scroll;}
.btn-nav-icn{text-align:center;}
.btnClose{background:transparent !important;border:0px !important;position:fixed;bottom:10px;z-index:999;right:0px;}
.btnClose > i{font-size:25pt;}
.menu-item--active-trail ul{display:none;}
.subnav-container .region-primary-menu nav ul .menu-item--active-trail ul{position:relative;background-color:#c2c2c2;min-width:200px;z-index:1;border-radius:5px;box-shadow:none !important;}
.subnav-container .region-primary-menu nav ul li.menu-item--active-trail ul li{float:right;padding:0px;margin-bottom:1px;border-bottom:1px;text-align:center;width:100%;}
.subnav-container .region-primary-menu nav ul .menu-item--active-trail a{display:none !important;}
.subnav-container .region-primary-menu nav ul .menu-item--active-trail ul{display:inline !important;}
.subnav-container .region-primary-menu nav ul .menu-item--active-trail ul li ul{display:inline !important;}
.subnav-container .region-primary-menu nav ul .menu-item--active-trail ul li ul li a{display:inline !important;font-size:7pt;}
.parent-level li{visibility:hidden;}
.child-level li{visibility:visible;}
.child-level li:hover{background:transparent !important;}
.child-level li ul li{height:60px;min-width:150px;width:40px !important;float:right;background:transparent !important;border-left:1px solid #ccc;}
.region .subnav-container li.menu-item a{font-size:8pt;}
.region .subnav-container li.menu-item{margin-top:57px;color:#000;float:right;width:145px;text-align:center;border-left:1px solid #ccc;padding:0px 2px;height:79px;}
.region .subnav-container{z-index:99;position:fixed;height:145px;width:100%;background:#fff;margin-top:-145px;}
.blogs-row-child{display:flow-root !important;}
.blogs-container>div:nth-of-type(even){background-color:#f5f5f5 !important;}
.blogs-container>div:nth-of-type(odd)>.blogs-row-child:nth-child(2)>div:nth-child(1){float:right;}
.blogs-container>div:nth-of-type(odd)>.blogs-row-child:nth-child(2)>div:nth-child(1)>a>img{float:right;}
.blogs-container>div:nth-of-type(odd)>.blogs-row-child:nth-child(2)>div:nth-child(2){float:left;}
.blogs-container>div:nth-of-type(even)>.blogs-row-child:nth-child(2)>div:nth-child(1){float:left;}
.blogs-container>div:nth-of-type(even)>.blogs-row-child:nth-child(2)>div:nth-child(2){float:right;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{font-family:'Gotham', sans-serif;overflow:hidden;}
.article-excerpt a{color:#0a1d37 !important;display:block;padding-left:40% !important;align-content:center;}
.article-excerpt a,
.article-excerpt a:hover,
.article-excerpt a:active,
.article-excerpt a:focus{border-color:#091E35 !important;text-transform:uppercase;font-size:14px;font-weight:bold;border-radius:10rem;border-style:solid;padding:15px !important;align-content:center;margin-left:150px;margin-right:150px;}
.article-excerpt a:hover, .article-excerpt a:active, .article-excerpt a:focus{border-color:#091E35 !important;text-transform:uppercase;font-size:19px;font-weight:bold;border-radius:10rem;border-style:solid;padding:9px !important;align-content:center;margin-left:150px;margin-right:150px;}
@media (min-width:1200px){.blogpage.container{max-width:1263px;}
}
.product-link-card-and-payments{margin-left:150px;color:#091e35 !important}
.ion-chevron-right:before{content:"\f125";}
.menu-item--active-trail > a{color:#B09455 !important;}
.product-link-card-and-payments.btn-light-blue:hover,
.product-link-card-and-payments.btn-light-blue:active,
.product-link-card-and-payments.btn-light-blue:focus{color:#091e35 !important;background-color:#69C5D1 !important;border-color:#69C5D1 !important;text-transform:uppercase;}
.region-primary-menu > nav > ul > li{display:inline-block !important;}
.hub-products{position:absolute;width:100%}
.hub-products img{border-radius:0% !important;height:auto !important;}
@media screen and (max-width:900px) and (min-width:416px){
/* #PPSWebChat_ChatInfoPanel{height:75vh;overflow:auto;} */
/* #PPSWebChat_ChatPanel{height:75vh;overflow:auto;} */
.banner-images{width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:cover;}
.direct-contact{top:221px !important;max-width:300px;height:60px;}
.direct-contact>span, .direct-contact>a{font-size:14px !important;}
.banner-area{position:relative;top:70px;}
.life-spacing{margin-top:200px;}
.banner-text-invest{max-width:300px;background:rgba(255,255,255,0.6);text-align:center;padding:15px 0;position:absolute;top:135px;font-size:1.8rem !important;}
#product .block-life li{position:absolute;left:-16px;list-style:none;}
.invest-link{text-align:center;}
.headroom--not-top .navbar-brand img.pps-icon{display:block !important;opacity:1 !important;margin-left:19px;}
.scrolling-gallery{height:55vh !important;}
.block-financial{margin:80px 0px;}
.block-life{margin:80px 20px;}
#homepage .block-health .block-bg{top:80px;right:40px;}
#homepage .block-health .skrollable ul li figure.photo p img{margin-top:170px;}
#homepage .block-health li{right:50px;}
#menu-burger{display:inline-block;}
#menu{display:none;}
header{background:transparent;margin:-25px 0px 0px -15px;}
.header-sticky[class*="-unpinned"]{transform:none;background-color:transparent;}
#mainNav{border:0px !important;right:10px !important;position:absolute;background:rgba(0,0,0,0.8) !important;width:103px !important;padding-top:5px !important;}
#logins{display:none;}
.mobile-submenu-hide{display:none !important;}
.submenu-show-style{position:fixed !important;top:75px;right:10px;background:rgba(9,30,53,1) !important;width:330px !important;height:100vh;overflow:auto;margin-left:337px;}
nav > ul > li.menu-item{width:100% !important;padding:5% 0% 5% 0%;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(224,224,224,0.2);}
nav#block-refresh-footer > ul > li.menu-item{width:100% !important;padding:3.5% 0% 3.5% 0%;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(224,224,224,0.2);}
nav > ul > li.menu-item > ul > li{width:100% !important;}
li.menu-item.child-link{padding:5% 0% 5% 0%;}
#navbarSupportedContent{display:inline-block !important;}
.navbar-brand{z-index:-99 !important;}
.navbar-toggler{margin:-14px 0px 0px 250px !important;}
.mt-7{margin-top:120px !important;}
.navbar-brand{margin-left:-32px !important;height:97px !important;width:100px !important;}
.header-sticky{position:absolute !important;top:0px;width:100% !important;}
.report img{width:100% !important;}
.report h2{width:100% !important;text-align:center;padding-top:30px;}
.report .scrollTbl{width:100%;overflow-x:scroll;}
a.navbar-brand.float-left.m-0.bg-blue{margin:10px !important;}
#block-2017ppsintegratedreport-2{display:none;}
.mobile-submenu-show{display:inline-block !important;}
.mobile-submenu-hide{display:none !important;}
#block-2017ppsintegratedreport-2{position:absolute;top:85px;right:-15px;width:235px !important;}
#block-2017ppsintegratedreport-2 ul li{width:100% !important;border-left:0px !important;border-bottom:1px solid #ccc;padding:20px 0px !important;}
#block-2017ppsintegratedreport-2 ul li a{color:#fff !important;width:100% !important;font-weight:normal}
.header-sticky{width:100% !important;margin:0px auto !important;}
.burger{margin-left:25px;margin-top:13px;}
.region-primary-menu{display:inline-block;}
.gov-section div{width:100%;}
.gov-section{display:inline-block;flex-direction:row;}
.cd-accordion-menu{width:100%;}
#main-nav-join ul li{display:inline-block !important;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(137,137,137,0.2);padding:15px !important;}
#main-nav-join ul li:last-child{border-bottom:0px;}
#main-nav-btn{display:none !important}
.pt-1{padding-top:0rem !important;}
.close-nav-icon{float:right;color:#fff;font-size:30px;}
.child-link > a{padding:0px 30px 0px 10px !important;}
.subnav-container{position:relative;}
.pheight{height:700px;}
.headroom--top{background:transparent !important;}
#product .headroom--top{background-color:transparent !important;}
#logins{display:none !important;}
#main-nav-join ul li{display:inline-block !important;width:100%;padding:7px 0px;}
.container-fluid{width:100%;padding-right:0px !important;padding-left:0px !important;}
.loginBtn{display:none !important;}
.menu-item{width:100% !important;padding:10px 0px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(224,224,224,0.05);}
.close-nav-icon{margin-right:20px;}
.subnav-container{display:none !important;}
.menu-item--active-trail ul{display:inline-block !important;}
nav ul li ul{background:transparent !important;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;left:-10px !important;}
li ul li a{margin-left:-9px !important;color:#fff !important;}
.menu-item--active-trail ul{position:relative;}
nav ul li ul li{margin-left:24px !important;width:80px;}
.mobilenav{display:block !important;position:fixed !important;top:0px;width:100%;color:#fff;background-color:transparent;padding:10px 22px;height:75px;z-index:99;}
nav ul li a{color:rgba(255,255,255,0.7) !important;}
nav ul li ul li a{color:rgba(255,255,255,0.6) !important;}
nav ul li ul li:first-child{margin-left:28px !important;}
nav > ul > li > ul > li > ul.menu > li > a{color:#fff !important;float:left !important;padding-left:50px !important;text-align:left !important;width:100% !important;}
.menu-item--active-trail > a{color:#B09455 !important;}
nav > ul > li > ul > li > ul.menu{margin-left:-40px !important;width:100% !important;}
.menu-item:hover{background:transparent;}
.menu-item--active-trail > a:hover{color:#B09455 !important;background:transparent;}
nav ul li ul li:hover{background:transparent !important;}
nav ul li ul{position:relative;}
nav ul li ul li a:hover{color:#B09455 !important;}
.scrolling-gallery{height:100vh;}
#call, #join, #logo{display:none;}
.navbar-brand{position:fixed;}
nav ul li ul{display:unset;}
.hidemenu{display:none;}
.showmenu{display:inline-block;}
.pt-10{padding-top:3.25rem !important;}
.banner-area{position:unset;top:220px;}
.banner-text{width:50% !important;margin-top:0%;text-shadow:2px 2px #ccc;}
.gutter-3 > *{margin-bottom:0 !important;padding:15px;}
.contact-area{height:unset;}
.boxed{margin-top:-75px;}
.px-5{padding-left:6% !important;padding-right:6% !important;}
.member{padding-left:6% !important;padding-right:6% !important;margin-top:5%;}
.scrolling-gallery{height:33vh;}
}
@media screen and (max-width:1199px) and (min-width:768px){
.owl-item{width:350px !important;}
nav#block-refresh-footer > ul > li{margin-bottom:5px;line-height:26px;width:340px !important;}
.banner-images{width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:cover;}
}
@media screen and (min-width:900px) and (max-width:1199px){.banner-images{width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:cover;}
nav#block-refresh-footer > ul > li{margin-bottom:5px;line-height:26px;width:340px !important;}
.banner-area{position:relative;top:70px;}
.px-5{padding-left:6% !important;padding-right:6% !important;}
.banner-text-invest{max-width:300px;background:rgba(255,255,255,0.6);text-align:center;padding:15px 0;position:absolute;top:160px;font-size:2.5rem !important;}
.direct-contact{top:-31px !important;max-width:300px;height:60px !important;}
.direct-contact>span, .direct-contact>a{font-size:14px !important;}
#product .block-life .block-bg{position:absolute;top:0;left:200px;background:rgba(9,30,53,1);width:400px;height:400px;}
#product .block-life li{position:absolute;left:200px;list-style:none;}
.invest-link{text-align:center;}
.headroom--not-top .navbar-brand img.pps-icon{display:block !important;opacity:1 !important;margin-left:19px;}
.scrolling-gallery{height:102vh !important;}
.container{max-width:100%;}
.block-financial{margin:80px 0px;}
.block-life{margin:80px 20px;}
#homepage .block-health .block-bg{top:80px;right:40px;}
#homepage .block-health .skrollable ul li figure.photo p img{margin-top:170px;}
#homepage .block-health li{right:50px;}
.col-md-5.col-lg-4.customproducts.aos-init.aos-animate{margin:20px;}
#menu-burger{display:inline-block;}
#menu{display:none;}
header{background:transparent;margin:-25px 0px 0px -15px;}
#call, #join, #logo{display:none;}
.navbar-brand{position:fixed;}
.header-sticky[class*="-unpinned"]{transform:none;background-color:transparent;}
#logins{display:none;}
.mobile-submenu-hide{display:none !important;}
.submenu-show-style{position:fixed !important;top:79px;right:10px;background:rgba(9,30,53,1) !important;width:400px !important;height:100vh;overflow:auto;margin-left:337px;}
nav > ul > li.menu-item{width:100% !important;padding:5% 0% 5% 0%;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(224,224,224,0.2);}
nav#block-refresh-footer > ul > li.menu-item{width:100% !important;padding:3.5% 0% 3.5% 0%;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(224,224,224,0.2);}
#navbarSupportedContent{display:inline-block !important;}
.navbar-brand{z-index:-99 !important;}
.navbar-toggler{margin:-14px 0px 0px 250px !important;}
.mt-7{margin-top:120px !important;}
.navbar-brand{margin-left:-32px !important;height:97px !important;width:100px !important;}
.header-sticky{position:absolute !important;top:0px;width:100% !important;}
.report img{width:100% !important;}
.report h2{width:100% !important;text-align:center;padding-top:30px;}
.report .scrollTbl{width:100%;overflow-x:scroll;}
a.navbar-brand.float-left.m-0.bg-blue{margin:10px !important;}
#block-2017ppsintegratedreport-2{display:none;}
.mobile-submenu-show{display:inline-block !important;overflow-x:hidden;}
.mobile-submenu-hide{display:none !important;}
#block-2017ppsintegratedreport-2{position:absolute;top:85px;right:-15px;width:235px !important;}
#block-2017ppsintegratedreport-2 ul li{width:100% !important;border-left:0px !important;border-bottom:1px solid #ccc;padding:20px 0px !important;}
#block-2017ppsintegratedreport-2 ul li a{color:#fff !important;width:100% !important;font-weight:normal}
.header-sticky{width:100% !important;margin:0px auto !important;}
.burger{margin-left:25px;margin-top:13px;}
.region-primary-menu{display:inline-block;}
.gov-section div{width:100%;}
.gov-section{display:inline-block;flex-direction:row;}
.cd-accordion-menu{width:100%;}
#main-nav-join ul li{display:inline-block !important;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(137,137,137,0.2);padding:15px !important;}
#main-nav-join ul li:last-child{border-bottom:0px;}
#main-nav-btn{display:none !important}
.pt-1{padding-top:0rem !important;}
.close-nav-icon{float:right;color:#fff;font-size:30px;}
#mainNav{border:0px !important;right:10px !important;position:absolute;background:rgba(0,0,0,0.8) !important;width:103px !important;padding-top:5px !important;}
.subnav-container{position:relative;}
.pheight{height:700px;}
.headroom--top{background:transparent !important;}
#product .headroom--top{background-color:transparent !important;}
#logins{display:none !important;}
#main-nav-join ul li{display:inline-block !important;width:100%;padding:7px 0px;}
.container-fluid{width:100%;padding-right:0px !important;padding-left:0px !important;}
.loginBtn{display:none !important;}
.menu-item{width:100% !important;padding:3% 0%;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(224,224,224,0.05);}
.close-nav-icon{margin-right:20px;}
.subnav-container{display:none !important;}
.menu-item--active-trail ul{display:inline-block !important;}
nav ul li ul{background:transparent !important;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
li ul li a{margin-left:0px !important;color:#fff !important;}
.menu-item--active-trail ul{position:relative;}
nav ul li ul li{margin-left:65px !important;width:80px;}
.mobilenav{display:block !important;position:fixed !important;top:0px;width:100%;color:#fff;background-color:transparent;padding:10px 22px;height:75px;z-index:99;}
nav > ul > li > ul > li > ul.menu > li{margin-left:5px !important;padding:0px !important;}
nav ul li a{color:rgba(255,255,255,0.7) !important;}
nav ul li ul li a{color:rgba(255,255,255,0.6) !important;}
nav > ul > li > ul > li > ul.menu > li > a{color:#fff !important;float:left !important;padding:3% 0% 3% 15% !important;text-align:left !important;width:400px !important;}
.menu-item--active-trail > a{color:#B09455 !important;}
.menu-item:hover{background:transparent;}
.menu-item--active-trail > a:hover{color:#B09455 !important;background:transparent;}
nav ul li ul li:hover{background:transparent !important;}
nav ul li ul{position:relative;}
nav ul li ul li a:hover{color:#B09455 !important;}
.scrolling-gallery{height:60vh !important;}
.member{padding-left:1% !important;padding-right:1% !important;margin-top:5%;}
.banner-area{position:unset;top:220px;}
.banner-text{width:50% !important;margin-top:0%;text-shadow:2px 2px #ccc;}
nav ul li ul{display:unset;}
.hidemenu{display:none;}
.showmenu{display:inline-block;}
}
ul.menu a.is-active{color:#fff;}
.button.owl-next{background:#fff !important;}
.owl-carousel .owl-nav button.owl-prev{background:rgba(255,255,255,0.6) !important;}
strong > a{color:#B09455 !important;}
.active-link{color:#B09455 !important;}
.menu-item.menu-item--active-trail.grandchild-link > a{color:#B09455 !important;}
.field--name-field-brochure > div > span > a{color:#fff;font-weight:900;text-transform:uppercase;padding:20px 50px !important;font-size:12px;font-weight:398px;border-color:#091e35;background-color:#091e35;color:#fff;border-radius:1000px;float:right;}
.field--name-field-brochure > div > span.file--image{display:contents;}
.field--name-field-2-brochure > div > span > a{color:#fff;font-weight:900;text-transform:uppercase;padding:20px 50px !important;font-size:12px;font-weight:398px;border-color:#091e35;background-color:#091e35;color:#fff;border-radius:1000px;float:right;}
.field--name-field-2-brochure > div > span.file--image{display:contents;}
.field--name-field-3-brochure > div > span > a{color:#fff;font-weight:900;text-transform:uppercase;padding:20px 50px !important;font-size:12px;font-weight:398px;border-color:#091e35;background-color:#091e35;color:#fff;border-radius:1000px;float:right;}
.field--name-field-3-brochure > div > span.file--image{display:contents;}
.field--name-field-4-brochure > div > span > a{color:#fff;font-weight:900;text-transform:uppercase;padding:20px 50px !important;font-size:12px;font-weight:398px;border-color:#091e35;background-color:#091e35;color:#fff;border-radius:1000px;float:right;}
.field--name-field-4-brochure > div > span.file--image{display:contents;}
.hpi:nth-child(odd){text-align:center;float:left;height:320px;padding:20px 10px 0px 10px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.hpi:nth-child(even){text-align:center;float:left;height:320px;padding:20px 10px 0px 10px;border-bottom:1px solid #ccc;}
div.hpi:nth-last-child(-n+2){border-bottom:0px solid #ccc;}
.subnav-parent-link{font-weight:bold;}
.parent-subnav-div{position:relative !important;width:10px;float:right;top:-29% !important;}
.socials a{padding:15px !important;}
form#search-block-form > .form-type-search{width: 203px;float:left;margin-top: 0em !important;margin-bottom: 0em !important;}
div#block-searchform{position: absolute;right: -29px;top: 64px;background-color: rgba(9,30,53,0.2) !important;padding: 10px;width: 355px;}
form#search-block-form > .form-type-search > label{display: none;}
form#search-block-form > .form-type-search > .form-search{border: 0px;padding: 2px 5px;line-height: 2;border-radius: 0.2em;width: 200px;}
form#search-block-form > .js-form-submit{float: left;border-radius: 1em;padding: 10px 20px 0px 20px; color: #fff !important; background: #091E35 !important; border: 1px solid #fff;}
.searchshow{display: inline-block!important;}
.searchhide{display: none;}
h3.search-result__title{background-color: rgba(9,30,53,1);padding-bottom: 15px;}
div.search-result__snippet-info{padding: 0px 20px;}
#mc_embed_signup form{display:block;position:relative;text-align:left;padding:10px 0 10px 3%}
#mc_embed_signup h2{font-weight:bold;padding:0;margin:15px 0;font-size:1.4em;}
#mc_embed_signup input{border:1px solid #ABB0B2;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus{border-color:#333;}
#mc_embed_signup .button{clear:both;background-color:#aaa;border:0 none;border-radius:4px;transition:all 0.23s ease-in-out 0s;color:#FFFFFF;cursor:pointer;display:inline-block;font-size:15px;font-weight:normal;height:32px;line-height:32px;margin:0 5px 10px 0;padding:0 22px;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap;width:auto;}
#mc_embed_signup .button:hover{background-color:#777;}
#mc_embed_signup .small-meta{font-size:11px;}
#mc_embed_signup .nowrap{white-space:nowrap;}
#mc_embed_signup label{color:#3a3a3a !important;}
#mc_embed_signup .mc-field-group{clear:left;position:relative;width:96%;padding-bottom:3%;min-height:50px;}
#mc_embed_signup .size1of2{clear:none;float:left;display:inline-block;width:46%;margin-right:4%;}
* html #mc_embed_signup .size1of2{margin-right:2%;}
#mc_embed_signup .mc-field-group label{display:block;margin-bottom:3px;}
#mc_embed_signup .mc-field-group input{display:block;width:100%;padding:0.9375rem 0.9375rem !important;text-indent:2%;}
#mc_embed_signup .mc-field-group select{display:inline-block;width:99%;padding:5px 0;margin-bottom:2px;}
#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline;width:60px;margin:0 2px;letter-spacing:1px;text-align:center;padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}
#mc_embed_signup .indicates-required{text-align:right;font-size:11px;margin-right:4%;}
#mc_embed_signup .asterisk{color:#e85c41;font-size:150%;font-weight:normal;position:relative;top:5px;}
#mc_embed_signup .clear{clear:both;}
#mc_embed_signup .mc-field-group.input-group ul{margin:0;padding:5px 0;list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li{display:block;padding:3px 0;margin:0;}
#mc_embed_signup .mc-field-group.input-group label{display:inline;}
#mc_embed_signup .mc-field-group.input-group input{display:inline;width:auto;border:none;}
#mc_embed_signup div#mce-responses{float:left;top:-1.4em;padding:0em .5em 0em .5em;overflow:hidden;width:90%;margin:0 5%;clear:both;}
#mc_embed_signup div.response{margin:1em 0;padding:1em .5em .5em 0;font-weight:bold;float:left;top:-1.5em;z-index:1;width:80%;}
#mc_embed_signup #mce-error-response{display:none;}
#mc_embed_signup #mce-success-response{color:#529214;display:none;}
#mc_embed_signup label.error{display:block;float:none;width:auto;margin-left:1.05em;text-align:left;padding:.5em 0;}
#mc-embedded-subscribe{clear:both;width:auto;display:block;margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers{font-size:1.1em;}
#mc_embed_signup #num-subscribers span{padding:.5em;border:1px solid #ccc;margin-right:.5em;font-weight:bold;}
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error{display:inline-block;margin:2px 0 1em 0;padding:5px 10px;background-color:rgba(255,255,255,0.85);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-size:14px;font-weight:normal;z-index:1;color:#e85c41;}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error{border:2px solid #e85c41;}
div.region-primary-menu > div.search-block-form{display:none}
.contact-links{color: #000 !important}
#block-views-block-homepage-testimonials-testimonials-block{width: 100%}
div.test:nth-child(odd) > div.container > div.testim-c > div{ float:left }
div.test:nth-child(even) > div.container > div.testim-c > div{ float:right }
.search-form__submit{
	margin-left: 15px !important;
    padding: 6px 10px 6px 10px;
    color: #fff;
    border: 0px;
    border-radius: 0.2rem;
    background: #af9455;
}

.credit-card-caption{
    background: rgba(255,255,255,0.7);
    padding: 20px; border-radius: 3px;
}

ul > li{
    color: #888;
}

ol > li{
    color: #888;
}

.bg-alter-light:nth-child(odd){
	background: #f3f3f3;
}


@media screen and (max-width:918px){
    .banking-pages{
        /* background-image: url(/themes/custom/refresh/assets/images/credit-card.jpg) !important;  */
    }

    .payment-banking-pages{
        background-image: url(/themes/custom/refresh/assets/images/sat-payment.jpg) !important;   
    }

    .slider-competition{
        background-image: url(/themes/custom/refresh/assets/images/winslider.jpg) !important;
    }

    .slider-payment{
        background-image: url(/themes/custom/refresh/assets/images/live-no-cap.jpg) !important;
    }
}

@media only screen and (min-width:919px){
    .banking-pages{
        /* background-image: url(/themes/custom/refresh/assets/images/win-money.jpg) !important;  */
        height: 490px !important;
    }

    .payment-banking-pages{
        background-image: url(/themes/custom/refresh/assets/images/landing-payment.jpg) !important;
    }

    .slider-competition{
        background-image: url(/themes/custom/refresh/assets/images/win-graphics.jpg) !important;
    }

    .slider-payment{
        background-image: url(/themes/custom/refresh/assets/images/credit-card-banner.jpg) !important;
    }

    .banner-text-background{
        display:none;
    }

    div.text-overlay.credit-card-slider{
        display:none;
    }

    div.credit-card-link-btn{
        width: 150px !important; margin-left: 170px; margin-top: 300px;
    }

    .credit-banking-page{
        padding-top: 46px !important;
    }
    
    .payment-banking-page {
        padding-top: 245px !important;
    }

}

@media only screen and (min-width:1500px){
    .banking-pages{
        height: 500px !important
    }

    .payment-banking-pages{
        height: 527px !important;
    }

    /* .credit-banking-page{
        padding-top: 800px !important;
    } */

    .payment-banking-page {
        padding-top: 320px !important;
    }
}


/*@supports (-webkit-overflow-scrolling: touch) {
    
    span{
        display: inline-block !important
    }

    
}*/

@media not all and (min-resolution:.001dpcm) { 
    
    div > ul > li { 
        display: flex !important;
        color: #888;
    }
   
    div.card a{
        padding: 0px;
    }
}
/*#PPSWebChat_MainContainer{display:none !important;}*/

/* Webchate Styling */
#chat_tab {
	background: #091E35 !important;
	padding: 10px;
	float: left;
    min-width: 110px;
    height: 90px;
    cursor: pointer;
    background-position: center 0px !important;
    background-size: 45px 45px;
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    /* box-shadow: 1px 1px 5px rgba(0,0,0,0.2); */
    right: 0!Important;
    margin-left: auto;
    border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: unset;
}

#anywhere365-sfbwebchatplus-mainwrapper .contactBtns .callme {
    background: #ffffff url(http://ho-any365-01.ppsdmn.co.za/WebChat_ucc_investments_chat/sfbwebchatplus/images/callme.png) no-repeat !important;
}

#anywhere365-sfbwebchatplus-mainwrapper #agentPresence figure figcaption .agentName {
	color: #b09456 !important;
}

#anywhere365-sfbwebchatplus-discussion li .messageName {
	color: #b09455 !important;
}

#anywhere365-sfbwebchatplus-mainwindow #anywhere365-sfbwebchatplus-discussion li.agent .message {
    background: #ffffff !important;
}

#anywhere365-sfbwebchatplus-mainwindow #anywhere365-sfbwebchatplus-discussion li.agent figure img {
    border: 2px solid #f5f5f5 !important;
}

#headerImage{
	background-image: url(https://www.pps.co.za/themes/custom/refresh/assets/images/avatar_7.jpg) !important;

}

#chat_tab span {
	background: #6ac5d1 !important;
    padding: 9px 10px;
    top: unset !important;
    bottom: -36px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    left: -16px;
}


.webchatplusbutton{
	background: linear-gradient(to bottom,#69C5D1 5%,#70758C 100%);
	background-color: #69C5D1 !important;
	border:1px solid #69C5D1 !important;
	text-shadow: 0 1px 0 #091E35 !important;
}

.webchatplusbutton:hover{
	background: linear-gradient(to bottom,#B09455 5%,#857040 100%);
	background-color: #857040 !important;
	border:1px solid #857040 !important;
	text-shadow: 0 1px 0 #857040 !important;
}

#mCSB_25_container label{
	color: #888 !important;
}


div > .chatquestion-answerinput{
	color: #5f5f5f!important
}

#anywhere365-sfbwebchatplus-mainwindow #top-bar {
    background: #091E35 !important;
}

#anywhere365-sfbwebchatplus-mainwindow header {
	background: #091E35 !important;
}

#chat_tab {
	background: unset !important;
    position: fixed;
    height: 0px;
    z-index: -99;
}

#chat_tab_wrapper {
    display: none;
    position: fixed;
    right: 0;
    overflow: hidden;
    z-index: 5000;
    left: auto!important;
    top: unset !important;
    bottom: 14px !important;
    margin-top: -50px;
}

@media screen and (max-width: 1024px){
    #chat_tab_extension {
        display: none !important;
    }

    /* #chat_tab_extension_hide {
        display: none !important;
    }

    #chat_tab_extension_show{
        display: inline-block !important;
    } */

    .displayChat{
        display: inline-block !important;

        max-width: 300px!important;
        float: none !important;
        right: 0!important;
        margin-right: 0!important;
        z-index: 10000;
        width: 300px;
        background-color: #414452;
        min-height: 90px;
    }

    /*#chat_tab {
        background: unset !important;
        position: fixed;
        height: 0px;
        z-index: -1;
    }*/

    #chat_tab {
		padding: 10px;
		float: left;
	    min-width: 110px;
	    height: 90px;
	    cursor: pointer;
	    background-position: center 0px !important;
	    background-size: 45px 45px;
	    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	    /* box-shadow: 1px 1px 5px rgba(0,0,0,0.2); */
	    right: 0!Important;
	    margin-left: auto;
	    border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		box-shadow: unset;
		width:110px;
	}

    

    #chat_tab span:hover{
        color: #b09456;
    }    

    #product .drop-msg-investment {
        width: 129px !important;
        bottom: 58px !important;
        padding: 1px 15px !important;
        right: 122px;
    }

    #chat_tab_wrapper {
        position: fixed;
        right: 0;
        overflow: hidden;
        z-index: 5000;
        left: auto!important;
        top: unset !important;
        bottom: 46px !important;
        margin-top: -50px;
    }
}

@media screen and (min-width:416px) and (max-width:1024px){

	#chat_tab span {
	    position: fixed !important;
	    display: inline-block;
	    bottom: 10px !important;
	    padding: 9px 20px;
	    right: 5px !important;
	    cursor: pointer;
	    width: 110px;
	    left: unset;
	}

	}