
.sti-menu-wrapper {
	position: relative !important;
	max-width: 500px !important;
	height: 100px !important;
	margin: 1em auto !important;
	border: 1px solid black !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

.sti-menu	{
	height: 120px !important;
	box-sizing: border-box !important;
	
	white-space: nowrap !important;
	overflow-x: auto !important;
	overflow-y: hidden !important;
	-webkit-overflow-scrolling: touch !important;
	
	
}
.sti-item {
    display: inline-block !important;
    width: 100px !important;
    height: 100% !important;
    outline: 1px dotted gray !important;
    padding: 1em !important;
    box-sizing: border-box !important;
}
.paddles {
}
.paddle {
	position: absolute !important;
	top: 0 !important;
	bottom: 0 !important;
	width: 3em !important;
}
.left-paddle {
	left: 0 !important;
}
.right-paddle {
	right: 0 !important;
}
.hidden {
	display: none !important;
}
.blog-hidden{
    visibility: hidden;
}
.blog-filter-hidden{
    visibility: hidden;
}
