{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% if fields.field_our_structure_title.content  %}

  <h5 class="categoryTerm head{{fields.nid.content}} vertical-space"><strong>{{fields.field_our_structure_categories.content}}</strong></h5>
  <div class="card" id="head{{fields.nid.content}}">
    <div class="card-header" id="heading{{fields.nid.content}}">
        <button class="btn btn-link link-list search collapsed" data-toggle="collapse" data-target="#collapse{{fields.nid.content}}" aria-expanded="true" aria-controls="collapse{{fields.nid.content}}">
			{{ fields.field_our_structure_title.content }}             <i class="fa" aria-hidden="true"></i>
        </button>
    </div>

    <div id="collapse{{fields.nid.content}}" class="collapse" aria-labelledby="heading{{fields.nid.content}}" data-parent="#accordion">
      <div class="card-body search">
	  		{{ fields.field_our_structure_body.content }}	
      </div>
    </div>
  </div>
{% endif %}

<style>
	[data-toggle="collapse"] .fa:before {
		content: "\f068";
	}
	
	[data-toggle="collapse"].collapsed .fa:before {
		content: "\f067";
	}
	
	.fa {
		float: right;
	}
</style>

