{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{# {% for field in fields -%} #}
{% set year = fields.created_1.content %}
    {% set month = fields.created.content %}

<div class="col-12 release {{ year }} {{ month }}">
    <div class="post-data hidden">
        <h5 id="post-year" class="post-year ">{{ year }}</h5>
        <h5 id="post-month" class="post-month">{{ month }}</h5>
    </div>
    <div class="row blogs-row-child pb-2 pt-2">
        <div class="col-6 col-md-6">
            <a href="#."><img src="{{ fields.field_image.content }}" alt="PPS Articles"
                              style="height:auto;box-shadow: 2px 0px 10px #ccc;"></a>
        </div>
        <div class="col-6 col-md-6">
            {% set createdDate = node.getCreatedTime|date('j F Y') %}
            {% trans %}
                 <p class="date-text">{{ createdDate }}</p>
            {% endtrans %}
            <h5 class="article-title" style="padding:20px">{{ fields.field_article_name.content }}</h5>
            <p class="article-excerpt" style="margin-top: -10px;">{{ fields.field_the_excerpt.content }}</p>


        </div>
    </div>
</div>

<style>
    /*release +div: nth-child(even)*/
 .blogs-row-child {
	display: flow-root !important;
  }
  .blogs-container>div:nth-of-type(even)
  {
	background-color: #f5f5f5 !important;
  }
  .blogs-container>div:nth-of-type(odd)>.blogs-row-child:nth-child(2)>div:nth-child(1)
   {
	float: right;
  
  }
  .blogs-container>div:nth-of-type(odd)>.blogs-row-child:nth-child(2)>div:nth-child(1)>a>img
   {
	 float:right;
   }
  .blogs-container>div:nth-of-type(odd)>.blogs-row-child:nth-child(2)>div:nth-child(2)
   {
	float: left;
   
  }
  .blogs-container>div:nth-of-type(even)>.blogs-row-child:nth-child(2)>div:nth-child(1)
   {
	float: left;
  
  }
  .blogs-container>div:nth-of-type(even)>.blogs-row-child:nth-child(2)>div:nth-child(2)
   {
	float: right;
  
  }
    /*.blogs-row-child > div:nth-child(odd) {
        float: right;
    }*/
    /*.right-div {
        margin-top: -381px !important;
    }*/
    .article-title a {
        width: 491px;

        height: 88px;

        font-family:'Gotham',sans-serif;
        margin-left: -30px;

        font-size: 34px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.05;

        letter-spacing: normal;

        color: #00253d;
        text-transform: none;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
        width: 458px;


        height: 108px;

        font-family: 'Gotham',sans-serif;

        font-size: 18px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.5;

        letter-spacing: normal;
    }

    .views-more-link{
        width: 170px !important;

        height: 52px !important;

        border-radius: 26px !important;
        margin-left: 0px !important;
        margin-top:40px !important;
    }

    .hidden {
        display: none;
    }

    .date-text{
        width: 161px;

        height: 24px;

        font-family: Gotham;

        font-size: 16px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.5;

        letter-spacing: normal;
        color:#237e7e;
    }

    .release{
        padding: 40px !important;
    }
</style>

