{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% if fields.field_unique_needs_image.content %}
 <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

  <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
  </div>

  <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
    <ul class="gallery gutter-1 gutter-md-2">
      <li class="col-12">
        <figure class="photo">
          <a href="{{ fields.field_unique_needs_image.content }}">
            <img src="{{ fields.field_unique_needs_image.content }}" alt="Image">
          </a>
        </figure>
      </li>
    </ul>
  </div>

</div>
{% endif %}





