{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="blogs-container">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
 
  {# <div{{ row.attributes.addClass(row_classes) }}> #}
    {{- row.content -}}
  {# </div> #}
{% endfor %}
 </div>
<style>
{# .blogs-row-child {
  display: flow-root !important;
}

.blogs-container>div:nth-of-type(odd)>.blogs-row-child:nth-child(2)>div:nth-child(1)
 {
  float: right !important;

}
.blogs-container>div:nth-of-type(odd)>.blogs-row-child:nth-child(2)>div:nth-child(1)>a>img
 {
   float:right !important;
 }
.blogs-container>div:nth-of-type(odd)>.blogs-row-child:nth-child(2)>div:nth-child(2)
 {
  float: left !important;
 
}
.blogs-container>div:nth-of-type(even)>.blogs-row-child:nth-child(2)>div:nth-child(1)
 {
  float: left !important;

}
.blogs-container>div:nth-of-type(even)>.blogs-row-child:nth-child(2)>div:nth-child(2)
 {
  float: right !important;

} #}
{# #block-views-block-blog-sti-blogs-block>div:nth-of-type(odd)>.sti-blogs-row>.sti-blogs-row-child:nth-child(2)> div:nth-child(1)  {
  float: right !important;
  background:yellow !important;
}
#block-views-block-blog-sti-blogs-block>div:nth-of-type(odd)>.sti-blogs-row>.sti-blogs-row-child:nth-child(2)> div:nth-child(2)  {
  float: left !important;
  background:orange;
} #}
</style>
