{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{# {% for field in fields -%}
  {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %} #}



{# {% for field in fields -%} #}
{% set year = node.getCreatedTime|date("Y")%}
    {% set month = node.getCreatedTime|date("m")%}
<div class="col-12 blogpage">
        <div class="post-data hidden">
            <h5 id="post-year" class="post-year ">{{year}}</h5>
            <h5 id="post-month" class="post-month">{{month}}</h5>
        </div>
        <div class=" blogs-row-child  pb-2 pt-2">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xl-6 blogs-row-child">
                <a href="#."><img src="{{fields.field_blog_featured_image.content}}" alt="PPS Articles"></a>
                {# <a href="#."><img src="{{fields.field_blog_featured_image.content}}" alt="PPS Articles" style="height:250px;box-shadow: 2px 0px 10px #ccc;"></a> #}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xl-6 blogs-row-child pt-2">
              <p class="date">{{fields.created.content}}</p>
                <h5 class="article-title">{{fields.field_blog_title_1.content}}</h5>
                    <p class="article-excerpt" style="margin-top: -10px;">{{fields.field_blog_excerpt.content}}</p>
                    {# {{ post.published_at|date("Y m") }} #}
            </div>
        </div>
</div>

    <style>
 
     .col-12.blogpage{
      padding-left:150px !important;
      padding-right:150px !important;
     
    }
      @media (min-width: 576px) and (max-width: 767.98px) {
      .col-12.blogpage{
          padding-left:0px !important;
          padding-right:0px !important;
      }
      .blogpage.container{
      max-width:100%;
    }
    .col-lg-6.col-md-12.col-xs-12.col-xl-6.blogs-row-child{
        width: 100% !important;
          padding-left: 30px !important;
          padding-right: 30px !important;
      }
    }
  
    @media (min-width: 768px)  { 
  .blogpage.container{
      max-width:100% !important;
    }
       .article-excerpt a{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px
    padding: 10px !important;
    text-align: center;
    }
      
     }
    @media (max-width: 575px){
    .article-excerpt a{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px
    padding: 10px !important;
    text-align: center;
    }

      .col-12.blogpage{
        padding-left:0px !important;
        padding-right:0px !important;
      }
    }
    .container{
      padding-right: 0px !important;
      padding-left:0px !important;
    }
   
    @media (min-width: 1200px){
    .blogpage.container{
      max-width:100%;
    }
    }
    @media (max-width: 575px){
      .blogs-row-child.pt-2
      {
        padding-top: 1.25rem !important;
      }
      .blogs-row-child>a>img{
        float: left !important;
      }
.article-title a{
  padding: unset !important;
}
.col-12.blogpage {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.blogs-row-child{
  float:none !important;
}
.col-lg-6.col-md-12.col-xs-12.col-xl-6.blogs-row-child{
  width: 100% !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
}
        .article-title a{
            color:#0a1d37 !important;
        }
         .article-excerpt a{
            color:#0a1d37 !important;
        }
        .hidden{
          display:none;
        }

        .block-views-blockblog-sti-blogs-block{
          width:100%;
        }
       
    </style>

