{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% if fields.title.content  %}


  <div class="views-rows p-1">
    <div class="row">
      
        {% if fields.field_business_brief_image.content %}
          <div class="col-12 col-md-4 col-lg-4" style="background: #091e36; padding: 0.2rem !important;">
            <img src="{{ fields.field_business_brief_image.content }}" style="height: auto">
          </div>
        {% else %}
          <div class="col-12 col-md-4 col-lg-4 p-1" style="padding: 0.3rem !important;">
            <img src="http://34.76.147.18/themes/custom/refresh/assets/images/pps-logo-white.svg" width="100%">
          </div>
        {% endif %}

      
      <div class="col-12 col-md-8 col-lg-8">
        {{fields.title.content}}
      </div>
    </div>
  </div>
{% endif %}

<style>
  .view-business-brief .views-row {
    margin: 10px 5px;
  }

  .view-business-brief .views-rows > .row{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  .view-business-brief .views-rows > .row a{
    display: block !important;
  }
      
</style>
