{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{# {% for field in fields -%} #}
{% set year = fields.created_1.content %}
    {% set month = fields.created.content %}

<div class="col-12 release {{ year }} {{ month }}">
    <div class="post-data hidden">
        <h5 id="post-year" class="post-year ">{{ year }}</h5>
        <h5 id="post-month" class="post-month">{{ month }}</h5>
    </div>
    <div class="row blogs-row-child pb-2 pt-2">
        <div class="col-12 col-md-6">
            <a href="#."><img class="hide-on-mobile" src="{{ fields.field_image.content }}" alt="PPS Articles"
                              style="height:373px;box-shadow: 2px 0px 10px #ccc;"></a>
        </div>
        <div class="col-12 col-md-6">
            {% set createdDate = node.getCreatedTime|date('j') %}
            {% trans %}
                <a  class="article-date" href="{{ fields.field_article_url.content }}">  <p class="date-text">{{ createdDate }} {{ month }} {{ year }} </p></a>
            {% endtrans %}
            <h5 class="article-title">{{ fields.field_article_name.content }}</h5>
            <p class="article-excerpt">{{ fields.field_the_excerpt.content }}</p>

           
        </div>
    </div>
</div>


