{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{# {%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%} #}
{# <div class="owl-item"> #}
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

   
  {{ rows }}
  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {% for row in rows %}
  {{fields}}
{# <div class>
        <div class="user-photo text-center">
          <img src={{fields.field_member_image.content}} class="rounded-circle"> 
        </div>
        <figure class="user text-center">
            <figcaption class="user-caption pt-1">
              <h5 class="font-weight-bold text-blue mb-1">{{fields.field_name.content}}</h5>
                <span class="text-dark mb-1">{{fields.field_position.content}}</span>
              <p class="text-dark fs-14">{{fields.field_testimonials_excerpt.content}}</p>
                  <a href="#." class="text-dark font-weight-bold">Read more</a> | <a href="#." class="text-dark font-weight-bold">Watch video</a>
            </figcaption>
        </figure>
    </div> #}
  {% endfor %}

  {# {{ feed_icons }} #}
{# </div> #}
    {# <div>
        <div class="user-photo text-center">
          <img src={{fields.field_member_image.content}} class="rounded-circle"> 
        </div>
        <figure class="user text-center">
            <figcaption class="user-caption pt-1">
              <h5 class="font-weight-bold text-blue mb-1">{{fields.field_name.content}}</h5>
                <span class="text-dark mb-1">{{fields.field_position.content}}</span>
              <p class="text-dark fs-14">{{fields.field_testimonials_excerpt.content}}</p>
                  <a href="#." class="text-dark font-weight-bold">Read more</a> | <a href="#." class="text-dark font-weight-bold">Watch video</a>
            </figcaption>
        </figure>
    </div> #}