{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{# {% for field in fields -%} #}
{#{% set year = fields.created_1.content %}#}
    {#{% set month = fields.created.content %}#}
<tr>
    <td><i class="fa fa-angle-right"></i> {{ fields.field_fund_title.content }}</td>

    <td style="text-align: center;">

        {% if fields.field_back_link.content %}
            <a class="doc-link" href="{{ fields.field_back_link.content }}" target="_blank"><img src="/{{ active_theme_path() }}/assets/images/download.png" width="50%"></a>
        {% else %}

            {% if fields.field_fund_fact_sheet.content  %}
                <a class="doc-link" href="{{ fields.field_fund_fact_sheet.content }}" target="_blank"><img src="/{{ active_theme_path() }}/assets/images/download.png" width="50%"></a>
            {% endif %}

        {% endif %}

    </td>
    <td style="text-align: center;">{% if fields.field_gen_investment_report.content %}
      <a class="doc-link" href="{{ fields.field_gen_investment_report.content }}" target="_blank"><img src="/{{ active_theme_path() }}/assets/images/download.png" width="50%"></a>
        {% endif %}
    </td>
    {#{% if fields.field_brochure.content  %}#}
    {#<td>#}
        {#<a class="doc-link" href="{{ fields.field_brochure.content }}" target="_blank"><i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i></a>#}
        {#{% endif %}#}
    {#</td>#}

</tr>


