{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{#<div class="blogs-container">#}


<table class="table table-hover">
  <thead>
  <tr>
    <th style="width: 45%;"></th>
    <th>Investment Horizon</th>
    <th>Risk Profile</th>
    <th>Monthly Fact Sheet</th>
    <th>Quarterly Fact Sheet</th>

  </tr>
  </thead>
  <tbody>

  {% for row in rows %}
    {%
      set row_classes = [
      default_row_class ? 'views-row',
    ]
    %}
    {# <div{{ row.attributes.addClass(row_classes) }}> #}
    {{- row.content -}}
    {# </div> #}
  {% endfor %}
  </tbody>
</table>

{#<div>#}
