{#
/**
 * @file
 * Theme override for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 */
#}


<div class="block-financial col-12 col-lg-7 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom" style="float: right">
	<div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-200px);">
    </div>
	
	<div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
        <ul class="gallery gutter-1 gutter-md-2">
            <li class="col-10">
                <figure class="photo">
					<a href="#"title="financial planning">
					{{ output -}}
					</a>
				</figure>
			</li>
		</ul>
	</div>
</div>
