{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="sti-menu-wrapper">
  <ul class="sti-menu">
{% for row in rows %}
 
    {{- row.content -}}
  
{% endfor %}
</ul>


	<div class="paddles">
		<button class="left-paddle paddle hidden">
			<
		</button>
		<button class="right-paddle paddle">
			>
		</button>
	</div>
</div>
