{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{# {% for field in fields -%}
  {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %} #}



{# {% for field in fields -%} #}

 <div class="swiper-slide vh-100">
    
    {% if fields.field_tag.content == "credit card" %}
         <div class="image image-overlay slider-competition">
        </div>

    {% elseif fields.field_tag.content == "payment solution" %}

         <div class="image image-overlay slider-payment">
        </div>
                     
    {% else %}
        <div class="image image-overlay" style="background-image:url({{fields.field_slider_image.content}})">
        </div>
    {% endif %}


    <div class="caption">
            <div class="container">
                <div class="row justify-content-between vh-100">
                    <div class="col-lg-6 align-self-center text-white text-shadow mt-7" data-swiper-parallax="-100%">
                        
                        {% if fields.field_tag.content == "credit card" %}

                          <div class="p-2 mb-2 text-overlay credit-card-slider">
                              <h1 class="display-5 mb-0 font-weight-bold">{{fields.field_text.content}}</h1>
                                  {# <span class="eyebrow text-white mb-1 fs-24">{{fields.field_tag.content}}</span> #}
                            
                            {% if fields.field_banner_body.content %}
                              {{ fields.field_banner_body.content }}
                            {% endif %}
                          </div>
                          <div class="clearfix"></div>

                          <div id="homeBannerLink" class="credit-card-link-btn">
                            {{ fields.field_banner_link.content }}
                          </div>


                        {% elseif fields.field_tag.content == "payment solution" %}

                            <div class="p-2 mb-2 text-overlay credit-card-slider">
                                <h1 class="display-5 mb-0 font-weight-bold">{{fields.field_text.content}}</h1>
                                    {# <span class="eyebrow text-white mb-1 fs-24">{{fields.field_tag.content}}</span> #}
                              
                              {% if fields.field_banner_body.content %}
                                {{ fields.field_banner_body.content }}
                              {% endif %}
                            </div>
                            <div class="clearfix"></div>

                            <div id="homeBannerLink" class="credit-card-link-btn">
                              {{ fields.field_banner_link.content }}
                            </div>

                        {% else %}

                          {% if fields.field_tag.content == 'Hide Container' %}
                            <div class="p-2 mb-2">
                          {% else %}
                            <div class="p-2 mb-2 text-overlay">
                          {% endif %}
            
                            {% if fields.field_tag.content == "Providing peace of mind, security and wealth for graduate professionals" %}
                              <h1 class="display-5 mb-0 font-weight-bold">{{fields.field_text.content}}</h1>
                            {% endif %}

                            {% if fields.field_banner_body.content %}
                              <div style="color: #fff">
                              {{ fields.field_banner_body.content }}
                              </div>
                            {% endif %}

                            {% if fields.field_tag.content %}
                              {% if fields.field_tag.content == 'Hide Container' %}

                              {% else %}
                                <span class="eyebrow text-white mb-1 fs-24">
                                {{ fields.field_tag.content }}
                                </span>
                              {% endif %}

                            {% endif %}
                          </div>
                          <div class="clearfix"></div>

                          <div id="homeBannerLink">
                            {{ fields.field_banner_link.content }}
                          </div>

                        {% endif %}

                        
                    </div>

                </div>
            </div>
    </div>
</div> 


