              <h2 class="display-4 fs-50"><b>R<span class="counter">{{fields.field_profit_share_amounts.content}}</span> {{fields.field_unit_of_measure.content}}</b> <br />cumulatively allocated over the last 10 years to our members' <br/>
Profit-Share Accounts</h2>

            <a href="/about/mutuality" title="{{fields.profit_share_link.content}}"  class="font-weight-bold btn btn-transparent-white btn-rounded">LEARN MORE</a>
  
 