{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{%  if fields.field_life_product_image.content %}
<div class="owl-item active" style="width: 373.333px; margin-right: 10px;">
	<a href="{{ fields.field_life_product_link.content|render|striptags }}" class="user-photo" style="height: 400px; background:url({{ fields.field_life_product_image.content|render|striptags }}); background-size:cover; background-position:center top">
	  	<figcaption class="user-caption">
			<h5 class="font-weight-bold text-white">{{ fields.field_life_product_name.content|render|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }} <i class="icon-arrow-right2"></i></h5>
		</figcaption>
	</a>
</div>
{% endif %}