{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
{# {% if attributes -%} #}
  {# <div class="swiper-wrapper"> #}
{# {% endif %} #}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  {# <{{ list.type }}{{ list.attributes }}> #}

    {% for row in rows %}
      {# <li{{ row.attributes }}> #}
        {{- row.content -}}
      {# </li> #}
  {# <div class="swiper-slide vh-100">
        <div class="image image-overlay" style="background-image:url('https://pps.bluevinegroup.co.za/refresh/assets/images/banner-adult-asia-attractive.jpg')"></div>
        <div class="caption">
            <div class="container">
                <div class="row justify-content-between vh-100">
                    <div class="col-lg-6 align-self-center text-white text-shadow mt-7" data-swiper-parallax="-100%">
                        <div class="p-2 mb-2 text-overlay">
                            <h1 class="display-5 mb-0 font-weight-bold">For Graduate Professionals</h1>
                                <span class="eyebrow text-white mb-1 fs-24">{{rows.content}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <a href="#." class="btn btn-gold btn-rounded px-3" title="Become a member">Become a member</a>
                    </div>

                </div>
            </div>
        </div>
  </div> #}
    {% endfor %}

  {# </{{ list.type }}> #}

{# {% if attributes -%} #}
  {# </div> #}
{# {% endif %} #}


