{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{# {% if fields.field_addit.content %}
<div class="col-6">
  <div class="row pb-2 pt-2">
    <div class="col-2">
      <i class="icon-check-circle text-gold fs-60 float-left pr-1 "></i>
    </div>
    <div class="col-10 pr-3">
      <p class="font-weight-bold text-blue fs-20">{{ fields.field_addit.content }}</p>
      <p>{{ fields.field_additional_benefit_descrip.content }}</p>
    </div>
  </div>
</div>

{% endif %} #}



<div class="col-lg-6 col-md-6 col-12 card-margin-bottom">
  <div class="card">
    <div class="card-body">

      <h5 class="card-title" style="min-height: 60px;">{{fields.field_platform_title.content}}</h5>
      <div class="card-body-subtext">

        <p class="card-text">{{fields.field_platform_content.content}}</p>
      </div>
      <div class="button-links">
        {{fields.field_platform_login.content}}
        {{fields.field_platform_register.content}}
        {# <a target="_blank" href="https://www.ppsisecure.co.za/Security/Login.aspx" class="btn btn-sm btn-blue sentence_case">Login</a>
        <a target="_blank" href="https://www.ppsisecure.co.za/Registration/registration/Default" class="btn btn-sm btn-transparent-blue sentence_case">Register</a> #}
      </div>
    </div>
  </div>
</div>



