  <div class="owl-item" style="width: 373.333px; margin-right: 10px;">
       
        <figure class="user text-center">
            <figcaption class="user-caption pt-1">
              <h5 class="font-weight-bold text-blue mb-1">{{fields.field_title.content}}</h5>
                
              <p class="text-dark fs-14">{{fields.field_excerpt.content}}</p>
                  <a href="#." class="text-dark font-weight-bold">Read more</a>
            </figcaption>
        </figure>
    </div>