{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div class="row justify-content-center align-items-center">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {# <div class="col-md-5 col-lg-4" data-aos="fade-right" data-aos-anchor-placement="center-bottom"> #}
    {{- row.content -}}
{# </div> #}
   {# {% if loop.index is divisibleby(1) %}
      <div class="col-md-5 col-lg-4" data-aos="fade-right" data-aos-anchor-placement="center-bottom"> 
        {{- row.content -}}
      </div> 
    {% endif %}
   {% if loop.index is divisibleby(2) %}
      <div class="col-md-5 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"> 
        {{- row.content -}}
      </div> 
    {% endif %}
    {% if loop.index is divisibleby(3) %}
      <div class="col-md-5 col-lg-4" data-aos="fade-left" data-aos-anchor-placement="center-bottom"> 
        {{- row.content -}}
      </div> 
    {% endif %} #}
 
{% endfor %}
 </div>



