<form id="brokerForm" class="brokerForm" method="POST">
	<h3 class="register"><strong class="strongRegister">Register</strong></h3>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="accreditation">PPS Investments Accredited?  </label><br />
				<select id="accreditation" class="form-control textbox" name="accreditation" required="required" type="text">
					<option>---Please Select---</option>
					<option>Yes</option>
					<option>No</option>
				</select>
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="code">Brokerage Code </label><br />
				<input id="code" class="form-control textbox" name="code" required="required" type="text" placeholder="Enter Your Brokerage Code (starts with 106)" data-error="Code is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="broker_name">Brokerage Name </label><br />
				<input id="broker_name" class="form-control textbox" name="broker_name" placeholder="Enter Your name" required="required" type="text"  data-error="Brokerage name is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="contact_name">Contact Name  </label><br />
				<input id="contact_name" class="form-control textbox" name="contact_name" required="required" type="text" placeholder="Enter Your Contact Name" data-error="Contact name is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="email">Email Address</label><br />
				<input id="email" class="form-control textbox" name="email" required="required" type="text" placeholder="e.g. mail@domain.com" data-error="Email is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="contact">Contact Number </label><br />
				<input id="contact" class="form-control textbox" name="contact" required="required" type="text"  data-error="Contact Number is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="city">Enter City/Location</label><br />
				<input id="city" class="form-control textbox" name="city" required="required" type="text" placeholder="Enter Your Area (City/Location)" data-error="City is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group centerBtn">
					<label for=""></label><br />
					<input id="submitHorizonAdviser" type="submit" class="button-bg " value="Send">
			</div>
		</div>
	</div>												
</form>