<footer class="bg-blue text-white">
    <div class="container py-5">
        <div class="row">

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Product Solutions</h5>

                <ul class="nav lavalamp"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 262.5px; height: 341.792px; transform: translate(15px, 42px);"></div>
                      <div class="region region-footer lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-refresh-footer" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-refresh-footer-menu">
            
        
              <ul class="menu">
                    <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Mutuality</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Financial Planning</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Life, Sickness &amp; Disability products</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Car, Home &amp; Business Insurance</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Investments</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Wealth</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Card &amp; Payments</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Medical Aid</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Wills, Trusts &amp; Estate Planning</a>
              </li>
        </ul>
  


  </nav>

  </div>


                </ul>

            </div>

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Useful Links</h5>
                <ul class="nav float-left lavalamp" style="width:50%"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 131.25px; height: 211.75px; transform: translate(0px, 0px);"></div>
                      <div class="region region-useful-links lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-usefullinksleft-2" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-usefullinksleft-2-menu">
            
        
              <ul class="menu">
                    <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Join PPS</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Claims</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">PPS Horizon</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Financial Advice</a>
              </li>
                <li class="menu-item">
        <a href="/faqs/all" data-drupal-link-system-path="taxonomy/term/32">FAQs</a>
              </li>
            <li class="menu-item">
        <a href="/about/legal-and-compliance">Legal</a>
              </li>
        </ul>
  


  </nav>

  </div>

                </ul>

                <ul class="nav float-left lavalamp" style="width:50%"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 131.25px; height: 177.292px; transform: translate(0px, 0px);"></div>
                      <div class="region region-useful-links2 lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-usefullinksright-2" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-usefullinksright-2-menu">
            
        
              <ul class="menu">
                    <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Bursaries</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Careers</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">News and Media</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Blog</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Associations</a>
              </li>
		<li class="menu-item">
        <a href="/documents/Directors.pdf" data-drupal-link-system-path="<front>">Directors</a>
              </li>
        </ul>
  


  </nav>

  </div>

                </ul>

            </div>

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Contact Us</h5>
                <p class="text-white">Should you be a PPS member and wish to speak to a qualified PPS consultant about
                    any query that you might have, please call us on the details below or <a href="/contact-pps">click here</a> for more contact
                    details.</p>
                <p class="mb-0"><a href="tel:0860123777" class="text-light-blue" title="TEL: 0860 123 777"><span class="text-white">TEL</span> 0860 123 777</a></p>
                <p class="mb-0"><a href="tel:+27116444300" class="text-light-blue" title="TEL (intl.) +27 11 644 4300"><span class="text-white">TEL (intl.)</span> +27
                        11 644 4300</a></p>
            </div>

            <div class="col-md-12 col-lg-3 text-center">

                <a href="/">
                    <img class="mb-2" src="/themes/custom/refresh/assets/images/pps-logo-white.svg" alt="PPS Logo">
                </a>

                <div class="footer-social-btn">
                    <ul class="socials">
                        <li><a href="#." class="icon-facebook fs-20" title="Facebook"></a></li>
                        <li><a href="#." class="icon-instagram fs-20" title="Instagram"></a></li>
                        <li><a href="#." class="icon-twitter fs-20" title="Twitter"></a></li>
                        <li><a href="#." class="icon-linkedin fs-20" title="LinkedIn"></a></li>
                    </ul>
                    <br>

                    <a href="#." class="btn btn-gold btn-rounded">Advice</a>
                    <a href="#." class="btn btn-gold btn-rounded">Service</a>
                </div>

            </div>

        </div>
    </div>

    <div class="bg-dark p-2 text-center disclaimer-footer">
        Professional Provident Society is an authorised financial services provider. © 2019 All rights reserved.<a target="_blank" href="/{{ active_theme_path() }}/assets/pdf/TERMS AND CONDITIONS (1).pdf">Disclaimer</a>.
    </div>

</footer>