<section class="mobilenav col-12 d-md-none">

    <div class="row">

        <a id="logo" href="/" class="btn-nav-icn col p-0 "><img
                    src="/{{ active_theme_path() }}/assets/images/pps-logo-white-mobile.svg"
                    width="60px" style="margin-left:-6px; margin-top:-3px"></a>

        <a id="join" href="mailto:joseleh@live.com" class="btn-nav-icn col p-0"
           style="font-size:11pt; margin-top: -3px; padding-top: 5px !important;">Join</a>

        <a id="call" href="/contact" id="main-btn" class="btn-nav-icn col p-0 "><img
                    src="/{{ active_theme_path() }}/assets/images/mobile/call-w.svg"
                    width="20px" style="margin-top:4px"></a>

        <button id="mainNav" class="btn-nav-icn col p-0 " data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img id="menu" class="animate-flicker"
                 src="/{{ active_theme_path() }}/assets/images/menu-icon.png"
                 width="30px" style="margin-top: -3px; margin-right: -13px;">
            <span id="menu-burger" style="float: right; margin: 20px; z-index:99">Menu <i
                        class="fas fa-bars"></i></span>
        </button>

    </div>
</section>
{# Front Footer #}
<footer class="bg-blue text-white frontfooter">
    <div class="container py-5">
        <div class="row">

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Product Solutions</h5>

                <ul class="nav lavalamp"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 262.5px; height: 341.792px; transform: translate(15px, 42px);"></div>
                      <div class="region region-footer lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-refresh-footer" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-refresh-footer-menu">
            
        
        <ul class="menu">
            <li class="menu-item">
                  <a href="/insure/life-solutions">Life, Sickness &amp; Disability Cover</a>
            </li>

            <li class="menu-item">
                  <a href="/insure/pps-health-professions-indemnity">Health Professions Indemnity</a>
              </li>

            <li class="menu-item">
                  <a href="/insure/car">Car, Home &amp; Business Insurance</a>
            </li>

            <li class="menu-item">
                  <a href="/invest/start-investment">Investments</a>
            </li>

            <li class="menu-item">
                  <a href="/plan/financial-advisory">Financial Advisory</a>
            </li>


            {# <li class="menu-item">
                  <a href="/about/mutuality">Mutuality</a>
            </li> #}
                
                
            <li class="menu-item">
                  <a href="/plan/wealth-advisory">Wealth Advisory</a>
            </li>

            <li class="menu-item">
                  <a href="/plan/wills-trusts-estate-planning">Wills, Trusts &amp; Estate Planning</a>
            </li>

            <li class="menu-item">
                  <a href="/insure/medical-aid">Medical Aid</a>
            </li>
      </ul>
  


  </nav>

  </div>


                </ul>

            </div>

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Useful Links</h5>
                <ul class="nav float-left lavalamp" style="width:50%"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 131.25px; height: 211.75px; transform: translate(0px, 0px);"></div>
                      <div class="region region-useful-links lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-usefullinksleft-2" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-usefullinksleft-2-menu">
            
        
              <ul class="menu">
                    <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Join PPS</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Claims</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">PPS Horizon</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Financial Advice</a>
              </li>
                <li class="menu-item">
        <a href="/faqs/all" data-drupal-link-system-path="taxonomy/term/32">FAQs</a>
              </li>
                <li class="menu-item">
        <a href="https://www.pps.co.za/explorepps/">Praneet Test</a>
              </li>
        </ul>
  


  </nav>

  </div>

                </ul>

                <ul class="nav float-left lavalamp" style="width:50%"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 131.25px; height: 177.292px; transform: translate(0px, 0px);"></div>
                      <div class="region region-useful-links2 lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-usefullinksright-2" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-usefullinksright-2-menu">
            
        
              <ul class="menu">
                    <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Bursaries</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Careers</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">News and Media</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Blog</a>
              </li>
                <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Associations</a>
              </li>
        </ul>
  


  </nav>

  </div>

                </ul>

            </div>

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Contact Us</h5>
                <p class="text-white">Should you be a PPS member and wish to speak to a qualified PPS consultant about
                    any query that you might have, please call us on the details below or click here for more contact
                    details.</p>
                <p class="mb-0"><a href="tel:0860123777" class="text-light-blue" title="TEL: 0860 123 777"><span class="text-white">TEL</span> 0860 123 777</a></p>
                <p class="mb-0"><a href="tel:+27116444300" class="text-light-blue" title="TEL (intl.) +27 11 644 4300"><span class="text-white">TEL (intl.)</span> +27
                        11 644 4300</a></p>
            </div>

            <div class="col-md-12 col-lg-3 text-center">

                <a href="/">
                    <img class="mb-2" src="/themes/custom/refresh/assets/images/pps-logo-white.svg" alt="PPS Logo">
                </a>

                <div class="footer-social-btn">
                    <ul class="socials">
                        <li><a href="#." class="icon-facebook fs-20" title="Facebook"></a></li>
                        <li><a href="#." class="icon-instagram fs-20" title="Instagram"></a></li>
                        <li><a href="#." class="icon-twitter fs-20" title="Twitter"></a></li>
                        <li><a href="#." class="icon-linkedin fs-20" title="LinkedIn"></a></li>
                    </ul>
                    <br>

                    <a href="#." class="btn btn-gold btn-rounded">Advice</a>
                    <a href="#." class="btn btn-gold btn-rounded">Service</a>
                </div>

            </div>

        </div>
    </div>

    <div class="bg-dark p-2 text-center disclaimer-footer">
        Professional Provident Society is an authorised financial services provider. © 2018 All rights reserved.<a href="#.">Disclaimer</a>.
    </div>

</footer>
{# Front Footer End #}
{# <footer class="bg-blue text-white">
    <div class="container py-5">
        <div class="row">

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Product Solutions</h5>

                <ul class="nav">
                    {{ page.footer }}

                </ul>

            </div>

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Useful Links</h5>
                <ul class="nav float-left" style="width:50%">
                    {{ page.useful_links }}
                </ul>

                <ul class="nav float-left" style="width:50%">
                    {{ page.useful_links2 }}
                </ul>

            </div>

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Contact Us</h5>
                <p class="text-white">Should you be a PPS member and wish to speak to a qualified PPS consultant about
                    any query that you might have, please call us on the details below or click here for more contact
                    details.</p>
                <p class="mb-0"><a href="tel:0860123777" class="text-light-blue" title="TEL: 0860 123 777"><span
                                class="text-white">TEL</span> 0860 123 777</a></p>
                <p class="mb-0"><a href="tel:+27116444300" class="text-light-blue"
                                   title="TEL (intl.) +27 11 644 4300"><span class="text-white">TEL (intl.)</span> +27
                        11 644 4300</a></p>
            </div>

            <div class="col-md-12 col-lg-3 text-center">

                <a href="/">
                    <img class="mb-2" src="/{{ active_theme_path() }}/assets/images/pps-logo-white.svg"
                         alt="PPS Logo">
                </a>

                <div class="footer-social-btn">
                    <ul class="socials">
                        <li><a href="#." class="icon-facebook fs-20" title="Facebook"></a></li>
                        <li><a href="#." class="icon-instagram fs-20" title="Instagram"></a></li>
                        <li><a href="#." class="icon-twitter fs-20" title="Twitter"></a></li>
                        <li><a href="#." class="icon-linkedin fs-20" title="LinkedIn"></a></li>
                    </ul>
                    <br/>

                    <a href="#." class="btn btn-gold btn-rounded">Advice</a>
                    <a href="#." class="btn btn-gold btn-rounded">Service</a>
                </div>

            </div>

        </div>
    </div>

    <div class="bg-dark p-2 text-center disclaimer-footer">
        Professional Provident Society is an authorised financial services provider. &copy; 2018 All rights reserved.<a
                href="#.">Disclaimer</a>.
    </div>

</footer> #}



{# <script src="/{{ active_theme_path() }}/assets/js/jquery-2.1.4.js"></script> #}
<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
<script src="/{{ active_theme_path() }}/assets/js/vendor.js"></script>
<script src="/{{ active_theme_path() }}/assets/js/app.js"></script>
<script src="/{{ active_theme_path() }}/assets/js/waypoints/jquery.waypoints.min.js"></script>
<script src="/{{ active_theme_path() }}/assets/js/counterup/jquery.counterup.js"></script>
<script src="/{{ active_theme_path() }}/assets/js/custom.js"></script>
{#<script src="/{{ active_theme_path() }}/assets/js/articles.js"></script>#}
<script src="/{{ active_theme_path() }}/assets/js/pagination.js"></script>
<script src="/{{ active_theme_path() }}/assets/js/slick.js"></script>
<script src="/{{ active_theme_path() }}/assets/js/banking.js"></script>
<script src="/{{ active_theme_path() }}/assets/js/slider.js"></script>
{#<script src="/{{ active_theme_path() }}/assets/js/cleaner.js"></script>#}


<script>

    {# $('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
    $('#block-refresh-main-menu').addClass('mobile-submenu-hide'); #}


    $('#mainNav').on('click', function () {

        if ($('#block-refresh-main-menu').hasClass('mobile-submenu-hide')) {
            $('#block-refresh-main-menu').removeClass('mobile-submenu-hide');
            $('#block-refresh-main-menu').addClass('mobile-submenu-show');
            $('#block-refresh-main-menu').addClass('submenu-show-style');
            $('#block-refresh-main-menu').append('<button class="btn-nav-icn col p-0 btnClose" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" ><i class="far fa-times-circle close-nav-icon"></i></button>');

            $('.btnClose').on('click', function () {
                $('.btnClose').hide();
                $('#block-refresh-main-menu').removeClass('mobile-submenu-show');
                $('#block-refresh-main-menu').addClass('mobile-submenu-hide');
            });
        } else {
            $('.btnClose').hide();
            $('#block-refresh-main-menu').removeClass('mobile-submenu-show');
            $('#block-refresh-main-menu').addClass('mobile-submenu-hide');
        }

    });


</script>

<script>

    $('.subnav-container > .container-fluid > .region-primary-menu > .navigation > ul').addClass('parent-level');
    $('.subnav-container > .container-fluid > .region-primary-menu > .navigation > ul > li > ul').addClass('child-level');
    //$('.subnav-container').append($(".menu-item.menu-item--expanded.menu-item--active-trail>ul>li:nth-child(1)>ul").html());

    $('.subnav-container > .container-fluid').append($(".menu-item.menu-item--expanded.menu-item--active-trail>ul>li.menu-item.menu-item--expanded.menu-item--active-trail>ul").html());
    if (($('.subnav-container > .container-fluid').children().length) > 1) {
        //There are children, subnav bar visible
    } else {
        //There are no children, subnav bar transparent
        $('.subnav-container').css('background', 'transparent');
        $('.subnav-container').css('border-bottom', '0px');
    }
</script>

{# Manupulate the Benefits Title on Product details#}
<script>
    $(document).ready(function () {
        var benefitsTitle;
        benefitsTitle = $('#benefits-title').text();
        $('#benefits-title').empty();

        $('#benefits-title').text(benefitsTitle);
    });

    //Remove span on Node Button
    $('.field--name-field-download a').unwrap();
    // Add Target blank on link
    $('.field--name-field-download a').attr('target', '_blank');
</script>

{#Temporary Script @Hlokolozar#}
<script>
    $(document).ready(function () {
        $('#hcontent1').on('click', function () {

            $('.hcontent1').removeClass('hidden');
            $(this).remove();

        });
        $('#hcontent2').on('click', function () {

            $('.hcontent2').removeClass('hidden');
            $(this).remove();

        });
        $('#hcontent4').on('click', function () {

            $('.hcontent4').removeClass('hidden');
            $(this).remove();

        });
        $('#hcontent12').on('click', function () {

            $('.hcontent12').removeClass('hidden');
            $(this).remove();

        });


    });
</script>


<script>

    /**
     *
     Product Hub Products Link and text
     @Phaladi and Hloni
     *
     **/

    var title = [];
    var link = [];

    $('.user-photo img').each(function () {
        title.push($(this).attr('alt'));
    });

    for (var x = 0; x < title.length; x++) {

        $('figcaption ').each(function () {

            if (parseInt($(this).attr('id')) == x) {
                $(this).append('<h5 class="font-weight-bold text-white">' + title[x] + ' <i class="icon-arrow-right2"></i></h5>');
            }
        });
    }


    $('.user-photo img').each(function () {
        link.push($(this).attr('alt'));
    });

    for (var x = 0; x < link.length; x++) {
        $('figure.user > a').each(function () {
            if ($(this).attr('id') == 'p' + x) {

                var str = link[x];
                str = str.replace(/\s+/g, '-').toLowerCase();

                $(this).attr('href', $(location).attr("href") + '/' + str);
                //alert('it worked');
            } else {
                //alert('it didnt work');
            }
        });
    }



    /**
     *
     Product Investment Hub Link and text
     @Phaladi and Hloni
     *
     **/

    if(window.location.href.indexOf("invest") > -1) {
       
        var linkurl = $(location).attr("href").split('/'); 
        var baselink = "//"+linkurl[2]+"/"+linkurl[3];
        
        for (var x = 0; x < link.length; x++) {
            $('figure.user > a').each(function () {
                if ($(this).attr('id') == 'p' + x) {

                    var str = link[x];
                    str = str.replace(/\s+/g, '-').toLowerCase();

                    $(this).attr('href', baselink + '/' + str);
                
                } else {
                }
            });
        }
    }


    /**
     *
     Nelson Mandela Quote on Life Solutions > Education Cover
     @Phaladi and Hloni
     *
     **/

     $('blockquote > h2').prepend('<i class="fas fa-quote-left"></i> ');
     $('blockquote > h2').append(' <i class="fas fa-quote-right"></i>');


</script>


<script>

    $('nav#block-refresh-main-menu > ul > li').addClass('parent-link');
    $('nav#block-refresh-main-menu > ul > li > ul > li').addClass('child-link');
    $('nav#block-refresh-main-menu > ul > li > ul > li > ul > li').addClass('grandchild-link');

    /*$(".parent-link").on('click',function(){
      $(this).find('li.child-link').toggle();
    });*/


    $('.child-link').addClass('hidemenu');
    $('.grandchild-link').addClass('hidemenu');

    $(".parent-link").on('click', function () {

        if ($(this).find('li.child-link').hasClass('hidemenu')) {

            $(this).find('li.child-link').removeClass('hidemenu');
            $(this).find('li.child-link').addClass('showmenu');


            /*$(this).find('li.child-link').on('click',function() {
              if($(this).find('li.grandchild-link').hasClass('hidemenu'))
              {
                  $(this).find('li.child-link').removeClass('hidemenu');
                  $(this).find('li.child-link').addClass('showmenu');
                  $(this).find('li.grandchild-link').removeClass('hidemenu');
                  $(this).find('li.grandchild-link').addClass('showmenu');
              }
              else{
                  $(this).find('li.grandchild-link').addClass('hidemenu');
                  $(this).find('li.grandchild-link').removeClass('showmenu');
              }
            });*/

        } else {
            $(this).find('li.child-link').removeClass('showmenu');
            $(this).find('li.child-link').addClass('hidemenu');
        }
    });


    /*$(".child-link").on('click',function() {

    if($("li.child-link").hasClass('showmenu')){

        $(this).removeClass('showmenu');
        $(this).addClass('hidemenu');

        $(this).find('li.grandchild-link').addClass('hidemenu');
        $(this).find('li.grandchild-link').removeClass('showmenu');

        }

    });*/

</script>

<script>
    $(document).ready(function () {

        $('a[href$=".pdf"]').attr('target', '_blank');

        $('.subnav-container > .container-fluid > li:last > a').addClass('active-link subnav-parent-link');
        $('.subnav-container > .container-fluid > li:last > a').append(' <i class="fas fa-caret-right"></i>');
        
        $('.subnav-container > .container-fluid > li:first > a').each(function () {
            if ($(this).text() == 'Integrated Report For PPS Namibian Members') {
                //alert($(this).text());
                $(this).attr('target', '_blank')
            }
        });

        if ($(window).width() <= 1199) {

            $('nav#block-refresh-main-menu > ul').append('<li class="menu-item"><a href="">Join PPS</a></li>');
            $('nav#block-refresh-main-menu > ul').append('<li class="menu-item"><a href="">Login</a></li>');

            //$('.grandchild-link > a').parent('li.grandchild-link').hide();
            $('li.menu-item--active-trail.child-link > ul > li.grandchild-link:last').hide();
            $( "li.menu-item--active-trail.child-link" ).css( "border-bottom", "0px" );
            $('nav#block-refresh-footer').removeClass('mobile-submenu-hide');

            $('nav#block-usefullinksleft-2').removeClass('mobile-submenu-hide');
            $('nav#block-usefullinksright-2').removeClass('mobile-submenu-hide');

            if ($("nav > ul > li").hasClass("menu-item--expanded")) {
                $('nav > ul > li.menu-item--expanded > a').each(function () {
                    $(this).replaceWith("<a href='#'>" + $(this).text() + "</a>");
                });
            }

            $("nav > ul > li.menu-item--active-trail.parent-link > ul > li.child-link").addClass("showmenu");
            $("nav > ul > li.menu-item--active-trail.parent-link > ul > li.child-link.menu-item--active-trail > ul > li").addClass("showmenu");
            

        } else {
            //alert('not working media query');
        }


    });
</script>


<script>
    // Select all links with hashes
    $('a[href*="#"]')
    // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function (event) {
            // On-page links
            if (
                location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                &&
                location.hostname == this.hostname
            ) {
                // Figure out element to scroll to
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');

                $('.btnClose').hide();
                $('#block-refresh-main-menu').removeClass('mobile-submenu-show');
                $('#block-refresh-main-menu').addClass('mobile-submenu-hide');
                /*$('.menu-item.menu-item--expanded.menu-item--active-trail.child-link.hidemenu').removeClass('hidemenu');*/


                // Does a scroll target exist?
                if (target.length) {
                    // Only prevent default if animation is actually gonna happen
                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: target.offset().top - 105
                    }, 1000, function () {
                        // Callback after animation
                        // Must change focus!
                        var $target = $(target);
                        $target.focus();
                        if ($target.is(":focus")) { // Checking if the target was focused
                            return false;
                        } else {
                            $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                            $target.focus(); // Set focus again
                        }
                        ;
                    });
                }
            }
        });
</script>


<script>
    {# Inject Ids on sub-menu #}

    $(document).ready(function(){

            $('a').each(function () {
             if($(this).attr('href')=='#heading3'){
                    $(this).attr('id','head3');
                }
            else if($(this).attr('href')=='#heading2'){
                $(this).attr('id','head2');
            }
            else if ($(this).attr('href')=='#heading1'){
                $(this).attr('id','head1');
            }
            else if($(this).attr('href')=='#heading4'){
                $(this).attr('id','head4');
            }

        });

    });

</script>


<script>
    {# @Hlokolozar #}
    $(document).ready(function() {
        $('.subnav-container, #head1').on('click', function () {

            $('#collapse1').addClass('show');
            $('#collapse1').css('margin-top', '20px');

            if ($('#collapse2').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse4').hasClass('show') == true
            ) {
                $(this).removeClass('show');
            }
        });
        $('.subnav-container, #head2').on('click', function () {
            $('#collapse2').addClass('show');
            $('#collapse2').css('margin-top', '20px');

            if ($('#collapse1').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse4').hasClass('show') == true
            ) {
                $(this).removeClass('show');
            }
        });
        $('.subnav-container, #head3').on('click', function () {
            $('#collapse3').addClass('show');
            $('#collapse3').css('margin-top', '20px');

            if ($('#collapse2').hasClass('show') == true || $('#collapse1').hasClass('show') == true || $('#collapse4').hasClass('show') == true
            ) {
                $(this).removeClass('show');
            }
        });
        $('.subnav-container, #head4').on('click', function () {
            $('#collapse4').addClass('show');
            $('#collapse4').css('margin-top', '20px');

            if ($('#collapse2').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse1').hasClass('show') == true
            ) {
                $(this).removeClass('show');
            }
        });

    //    For Mobile
    $('.showmenu, #head1').on('click', function () {

        $('#collapse1').addClass('show');
        $('#collapse1').css('margin-top', '20px');

        if ($('#collapse2').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse4').hasClass('show') == true
        ) {
            $(this).removeClass('show');
        }
    });
    $('.showmenu, #head2').on('click', function () {
        $('#collapse2').addClass('show');
        $('#collapse2').css('margin-top', '20px');

        if ($('#collapse1').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse4').hasClass('show') == true
        ) {
            $(this).removeClass('show');
        }
    });
    $('.showmenu, #head3').on('click', function () {
        $('#collapse3').addClass('show');
        $('#collapse3').css('margin-top', '20px');

        if ($('#collapse2').hasClass('show') == true || $('#collapse1').hasClass('show') == true || $('#collapse4').hasClass('show') == true
        ) {
            $(this).removeClass('show');
        }
    });
    $('.showmenu, #head4').on('click', function () {
        $('#collapse4').addClass('show');
        $('#collapse4').css('margin-top', '20px');

        if ($('#collapse2').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse1').hasClass('show') == true
        ) {
            $(this).removeClass('show');
        }
        });
    });
</script>


    <script>
        $(document).ready(function () {
            if(window.location.href=="http://34.76.147.18/our-story-0" && $('.align-self-center').hasClass('col-lg-6')==true){

               // $('.align-self-center  ').removeClass('col-lg-6');
                //$('.align-self-center  ').addClass('col-lg-12');
            }
        });

    </script>




</body>
</html>
