{# <section>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12">

<div class="boxed p-4" style="background: rgba(9,30,53,1)" >
  <div class="row justify-content-between align-items-center text-center text-md-left">
    {# <div class="col-md-3">
      <h2 class="text-white font-weight-bold">Latest news</h2>
    </div> #}
    {# <div class="col-md-9">
    <h2 class="text-white font-weight-bold">Latest news</h2>
      <p class="text-white latest-news"></p>
    </div>
    <div class="col-md-3 text-lg-right">
      <a href="#." class="btn btn-white btn-rounded px-5 read-more-latest-news">Read more</a>
    </div>
  </div>
</div>


</div>
</div>

</div>
</section> #} 
<footer class="bg-blue text-white groupfooter" hidden>

    <div class="bg-dark p-2 text-center disclaimer-footer">
        {# Professional Provident Society is an authorised financial services provider. © {{ "now"|date("Y") }} All rights reserved.<a target="_blank" href="/{{ active_theme_path() }}/assets/pdf/TERMS AND CONDITIONS (1).pdf">Disclaimer</a>. #}
    
      PPS Insurance Company Limited is an Administrator of PPS Insurance Company (Namibia) Limited.<br/>
© {{ "now"|date("Y") }} PPS. All rights reserved.  The Professional Provident Society Insurance Company (Namibia) Limited (Reg no. 2003/122)
    </div>

</footer>
{# <script>
$(document).ready(function(){
      $(".callmebackglobalallfooteres").on("click",function(event){
            event.preventDefault()
            window.location.href="https://www.pps.co.za/contact-pps/#nav-profile"
      });
});


</script> #}
{# <style>
.views-field-field-article-name>div>a{
    padding: 0px !important;
    text-transform: initial !important;
    font-size:20px !important;
}
.views-field-field-article-name{
      margin-bottom: 5px ;
}
.views-field-created>span{
  color: #fff !important;
}
.views-field-created{
      margin-bottom:5px !important;
}
.views-more-link{
    text-transform: initial !important;
    padding:0px !important;
    font-size:14px !important;
}
.views-field-field-the-excerpt>div>p{
      color: #fff !important;
}
.views-field-field-the-excerpt{
      margin-bottom:5px !important;
}
</style> #}

