<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# <link rel="preload" as="font" href="/{{ active_theme_path() }}/assets/fonts/gotham/font-styles.css"> #}

    <link rel="stylesheet" href="/{{ active_theme_path() }}/assets/css/vendor.css" />
    <link rel="stylesheet" href="/{{ active_theme_path() }}/assets/css/style.css" />
    <link rel="stylesheet" href="/{{ active_theme_path() }}/assets/css/custom.css" />
	  {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	  integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> #}


    <title>PPS For Professionals</title>
 
  </head>
	

    
