<div class="subnav-container" style="margin-top: -1.3rem;">
      <div class="container-fluid">

      
        <li class="menu-item">
        <a href="/about/integrated-report/integrated-reports">Archive</a>
              </li>
                <li class="menu-item">
        <a href="https://www.pps.com.na/themes/custom/refresh/assets/ir/ir-2018-pps-namibia.pdf" target="_blank">Integrated Report For PPS Namibia Members</a>
              </li>
                <li class="menu-item">
        <a href="/reports/agm-notice-and-downloads-2018">Agm Notice And Downloads</a>
              </li>
                <li class="menu-item">
        <a href="/reports/annual-financial-statements-2018">Annual Financial Statements 2018</a>
              </li>
                <li class="menu-item">
        <a href="/reports/governance-report-2018">Governance Report</a>
              </li>
                <li class="menu-item">
        <a href="/reports/highlights-2018">Highlights 2018</a>
              </li>
                <li class="menu-item">
        <a href="/reports/report-members-2018">Report to Members</a>
              </li>
                <li class="menu-item">
        <a href="/about/reports/overview/2018" class="is-active active-link subnav-parent-link">Integrated Report 2018</a>
              </li>
        </div>
    </div>