<div class="subnav-container" style="margin-top: -1.3rem;">
      <div class="container-fluid">

      
        <li class="menu-item">
        <a href="/about/integrated-report/integrated-reports">Archive</a>
              </li>
                <li class="menu-item">
        <a href="https://www.pps.com.na/themes/custom/refresh/assets/ir/ir-2017-pps-namibia.pdf" target="_blank">Integrated Report For PPS Namibia Members</a>
              </li>
                <li class="menu-item">
        <a href="/reports/agm-notice-and-downloads">Agm Notice And Downloads</a>
              </li>
                <li class="menu-item">
        <a href="/reports/annual-financial-statements-2017">Annual Financial Statements 2017</a>
              </li>
                <li class="menu-item">
        <a href="/reports/governance-report">Governance Report</a>
              </li>
                <li class="menu-item">
        <a href="/reports/highlights-2017">Highlights 2017</a>
              </li>
                <li class="menu-item">
        <a href="/reports/report-to-members">Report to Members</a>
              </li>
                <li class="menu-item">
        <a href="/about/reports/overview/2017" class="is-active active-link subnav-parent-link">Integrated Report 2017</a>
              </li>
        </div>
    </div>