<div class="subnav-container" style="margin-top: -1.3rem;">
      <div class="container-fluid">

      
        <li class="menu-item">
        <a href="/about/integrated-report/integrated-reports">Archive</a>
              </li>
                <li class="menu-item">
        <a href="https://www.pps.com.na/about/reports/overview/2019" target="_blank">Integrated Report For PPS Namibia Members</a>
              </li>
                <li class="menu-item">
        <a href="/reports/agm-notice-and-downloads-2019">Agm Notice And Downloads</a>
              </li>
                <li class="menu-item">
        <a href="/reports/annual-financial-statements-2019">Annual Financial Statements 2019</a>
              </li>
                <li class="menu-item">
        <a href="/reports/governance-report-2019">Governance Report</a>
              </li>
                <li class="menu-item">
        <a href="/reports/highlights-for-2019">Highlights 2019</a>
              </li>
                <li class="menu-item">
        <a href="/reports/report-to-members-2019">Report to Members</a>
              </li>
                <li class="menu-item">
        <a href="/about/reports/overview/2019" class="is-active active-link subnav-parent-link">Integrated Report 2019</a>
              </li>
        </div>
    </div>