<form class="joinPPS" method="POST">
	<h4><strong>Personal Details</strong></h4>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="title">*Title</label><br />
				<select id="title" class="form-control textbox" name="title" required="required" type="text">
					<option>Adv</option>
					<option>Dr</option>
					<option>Ds</option>
					<option>Me</option>			
					<option>Mev</option>
					<option>Mej</option>
					<option>Mnr</option>
					<option>Mr</option>
					<option>Mrs</option>			
					<option>Ms</option>
					<option>Miss</option>
					<option>Prof</option>			
					<option>Rev</option>																		
				</select>
				<div class="help-block with-errors"></div>
			</div>
		</div>	
		<div class="col-md-6">
			<div class="form-group">
				<label for="firstname">*Firstname </label><br />
				<input id="firstname" class="form-control textbox" name="firstname" required="required" type="text"  data-error="Firstname is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>	
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="lastname">*Lastname </label><br />
				<input id="lastname" class="form-control textbox" name="lastname" required="required" type="text"  data-error="Lastame is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="email">*Email Address</label><br />
				<input id="email" class="form-control textbox" name="email" required="required" type="text" placeholder="e.g. mail@domain.com" data-error="Email is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="contact">*Contact Number </label><br />
				<input id="contact" class="form-control textbox" name="contact" required="required" type="text"  data-error="Contact Number is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="passport">*ID, passport or membership number </label><br />
				<input id="passport" class="form-control textbox" name="passport" required="required" type="text"  data-error="ID, passport or membership number is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="city">*City </label><br />
				<input id="city" class="form-control textbox" name="city" required="required" type="text"  data-error="City is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>	
		<div class="col-md-6">
			<div class="form-group">
				<label for="contact_time">*Preferred Contact Time</label><br />
				<select id="contact_time" class="form-control textbox" name="contact_time" required="required" type="text">
					<option>AnyTime</option>
					<option>8:00-9:00</option>
					<option>9:00-10:00</option>
					<option>10:00-11:00</option>			
					<option>11:00-12:00</option>
					<option>12:00-13:00</option>
					<option>13:00-14:00</option>
					<option>14:00-15:00</option>			
					<option>15:00-16:00</option>													
				</select>
				<div class="help-block with-errors"></div>
			</div>
		</div>		
	</div>

	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="qualification">*Highest Qualification </label><br />			
				<input id="qualification" class="form-control textbox" name="qualification" required="required" type="text"  data-error="Qualification is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="occupation">*Occupation </label><br />			
				<input id="occupation" class="form-control textbox" name="occupation" required="required" type="text"  data-error="Occupation is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>

	<h6 class="checkbox-heading">CHOOSE WHAT YOUR MESSAGE IS RELATED TO </h6>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
					<input id="life_cover" name="life_cover" type="checkbox" value="Life, Disability and Sickness"  /> <small>Life, Disability and Sickness</small> 
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input id="financial_planning" name="financial_planning" type="checkbox" value="Financial Planning" /> <small>Financial Planning</small>  
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				 <input id="medical_aid" name="medical_aid" type="checkbox"  value="Profmed Medical Scheme" /> <small>Profmed Medical Scheme</small>  
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input id="car_household" name="car_household" type="checkbox" value="Car and Household Insurance"/> <small>Car & Household Insurance</small> 
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>

	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				 <input id="invest_save" name="invest_save" type="checkbox"  value="Investment, Retirement and Savings" /> <small>Investment, Retirement and Savings</small> 
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input id="business_insurance" name="business_insurance" type="checkbox" value="Health Professions Indemnity" /> <small>Health Professions Indemnity</small>  
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>

	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				 <input id="credit_payment" name="credit_payment" type="checkbox" value="Card and Payment Solutions"  /> <small>Card & Payment Solutions</small>  
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input id="not_sure" name="not_sure" type="checkbox" value="Not Sure" /> <small>Not Sure</small> 
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>	

	<div class="row rowMargin">
		<div class="col-4"></div>
		<div class="col-4 align-btn">  <input id="submitJoinPPS" type="submit" class="button-bg" value="Send"></div>
		<div class="col-4"></div>
	</div>
</form>



