<div class="boxed px-4 py-1" style="background: rgba(9,30,53,1)" class="aos-init aos-animate">
  <div class="row justify-content-between align-items-center text-center text-md-left">
    <div class="col-md-3">
      <h2 class="h1 text-white font-weight-bold">Join PPS</h2>
    </div>
    
    <div class="col-md-6">
        <p class="text-white">
            PPS offers tailor-made insurance, investment and healthcare solutions exclusively for graduate professionals with an honours level*/equivalent or higher qualification, from a public institution or certain listed private institutions.
        </p>

        <small class="text-white">
            *Honours level equivalent qualification includes certain BTechs, 3 year undergraduate degrees or diplomas plus a postgraduate qualification or professional designation.
        </small>
    </div>
    
    <div class="col-md-3 text-lg-right">
      <a href="/join-pps" class="btn btn-white btn-rounded px-5 member">Become a member</a>
    </div>
  </div>
</div>
        
