<div class="subnav-container subnav">
      <div class="container-fluid">

      
                    <li class="menu-item">
        <a href="/insure/life-solutions/accidental-death-cover" data-drupal-link-system-path="node/290">Accidental Death Cover</a>
              </li>
                <li class="menu-item">
        <a href="/insure/life-solutions/education-cover" data-drupal-link-system-path="node/203">Education Cover</a>
              </li>
                <li class="menu-item">
        <a href="/insure/life-solutions/life-cover" data-drupal-link-system-path="node/176">Life Cover</a>
              </li>
                <li class="menu-item">
        <a href="/insure/life-solutions/critical-illness-cover" data-drupal-link-system-path="node/207">Critical Illness Cover</a>
              </li>
                <li class="menu-item">
        <a href="/life-solutions/disability-cover">Disability Cover</a>
              </li>
                <li class="menu-item">
        <a href="/insure/life-solutions/sickness-cover" data-drupal-link-system-path="node/212">Sickness Cover</a>
              </li>
                <li class="menu-item">
        <a href="/insure/life-solutions" data-drupal-link-system-path="node/260" class="is-active active-link subnav-parent-link">Life Solutions</a>
              </li>
        </div>
    </div>

<style>
      .subnav{
            margin-top: -73px !important; 
            height: 125px !important;
      }

     @-moz-document url-prefix() {
           .subnav{
                  margin-top: -46px !important;
                  height: 75px !important;
           }

           .region .subnav-container li.menu-item {
                  margin-top: 10px;
                  color: #000;
                  float: right;
                  width: 145px;
                  text-align: center;
                  border-left: 1px solid #ccc;
                  padding: 0px 2px;
                  height: 79px;
            }
     } 
</style>