{# <section>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12">

<div class="boxed p-4" style="background: rgba(9,30,53,1)" >
  <div class="row justify-content-between align-items-center text-center text-md-left">
    {# <div class="col-md-3">
      <h2 class="text-white font-weight-bold">Latest news</h2>
    </div> #}
    {# <div class="col-md-9">
    <h2 class="text-white font-weight-bold">Latest news</h2>
      <p class="text-white latest-news"></p>
    </div>
    <div class="col-md-3 text-lg-right">
      <a href="#." class="btn btn-white btn-rounded px-5 read-more-latest-news">Read more</a>
    </div>
  </div>
</div>


</div>
</div>

</div>
</section> #} 
<footer class="bg-blue text-white groupfooter" hidden>

    <div class="container py-5">
    {# <div class="row">
            <div class="col-md-12 col-lg-12 latest-news">
                <h5 class="text-gold font-weight-bold">Latest news</h5>   

	        </div>
           
      </div> #}
        <div class="row">

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Product Solutions</h5>

                <ul class="nav lavalamp"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 262.5px; height: 341.792px; transform: translate(15px, 42px);"></div>
                      <div class="region region-footer lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-refresh-footer" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-refresh-footer-menu">
            
        
      <ul class="menu">
            <li class="menu-item">
                  <a href="/insure/life-solutions">Life, Sickness &amp; Disability Cover</a>
            </li>

            <li class="menu-item">
                  <a href="/insure/pps-health-professions-indemnity">Health Professions Indemnity</a>
              </li>

            <li class="menu-item">
                  <a href="/insure/car">Car, Home &amp; Business Insurance</a>
            </li>

            <li class="menu-item">
                  <a href="/invest/start-investment">Investments</a>
            </li>

            <li class="menu-item">
                  <a href="/plan/financial-advisory">Financial Advisory</a>
            </li>


            {# <li class="menu-item">
                  <a href="/about/mutuality">Mutuality</a>
            </li> #}
                
                
            <li class="menu-item">
                  <a href="/plan/wealth-advisory">Wealth Advisory</a>
            </li>

            <li class="menu-item">
                  <a href="/plan/wills-trusts-estate-planning">Wills, Trusts &amp; Estate Planning</a>
            </li>

            <li class="menu-item">
                  <a href="/insure/medical-aid">Medical Aid</a>
            </li>
      </ul>
  


  </nav>

  </div>


                </ul>

            </div>

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Useful Links</h5>
                <ul class="nav float-left lavalamp" style="width:50%"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 131.25px; height: 211.75px; transform: translate(0px, 0px);"></div>
                      <div class="region region-useful-links lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-usefullinksleft-2" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-usefullinksleft-2-menu">
            
        
                        <ul class="menu">
                        <li class="menu-item">
        <a href="https://www.pps.co.za/covid-19-coronavirus">Covid-19 (Coronavirus)</a>
              </li>
                    <li class="menu-item">
        <a href="/join-pps">Join PPS</a>
              </li>
                <li class="menu-item">
        <a href="/claims">Claims</a>
              </li>
                <li class="menu-item">
        <a href="/plan/horizon-digital">PPS Horizon</a>
              </li>
                <li class="menu-item">
        <a href="/advisers-0">Financial Advice</a>
              </li>
                <li class="menu-item">
        <a href="/faqs/all">FAQs</a>
              </li>
  		<li class="menu-item">
        <a href="/about/legal-and-compliance">Legal</a>
              </li>
        </ul>
  </nav>

  </div>

                </ul>

                <ul class="nav float-left lavalamp" style="width:50%"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 131.25px; height: 177.292px; transform: translate(0px, 0px);"></div>
                      <div class="region region-useful-links2 lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-usefullinksright-2" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-usefullinksright-2-menu">
            
        
           <ul class="menu">
                    <li class="menu-item">
        <a href="" data-drupal-link-system-path="<front>">Bursaries</a>
              </li>
                <li class="menu-item">
        <a href="/careers">Careers</a>
              </li>
                <li class="menu-item">
        <a href="/about/media/press-releases" data-drupal-link-system-path="<front>">News and Media</a>
              </li>
                <li class="menu-item">
        <a href="/media/blogs" data-drupal-link-system-path="<front>">Blog</a>
              </li>
                <li class="menu-item">
        <a href="/about/associations">Associations</a>
              </li>
		<li class="menu-item">
        <a href="/documents/Directors.pdf" data-drupal-link-system-path="<front>">Directors</a>
              </li>
        </ul>
  


  </nav>

  </div>

                </ul>

            </div>

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Contact Us</h5>
                <p class="text-white">Should you be a PPS member and wish to speak to a qualified PPS consultant about
                    any query that you might have, please call us on the details below or <a href="/contact-pps">click here</a> for more contact
                    details.</p>
                <p class="mb-0"><a href="tel:0860123777" class="text-light-blue" title="TEL: 0860 123 777"><span class="text-white">TEL</span> 0860 123 777</a></p>
                <p class="mb-0"><a href="tel:+27116444300" class="text-light-blue" title="TEL (intl.) +27 11 644 4300"><span class="text-white">TEL (intl.)</span> +27
                        11 644 4300</a></p>
            </div>

            <div class="col-md-12 col-lg-3 text-center">

                <a href="/">
                    <img class="mb-2" src="/{{ active_theme_path() }}/assets/images/pps-logo-white.svg" alt="PPS Logo">
                </a>

                <div class="footer-social-btn">
                    <ul class="socials">
                        <li><a target="_blank" href="https://www.facebook.com/PPSforProfessionals" class="icon-facebook fs-20" title="Facebook"></a></li>
                        <li><a  target="_blank" href="https://www.instagram.com/pps_for_professionals/" class="icon-instagram fs-20" title="Instagram"></a></li>
                        <li><a  target="_blank" href="https://twitter.com/pps_sa" class="icon-twitter fs-20" title="Twitter"></a></li>
                        <li><a  target="_blank" href="https://www.linkedin.com/company/pps" class="icon-linkedin fs-20" title="LinkedIn"></a></li>
                    </ul>
                    <br>

                    <a href="/advisers-0" class="btn btn-gold btn-rounded">Advice</a>
                    <a href="#." class="btn btn-gold btn-rounded">Service</a>
                </div>

            </div>

        </div>
    </div>

    <div class="bg-dark p-2 text-center disclaimer-footer">
        Professional Provident Society is an authorised financial services provider. © {{ "now"|date("Y") }} All rights reserved.<a target="_blank" href="/{{ active_theme_path() }}/assets/pdf/TERMS AND CONDITIONS (1).pdf">Disclaimer</a>.
    </div>

</footer>
{# <style>
.views-field-field-article-name>div>a{
    padding: 0px !important;
    text-transform: initial !important;
    font-size:20px !important;
}
.views-field-field-article-name{
      margin-bottom: 5px ;
}
.views-field-created>span{
  color: #fff !important;
}
.views-field-created{
      margin-bottom:5px !important;
}
.views-more-link{
    text-transform: initial !important;
    padding:0px !important;
    font-size:14px !important;
}
.views-field-field-the-excerpt>div>p{
      color: #fff !important;
}
.views-field-field-the-excerpt{
      margin-bottom:5px !important;
}
</style> #}
