 <!-- header -->
  
    <header class="header-sticky header-dark">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark pt-1 pb-1">
          <a class="navbar-brand float-left m-0 bg-blue" href="/">
            <img class="navbar-logo navbar-logo-light navbar-big-logo pps-logo" src="/{{ active_theme_path() }}/assets/images/namibia-logo-2019.png" title="PPS For Professionals" alt="PPS Logo" style="display:none">
            {# <img class="navbar-logo navbar-logo-dark navbar-big-logo pps-logo" src="/{{ active_theme_path() }}/assets/images/pps-logo-white.svg" title="PPS For Professionals" alt="PPS Logo" style="display:none"> #}
            {# <img class="navbar-logo navbar-logo-light pps-icon" src="/{{ active_theme_path() }}/assets/images/pps-icon-white.png" title="PPS For Professionals" alt="PPS Logo" style="display:none"> #}
            <img class="navbar-logo navbar-logo-dark pps-icon" src="/{{ active_theme_path() }}/assets/images/pps-icon-white.png" title="PPS For Professionals" alt="PPS Logo" style="display:none">
          </a>
          <button id="logins" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

          <div class="collapse navbar-collapse d-none" id="navbarSupportedContent">


            <ul id="logins" class="navbar-nav align-items-center mr-0 float-right navbar-cta">

              <li class="nav-item btn-search" id="searchBtn">
                <a href="#." title="Search"><i class="icon-search"></i></a>
              </li>

              <li class="nav-item">
                <a href="/join-pps" title="Join PPS" class="btn btn-light-blue btn-rounded">Join PPS</a>
              </li>

              <li class="nav-item">
                <a href="/login" title="Login" class="btn btn-transparent-white btn-rounded">Login</a>
              </li>

            </ul>

			<ul class="navbar-nav align-items-center mr-0 float-right">			
				{{ page.primary_menu }}
			</ul>

          </div>
          <div class="clearfix"></div>
        </nav>
      </div>
    </header>

    <div class="subnav-container">
      <div class="container-fluid">

      </div>
    </div>
 

    
