 <!-- header -->
  
    <header class="header-sticky header-dark">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark pt-1 pb-1">
          <a class="navbar-brand float-left m-0 bg-blue" href="/">
            <img class="navbar-logo navbar-logo-light navbar-big-logo pps-logo" src="/{{ active_theme_path() }}/assets/images/pps-logo-white.svg" title="PPS For Professionals" alt="PPS Logo" style="display:none">
            <img class="navbar-logo navbar-logo-dark navbar-big-logo pps-logo" src="/{{ active_theme_path() }}/assets/images/pps-logo-white.svg" title="PPS For Professionals" alt="PPS Logo" style="display:none">
            <img class="navbar-logo navbar-logo-light pps-icon" src="/{{ active_theme_path() }}/assets/images/pps-icon-white.png" title="PPS For Professionals" alt="PPS Logo" style="display:none">
            <img class="navbar-logo navbar-logo-dark pps-icon" src="/{{ active_theme_path() }}/assets/images/pps-icon-white.png" title="PPS For Professionals" alt="PPS Logo" style="display:none">
          </a>
          <button id="logins" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

          <div class="collapse navbar-collapse d-none" id="navbarSupportedContent">

            <div class="col-md-12 col-lg-12">

              <div class="d-flex justify-content-end">

                <ul class="navbar-nav align-items-center mr-0 float-right">			
                  {{ page.primary_menu }}
                </ul>

                <ul id="logins" class="navbar-nav align-items-center mr-0 float-right navbar-cta">

                  {# <li class="nav-item btn-search">
                    <a href="#." title="Search"><i class="icon-search"></i></a>
                  </li> #}

                  <li class="nav-item" style="border-left: 1px solid #fff; padding-left: 20px">
                    <a href="/join-pps" title="Join PPS" class="btn btn-light-blue btn-rounded">Join PPS</a>
                  </li>

                  <li class="nav-item">
                    <a href="/login" title="Login" class="btn btn-transparent-white btn-rounded">Login</a>
                  </li>

                </ul>

              </div>

            </div>

          </div>
          <div class="clearfix"></div>
        </nav>
      </div>
    </header>
    
    <div class="subnav-container">
      <div class="container-fluid">

      </div>
    </div>

    <div class="notification">
      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="col-12 col-md-8 col-lg-8 text-center">
          <p style="color:#fff;font-weight: 500; padding: 5px 0px 6px; font-size: 13px;">
            <strong>Please note:</strong> Due to major platform upgrades, all PPS secure websites and applications will not be available <br/> from Friday 19 June 19:00 until Monday 22 June 10:00. Please check after Monday 10:00 to access our platforms again.
          </p></div>
          </div>
      </div>
    </div>
 

    
