<div class="payment-solutions-form c-section -space-small" id="section-apply">
			
			<div class="c-container">
				
				<div class="row">
					<!-- Form here -->
					<div class="col-md-12">
					<div class="modal-body content-top-margin" style="padding-left:0px;">
				<div class="modal-header" style="padding-left:0px;">
					<h4 class="modal-title c-summary-1-title">Request a call back</h4>
			  </div>
			<p class="modal-subheader">Please provide us with the following details:</p>
			
			
			{# <form name="infoFormBottom" id="infoFormBottom">
			  <input type="hidden" id="SourcePage" name="SourcePage" value="">
			<div class="row">
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label">Name:</label>
														<input  class="c-form-input" name="_callbackName" id="_callbackName" placeholder="Enter your name" required="required" type="text">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label ">Surname:</label>
														<input class="c-form-input" name="_callbackSurname" id="_callbackSurname" placeholder="Enter your surname" required="required" type="text">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label ">Email address:</label>
														<input class="c-form-input" name="_callbackEmail" id="_callbackEmail" placeholder="Enter email address" required="required" type="email">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label ">Contact number:</label>
														<input class="c-form-input" name="_callbackPhone" id="_callbackPhone" placeholder="Enter contact number" required="required" type="tel">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label ">ID/Passport number:</label>
														<input class="c-form-input" name="_callbackPassport" id="_callbackPassport" placeholder="Enter ID/Passport number" required="required" type="text">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label ">Preferred contact time:</label>
														<select class="c-form-select" name="_callbackTime" id="_callbackTime" required="required">
															<option selected="" value="">Select time</option>
																<option value="08:00">08:00</option>
															  <option value="08:00">08:30</option>
															  <option value="09:00">09:00</option>
															  <option value="09:00">09:30</option>
															  <option value="10:00">10:00</option>
															  <option value="10:30">10:30</option>
															  <option value="11:00">11:00</option>
															  <option value="11:30">11:30</option>
															  <option value="11:00">12:00</option>
															  <option value="12:30">12:30</option>
															  <option value="13:00">13:00</option>
															  <option value="13:30">13:30</option>
															  <option value="14:00">14:00</option>
															  <option value="14:30">14:30</option>
															  <option value="15:00">15:00</option>
															  <option value="15:30">15:30</option>
															  <option value="16:00">16:00</option>
															  <option value="16:30">16:30</option>
															  <option value="17:00">17:00</option>
															  <option value="17:30">17:30</option>
														</select>
													</div>
												</div>												
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label ">Province:</label>
														<select class="c-form-select" name="_province" id="_province" required="required">
															<option selected="" value="">Select province</option>
															  <option value="Gauteng">Gauteng</option>
															  <option value="KwaZulu-Natal">KwaZulu-Natal</option>
															  <option value="Mpumalanga">Mpumalanga</option>
															  <option value="Western Cape">Western Cape</option>
															  <option value="Limpopo">Limpopo</option>	
															  <option value="Eastern Cape">Eastern Cape</option>	
															<option value="North West">North West</option>
															<option value="Free State">Free State</option>
															<option value="Northern Cape">Northern Cape</option>															  
														</select>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label ">City:</label>
														<input class="c-form-input" name="_city" id="_city" placeholder="Enter your city" required="required" type="text">
													</div>
												</div>
													<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label ">Industry:</label>
														<select class="c-form-select" name="_industry" id="_industry" required="required">
															<option selected value="">Select industry</option>
															  <option value="Medical and Health">Medical and Health</option>
															  <option value="Online business">Online business</option>
															  <option value="Retail">Retail</option>
															  <option value="Fast food and Restaurant">Fast food and Restaurant</option>
															  <option value="Travel and Entertainment">Travel and Entertainment</option>	
															  <option value="Other">Other</option>	
																														  
														</select>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label ">Do you have a practice or a business?</label>
															
														<select class="c-form-select" name="_practicebusiness" id="_practicebusiness" required="required">
															<option selected value="Yes">Yes</option>
															  <option value="No">No</option>
															  
															 	
																														  
														</select>
													</div>
												</div>
												<div class="col-sm-12 text-center">
													<button type="submit" class="c-button-1 -color-green-outline -hover-green-default -size-medium -corner-circle" id="callBackSubmitBottom" name="button" style="color:white" ;="">SUBMIT FORM</button>
												</div>						
											</div>
											</form> #}
											<!-- Begin Mailchimp Signup Form -->
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div>
<form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=95cf428ad5&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"  novalidate>
    <div id="mc_embed_signup_scroll">
	{# <h2>Subscribe to our mailing list</h2> #}
{# <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> #}
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-PHONE">Contact Number </label>
	<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE5">ID/Passport Number </label>
	<input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE6">Preferred Contact Time </label>
	<select name="MMERGE6" class="" id="mce-MMERGE6">
	<option value="">---Please Select---</option>
	<option value="Anytime">Anytime</option>
	<option value="8:00 - 9:00">8:00 - 9:00</option>
	<option value="9:00 - 10:00">9:00 - 10:00</option>
	<option value="10:00 - 11:00">10:00 - 11:00</option>
	<option value="11:00 - 12:00">11:00 - 12:00</option>
	<option value="12:00 - 13:00">12:00 - 13:00</option>
	<option value="13:00 - 14:00">13:00 - 14:00</option>
	<option value="14:00 - 15:00">14:00 - 15:00</option>
	<option value="15:00 - 16:00">15:00 - 16:00</option>

	</select>
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE9">Province </label>
	<select name="MMERGE9" class="" id="mce-MMERGE9">
	<option value="">---Select Province---</option>
	<option value="Gauteng">Gauteng</option>
	<option value="KwaZulu - Natal">KwaZulu - Natal</option>
	<option value="Mpumalanga">Mpumalanga</option>
	<option value="Western Cape">Western Cape</option>
	<option value="Limpopo">Limpopo</option>
	<option value="Eastern Cape">Eastern Cape</option>
	<option value="North West">North West</option>
	<option value="Free State">Free State</option>
	<option value="Northern Cape">Northern Cape</option>

	</select>
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE3">City </label>
	<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE10">Industry </label>
	<select name="MMERGE10" class="" id="mce-MMERGE10">
	<option value="">---Select Industry---</option>
	<option value="Medical and Health">Medical and Health</option>
	<option value="Online Business">Online Business</option>
	<option value="Retail">Retail</option>
	<option value="Fast food and Restaurant">Fast food and Restaurant</option>
	<option value="Travel and Entertainment">Travel and Entertainment</option>
	<option value="Other">Other</option>

	</select>
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE7">Do you have a practice or a business? </label>
	<select name="MMERGE7" class="" id="mce-MMERGE7">
	<option value="">---Please Select---</option>
	<option value="Practice">Practice</option>
<option value="Business">Business</option>

	</select>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_95cf428ad5" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup—>




Kind regards,
Phaladi Moholane / Application Developer
 

 
Office: +27(0)11-883-1039 / Mobile: +27(0)84-353-0353 / Email: phaladi@bluevinegroup.co.za
Address: The Hunt at Hunts End, 38 Wierda Road West, Wierda Valley, Sandton, 2196
Website: www.bluevinegroup.co.za / Connect: @BluevineGroup Twitter  Facebook  LinkedIn

 
Disclaimer and Confidentiality Note
This e-mail, its attachments and any rights attaching hereto are, unless the context clearly indicates otherwise, is the property of Bluevine Group (Pty) Ltd. It is confidential, private and intended for the addressee only. Should you not be the addressee and receive this e-mail by mistake, kindly notify the sender, delete this e-mail immediately and do not disclose or use same in any manner whatsoever. Any copying, publication or disclosure of this message, or part hereof, in any form whatsoever, without the sender's written consent, is prohibited. Views and opinions expressed in this e-mail are those of the sender unless clearly stated otherwise. Bluevine Group (Pty) Ltd accepts no liability whatsoever for any loss or damages incurred, or suffered, resulting, or arising, from the use of this e-mail or its attachments. Bluevine Group (Pty) Ltd does not warrant the integrity of this e-mail nor that it is free of errors, viruses, interception or interference. For information about Bluevine Group (Pty) Ltd, please contact our office at +27(0)11-883-1039.





	
		  </div>
					</div>
				</div>
			
				<!-- About End -->
			</div>
		</div>