<form class="planForm" method="POST">
	<div class="row-margin">
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
						<input id="fullname" class="form-control textbox" name="fullname" required="required" type="text"  data-error="Full name is required." placeholder="Full name"/>
						<div class="help-block with-errors"></div>
					</div>
			</div>
			<div class="col-md-4">
						<div class="form-group">
							<p class="text-white time-heading-margin">Time to call:</p>
					</div>
			</div>
			<div class="col-md-4">

			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
					<div class="form-group">
						<input id="contactnumber" class="form-control textbox" name="contactnumber" required="required" type="text"  data-error="Contact number is required." placeholder="Contact number"/>
						<div class="help-block with-errors"></div>
					</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<select id="dayOfWeek" class="form-control textbox" name="dayOfWeek" required="required" type="text">
						<option>Select day</option>
						<option>Anyday</option>															
						<option>Monday</option>
						<option>Tuesday</option>
						<option>Wednesday</option>
						<option>Thursday</option>	
						<option>Friday</option>																																															
					</select>
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="col-md-4">

			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<input id="emailaddress" class="form-control textbox" name="emailaddress" required="required" type="text"  data-error="Email address is required." placeholder="Email Address"/>
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<select id="timeOfWeek" class="form-control textbox" name="timeOfWeek" required="required" type="text">
						<option>Select Time</option>
						<option>AnyTime</option>
						<option>8:00</option>
						<option>8:30</option>
						<option>9:00</option>	
						<option>9:30</option>	
						<option>10:00</option>
						<option>10:30</option>
						<option>11:00</option>	
						<option>11:30</option>
						<option>12:00</option>
						<option>12:30</option>
						<option>13:00</option>	
						<option>13:30</option>	
						<option>14:00</option>
						<option>14:30</option>
						<option>15:00</option>	
						<option>15:30</option>	
						<option>16:00</option>
						<option>16:30</option>
						<option>17:00</option>	
						<option>17:30</option>																																																																																										
					</select>
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="col-md-4 margin-btn">
				<input type="submit" class="btn btn-white btn-rounded px-5" value="CALL ME BACK" id="submitFinancialPlan" name="submit"/>
			</div>
		</div>
	</div>
</form>