<form class="ppsiContactUs" method="POST">
	<!--<h4><strong>Personal Details</strong></h4>-->
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="title">*Title</label><br />
				<select id="title" class="form-control textbox" name="title" required="required" type="text">
					<option>Adv</option>
					<option>Dr</option>
					<option>Ds</option>
					<option>Me</option>			
					<option>Mev</option>
					<option>Mej</option>
					<option>Mnr</option>
					<option>Mr</option>
					<option>Mrs</option>			
					<option>Ms</option>
					<option>Miss</option>
					<option>Prof</option>			
					<option>Rev</option>																		
				</select>
				<div class="help-block with-errors"></div>
			</div>
		</div>	
		<div class="col-md-6">
			<div class="form-group">
				<label for="firstname">*Firstname </label><br />
				<input id="firstname" class="form-control textbox" name="firstname" required="required" type="text"  data-error="Firstname is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>	
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="lastname">*Lastname </label><br />
				<input id="lastname" class="form-control textbox" name="lastname" required="required" type="text"  data-error="Lastame is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="email">*Email Address</label><br />
				<input id="email" class="form-control textbox" name="email" required="required" type="text" placeholder="e.g. mail@domain.com" data-error="Email is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="contact">*Contact Number </label><br />
				<input id="contact" class="form-control textbox" name="contact" required="required" type="text"  data-error="Contact Number is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="city">*City </label><br />
				<input id="city" class="form-control textbox" name="city" required="required" type="text"  data-error="City is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>	
	</div>
	<div class="row rowMargin">

		<div class="col-md-6">
			<div class="form-group">
				<label for="contact_time">*Preferred Contact Time</label><br />
				<select id="contact_time" class="form-control textbox" name="contact_time" required="required" type="text">
					<option>AnyTime</option>
					<option>8:00-9:00</option>
					<option>9:00-10:00</option>
					<option>10:00-11:00</option>			
					<option>11:00-12:00</option>
					<option>12:00-13:00</option>
					<option>13:00-14:00</option>
					<option>14:00-15:00</option>			
					<option>15:00-16:00</option>													
				</select>
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="qualification">*Highest Qualification </label><br />			
				<input id="qualification" class="form-control textbox" name="qualification" required="required" type="text"  data-error="Qualification is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>

	</div>

	<div class="row rowMargin">

		<div class="col-md-6">
			<div class="form-group">
				<label for="occupation">*Occupation </label><br />			
				<input id="occupation" class="form-control textbox" name="occupation" required="required" type="text"  data-error="Occupation is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>

	<div class="row rowMargin">
		<div class="col-4"></div>
		<div class="col-4 align-btn">  <input id="submitPPSIContactUs" type="submit" class="btn btn-white btn-rounded px-5" value="Send"></div>
		<div class="col-4"></div>
	</div>
</form>



