<form name="rsvpWith" id="rsvpWith">
	<input type="hidden" id="SourcePage" name="SourcePage" value="">
	<div class="row">
		<div class="col-sm-6">
			<div class="c-form-group">
				<label class="c-form-label">Name:</label><br/>
				<input class="c-form-input form-control" name="_rsvpName" id="_rsvpName" placeholder="Enter your name" required="required" type="text">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="c-form-group">
				<label class="c-form-label ">Surname:</label><br/>
				<input class="c-form-input form-control" name="_rsvpSurname" id="_rsvpSurname" placeholder="Enter your surname" required="required" type="text">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="c-form-group">
				<label class="c-form-label ">Cellphone:</label><br/>
				<input class="c-form-input form-control" name="_rsvpCellphone" id="_rsvpCellphone" placeholder="Enter email address" required="required" type="email">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="c-form-group">
				<label class="c-form-label ">Dietary requirements:</label><br/>
				<select class="c-form-select form-control" name="_rsvpDietary" id="_rsvpDietary" required="required">
						<option selected="" value="">Halaal</option>
						<option value="08:00">Kosher</option>
						<option value="08:00">Vegetarian</option>
						<option value="08:00">None</option>
				</select>
			</div>
		</div>												

		<div class="col-sm-12 text-center">
			<a class="c-button-1 -color-green-outline -hover-green-default -size-medium -corner-circle" id="rsvpSubmitBottom" name="button" style="color:white" ;="">SUBMIT FORM</a>
		</div>						
	</div>
</form>