{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="/{{ active_theme_path() }}/assets/js/jquery-3.3.1.min.js"></script> #}

<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>

{# https://webchat.pps.co.za/webchat_ucc_memberservices_webchat/ #}
<script type="text/javascript" src="https://webchat.pps.co.za/webchat_ucc_memberservices_webchat/sfbwebchatplus/js/jquery-2.1.0.js"></script>
    <script id="anywhere365-sfbwebchatplus-client-index-external" src="https://webchat.pps.co.za/webchat_ucc_memberservices_webchat//sfbwebchatplus/js/anywhere365_sfbwebchatplus_client_index_external.js"></script>
    <script>
    var optionalArguments = [];
    Anywhere365WebchatIntegration.Init(optionalArguments);
  </script>

<script>
    // Webchat Mobile Script

    console.log('Webchat Script Below');
    
    setTimeout(function(){
      //console.log('PPS: '+ $('#chat_tab').length); 
    
    
      

        $('#chat_tab > span').on("click", function(){
          console.log('Webchat Script 1');
          //alert('PPS Webchat');

            $('.chat_tab_extension').removeAttr('style');

            $('#chat_tab_extension').addClass('displayChat');
            $('.displayChat').removeAttr('id');

            $(this).hide();
        });

        /*$('.mCSB_6_container > div > a').on("click", function(){
          $('#chat_tab > span').hide();
           $('#chat_tab_extension').removeClass('displayChat');
        }*/

        $('.modal-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            /*$('#chat_tab_extension').hide();*/
            $('#chat_tab > span').show();
        });

        $('.anywhere365-sfbwebchatplus-linkbutton').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            $('#chat_tab_extension').hide();
            $('#chat_tab > span').show();
        });

        $('.webchat-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            /*$('#chat_tab_extension').hide();*/
            $('#chat_tab > span').show();
        });

    }, 3000);
</script>