<footer class="bg-blue text-white stifooter" hidden>
    <div class="container py-5">
        <div class="row">

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Product Solutions</h5>

                <ul class="nav lavalamp"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 262.5px; height: 341.792px; transform: translate(15px, 42px);"></div>
                      <div class="region region-footer lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-refresh-footer" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-refresh-footer-menu">
            
        
      <ul class="menu">
            <li class="menu-item">
                  <a href="/insure/life-solutions">Life, Sickness &amp; Disability Cover</a>
            </li>

            <li class="menu-item">
                  <a href="/insure/pps-health-professions-indemnity">Health Professions Indemnity</a>
              </li>

            <li class="menu-item">
                  <a href="/insure/car">Car, Home &amp; Business Insurance</a>
            </li>

            <li class="menu-item">
                  <a href="/invest/start-investment">Investments</a>
            </li>

            <li class="menu-item">
                  <a href="/plan/financial-advisory">Financial Advisory</a>
            </li>


            {# <li class="menu-item">
                  <a href="/about/mutuality">Mutuality</a>
            </li> #}
                
                
            <li class="menu-item">
                  <a href="/plan/wealth-advisory">Wealth Advisory</a>
            </li>

            <li class="menu-item">
                  <a href="/plan/wills-trusts-estate-planning">Wills, Trusts &amp; Estate Planning</a>
            </li>

            <li class="menu-item">
                  <a href="/insure/medical-aid">Medical Aid</a>
            </li>
      </ul>
  


  </nav>

  </div>


                </ul>

            </div>

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Useful Links</h5>
                <ul class="nav float-left lavalamp" style="width:50%"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 131.25px; height: 211.75px; transform: translate(0px, 0px);"></div>
                      <div class="region region-useful-links lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-usefullinksleft-2" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-usefullinksleft-2-menu">
            
        
              <ul class="menu">
              <li class="menu-item">
        <a style="display:block" href="https://www.pps.co.za/covid-19-coronavirus">Covid-19 <br/>(Coronavirus)</a>
              </li>
                  <li class="menu-item">
        <a href="/about/mutuality">Mutuality</a>
              </li>
                    <li class="menu-item">
        <a href="/join-pps">Join PPS</a>
              </li>
                <li class="menu-item">
        <a href="/claims">Claims</a>
              </li>
                <li class="menu-item">
        <a href="/plan/horizon-digital">PPS Horizon</a>
              </li>
                {# <li class="menu-item">
        <a href="/advisers-0">Financial Advice</a>
              </li> #}
                <li class="menu-item">
        <a href="/faqs/all">FAQs</a>
              </li>
  		<li class="menu-item">
        <a href="/about/legal-and-compliance">Legal</a>
              </li>
        </ul>
        
  


  </nav>

  </div>

                </ul>

                <ul class="nav float-left lavalamp" style="width:50%"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 131.25px; height: 177.292px; transform: translate(0px, 0px);"></div>
                      <div class="region region-useful-links2 lavalamp-item" style="z-index: 5; position: relative;">
    <nav id="block-usefullinksright-2" class="mobile-submenu-hide" role="navigation" aria-labelledby="block-usefullinksright-2-menu">
            
        <ul class="menu">
                    <li class="menu-item">
        <a href="/foundation/pps-bursary-programme" >Bursaries</a>
              </li>
                <li class="menu-item">
        <a href="/careers">Careers</a>
              </li>
                <li class="menu-item">
        <a href="/about/media/press-releases" >News and Media</a>
              </li>
                <li class="menu-item">
        <a href="/media/blogs">Blog</a>
              </li>
                <li class="menu-item">
        <a href="/about/associations">Associations</a>
              </li>
		<li class="menu-item">
        <a href="/documents/Directors.pdf" data-drupal-link-system-path="<front>">Directors</a>
              </li>
              
                <li class="menu-item">
        <a style="display:block" href="/invest/fundperformance">Fund Performance</a>
              </li>
        </ul>
  


  </nav>

  </div>

                </ul>

            </div>

            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Contact Us</h5>
                <p class="text-white">Should you be a PPS member and wish to speak to a qualified PPS consultant about
                    any query that you might have, please call us on the details below or click here for more contact
                    details.</p>
                <p class="mb-0"><a href="tel:0860123777" class="text-light-blue" title="TEL: 0860 123 777"><span class="text-white">TEL</span> 0860 123 777</a></p>
                <p class="mb-0"><a href="tel:+27116444300" class="text-light-blue" title="TEL (intl.) +27 11 644 4300"><span class="text-white">TEL (intl.)</span> +27
                        11 644 4300</a></p>

                        <p class="text-white" style="margin-top:16px;">Home and Roadside Assist (Emergency Services)</p>
<p class="mb-0"><a href="tel:0860 777 784" class="text-light-blue" title="TEL (intl.) 0860 777 784"><span class="text-white">TEL </span> 0860 777 784</a></p>
<p class="text-white" style="padding:10px;">24/7</p>
                  
            </div>

            <div class="col-md-12 col-lg-3 text-center">

                <a href="/">
                    <img class="mb-2" src="/themes/custom/refresh/assets/images/pps-logo-white.svg" alt="PPS Logo">
                </a>

                 <div class="footer-social-btn">
                    <ul class="socials">
                        <li><a target="_blank" href="https://www.facebook.com/PPSforProfessionals" class="icon-facebook fs-20" title="Facebook"></a></li>
                        <li><a  target="_blank" href="https://www.instagram.com/pps_for_professionals/" class="icon-instagram fs-20" title="Instagram"></a></li>
                        <li><a  target="_blank" href="https://twitter.com/pps_sa" class="icon-twitter fs-20" title="Twitter"></a></li>
                        <li><a  target="_blank" href="https://www.linkedin.com/company/pps" class="icon-linkedin fs-20" title="LinkedIn"></a></li>
                    </ul>
                    <br>

                    
                    <a href="/join-pps" class="btn btn-gold btn-rounded">Call me back</a>
                </div>

        </div>
    </div>

    <div class="bg-dark p-2 text-center disclaimer-footer">
        Professional Provident Society is an authorised financial services provider. © {{ "now"|date("Y") }} All rights reserved.<a target="_blank" href="/{{ active_theme_path() }}/assets/pdf/TERMS AND CONDITIONS (1).pdf">Disclaimer</a>.
    </div>

</footer>
<script src="/{{ active_theme_path() }}/assets/js/stiforms.js"></script>
