{# Web Chat Start #}
<link rel="stylesheet" href="/{{ active_theme_path() }}/assets/js/WebChat/App.css" />

<style>

{# For Desktop Screens , Mobile To Follow #}
.PPSWebChat-MainContainer{
width: 550px;
}
.chat-header-1{
background: rgba(9,30,53,1) !important;
}
</style>
<div id="PPSWebChat_MainContainer" class="PPSWebChat-MainContainer">

    {# <div id="PPSWebChat_ChatWithUsPanel" class="PPSWebChat-PanelSize panel PPSWebChat-Blue PPSWebChat-White-Border">

      <span><i class="glyphicon glyphicon-comment" id="ChatWithUsHide"></i><span id="PPS_ChatWithUs"> Chat with us</span></span><br/> 

    </div> #}


    <div id="PPSWebChat_ChatInfoPanel" class="PPSWebChat-HideElement">

      <div class="embed-responsive embed-responsive-16by9" style="height: 529px;">
        <iframe id="webChatFrame" style="height:100%;"  class="embed-responsive-item" src="https://www.ppsisecure.co.za/ININ/ppsichat.aspx" allowfullscreen ></iframe>
      </div>

    </div>

    <div id="PPSWebChat_ChatPanel" class="PPSWebChat-HideElement">

        <div class="form-group col-sm-12 col-md-12">
        <button id="PPSWebChat_CloseChat" type="button" class="btn btn-primary btn-block PPSWebChat-Blue" style="background-color: #0e3db0 !important;"><i class="glyphicon glyphicon-minus PPSWebChat_Minimize"></i> Close Chat <i id="PPSWebChat_RemoveChat" class="glyphicon glyphicon-remove-sign"></i></button>
        </div>

    </div>



</div>
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="/{{ active_theme_path() }}/assets/js/jquery-3.3.1.min.js"></script> #}

<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>

<style>

{# For Desktop Screens , Mobile To Follow #}
.PPSWebChat-MainContainer{
width: 550px;
}
.chat-header-1{
background: rgba(9,30,53,1) !important;
}
@media (max-width: 575.98px) {
.PPSWebChat-MainContainer {
width: 320px !important;
z-index: 100000 !important;
}
.embed-responsive {
height:400px !important;
}

textarea{
width: 350px !important;
}

}

@media (min-width: 416px) { 
.PPSWebChat-MainContainer {
width: 320px !important;
z-index: 100000 !important;
}
.embed-responsive {
height:220px !important;
}

textarea{
width: 350px !important;
}
}

@media (min-width: 768px) {
.PPSWebChat-MainContainer{
width: 550px !important;
}
.embed-responsive {
height:529px !important;
}
}

{# // Large devices (desktops, 992px and up) #}
@media (min-width: 992px) { 
.PPSWebChat-MainContainer{
width: 550px !important;
}
.embed-responsive {
height:529px !important;
}
}

{# // Extra large devices (large desktops, 1200px and up) #}
@media (min-width: 1200px) { 
.PPSWebChat-MainContainer{
width: 550px !important;
}
.embed-responsive {
height:529px !important;
}
}




</style>
<script>

$(document).ready(function() { 


$('.chat-header').css("background","rgba(9,30,53,1)");
// $interval.cancel(addCssInterval);


$(".chat-header").css("background","rgba(9,30,53,1)");

$("#PPSWebChat_ChatWithUsPanel").on("click",function(){
$("#PPSWebChat_ChatInfoPanel").show();
$("#PPSWebChat_ChatPanel").show();
$("#PPSWebChat_ChatWithUsPanel").hide();
debugger;
$(".chat-header").css("background","rgba(9,30,53,1)");
debugger;
}); 


$( "#PPSWebChat_CloseChat" ).click(function() {

$("#PPSWebChat_ChatWithUsPanel").show();
$("#PPSWebChat_ChatInfoPanel").hide();
$("#PPSWebChat_ChatPanel").hide();	
});		
});
</script>
{# Web Chat End #}