.PPSWebChat-MainContainer
{
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #fff;
	width: 320px;
	z-index: 999;
}

.RequiredField
{
    border: 2px solid red !important;
    border-radius: 4px !important;	
}

.PPSWebChat-Blue
{
	background-color: #002f4d !Important;
	text-align: center;
	color:white;
}

.btn.PPSWebChat-Blue.PPSWebChat-Button
{
	padding: 0px;
}

.PPSWebChat-HideElement
{
	display: none;
}

.PPSWebChat-PanelSize {
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-bottom: 0px;
}

.PPSWebChat-ChatHistory {
	text-align: left;
	height: 270px;
	border-top: 2px solid #c1beb9;
	overflow: auto;
	readonly: true;
	/* border: 1px solid gray; */
	display: inline-block;
	box-sizing: border-box;
	border-radius: 0px;
	border-left: 2px solid #c1beb9;
	border-bottom: none;
	border-right: none;
	box-shadow:2px 2px 3px #666;
}	
.PPSWebChat-Server 
{
	color:black;
}

.PPSWebChat-Client{
	background-color: #b09453;
	color: #fff;
	border-radius: 5px;
	padding: 7px; 
	text-align: left;
	margin: 3px 0px;
}

.PPSWebChat-Agent{
	background-color: #002f4d;
	color: #fff;
	border-radius: 5px;
	padding: 7px; 
	margin: 3px 0px;
}

#PPSWebChat_DownArrowGlyph
{
	text-align: left;
}

#PPSWebChat_RemoveChat
{
float: right;	
}

.PPSWebChat_Minimize
{
	float: left;
	
}
.PPSWebChat-White-Border{
	border: solid white;
}
