{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{# <div class="row pt-4">
{% for item in items %}

	{% if loop.index0 == 1 %}
		<div class="col-12 col-md-6 col-lg-6 introduction-element">
	{% else %}
		<div class="col-12 col-md-3 col-lg-3 introduction-element">
	{% endif %}
		<div>
		{{ item.content}}	
		</div>	
	</div>
{% endfor %}
</div> #}



<div class="pt-4">
{% for item in items %}

	<div class="d-flex justify-content-center">

		<div class="col-12 col-md-6 col-lg-6 introduction-element">
			<div>
			{{ item.content}}	
			</div>	
		</div>

	</div>
{% endfor %}
</div>

<style>
	{# .introduction-element:nth-child(1) > div > p{
		border: 5px solid #6ac5d1;
		font-size: 20px;
		border-radius: 9rem;
		text-align: center;
		padding: 54px !important;

	}

	.introduction-element:nth-child(3) > div > p{
		border: 5px solid #B09455;
		font-size: 20px;
		border-radius: 9rem;
		text-align: center;
		padding: 54px !important;
	} #}
</style>


