{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% set myVal = 1 %}
{% for item in items %}
    <div class="col-12 col-md-12 col-lg-12 row wealth-members py-3">
        <div class="col-md-4">{{item.content}}</div>
        <div class="col-md-8">
            <p style="color: #fff; border-bottom: 3px solid #b09454" id="natal-userName{{ myVal }}"><span style="float: right" id="natal-linkedin{{ myVal }}"></span></p>
            <p  style="color: #fff; margin-top: -8px; font-size: 10pt;">Wealth Manager</p>
        </div>
        
    </div>

    {% set myVal = myVal + 1 %}
{% endfor %}

