@font-face {
    font-family: 'Whitney';
    src: url('Whitney-BlackItalic.eot');
    src: url('Whitney-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-BlackItalic.woff2') format('woff2'),
        url('Whitney-BlackItalic.woff') format('woff'),
        url('Whitney-BlackItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('Whitney-Light.eot');
    src: url('Whitney-Light.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Light.woff2') format('woff2'),
        url('Whitney-Light.woff') format('woff'),
        url('Whitney-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('Whitney-MediumItalic.eot');
    src: url('Whitney-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-MediumItalic.woff2') format('woff2'),
        url('Whitney-MediumItalic.woff') format('woff'),
        url('Whitney-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('Whitney-Book.eot');
    src: url('Whitney-Book.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Book.woff2') format('woff2'),
        url('Whitney-Book.woff') format('woff'),
        url('Whitney-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('Whitney-Bold.eot');
    src: url('Whitney-Bold.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Bold.woff2') format('woff2'),
        url('Whitney-Bold.woff') format('woff'),
        url('Whitney-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('Whitney-BookItalic.eot');
    src: url('Whitney-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-BookItalic.woff2') format('woff2'),
        url('Whitney-BookItalic.woff') format('woff'),
        url('Whitney-BookItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('Whitney-Semibold.eot');
    src: url('Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Semibold.woff2') format('woff2'),
        url('Whitney-Semibold.woff') format('woff'),
        url('Whitney-Semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('Whitney-Medium.eot');
    src: url('Whitney-Medium.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Medium.woff2') format('woff2'),
        url('Whitney-Medium.woff') format('woff'),
        url('Whitney-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('Whitney-SemiboldItalic.eot');
    src: url('Whitney-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-SemiboldItalic.woff2') format('woff2'),
        url('Whitney-SemiboldItalic.woff') format('woff'),
        url('Whitney-SemiboldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('Whitney-LightItalic.eot');
    src: url('Whitney-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-LightItalic.woff2') format('woff2'),
        url('Whitney-LightItalic.woff') format('woff'),
        url('Whitney-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
