{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    {# <css-placeholder token="{{ placeholder_token }}"> #}
    {# <js-placeholder token="{{ placeholder_token }}"> #}

    {% set currenturl2 = url('<current>') %}

    {% if '/car' in currenturl2|render|render %}

        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MLT66SB');</script>
        <script>
          console.log('HTML template pluggedin');
        </script>

    {% elseif '/pro-insure-home' in currenturl2|render|render %}

        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MLT66SB');</script>
        <script>
          console.log('HTML template pluggedin');
        </script>

    {% elseif '/pro-insure-business' in currenturl2|render|render %}

        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MLT66SB');</script>
        <script>
          console.log('HTML template pluggedin');
        </script>

    {% elseif '/Helpful-Tips-Car' in currenturl2|render|render %}

        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MLT66SB');</script>
        <script>
          console.log('HTML template pluggedin');
        </script>

    {% elseif '/sti-short-form/thank-you' in url|render|render %}

        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MLT66SB');</script>
        <script>
          console.log('HTML template pluggedin');
        </script>

    {% endif %}


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NHT45D6');
    </script>
    <!-- End Google Tag Manager -->

  </head>
  <body{{ attributes }}>
    {% set url = url('<current>') %}

    {% if '/car' in url|render|render %}

      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLT66SB"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {% elseif '/pro-insure-home' in url|render|render %}

      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLT66SB"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {% elseif '/pro-insure-business' in url|render|render %}

      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLT66SB"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {% elseif '/Helpful-Tips-Car' in url|render|render %}

      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLT66SB"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {% elseif '/sti-short-form/thank-you' in url|render|render %}

      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLT66SB"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {% endif %}

    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHT45D6" height="0" width="0" style="display:none;visibility:hidden"> </iframe>
    </noscript>


    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {# {{ 'Skip to main content'|t }} #}
      &nbsp;<br/>
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">


    {% set url = url('<current>') %}

    {% if '/invest' in url|render|render %}

    {% else %}

      {% include directory ~ '/parts/sitewebchat.html.twig' %}

    {% endif %}


    <script>

        /* lazyload.js (c) Lorenzo Giuliani
        * MIT License (http://www.opensource.org/licenses/mit-license.html)
        *
        * expects a list of:  
        * `<img src="blank.gif" data-src="my_image.png" width="600" height="400" class="lazy">`
        */

        !function(window){
          var $q = function(q, res){
                if (document.querySelectorAll) {
                  res = document.querySelectorAll(q);
                } else {
                  var d=document
                    , a=d.styleSheets[0] || d.createStyleSheet();
                  a.addRule(q,'f:b');
                  for(var l=d.all,b=0,c=[],f=l.length;b<f;b++)
                    l[b].currentStyle.f && c.push(l[b]);

                  a.removeRule(0);
                  res = c;
                }
                return res;
              }
            , addEventListener = function(evt, fn){
                window.addEventListener
                  ? this.addEventListener(evt, fn, false)
                  : (window.attachEvent)
                    ? this.attachEvent('on' + evt, fn)
                    : this['on' + evt] = fn;
              }
            , _has = function(obj, key) {
                return Object.prototype.hasOwnProperty.call(obj, key);
              }
            ;

          function loadImage (el, fn) {
            var img = new Image()
              , src = el.getAttribute('data-src');
            img.onload = function() {
              if (!! el.parent)
                el.parent.replaceChild(img, el)
              else
                el.src = src;

              fn? fn() : null;
            }
            img.src = src;
          }

          function elementInViewport(el) {
            var rect = el.getBoundingClientRect()

            return (
              rect.top    >= 0
            && rect.left   >= 0
            && rect.top <= (window.innerHeight || document.documentElement.clientHeight)
            )
          }

            var images = new Array()
              , query = $q('img.lazy')
              , processScroll = function(){
                  for (var i = 0; i < images.length; i++) {
                    if (elementInViewport(images[i])) {
                      loadImage(images[i], function () {
                        images.splice(i, i);
                      });
                    }
                  };
                }
              ;
            // Array.prototype.slice.call is not callable under our lovely IE8 
            for (var i = 0; i < query.length; i++) {
              images.push(query[i]);
            };

            processScroll();
            addEventListener('scroll',processScroll);

        }(this);

    </script>

  </body>
</html>
