{% include directory ~ '/parts/header.html.twig' %}
	
  <body id="product">
 {% include directory ~ '/parts/navigations.html.twig' %}
    

    <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image:url('/{{ active_theme_path() }}/assets/images/header-img.jpg')">
        
			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
			  </div>
    </section> 


<div class="container" style="padding: 20px;">
	<h3>JOIN PPS Clone</h3>

	{% include directory ~ '/parts/joinPPS.html.twig' %}

</div>


<style>
	.banner-top-spacing{
		background-size: cover; 
		height: 670px; 
	}

	.banner-text-invest{
		top: 350px;
	}

	.textbox{
		width: 100%;
		height: 40px;
		border-radius: 4px;
		background-color: #ffffff;
		color: #000;
		margin: auto;
	}

	@media(max-width:415px){

		.banner-text-invest {
			max-width: 177px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: -110px;
			font-size: 1rem !important;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}


	@media screen and (max-width: 900px) and (min-width: 417px){

		.banner-text-invest {
			max-width: 177px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 130px;
			font-size: 1rem !important;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}


	@media screen and (max-width: 900px) and (min-width: 576px){
		
		.banner-text-invest {
			max-width: 250px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 165px;
			font-size: 1.50rem !important;
			left: 15px;
		}

	}

	@media screen and (min-width: 900px) and (max-width: 1199px){
		
		.banner-text-invest {
			max-width: 300px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 190px;
			font-size: 2rem !important;
			left: 15px;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}
</style>

		<script>
			function openCity(cityName) {
				var i;
				var x = document.getElementsByClassName("city");
				for (i = 0; i < x.length; i++) {
				   x[i].style.display = "none";  
				}
				document.getElementById(cityName).style.display = "block";  
			}
			</script>
		
		<script src="../{{directory}}/assets/js/modernizr.js"></script>
		<!-- Modernizr -->
		{# <script src="../{{directory}}/assets/js/jquery-2.1.4.js"></script> #}
		<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../{{directory}}/assets/js/main.js"></script>
		<!-- Resource jQuery -->

		<script src="../{{directory}}/assets/js/hide.js"></script>
		<script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
		<script src="../{{directory}}/assets/js/tabs.js"></script>
		
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>
		
		<script>
			$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
		
			$('.burger').on('click',function(){
			
				if($('#block-2017ppsintegratedreport-2').hasClass('mobile-submenu-hide'))
				{
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-hide'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('submenu-show-style');
				}
				else{					 
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
				}
			
				 
			});
		</script>

<script>
	$(document).ready(function(){
	/*Start of Join PPS Form Integration */
	function submitJoinPPSForm(){
		alert('Phaladi1');
		 var title = $("#title").find(":selected").text();		
		 var firstname = $("#firstname").val();	
		 var lastname = $("#lastname").val();
		 var email = $("#email").val();
		 var contact = $("#contact").val();
		 var passport = $("#passport").val();
		 var city = $("#city").val();
		 var contact_time = $("#contact_time").find(":selected").text();	
		 var referringUrl = document.referrer;	
		 var qualification = $("#qualification").val();			
		 var occupation = $("#occupation").val();
		
		 var message_type = [];



		 if($("#life_cover").prop("checked") == true){		
		 	message_type.push($("#life_cover").val());
		 }
		 if($("#financial_planning").prop("checked") == true){
		 	message_type.push($("#financial_planning").val());
		 }

		 if($("#medical_aid").prop("checked") == true){		
		 	message_type.push($("#medical_aid").val());
		 }
		
		 if($("#car_household").prop("checked") == true){	
		 	message_type.push($("#car_household").val());
		 }

		 if($("#invest_save").prop("checked") == true){		
		 	message_type.push($("#invest_save").val());
		 }

		 if($("#business_insurance").prop("checked") == true){	
		 	message_type.push($("#business_insurance").val());
		 }
		
		 if($("#credit_payment").prop("checked") == true){	
		 	message_type.push($("#credit_payment").val());
		 }
		
		 if($("#not_sure").prop("checked") == true){			
		 	message_type.push($("#not_sure").val());	
		 }	
		

		 if ($.trim(title) && $.trim(firstname) && $.trim(lastname) && $.trim(email) && $.trim(contact) && $.trim(passport) && $.trim(qualification) && $.trim(occupation) && $.trim(city) && $.trim(contact_time) ){
				
		 	JoinPPSFunction(referringUrl, title,firstname, lastname, email, contact, passport, city, qualification, contact_time, occupation, message_type);
		
		 }else{
		 	//console.log("form will not be sent");
		 }
		
	}

	function JoinPPSFunction(referringUrl, title,firstname, lastname, email, contact, passport, city, qualification, contact_time, occupation, message_type) 
	{
		alert(email);
		$.ajax({
			cache: false,
			contentType:'application/json',
			method: 'POST',
			url: 'http://integrations.pps.co.za/api/v1/joinPPSAdvice',
			data: JSON.stringify({
				"occupation": occupation,
				"highestQualification": qualification,
				"title": title,
				"referringUrl": referringUrl,
				"city": city,
				"emailAddress": email,
				"preferredContactTime": contact_time,
				"surname": lastname,
				"firstName": firstname,
				"contactNumber": contact,
				"idNumber": passport,
				"queryRelations":message_type
			}),
			error: function (data) {
				console.log(data);
				console.log(JSON.stringify(data));
				//alert(JSON.stringify(data));
			},
			success: function (data) {
				//console.log(data); 
				window.location = "/thank-you";
				alert('Successsss m');
			},
			complete: function(data){
				//console.log(data);
			}
		});
		
	}

		$("#submitJoinPPS").on("click",function() {
		submitJoinPPSForm();
		//alert('2yey');
	});
});

	/*End of Contact Form Integration */

</script>


{% include directory ~ '/parts/footer.html.twig' %}