{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}

<section class="container" style=" margin-top: 179px; padding-bottom: 30px;">
	{# <div class="row">

		<div class="col-lg-12">

			<div class="col-lg-6 col-md-6 col-sm-12 card-margin-bottom" style="float:left;">
				<div class="card" >
					<div class="card-body">

						<h5 class="card-title" style="min-height: 60px;">PPS InTouch</h5>
						<div class="card-body-subtext">

							<p class="card-text">Manage all your clients’ PPS Life Insurance policies online.</p>
						</div>
						<div>
							<a target="_blank" href="https://ppsportal.pps.co.za/" class="btn btn-sm btn-blue sentence_case">Login</a>
							<a target="_blank"  href="https://selfreg.pps.co.za/InTouch/#/self-register/personal-info" class="btn btn-sm btn-transparent-blue sentence_case">Register</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12 card-margin-bottom" style="float:left;">
				<div class="card">
					<div class="card-body">

						<h5 class="card-title" style="min-height: 60px;">PPS Investments</h5>
						<div class="card-body-subtext">

							<p class="card-text">Manage all your clients’ PPS Investments Policies online.</p>
						</div>
						<div>
							<a target="_blank" href="https://www.ppsisecure.co.za/Security/Login.aspx" class="btn btn-sm btn-blue sentence_case">Login</a>
							<a target="_blank" href="https://www.ppsisecure.co.za/Registration/registration/Default" class="btn btn-sm btn-transparent-blue sentence_case">Register</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div> #}


	{{page.adviser_platforms}}

</section>

<section class="pt-4 separator-top" style="margin-top: 50px; padding-bottom: 3.5rem !important;">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-12">

				<div class="boxed p-4" style="background: rgba(9,30,53,1)"  data-aos="fade-up" class="aos-init aos-animate">
					<div class="row justify-content-between align-items-center text-center text-md-left">
						<div class="col-md-3">
							<h2 class="h1 text-white font-weight-bold">Join PPS</h2>
						</div>
						<div class="col-md-6">
							<p class="text-white">PPS offers tailor-made insurance, investment and healthcare solutions exclusively for graduate professionals with a qualifying four year degree or equivalent.</p>
						</div>
						<div class="col-md-3 text-lg-right">
							<a href="#." class="btn btn-white btn-rounded px-5">Become a member</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include directory ~ '/parts/footer.html.twig' %}

<style>
	.button-links > a:nth-child(even){
		    color: #091E35 !important;
			background-color: transparent !important;
			border: 2px solid #091E35 !important;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
	}

	.button-links > a:nth-child(odd){
		    color: #fff !important;
			background-color: #091E35 !important;
			border-color: #091E35 !important;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: bold;
			padding: 0.7rem;
	}

	.sentence_case{
		text-transform: initial;
	}
	.sentence-case{
		text-transform: initial;
		color: #091e35 !important;

	}
	@media (max-width: 576px){
		.btn{
			width: 130px !important;
		}
		.card-body{

			padding: 15px !important;
		}
		.card-margin-bottom{
			margin-bottom: 20px;
		}
	}



	.member-app-img{
		height: 35px !important;
		width: 114px !important;
	}
	.member-app-btn{
		float: left !important;
		padding: 0px !important;
	}

	.card-title{
		background: #041e37;
		border-bottom-color: #091E35;
		border-bottom-style: groove;
		border-bottom-width: 0.1px;
		color: #fff;
		padding: 10px;
		font-size: 18px
	}
	.card-text{
		padding:10px;
	}
	.read-more{
		color: #091e35 !important;
	}

	.read-more:hover, .read-more:active, .read-more:focus{
		color : #B09455 !important
	}

	.card-body-subtext{
		min-height: 200px;
	}
	.card-body-subtext-banking-app{
		min-height: 200px;
	}

	.card-body{
		min-height: 300px;
		padding: 8px !important;
	}
	.field--name-field-wealth-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-financial-advice-heading {
		font-weight: 100 !important;
		font-size: 42px;
	}
	.bg-light {
		background-color: #F0F0F0 !important;
		margin-bottom: 50px !important;
	}

	/*.bg-light .container {
		margin-top: -80px;
	}*/

	#product .block-life .block-bg {
		position: absolute;
		top: 55px;
		left: 65px;
		background: rgba(9,30,53,1);
		width: 400px;
		height: 285px;
	}

	#product .block-life li {
		position: absolute;
		left: -20px;
		list-style: none;
		top: -40px;
	}
	.field--name-field-financial-advice-image img{
		height: auto !important;
		width: 100%;
	}
	#banner-below {
		height: 74px;
		text-align: center;
		background-color: #D8C8AF;
		padding-top: 25px;
	}

	#banner-below span{
		color: #091E35 !important;
		font-size: 18px;
		font-weight: bold;
	}

	#innerSpan {
		font-weight: normal !important;
		font-size: 14px !important;
	}
	/*@media (min-width: 1200px)*/
	#fpContact .container {
		max-width: 100% !important;
	}
	#fpContact .container {
		padding: 0px 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.field--name-field-financial-advisory-banner img {
		width: 100% !important;
		height: 350px !important;
	}

	.banner-height {

		position: relative;

	}

	.banner-wrap{
		position: absolute;
		top: 40px;
	}

	.overlay-text {
		top: 78px;
		background: rgba(255,255,255,0.2);
		padding: 20px;
		border-radius: 3px;
		margin-left: 42px;
		margin-top: 60px;
	}

	.overlay-texts {
		background: rgba(255,255,255,0.4);
		padding: 20px;
		border-radius: 3px;
		margin-left: 42px;
		margin-top: 60px;
		z-index: 10;
		position: absolute;
		right: -68px;
		bottom: -266px;
	}

	.overlay-text h3 {
		color: #fff !important;
	}

	.field--name-field-wealth-banner-subtitle {
		color: #fff !important;
	}

	.overlay-text  {
		color: #091E35 !important;
	}

	.field--name-field-financial-advisory-text h3 {
		color: #091E35 !important;
	}

	.field--name-field-financial-advisory-text p {
		color: #fff;
	}

	.blue-background {
		height: 266px !important;
		width: 284px !important;
	}

	.paragraph-margin {
		margin-left: 20%;
		margin-right: 20%;
		text-align: justify;
	}

	.element-center img {
		width: 65px !important;
		height: auto !important;
	}

	.col-md-3 img {
		width: 100%;
		height: auto;
	}

	.rising p {
		padding-left: 3px;
		padding-right: 3px;

	}

	.element-center {
		padding: 20px;
		text-align: center;
		height: auto !important;
	}
	.heading-margin {
		margin-left: 20%;
		margin-right: 20%;
	}

	.div-padding {
		margin-bottom: 10px !important;
	}
	#listServicess{
		margin-bottom: 40px !important;
	}

	#section-news {
		background-color: #F0F0F0 !important;
		padding-top: 50px !important;
		padding-bottom: 27px !important;
	}

	.bottomMar {
		margin-bottom: 20px !important;
	}

	p a {
		color: #B09455 !important;
	}

	/*Financial Planning*/
	.banner-areas {
		position: relative;
	}
	.field--name-field-financial-planning-banner img {
		width: 100% !important;
		height: 500px !important;
	}
</style>