  <div id="accordion">
	{{ page.credit_card_faqs }}
  </div>
{# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script> #}
<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>