{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}

<section class="pt-20 pb-10 banner-top-spacing banner-images" style="background-image:url('http://34.76.147.18/themes/custom/refresh/assets/images/media-banner.jpg')">

    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Gazette</h1>
        </div>
    </div>
</section>

<section class="separator-top pb-8 pt-8">
    <div class="container">


        <div class="col-12 col-lg-12 col-md-12">
            <div class="row">

                <div class="col-12 col-md-6">

                    <div class="title-space">
                        <h5>English</h5>
                    </div>
                    <div class="archive-list">
                        <ul class="a-list">

                            {{ page.gazzete_english }}
                        </ul>
                    </div>

                </div>
                <div class="col-12 col-md-6">

                    <div class="title-space">
                        <h5>Afrikaans</h5>
                    </div>
                    <div class="archive-list">
                        <ul class="a-list">

                            {{ page.gazzete_afrikaans }}
                        </ul>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>


{% include directory ~ '/parts/footer.html.twig' %}

<style>
    .title-space {
        /*text-align: center;*/
        padding: 20px;
        background-color: #091e35;


    }

    .title-space h5{
        color: #fff;
    }


    .a-list-item{
        padding:10px;
    }

</style>

<script>
$(document).ready(function() {
    $('.a-list-item').unwrap();
});
</script>


