{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}


<section class="pt-20 pb-10 banner-top-spacing" style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
            background-size: cover;  background-image:url('/{{ active_theme_path() }}/assets/images/fund-sheets.jpg')">


    {# <div class="container">
        <div style="position: absolute; top: 220px;">
            <h1 class="mb-0" style="width:550px; color:#fff !important;">Fund Fact Sheets</h1>
        </div>
    </div> #}

    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Fund Fact Sheets</h1>
        </div>
    </div>

</section>

<section class="separator-top pb-8 pt-8">
    <div class="container">
<h1>Latest Fund Fact sheets</h1>
        <p>Once you have selected your solution, choose the underlying investment options from the range of premium funds available on our platform.</p>
        <div id="accordion">
            <div class="card ">
                <div class="card-header" id="heading1">
                    <button class="btn btn-link link-list collapsed" data-toggle="collapse"
                            data-target="#collapse1" aria-expanded="true"
                            aria-controls="collapse1">
                        {# PPS Funds for long-term investing #}

                        PPS Multi-Managers Investment Options
                        <i class="fa" aria-hidden="true"></i>
                    </button>
                </div>

                <div id="collapse1" class="collapse"
                     aria-labelledby="heading1" data-parent="#accordion">
                    <div class="card-body">
                        {{ page.fund_sheets }}
                        </div>
                </div>
            </div>


            <div class="card ">
                <div class="card-header" id="heading2">
                    <button class="btn btn-link link-list collapsed" data-toggle="collapse"
                            data-target="#collapse2" aria-expanded="true"
                            aria-controls="collapse2">
                        {# PPS Funds for medium-term investing #}

                        PPS Partnership Investment Options
                        <i class="fa" aria-hidden="true"></i>
                    </button>
                </div>

                <div id="collapse2" class="collapse"
                     aria-labelledby="heading2" data-parent="#accordion">
                    <div class="card-body">
                        {{ page.medium_term_funds }}
                    </div>
                </div>
            </div>


            {#<div class="card ">
                <div class="card-header" id="heading3">
                    <button class="btn btn-link link-list collapsed" data-toggle="collapse"
                            data-target="#collapse3" aria-expanded="true"
                            aria-controls="collapse3">
                        PPS Funds for short-term investing
                        <i class="fa" aria-hidden="true"></i>
                    </button>
                </div>

                <div id="collapse3" class="collapse"
                     aria-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body">
                        {{ page.short_term_funds }}
                    </div>
                </div>
            </div> #}


            <div class="card ">
                <div class="card-header" id="heading4">
                    <button class="btn btn-link link-list collapsed" data-toggle="collapse"
                            data-target="#collapse4" aria-expanded="true"
                            aria-controls="collapse4">
                        {# Third-party Investments #}
                        Third party Investment Options
                        <i class="fa" aria-hidden="true"></i>
                    </button>
                </div>

                <div id="collapse4" class="collapse"
                     aria-labelledby="heading4" data-parent="#accordion">
                    <div class="card-body">

                            {{page.third_party_funds}}

                        {#Dynamic Table#}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include directory ~ '/parts/footer.html.twig' %}

<style>

   @media (max-width: 414px) {
       #accordion{
           overflow-x: auto;
       }
       .table th, .table td{
           font-size: 12px;
           padding: 25px 78px 15px 20px;
       }

   }

    thead {
        border-bottom: 3px solid #e1e1e1;
        color: #3c3c3c;
        position: relative;
    }

    thead tr th {
        font-size: 11px;
    }

    .btn-link{
        width: 100%;
        text-align: left !important;
        color: #fff;
        text-decoration: none !important;
        padding: 0px !important;
    }
    .btn-link:hover {
        color: #fff;
    }

    .card{
        margin-bottom: 2px;
        background-color: #091e35;

    }
    .card-header {
        padding: 10px;
    }
    .card-body{
        background: #fff;
    }

   .doc-link{
       color: #041e37;
       font-weight: 300;
       text-transform: initial;
       padding: 0.6rem 0.5rem;
       font-size: 12px;
   }


</style>


