{% include directory ~ '/parts/header.html.twig' %}
<body id="product" xmlns="http://www.w3.org/1999/html">
{% include directory ~ '/parts/navigations.html.twig' %}

<div class="subnav-container" style="margin-top: 0px;">
     <div class="container-fluid">

        <li class="menu-item">
            <a id="pp-inv" href="#content4" data-drupal-link-system-path="<front>">Looking for an Advisor</a>
        </li>

        <li class="menu-item">
            <a id="pp-insure" href="#content3" data-drupal-link-system-path="<front>">Existing Adviser</a>
        </li>

        <li class="menu-item">
            <a id="pp-insure" href="#content2" data-drupal-link-system-path="<front>">New Adviser</a>
        </li>

	<li class="menu-item">
            <a id="pp-insure" href="#BannerSection" data-drupal-link-system-path="<front>">Advisers</a>
        </li>
    </div>
</div>

<section id="BannerSection" class="pt-20 pb-10 banner-top-spacing banner-images"
         style="background-image:url('/{{ active_theme_path() }}/assets/images/adviser-banner.jpg')">

    <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
			  </div>
</section>

<section id="content2" style="padding-top:40px; min-height: 900px;">
    <div class="container">

        <div class="row justify-content-between">

            <div class="col-12 col-md-12 col-lg-12 align-self-center text-center text-md-left">

                <div class="mb-2 pl-1">
                    <div class="content2">
                        <h4>1. NEW ADVISER</h4>

                        <p><strong>Become a PPS Accredited Adviser (for Independent Advisers)</strong><br/>
                            As a PPS product accredited adviser, you will distinguish yourself from other financial
                            advisers as you’ll be serving a niche, prestige market. Becoming a PPS accredited adviser
                            puts you in a position to offer the PPS Group’s vast range of product suites and services
                            which include Life, Sickness &amp; Disability, Fiduciary Services, Savings &amp;
                            Investments, Short-Term Insurance and Specialist Support Services. Complete the form below
                            to join or<a class="inner-links"
                                         href="/documents/Solutions &amp; Services for PPS accredited Advisers.pdf">
                                click here to learn more about our products and services.</a></p>
                        <br/>
                        <strong>Become A PPS-Contracted Financial Adviser (Join PPS Financial Advisory) </strong>

                        <p>Becoming a PPS contracted financial adviser puts you in a position to join PPS Financial
                            Advisory on a full time basis. You will join a team of team of graduate professionals who
                            are subject matter experts in areas such as Business planning, Estate planning, Financial
                            planning, Tax planning and Retirement planning. Complete the form below to join or here to learn more about<a class="inner-links"
                                                       href="http://34.76.147.18/plan/financial-advisory"
                                                       target="_blank">PPS Financial Advisory </a></p>
                        &nbsp;

                        <form id="contactForm" style="margin:0px 50px !important; ">
                            <h4><strong>Personal Details</strong></h4>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"><label for="firstname">Name </label><br/>
                                        <input class="form-control textbox" data-error="Name is required."
                                               id="firstname" name="firstname" required="required" type="text"/>
                                        <small class="form-text text-muted">Your information is safe with us.</small>

                                        <div class="help-block with-errors">&nbsp;</div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group"><label for="exampleInputEmail1">Brokage Name</label> <input
                                                class="form-control" placeholder="Enter your names" type="text"/></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"><label for="firstname">Brokage Code </label><br/>
                                        <input class="form-control textbox" id="firstname" name="firstname"
                                               type="text"/></div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group"><label for="exampleInputEmail1">Contact No</label> <input
                                                class="form-control" placeholder="+27 00 000 0000" type="text"/>
                                        <small class="form-text text-muted">Your information is safe with us.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"><label for="province">Preffered contact time </label><br/>
                                        <select class="form-control textbox-copy-2" id="province" name="province"
                                                required="required" type="text">
                                            <option>Morning (8am - 10am)</option>
                                            <option>Mid day (10am-12pm)</option>
                                            <option>Afternoon(13pm - 17pm)</option>
                                        </select>

                                        <div class="help-block with-errors">&nbsp;</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <h6 class="checkbox-heading">I AM INTERESTED IN:</h6>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group"><input id="life_cover" name="life_cover"
                                                                       required="required" type="checkbox"/>
                                            <small style="font-size: 14px;">Becoming a PPS Accredited Adviser (for
                                                Independent Advisers)
                                            </small>

                                            <div class="help-block with-errors">&nbsp;</div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group"><input id="life_cover" name="life_cover"
                                                                       required="required" type="checkbox"/>
                                            <small style="font-size: 14px;"> Becoming A PPS-Contracted Financial Adviser
                                                (Join PPS Financial Advisory)
                                            </small>

                                            <div class="help-block with-errors">&nbsp;</div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group"><input id="life_cover" name="life_cover"
                                                                       required="required" type="checkbox"/>
                                            <small style="font-size: 14px;">I am not sure</small>

                                            <div class="help-block with-errors">&nbsp;</div>

                                        </div>


                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <a class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle"
                                               href="#" id="hcontent2">Submit</a></div>
                                    </div>

                                </div>
                            </div>
                        </form>
                        <strong>Why join us?</strong> PPS focuses exclusively on the graduate professional market, with
                        a membership that includes accountants, actuaries, doctors, attorneys, architects, dentists,
                        doctors, pharmacists and many other graduate professionals. And because PPS is a mutual company,
                        all the profits and investment returns PPS creates goes to benefit members who are qualifying
                        policyholders through the PPS Profit-Share Account.
                    </div>
                </div>

                <div class="content3" id="content3" style="padding-top:40px">
                    <h4>2. EXISTING ADVISERS</h4>

                    <p><strong>Already a PPS Accredited Adviser? Time to take it up a notch.</strong> We like to help
                        you stay cutting edge, by providing you with the material you need to improve the lives of your
                        members and clients. Ranging from the latest advisory tools to secure websites offering
                        invaluable information, it’s all available to you when you<a class="inner-links" href="http://34.76.147.18/login">click
                            click here</a>.</p>
                </div>

                <div class="content4" id="content4" style="padding-top:40px">
                    <h4>3. CLIENTS LOOKING FOR AN ADVISER</h4>

                    <p><strong>Need a PPS Adviser?</strong> Whether you’re looking for advice on life solutions,
                        car and household insurance, business insurance or assurance, investments, financial or even
                        fiduciary advice, PPS has a dynamic range of professional advisers who will help you make the
                        most of what we offer. We also work well with independent brokers to offer enhanced solutions
                        that work to your advantage. Feel free to speak to your broker or fill out the below form
                        for an adviser to contact you.</p>
                    <br/>

                    <form id="contactForm">
                        <h4><strong>Personal Details</strong></h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">Name </label><br/>
                                    <input id="firstname" class="form-control textbox" name="firstname"
                                           required="required" type="text" data-error="Name is required."/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email Address</label><br/>
                                    <input id="email" class="form-control textbox" name="email" required="required"
                                           type="text" placeholder="e.g. mail@domain.com"
                                           data-error="Email is required."/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contact">Contact Number </label><br/>
                                    <input id="contact" class="form-control textbox-copy-2" name="contact"
                                           required="required" type="text" data-error="Contact Number is required."/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="passport">ID, passport or membership number </label><br/>
                                    <input id="passport" class="form-control textbox-copy-2" name="passport"
                                           required="required" type="text"
                                           data-error="ID, passport or membership number is required."/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="province">Your current province or city </label><br/>
                                    <select id="province" class="form-control textbox-copy-2" name="province"
                                            required="required" type="text">
                                        <option>Gauteng</option>
                                        <option>Mpumalanga</option>
                                        <option>Limpopo</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="information">What kind of message do you want to leave? </label><br/>
                                    <select id="information" class="form-control textbox-copy-2" name="information"
                                            required="required" type="text">
                                        <option>Request for information</option>
                                        <option>Request for Quotation</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <!--<h4><strong>Your Message</strong></h4>-->

                        <h6 class="checkbox-heading">CHOOSE WHAT YOUR MESSAGE IS RELATED TO </h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="life_cover" name="life_cover" required="required" type="checkbox"/>
                                    <small>Life Cover</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="financial_planning" name="financial_planning" required="required"
                                           type="checkbox"/>
                                    <small>Financial Planning</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="medical_aid" name="medical_aid" required="required" type="checkbox"/>
                                    <small>Medical Aid</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="car_household" name="car_household" required="required" type="checkbox"/>
                                    <small>Car and Household Insurance</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="invest_save" name="save_invest" required="required" type="checkbox"/>
                                    <small>Investment, Retirement and Savings</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="business_insurance" name="business_insurance" required="required"
                                           type="checkbox"/>
                                    <small>Business Insurance</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="credit_payment" name="credit_payment" required="required"
                                           type="checkbox"/>
                                    <small>Credit Card and Payment Solutions</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="not_sure" name="not_sure" required="required" type="checkbox"/>
                                    <small>Not Sure</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="message">Is there any further information you would like to give
                                        us? </label><br/>
                                    <textarea
                                            id="message"
                                            class="form-control textbox2"
                                            name="message"
                                            required="required"
                                            type="text"
                                            data-error="Message is required."
                                            rows="7"
                                    >
													</textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-4"><input type="submit"
                                                                class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle"
                                                                value="Send" style="padding: 20px;">
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</section>


{% include directory ~ '/parts/footer.html.twig' %}
<style>
    .field__label {
        display: none;
    }

    .field--name-field-tags a {
        color: #0a1d37 !important;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
    }

    .field__label {
        display: none;
    }

    .field--name-field-tags a {
        color: #0a1d37 !important;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
    }

    .photo img {
        width: 421px !important;
        height: auto !important;
    }

    @media (min-width: 768px) {
        .gutter-md-2 {
            margin: 100px !important;
        }
    }

    #product.block-life.block-bg {
        width: 307px;
        height: 531px;
    }

    .photo img {
        width: 321px !important;
        height: 427px !important;
    }

    {# .mb-2, .my-2 {
      margin-bottom: 14.25rem !important;
    } #}

    .hidden {
        display: none;
    }

    .c-button-1 {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: normal;
        cursor: pointer;
        border-style: solid;
        font-family: inherit;
        font-weight: 700;
        text-align: center;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .c-button-1.-color-green-outline {
        border-color: #091e35;
        background-color: #091e35;
        color: #fff;
        border-radius: 10rem !important;
    }

    #nav-tabContent {
        box-shadow: 0px 0px 5px grey;
        background-color: #f6f6f6 !important;
    }

    label {
        width: 345px;
        height: 18px;
        font-family: Gotham;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: var(--navy);
    }

    .textbox {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        background-color: #ffffff;
        /*margin: auto;*/
    }

    .checkbox-heading {
        color: var(--navy);
        font-size: 12px;
    }

    .textbox1 {
        width: 55% !important;
        height: 70px;
        border-radius: 4px;
        background-color: #ffffff;
        /*margin: auto;*/
    }

    .textbox2 {
        width: 100%;
        /*height: 200px;*/
        border-radius: 4px;
        background-color: #ffffff;
    }

    .-Input-Text {
        width: 359px;
        height: 20px;
        font-family: Gotham;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #2e2e2e;
    }

    .button-bg {
        color: #fff;
        width: 199px;
        height: 52px;
        border-radius: 26px;
        background-color: var(--navy);
    }

    .container #accordion {
        margin-top: 50px;
    }

    .card {
        margin-bottom: 10px;
    }

    .card-header {
        padding: 0rem;
        text-align: left !important;
    }

    .btn-link {
        width: 100%;
        text-align: left;
        text-decoration: none !important;
        color: #404040;
        font-weight: bold;
        font-family: sans-serif;
    }

    .card-body {
        text-align: left !important;
    }

    .map-background {
        background: #f6f6f6;
        margin-bottom: -7px;
        margin-top: -58px;
    }

    .textbox-copy-2 {
        width: 100%%;
        height: 50px;
        border-radius: 4px;
        background-color: #ffffff;
        /*margin-left: 20%;*/
    }

    .align-btn {
        text-align: center;
    }

    .selectric span {
        font-size: 13px;
        font-weight: normal;
    }

    #message {
        resize: none;
    }

    .form-group input[type="checkbox"] {
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background: lightgray;
        height: 20px;
        width: 20px;
        border: 1px solid white;
    }

    .form-group input[type="checkbox"]:checked {
        background: var(--seafoam-blue);
    }

    .form-group input[type="checkbox"]:hover {
        filter: brightness(90%);
    }

    .form-group input[type="checkbox"]:disabled {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
    }

    .form-group input[type="checkbox"]:after {
        content: '';
        position: relative;
        left: 40%;
        top: 20%;
        width: 20%;
        height: 50%;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        display: none;
    }

    .form-group input[type="checkbox"]:checked:after {
        display: block;
    }

    .form-group input[type="checkbox"]:disabled:after {
        border-color: #7b7b7b;
    }

    .form-group input[type="checkbox"]:checked {
        background: var(--seafoam-blue);
    }

    body [class*="container"] .row:not(:last-child) {
        margin-bottom: 0px;
    }

    .inner-links {
        color: #041e37;
        font-family: 'Gotham';
        text-transform: initial !important;
        font-size: 16px;
    }

    .title-overlay{
        background: rgba(255,255,255,0.4);
        padding: 20px;
        border-radius: 3px;
    }
</style>
