{% include directory ~ '/parts/header.html.twig' %}
	
  <body id="product">
 {% include directory ~ '/parts/navigations.html.twig' %}

    <!-- / cover -->
	<section class="banner-top-spacing" style="padding-top:0px !important">
		<div class="container report">
			<img src="../{{directory}}/assets/images/afs-banner_.jpg" width="100%" style="margin-top: 200px;" alt="Annual Financial Statements">
						<br/>
						<br/>
						<h1>ANNUAL FINANCIAL STATEMENTS 2017</h1>
						<p>This report comprises of the audited consolidated annual financial statements of The Professional Provident Society
							Holdings Trust and its subsidiaries, as well as the annual financial statements of The Professional Provident Society&nbsp;Holdings&nbsp;Trust.</p>
						<p>
							<strong>READ MORE</strong>
						</p>
						<ul class="cd-accordion-menu label-border">
							<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#72/z" target="_blank">
								<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
								<label>Reports of officials and board committees</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->
						<ul class="cd-accordion-menu label-border">
							<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#96/z" target="_blank">
								<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
								<label>Group Accounting Policies</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->
						<ul class="cd-accordion-menu label-border">
							<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#92" target="_blank">
								<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
								<label>Consolidated Financial Statements</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->
						<ul class="cd-accordion-menu label-border">
							<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#109/z" target="_blank">
								<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
								<label>Notes to the Consolidated Financial Statements</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->
						<ul class="cd-accordion-menu label-border">
							<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#166/z" target="_blank">
								<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
								<label>PPS Holdings Trust Annual Financial Statements</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->
						<ul class="cd-accordion-menu label-border">
							<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#169/z" target="_blank">
								<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
								<label>2018 Annual General Meeting</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->	
		</div>
	</section>

		<script>
			function openCity(cityName) {
				var i;
				var x = document.getElementsByClassName("city");
				for (i = 0; i < x.length; i++) {
				   x[i].style.display = "none";  
				}
				document.getElementById(cityName).style.display = "block";  
			}
			</script>
		
		<script src="../{{directory}}/assets/js/modernizr.js"></script>
		<!-- Modernizr -->
		{# <script src="../{{directory}}/assets/js/jquery-2.1.4.js"></script> #}
		<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../{{directory}}/assets/js/main.js"></script>
		<!-- Resource jQuery -->

		<script src="../{{directory}}/assets/js/hide.js"></script>
		<script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
		<script src="../{{directory}}/assets/js/tabs.js"></script>
	  
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>

		<script>
			$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
		
			$('.burger').on('click',function(){
			
				if($('#block-2017ppsintegratedreport-2').hasClass('mobile-submenu-hide'))
				{
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-hide'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('submenu-show-style');
				}
				else{					 
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
				}
			
				 
			});
		</script>

{% include directory ~ '/parts/footer.html.twig' %}