{% include directory ~ '/parts/header.html.twig' %}

  <body id="productCategory">

  {% include directory ~ '/parts/navigations.html.twig' %}

    <div class="subnav-container" style="margin-top: 0px !important; border-bottom: 1px solid #f3f3f3;">
      <div class="container-fluid">

      
                    <li class="menu-item">
        <a href="#section-online" data-drupal-link-system-path="<front>">Merchant Online</a>
              </li>
                <li class="menu-item">
        <a href="#section-faqs" data-drupal-link-system-path="<front>">FAQs</a>
              </li>
                <li class="menu-item">
        <a href="#section-qualify" data-drupal-link-system-path="<front>">Qualifying Criteria</a>
              </li>
                <li class="menu-item">
        <a href="#section-card" data-drupal-link-system-path="<front>">Terminal Types</a>
              </li>
                <li class="menu-item">
        <a href="#section-home" data-drupal-link-system-path="<front>" class="active-link subnav-parent-link">Payment Solution </a>
              </li>
        </div>
    </div>
    
    {{page.content}}
		
	    {# <script src="{{directory}}/assets/js/vendor.js"></script>
		<script src="{{directory}}/assets/js/app.js"></script>
		<script src="{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="{{directory}}/assets/js/custom.js"></script> #}

    {% include directory ~ '/parts/footer.html.twig' %}
