{% include directory ~ '/parts/header.html.twig' %}
 <link rel="stylesheet" type="text/css" href="http://dev.bluevinegroup.co.za/ppsdrupal/themes/custom/refresh/assets/css/year-month-filter.css" >
  <body id="productCategory">
  {% include directory ~ '/parts/navigations.html.twig' %}
    
   <div hidden>
    {{ page.taxonomy_banners}} 
    </div>    
   
<section id="taxonomy-banners" class="pt-20 pb-10" style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;"> 
        
			  <div class="container">
          <div class="banner-area">
            <h1 id="banner-text" class="mb-0 banner-text" style="width:550px"></h1>
          </div>
			  </div>
</section>


    <section class="separator-top pb-8 pt-8">  
    <div class="sti-blog-filter">
      {{page.sti_blog_filter}}
    </div>
    </section>
    <section class="separator-top pb-8 pt-8">
    <div>      
        {{page.sti_blogs}} 
    </div>
    </section>

    {% include directory ~ '/parts/footer.html.twig' %}

{# <script src="http://dev.bluevinegroup.co.za/ppsdrupal/themes/custom/refresh/assets/js/jquery-2.1.4.js"></script> #}
<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
<script src="http://dev.bluevinegroup.co.za/ppsdrupal/themes/custom/refresh/assets/js/year-month-filter.js"></script>
<script>
    $(document).ready(function(){
      $(".views-field.views-field-field-tax-banner>div").text();
      $('#taxonomy-banners').css("background-image", "url("+$(".views-field.views-field-field-tax-banner>div").text()+")");  
      $('#banner-text').text($(".views-field-name>span").text());  

    });     
</script>
