{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHT45D6"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include directory ~ '/parts/navigations-namibia.html.twig' %}
	
  {% set url = url('<current>') %} 

  {% if '/business-brief' in url|render|render %}

  <section id="SectionBanner" class="pt-20 pb-10 banner-top-spacing banner-images" style="padding-top: 33% !important; background-image: url(/themes/custom/refresh/assets/images/media-banner1.jpg);">		
		{# <div class="image card-and-payments-banner"> #}
		<div id="card-and-payments-banner" hidden> {{content.field_business_brief_image}}</div>
		{# </div> #}
        
			  <div class="container">
				<div class="banner-area">
					<h1 class="mb-0 banner-text-invest">Business Brief</h1>
				</div>
			  </div>
    </section> 

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9 col-md-9" style="border-right: 1px solid #e2e2e2;">
          {{page.content}}
        </div>
      
        <div class="col-12 col-lg-3 col-md-3">
          <h5 class="mt-5">Recent Business Brief Articles</h5>
          {{ page.business_brief_side_title }}
        </div>
      </div>
    </div>
  {% elseif '/design-test-2' in url|render|render %}
    
    <section id="SectionBanner" class="pt-20 pb-10 banner-top-spacing banner-images" style="padding-top: 33% !important; background-image: url(/themes/custom/refresh/assets/images/media-banner1.jpg);">		
		
		  <div id="card-and-payments-banner" hidden> {{content.field_business_brief_image}}</div>
		  
			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Business Brief</h1>
          </div>
			  </div>

    </section> 

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12 col-md-12">
          {{page.content}}
        </div>

        <hr>
      
        <div class="col-12 col-lg-12 col-md-12">
          <h5 class="mt-5">You may also be interested in the following articles</h5>
          {# {{ page.business_brief_side_title }} #}

          <div class="row">
            <div class="col-12 col-md-4">
              <div>
                <img src="http://34.76.147.18/themes/custom/refresh/assets/images/placeholder.jpg" width="100%">
              </div>
              <div>
                <h4>Article Title</h4>

                <p>
                  Curabitur luctus ac dui eget pulvinar. Cras nec felis tortor. Donec elementum eu nibh et mattis. Pellentesque et accumsan massa. Nulla nisi velit, pulvinar ac erat non, gravida porta libero. 
                </p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div>
                <img src="http://34.76.147.18/themes/custom/refresh/assets/images/placeholder.jpg" width="100%">
              </div>
              <div>
                <h4>Article Title</h4>

                <p>
                  Curabitur luctus ac dui eget pulvinar. Cras nec felis tortor. Donec elementum eu nibh et mattis. Pellentesque et accumsan massa. Nulla nisi velit, pulvinar ac erat non, gravida porta libero. 
                </p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div>
                <img src="http://34.76.147.18/themes/custom/refresh/assets/images/placeholder.jpg" width="100%">
              </div>
              <div>
                <h4>Article Title</h4>

                <p>
                  Curabitur luctus ac dui eget pulvinar. Cras nec felis tortor. Donec elementum eu nibh et mattis. Pellentesque et accumsan massa. Nulla nisi velit, pulvinar ac erat non, gravida porta libero. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    {{page.content}}
  {% endif %}

  <style>
    .navbar-brand{
      width: 300px;
      height: 152px;
    }
  </style>

    {% include directory ~ '/parts/footer-min.html.twig' %}
