  {% include directory ~ '/parts/header.html.twig' %}

  <body>
  {% include directory ~ '/parts/navigations.html.twig' %}

  <div id="accordion">
	{{ page.contact_divisions }}
  </div>

  {% include directory ~ '/parts/footer.html.twig' %}	 
  