{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">

  {% include directory ~ '/parts/navigations.html.twig' %}

  {# {% include directory ~ '/parts/ir-2019-nav.html.twig' %} #}

  <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image: url(/{{ active_theme_path() }}/assets/2019-ir/images/header-img.jpg); margin-top: 59px;">
		<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Report to Members</h1>
          </div>
		</div>
	</section>

	<div class="container" style="padding: 20px;">
<h3>REPORT TO MEMBERS</h3>
					
			<p>PPS’s Integrated Annual Report covers the 12 months ended 31 December 2019 and subsequent events up to the date that our financial statements are published.</p>

<p>In this report, we share the collective thinking applied in creating long-term value. Throughout the report, we address the challenges faced by the Group, and opportunities and external drivers influencing PPS’s strategy.</p>

<p>The report aims to provide a balanced and succinct view of PPS’s financial and non-financial performance and covers the Group’s operations in South Africa and Namibia. It provides information on PPS’s strategies for growth, efficiency, quality, sustainability, corporate governance and accountability.</p>
		
							{# <a href="http://wp-staging.ince.co.za/annualreports/pps_ar2019/flippers/integrated-report-2019/4/index.html" class="active-link" style="cursor: pointer" target="_blank">READ MORE</a> #}
						<p></p>
						<div class="">
                        <ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/6/index.html" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
									<label style="cursor: pointer">Who we are and what makes us different</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
                         <ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/12/index.html" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
									<label style="cursor: pointer">Human capital</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->  
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/18/index.html" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
									<label style="cursor: pointer">PPS doing good</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/20/index.html" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
									<label style="cursor: pointer">Our strategy</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/23/index.html" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
									<label style="cursor: pointer">Innovative solutions</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/24/index.html" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
									<label style="cursor: pointer">Highlights</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/26/index.html" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
									<label style="cursor: pointer">Chairman’s statement</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/32/index.html" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
									<label style="cursor: pointer">Ceo’s message to members</label>
								</a>
							</ul>
                            <ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/37/index.html" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
									<label style="cursor: pointer">Group performance at a glance</label>
								</a>
							</ul>
                            <ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/50/index.html" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
									<label style="cursor: pointer">Material matters and risk management</label>
								</a>
							</ul>
						</div>
</div>

  {% include directory ~ '/parts/footer.html.twig' %}
