{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHT45D6"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include directory ~ '/parts/navigations.html.twig' %}

   

      {{page.content}}

      {# <div style="margin-bottom: 0px!important; background: #7ac5d8">
        <div class="container article">
            {{page.retirement_articles}}
        </div>

      </div> #}

      {% include directory ~ '/parts/form-joinpps.html.twig' %}
    

  {% include directory ~ '/parts/footer.html.twig' %}

<style>
  .article p, span p{
      color: #0a1e36;
    }
</style>