{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}


<section class="pt-20 pb-10 banner-top-spacing banner-images" style="background-image:url('/{{ active_theme_path() }}/assets/images/tools.jpg')">


    <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
   </div>
</section>

<section class="pb-8 pt-8">
    <div class="container">

        <iframe src="https://www.ppsisecure.co.za/investnowpublic/eac/landing"
                style="border:none;overflow:hidden" name="EAC" scrolling="auto" align="bottom"
                height="1080" width="100%">
        </iframe>
    </div>

</section>

{% include directory ~ '/parts/footer.html.twig' %}


