<section id="sti-lates-news-page"> {{page.latest_news_sti}} </section>
{# <script src="/{{ active_theme_path() }}/assets/js/jquery-2.1.4.js"></script> #}
<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>