{% include directory ~ '/parts/header.html.twig' %}
	
  <body id="product">
 {% include directory ~ '/parts/navigations.html.twig' %}

	
	
    <!-- / cover -->
	<section class="banner-top-spacing" style="padding-top:0px !important">
		<div class="container report">
			
			
			<h1>AGM NOTICE AND DOWNLOADS</h1>
						<ul>
							<li>
								<a style="color: #333339;" href="../{{directory}}/assets/pdf/PPS_IAR_2017.pdf" target="_blank">Download the PDF book version of the 2017 Integrated Report</a>
								<br>
								<br>
							</li>
							<li>
								<a style="color: #333339;" href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html" target="_blank">View the PDF flipper version of the 2017 Integrated Report</a>
								<br>
								<br>
							</li>
							<li>
								<a style="color: #333339;" href="../{{directory}}/assets/pdf/year_in_review_2017.pdf" target="_blank">Download the 2017 Year In Review Brochure (8 pages)</a>
								<br>
								<br>
							</li>
							<li>
								<a style="color: #333339;" href="../{{directory}}/assets/pdf/action_agm.pdf" target="_blank">Action required of members in regard to the 2018 annual general meeting</a>
								<br>
								<br>
							</li>
							<li>
								<a style="color: #333339;" href="../{{directory}}/assets/pdf/agm_cvs.pdf" target="_blank">Notice of AGM and CVs of candidates standing for election</a>
								<br>
								<br>
							</li>
							<li>
								<a style="color: #333339;" href="../{{directory}}/assets/pdf/form_of_proxy.pdf" target="_blank">Proxy form</a>
								<br>
								<br>
							</li>
							<li>
								<a style="color: #333339;" href="https://www.pps.co.za/documents/Second%20Amended%20and%20Restated%20Trust%20Deed%20as%20further%20amended%20at%20the%2022%20May%202017%20AGM%20and%20Master%20Contract.pdf"
								 target="_blank">2017 Second Amended and Restated Trust Deed as further amended at the 2017 AGM</a>
								<br>
								<br>
							</li>
						</ul>
			
			
		</div>
	</section>

		<script>
			function openCity(cityName) {
				var i;
				var x = document.getElementsByClassName("city");
				for (i = 0; i < x.length; i++) {
				   x[i].style.display = "none";  
				}
				document.getElementById(cityName).style.display = "block";  
			}
			</script>
		
		<script src="../{{directory}}/assets/js/modernizr.js"></script>
		<!-- Modernizr -->
		{# <script src="../{{directory}}/assets/js/jquery-2.1.4.js"></script> #}
		<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../{{directory}}/assets/js/main.js"></script>
		<!-- Resource jQuery -->

		<script src="../{{directory}}/assets/js/hide.js"></script>
		<script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
		<script src="../{{directory}}/assets/js/tabs.js"></script>
	  
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>

		
		

{% include directory ~ '/parts/footer.html.twig' %}