{% include directory ~ '/parts/header.html.twig' %}

 <body>
  {% include directory ~ '/parts/navigations.html.twig' %}
  
  <!-- cover -->
  <section class="pt-20 pb-10 " style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/{{ active_theme_path() }}/assets/images/coronavirus-ppe.png')">
      <div class="container">
        <h1 class="mb-0 banner-text-invest">PPE Application Form</h1>
      </div>
  </section>
  <!-- / cover -->
  
  <section style="margin-top:120px">
    <div>
      <div class="container">
        <div class="row justify-content-between pb-4">
		  {{page.content}}
		</div>
      </div>
    </div>
  </section>
  <section class="mobilenav col-12 d-md-none">

    <div class="row">
        <a id="logo" href="/" class="btn-nav-icn col p-0 "><img
                    src="/{{ active_theme_path() }}/assets/images/pps-logo-white-mobile.svg"
                    width="60px" style="margin-left:-6px; margin-top:-3px"></a>

        <a id="join" href="/join-pps" class="btn-nav-icn col p-0"
           style="font-size:11pt; margin-top: -3px; padding-top: 5px !important;">Join</a>

        <a id="join" href="/login" class="btn-nav-icn col p-0"
           style="font-size:11pt; margin-top: -3px; padding-top: 5px !important;">Login</a>

        <a id="call" href="tel:+27860123777" id="main-btn" class="btn-nav-icn col p-0 "><img
                    src="/{{ active_theme_path() }}/assets/images/mobile/call-w.svg"
                    width="20px" style="margin-top:4px"></a>

        <button id="mainNav" class="btn-nav-icn col p-0 " data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img id="menu" class="animate-flicker"
                 src="/{{ active_theme_path() }}/assets/images/menu-icon.png"
                 width="30px" style="margin-top: -3px; margin-right: -13px;">
            <span id="menu-burger" style="float: right; margin: 20px; z-index:99">Menu <i
                        class="fas fa-bars"></i></span>
        </button>

	  </div>
	 </section>
	{% include directory ~ '/parts/groupfooter.html.twig' %}
	<script src="/{{ active_theme_path() }}/assets/js/vendor.js"></script>
	<script src="{{ active_theme_path() }}/assets/js/app-ppe.js"></script>
	<script src="{{ active_theme_path() }}/assets/js/custom.js"></script>
	
	<script>
	
		$('.groupfooter').removeAttr('hidden');

        $('#mainNav').on('click', function () {

            if ($('#block-refresh-main-menu').hasClass('mobile-submenu-hide')) {
                $('#block-refresh-main-menu').removeClass('mobile-submenu-hide');
                $('#block-refresh-main-menu').addClass('mobile-submenu-show');
                $('#block-refresh-main-menu').addClass('submenu-show-style');
                $('#block-refresh-main-menu').append('<button class="btn-nav-icn col p-0 btnClose" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" ><i class="far fa-times-circle close-nav-icon"></i></button>');

                $('.btnClose').on('click', function () {
                    $('.btnClose').hide();
                    $('#block-refresh-main-menu').removeClass('mobile-submenu-show');
                    $('#block-refresh-main-menu').addClass('mobile-submenu-hide');
                });
            } else {
                $('.btnClose').hide();
                $('#block-refresh-main-menu').removeClass('mobile-submenu-show');
                $('#block-refresh-main-menu').addClass('mobile-submenu-hide');
            }

        });
    </script>
	
	<script>

    {# $('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
    $('#block-refresh-main-menu').addClass('mobile-submenu-hide'); #}

    if (window.location.href.indexOf("car") > -1) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = '/{{ active_theme_path() }}/assets/js/short-term-gtm.js';
    }

    if (window.location.href.indexOf("ppsra") > -1) {
        $(".close").click(function(){
            $("myModal").hide();
        });

        function closeModal() {
            $("#myModal").modal('hide');
        };

    }


    // https://www.pps.co.za/invest/choose-fund changing url of the Quarterly Fact Sheets

    if (window.location.href.indexOf("choose-fund") > -1) {
        $('.quarterly-link').each(function() {
            str = $(this).attr('href');
            parts = str.split("/"),las_part = parts[parts.length-1]
            
            $(this).attr("href", "/sites/default/files/invest-documents/fund-fact-sheets/Quarterly%20MM%20FFS%20-%20A2/"+las_part);
        });
    }

    // End of URL
    
    if (window.location.href.indexOf("pro-insure-home") > -1) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = '/{{ active_theme_path() }}/assets/js/short-term-gtm.js';
    }
    
    if (window.location.href.indexOf("pro-insure-business") > -1) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = '/{{ active_theme_path() }}/assets/js/short-term-gtm.js';
    }
    
    if (window.location.href.indexOf("Helpful-Tips-Car") > -1) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = '/{{ active_theme_path() }}/assets/js/short-term-gtm.js';
    }

    if(window.location.href.indexOf("service-test") > -1){

    }else{
        document.getElementsByTagName('head')[0].appendChild(script);
    }

    


</script>

<script>

 

    $('.subnav-container > .container-fluid > .region-primary-menu > .navigation > ul').addClass('parent-level');
    $('.subnav-container > .container-fluid > .region-primary-menu > .navigation > ul > li > ul').addClass('child-level');
    //$('.subnav-container').append($(".menu-item.menu-item--expanded.menu-item--active-trail>ul>li:nth-child(1)>ul").html());

    //$('.subnav-container > .container-fluid').append($(".menu-item.menu-item--expanded.menu-item--active-trail>ul>li.menu-item.menu-item--expanded.menu-item--active-trail>ul").html());
    
    if(window.location.href.indexOf("covid-19-coronavirus") > -1) {
        $('.infographics').slice("-2").addClass("col-md-12 col-lg-12 py-3");
        $('.infographics').slice("-2").removeClass("col-md-4 col-lg-4");
    }

    if(window.location.href.indexOf("integrated-report") > -1) {
       
    }
    else{
        $('.subnav-container > .container-fluid').append($(".menu-item.menu-item--expanded.menu-item--active-trail>ul>li.menu-item.menu-item--expanded.menu-item--active-trail>ul").html());
    }
    
    if (($('.subnav-container > .container-fluid').children().length) > 0) {
        //There are children, subnav bar visible
        $('.banner-top-spacing').css('margin-top', '59px');
    } else {
        //There are no children, subnav bar transparent
        $('.subnav-container').css('background', 'transparent');
        $('.subnav-container').css('border-bottom', '0px');
        $('.banner-top-spacing').css('margin-top', '1px');
    }
    
    
    if (($('.subnav-container > .container-fluid').children().length) > 1) {
        //There are children, subnav bar visible
    } else {
        //There are no children, subnav bar transparent
        $('.subnav-container').css('background', 'transparent');
        $('.subnav-container').css('border-bottom', '0px');
    }

    // Notification Message

    if ($(window).width() > 1199) {
        if (($('.subnav-container > .container-fluid').children().length) > 1) {
            //There are children, subnav bar visible
            $('.notification').css('margin-top', '55px');
        } else {
            //There are no children, subnav bar transparent
            $('.notification').css('margin-top', '63px');
        }
    }
    else if($(window).width() < 415) {
        $('.notification').css('margin-top', '-24px');
        $('.notification').css('z-index', '999');
        $('.navbar-brand').hide();
    }
    else{
        $('.notification').css('bottom', '0px');
    }



</script>

{# Manupulate the Benefits Title on Product details#}
<script>
    $(document).ready(function () {
        var benefitsTitle;
        benefitsTitle = $('#benefits-title').text();
        $('#benefits-title').empty();

        $('#benefits-title').text(benefitsTitle);
    });

    //Remove span on Node Button
    $('.field--name-field-download a').unwrap();
    // Add Target blank on link
    $('.field--name-field-download a').attr('target', '_blank');
    $('.file--application-pdf a').attr('target','_blank');
</script>

{#Temporary Script @Hlokolozar#}
<script>
    $(document).ready(function () {
        $('#hcontent1').on('click', function () {

            $('.hcontent1').removeClass('hidden');
            $(this).remove();

        });
        $('#hcontent2').on('click', function () {

            $('.hcontent2').removeClass('hidden');
            $(this).remove();

        });
        $('#hcontent4').on('click', function () {

            $('.hcontent4').removeClass('hidden');
            $(this).remove();

        });
        $('#hcontent12').on('click', function () {

            $('.hcontent12').removeClass('hidden');
            $(this).remove();

        });


    });
</script>


<script>

    /**
     *
     Product Hub Products Link and text
     @Phaladi and Hloni
     *
     **/

    var title = [];
    var link = [];

    $('.user-photo img').each(function () {
        title.push($(this).attr('alt'));
    });

    for (var x = 0; x < title.length; x++) {

        $('figcaption ').each(function () {

            if (parseInt($(this).attr('id')) == x) {
                $(this).append('<h5 class="font-weight-bold text-white">' + title[x] + ' <i class="icon-arrow-right2"></i></h5>');
            }
        });
    }


    $('.user-photo img').each(function () {
        link.push($(this).attr('alt'));
    });

    for (var x = 0; x < link.length; x++) {
        $('figure.user > a').each(function () {
            if ($(this).attr('id') == 'p' + x) {

                var str = link[x];
                str = str.replace(/\s+/g, '-').toLowerCase();

                $(this).attr('href', $(location).attr("href") + '/' + str);
                //alert('it worked');
            } else {
                //alert('it didnt work');
            }
        });
    }



    /**
     *
     Product Investment Hub Link and text
     @Phaladi and Hloni
     *
     **/

    if(window.location.href.indexOf("invest") > -1) {
       
        var linkurl = $(location).attr("href").split('/'); 
        var baselink = "//"+linkurl[2]+"/"+linkurl[3];
        
        for (var x = 0; x < link.length; x++) {
            $('figure.user > a').each(function () {
                if ($(this).attr('id') == 'p' + x) {

                    var str = link[x];
                    str = str.replace(/\s+/g, '-').toLowerCase();

                    $(this).attr('href', baselink + '/' + str);
                
                } else {
                }
            });
        }
    }


    /**
     *
     Nelson Mandela Quote on Life Solutions > Education Cover
     @Phaladi and Hloni
     *
     **/

     $('blockquote > h2').prepend('<i class="fas fa-quote-left"></i> ');
     $('blockquote > h2').append(' <i class="fas fa-quote-right"></i>');


</script>


<script>

    $('nav#block-refresh-main-menu > ul > li').addClass('parent-link');
    $('nav#block-refresh-main-menu > ul > li > ul > li').addClass('child-link');
    $('nav#block-refresh-main-menu > ul > li > ul > li > ul > li').addClass('grandchild-link');

    /*$(".parent-link").on('click',function(){
      $(this).find('li.child-link').toggle();
    });*/


    $('.child-link').addClass('hidemenu');
    $('.grandchild-link').addClass('hidemenu');

    $(".parent-link").on('click', function () {

        if ($(this).find('li.child-link').hasClass('hidemenu')) {

            $(this).find('li.child-link').removeClass('hidemenu');
            $(this).find('li.child-link').addClass('showmenu');


            /*$(this).find('li.child-link').on('click',function() {
              if($(this).find('li.grandchild-link').hasClass('hidemenu'))
              {
                  $(this).find('li.child-link').removeClass('hidemenu');
                  $(this).find('li.child-link').addClass('showmenu');
                  $(this).find('li.grandchild-link').removeClass('hidemenu');
                  $(this).find('li.grandchild-link').addClass('showmenu');
              }
              else{
                  $(this).find('li.grandchild-link').addClass('hidemenu');
                  $(this).find('li.grandchild-link').removeClass('showmenu');
              }
            });*/

        } else {
            $(this).find('li.child-link').removeClass('showmenu');
            $(this).find('li.child-link').addClass('hidemenu');
        }
    });


    /*$(".child-link").on('click',function() {

    if($("li.child-link").hasClass('showmenu')){

        $(this).removeClass('showmenu');
        $(this).addClass('hidemenu');

        $(this).find('li.grandchild-link').addClass('hidemenu');
        $(this).find('li.grandchild-link').removeClass('showmenu');

        }

    });*/

</script>

<script>
    $(document).ready(function () {


	/* ====== Integrated Rewards Script ======= */
/*$('li.child-link > a[href*="about/reports/overview"]').each(function() {
    $(this).parent('li').hide();
	return false;
});*/


        //* ================ Target blank on PDF Links and External Links ================ *//
        $('a[href$=".pdf"]').attr('target', '_blank');
        $('a:not([href^="https://www.pps.co.za"]):not([href^="#"]):not([href^="/"])').attr('target','_blank');
        $("#content a[href^='https://www.pps.co.za/']").attr("target","_blank");


        $('.subnav-container > .container-fluid > li:last > a').addClass('active-link subnav-parent-link');
        $('.subnav-container > .container-fluid > li:last > a').append(' <i class="fas fa-caret-right"></i>');
        
        $('.subnav-container > .container-fluid > li:first > a').each(function () {
            if ($(this).text() == 'Integrated Report For PPS Namibian Members') {
                //alert($(this).text());
                $(this).attr('target', '_blank')
            }
        });

        if ($(window).width() <= 1199) {

            $('nav#block-refresh-main-menu > ul').append('<li class="menu-item"><a href="/join-pps">Join PPS</a></li>');
            $('nav#block-refresh-main-menu > ul').prepend('<li class="menu-item"><a href="/login">Login</a></li>');

            /*$('.is-active').parent('li.grandchild-link').hide();*/
            $( "li.menu-item--active-trail.child-link" ).css( "border-bottom", "0px" );
            $('nav#block-refresh-footer').removeClass('mobile-submenu-hide');

            $('nav#block-usefullinksleft-2').removeClass('mobile-submenu-hide');
            $('nav#block-usefullinksright-2').removeClass('mobile-submenu-hide');

            if ($("nav > ul > li").hasClass("menu-item--expanded")) {
                $('nav > ul > li.menu-item--expanded > a').each(function () {
                    $(this).replaceWith("<a href='#'>" + $(this).text() + "</a>");
                });
            }

            $("nav > ul > li.menu-item--active-trail.parent-link > ul > li.child-link").addClass("showmenu");
            $("nav > ul > li.menu-item--active-trail.parent-link > ul > li.child-link.menu-item--active-trail > ul > li").addClass("showmenu");
            

        } else {

                     $('.menu-item.menu-item--expanded.parent-link>a').each( function(index,objectiterated){ 

                var currentParent= objectiterated;
                
                $(objectiterated).on('click',function(){

                    var currentParentChildren=$(currentParent).next().children()[0];
                    
                    $(currentParentChildren).children()[0].click();
                    
                
            } );
                
        });
            //alert('not working media query');
        }

            //set onclick of parent menu link to click first sub menu child
       


    });
</script>


<script>
    // Select all links with hashes
    $('a[href*="#"]')
    // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .not('[href="#."]')
        .click(function (event) {
            // On-page links
            if (
                location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                &&
                location.hostname == this.hostname
            ) {
                // Figure out element to scroll to
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');

                $('.btnClose').hide();
                $('#block-refresh-main-menu').removeClass('mobile-submenu-show');
                $('#block-refresh-main-menu').addClass('mobile-submenu-hide');
                /*$('.menu-item.menu-item--expanded.menu-item--active-trail.child-link.hidemenu').removeClass('hidemenu');*/


                // Does a scroll target exist?
                if (target.length) {
                    // Only prevent default if animation is actually gonna happen
                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: target.offset().top - 105
                    }, 1000, function () {
                        // Callback after animation
                        // Must change focus!
                        var $target = $(target);
                        $target.focus();
                        if ($target.is(":focus")) { // Checking if the target was focused
                            return false;
                        } else {
                            $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                            $target.focus(); // Set focus again
                        }
                        ;
                    });
                }
            }
        });
</script>


<script>
    {# Inject Ids on sub-menu #}

    $(document).ready(function(){

            $('a').each(function () {
             if($(this).attr('href')=='#heading3'){
                    $(this).attr('id','head3');
                }
            else if($(this).attr('href')=='#heading2'){
                $(this).attr('id','head2');
            }
            else if ($(this).attr('href')=='#heading1'){
                $(this).attr('id','head1');
            }
            else if($(this).attr('href')=='#heading4'){
                $(this).attr('id','head4');
            }

        });

    });

</script>


<script>
    {# @Hlokolozar #}
    $(document).ready(function() {
        $('.subnav-container, #head1').on('click', function () {

            $('#collapse1').addClass('show');
            $('#collapse1').css('margin-top', '20px');

            if ($('#collapse2').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse4').hasClass('show') == true
            ) {
                $(this).removeClass('show');
            }
        });
        $('.subnav-container, #head2').on('click', function () {
            $('#collapse2').addClass('show');
            $('#collapse2').css('margin-top', '20px');

            if ($('#collapse1').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse4').hasClass('show') == true
            ) {
                $(this).removeClass('show');
            }
        });
        $('.subnav-container, #head3').on('click', function () {
            $('#collapse3').addClass('show');
            $('#collapse3').css('margin-top', '20px');

            if ($('#collapse2').hasClass('show') == true || $('#collapse1').hasClass('show') == true || $('#collapse4').hasClass('show') == true
            ) {
                $(this).removeClass('show');
            }
        });
        $('.subnav-container, #head4').on('click', function () {
            $('#collapse4').addClass('show');
            $('#collapse4').css('margin-top', '20px');

            if ($('#collapse2').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse1').hasClass('show') == true
            ) {
                $(this).removeClass('show');
            }
        });

    //    For Mobile
    $('.showmenu, #head1').on('click', function () {

        $('#collapse1').addClass('show');
        $('#collapse1').css('margin-top', '20px');

        if ($('#collapse2').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse4').hasClass('show') == true
        ) {
            $(this).removeClass('show');
        }
    });
    $('.showmenu, #head2').on('click', function () {
        $('#collapse2').addClass('show');
        $('#collapse2').css('margin-top', '20px');

        if ($('#collapse1').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse4').hasClass('show') == true
        ) {
            $(this).removeClass('show');
        }
    });
    $('.showmenu, #head3').on('click', function () {
        $('#collapse3').addClass('show');
        $('#collapse3').css('margin-top', '20px');

        if ($('#collapse2').hasClass('show') == true || $('#collapse1').hasClass('show') == true || $('#collapse4').hasClass('show') == true
        ) {
            $(this).removeClass('show');
        }
    });
    $('.showmenu, #head4').on('click', function () {
        $('#collapse4').addClass('show');
        $('#collapse4').css('margin-top', '20px');

        if ($('#collapse2').hasClass('show') == true || $('#collapse3').hasClass('show') == true || $('#collapse1').hasClass('show') == true
        ) {
            $(this).removeClass('show');
        }
        });
    });
</script>



<script>
$(document).ready(function() {
	
	$('#block-views-block-claims-claims-sicknesspermanent-block-2').find("tr:nth-child(4) td").prepend("<h4 style='margin-top:20px'>Pregnancy Related</h4>");
    $('#block-views-block-claims-claims-sicknesspermanent-block-2').find("tr:nth-child(6) td").prepend("<h4 style='margin-top:20px'>Psychiatric Conditions</h4>");

	$('.pager__item').children().removeAttr('target');
    $('#block-searchform').addClass('searchhide');

    $('#searchBtn').on('click', function () {
        
            if ( $('#block-searchform').hasClass("searchhide") ){
                $('#block-searchform').addClass('searchshow');
                $('#block-searchform').removeClass('searchhide');
            }
        else{
                $('#block-searchform').addClass('searchhide');
                $('#block-searchform').removeClass('searchshow');
                
            }

        });



	$('.contact-links').on('click',function(){
    	  setTimeout( function(){

    	  $('.tab-pane').removeClass('show');
	  }, 500);
	});


	var elementPosition = $('.contact-links').offset();

$(window).scroll(function(){
    if($(window).scrollTop() > elementPosition.top){
                
	$('.contact-links').css('color', '#000');

	}
});


});
</script>


    <script>
        {# $(document).ready(function () {
            if(window.location.href=="http://34.76.147.18/our-story-0" && $('.align-self-center').hasClass('col-lg-6')==true){ #}

               // $('.align-self-center  ').removeClass('col-lg-6');
                //$('.align-self-center  ').addClass('col-lg-12');
            {# }
        }); #}

    </script>
{# <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script> #}
<!--End mc_embed_signup-->
<script>
    $(document).ready(function () {
  var $form = $('#mc-embedded-subscribe-form')
  if ($form.length > 0) {
    $('form input[type="submit"]').bind('click', function (event) {
      if (event) event.preventDefault()
      register($form)
    })
  }
})

function register($form) {
  $('#mc-embedded-subscribe').val('Sending...');
  $.ajax({
    type: $form.attr('method'),
    //url: 'https://cors-anywhere.herokuapp.com/https://professionalsconnect.us19.list-manage.com/subscribe/post?u=ee31df1d2f8eb86cc532648a7&amp;id=ab6a734bcf',
    //url: 'https://cors-anywhere.herokuapp.com/https://professionalsconnect.us19.list-manage.com/subscribe/post?u=ee31df1d2f8eb86cc532648a7&amp;id=93d3b89f2a'
    url: $form.attr('action'),
    data: $form.serialize(),
    cache: false,
    dataType: 'jsonp',
    contentType: 'application/json; charset=utf-8',
    error: function (err) { /*alert("Could not connect to the registration server.");*/ },
    success: function (data) {
      $('#mc-embedded-subscribe').val('subscribe');
    
      if (data.result === 'success') {
        // Yeahhhh Success
        console.log(data.msg)
        $('#mce-EMAIL').css('borderColor', '#ffffff')
        $('#subscribe-result').css('color', 'rgb(53, 114, 210)')
        $('#subscribe-result').html('<p>Thank you for subscribing. We have sent you a confirmation email.</p>')
        $('#mce-EMAIL').val('')

        //Start of redirect Script
        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = $('#mc-embedded-subscribe-form').attr('action').slice($('#mc-embedded-subscribe-form').attr('action').indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        var me = getUrlVars()["id"];

        //Ivestment Mailchimp form id
        if(me == '93d3b89f2a'){
            window.location = "/investment-thank-you";
        }

        //Join PPS Mailchimp form id
        if(me == 'ab6a734bcf'){
            window.location = "/join-pps-thank-you";
        }

        //Join PPS Mailchimp form id
        if(me == '8d1c963de7'){
            window.location = "/contact-us-thank-you";
        }

        //Life PPS Mailchimp form id
        if(me == '52a4c2b54c'){
            window.location = "/life-insurance-thank-you";
        }

        //Financial PPS Mailchimp form id
        if(me == '4d40229ddc'){
            window.location = "/financial-plan-thank-you";
        }
        
        //Short Term Mailchimp form id
        if(me == '96f48cdad3'){
            window.location = "/short-term-insurance-thank-you";
        }
        
        //Credit Card Mailchimp form id
        if(me == '41df89d199'){
            window.location = "/credit-card-thank-you";
        }

        //Payment Solutions Mailchimp form id
        if(me == '95cf428ad5'){
            window.location = "/payment-solutions/thank-you";
        }

        //Short Form STI Mailchimp form id
        if(me == 'befdf03c3f'){
            window.location = "/sti-short-form/thank-you";
        }

        //FIDUCIARY SERVICES Form Mailchimp form id
        if(me == '53fa8e0401'){
            window.location = "/fiduciary-services-thank-you";
        }

        //Adviser Mailchimp form id
        if(me == 'b2343420c8'){
            window.location = "/thank-you";
        }
        
        //RSVP Capetown Form Mailchimp form id
        if(me == '3340b266cc'){
            window.location = "/rsvp-thank-you";
        }

        //RSVP Johannesburg Form Mailchimp form id
        if(me == '082e8ff885'){
            window.location = "/rsvp-thank-you";
        }

        //RSVP Johannesburg Form Mailchimp form id
        if(me == '556c8672d5'){
            window.location = "/rsvp-thank-you";
        }

        //RSVP Johannesburg Form Mailchimp form id
        if(me == '556c8672d5'){
            window.location = "/events-thank-you";
        }

        //RSVP Johannesburg Form Mailchimp form id
        if(me == '26cdd007b7'){
            window.location = "/rsvp-thank-you";
        }
        

        
        
        
        //Redirect Script


      } else {
        // Something went wrong, do something to notify the user.
        console.log(data.msg)

        /*var me = getUrlVars()["id"];
        if(me == '53fa8e0401'){
            $('#subscribe-result').html('<p style="margin-top: 10px; margin-bottom: 10px; border-left: 5px solid #3F8509; padding: 15px 10px; background: rgba(63,133,9,0.2); color: #000">Please fill in all the fields</p>')
            $('#mc-embedded-subscribe').attr('value', 'Submit');
        }*/

        $('#mce-EMAIL').css('borderColor', '#ff8282')
        $('#subscribe-result').css('color', '#ff8282')
        


        //Start of redirect Script
        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = $('#mc-embedded-subscribe-form').attr('action').slice($('#mc-embedded-subscribe-form').attr('action').indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        var me = getUrlVars()["id"];

        //RSVP Form Mailchimp form id
        if(me == '53fa8e0401'){
            //$('#subscribe-result').html('<p style="margin-top: 10px; border-left: 5px solid #3F8509; padding: 15px 10px; background: rgba(63,133,9,0.2); color: #000">You have already submitted your RSVP for this event</p>')
            $('#subscribe-result').html('<p style="margin-top: 10px; margin-bottom: 10px; border-left: 5px solid #860808; padding: 15px 10px; background: rgba(125,12,12,0.2); color: #000">Please fill in all the fields</p>')
            $('#mc-embedded-subscribe').attr('value', 'Submit');
        }
      }
    }/*,
    complete: function(data){
        window.location = "/thank-you";
    }*/
  })
};

    if(window.location.href === "https://www.pps.co.za/card-payments/credit-card"){
        $("[for=mce-MMERGE3]").replaceWith( "<label for='mce-MMERGE3'>Are you an existing Standard Bank Client (Yes/No)</label>" ).delay( 800 );
	
    }
    
</script>
	</section>
  </body>
</html>