{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">

  {% include directory ~ '/parts/navigations.html.twig' %}

  <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image: url(/{{ active_theme_path() }}/assets/2019-ir/images/header-img.jpg); margin-top: 59px;">
		<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Webchat New Page</h1>
          </div>
		</div>
	</section>


	<div class="container">
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at sagittis risus. Proin mollis turpis vitae nulla 
		porttitor, in pretium dui blandit. Maecenas quis posuere nulla, vitae hendrerit odio. Duis scelerisque varius diam ac 
		rutrum. Integer odio arcu, facilisis eget elit consequat, consectetur venenatis leo. Donec felis libero, ornare eu 
		fermentum ac, ornare eget sapien. Vestibulum aliquam quam justo, vel fermentum velit sollicitudin a. Phasellus ut 
		eros euismod, lobortis arcu in, volutpat eros. Aliquam a libero et ante porttitor porttitor eget ac nisi. Ut gravida pretium lobortis. Sed ut sollicitudin erat, consectetur euismod lacus. Quisque molestie at justo ac consequat. Phasellus condimentum risus risus, non mattis dolor convallis vitae. Nunc rhoncus libero non tempus commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

		<p>Phasellus magna elit, fermentum ut euismod sit amet, consectetur id turpis. Fusce ac convallis massa, quis suscipit mauris. Morbi gravida blandit ex, vitae finibus sapien. Duis non sodales elit, sit amet vulputate urna. Cras sem lorem, commodo pellentesque dui vitae, luctus bibendum diam. Donec sed mi non dolor vehicula sollicitudin. Pellentesque erat massa, hendrerit in dapibus at, pellentesque non lorem. Vivamus vestibulum lacinia urna, id dapibus ipsum vulputate quis. Duis eu commodo nisi. Integer a lacinia purus. Donec sollicitudin tortor quis nibh tristique commodo. Morbi eget malesuada tortor.</p>

		<p>Morbi lectus lorem, malesuada finibus aliquam sit amet, congue porttitor lorem. Quisque pharetra nisl nisl, id commodo neque accumsan sed. Duis ut ex eleifend, consectetur nisl id, imperdiet sapien. Aliquam auctor magna vel mattis auctor. Aliquam convallis, urna non fringilla fermentum, lacus massa fermentum leo, at fringilla quam velit nec est. In hac habitasse platea dictumst. Donec eu sem tincidunt, sodales sapien eget, molestie eros. Integer et turpis id quam tincidunt commodo nec a mi.</p>

		<p>Nam vel mi ut dolor aliquam placerat. Nunc sit amet ligula accumsan, vehicula sem ac, finibus neque. Phasellus viverra rhoncus nisl, porta luctus lacus consectetur quis. Quisque nec iaculis felis. Praesent ac pellentesque tortor, eu consectetur dui. Etiam tempus bibendum tortor. Nunc maximus, felis sed pulvinar finibus, felis ex posuere ante, sit amet laoreet nunc arcu eu mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec malesuada massa eget pellentesque eleifend. Vestibulum nisi risus, congue at porttitor et, maximus vitae neque.</p>

		<p>In sit amet dignissim libero. Suspendisse ultrices placerat turpis vitae hendrerit. Cras dignissim vehicula sapien sed commodo. Donec semper hendrerit lorem nec lacinia. Phasellus eget est sed ex euismod pharetra. Phasellus elit metus, dictum ac ligula vitae, mattis sagittis magna. Etiam hendrerit, lectus eget porta rutrum, tellus mi porttitor mauris, facilisis vestibulum felis urna quis dui. Nunc sed condimentum quam. Nullam vitae elit hendrerit, fermentum ex ac, molestie nisi. Quisque nec placerat dolor, sit amet commodo quam. Nulla eget ultricies nisi. Morbi tortor enim, semper vitae finibus non, commodo ac quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc finibus rhoncus enim non mollis. Nam mattis quam mauris, vitae ullamcorper nulla accumsan in. Integer eget sem ut nunc efficitur aliquam sit amet sed massa.</p>


    






    <div class="drop-msg drop-msg-mobile row text-center">

        <div class="drop-msg-border-left mb-0" style="width: 100px; border-right: 1px solid #ccc;">
          <div class="field field--name-field-life-brochure-link field--type-link field--label-above">
            <div class="field__item"><a href="https://cloud.3dissue.com/170814/171187/200052/issue1kf/index.html?r=8" target="_blank" style="font-size: 11px;">View Brochure</a></div>
          </div>
        </div>

        <div class="mb-0 mobileHide" style="width: 125px; border-right: 1px solid #ccc;">
            <a href="#contactus" class="drop-msg-a" style="font-size: 11px; line-height: 3;">Claim Statistics</a>
        </div>

        <div class="mb-0" style="width: 125px; border-right: 1px solid #ccc;">
            <a href="#contactus" class="drop-msg-a" style="font-size: 11px; line-height: 3;">Call Me Back</a>
        </div>


        {# <div class="mb-0" id="chat_tab_wrapper" style="display: block; width: 100px;">
          <div class="chat_btn" style="">
            <div id="chat_tab">
              <span data-res="chatSideBarInitialTitle">Live Chat</span>
            </div>
          </div>
        </div> #}

    </div>
    

	</div>

  



	<div id="PPSWebChat_MainContainer" class="PPSWebChat-MainContainer">

    <div id="PPSWebChat_ChatInfoPanel" class="PPSWebChat-HideElement">

      <div class="embed-responsive embed-responsive-16by9" style="height: 529px;">
        <iframe id="webChatFrame" style="height:100%;"  class="embed-responsive-item" src="https://www.ppsisecure.co.za/ININ/ppsichat.aspx" allowfullscreen ></iframe>
      </div>

    </div>

    <div id="PPSWebChat_ChatPanel" class="PPSWebChat-HideElement">

        <div class="form-group col-sm-12 col-md-12">
          <button id="PPSWebChat_CloseChat" type="button" class="btn btn-primary btn-block PPSWebChat-Blue" style="background-color: #0e3db0 !important;"><i class="glyphicon glyphicon-minus PPSWebChat_Minimize"></i> Close Chat <i id="PPSWebChat_RemoveChat" class="glyphicon glyphicon-remove-sign"></i></button>
        </div>

    </div>



</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="/{{ active_theme_path() }}/assets/js/jquery-3.3.1.min.js"></script>

{# https://webchat.pps.co.za/webchat_ucc_memberservices_webchat/ #}
<script type="text/javascript" src="https://webchat.pps.co.za/webchat_ucc_memberservices_webchat/sfbwebchatplus/js/jquery-2.1.0.js"></script>
    <script id="anywhere365-sfbwebchatplus-client-index-external" src="https://webchat.pps.co.za/webchat_ucc_memberservices_webchat//sfbwebchatplus/js/anywhere365_sfbwebchatplus_client_index_external.js"></script>
    <script>
    var optionalArguments = [];
    Anywhere365WebchatIntegration.Init(optionalArguments);
  </script>

  <script>
    // Webchat Mobile Script

    console.log('Webchat Script Below');
    
    setTimeout(function(){
      //console.log('PPS: '+ $('#chat_tab').length); 
    
    
      

        $('#chat_tab > span').on("click", function(){
          console.log('Webchat Script 1');
          //alert('PPS Webchat');

            $('.chat_tab_extension').removeAttr('style');

            $('#chat_tab_extension').addClass('displayChat');
            $('.displayChat').removeAttr('id');

            $(this).hide();
        });

        /*$('.mCSB_6_container > div > a').on("click", function(){
          $('#chat_tab > span').hide();
           $('#chat_tab_extension').removeClass('displayChat');
        }*/

        $('.modal-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            /*$('#chat_tab_extension').hide();*/
            $('#chat_tab > span').show();
        });

        $('.anywhere365-sfbwebchatplus-linkbutton').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            $('#chat_tab_extension').hide();
            $('#chat_tab > span').show();
        });

        $('.webchat-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            /*$('#chat_tab_extension').hide();*/
            $('#chat_tab > span').show();
        });

    }, 3000);
</script>

<style>

    .drop-msg{
      width: 455px; 
      background: #6ac5d1 !important;
    }

    .drop-msg a {
      display: block;
      padding: 0px;
    }

    {# For Desktop Screens , Mobile To Follow #}
    .PPSWebChat-MainContainer{
    width: 550px;
    }
    .chat-header-1{
    background: rgba(9,30,53,1) !important;
    }
    @media (max-width: 575.98px) {
    .PPSWebChat-MainContainer {
    width: 320px !important;
    z-index: 100000 !important;
    }
    .embed-responsive {
    height:400px !important;
    }

    textarea{
    width: 350px !important;
    }

    }

    @media (min-width: 416px) { 
    .PPSWebChat-MainContainer {
    width: 320px !important;
    z-index: 100000 !important;
    }
    .embed-responsive {
    height:220px !important;
    }

    textarea{
    width: 350px !important;
    }
    }

    @media (min-width: 768px) {
    .PPSWebChat-MainContainer{
    width: 550px !important;
    }
    .embed-responsive {
    height:529px !important;
    }
    }

    {# // Large devices (desktops, 992px and up) #}
    @media (min-width: 992px) { 
    .PPSWebChat-MainContainer{
    width: 550px !important;
    }
    .embed-responsive {
    height:529px !important;
    }
    }

    {# // Extra large devices (large desktops, 1200px and up) #}
    @media (min-width: 1200px) { 
    .PPSWebChat-MainContainer{
    width: 550px !important;
    }
    .embed-responsive {
    height:529px !important;
    }
    }

    #chat_tab span {
      position: fixed !important;
      background: transparent !important;
      padding: 9px 10px;
      top: unset !important;
      bottom: 21px !important;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px;
      right: 12px !important;
      left: unset;
      margin-top: -7px;
  }

    @media (max-width:415px){
      #product .drop-msg{
        width:350px !important;
        }
      
      .mobileHide{
        display:none;
      }

      #chat_tab span {
        bottom: 38px !important;
        right: -44px !important;
      }
    }

    @media screen and (max-width:1199px) and (min-width:416px){
      #product .drop-msg{
        width:455px !important;
        }

      #chat_tab span {
        bottom: -1px !important;
        right: -52px !important;
      }
    }

    {# @media screen and (max-width:1199px) and (min-width:901px){
        #product .drop-msg{
        width:350px !important;
        }

      #chat_tab span {
        bottom: 5px !important;
    right: -31px !important;
      }
    } #}




</style>



  {% include directory ~ '/parts/footer.html.twig' %}
