{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}


<section class="pt-20 pb-10 " style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
            background-size: cover; background-image:url('/themes/custom/refresh/assets/images/eligibility.jpg')">


    <div class="container">
        <div style="position: absolute; top: 220px;">
            <h1 class="mb-0" style="width:550px; color:#fff !important;">Eligibility</h1>
        </div>
    </div>
</section>

<section class="separator-top pb-8 pt-8">
    <div class="container">

        <iframe src="https://eligibility.pps.co.za" id="eligibilityFrame"  name="Eligibility"
  scrolling="auto" align="bottom" height="750" width="100%" >
        </iframe>
    </div>

</section>

{% include directory ~ '/parts/footer.html.twig' %}


