{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% include directory ~ '/parts/header.html.twig' %}
	<!-- cover -->	

	  <body id="product">
  {% include directory ~ '/parts/navigations.html.twig' %}


	<div class="subnav-container" style="margin-top: -72px !important; height: 68px;">
      <div class="container-fluid">

      
                    <li class="menu-item">
        <a href="/insure/life-solutions/accidental-death-cover" data-drupal-link-system-path="node/290">Accidental Death Cover</a>
              </li>
                <li class="menu-item">
        <a href="/insure/life-solutions/education-cover" data-drupal-link-system-path="node/203">Education Cover</a>
              </li>
                <li class="menu-item">
        <a href="/insure/life-solutions/life-cover" data-drupal-link-system-path="node/176">Life Cover</a>
              </li>
                <li class="menu-item">
        <a href="/insure/life-solutions/critical-illness-cover" data-drupal-link-system-path="node/207">Critical Illness Cover</a>
              </li>
                <li class="menu-item">
        <a href="/life-solutions/disability-cover">Disability Cover</a>
              </li>
                <li class="menu-item">
        <a href="/insure/life-solutions/sickness-cover" data-drupal-link-system-path="node/212">Sickness Cover</a>
              </li>
                <li class="menu-item">
        <a href="/insure/life-solutions" data-drupal-link-system-path="node/260" class="is-active active-link subnav-parent-link">Life Solutions</a>
              </li>
        </div>
    </div>
   

    <!-- cover -->
    <section id="bannerTesti" class="pt-20 pb-10">
      <div class="image banner-height banner-images" style="background-image:url(/sites/default/files/2019-07/disability-banner.jpg);background-position: center top; z-index: -99; position: absolute !important; top: 100px !important;"></div>
      	<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">You can't choose a disability</h1>
          </div>
			  </div>
    </section>
    <!-- / cover -->


	<div class="my-5" style="margin-top: 7.125rem !important">
  		{{page.disability_intro_page}}
	</div>

	<div style="margin-top: 7.125rem !important">
  		{{page.disability_testimonials_page}}
	</div>
	
  	<div style="margin-top: -4rem !important;">
  		{{page.disability_page}}
	</div>

	{% include directory ~ '/parts/form-joinpps.html.twig' %}

	{# <section class="pb-0 contact-area"
                style="background-image:url(/{{ active_theme_path() }}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center -120px; background-repeat:no-repeat">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12">

                            <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=52a4c2b54c&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <h2>Call Me Back</h2>
					<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="mc-field-group">
						<label for="mce-MMERGE5">Title </label>
						<select name="MMERGE5" class="" id="mce-MMERGE5">
						<option value=""></option>
						<option value="Please Select">Please Select</option>
					<option value="Adv">Adv</option>
					<option value="Dr">Dr</option>
					<option value="Ds">Ds</option>
					<option value="Me">Me</option>
					<option value="Mev">Mev</option>
					<option value="Mej">Mej</option>
					<option value="Mnr">Mnr</option>
					<option value="Mr">Mr</option>
					<option value="Mrs">Mrs</option>
					<option value="Ms">Ms</option>
					<option value="Miss">Miss</option>
					<option value="Prof">Prof</option>
					<option value="Rev">Rev</option>

						</select>
					</div>
					<div class="mc-field-group">
						<label for="mce-FNAME">First Name </label>
						<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
					</div>
					<div class="mc-field-group">
						<label for="mce-LNAME">Last Name </label>
						<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
					</div>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
					</label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
					<div class="mc-field-group size1of2">
						<label for="mce-PHONE">Contact Number </label>
						<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
					</div>
					<div class="mc-field-group">
						<label for="mce-MMERGE3">City </label>
						<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
					</div>
					<div class="mc-field-group">
						<label for="mce-MMERGE6">Preferred Contact Time </label>
						<select name="MMERGE6" class="" id="mce-MMERGE6">
						<option value=""></option>
						<option value="Please Select">Please Select</option>
					<option value="Anytime">Anytime</option>
					<option value="8:00 - 9:00">8:00 - 9:00</option>
					<option value="9:00 - 10:00">9:00 - 10:00</option>
					<option value="10:00 - 11:00">10:00 - 11:00</option>
					<option value="11:00 - 12:00">11:00 - 12:00</option>
					<option value="12:00 - 13:00">12:00 - 13:00</option>
					<option value="13:00 - 14:00">13:00 - 14:00</option>
					<option value="14:00 - 15:00">14:00 - 15:00</option>
					<option value="15:00 - 16:00">15:00 - 16:00</option>

						</select>
					</div>
					<div class="mc-field-group">
						<label for="mce-MMERGE7">Highest Qualification </label>
						<input type="text" value="" name="MMERGE7" class="" id="mce-MMERGE7">
					</div>
					<div class="mc-field-group">
						<label for="mce-MMERGE8">Occupation </label>
						<input type="text" value="" name="MMERGE8" class="" id="mce-MMERGE8">
					</div>
					<div class="mc-field-group" style="display: none !important">
						<label for="mce-MMERGE9">Referring URL </label>
						<input type="text" value="" name="MMERGE9" class="" id="mce-MMERGE9">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_52a4c2b54c" tabindex="-1" value=""></div>
						<div class="clear"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
					</div>
					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[5]='MMERGE5';ftypes[5]='dropdown';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='PHONE';ftypes[4]='phone';fnames[3]='MMERGE3';ftypes[3]='text';fnames[6]='MMERGE6';ftypes[6]='dropdown';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
					<!--End mc_embed_signup-->

                    </div>
                </div>
            </div>
        </section> #}




	{# <img src="/sites/default/files/2019-07/image025.png" width="100%" style="margin-top: -10px !important;"> #}

	{# <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:11.5%; background: rgba(9,30,53,1)!important;">
		
		
		<div style="float:left;max-width: 100%;width:100%; text-align: center;">
			<a href="#contactus" style="display: inline-block; color: #fff; cursor: pointer; font-weight: 900; text-transform: uppercase; padding: 0.6rem 0.5rem; font-size: 12px;">Call Me Back</a>
		</div>
		
	</div> #}



	<div class="drop-msg drop-msg-mobile">
      <div class="btnLinks">
          <a style="display: inline-block;" href="#contactus" class="drop-msg-a" target="_blank">Call Me Back</a>
      </div>

      <div class="drop-msg-border-left">
            
      </div>
    </div> 

    {# Referrign URL #}
<script>
  document.getElementById("mce-MMERGE9").value = window.location.href;
</script>

  {% include directory ~ '/parts/footer.html.twig' %}


 
  <style>
	.region .subnav-container li.menu-item a {
		color: #000 !important;
		font-size: 8pt;
	}
	
	.dialog-off-canvas-main-canvas{
		margin-top: 110px;
	}
    
    .subnav-container {
        margin-top: 62px !important;
		border-bottom: 0px solid #f3f3f3;
    }

	#block-views-block-disability-block-disability-testimonial-block{
		width: 100% !important;
		background-color: rgba(9,30,53,1)!important;
	}

	#block-views-block-disability-block-disability-testimonial-block > .views-row{
		flex: 0 0 50%;
    	max-width: 50%;
		float: left !important;
		background: unset !important;
	}

	#block-views-block-disability-block-disability-testimonial-block > .views-row h4 strong{
		color:  #b09455 !important;
	}

	#block-views-block-disability-block-disability-testimonial-block > .views-row:nth-child(1){
		padding-left: 65px;
    	padding-right: 10px;
	}

	#block-views-block-disability-block-disability-testimonial-block > .views-row:nth-child(2){
		padding-right: 65px;
    	padding-left: 10px;
	}

	#block-views-block-disability-block-disability-testimonial-block > .views-row p{
		color: #fff !important;
	}

	#block-views-block-disability-block-disability-testimonial-block > div.views-row > div.test{
		background: unset !important;
	}

	#block-views-block-disability-block-disability-scenerios{
		width: 100% !important;
	}

	#block-views-block-disability-block-disability-intro-section{
		width: 100% !important;
	}

    .chat-header{
      background-color: rgba(9,30,53,1) !important;
    }

    .call-action{
      font-weight: 900;
      text-transform: uppercase;
      padding: 6px 20px !important;
      font-size: 12px;
      border-color: #091e35;
      background-color: #091e35;
      color: #fff;
      border-radius: 1000px;
    }

      .field__label{
        display:none;
      }

	.file.file--mime-application-pdf.file--application-pdf{
		display: contents;
  }
  

  .file--application-pdf a {
    float: left;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 50px !important;
    font-size: 12px;
    font-weight: 398px;
    border-color: #722c9e;
    background-color: #722c9e;
    color: #fff;
    border-radius: 1000px;
}

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-1-brochure a {
		float:right;
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }

	#block-views-block-disability-block-disability-scenerios > .views-row:nth-child(odd) {
        margin-top: -5px;
		background-color: rgba(9,30,53,1)!important;
	}
	#block-views-block-disability-block-disability-scenerios > .views-row:nth-child(even) {
		background-color: rgba(255,255,255,1) !important;
	}

	#block-views-block-disability-block-disability-scenerios > .views-row > .test{
		background: unset !important;
	}

	#block-views-block-disability-block-disability-scenerios > .views-row:nth-child(odd) p, strong  {
		color: #fff !important;
		text-align: left !important;
	}

	#block-views-block-disability-block-disability-scenerios > .views-row:nth-child(odd) h4 {
		text-align: right !important;
	}

	#block-views-block-disability-block-disability-scenerios > .views-row strong {
		color: #b09455 !important
	}

	#block-views-block-disability-block-disability-scenerios > .views-row:nth-child(even) div.col-md-6{
		float: right;
		
	}

	#block-views-block-disability-block-disability-scenerios > .views-row:nth-child(even) div.col-md-6:nth-child(2) {
		float: right;
		border-left: 3px solid #b09455;
		min-height: 300px;
    	/* padding: 15px 15px; */
	}

	#block-views-block-disability-block-disability-scenerios > .views-row:nth-child(odd) div.col-md-6:nth-child(2) {
		/* border-left: 3px solid #b09455; */
		min-height: 300px;
    	/* padding: 15px 15px; */
	}
  
   @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }
    }


	@media(max-width:415px){
      /* div.drop-msg.drop-msg-mobile{
        width: 80% !important;
        bottom: 70px !important;
	  } */
	  
	  /*div.drop-msg.drop-msg-mobile{
        display:none;
      }*/

	  .banner-images {
			margin-top: 80px;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		.banner-text-invest {
			max-width: 300px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: -55px;
			font-size: 1.8rem !important;
		}

		#block-views-block-disability-block-disability-testimonial-block > .views-row {
			flex: 0 0 50%;
			max-width: 100%;
			float: left !important;
			background: unset !important;
		}

		#block-views-block-disability-block-disability-testimonial-block > .views-row:nth-child(1) {
			padding-left: 15px;
			padding-right: 10px;
		}

		#block-views-block-disability-block-disability-testimonial-block > .views-row:nth-child(2) {
			padding-right: 15px;
			padding-left: 10px;
		}

		.testim-c > div.col-md-6{
			margin-bottom: 40px;
		}
    }


	@media screen and (max-width: 1200px) and (min-width: 417px){
      /* div.drop-msg.drop-msg-mobile{
        width: 80% !important;
        bottom: 70px !important;
	  } */
	  
	  /*div.drop-msg.drop-msg-mobile{
        display: none;
      }*/

	  .banner-images {
			margin-top: 80px;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		.banner-text-invest {
			max-width: 411px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 300px;
			font-size: 2.8rem !important;
		}

		#block-views-block-disability-block-disability-testimonial-block > .views-row {
			flex: 0 0 50%;
			max-width: 100%;
			float: left !important;
			background: unset !important;
		}

		#block-views-block-disability-block-disability-testimonial-block > .views-row:nth-child(1) {
			padding-left: 15px;
			padding-right: 10px;
		}

		#block-views-block-disability-block-disability-testimonial-block > .views-row:nth-child(2) {
			padding-right: 15px;
			padding-left: 10px;
		}

		.testim-c > div.col-md-6{
			margin-bottom: 40px;
		}
    }


	    {# Web Chat styling #}

    .btnLinks{
        float:left;
        width: 110px;
        border-right: solid 1px #fff; 
        height: 36px;
    }

    {# .drop-msg a {
      line-height: 3;
    } #}

    .drop-msg {
        width: 230px !important;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }

	#chat_tab span {
		position: fixed !important;
		background: transparent !important;
		padding: 9px 10px;
		top: unset !important;
		bottom: 23px !important;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 11px;
		right: 36px !important;
		left: unset;
		margin-top: -7px;
	}


    @media screen and (max-width:1199px) and (min-width:416px){
      #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 24px !important;
            padding: 9px 20px;
            right: 22px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }
    }

    @media (max-width: 415px){
      #chat_tab span {
          position: fixed !important;
          display: inline-block;
          bottom: 64px !important;
          padding: 9px 20px;
          right: 22px !important;
          cursor: pointer;
          width: 100px;
          left: unset!important;
      }

      #product .drop-msg {
          width: 230px !important;
          bottom: 55px !important;
      }
    }
  </style>

  <script>
	$('#block-views-block-disability-block-disability-scenerios > div.views-row').prepend("<h4 style='text-align: center !important; color: #fff; margin-top: 55px;'>HOW DOES OUR FUNCTIONAL AND <br> OCCUPATIONAL DISABILITY WORK IN PRACTICE?</h4>");
  </script>







   



