{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">

  {% include directory ~ '/parts/navigations.html.twig' %}

  {# {% include directory ~ '/parts/ir-2019-nav.html.twig' %} #}

  <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image: url(/{{ active_theme_path() }}/assets/2019-ir/images/header-img.jpg); margin-top: 59px;">
		<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Annual Financial Statements 2019</h1>
          </div>
		</div>
	</section>


	<div class="container" style="padding: 20px;">
					<h3>ANNUAL FINANCIAL STATEMENTS 2019</h3>
						<p>This report comprises of the audited consolidated annual financial statements of The Professional Provident Society Holdings Trust and its subsidiaries.</p>
							<p><strong>READ MORE:</strong>
						</p>
						<ul class="cd-accordion-menu label-border">
							<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/86/index.html" class="active-link" style="cursor: pointer" target="_blank">
							<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
								<label style="cursor: pointer">Statement of Responsibility by the Board of Trustees</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->
						<ul class="cd-accordion-menu label-border">
							<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/107/index.html" class="active-link" style="cursor: pointer" target="_blank">
							<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
								<label style="cursor: pointer">Group Accounting Policies</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->
						<ul class="cd-accordion-menu label-border">
							<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/103/index.html" class="active-link" style="cursor: pointer" target="_blank">
							<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
								<label style="cursor: pointer">Main Statements</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->
						<ul class="cd-accordion-menu label-border">
							<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/122/index.html" style="cursor: pointer" class="active-link" target="_blank">
							<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
								<label style="cursor: pointer">Notes to the Consolidated Financial Statements</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->
						<ul class="cd-accordion-menu label-border">
							<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/190/index.html" class="active-link" style="cursor: pointer" target="_blank">
							<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
								<label style="cursor: pointer">2020 Annual General Meeting</label>
							</a>
						</ul>
						<!-- cd-accordion-menu -->
</div>


  {% include directory ~ '/parts/footer.html.twig' %}
