{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">
  {% include directory ~ '/parts/navigations.html.twig' %}

    {#<section class="pt-6 pb-6 Rectangle-Copy myMarginBelow">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

			<div data-aos="fade-up" class="aos-init aos-animate">
			  <div class="row justify-content-between align-items-center text-center">
				<div class="col-md-12 offset-md-2 lower-text">
				  <h2 class="h1 text-blue Frequently-asked-Que">Frequently asked Questions</h2>
				  <div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
					<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button">Button</button>
				  </div>
				</div>

				</div>

			  </div>
			</div>
          </div>
        </div>

       </div>
    </section>#}
	<div class="container Rectangle-Copy">
		<div class="row">
			<div class="col-12" style="text-align: center;">
				<h2 class="h1 text-blue Frequently-asked-Que">Frequently asked Questions</h2>
				<form class="bg">
					<label>Search our FAQs or browse the categories below</label><br/>
					<input type="text" class="textbox" id="myInput"> 
					<button type="button" id="idSubmit"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</div>
	</div>	
	
	<div class="container myMarginBelow">
	  <div id="accordion">
		{{ page.faqs_categories }}
	  </div>	
	</div>
	
     {#<section class="pt-6 pb-6 Rectangle-Copy">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

			<div data-aos="fade-up" class="aos-init aos-animate">
			  <div class="row justify-content-between align-items-center text-center">
				<div class="col-md-9 offset-md-1">
				  <h2 class="h1 text-blue Frequently-asked-Que">Contact Us</h2>
				  <p>If you’d like to learn more about PPS, we would be happy to answer all your questions.</p>
				  <form class="bg">
					<button>GET IN TOUCH</button>
				  </form>
				</div>

			  </div>
			</div>
          </div>
        </div>

       </div>
    </section> #}
	
	{# <div class="c-section -space-medium" id="section-home">
		<div class="c-section-photo card-and-payments-banner banner-height"> 
		  <div id="card-and-payments-banner"> 
			<img src="/ppsdrupal/sites/default/files/2018-12/pic-bg-contact-01.jpg"
				 srcset="/ppsdrupal/sites/default/files/2018-12/pic-bg-contact-01@2x.jpg 2x,
						 /ppsdrupal/sites/default/files/2018-12/pic-bg-contact-01@3x.jpg 3x"
				 class="pic-bg-contact-01">		  
		  </div> 
		  <div class="center-div">		  
		    <h2 class="h1 text-blue">Contact Us</h2>
		    <p>If you’d like to learn more about PPS, we would be happy to answer all your questions.</p>
		    <form>
			  <a href="#" class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle">GET IN TOUCH</a>
		    </form> 
		  </div>		  
		  
		</div>
	</div>	#}
	
<!-- Contact Form-->
  <section class="pt-4" style="padding-bottom: 2.5rem !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">

          {% include directory ~ '/parts/joinForm.html.twig' %}
					   
        </div>
      </div>
    </div>
  </section>
<!-- /End Contact Form-->
		
 {% include directory ~ '/parts/footer.html.twig' %}	
	
<style>	
	:root {
		--navy: #00253d;
	}
	
	#myInput {
		position: absolute;
    margin-left: -301px !important;
		border: solid 1px #ccc;
	}

  #idSubmit {
		position: relative;
    z-index: 99;
    left: 311px;
    top: 2px;
    height: 72px;
    font-size: 26px;
    background: transparent;
    color: #bbb;
    border: none;
    width: 82px;
	}

	#idSubmit .fa {
		margin-right: 18px;
	}
	.myMarginBelow {
	    margin-top: 25px;
		margin-bottom: 106px;
	}
	
	.banner-height {
		height: 447px;	
	}
	
	.pic-bg-contact-01 {
	  width: 1440px;
	  height: 447px;
	  object-fit: contain;
	  display: none;
	}	
		
	.textbox {
	  width: 55%;;
	  height: 75px; 
	  border-radius: 4px;
	  background-color: #ffffff;
	}
	
	.Rectangle-Copy {
	  width: 100% !important;
	  height: 471px;
	  background-image: linear-gradient(297deg, var(--navy), #005081);	
	  padding-top: 160px;	
	  margin-bottom: 30px;
	  margin-top: 0px !important;
	}	
	.Frequently-asked-Que {
	  /*width: 663px;
	  height: 50px;*/
	  font-size: 46px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 45px !important;
	  font-family: sans-serif !important;
	  letter-spacing: normal;
	  /*text-align: center;*/
	  color: #ffffff !important;
	}	

	label {
	  /*width: 345px;
	  height: 18px;*/
	  font-family: sans-serif !important;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
	  letter-spacing: normal;
	  text-align: center;
	  color: #ffffff;
	}
	
	.bg {
	  /*width: 653px;
	  height: 140px;*/
	}	
	
	button {
	  width: 122px;
	  height: 18px;
	  font-family: Gotham;
	  font-size: 16px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.13;
	  letter-spacing: normal;
	  text-align: center;
	  color: #ffffff;
	}	
	
	.card {
		margin-bottom: 10px;
	}
	
	.card-header {
		padding: 0rem !important;
	}
	
	.card-footer {
		padding: 0rem !important;
	}
	
	
	.link-list {
		width: 100%;
		height: 100%;
		text-align: left;
		text-decoration: none !important;
		    color: #404040;
    font-weight: bold;
    font-family: sans-serif;
	}
	
	.neo{
		background:#000;
	}

	.c-button-1.-color-green-outline {
		border-color: #091e35;
		background-color: #091e35;
		color: #fff;
	}
	
	.c-button-1.-corner-circle {
		-webkit-border-radius: 1000px;
		-moz-border-radius: 1000px;
		border-radius: 1000px;
	}	
	
	.c-button-1 {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: normal;
		cursor: pointer;
		border-style: solid;
		font-family: inherit;
		font-weight: 700;
		text-align: center;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	
	/*a {
		color: #fff;
		font-weight: 900;
		text-transform: uppercase;
		padding: 0.6rem 0.5rem !important;
		font-size: 12px;
		font-weight: 398px;
	}
	a:hover,a:active,a:focus{
		color: #fff !important;
	}*/
	.card-body a {
		color: #B09455 !important;
	}
	
	.center-div {
	    margin: auto;
		text-align: center;
		padding-top: 120px;
	}
	
	p {
	    color: #091E35;
	}
	
	.categoryTerm {
	    color: #091E35;	
	}
	
	body {
		background: #f6f6f6;
	}
	
	.lower-text {
		padding-top: 160px;
	}
	@media only screen and (max-width: 768px) {
		.center-div {
			margin: auto;
			text-align: center;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		
		.banner-height {
			height: 300px;
		}
		
		.btn-link {
			white-space: normal;		
		}
		
	}
	@media only screen and (max-width: 414px) {
		.textbox {
			width: 75%;
			height: 55px;
			border-radius: 4px;
			background-color: #ffffff;
		}	
		.btn-link {
			white-space: normal;		
		}

	#myInput {
    position: absolute;
    margin-left: -118px !important;
		border: solid 1px #ccc;
	}

  #idSubmit {
    position: relative;
    z-index: 99;
    left: 112px;
    top: 1px;
    height: 55px;
    font-size: 26px;
    background: transparent;
    color: #bbb;
    border: none;
    width: 82px;
	}

	#idSubmit .fa {
		margin-right: 19px;
	}

	}

	
	#accordion {
		margin-left: 10px;
		margin-right: 10px;
	}
	.has-search .form-control {
  padding-left: 2.375rem;
}

	@media only screen and (max-width: 360px) {
		#myInput {
    position: absolute;
    margin-left: -93px !important;
		border: solid 1px #ccc;
	}

  #idSubmit {
		position: relative;
    z-index: 99;
    left: 95px;
    top: 1px;
    height: 55px;
    font-size: 26px;
    background: transparent;
    color: #bbb;
    border: none;
    width: 82px;
	}

	#idSubmit .fa  {
		margin-right: 19px;
	}
}

	@media only screen and (max-width: 320px) {
		#myInput {
			position: absolute;
			margin-left: -86px !important;
			border: solid 1px #ccc;
		}

		#idSubmit {
			position: relative;
			z-index: 99;
    	left: 89px;
			top: 1px;
			height: 55px;
			font-size: 26px;
			background: transparent;
			color: #bbb;
			border: none;
			width: 63px;
		}

		#idSubmit .fa {
			margin-right: 7px;
		}

			.container {
			max-width: 100% !important;
		}
	}
	@media only screen and (min-width: 1200px) {
		.container {
			max-width: 100% !important;
		}
		[class*="container"] {

			+ [class*="container"] {
				margin-top: ($section-padding / 2);
		}
		
		}
	}


.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
</style>	
<script>
	$(document).ready(function() {
		$("header").css("background-color", "rgba(9,30,53,1)");
	});
</script>