<html>
  <head>
    <title>The Professional (Member Publication)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
  </head>

  <body>

    <section class="">
            <div class="">
                <h2 class="text-center" style="font-weight: 300;">The Professional (Member Publication)</h2>
                <div class="col-md-12 filter-bar">
                    <div class="row">
                        <div class="col-md-3 col-5 dropdown media-selector">
                            {# <a class="btn btn-primary dropdown-toggle media-filter-button"
                                    data-toggle="dropdown" style="background-color:#0a1e37;color:#fff">
                                The Professional (Member Publication) 
                            </a> #}
                            {# <ul id="media-filters" class="dropdown-menu media-filters" style="background: #fff;color:#000">

                                <li class="list-inline-item"><a href="/media/blogs">Blogs</a></li>
                                <li class="list-inline-item"><a href="/gazette">Gazette</a></li>
                                <li class="list-inline-item"><a href="/about/media-archive">Media Archive</a></li>
                            </ul> #}

                        </div>
                        <div class="col-md-3 col-3 dropdown year-selector">
                            <a class="btn btn-primary dropdown-toggle filter-button" data-toggle="dropdown">
                                {# <i class="fas fa-caret-down"></i> #}
                            </a>
                            <ul id="filtering-years" class="dropdown-menu filtering-years">

                            </ul>

                        </div>
                        <div class="col-md-6 d-none d-md-inline-block month-selector text-right">
                            <a id="toLeft"><i class="fa fa-angle-left fa-2x"></i></a>
                            <ul class="nav nav-tabs list-inline month-list">

                            </ul>
                            <a id="toRight"><i class="fa fa-angle-right fa-2x"></i></a>
                        </div>
                        <div class="d-md-none d-lg-none d-inline-block col-4 month-selector-dropdown">


                            <a class="btn btn-primary dropdown-toggle month-filter-button"
                                    data-toggle="dropdown" style="background-color:#0a1e37">
                                {# <i class="fas fa-caret-down"></i> #}
                            </a>
                            <ul id="filtering-months-d" class="dropdown-menu filtering-months-mobile" style="color:#000">

                            </ul>


                        </div>
                    </div>

                </div>

                <div class="row" style="height: 500px; overflow: scroll;">

                    {{ page.plan_article }}

                </div>
            </div>
        </section>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="/{{ active_theme_path() }}/assets/js/articles.js"></script>
  </body>
</html>
        
    



<style>

    .pt-8 {
        padding-top: 20px !important;
    }

    .header-sec{
        position: absolute;
        top: 220px;
    }

    .filter-bar {
        z-index: 99;
        padding:10px;
        background-color: #fff;
        box-shadow: #ccc 0px 1px 1px;
        transition: all 0.8s;

    }

    .list-inline-item a {
        color: #0a1e37;
        font-size: 11px !important;
    }

    .active-month {
        background: #0a1e37;
        padding: 10px;
        border-radius: 5px;
    }

    .active-month a {
        color: #fff !important;

    }


    .line-separator {
        margin-left: -254px;
        width: 1600px;
    }

    #filtering-years {

        margin-left: -40px;
        padding: 10px;
    }

    #filtering-media {
        margin-left: -40px;
        padding: 5px;
    }

    .dropdown-menu {
        min-width: 6rem !important;
        width: 110px !important;
    }

    .month-list {
        margin-left: 30px;
    }

    .blogs-row-child {
        margin-top: 0px;
    }

    .month-filter-button {
        font-size: 10px;
        margin-top: -9px;
        margin-right: 60px;
    }

    .month-name {
        color: #000;
        text-transform: initial;
    }


    /*CSS from fields*/
    .article-title a {
        width: 491px;

        height: 88px;

        font-family: 'Gotham', sans-serif;
        margin-left: -8px;

        font-size: 24px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.05;

        letter-spacing: normal;

        color: #00253d;
        text-transform: none;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
        width: 458px;

        height: 108px;

        font-family: 'Gotham', sans-serif;

        font-size: 18px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.5;

        letter-spacing: normal;
    }

    .views-more-link {
        width: 170px !important;

        height: 52px !important;

        border-radius: 26px !important;
        margin-left: 0px !important;
        margin-top: 40px !important;
    }

    .hidden {
        display: none !important;
    }

    .date-text {
        width: 161px;

        height: 24px;

        font-family: Gotham;

        font-size: 16px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.5;

        letter-spacing: normal;
        color: #237e7e;
    }

    .release {
        padding: 40px !important;
    }

    .media-filters{
        padding: 10px;
        margin-left: 15px;
        width: 205px !important;

        background: #0a1e37;
      color:#fff;
        border-radius: 5px;
        
    }
    
    .media-filters li{
        display: block;
    }
    
    .media-filter-button{
        color: #fff;
    }
    
    .month-filter-button{
        color: #fff;
    }
    .filter-button{
        margin-left: 70px;
        color: #fff !important;
       background: #041e37
    }

    .filter-button:hover{
        background: #041e37 !important;
    }


    @media(min-width: 768px) and (max-width: 1022px){
        .media-filter-button{
            padding: 10px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }

        .filter-button{
            padding: 10px!important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }
        .month-filter-button{
            color: #fff !important;
            padding: 10px !important;
            font-size: 12px !important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;

        }
    }
    @media(min-width: 640px) and (max-width: 767px){
        .header-sec{
            top: 180px !important;

        }
        .media-filter-button{
            padding: 10px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }

        .filter-button{
            padding: 10px!important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }
        .month-filter-button{
            color: #fff !important;
            padding: 10px !important;
            font-size: 12px !important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;

        }

        .hide-on-mobile{
            display: none;
        }
    }

    @media (max-width: 414px) {

        .header-sec{
            position: absolute;
            top: 130px !important;
        }
        .filter-bar{
            background: #041e37;

        }
        .release {
            padding: 0px 40px !important;
        }

        .media-filter-button{
            background-color: transparent;
            color: #fff;
            font-size: 12px;
            text-transform: initial;
            padding: 10px;
            border: none;
            border-right: 1px groove #fff !important;

        }
        .filter-button{
            background: transparent !important;
            border: none;
            border-right: 1px groove #fff !important;
            padding: 10px;
            font-size: 12px !important;
            margin: 0px !important;
        }

        .month-filter-button{
            text-transform: initial !important;
            background: transparent !important;
            color: #fff !important;
            font-size: 12px !important;
            border: none;
            margin: 0;
            padding: 10px;

        }

        .hide-on-mobile{
            display: none;
        }

        .article-excerpt{
            display: none;
        }

        .article-title {
            padding: 0px !important;
        }


        .article-title a {
            font-size: 18px !important;
        }

        .blogs-row-child {
            margin-top: 20px !important;
            margin-bottom: -20px !important;
        }

    }
</style>