{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">
  {% include directory ~ '/parts/navigations.html.twig' %}
    	
	<!-- cover -->
    <section id="bannerTesti" class="pt-20 pb-10">
      <div class="image banner-height" style="background-image:url(/sites/default/files/2019-07/business-brief-banner1.jpg);background-position: center top;"></div>
      	<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Testimonials</h1>
          </div>
			  </div>
    </section>
    <!-- / cover -->
	
		<div class="my-5">        
				{{page.testimonials_page}}
		</div>
		
  <section style="padding: 2.25rem 0 !important; border-top: 1px solid #ccc" id="joinPPSF">
      <div class="container">
        
		<h4 style="font-weight: bold;">Join PPS</h4>

		<div id="mc_embed_signup">
<form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=8d1c963de7&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="row">
	<div class="col-md-6">
		<label for="mce-MMERGE5">Title <span class="asterisk">*</span></label>
		<select name="MMERGE5" class="controlClass textbox" id="mce-MMERGE5" required="required">
			<option value="Please Select">--- Please Select ---</option>
			<option value="Adv">Adv</option>
			<option value="Dr">Dr</option>
			<option value="Ds">Ds</option>
			<option value="Me">Me</option>
			<option value="Mev">Mev</option>
			<option value="Mej">Mej</option>
			<option value="Mnr">Mnr</option>
			<option value="Mr">Mr</option>
			<option value="Mrs">Mrs</option>
			<option value="Ms">Ms</option>
			<option value="Miss">Miss</option>
			<option value="Prof">Prof</option>
			<option value="Rev">Rev</option>
		</select>
	</div>
	<div class="col-md-6">
		<label for="mce-FNAME">First Name <span class="asterisk">*</span></label>
		<input type="text" value="" name="FNAME" class="controlClass textbox" id="mce-FNAME" required="required">
	</div>
</div><br/>
<div class="row">
	<div class="col-md-6">
		<label for="mce-LNAME">Last Name <span class="asterisk">*</span></label>
		<input type="text" value="" name="LNAME" class="controlClass textbox" id="mce-LNAME" required="required">
	</div>
	<div class="col-md-6">
		<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
	</label>
		<input type="email" value="" name="EMAIL" class="email controlClass textbox" id="mce-EMAIL" required="required">
	</div>
</div><br/>
<div class="row">
	<div class="col-md-6">
		<label for="mce-PHONE">Contact Number <span class="asterisk">*</span></label>
		<input type="text" name="PHONE" class="controlClass textbox" value="" id="mce-PHONE" required="required">
	</div>
	<div class="col-md-6">
		<label for="mce-IDPASSPORT">ID, Passport or Membership number <span class="asterisk">*</span></label>
		<input type="text" value="" name="IDPASSPORT" class="controlClass textbox" id="mce-IDPASSPORT" required="required">
	</div>
</div><br/>
<div class="row">
	<div class="col-md-6">
		<label for="mce-MMERGE3">City <span class="asterisk">*</span></label>
		<input type="text" value="" name="MMERGE3" class="controlClass textbox" id="mce-MMERGE3" required="required">
	</div>
	<div class="col-md-6">
		<label for="mce-MMERGE6">Preferred Contact Time <span class="asterisk">*</span></label>
		<select name="MMERGE6" class="controlClass textbox" id="mce-MMERGE6" required="required">
		<option value="Please Select">--- Please Select ---</option>
		<option value="Anytime">Anytime</option>
		<option value="8:00 - 9:00">8:00 - 9:00</option>
		<option value="9:00 - 10:00">9:00 - 10:00</option>
		<option value="10:00 - 11:00">10:00 - 11:00</option>
		<option value="11:00 - 12:00">11:00 - 12:00</option>
		<option value="12:00 - 13:00">12:00 - 13:00</option>
		<option value="13:00 - 14:00">13:00 - 14:00</option>
		<option value="14:00 - 15:00">14:00 - 15:00</option>
		<option value="15:00 - 16:00">15:00 - 16:00</option>

		</select>
	</div>
</div><br/>


  <h6 class="controlClass">CHOOSE WHAT YOUR MESSAGE IS RELATED TO </h6>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<input type="checkbox" value="1" name="group[3005][1]" id="mce-group[3005]-3005-0"><label for="mce-group[3005]-3005-0">&nbsp; Life, Disability and Sickness</label>			
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input type="checkbox" value="2" name="group[3005][2]" id="mce-group[3005]-3005-1"><label for="mce-group[3005]-3005-1">&nbsp; Profmed Medical Scheme</label>			 
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>

	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<input type="checkbox" value="4" name="group[3005][4]" id="mce-group[3005]-3005-2"><label for="mce-group[3005]-3005-2">&nbsp; Investment, Retirement and Savings</label>		
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input type="checkbox" value="8" name="group[3005][8]" id="mce-group[3005]-3005-3"><label for="mce-group[3005]-3005-3">&nbsp; Card &amp; Payment Solutions</label>			 
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>		

	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<input type="checkbox" value="16" name="group[3005][16]" id="mce-group[3005]-3005-4"><label for="mce-group[3005]-3005-4">&nbsp; Financial Planning</label>		
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input type="checkbox" value="32" name="group[3005][32]" id="mce-group[3005]-3005-5"><label for="mce-group[3005]-3005-5">&nbsp; Car &amp; Household Insurance</label>			 
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<input type="checkbox" value="64" name="group[3005][64]" id="mce-group[3005]-3005-6"><label for="mce-group[3005]-3005-6">&nbsp; Health Professions Indemnity</label>		
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input type="checkbox" value="128" name="group[3005][128]" id="mce-group[3005]-3005-7"><label for="mce-group[3005]-3005-7">&nbsp; Not Sure</label>			 
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>

<!--<div class="mc-field-group input-group hidden">
    <strong>Group category 3009 </strong>
    <ul><li><input type="checkbox" value="256" name="group[3009][256]" id="mce-group[3009]-3009-0"><label for="mce-group[3009]-3009-0">Group Name 1</label></li>
</ul>
</div>-->
<div class="row">
	<div class="col-md-6">
		<label for="mce-MMERGE7">I would like to submit a  <span class="asterisk">*</span>
		</label>
		<select name="MMERGE7" class="textbox" id="mce-MMERGE7" required="required">
		<option value="">--- Please Select ---</option>
		<option value="Request for Information">Request for Information</option>
		<option value="Request for Service">Request for Service</option>
		<option value="Compliment">Compliment</option>
		<option value="Suggestion">Suggestion</option>
		<option value="Complaint">Complaint</option>

		</select>
	</div>
	<div class="col-md-6">
		<label for="mce-MMERGE8">Message <span class="asterisk">*</span></label>
		<textarea value="" name="MMERGE8" class="controlClass form-control" id="mce-MMERGE8" style="resize: none;" rows="8"></textarea>
	</div>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_8d1c963de7" tabindex="-1" value=""></div>
    <div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white btn-rounded px-5"></div>
			<div class="col-md-4"></div>    
		</div>
		</div>

</form>
</div>

<!--End mc_embed_signup-->


      </div>
  </section>

	<div class="drop-msg drop-msg-mobile" style="max-width:100%;width:13.5%; background: rgba(9,30,53,1)!important;">
    
    <div class="drop-msg-border-left" style="float:left;max-width: 100%;width: 100%; text-align: center;">
      <a style="display: inline-block;" href="#mc_embed_signup" class="drop-msg-a">JOIN PPS</a>
    </div>
    
  </div>
		
 {% include directory ~ '/parts/footer.html.twig' %}	

<style>	

	#mce-MMERGE8{
		padding: 0.9375rem 0.9375rem;	
	}

	.textbox{
		border: 1px solid #ccc !important;
		width: 100%;
		padding: 9px;
	}

  #testContainer {
		margin-top: -78px !important;
	}
	.myMarginBelow {
	    margin-top: 25px;
		margin-bottom: 106px;
	}

	.card {
		margin-bottom: 10px;
	}
	
	.card-header {
		padding: 0rem !important;
	}
	
	.card-footer {
		padding: 0rem !important;
	}
	
	
	.link-list {
		width: 100%;
		height: 100%;
		text-align: left;
		text-decoration: none !important;
		    color: #404040;
    font-weight: bold;
    font-family: sans-serif;
	}
	
	.neo{
		background:#000;
	}

	.c-button-1.-color-green-outline {
		border-color: #091e35;
		background-color: #091e35;
		color: #fff;
	}
	
	.c-button-1.-corner-circle {
		-webkit-border-radius: 1000px;
		-moz-border-radius: 1000px;
		border-radius: 1000px;
	}	
	
	.c-button-1 {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: normal;
		cursor: pointer;
		border-style: solid;
		font-family: inherit;
		font-weight: 700;
		text-align: center;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	
/*	a {
		color: #fff;
		font-weight: 900;
		text-transform: uppercase;
		padding: 0.6rem 0.5rem !important;
		font-size: 12px;
		font-weight: 398px;
	}
	a:hover,a:active,a:focus{
		color: #fff !important;
	} */
	.card-body a {
		color: #B09455 !important;
	}
	.center-div {
	    margin: auto;
		text-align: center;
		padding-top: 120px;
	}
	
	
	.categoryTerm {
	    color: #091E35;	
	}
	
	body {
		background: #fff;
	}

	.rowMargin {
    margin-bottom: 0px !important;
	}

	.form-control {
    display: block;
    width: 100%;
    height: calc(2.7rem + 0px);
    padding: 0rem 0rem;
    font-size: 1rem;
    line-height: 0.5;
    color: #151515;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

	.selectric .label {
		line-height: 0.8;
	}

	#accordion {
		margin-left: 10px;
		margin-right: 10px;
	}
	.banner-height {
		max-height: 440px;
	}
	
	.text-shadow {
		background: rgba(255,255,255,0.4);
		padding: 20px;
		border-radius: 3px;
	}
	@media only screen and (max-width: 500px) {
		.mbImage {
			padding-top: 20px;
			text-align: center;
		}

		.mbImage img {
			height: 260px !important;
    	width: 247px !important;
		}

		#testContainer {
			margin-top: 88px;    
			margin-bottom: 51px;

		}
		#bannerTesti {
			margin-bottom: 174px !important;
		}
		.banner-text-invest {
			top: 62px;
    	left: 30px;
		}
	}
</style>	