{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}

<section class="container" style="
    margin-top: 179px;
	padding-bottom: 30px;
">
	<div class="row">
			
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 div-padding">
					<div class="boxed rising">
						<img alt="Estate and Legacy" data-entity-type="file" data-entity-uuid="7a87ff7e-896c-4c9f-9393-42f14211deaf"
								src="/{{ active_theme_path() }}/assets/images/what-is-invest.jpg">

						<h5 style="margin: 40px 0px; text-align:center">Fund Fact Sheets</h5>

						<div style="max-width: 100px; margin: 0px auto; padding-bottom: 10px; text-align: center;">
							<a href="/invest/choose-fund" class="btn btn-sm btn-blue sentence_case">View</a>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-12 div-padding">
					<div class="boxed rising">
						<img alt="Estate and Legacy" data-entity-type="file" data-entity-uuid="7a87ff7e-896c-4c9f-9393-42f14211deaf"
								src="/{{ active_theme_path() }}/assets/images/publications-1.jpg">

						<h5 style="margin: 40px 0px; text-align:center;">Publications</h5>

						<div>
							<ul class="pub-list" style="list-style: none;">


							<li class="pub-list-item">
									<a href="https://s10u.com/PPS/TP_Q1_2021/html5/index.html?page=1&noflash"
															  class="pub-links">Talking Points Quarter 1 2021</a></li>

							<li class="pub-list-item">
									<a href="https://s10u.com/PPS/TalkingPointsSep2020/html5/index.html"
															 class="pub-links">Talking Points Quarter 3 2020</a></li>

							<li class="pub-list-item"><a  href="https://s10u.com/PPS/ToThePointJune2020/html5/index.html"
															  class="pub-links">Talking Points Quarter 2 2020</a></li>

							<li class="pub-list-item">
									<a href="https://s10u.com/PPS%20Investments/Talking%20Points/Issue%2047/html5/index.html?page=1&noflash"
															 class="pub-links">Talking Points Quarter 1 2020</a></li>

								{# <li class="pub-list-item">
									<a href="https://s10u.com/PPS%20Investments/Talking%20Points/Issue%2046/html5/index.html?page=1&noflash"
															  class="pub-links">Talking Points Quarter 4 2019</a></li> #}

								

								{# <li class="pub-list-item"><a  href="http://s10u.com/PPS%20Investments/Talking%20Points/Issue%2044/html5/index.html?page=1&noflash"
															  class="pub-links">Talking Points Quarter 2 2019</a></li> #}
								
								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 div-padding">
					<div class="boxed rising">
						<img alt="Estate and Legacy" data-entity-type="file" data-entity-uuid="7a87ff7e-896c-4c9f-9393-42f14211deaf"
								src="/{{ active_theme_path() }}/assets/images/retirement-personal.jpg">

						<h5 style="margin: 40px 0px; text-align:center;">Forms and Documents</h5>

						<div style="max-width: 80px; margin: 0px auto; padding-bottom: 10px; text-align: center;">
							<a href="/invest/forms-and-documents" class="btn btn-sm btn-blue sentence_case">View</a>
						</div>
					</div>
				</div>


				<div class="col-lg-3 col-md-3 col-sm-12 div-padding">
					<div class="boxed rising">
						<img alt="Estate and Legacy" data-entity-type="file" data-entity-uuid="7a87ff7e-896c-4c9f-9393-42f14211deaf"
								src="/{{ active_theme_path() }}/assets/images/tools-images.jpg">

						<h5 style="margin: 40px 0px; text-align: center">Tools</h5>

						{# <div class="row">
							<a  href="/invest/resources/invest-now"
								class="btn-transparent-blue sentence_case btn btn-sm btn-blue col-10 col-md-4 col-lg-4 mx-2 my-1">Invest Now</a>
							<a  href="/invest/resources/regulation-28"
								class="btn btn-sm btn-transparent-blue sentence_case col-10 col-md-4 col-lg-4 mx-2 my-1">REG 28</a>
							<a  href="/invest/resources/effective-annual-cost-eac"
								class="btn-transparent-blue sentence_case btn btn-sm btn-blue col-10 col-md-4 col-lg-4 mx-2 my-1">EAC</a>
							<a  href="https://portal.ppsisecure.co.za/portal/#/public/familynetwork"
								class="btn btn-sm btn-transparent-blue sentence_case col-10 col-md-5 col-lg-5 mx-2 my-1">Family Network</a>
						</div> #}


						<div class="row">
							<a  href="https://www.ppsisecure.co.za/investnowpublic/investnow/landing"
								class="btn-transparent-blue sentence_case btn btn-sm btn-blue col-10 col-md-4 col-lg-4 mx-2 my-1" target="_blank">Invest Now</a>
							<a  href="https://www.ppsisecure.co.za/investnowpublic/reg28/landing"
								class="btn btn-sm btn-transparent-blue sentence_case col-10 col-md-4 col-lg-4 mx-2 my-1" target="_blank">REG 28</a>
							<a  href="https://www.ppsisecure.co.za/investnowpublic/eac/landing"
								class="btn-transparent-blue sentence_case btn btn-sm btn-blue col-10 col-md-4 col-lg-4 mx-2 my-1" target="_blank">EAC</a>
							<a  href="https://portal.ppsisecure.co.za/portal/#/public/familynetwork"
								class="btn btn-sm btn-transparent-blue sentence_case col-10 col-md-5 col-lg-5 mx-2 my-1">Family Network</a>
						</div>

					</div>
				</div>
				{#<div class="col-lg-3 col-md-3 col-sm-12 card-margin-bottom" style="float:left;">#}
					{#<div class="card" >#}
						{#<div class="card-body">#}
						{##}
							{#<h5 class="card-title" style="min-height: 60px;">Fund Fact Sheets</h5>#}
							{#<div class="card-body-subtext">#}
								{#<img class="r-icon" src="/{{ active_theme_path() }}/assets/images/cog-icon.png">#}
								{#</div>#}
							{#<div>#}
								{#<a href="/invest/choose-fund" class="btn btn-sm btn-blue sentence_case">Learn More</a>#}
								{#</div>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}
				{#<div class="col-lg-3 col-md-3 col-sm-12" style="float:left;">#}
					{#<div class="card">#}
						{#<div class="card-body">#}
							{#<h5 class="card-title" style="min-height: 60px;">Fund Perfomance</h5>#}
							{#<div class="links-container">#}

								{#<ul class="pub-list">#}
									{#<li class="pub-list-item"><a href="http://euroland.co.za/ppsinvestments/digimag/Issue42/html5/index.html?page=21"#}
																 {#class="pub-links">Latest Talking Points Flippable PDF</a></li>#}
									{#<li class="pub-list-item"><a  href="https://www.pps.co.za/saveinvest/Adhoc/Talking%20Points%20Q4%202018%20email.pdf"#}
																  {#class="pub-links">Latest Talking Points Flat PDF</a></li>#}
								{#</ul>#}
							{#</div>#}
							{#<div>#}

							{#</div>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}
				{#<div class="col-lg-3 col-md-3 col-sm-12 card-margin-bottom" style="float:left;">#}
					{#<div class="card">#}
						{#<div class="card-body">#}
						{##}
						{#<h5 class="card-title" style="min-height: 60px;">Forms and Documents</h5>#}
							{#<div class="card-body-subtext">#}

								{#<img class="r-icon" src="/{{ active_theme_path() }}/assets/images/cog-icon.png">#}
							{#</div>#}
							{#<div>#}
								{#<a href="/invest/forms-and-documents" class="btn btn-sm btn-blue sentence_case">Learn More</a>#}
							{#</div>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}

				{#<div class="col-lg-3 col-md-3 col-sm-12 card-margin-bottom" style="float:left;">#}
					{#<div class="card">#}
						{#<div class="card-body">#}
						{##}
						{#<h5 class="card-title" style="min-height: 60px;">Investment Tools</h5>#}
							{#<div class="card-body-subtext">#}
								{#<img class="r-icon" src="/{{ active_theme_path() }}/assets/images/cog-icon.png">#}
							{#</div>#}
							{#<div>#}
								{#<a  href="/invest/resources/investnow"#}
								   {#class=" sentence_case btn btn-sm btn-blue">Invest Now</a>#}
								{#<a  href="/invest/resources/regulation-28"#}
								   {#class="btn btn-sm btn-transparent-blue sentence_case">REG 28</a>#}
								{#<a  href="/invest/resources/effective-annual-cost-eac"#}
								   {#class=" sentence_case btn btn-sm btn-blue">EAC</a>#}
							{#</div>#}
						{#</div>#}
					{#</div>						#}
				{#</div>#}


				</div>
			</div>

	</div>
</section>

    <section class="pt-4" style="padding-bottom: 2.5rem !important;margin-top:100px">
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12" >

                    {% include directory ~ '/parts/joinForm.html.twig' %}

                </div>
            </div>

        </div>
    </section>


	<script type="text/javascript" src="https://webchat.pps.co.za/webchat_ucc_investments_chat_public_webchat/sfbwebchatplus/js/jquery-2.1.0.js"></script>
    <script id="anywhere365-sfbwebchatplus-client-index-external" src="https://webchat.pps.co.za/webchat_ucc_investments_chat_public_webchat/sfbwebchatplus/js/anywhere365_sfbwebchatplus_client_index_external.js"></script>
    <script>
    var optionalArguments = [];
    Anywhere365WebchatIntegration.Init(optionalArguments);
  </script>


{# <script src="https://www.pps.co.za/themes/custom/refresh/assets/js/jquery-2.1.4.js"></script> #}
<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
  <script>
    // Webchat Mobile Script

    console.log('Webchat Script Below');
    
    setTimeout(function(){
      //console.log('PPS: '+ $('#chat_tab').length); 
    
    
      

        $('#chat_tab > span').on("click", function(){
          console.log('Webchat Script 1');
          //alert('PPS Webchat');

            $('.chat_tab_extension').removeAttr('style');

            $('#chat_tab_extension').addClass('displayChat');
            $('.displayChat').removeAttr('id');
        });

        $('.modal-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            $('#chat_tab_extension').hide();
        });

        $('.anywhere365-sfbwebchatplus-linkbutton').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            $('#chat_tab_extension').hide();
        });

        $('.webchat-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            $('#chat_tab_extension').hide();
        });

    }, 3000);
</script>
 
{% include directory ~ '/parts/footer.html.twig' %}

<style>
div.boxed.rising{
	min-height: 465px;
}
.pub-list {
    width: 110%;
    margin-left: -32px !important;
}
.sentence_case{
	text-transform: initial;
	font-size: 12px;
	padding: 10px;
	white-space: unset !important;
	}
.sentence-case{
	text-transform: initial;
	 color: #091e35 !important;

}
.links-container{
	margin-left: -46px;
}

.pub-list{
	margin-left: -52px;
}

.pub-list-item{
	padding: 5px;
	border-bottom: 1px groove #bbb;
}
.pub-links{
	color: #000;
	text-transform: initial;
	font-weight: 300;
}

.r-icon{
	width: 80px;
	height: auto;
	padding: 0px;
	margin: 70px
}

  @media (max-width: 576px){
.btn{
 /*width: 130px !important;*/
}
.card-body{

	padding: 15px !important;
}
   .card-margin-bottom{
margin-bottom: 20px;
   } 
}
   


.member-app-img{
    height: 35px !important;
    width: 114px !important;
}
.member-app-btn{
	float: left !important;
    padding: 0px !important;
}

.card-title{
	background: #041e37;
	border-bottom-color: #091E35;
    border-bottom-style: groove;
    border-bottom-width: 0.1px;
	color: #fff;
	padding: 10px;
	font-size: 18px
}
.card-text{
	padding:10px;
}
.read-more{
    color: #091e35 !important;
}

.read-more:hover, .read-more:active, .read-more:focus{
      color : #B09455 !important
}

.card-body-subtext{
	min-height: 200px;
}
.card-body-subtext-banking-app{
	min-height: 200px;
}

.card-body{
	    min-height: 300px;
		padding: 8px !important;
}
	.field--name-field-wealth-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-financial-advice-heading {
		font-weight: 100 !important;
    font-size: 42px;
	}
	.bg-light {
		background-color: #F0F0F0 !important;
		margin-bottom: 50px !important;
	}

	/*.bg-light .container {
		margin-top: -80px;
	}*/

	#product .block-life .block-bg {
    position: absolute;
    top: 55px;
    left: 65px;
    background: rgba(9,30,53,1);
    width: 400px;
    height: 285px;
}

#product .block-life li {
    position: absolute;
    left: -20px;
    list-style: none;
    top: -40px;
}
	.field--name-field-financial-advice-image img{
			height: auto !important;
			width: 100%;
	}
	#banner-below {
    height: 74px;
    text-align: center;
    background-color: #D8C8AF;
    padding-top: 25px;
	}

	#banner-below span{
    color: #091E35 !important;
    font-size: 18px;
    font-weight: bold;
	}

	#innerSpan {
		font-weight: normal !important;
    font-size: 14px !important;
	}
  /*@media (min-width: 1200px)*/
  #fpContact .container {
      max-width: 100% !important;
  }
  #fpContact .container {
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

	.field--name-field-financial-advisory-banner img {
		width: 100% !important;
		height: 350px !important;
	}

	.banner-height {

		position: relative;

	}

	.banner-wrap{
	    position: absolute;
		top: 40px;
	}

	.overlay-text {
		top: 78px;
		background: rgba(255,255,255,0.2);
		padding: 20px;
		border-radius: 3px;
		margin-left: 42px;
		margin-top: 60px;
	}

		.overlay-texts {
		background: rgba(255,255,255,0.4);
		padding: 20px;
		border-radius: 3px;
		margin-left: 42px;
		margin-top: 60px;
		z-index: 10;
    position: absolute;
    right: -68px;
    bottom: -266px;
	}

	.overlay-text h3 {
		color: #fff !important;
	}

	.field--name-field-wealth-banner-subtitle {
		color: #fff !important;	
	}

	.overlay-text  {
		color: #091E35 !important;
	}

	.field--name-field-financial-advisory-text h3 {
		color: #091E35 !important;
	}

	.field--name-field-financial-advisory-text p {
		color: #fff;
	}

	.blue-background {
		height: 266px !important;
    width: 284px !important;
	}

	.paragraph-margin {
		margin-left: 20%;
		margin-right: 20%;
		text-align: justify;
	}

	.element-center img {
		width: 65px !important;
		height: auto !important;
	}

	.col-md-3 img {
		width: 100%;
		height: auto;
	}

	.rising p {
		padding-left: 3px;
		padding-right: 3px;

	}

	.element-center {
		padding: 20px;
		text-align: center;	
		height: auto !important;
	}
	.heading-margin {
		margin-left: 20%;
		margin-right: 20%;
	}	

	.div-padding {
		margin-bottom: 10px !important;
		min-height: 600px;
	}
	#listServicess{
		 margin-bottom: 40px !important;
	}

	#section-news {
		background-color: #F0F0F0 !important;
		padding-top: 50px !important;
		padding-bottom: 27px !important;
	}

	.bottomMar {
		margin-bottom: 20px !important;
	}

	p a {
		 color: #B09455 !important;
	}

	/*Financial Planning*/
	.banner-areas {
		position: relative;
	}
	.field--name-field-financial-planning-banner img {
		width: 100% !important;
		height: 500px !important;		
	}
</style>