{% include directory ~ '/parts/header.html.twig' %}
	
  <body id="product">
 {% include directory ~ '/parts/navigations.html.twig' %}
    
    <!-- / cover -->
	<section class="banner-top-spacing" style="padding-top:0px !important">
		<div class="container report">
			<h1>Highlights for 2017 </h1>
            <img src="../{{directory}}/assets/images/highlights_01-18.png" alt="" width="100%" />
            <img src="../{{directory}}/assets/images/highlights_02-18.png" alt="" width="100%" />	
		</div>
	</section>

		<script>
			function openCity(cityName) {
				var i;
				var x = document.getElementsByClassName("city");
				for (i = 0; i < x.length; i++) {
				   x[i].style.display = "none";  
				}
				document.getElementById(cityName).style.display = "block";  
			}
			</script>
		
		<script src="../{{directory}}/assets/js/modernizr.js"></script>
		<!-- Modernizr -->
		{# <script src="../{{directory}}/assets/js/jquery-2.1.4.js"></script> #}
		<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../{{directory}}/assets/js/main.js"></script>
		<!-- Resource jQuery -->

		<script src="../{{directory}}/assets/js/hide.js"></script>
		<script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
		<script src="../{{directory}}/assets/js/tabs.js"></script>
	  
		<script src="../../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../../{{directory}}/assets/js/custom.js"></script>
		
		<script>
			$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
		
			$('.burger').on('click',function(){
			
				if($('#block-2017ppsintegratedreport-2').hasClass('mobile-submenu-hide'))
				{
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-hide'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('submenu-show-style');
				}
				else{					 
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
				}
			
				 
			});
		</script>


{% include directory ~ '/parts/footer.html.twig' %}