{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHT45D6"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include directory ~ '/parts/navigations.html.twig' %}
  <div class="subnav-container" style="height: 55px !important; margin-top: -23px !important;">
     <div class="container-fluid">

        <li class="menu-item" style="margin-top: 0px; border: 0px">
            <a id="pp-inv" href="#contactus" data-drupal-link-system-path="<front>">Contact us</a>
        </li>

        <li class="menu-item" style="margin-top: 0px; border: 0px">
            <a id="pp-insure" href="#termsandconditions" data-drupal-link-system-path="<front>">Terms and Conditions</a>
        </li>

        <li class="menu-item" style="margin-top: 0px; border: 0px">
            <a id="pp-insure" href="#FAQs" data-drupal-link-system-path="<front>">FAQ Section</a>
        </li>

	      <li class="menu-item" style="margin-top: 0px; border: 0px">
            <a id="pp-insure" href="#Intro" data-drupal-link-system-path="<front>" class="active-link subnav-parent-link">Retirement cost Comparison</a>
        </li>
    </div>
  </div>

  {{page.content}}
  
  {% include directory ~ '/parts/footer.html.twig' %}
