{% include directory ~ '/parts/header.html.twig' %}

  <body id="productCategory">

  {% include directory ~ '/parts/navigations.html.twig' %}
    
    <section style="margin-top:120px">
      <div>
        <div class="container">
          <div class="row justify-content-between pt-10 pb-4">

            {{page.content}}

          </div>
        </div>
      </div>
    </section>
		
	    {# <script src="{{directory}}/assets/js/vendor.js"></script>
		<script src="{{directory}}/assets/js/app.js"></script>
		<script src="{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="{{directory}}/assets/js/custom.js"></script> #}

    {% include directory ~ '/parts/footer.html.twig' %}
