{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">
  {% include directory ~ '/parts/navigations.html.twig' %}

    <!-- cover -->
    <section class="pt-20 pb-10">
      <div class="image banner-height" style="background-image:url(/{{active_theme_path()}}/assets/images/our_structure.jpg);background-position: center top;"></div>
      <div class="container">
        <div class="row pt-0 pb-6">
          <div class="col col-md-4 text-blue text-shadow">
            <h1 class="mb-0">Our Leadership</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- / cover -->
	
	<div class="container myMarginBelow">
	  <div id="accordion">
		{{ page.our_structure }}
	  </div>	
	</div>
		
<!-- Contact Form-->
  <section class="pt-4" style="padding-bottom: 2.5rem !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">

          {% include directory ~ '/parts/joinForm.html.twig' %}   
        </div>
      </div>
    </div>
  </section>
<!-- /End Contact Form-->
		
 {% include directory ~ '/parts/footer.html.twig' %}	
	
<style>	

	.myMarginBelow {
	    margin-top: 25px;
		margin-bottom: 106px;
	}

	.card {
		margin-bottom: 10px;
	}
	
	.card-header {
		padding: 0rem !important;
	}
	
	.card-footer {
		padding: 0rem !important;
	}
	
	
	.link-list {
		width: 100%;
		height: 100%;
		text-align: left;
		text-decoration: none !important;
		    color: #404040;
    font-weight: bold;
    font-family: sans-serif;
	}
	
	.neo{
		background:#000;
	}

	.c-button-1.-color-green-outline {
		border-color: #091e35;
		background-color: #091e35;
		color: #fff;
	}
	
	.c-button-1.-corner-circle {
		-webkit-border-radius: 1000px;
		-moz-border-radius: 1000px;
		border-radius: 1000px;
	}	
	
	.c-button-1 {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: normal;
		cursor: pointer;
		border-style: solid;
		font-family: inherit;
		font-weight: 700;
		text-align: center;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	
	/*a {
		color: #fff;
		font-weight: 900;
		text-transform: uppercase;
		padding: 0.6rem 0.5rem !important;
		font-size: 12px;
		font-weight: 398px;
	}
	a:hover,a:active,a:focus{
		color: #fff !important;
	}*/

	.card-body a {
		color: #B09455 !important;
	}
	
	.center-div {
	    margin: auto;
		text-align: center;
		padding-top: 120px;
	}
	
	
	.categoryTerm {
	    color: #091E35;	
	}
	
	body {
		background: #f6f6f6;
	}

	
	#accordion {
		margin-left: 10px;
		margin-right: 10px;
	}
	.banner-height {
		max-height: 550px;
	}
	
	.text-shadow {
		background: rgba(255,255,255,0.4);
		padding: 20px;
		border-radius: 3px;
	}
	
	h5 a {
		font-size: 21px;
		margin-left: -9px;
		color: #091E35 !important;
	}
	
	h5 {
	    margin-bottom: 36px;
		margin-top: 34px;
	}
</style>	