{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}
{# <div class="subnav-container" style="margin-top: 38px;">
    <div class="container-fluid">

        <li class="menu-item">
            <a id="pp-inv" href="#pps-investments" data-drupal-link-system-path="<front>">PPS Investments</a>
        </li> <li class="menu-item">
           <a id="pp-insure" href="#pps-insurance" data-drupal-link-system-path="<front>">PPS Insurance</a>
        </li>
    
    </div> 
</div> #}

<section id="BannerSection" class="pt-20 pb-10 banner-top-spacing banner-images" style="background-image:url('/{{ active_theme_path() }}/assets/images/legal-banner.jpg')">
    <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Legal and Compliance</h1>
          </div>
			  </div>
</section>
<section id="pps-insurance" class="separator-top pb-8 pt-8 ">
    <div class="container">
     <h3>PPS Insurance</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 87%;"></th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 
                        <h4> Unclaimed Benefits</h4>

                        <p>In the event that the policyholder becomes entitled to payment of any benefits in terms of
                            the PPS Provider or Business Provider Policies or PPS Investments,
                            PPS Insurance or PPS Investments will attempt to contact the policy holder in order
                            to obtain instructions in respect of the bank account into which the benefits should be paid, should the bank account details not have been provided. </p>

                    </td>
                    <td>
                        <a href="https://www.pps.co.za/portal/docs/Unclaimed%20Assets%20Process%20Reviewed%20April%202014.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td>             
                </tr>
                <tr>
                    <td>
                            <h4>Complaints Resolution Procedure</h4>

                            <p>PPS has adopted a Complaints Resolution Process in terms of which all complaints must be processed.</p>
                    </td>
                    <td>
                    <a href="https://www.pps.co.za/sites/default/files/2019-03/PPS%20Complaints%20Handling%20procedure%204%20Oct%202016.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td>
                </tr>

                <tr>
                    <td>
                             <h4>Conflict of Interest Management Policy</h4>

                             <p>In terms of the Financial Advisory and Intermediary Services Act 37 of 2002, PPS adopted a policy to indentify,
                                 monitor and manage any conflict of interest. The policy ensures that our clients' interests are safeguarded and
                                 that they receive objective, unbiased and fair financial services from PPS, its representatives and employees.
                                 The policy can be obtained on request from PPS Compliance Department.</p>

                    </td>
                      <td>
                        <a href="https://www.pps.co.za/portal/docs/PPS_Request_for_Information_Manual_ito_PAIA%20internet.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td> 
                </tr>
                <tr>
                    <td>

                        <h4>Promotion of Access to Information</h4>

                        <p>Click here to view the PPS Request for Information Manual</p>

                    </td>
                      <td>
                        <a href="https://www.pps.co.za/portal/docs/PAIA-Manual-2019.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td> 
                </tr>
                  <tr>
                    <td>
                        <h4>Trust Deed</h4>

                        <p>2017 Second Amended and Restated Trust Deed as further amended at the 2017 AGM </p>
    
                    </td>
                      <td>
                        <a href="https://www.pps.co.za/documents/Second%20Amended%20and%20Restated%20Trust%20Deed%20as%20further%20amended%20at%20the%2022%20May%202017%20AGM%20and%20Master%20Contract.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td> 
                </tr>
              
                 <tr>
                    <td>
                             <h4 style="text-transform:uppercase">PPFM</h4>

                             <p>To find out more about the Principles and Practices of Financial Management, please Click here .</p>

                    </td>
                      <td>
                        <a href="https://www.pps.co.za/explorepps/Documents/principles-and-practices-of-financial-management_2019.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td> 
                </tr>
                 <tr>
                    <td>
                     <h4 style="text-transform:uppercase">SCIDEP</h4>

                        <p>South African insurance companies have been requested by the FCA and the Competition Commission to standardise certain disclosures to their members, explaining when certain illness benefits will pay out. PPS has created a disclosure grid to show how its critical illness benefit is benchmarked against certain ASISA definitions for the four most common critical illnesses.

                        Please Click here for the explanation regarding the SCIDEP grid.<br/>

                       

                        </p>

                    </td>
                      <td>
                        <a href="https://www.pps.co.za/portal/docs/SCID.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td> 
                </tr>
                {# <tr>
                    <td>
                             <h4>Privacy Policy</h4>

                             <p>Please Click here for the privacy policy</p>
                    </td>
                      <td>
                        <a href="https://www.pps.co.za/saveinvest/Documents/Privacy%20and%20Security%20Statement.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td> 
                </tr> #}
               

               <tr>
                    <td>
                             <h4>General Conditions of Purchase</h4>

                             <p>Please Click here for the General conditions of purchase</p>
                    </td>
                      <td>
                        <a href="https://www.pps.co.za/documents/General%20conditions%20of%20purchase.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td> 
                </tr>
            </tbody>
        </table>
  
    </div>
</section>

<section id="pps-investments" class="separator-top pb-8 pt-8" style="border: none;">
    <div class="container">
    <h3>PPS Investments</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 87%;"></th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-angle-right"></i> Privacy and Security Statement</td>
                    <td>
                        <a href="https://www.pps.co.za/saveinvest/Documents/Privacy%20and%20Security%20Statement.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td>
                    </tr>
                    <tr>  
                     <td><i class="fa fa-angle-right"></i> Website Terms and Conditions</td>
                    <td>
                        <a href="https://www.pps.co.za/saveinvest/Documents/Website%20Terms%20and%20Conditions.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td> 
                     </tr> 
                      <tr> 
                     <td><i class="fa fa-angle-right"></i> Promotion of Access to Information Act</td>
                    <td>
                        <a href="https://www.pps.co.za/saveinvest/Documents/Promotion%20of%20Access%20to%20Information%20Act.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td> 

                     </tr> 

                      <tr> 
                        <td><i class="fa fa-angle-right"></i> Disclaimer</td>
                        <td>
                            <a href="https://www.pps.co.za/saveinvest/Documents/Disclaimer.pdf"
                                        target="_blank">
                            <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                        </td> 
                       </tr> 
                      <tr> 
                     <td><i class="fa fa-angle-right"></i> Copyright 2007</td>
                    <td>
                        <a href="https://www.pps.co.za/saveinvest/Documents/Copyright%202007.pdf"
                                       target="_blank">
                        <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                    </td>
                     </tr>  
                      <tr> 
                        <td><i class="fa fa-angle-right"></i> Conflict of Interest Management Policy</td>
                        <td>
                            <a href="https://www.pps.co.za/saveinvest/Documents/Conflict%20of%20Interest%20Management%20Policy.pdf"
                                        target="_blank">
                            <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                        </td>
                     </tr>  
                       <tr> 
                        <td><i class="fa fa-angle-right"></i> Group complaints process</td>
                        <td>
                            <a href="https://www.pps.co.za/saveinvest/Documents/Group%20complaints%20process.pdf"
                                        target="_blank">
                            <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                        </td>
                     </tr>
                        <tr> 
                        <td><i class="fa fa-angle-right"></i> PPS Customer Protection Policy</td>
                        <td>
                            <a href="https://www.pps.co.za/saveinvest/Documents/PPS%20Customer%20Protection%20Policy.pdf"
                                        target="_blank">
                             <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                        </td>
                     </tr>
                    <tr> 
                        <td><i class="fa fa-angle-right"></i> Supporting Treating Customers Fairly</td>
                        <td>
                            <a href="https://www.pps.co.za/saveinvest/Documents/Supporting%20Treating%20Customers%20Fairly.pdf"
                                        target="_blank">
                            <i class="fa fa-file-pdf fa-2x" style="color:#ed1818"></i> </a>​
                        </td>
                    </tr>

              
            </tbody>
        </table>

    </div>
</section>

{% include directory ~ '/parts/footer.html.twig' %}



