{% include directory ~ '/parts/header.html.twig' %}
	
  <body id="product">
 {% include directory ~ '/parts/navigations.html.twig' %}
    
    <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image:url('/{{ active_theme_path() }}/assets/images/header-img.jpg')">
        
			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
			  </div>
    </section> 


<div class="container" style="padding: 20px;">
<h3>REPORT TO MEMBERS</h3>
					
				<p>
			PPS’s Integrated Annual Report covers the 12 months ended 31 December 2018 and subsequent 
			events up to the date that our financial statements are published.
		</p>

		<p>
			In this report, we share the collective thinking applied in creating long-term value. 
			Throughout the report, we address the challenges faced by the Group, and opportunities and 
			external drivers influencing PPS’s strategy.
		</p>

		<p>
			The report aims to provide a balanced and succinct view of PPS’s financial and non-financial 
			performance and covers the Group’s operations in South Africa and Namibia. It provides 
			information on PPS’s strategies for growth, efficiency, quality, sustainability, corporate 
			governance and accountability.
		</p>
		
							<a href="/{{ active_theme_path() }}/assets/flippers/integrated-report-2018/index.html#4/z" class="active-link"  style="cursor: pointer" target="_blank">READ MORE</a>
						</p>
						<div class="">
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/flippers/integrated-report-2018/index.html#26/z" class="active-link"  style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label  style="cursor: pointer">Group Performance at a glance</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/flippers/integrated-report-2018/index.html#19/z" class="active-link"  style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label  style="cursor: pointer">Our Strategy</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/flippers/integrated-report-2018/index.html#24/z" class="active-link"  style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label  style="cursor: pointer">Risk management</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/flippers/integrated-report-2018/index.html#38/z" class="active-link"  style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label  style="cursor: pointer">PPS doing good</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/flippers/integrated-report-2018/index.html#40/z" class="active-link"  style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label  style="cursor: pointer">Key Performance Indicators</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="/{{ active_theme_path() }}/assets/flippers/integrated-report-2018/index.html#17/z" class="active-link" style="cursor: pointer" target="_blank">
								<span style="position: absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label  style="cursor: pointer">Group structure</label>
								</a>
							</ul>
						</div>
</div>


<style>
	.banner-top-spacing{
		background-size: cover; 
		height: 670px; 
	}

	.banner-text-invest{
		top: 350px;
	}

	@media(max-width:415px){

		.banner-text-invest {
			max-width: 177px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: -110px;
			font-size: 1rem !important;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}


	@media screen and (max-width: 900px) and (min-width: 417px){

		.banner-text-invest {
			max-width: 177px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 130px;
			font-size: 1rem !important;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}


	@media screen and (max-width: 900px) and (min-width: 576px){
		
		.banner-text-invest {
			max-width: 250px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 165px;
			font-size: 1.50rem !important;
			left: 15px;
		}

	}

	@media screen and (min-width: 900px) and (max-width: 1199px){
		
		.banner-text-invest {
			max-width: 300px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 190px;
			font-size: 2rem !important;
			left: 15px;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}
</style>

		<script>
			function openCity(cityName) {
				var i;
				var x = document.getElementsByClassName("city");
				for (i = 0; i < x.length; i++) {
				   x[i].style.display = "none";  
				}
				document.getElementById(cityName).style.display = "block";  
			}
			</script>
		
		<script src="../{{directory}}/assets/js/modernizr.js"></script>
		<!-- Modernizr -->
		{# <script src="../{{directory}}/assets/js/jquery-2.1.4.js"></script> #}
		<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../{{directory}}/assets/js/main.js"></script>
		<!-- Resource jQuery -->

		<script src="../{{directory}}/assets/js/hide.js"></script>
		<script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
		<script src="../{{directory}}/assets/js/tabs.js"></script>
		
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>
		
		<script>
			$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
		
			$('.burger').on('click',function(){
			
				if($('#block-2017ppsintegratedreport-2').hasClass('mobile-submenu-hide'))
				{
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-hide'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('submenu-show-style');
				}
				else{					 
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
				}
			
				 
			});
		</script>




{% include directory ~ '/parts/footer.html.twig' %}