{% include directory ~ '/parts/header.html.twig' %}
	
  <body id="product">
 {% include directory ~ '/parts/navigations.html.twig' %}
    
    <!-- / cover -->
	<section class="banner-top-spacing" style="padding-top: 0px !important">
		<div class="container report">
			
		
					<img src="../{{directory}}/assets/images/report-to-members-banner.jpg" style="margin-top: 200px;" width="100%" alt="Report to Members">
						<br/>
						<br/>
						<h1>REPORT TO MEMBERS</h1>
						<p>Since inception PPS has catered only to postgraduate professionals, which is a niche market with a distinct risk profile.
							Our 76 years unwavering focus on this group has unlocked the deep insights that enable PPS to design and offer superior
							products that remain cost competitive.</p>
						<p>Another fundamental differentiator is that PPS is the only major financial services provider that has retained the
							principle of ‘mutuality’ at the core of our member value proposition. In effect, 100% of the net profits are returned
							to members in accordance with a ratio determined by their contributions.</p>
						<p>Other financial services providers competing for graduate professionals are invariably profit and shareholder-driven,
							which prevents them from offering 100% profit sharing and inevitably means there are different interests between the
							shareholder and policyholder. Our rivals simply cannot compete on overall returns. </p>
						<p>
							<strong>READ MORE</strong>
						</p>
						<div class="">
							<ul class="cd-accordion-menu label-border">
								<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#16/z" target="_blank">
									<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label>Group Performance at a glance</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#26/z" target="_blank">
									<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label>PPS in the future</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#25/z" target="_blank">
									<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label>Risk management</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#32/z" target="_blank">
									<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label>Our stakeholders &amp; PPS doing good</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#24/z" target="_blank">
									<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label>Leadership commentary &amp; Key Performance Indicators</label>
								</a>
							</ul>
							<!-- cd-accordion-menu -->
							<ul class="cd-accordion-menu label-border">
								<a href="../{{directory}}/assets/flippers/pps-iar-flipper/index.html#8/z" target="_blank">
									<span style="position: :absolute;float: left;margin: 11px 5px 0px -23px;"> &gt; </span>
									<label>Group structure &amp; our leadership</label>
								</a>
							</ul>

						</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		</div>
	</section>

		<script>
			function openCity(cityName) {
				var i;
				var x = document.getElementsByClassName("city");
				for (i = 0; i < x.length; i++) {
				   x[i].style.display = "none";  
				}
				document.getElementById(cityName).style.display = "block";  
			}
			</script>
		
		<script src="../{{directory}}/assets/js/modernizr.js"></script>
		<!-- Modernizr -->
		{# <script src="../{{directory}}/assets/js/jquery-2.1.4.js"></script> #}
		<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../{{directory}}/assets/js/main.js"></script>
		<!-- Resource jQuery -->

		<script src="../{{directory}}/assets/js/hide.js"></script>
		<script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
		<script src="../{{directory}}/assets/js/tabs.js"></script>
		
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>
		
		<script>
			$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
		
			$('.burger').on('click',function(){
			
				if($('#block-2017ppsintegratedreport-2').hasClass('mobile-submenu-hide'))
				{
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-hide'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('submenu-show-style');
				}
				else{					 
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
				}
			
				 
			});
		</script>


{% include directory ~ '/parts/footer.html.twig' %}