{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}

{% include directory ~ '/parts/header.html.twig' %}
	{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
  <body id="productCategory">
  {% include directory ~ '/parts/navigations.html.twig' %}
    
	<div class="container">
		<!-- 
			To make the tabs toggleable, add the data-toggle="tab" attribute 
			to each link. Then add a .tab-pane class with a unique ID for every tab 
			and wrap them inside a div element with class .tab-content.
		-->
		<section class="pb-8 pt-8" style="text-align: center;">
			<div class="vertical-margins">
				<h1><strong>Archive</strong> Releases</h1>
				<hr class="heading-line"> 
			</div>
		</section>
		<section class="pb-8 pt-8">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home">2018</a></li>
				<li><a data-toggle="tab" href="#menu1">2017</a></li>
				<li><a data-toggle="tab" href="#menu2">2016</a></li>
				<li><a data-toggle="tab" href="#menu3">2015</a></li>	
			</ul>

			<div class="tab-content">
			
				{{ page.media_archive }}
			</div>
		</section>
	</div>
	


    {% include directory ~ '/parts/footer.html.twig' %}
  <script src="/{{ active_theme_path() }}/assets/js/articles.js"></script>

  
