{% include directory ~ '/parts/header.html.twig' %}
<body id="product" xmlns="http://www.w3.org/1999/html">
{% include directory ~ '/parts/navigations.html.twig' %}

<section class="pt-20 pb-10 " style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/ppsdrupal/sites/default/files/2019-01/untitled.png')">


    <div class="container">
        <div style="position: absolute; top: 220px;">
            <h1 class="mb-0" style="width:550px; color:#fff !important;">About Advisers</h1>
        </div>
    </div>
</section>

<section class="pb-0" style="min-height: 900px;">
    <div class="container">

        <div class="row justify-content-between">

            <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom" style=" margin-top: 100px;
  margin-left: 60px;
  padding-right: 0px;">
                <h2 class="text-blue" style="
          margin-top: -105px; position:absolute;max-width:300px;
      ">About PPS</h2>
                <div class="block-bg" data-bottom-top="transform: translateY(40px);"
                     data-top-bottom="transform: translateY(-100px);" style="margin-top: 100px; width: 307px !important;
  height: 531px !important;">

                </div>

                <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
                    <ul class="gallery gutter-1 gutter-md-2">
                        <li class="col-9">
                            <figure class="photo">
                                <a id="feat-image"
                                   href="/ppsdrupal/themes/custom/refresh/assets/images/interviewing-african-american-female-14.jpg">
                                    <img src="/ppsdrupal/themes/custom/refresh/assets/images/interviewing-african-american-female-14.jpg">
                                </a>
                            </figure>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-12 col-lg-6 align-self-center text-center text-md-left" style="    margin-right: 37px;
  padding-left: 0px;
  padding-right: 0px;">

                <div class="mb-2 pl-1">

                    <div class="content2">
                        <h4>1. NEW ADVISERS</h4>
                        <p>
                            <strong>Become a PPS Accredited Adviser</strong><br/>
                            As a PPS Accredited Adviser, you’ll have access to a range of benefits designed exclusively
                            for a high-value group
                            of defined professionals.
                            As a PPS Accredited Adviser, you will…<br/>
                            <a href="#" id="hcontent4"
                               class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle">Read
                                More</a>

                        </p>
                        <div class="hcontent4 hidden">
                            <ul>

                                <li> - be part of an exclusive adviser group advising on the exclusive PPS Provider
                                    product
                                    suite,
                                    Investments, Short-Term Insurance, Business Insurance and Assurance, and Fiduciary
                                    service offering.
                                </li>
                                <li> - have access to a small management team who will personally handle your queries
                                </li>
                                <li> - have exclusive access to a brand-new and unique model for providing protection
                                    products to professionals
                                </li>
                                <li>
                                    - enjoy better retention rates and better long-term client relationships
                                </li>
                                <li> - benefit from products built and priced to be sustainable</li>
                                <li> - provide high value products to high value clients</li>
                                <li> - be supported with bespoke sales platforms</li>
                                <li> - be supported in undertaking research into the professional market</li>

                            </ul>
                            <p>
                                Only selected and trained advisers can become PPS Accredited Advisers.
                                Here are some of the things we look for in advisers we offer Accredited Adviser status
                                to: </p>
                            <ul>
                                <li> - Established professional client base</li>
                                <li> - Member of key industry associations</li>
                                <li> - Client centric</li>
                                <li> -Strong industry experience (minimum of five years)</li>
                                <li> -Robust business practice infrastructure</li>
                            </ul>

                        </div>
                    </div>
                    <div class="">
                        <h4>2. UNIQUE FEATURES OF PPS</h4>
                        <ul>
                            <li> - Members (clients) of PPS with qualifying products share all profits of PPS through
                                the unique Profit-Share Account.
                            </li>
                            <li> -Claims made on any PPS risk products do not have an impact on the value of the PPS
                                Profit-Share Account.
                            </li>

                            <a href="#" id="hcontent12"
                               class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle">Read
                                More</a>


                            <div class="hcontent12 hidden">
                                <li> - PPS has no loading or exclusions for hazardous pursuits (e.g. skydiving,
                                    quad-biking,
                                    jet-skiing) or international travel​ and work.
                                </li>
                                <li> - PPS does not aggregate (limit) benefits against any other income or lump benefits
                                    received.
                                </li>
                                <li> - We cover you for the inability to perform your usual professional duties.</li>
                                <li> - We do not require proof of loss of income, for a claim to be made.</li>
                                <li> - ​The Permanent Incapacity B​ooster is a unique benefit, both locally and
                                    internationally, offered only by PPS. It boosts any Permanent Incapacity award of
                                    20% or
                                    60% to 100% payout, and is non-reviewable.
                                    So even if you’re able to return to work, this benefit will pay until your selected
                                    retirement age.
                                </li>
                                <li> - Only the PPS Sickness benefit offers a partial payment while you recuperate and
                                    are
                                    slowly returning to work.
                                </li>
                            </div>
                        </ul>
                    </div>

                </div>

                <div class="content3">
                    <h4>3. EXISTING ADVISERS</h4>
                    <p>
                        <strong>Already a PPS Accredited Adviser? Time to take it up a notch.</strong>
                        We like to help you stay cutting edge, by providing you with the material you need to
                        improve the lives of your members and clients. Ranging from the latest advisory tools to
                        secure websites offering invaluable information, it’s all available to you when you click
                        here.
                        (Opens a section with links to secure websites and tools for existing advisers)

                    </p>
                </div>

                <div class="content4" style="padding-top:20px">
                    <h4>4. CLIENTS LOOKING FOR AN ADVISER</h4>
                    <p>
                        <strong> Need a PPS Adviser?</strong>
                        Whether you’re looking for advice on life solutions, car and household insurance, business
                        insurance or assurance,
                        investments, financial or even fiduciary advice, PPS has a dynamic range of professional
                        advisers who will help you
                        make the most of what we offer. We also work well with independent brokers to offer enhanced
                        solutions that work
                        to your advantage. Feel free to speak to your broker or click here to have one of our
                        advisers contact you.
                        (Generate lead for adviser via Tracy and website leads protocol)
                    </p>

                    <a href="#" id="hcontent2"
                       class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle">Read
                        More</a>

                    <div class="hcontent2 hidden">
                        <br/>
                        <strong>The Act that changed everything.</strong>
                        <br/>
                        <p>
                            The primary aim of the Financial Advisoryand Intermediary Services Act, 37 of 2002 (FAIS)
                            and
                            the Financial Services Board’s(FSB) Treating Customers Fairly (TCF) regulatory regime is to
                            protect your
                            interests and those of your adviser by ensuring you receive proper advice and are sold
                            products that are
                            appropriate for your needs. Your financial adviser must by law always render a financial
                            service honestly, fairly,
                            with due skill, care and diligence, in your interest and that of the financial services
                            industry.

                            <strong>Useful steps when looking for an adviser</strong>
                            Before you first engage with an adviser, it’s important to have a general understanding of
                            how the financial planning
                            process works so that you know what to expect from the relationship, and what questions to
                            ask your adviser to ensure
                            he/she is a good fit for you. Your adviser should guide you through each step below to help
                            you understand and achieve
                            your financial goals.
                        </p>

                        <p>
                            <strong>Useful steps when looking for an adviser</strong><br/>
                            Before you first engage with an adviser, it’s important to have a general understanding of
                            how the
                            financial planning process works so that you know what to expect from the relationship, and
                            what questions to ask your adviser to ensure he/she is a good fit for you.
                            Your adviser should guide you through each step below to help you understand and achieve
                            your financial goals.

                            <br/>

                            <strong>Step 1</strong> Establishing and defining the professional relationship - Your adviser must provide
                            you with a disclosure letter informing you of all his/her details, such as his/her address,
                            telephone number and the products he/she is authorised to sell. They must also let you know
                            what to do if you ever need to complain and what you can expect from the relationship.
                            <br>
                            <strong>Step 2</strong> Gathering data from you - This is also referred to as the “information gathering”
                            stage. Your adviser will ask you to provide information about your current assets
                            (investment and property you own) and liabilities (debt such as credit cards, bank
                            overdrafts, car and house payments). He/she will also ask you about your dependants, and ask
                            you estate planning questions as well as retirement planning questions. He/she will require
                            as much of this information as possible to determine your risk profile for investment and
                            planning purposes.
                            <br>
                            <strong>Step 3</strong> Analysing the information you provided - Your financial adviser will determine what
                            your current financial position is and what needs to be done to meet your financial goals
                            and objectives. This includes identifying gaps and excesses in your current financial
                            situation, analysing your assets and liabilities, budgeting, existing insurance coverage,
                            your tax situation and your available cash.
                            <br>
                            <strong>Step 4</strong> Presenting recommendations - Once your financial adviser has analysed your situation
                            he/she should offer recommendations that address the financial, lifestyle objectives and
                            goals you have. Where possible he/she should offer alternatives. You should ensure that you
                            always receive a copy of the recommendations for your records.
                            <br>
                            <strong>Step 5</strong> Implement your plan. If you understand and agree with the recommendations it is
                            important that the recommendations are implemented, this may entail taking out a new
                            insurance or investment product.
                            <br>
                            <strong>Step 6</strong> Review and revise your plan. Your financial adviser should regularly evaluate your
                            financial plan against your objectives and life stages. It is important that you take
                            responsibility for also monitoring your financial plan and that you speak to your financial
                            adviser if you have any questions or to revise your plan over time.
                        </p>
                        <br/>
                        <p>
                            <strong>Choosing your financial adviser.</strong><br/>
                            Before you decide on a financial adviser there are 5 questions that you should ask him/her:

                            1. How do you earn your fee? Financial advisers can charge fees in two ways:
                            • Commission-based fees are where a financial adviser will earn a percentage based on your
                            insured/investment amount in a certain product.
                            • Up-front fees are charged on an hourly basis for the time spent with your financial
                            adviser.
                            <br/>
                            2. Are you a tied financial adviser or an independent financial broker? A financial adviser
                            that can only sell the financial products of a specific product supplier will limit his
                            recommendations to the products offered by that product supplier. An independent financial
                            broker may advise and sell on financial products from different product suppliers; this
                            allows you to compare a variety of insurance products. That said the recommendations of an
                            independent financial broker may not necessarily be better that those of a tied financial
                            adviser.
                            <br/>
                            3. What process do you follow to determine my needs? As a first step, a financial adviser
                            should gather information on your current situation, such as disposable income, dependants
                            and debt. He/she should formulate a plan which will reflect what your needs are, if any.
                            <br/>
                            4. What services do you offer? Ask your financial adviser what type of advice he/she
                            provides. For example, he/she may provide advice about investments, insurance and
                            healthcare. If he/she covers all areas, find out whether you are dealing with a generalist
                            adviser or a specialist investment or insurance adviser. It’s also important to find out
                            about specialist services such as tax planning, estate planning, advice on the use of trusts
                            and drafting of wills. You may not require all these services initially but it’s
                            advantageous if your financial adviser has access to specialists or partners that cover
                            these areas in the future.
                            <br/>
                            5. How often will we meet and how will you communicate with me? Some individuals want
                            regular interaction with their financial adviser, while others prefer to be contacted only
                            when changes occur.
                            Many of the TCF outcomes are linked to the requirements placed on financial advisers in
                            terms of the General Code of Conduct issued under FAIS. TCF is an outcomes-based regulatory
                            and supervisory approach designed to ensure that specific, fairness outcomes for financial
                            services consumers are delivered by regulated financial firms. Firms are expected to
                            demonstrate that they deliver the six TCF outcomes to their customers throughout the product
                            life cycle, from product design and promotion, through advice and servicing, to complaints
                            and claims handling, and throughout the product value chain.<br/>
                        </p>

                    </div>


                </div>
                <br/>
                <div class="content1">
                    <h3>About PPS</h3>
                    <p>


                        PPS exists to take care of the financial interests of its members (our clients), by
                        providing advice, products and services
                        for the optimal creation, protection and management of the wealth of its members throughout
                        their lives and their legacies.

                        PPS operates under the ethos of mutuality and all profits are allocated to members with
                        qualifying products every year
                        through allocations to the unique PPS Profit-Share Accounts.<br/>
                        <a href="#" id="hcontent1"
                           class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle">Read
                            More</a>
                        <span class="hcontent1 hidden"> PPS believes in the power of professional thinking and how
                      it can change the world for the better.

                      The members of the PPS professional circle include: Accountants, Actuaries, Advocates, Attorneys, Architects,
                      Dentists, Doctors (belonging to the HPCSA), Engineers, Pharmacists, Physiotherapists, Scientists, Surgeons and
                          other professions.</span>


                    </p>
                </div>
            </div>
        </div>

    </div>


    </div>

    </div>
</section>

<section class="pt-4" style="padding-bottom: 2.5rem !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">

                <div class="boxed p-4" style="background: rgba(9,30,53,1)" data-aos="fade-up"
                     class="aos-init aos-animate">
                    <div class="row justify-content-between align-items-center text-center text-md-left">
                        <div class="col-md-3">
                            <h2 class="h1 text-white font-weight-bold">Join PPS</h2>
                        </div>

                        <div class="col-md-6">
                            <p class="text-white">PPS offers tailor-made insurance, investment and healthcare solutions
                                exclusively for graduate professionals with a qualifying four year degree or
                                equivalent.</p>
                        </div>

                        <div class="col-md-3 text-lg-right">
                            <a href="#." class="btn btn-white btn-rounded px-5">Become a member</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

{% include directory ~ '/parts/footer.html.twig' %}
<style>
    .field__label {
        display: none;
    }

    .field--name-field-tags a {
        color: #0a1d37 !important;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
    }

    .field__label {
        display: none;
    }

    .field--name-field-tags a {
        color: #0a1d37 !important;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
    }

    .photo img {
        width: 421px !important;
        height: auto !important;
    }

    @media (min-width: 768px) {
        .gutter-md-2 {
            margin: 100px !important;
        }
    }

    #product.block-life.block-bg {
        width: 307px;
        height: 531px;
    }

    .photo img {
        width: 321px !important;
        height: 427px !important;
    }

    {# .mb-2, .my-2 {
      margin-bottom: 14.25rem !important;
    } #}

    .hidden {
        display: none;
    }

    .c-button-1 {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: normal;
        cursor: pointer;
        border-style: solid;
        font-family: inherit;
        font-weight: 700;
        text-align: center;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .c-button-1.-color-green-outline {
        border-color: #091e35;
        background-color: #091e35;
        color: #fff;
    }

</style>
