{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}
{# <div class="subnav-container" style="margin-top: 38px;">
    <div class="container-fluid">

        <li class="menu-item">
            <a id="pp-inv" href="#pps-investments" data-drupal-link-system-path="<front>">PPS Investments</a>
        </li> <li class="menu-item">
           <a id="pp-insure" href="#pps-insurance" data-drupal-link-system-path="<front>">PPS Insurance</a>
        </li>
    
    </div> 
</div> #}

<section id="BannerSection" class="pt-20 pb-10 banner-top-spacing banner-images" style="background-image:url('/{{ active_theme_path() }}/assets/images/legal-banner.jpg')">
    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Legal and Compliance</h1>
        </div>
	</div>
</section>
<section id="pps-insurance" class="separator-top pb-8 pt-8 ">
    <div class="container">
        <h2>PPS Insurance</h2>
        {{page.legal_compliant}}
    </div>
</section>

<section id="pps-insurance" class="separator-top pb-8 pt-8 ">
    <div class="container">
        <h2>PPS Investments</h2>
        {{page.investment_legal_compliance}}
    </div>
</section>

<style>
    .block-views-blocklegal-and-compliance-legal-investment-block{
        width: 100%
    }
</style>
{% include directory ~ '/parts/footer.html.twig' %}



