{% include directory ~ '/parts/header.html.twig' %}
<!-- cover -->
<body id="homepage">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHT45D6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include directory ~ '/parts/navigations.html.twig' %}
  
    <section class="p-0">
<div class="swiper-container swiper-container-carousel">
   <div class="swiper-wrapper">

    
    {# Slider Region #}

     {{page.featured_top}} 

    </div> 
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>


</section>
    <!-- / cover -->   
	{{page.mutuality}}
 

    <!-- cta -->
    <section class="parallax">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-10 text-center text-white text-shadow">

      
			{{page.profit_shares}}

          </div>
        </div>
      </div>
    </section>
    <!-- / cta -->
	
	<section class="pb-0">
      <div>
        <div class="container">
          <div class="row justify-content-between">

			{{ page.financial_planning }}
			
		  </div>
		</div>
	  </div>
	</section>

	<section class="pb-4 pt-10">
      <div>
        <div class="container">
			<div class="row justify-content-between">	
				{{ page.life_insurance }}
			</div>
		</div>
	  </div>
	</section> 

  <!-- HPI -->
      <section class="pb-4 pt-10">

      <div>
        <div class="container">
          <div class="row justify-content-between">

           {{page.home_hpi}} 

          </div>
        </div>
      </div>
    </section>
  <!--/End HPI -->

    <!-- accordion pricing -->
    <section class="bg-light pt-6 pb-6">
		<div class="container">         
			{{page.home_products}} 
        </div>
      </div>
    </section>
	
	   
        
    <!-- / accordion pricing -->
	{{ page.save_and_invest }}
    

    {# <section id="payments-and-card" class="separator-top pb-8 pt-8">
      <div class="container">


        <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="aos-init aos-animate">
          <div class="row justify-content-between align-items-center text-center">
            <div class="col-md-9 offset-md-1 pb-4">
              <h2 class="h1 text-blue"> Payments </h2>
              
            </div>
          </div>
        </div>

        <div class="row content-top d-flex justify-content-center">
          <div class="col-12 col-md-12 col-lg-6">
            <div class="row mb-0 pt-2">
              <div class="col-12 col-md-6">
                <a href="/card-payments/credit-card"><img src="/{{ active_theme_path()}}/assets/images/square-pps-credit-card.jpg" title="PPS Credit Card" alt="PPS Credit Card"></a>
              </div>
              <div class="col-12 col-md-6">
                <h5>PPS Credit Card</h5>
								<p>Bolster your Profit Share and enjoy rewards, discounts and exclusive benefits by adding a PPS Credit Card to your product suite. Think of it as a statement of status, and another perk of being with PPS.</p>
              </div>

              <div class="col-12 col-md-6 text-center"><a href="/card-payments/credit-card" class="btn btn-gold btn-rounded mt-2">More on PPS Credit Card</a></div>

            </div>
          </div>
          <div class="col-12 col-md-7 col-lg-7">
            <div class="row pb-2 pt-2">
              <div class="col-12 col-md-6">
                <a href="/card-payments/payment-solutions"><img src="/{{ active_theme_path()}}/assets/images/square-merchant-solutions.jpg" title="Merchant Solutions" alt="Merchant Solutions"></a>
              </div>
              <div class="col-12 col-md-6">
                <h5>Payment Solutions</h5>
								<p>High-performance businesses are built on solutions that give them an advantage. Our Merchant Solutions packages are designed to give you that advantage through leading technology and lower rates.</p>
              
                <div class="col-12 col-md-6 text-center"><a href="/card-payments/payment-solutions" class="btn btn-gold btn-rounded mt-2">More on Payment Solutions</a></div>
              </div>

            </div>


          </div>

        </div>
      </div>
    </section> #}



	<section  class="separator-top pb-0 pb-4">
        <div class="container">
          <div class="row justify-content-between">
			{{page.medical_aid}}
		  </div>
		</div>
	</section>
	


    <!-- partners -->
    <section class="separator-top pt-6 pb-6">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-lg-12 mb-5 text-center">
          <h6 class="font-weight-bold mb-0">OUR RECOGNISED PARTNERSHIPS</h6>
        </div>
        <div class="clearfix"></div>
		
		<div class="col partners align-items-center">
            <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
				{{ page.partners }}
			</div>
		</div>

          <!--<div class="col partners align-items-center">
            <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-asaipa.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-auditors.jpg" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-industrial-eng.jpg" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-labour-law.jpg" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-law.jpg" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-medical.jpg" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-pharmaceutical.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-sada.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-saica.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-saice.jpg" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-saim.jpg" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-islamic.jpg" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-siopsa.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="https://pps.bluevinegroup.co.za/refresh/assets/images/associate-veterinary.jpg" alt="Logo">
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </section>
    <!-- / partners -->

  <!-- Unique Feature -->
    {# <section class="pt-6 pb-8 bg-light">
      <div class="container">          
          <div class="row">
            <div class="col-lg-12">
              <h2 class="h1 text-gold text-center mb-0">Unique Features</h2>
            </div>
          </div>

          <div class="row aos-init" data-aos="fade-left" style="display: inline;">
          
            <div class="col">
              <div class="owl-carousel visible owl-loaded owl-drag" data-margin="10">

                <iframe style="width: 100%;" height="415" src="https://www.youtube.com/embed/RlV1URS84Y0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
             </div>
          </div>
      </div>
    </section> #}


  
    {{ page.home_page_videos }}

  <!-- /End Unique Feature -->


{# <section class="pt-6 pb-8">
      <div class="container"> 
	
	<h2 class="pb-3 text-center text-blue"> Interview with PPS Group CEO on 2019 achievements </h2>
         
      <iframe width="100%" height="600" src="https://www.youtube.com/embed/0X-RZXIKrc8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section> #}
	

  <!-- Testimonials -->
    <section class="pt-6 pb-8 bg-light">
      <div class="container">
            
          <div class="row">
            <div class="col-lg-12">
              <h2 class="h1 text-gold text-center mb-0">Testimonials</h2>
            </div>
          </div>

          

          <div class="row aos-init" data-aos="fade-left" style="display: inline;">
          
            <div class="col">
              <div class="owl-carousel visible owl-loaded owl-drag" data-items="[3]" data-nav="true" data-margin="10">

                      {{ page.testimonials }}
               
             </div>
          </div>
      </div>
    </section>
  <!-- /End Testimonials -->

<!-- Join PPS form -->
<section class="pt-10 pb-10" style="background-image:url(/{{ active_theme_path() }}/assets/images/banner-member.jpg); background-size:cover; background-position:center -80px; background-repeat:no-repeat">
  <div class="container">

    <div class="row justify-content-center mt-10">
      <div class="col-md-12 col-lg-12 pt-10">

          {% include directory ~ '/parts/joinForm.html.twig' %}


</div>
</div>

</div>
</section>
<!-- /End Join PPS form -->

{% include directory ~ '/parts/footer.html.twig' %}

<style>
.content-top {
  margin-top: -100px;
}
.bg-pos {
  top: 32px !important;
  height: 455px !important;
  left: 17px !important;

}
.hpi-image img{
  width: 100% !important;
  height: auto !important;
  margin-top: 68px;
}
#homepage .user-caption, #product .user-caption{
	position: unset;
	background: rgba(0, 0, 0, 0.1);
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
	bottom: 94px !important;
	width: 98%;
	margin-left: 0%;
	position: relative !important;
	bottom: 8px !important;
}  
.linkTest {
  cursor: pointer;
} 

.user {
  padding-top: 16px;
}
.parallax {
  margin-bottom: -200px;
}
.btm-padding{
      padding-bottom: 11rem !important;
}
.Phaladi:nth-child(2) {
  display: none;
}
/*.text-overlay h2, h3, p, span {*/
  /*color: #fff !important;*/
/*}*/
.text-overlay {
  background-color: rgba(9,30,53,0.6) !important;
}
</style>