{% include directory ~ '/parts/header.html.twig' %}
 
  <body id="product">
 {% include directory ~ '/parts/navigations.html.twig' %}
    <header class="header-sticky header-light">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark pt-1 pb-1">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{page.product_submenu}} 
            
            {# {{ page.primary_menu }} #}
          </div>
          <div class="clearfix"></div>
        </nav>
      </div>
    </header>
	
    <!-- cover -->
     {# <section class="pt-20 pb-10"> #}
    {{ page.insure_product_spi_banner }}
    {# </section> #}
    {# <section class="pt-20 pb-10" style="background-image:url(../{{directory}}/assets/images/banner-inner.jpg);background-position: center top;">
	
      <div class="image" ></div>
      <div class="container">
        <div class="row pt-0 pb-6">
          <div class="col col-md-6 text-blue text-shadow">
            <h1 class="mb-0">Sickness & Permanent Incapacity</h1>
          </div>
        </div>
      </div>
    </section> #}
	
    <!-- / cover -->


    <section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">
          {{ page.insure_product_spi_body }}
    {# <div data-aos="fade-up" class="aos-init aos-animate">
      <div class="row justify-content-between align-items-center text-center">
        <div class="col-md-9 offset-md-1">
          <h2 class="h1 text-blue">Your income is your greatest asset</h2>
          <p>The PPS Sickness and Permanent Incapacity Benefit payment is designed to replace or supplement your monthly income when you become totally or partially unable to work at any time during your career due to a medical condition, trauma or impairment.</p>
		  		  
        </div>

      </div>
    </div> #}

    </div>
    </div>

    </div>
    </section>

    <section class="bg-light pb-0">
      <div class="container">
        {{ page.insure_ls_spi_unique_needs_title }}
        <div class="row justify-content-between" style="padding-top: 40px;">        
            {{ page.insure_ls_spi_unique_needs }} 
        </div>              
      </div>
    </section>

    <section class="pb-0">

      <div>
        <div class="container">

            {# <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1 pb-4">
                  <h2 class="h1 text-blue">All options include great key benefits.</h2>
                  <p>Automatically get great benefits from day one. </p>
                </div>
              </div>
            </div> #}

              {# <div class="row justify-content-between align-items-center text-center">

              <div class="row gutter-3"> #}
              {{ page.insure_product_spi_benefits }}
                {# <div class="col-md-6 col-lg-4">
                  <div class="boxed rising p-4">
                    <i class="icon-check-circle text-gold fs-60 "></i>
                    <p class="font-weight-bold text-blue fs-20">Sickness and Actual Business Expense Benefit</p>
                    <p>We cover you for up to two years while you:<br/>
                      - recover<br/>
                      - adjust your usual professional duties <br/>
                      - change your work methods </p>
                  </div>
                </div> #}

                {# <div class="col-md-6 col-lg-4">
                  <div class="boxed rising p-4">
                    <i class="icon-check-circle text-gold fs-60 "></i>
                    <p class="font-weight-bold text-blue fs-20">Sickness cover for pregnancy complications</p>
                    <p>I’m not really sure how old I was when I got the gift for Christmas, but I remember thinking it was a pretty impressive piece of </p>
                  </div>
                </div> #}

                {# <div class="col-md-6 col-lg-4">
                  <div class="boxed rising p-4">
                    <i class="icon-check-circle text-gold fs-60 "></i>
                    <p class="font-weight-bold text-blue fs-20">Sickness and Actual Business Expense Benefit</p>
                    <p>We cover you for up to two years while you:<br/>
                      - recover<br/>
                      - adjust your usual professional duties <br/>
                      - change your work methods </p>
                  </div>
                </div> #}
              {# </div>



              </div> #}




        </div>
      </div>
    </section>






    <section class="pb-0 separator-top">
      <div class="container">

        {{ page.insure_product_spi_additional_benefits }}
        {# <div data-aos="fade-up" class="aos-init aos-animate">
          <div class="row justify-content-between align-items-center text-center">
            <div class="col-md-9 offset-md-1 pb-4">
              <h2 class="h1 text-blue">Additional benefits</h2>
            </div>
          </div>
        </div>


        <div class="row separated">
          <div class="col-6">
            <div class="row pb-2 pt-2">
              <div class="col-2">
                <i class="icon-check-circle text-gold fs-60 float-left pr-1 "></i>
              </div>
              <div class="col-10 pr-3">
                <p class="font-weight-bold text-blue fs-20">Family responsibility rider benefit, including Child Terminal Illness and Death benefits</p>
                <p>Take time off work when family members are hospitalised or use funds to cover additional non-medical costs due to the hospitalisation of a family member. </p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row pb-2 pt-2">
              <div class="col-2">
                <i class="icon-check-circle text-gold fs-60 float-left pr-1 "></i>
              </div>
              <div class="col-10 pr-3">
                <p class="font-weight-bold text-blue fs-20">Permanent incapacity booster</p>
                <p>Automatically increase a partial Permanent Incapacity award to 100%. The monthly payment will never be reviewed by PPS, and is payable until you reach the chosen retirement age.​​​</p>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="row pb-2 pt-2">
              <div class="col-2">
                <i class="icon-check-circle text-gold fs-60 float-left pr-1 "></i>
              </div>
              <div class="col-10 pr-3">
                <p class="font-weight-bold text-blue fs-20">Hospital benefit</p>
                <p>After a sickness claim has been paid for an accumulated 728 days, and you are still totally or partially unable to attend to your usual professional duties, the Permanent Incapacity will kick in.</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row pb-2 pt-2">
              <div class="col-2">
                <i class="icon-check-circle text-gold fs-60 float-left pr-1 "></i>
              </div>
              <div class="col-10 pr-3">
                <p class="font-weight-bold text-blue fs-20">Hospital benefit</p>
                <p>After a sickness claim has been paid for an accumulated 728 days, and you are still totally or partially unable to attend to your usual professional duties, the Permanent Incapacity will kick in.</p>
              </div>
            </div>
          </div>

        </div> #}
      </div>
    </section>

    <section class="pt-6 pb-6 bg-light" style="padding-bottom:3.75rem !important">
      <div class="container">

          <div class="row">
            <div class="col-lg-12">
              <h2 class="h1 text-blue text-center mb-0">Explore frequently asked questions.</h2>
            </div>
          </div>
          <div class="row aos-init" data-aos="fade-left">
            <div class="col">
              <div class="owl-carousel visible owl-loaded owl-drag" data-items="[3]" data-nav="true" data-margin="10">
                  
        
              <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3067px;">
                
                    {{page.faqs}} 
                    
                </div>
              {# <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
              </div> #}
              <div class="owl-dots disabled"></div>
            </div>
            </div>
          </div>

  </div>
  </section>


  <section class="pb-0" style="background-image:url(../{{directory}}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center -120px; background-repeat:no-repeat">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">

  <div class="boxed p-4 text-center" style="background: rgba(9,30,53,0.8)"  data-aos="fade-up" class="aos-init aos-animate">
    <div class="row justify-content-between align-items-center ">
      <div class="col-md-12">
        <h2 class="h1 text-white mb-1 mt-0">The next step is to get a quote.</h2>
      </div>
      <div class="col-md-12">
        <p class="text-white mb-1">Want to sign up? Still shopping around? Find the best option for you and see what you'll pay each month. Get a custom quote based on factors like your income, location, and more.</p>
      </div>
      <div class="col-md-12 ">
        <a href="#." class="btn btn-white btn-rounded px-5">Get a Quote</a> <span class="text-white">OR</span> <a href="#." class="btn btn-white btn-rounded px-5">Contact Us</a>
      </div>
    </div>
  </div>


  </div>
  </div>

  </div>
  </section>


      <section class="pt-4" style="padding-bottom: 2.5rem !important;">
        <div class="container">

          <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">

              <div class="boxed p-4" style="background: rgba(9,30,53,1)"  data-aos="fade-up" class="aos-init aos-animate">
                <div class="row justify-content-between align-items-center text-center text-md-left">
                  <div class="col-md-3">
                    <h2 class="h1 text-white font-weight-bold">Join PPS</h2>
                  </div>
                  <div class="col-md-6">
                    <p class="text-white">PPS offers tailor-made insurance, investment and healthcare solutions exclusively for graduate professionals with a qualifying four year degree or equivalent.</p>
                  </div>
                  <div class="col-md-3 text-lg-right">
                    <a href="#." class="btn btn-white btn-rounded px-5">Become a member</a>
                  </div>
                </div>
              </div>


      </div>
      </div>

      </div>
      </section>

<script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
	  
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>


{% include directory ~ '/parts/footer.html.twig' %}