{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}

<section class="container" style="
    margin-top: 179px;
	padding-bottom: 30px;
">
	<div class="row">
			
			<div class="col-lg-12">
				<div class="col-lg-3 col-md-3 col-sm-12 card-margin-bottom" style="float:left;">
					<div class="card" >
						<div class="card-body">
						
							<h5 class="card-title" style="min-height: 60px;">PPS InTouch</h5>
							<div class="card-body-subtext">
							
								{# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> #}
								<p class="card-text">Manage all your PPS Life Insurance policies, update your contact details or bank details, submit life, sickness or disability claims, get statements or change beneficiaries.</p>
							</div>
							<div class="row">
								<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" >
								<a target="_blank" href="https://ppsportal.pps.co.za/PortalWeb/PPSPortal.html" class="btn btn-sm btn-blue sentence_case">Login</a>
								</div>
								<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" >
								<a target="_blank"  href="https://selfreg.pps.co.za/InTouch/#/self-register/personal-info" class="btn btn-sm btn-transparent-blue sentence_case">Register</a>
								</div>
							</div>
						</div>
					</div>
				</div>	
				
				<div class="col-lg-3 col-md-3 col-sm-12 card-margin-bottom" style="float:left;">
					<div class="card">
						<div class="card-body">
						
						<h5 class="card-title" style="min-height: 60px;">PPS Investments</h5>
							<div class="card-body-subtext">
								
								{# <h6 class="card-subtitle mb-2 text-muted">PPS Investments short description</h6> #}
								<p class="card-text">Access the secure site and manage your investment information. Anytime. Anywhere.</p>
							</div>
							<div class="row">
								<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" >
								<a target="_blank" href="https://www.ppsisecure.co.za/Security/Login.aspx" class="btn btn-sm btn-blue sentence_case">Login</a>
								</div>
									<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" >
								<a target="_blank" href="https://portal.ppsisecure.co.za" class="btn btn-sm btn-transparent-blue sentence_case">Register</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-12 card-margin-bottom" style="float:left;">
					<div class="card">
						<div class="card-body">
						
						<h5 class="card-title" style="min-height: 60px;">Profmed</h5>
							<div class="card-body-subtext">
								
								{# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> #}
								<p class="card-text">Manage your Profmed profile online and view your benefits and claims.</p>
							</div>
							<div class="row">
								<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" >
								<a target="_blank" href="https://live.profmed.co.za/cgi-bin/wspd_cgi.sh/WService=wsb_md5liv/run.w" class=" sentence_case btn btn-sm btn-blue">Login</a>
								</div>
									<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" >
								<a  target="_blank" href="https://live.profmed.co.za/cgi-bin/wspd_cgi.sh/WService=wsb_md5liv/run.w?run=registrationform&obj=&mainWindow=yes&ctx=%7c:&mst=OPEN&portal=&rid=37573014" class="sentence_case btn btn-sm btn-transparent-blue">Register</a>
								</div>
							</div>
						</div>
					</div>						
				</div>
			
				<div class="col-lg-3 col-md-3 col-sm-12" style="float:left;">
					<div class="card">
						<div class="card-body">
						<h5 class="card-title" style="min-height: 60px;">PPS Member App</h5>
							<div class="card-body-subtext card-body-subtext-banking-app">
								
								{# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> #}
								<p class="card-text">The PPS for Professionals App offers a secure, convenient way to access all your PPS information from your mobile device – at any time, wherever you are.</p>
							
							</div>
							<div class="row">
								<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" >
								<a target="_blank" href="https://play.google.com/store/apps/details?id=za.co.pps.forprofessionals&hl=en" class="member-app-btn btn btn-xs "> <img class="member-app-img" src="/{{ active_theme_path() }}/assets/images/google-play-store.png"/></a>
								</div>
									<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" >
								<a target="_blank" href="https://itunes.apple.com/za/app/for-professionals/id1174233478?mt=8" class="btn btn-xs member-app-btn"><img class="member-app-img" src="/{{ active_theme_path() }}/assets/images/apple-app-store.png"/></a>
								</div>
							</div>
						</div>
					</div>
				</div>	

			</div>

		

		{# <div id="PPSMemberApp" class="col-lg-12 col-md-12 col-sm-12 " style="margin-top:20px">
				<div class="card">
					<h5 class="card-header">PPS Member App</h5>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-9 col-sm-12 col-md-9">
							
								<p class="card-text">The PPS for Professionals App offers a secure, convenient way to access all your PPS information from your mobile device – at any time, wherever you are. You can view your full PPS portfolio including investments, insurance and medical aid – as well as your profit which has accrued in your PPS Profit-Share Account. With the Invest Now functionality, you’re able to place new investments, top up existing investments, switch or make withdrawals, and in-app notifications keep you updated on the progress of your investment transactions. Daily tracking of investment financial indicators and access to key documents like tax certificates are added benefits. </p>
								<p class="card-text">
								Interested? Simply download the app, register your phone on either PPS Secure Online Services at <a class="sentence-case" href="www.ppsinvestments.co.za" target="_blank">www.ppsinvestments.co.za</a> or PPS InTouch at  <a class="sentence-case" href="https://ppsportal.pps.co.za/" target="_blank">https://ppsportal.pps.co.za/</a> and you’re good to go. To login, use the same username and password as you would for the PPS Investments Secure Online Services or PPS InTouch.

									Please note the app is in its initial stages of development and any feedback is welcome at <span style="color:#091e35">memberapp@pps.co.za</span>
									</p>
						
							</div>
						
							<div class="col-lg-3 col-md-3 col-sm-12">
								<img src= "/{{ active_theme_path() }}/assets/images/pps-member-app.jpg"/>
							</div>
							</div>
							<hr />
							<div class="row">
								
								<div class="col-lg-12 col-md-12 col-sm-12">
								<h4>
								    How to get connected:

								</h4>
								<p>
									Download the PPS for Professionals app on your mobile device by clicking on the appropriate links below:
								</p>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:15px">
									<a target="_blank" href="https://play.google.com/store/apps/details?id=za.co.pps.forprofessionals&hl=en" class="member-app-btn btn btn-xs "> <img class="member-app-img" src="/{{ active_theme_path() }}/assets/images/google-play-store.png"/></a>
									<a target="_blank" href="https://itunes.apple.com/za/app/for-professionals/id1174233478?mt=8" class="btn btn-xs member-app-btn"><img class="member-app-img" src="/{{ active_theme_path() }}/assets/images/apple-app-store.png"/></a>
								
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:15px">
									<h4>We value your feedback</h4>

									<p>PPS would love to hear from you. Your  <a class="sentence-case" target="_blank" href="http://pps.eyerys.co.za/surveys/display/575e6a4c-50a0-4fc6-9cf9-7ed60a643a03?e=default%40eyerys.co.za">feedback</a> will help enhance the PPS for Professionals app.</p>
								</div>
							</div>						

						</div>
					</div>
				</div>
		</div> #}
	
	</div>
</section>

    <section class="pt-4 separator-top" style="margin-top: 50px; padding-bottom: 3.5rem !important;">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            {% include directory ~ '/parts/joinForm.html.twig' %}

          </div>
        </div>
      </div>
    </section>
 
{% include directory ~ '/parts/footer.html.twig' %}

<style>
.sentence_case.btn{
	text-transform: initial;
	margin-top:10px;
	width:100% !important;
	}
.sentence-case{
	text-transform: initial;
	 color: #091e35 !important;

}
  @media (max-width: 576px){
.btn{
 width: 130px !important;
}
.card-body{

	padding: 15px !important;
}
   .card-margin-bottom{
margin-bottom: 20px;
   } 
}
   


.member-app-img{
    height: 35px !important;
    width: 114px !important;
}
.member-app-btn{
	float: left !important;
    padding: 0px !important;
}

.card-title{
	    border-bottom-color: #091E35;
    border-bottom-style: groove;
    border-bottom-width: 0.1px;
}
.read-more{
    color: #091e35 !important;
}

.read-more:hover, .read-more:active, .read-more:focus{
      color : #B09455 !important
}

.card-body-subtext{
	min-height: 200px;
}
.card-body-subtext-banking-app{
	min-height: 200px;
}

.card-body{
	    min-height: 300px;
		padding: 8px !important;
}
	.field--name-field-wealth-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-financial-advice-heading {
		font-weight: 100 !important;
    font-size: 42px;
	}
	.bg-light {
		background-color: #F0F0F0 !important;
		margin-bottom: 50px !important;
	}

	/*.bg-light .container {
		margin-top: -80px;
	}*/

	#product .block-life .block-bg {
    position: absolute;
    top: 55px;
    left: 65px;
    background: rgba(9,30,53,1);
    width: 400px;
    height: 285px;
}

#product .block-life li {
    position: absolute;
    left: -20px;
    list-style: none;
    top: -40px;
}
	.field--name-field-financial-advice-image img{
			height: auto !important;
			width: 100%;
	}
	#banner-below {
    height: 74px;
    text-align: center;
    background-color: #D8C8AF;
    padding-top: 25px;
	}

	#banner-below span{
    color: #091E35 !important;
    font-size: 18px;
    font-weight: bold;
	}

	#innerSpan {
		font-weight: normal !important;
    font-size: 14px !important;
	}
  /*@media (min-width: 1200px)*/
  #fpContact .container {
      max-width: 100% !important;
  }
  #fpContact .container {
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

	.field--name-field-financial-advisory-banner img {
		width: 100% !important;
		height: 350px !important;
	}

	.banner-height {

		position: relative;

	}

	.banner-wrap{
	    position: absolute;
		top: 40px;
	}

	.overlay-text {
		top: 78px;
		background: rgba(255,255,255,0.2);
		padding: 20px;
		border-radius: 3px;
		margin-left: 42px;
		margin-top: 60px;
	}

		.overlay-texts {
		background: rgba(255,255,255,0.4);
		padding: 20px;
		border-radius: 3px;
		margin-left: 42px;
		margin-top: 60px;
		z-index: 10;
    position: absolute;
    right: -68px;
    bottom: -266px;
	}

	.overlay-text h3 {
		color: #fff !important;
	}

	.field--name-field-wealth-banner-subtitle {
		color: #fff !important;	
	}

	.overlay-text  {
		color: #091E35 !important;
	}

	.field--name-field-financial-advisory-text h3 {
		color: #091E35 !important;
	}

	.field--name-field-financial-advisory-text p {
		color: #fff;
	}

	.blue-background {
		height: 266px !important;
    width: 284px !important;
	}

	.paragraph-margin {
		margin-left: 20%;
		margin-right: 20%;
		text-align: justify;
	}

	.element-center img {
		width: 65px !important;
		height: auto !important;
	}

	.col-md-3 img {
		width: 100%;
		height: auto;
	}

	.rising p {
		padding-left: 3px;
		padding-right: 3px;

	}

	.element-center {
		padding: 20px;
		text-align: center;	
		height: auto !important;
	}
	.heading-margin {
		margin-left: 20%;
		margin-right: 20%;
	}	

	.div-padding {
		margin-bottom: 10px !important;
	}
	#listServicess{
		 margin-bottom: 40px !important;
	}

	#section-news {
		background-color: #F0F0F0 !important;
		padding-top: 50px !important;
		padding-bottom: 27px !important;
	}

	.bottomMar {
		margin-bottom: 20px !important;
	}

	p a {
		 color: #B09455 !important;
	}

	/*Financial Planning*/
	.banner-areas {
		position: relative;
	}
	.field--name-field-financial-planning-banner img {
		width: 100% !important;
		height: 500px !important;		
	}
</style>