{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}
{#<div class="subnav-container" style="margin-top: 38px;">#}
    {#<div class="container-fluid">#}


        {#<li class="menu-item">#}
            {#<a id="head4" href="#heading4" data-drupal-link-system-path="<front>">Third-party Investing</a>#}
        {#</li>#}
        {#<li class="menu-item">#}
            {#<a id="head3" href="#heading3" data-drupal-link-system-path="<front>">Short-term investing</a>#}
        {#</li>#}

        {#<li class="menu-item">#}
            {#<a id="head2" href="#heading2" data-drupal-link-system-path="<front>">Medium-term Investing</a>#}
        {#</li>#}
        {#<li class="menu-item">#}
            {#<a id="head1" href="#heading1" data-drupal-link-system-path="<front>">Long-term investing</a>#}
        {#</li>#}

    {#</div>#}
{#</div>#}


<section id="BannerSection" class="pt-20 pb-10 banner-top-spacing banner-images" style="background-image:url('/{{ active_theme_path() }}/assets/images/fund-sheets.jpg')">

   <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Forms and Documents</h1>
          </div>
   </div>
</section>

    <section id="FirstSection" class="pb-0">
        <div class="container">
        <h3>Forms and Documents</h3>

            <div class="container">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-claims-tab" data-toggle="tab" href="#nav-claims" role="tab" aria-controls="nav-claims" aria-selected="true">For PPS members</a>
                            <a class="nav-item nav-link nav2" id="nav-faq-tab" data-toggle="tab" href="#nav-faq" role="tab" aria-controls="nav-faq" aria-selected="false">For OPN investors</a>
                   <a class="nav-item nav-link nav3" id="nav-foradvisers-tab" data-toggle="tab" href="#nav-foradvisers" role="tab" aria-controls="nav-foradvisers" aria-selected="false">For Advisers</a>
                    </div>
                </nav>

                        <div class="tab-content" id="nav-tabContent">

                            <div hidden class="tab-pane nav1 fade show active" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab">
                                <div class="container myMarginBelow">

                                    <div class="accordion1">
                                     
                                        {{ page.invest_documents_members }} 
                                        
                                    </div>	
                                    
                                </div>
                            </div>

                            <div hidden id="nav-faq" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-faq-tab"> 
                                <div class="container myMarginBelow">
                                    
                                    <div class="accordion2">
                                   
                                          {{ page.invest_documents_open_investors }} 
                                    </div>	
                                  
                                </div>
                            </div>
                                  <div hidden id="nav-foradvisers" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-foradvisers-tab"> 
                                <div class="container myMarginBelow">
                                    
                                    <div class="accordion3">
                                   
                                          {{ page.invest_documents_advisers }} 
                                    </div>	
                                  
                                </div>

                        </div>
                </div>
		</div>	
    </section>

    {# <section id="SecondSection" class="pb-0">

        <div class="container">

            <h3>Car and Home Insurance Claims</h3>

            <div class="tab-content" id="nav-tabContent">
                <p> In the event of any claim, call 0860 777 784 ​to report the claim</p>
                <p> All claims must be re​ported within 30 days of the incident </p>
                <p> In the case of motor vehicle accidents, notify SAPS within 24 hours of the event </p>
                <p> In the event of any crime related incident (e.g. theft), report this to the Police as soon as possible </p>
                <p> The Claims Consultants will assist you regarding any further requirements </p>
            </div>
            
        </div>
    </section>


    <section id="ThirdSection" class="bg-light pb-0">

        <div class="container">

            <h3>Sickness and Permanent Incapacity</h3>
                <div class="container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-claims-tab" data-toggle="tab" href="#nav-claims" role="tab" aria-controls="nav-claims" aria-selected="true">Claim Forms</a>
                                <a class="nav-item nav-link" id="nav-sickness-faq-tab" data-toggle="tab" href="#nav-sickness-faq" role="tab" aria-controls="nav-sickness-faq" aria-selected="false">FAQ's</a>
                        </div>
                    </nav>
                </div>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab">
                        <div class="container myMarginBelow">
                            <div id="accordion">
                                {{page.claims_sickness_and_permanent_incapacity}} 
                            </div>	
                        </div>
                    </div>


                    <div id="nav-sickness-faq" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-sickness-faq-tab"> 
                        <div class="container myMarginBelow">
                            <div id="accordion">
                                {{ page.sickness_and_permanent_incapacity_faq }} 
                            </div>	
                        </div>
                    </div>

                </div>
        </div>
    </section>


    <section id="FourthSection" class="pb-0">

        <div class="container">

            <h3>​​​​Disability​</h3>
                <div class="container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-claims-tab" data-toggle="tab" href="#nav-claims" role="tab" aria-controls="nav-claims" aria-selected="true">Claim Forms</a>
                                <a class="nav-item nav-link" id="nav-disability-faq-tab" data-toggle="tab" href="#nav-disability-faq" role="tab" aria-controls="nav-disability-faq" aria-selected="false">FAQ's</a>
                        </div>
                    </nav>
                </div>


            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab">
                    <div class="container myMarginBelow">
                        <div id="accordion">
                            {{page.claims_disability}}
                        </div>	
                    </div>
                </div>


                <div id="nav-disability-faq" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-disability-faq-tab"> 
                    <div class="container myMarginBelow">
                        <div id="accordion">
                            {{page.disability_faq}}
                        </div>	
                    </div>
                </div>

            </div>

        </div>
    </section>



        <section id="FifthSection" class="bg-light pb-0">
        <div class="container">
        <h3>​​​​Severe Illness​​</h3>

            <div class="container">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-claims-tab" data-toggle="tab" href="#nav-claims" role="tab" aria-controls="nav-claims" aria-selected="true">Claim Forms</a>
                            <a class="nav-item nav-link" id="nav-spi-faq-tab" data-toggle="tab" href="#nav-spi-faq" role="tab" aria-controls="nav-spi-faq" aria-selected="false">FAQ's</a>
                    </div>
                </nav>

                        <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade show active" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab">
                                <div class="container myMarginBelow">

                                    <div id="accordion">
                                        {{page.claims_sickness_and_permanent_incapacity}}
                                    </div>	
                                </div>
                            </div>

                            <div id="nav-spi-faq" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-spi-faq-tab"> 
                                <div class="container myMarginBelow">
                                    <div id="accordion">
                                        {{ page.severe_illness_faq }} 
                                    </div>	
                                </div>
                            </div>

                        </div>
                </div>
		</div>	
    </section> #}




{% include directory ~ '/parts/footer.html.twig' %}


<script src="/{{ active_theme_path() }}/assets/js/investformsanddocuments.js"></script>
<script>
    $('.views-field-field-claim-file> span> a').attr('target', '_blank');
</script>
<style>
.views-element-container{
   width:100%;
}
caption {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    color: #888;
    text-align: left;
    caption-side: top;
}
span > a{
    color: #B09455 !important;
}

#nav-tab {
    width: 100%;
    text-align: center;
}

.sentence-case{
    text-transform: initial !important;
}
.top-mobile{
 top: 120px !important;
}
  td{
       padding-top: 10px;
        padding-bottom: 10px;
    }
  .views-field-field-claim-file> span> a{
    color: #091e35 !important;
    font-size:14px !important;
  }
   .views-field-field-claim-file> span> a{
       text-transform: initial !important;
  }
  .views-field-field-claim-file> span> a:hover, a:active, a:focus{
      color : #B09455 !important
  }
   @media (max-width: 414px) {
       #accordion{
           overflow-x: auto;
       }
       .table th, .table td{
                font-size: 12px;
                padding-top: 25px;
                padding-right: 0px;
                padding-bottom: 15px;
                padding-left: 10px;
       }


   }

    thead {
        border-bottom: 3px solid #e1e1e1;
        color: #3c3c3c;
        position: relative;
    }

    thead tr th {
        font-size: 11px;
    }

    .btn-link{
        width: 100%;
        text-align: left !important;
        color: #fff;
        text-decoration: none !important;
        padding: 0px !important;
    }
    .btn-link:hover {
        color: #fff;
    }

    .card{
        margin-bottom: 2px;
        background-color: #091e35;

    }
    .card-header {
        padding: 10px;
    }
    .card-body{
        background: #fff;
    }

[data-toggle="collapse"] .fa:before {
		content: "\f068";
	}
	
	[data-toggle="collapse"].collapsed .fa:before {
		content: "\f067";
	}
	
	.fa {
		float: right;
	}
    td>span>a{
        padding-left:0px;   
    }
.floatnone{
    float:unset;
}
.fa-chevron-circle-right{
    font-size:20px;
}
.fa-print{
    font-size: 20px;
}
    
.fa-envelope{
    font-size: 20px;
}
td.views-field.views-field-field-form-or-document{
        width: 60%;
}

    .prduct_heading{
    background-color: #f5f5f5;
    border-color: #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 10px;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    font-weight: bold;
    font-size: 24px;
    }
    @media (max-width: 576px){
        .padding-top-3{
            padding-top: 30px !important;
        }
    }
td>span>a{
        color: #091E35 !important;
}

a:hover, a:active, a:focus {
    color: #B09455 !important;
}
</style>