{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% include directory ~ '/parts/header.html.twig' %}

  <body>
  {% include directory ~ '/parts/navigations.html.twig' %}


	<section class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> <img src="/{{ active_theme_path() }}/assets/images/careers.jpg"></div>
      {# </div> #}
        
	<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Careers</h1>
          </div>
	</div>
    </section> 

	


	<section id="SectionOne" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="zoom-in-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center">
                <div class="col-md-12">
                <p>We at PPS are proud of our unique and unmatched business model of “mutuality” in South Africa. 
								Our financial strength and exceptional growth trends inspire a sense of confidence in PPS. 
								Social responsibility is a fundamental part of who we are, and we are recognised as a 
								company of value, integrity and repute. We are committed to transformation and believe 
								in celebrating our dynamic and diverse workforce.​</p>

								<p>We offer our employees the kind of environment where everyone matters. 
								We recognise the value of work-life balance and have a genuine concern for 
								the wellbeing of our people and their families. Collaboration is encouraged and 
								rewarded.</p>

								<p>We are dedicated to developing people in their roles and offer a stimulating 
								and challenging work environment geared towards growth and innovation. Regular 
								performance feedback is an integral part of our culture and our robust 
								performance management system drives consistency and fairness.</p>

								We believe in rewarding our people fairly and offer competitive and flexible 
								benefits. Our people are recognised through various programmes and initiatives, 
								designed to acknowledge their contributions and incentivise exceptional 
								performance.</p>
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>

	
	<div class="container myMarginBelow">
	  <div id="accordion">
		{{ page.careers_categories }}
	  </div>	
	</div>
	
      <section class="pt-4" style="padding-bottom: 2.5rem !important;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">
              
							{% include directory ~ '/parts/joinForm.html.twig' %}
            
            </div>
          </div>
 
        </div>
      </section>	
     {#<section class="pt-6 pb-6 Rectangle-Copy">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

			<div data-aos="zoom-in-up" class="aos-init aos-animate">
			  <div class="row justify-content-between align-items-center text-center">
				<div class="col-md-9 offset-md-1">
				  <h2 class="h1 text-blue Frequently-asked-Que">Contact Us</h2>
				  <p>If you’d like to learn more about PPS, we would be happy to answer all your questions.</p>
				  <form class="bg">
					<button>GET IN TOUCH</button>
				  </form>
				</div>

			  </div>
			</div>
          </div>
        </div>

       </div>
    </section> #}
	
	
		
 {% include directory ~ '/parts/footer.html.twig' %}	
	
<style>	
	:root {
		--navy: #00253d;
	}
	
	.myMarginBelow {
	    margin-top: 25px;
		margin-bottom: 106px;
	}
	
	.banner-height {
		height: 447px;	
	}
	
	.pic-bg-contact-01 {
	  width: 1440px;
	  height: 447px;
	  object-fit: contain;
	  display: none;
	}
	.card {
		margin-bottom: 10px;
	}
	
	.card-header {
		padding: 0rem !important;
	}
	
	.card-footer {
		padding: 0rem !important;
	}
	
	
	.link-list {
		width: 100%;
		height: 100%;
		text-align: left;
	}
	
	.center-div {
	    margin: auto;
		text-align: center;
		padding-top: 120px;
	}
	
	p {
	    color: #091E35;
	}
	
	.categoryTerm {
	    color: #091E35;	
	}
	
	body {
		background: #f6f6f6;
	}
	
	.lower-text {
		padding-top: 160px;
	}
	@media only screen and (max-width: 768px) {
		.center-div {
			margin: auto;
			text-align: center;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		
		.banner-height {
			height: 300px;
		}
		
	}

	h3 > a{
	  font-size: 25pt;
	  color: #454545;
	}

	div.card > div.card-header > button{
		text-decoration: none;
		color: #818181;
		padding-top: 23px;
	}

	[data-toggle="collapse"] .fa:before {
		content: "\f068";
	}
	
	[data-toggle="collapse"].collapsed .fa:before {
		content: "\f067";
	}
	
	.fa {
		float: right;
	}
</style>	
<script>
	$(document).ready(function() {
		$("header").css("background-color", "rgba(9,30,53,1)");
	});
</script>