
{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}


<section id="BannerSection" class="pt-20 pb-10 banner-top-spacing" style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
            background-size: cover; background-image:url('/{{ active_theme_path() }}/assets/images/investment-tools.jpg')">


	<div class="container">
          <div class="banner-area col-4">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
	</div>

</section>


<section class="separator-top pb-8 pt-8">
<div class="container">
        <iframe id="eac" src="https://www.ppsisecure.co.za/investnowpublic/eac/landing"
                style="border:none;overflow:hidden" name="EAC" scrolling="auto" align="bottom"
                height="350" width="100%">
        </iframe>

        <iframe id="investnow" src="https://www.ppsisecure.co.za/investnowpublic/investnow/landing" style="border:none;"
                name="REG28" scrolling="auto" align="bottom" height="350" width="100%">
        </iframe>

    <iframe id="reg28" src="https://www.ppsisecure.co.za/investnowpublic/reg28/landing" style="border:none"
            name="REG28" scrolling="auto" align="bottom" height="1080" width="100%">
    </iframe>

    </div>

</section>

{% include directory ~ '/parts/footer.html.twig' %}

