{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">

  {% include directory ~ '/parts/navigations.html.twig' %}

  {# {% include directory ~ '/parts/ir-2019-nav.html.twig' %} #}

  <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image: url(/{{ active_theme_path() }}/assets/2019-ir/images/header-img.jpg); margin-top: 59px;">
		<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Governance Report</h1>
          </div>
		</div>
	</section>


	<div class="container" style="padding: 20px;">

		<h3>GOVERNANCE REPORT</h3>
						<p>Good corporate governance is an integral part of the PPS Group's operations and the PPS Group is fully committed to the principles of King IV and the SAM Pillar II Risk Management requirements.</p>

		<p>The holding entity of the PPS Group is the Professional Provident Society Holdings Trust (PPS Holdings Trust). The PPS Holdings Trust Board is the focal point of the PPS Group's corporate governance system. PPS Holdings Trust's primary operating subsidiary is Professional Provident Society Insurance Company Limited (PPS Insurance).</p>

		<p>In terms of the Pillar II Risk Management requirements, PPS Insurance is required to adopt, implement, and document an effective governance framework that provides for the prudent management and oversight of its insurance business and adequately protects the interests of its policyholders. This governance framework is documented in the Corporate Governance Report.</p>
								<p>
							<strong>READ MORE:</strong>
						</p>

								
							<div class="gov-section">
								<div>
									<ul class="cd-accordion-menu label-border">
										<a class="active-link" style="cursor: pointer" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/57/index.html" target="_blank">
											<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
											<label style="cursor: pointer">Governance Structure</label></a>
										
									</ul>
									<!-- cd-accordion-menu -->
								</div>
								<div>
									<ul class="cd-accordion-menu label-border">
										<a class="active-link" style="cursor: pointer" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/59/index.html" target="_blank">
											<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
											<label style="cursor: pointer">Internal Control System</label>
										</a>
									</ul>
									<!-- cd-accordion-menu -->
								</div>
								<div>
									<ul class="cd-accordion-menu label-border">
										<a class="active-link" style="cursor: pointer" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/68/index.html" target="_blank">
											<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
											<label style="cursor: pointer">Governance of the PPS Group by the Boards</label>
										</a>
									</ul>
									<!-- cd-accordion-menu -->
								</div>
								<div>
									<ul class="cd-accordion-menu label-border">
										<a class="active-link" style="cursor: pointer" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/76/index.html" target="_blank">
											<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
											<label style="cursor: pointer">Board Committees</label>
										</a>
									</ul>
									<!-- cd-accordion-menu -->
								</div>
								<div>
									<ul class="cd-accordion-menu label-border">
										<a class="active-link" style="cursor: pointer" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/188/index.html" target="_blank">
											<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
											<label style="cursor: pointer">Administrative Information</label>
										</a>
									</ul>
									<!-- cd-accordion-menu -->
								</div>

							</div>

							<div class="gov-section">
								<div>
									<ul class="cd-accordion-menu label-border">
										<a class="active-link" style="cursor: pointer" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/190/index.html" target="_blank">
											<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
											<label style="cursor: pointer">Annual General Meeting</label>
										</a>
									</ul>
									<!-- cd-accordion-menu -->
								</div>
								<div>
									<ul class="cd-accordion-menu label-border">
										<a class="active-link" style="cursor: pointer" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/67/index.html" target="_blank">
											<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
											<label style="cursor: pointer">Corporate Structure</label>
										</a>
									</ul>
									<!-- cd-accordion-menu -->
								</div>
								<div>
									<ul class="cd-accordion-menu label-border">
										<a class="active-link" style="cursor: pointer" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/94/index.html" target="_blank">
											<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
											<label style="cursor: pointer">Trustees' Report</label>
										</a>
									</ul>
									<!-- cd-accordion-menu -->
								</div>
								<div>
									<ul class="cd-accordion-menu label-border">
										<a class="active-link" style="cursor: pointer" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/97/index.html" target="_blank">
											<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
											<label style="cursor: pointer">Audit Committees' Report</label>
										</a>
									</ul>
									<!-- cd-accordion-menu -->
								</div>
								<div>
									<ul class="cd-accordion-menu label-border">
										<a class="active-link" style="cursor: pointer" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/101/index.html" target="_blank">
											<span style="position: absolute;float: left;margin: 0px 5px 0px -23px;"> &gt; </span>
											<label style="cursor: pointer">Group Social and Ethics Committee's Report</label>
										</a>
									</ul>
									<!-- cd-accordion-menu -->
								</div>

							</div>

		</div>


  {% include directory ~ '/parts/footer.html.twig' %}
