{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}


<section class="pt-20 pb-10 " style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/{{ active_theme_path() }}/assets/images/media-banner.jpg')">


    <div class="container">
        <div class="header-sec">
            <h1 class="mb-0" style="width:550px; color:#fff !important;">Press Releases</h1>
        </div>
    </div>
</section>


<div class="row">

    <div class="col-12 col-md-6 col-lg-6 p-4">
        <iframe src="http://34.76.147.18/iframe-press-release" title="W3Schools Free Online Web Tutorials" width="100%" height="700" frameBorder="0"></iframe>
    </div>

    <div class="col-12 col-md-6 col-lg-6 p-4">
        <iframe src="http://34.76.147.18/iframe-press-release" title="W3Schools Free Online Web Tutorials" width="100%" height="700" frameBorder="0"></iframe>
    </div>

    <div class="col-12 col-md-6 col-lg-6 p-4">
        <iframe src="http://34.76.147.18/iframe-press-release" title="W3Schools Free Online Web Tutorials" width="100%" height="700" frameBorder="0"></iframe>
    </div>

</div>


{% include directory ~ '/parts/footer.html.twig' %}

<script src="/{{ active_theme_path() }}/assets/js/articles.js"></script>

<style>

    .pt-8 {
        padding-top: 20px !important;
    }

    .header-sec{
        position: absolute;
        top: 220px;
    }

    .filter-bar {
        z-index: 99;
        padding:10px;
        background-color: #fff;
        box-shadow: #ccc 0px 1px 1px;
        transition: all 0.8s;

    }

    .list-inline-item a {
        color: #0a1e37;
        font-size: 11px !important;
    }

    .active-month {
        background: #0a1e37;
        padding: 10px;
        border-radius: 5px;
    }

    .active-month a {
        color: #fff !important;

    }


    .line-separator {
        margin-left: -254px;
        width: 1600px;
    }

    #filtering-years {

        margin-left: -40px;
        padding: 10px;
    }

    #filtering-media {
        margin-left: -40px;
        padding: 5px;
    }

    .dropdown-menu {
        min-width: 6rem !important;
        width: 110px !important;
    }

    .month-list {
        margin-left: 30px;
    }

    .blogs-row-child {
        margin-top: 0px;
    }

    .month-filter-button {
        font-size: 10px;
        margin-top: -9px;
        margin-right: 60px;
    }

    .month-name {
        color: #000;
        text-transform: initial;
    }


    /*CSS from fields*/
    .article-title a {
        width: 491px;

        height: 88px;

        font-family: 'Gotham', sans-serif;
        margin-left: -8px;

        font-size: 24px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.05;

        letter-spacing: normal;

        color: #00253d;
        text-transform: none;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
        width: 458px;

        height: 108px;

        font-family: 'Gotham', sans-serif;

        font-size: 18px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.5;

        letter-spacing: normal;
    }

    .views-more-link {
        width: 170px !important;

        height: 52px !important;

        border-radius: 26px !important;
        margin-left: 0px !important;
        margin-top: 40px !important;
    }

    .hidden {
        display: none !important;
    }

    .date-text {
        width: 161px;

        height: 24px;

        font-family: Gotham;

        font-size: 16px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.5;

        letter-spacing: normal;
        color: #237e7e;
    }

    .release {
        padding: 40px !important;
    }

    .media-filters{
        padding: 10px;
        margin-left: 15px;
        width: 205px !important;

        background: #0a1e37;
      color:#fff;
        border-radius: 5px;
        
    }
    
    .media-filters li{
        display: block;
    }
    
    .media-filter-button{
        color: #fff;
    }
    
    .month-filter-button{
        color: #fff;
    }
    .filter-button{
        margin-left: 70px;
        color: #fff !important;
       background: #041e37
    }

    .filter-button:hover{
        background: #041e37 !important;
    }


    @media(min-width: 768px) and (max-width: 1022px){
        .media-filter-button{
            padding: 10px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }

        .filter-button{
            padding: 10px!important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }
        .month-filter-button{
            color: #fff !important;
            padding: 10px !important;
            font-size: 12px !important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;

        }
    }
    @media(min-width: 640px) and (max-width: 767px){
        .header-sec{
            top: 180px !important;

        }
        .media-filter-button{
            padding: 10px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }

        .filter-button{
            padding: 10px!important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }
        .month-filter-button{
            color: #fff !important;
            padding: 10px !important;
            font-size: 12px !important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;

        }

        .hide-on-mobile{
            display: none;
        }
    }

    @media (max-width: 414px) {

        .header-sec{
            position: absolute;
            top: 130px !important;
        }
        .filter-bar{
            background: #041e37;

        }
        .release {
            padding: 0px 40px !important;
        }

        .media-filter-button{
            background-color: transparent;
            color: #fff;
            font-size: 12px;
            text-transform: initial;
            padding: 10px;
            border: none;
            border-right: 1px groove #fff !important;

        }
        .filter-button{
            background: transparent !important;
            border: none;
            border-right: 1px groove #fff !important;
            padding: 10px;
            font-size: 12px !important;
            margin: 0px !important;
        }

        .month-filter-button{
            text-transform: initial !important;
            background: transparent !important;
            color: #fff !important;
            font-size: 12px !important;
            border: none;
            margin: 0;
            padding: 10px;

        }

        .hide-on-mobile{
            display: none;
        }

        .article-excerpt{
            display: none;
        }

        .article-title {
            padding: 0px !important;
        }


        .article-title a {
            font-size: 18px !important;
        }

        .blogs-row-child {
            margin-top: 20px !important;
            margin-bottom: -20px !important;
        }

    }
</style>