{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">

  {% include directory ~ '/parts/navigations.html.twig' %}

  {# {% include directory ~ '/parts/ir-2019-nav.html.twig' %} #}

  <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image: url(/{{ active_theme_path() }}/assets/2019-ir/images/header-img.jpg); margin-top: 59px;">
		<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Highlights for 2019</h1>
          </div>
		</div>
	</section>

	<div class="container" style="padding: 20px;">
		<h3>Highlights for 2019</h3>
		<img src="/{{ active_theme_path() }}/assets/2019-ir/images/highlights1.jpg" alt="">
		<img src="/{{ active_theme_path() }}/assets/2019-ir/images//highlights2.jpg" alt="">
	</div>


  {% include directory ~ '/parts/footer.html.twig' %}
