{% include directory ~ '/parts/header.html.twig' %}
 <body id="productCategory">
 {% include directory ~ '/parts/navigations.html.twig' %}
  
  <!-- Life is Valuable -->
    <section style="padding: 50px 0px 150px 0px !important">
      <div>
        <div class="container">
          <div class="row justify-content-between pt-10">
			{{ page.insure_ls_valuable_life }}
          </div>
        </div>
      </div>
    </section>  
  <!-- Life is Valuable -->
    
	<!-- Life Insurance Products -->
    <section class="bg-light pt-10 pb-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
      {{ page.insure_ls_life_insure_products_title }}	
      
          </div>
        </div>	  
        <div class="row aos-init" data-aos="fade-left">
          <div class="col">
            <div class="owl-carousel visible owl-loaded owl-drag" data-items="[3]" data-nav="true" data-margin="10">
				<div class="owl-stage-outer">
					<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3067px;">	  
						{{ page.insure_ls_life_insurance_products }} 	
					</div>
				</div>
				<div class="owl-nav">
					<button type="button" role="presentation" class="owl-prev disabled"><span aria-label="Previous">‹</span></button>
					<button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
				</div>
				<div class="owl-dots disabled">
				</div>
			</div>
          </div>
        </div>		
      </div>
    </section>
	<!-- Life Insurance Products -->




	 {{page.insure_ls_life_cover}} 


    <section class="pt-4 separator-top" style="margin-top: 50px; padding-bottom: 3.5rem !important;">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div class="boxed p-4" style="background: rgba(9,30,53,1)"  data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center text-md-left">
                <div class="col-md-3">
                  <h2 class="h1 text-white font-weight-bold">Join PPS</h2>
                </div>
                <div class="col-md-6">
                  <p class="text-white">PPS offers tailor-made insurance, investment and healthcare solutions exclusively for graduate professionals with a qualifying four year degree or equivalent.</p>
                </div>
                <div class="col-md-3 text-lg-right">
                  <a href="#." class="btn btn-white btn-rounded px-5">Become a member</a>
                </div>
              </div>
            </div>


    </div>
    </div>

    </div>
    </section>


    <script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
	  
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>
{% include directory ~ '/parts/footer.html.twig' %}