{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">

  {# STI Google Tag Manager #}
      {% set url = url('<current>') %}
    
      {% if '/car' in url|render|render or '/pro-insure-home' in url|render|render or '/pro-insure-business' in url|render|render or '/Helpful-Tips-Car' in url|render|render  %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLT66SB";
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
       
      {% endif %}
    {# End of STI Google Tag Manager #}

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHT45D6"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include directory ~ '/parts/navigations.html.twig' %}

    {% set url = url('<current>') %}


    {% if '/business-brief' in url|render|render %}

      <section id="SectionBanner" class="pt-20 pb-10 banner-top-spacing banner-images" style="padding-top: 33% !important; background-image: url(/themes/custom/refresh/assets/images/media-banner1.jpg);">		
		    <div id="card-and-payments-banner" hidden> {{content.field_business_brief_image}}</div>

			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Business Brief</h1>
          </div>
			  </div>
      </section>

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-9 col-md-9" style="border-right: 1px solid #e2e2e2;">
            {{page.content}}
          </div>
        
          <div class="col-12 col-lg-3 col-md-3">
            <h5>Business Brief Articles</h5>
            {{ page.business_brief_side_title }}
          </div>
        </div>
      </div>

    {% else %}
      {{page.content}}
    {% endif %}

  {% include directory ~ '/parts/footer.html.twig' %}
