{% include directory ~ '/parts/header.html.twig' %}
	
  <body id="product">
 {% include directory ~ '/parts/navigations.html.twig' %}
    

    <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image:url('/{{ active_theme_path() }}/assets/images/header-img.jpg')">
        
			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
			  </div>
    </section> 


<div class="container" style="padding: 20px;">

<div class="row">
	<div class="col-lg-6">
		<h3>Message from our CEO, Izak Smit</h3>
		
		<p>Once again, I’m reporting back on a challenging year,
although these days, tough trading is regarded as
‘business as usual’ and matching up to the previous
year’s results is becoming ‘the new normal’.</p>

<p>On the operating side, PPS managed to outperform
this new normal.</p>
<p>Difficult conditions not only reflect our South African
realities of political and economic volatility, but also the
societal and technological changes that are sweeping
across the globe. A 2019 Edelman Trust Barometer
survey reveals that only one out of five people believe
‘the system’ still works for them, with nearly half the
global sample stating that the current system has
actually failed them. We see this in the concerning rise
of populism in the world around us.</p>

		<a style="color: #B09455 !important;" target="_blank" href="/{{ active_theme_path() }}/assets/flippers/integrated-report-2018/index.html#11/z">&gt;&gt; Read the CEO's full message for 2018</a>
	</div>

	<div class="col-lg-6">
		<iframe width="100%" height="315px" src="https://www.youtube.com/embed/zS-d3Gdy0zg?rel=0" frameborder="0" encrypted-media="" allowfullscreen=""> </iframe>
	</div>

</div>




<h3>Key performance indicators</h3>
<p>The performance of our management and staff is measured on a balanced 
scorecard basis with an equal weighting for both financial and non-financial 
measures.</p>
<p>The KPI&#39;s are categorised under mutuality, financial stability, service and 
staff, which in turn tie back to our key strategic priorities for the Group.</p>

<div class="scrollTbl">


		<table width="100%" border="0" cellspacing="0" cellpadding="5">
			<tbody>
				<tr>
				<td width="142" valign="bottom" bgcolor="#002d4c" style="color:#fff; border-right: 2px solid #fff;"><strong>OUR KEY<br />KPI&#39;S</strong></td>
				<td width="150" valign="bottom" bgcolor="#002d4c" style="border-right:2px solid #fff;">&nbsp;</td>
				<td width="90" align="right" valign="bottom" bgcolor="#002d4c" style="color:#fff; border-right: 2px solid #fff;"><strong>Unit of<br>measure</strong></td>
				<td width="90" align="right" valign="bottom" bgcolor="#002d4c" style="color:#fff; border-right: 2px solid #fff;"><strong>2018<br>PERFORMANCE</strong></td>
				<td width="90" align="right" valign="bottom" bgcolor="#002d4c" style="color:#fff; border-right: 2px solid #fff;"><strong>2018<br>GOAL</strong></td>
				<td width="341" valign="bottom" bgcolor="#002d4c" style="color:#fff;"><strong><br>COMMENTARY</strong></td>
				</tr>
				<tr>
					<td bgcolor="#E0F0F2"><b>FINANCIAL STABILITY</b></td>
					<td style="border-bottom:1px solid #000;"><b>Gross premium income</b></td>
					<td style="border-bottom:1px solid #000;" align="right"><b>Rand billions</b></td>
					<td style="border-bottom:1px solid #000; border-right:1px solid #000;" align="right" bgcolor="#E0F0F2"><b>4.5</b>&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td align="right" style="border-bottom:1px solid #000;">4.6</td>
					<td style="border-bottom:1px solid #000;">Gross premium income (long term and short term) is slightly below expectations.</td>
				</tr>
				<tr>
					<td bgcolor="#E0F0F2">&#160;</td>
					<td style="border-bottom:1px solid #000;"><b>Total assets*</b></td>
					<td align="right" style="border-bottom:1px solid #000;"><b>Rand billions</b></td>
					<td align="right" style="border-bottom:1px solid #000; border-right:1px solid #000;" bgcolor="#E0F0F2"><b>34.9</b>&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-red">
															</span></td>
					<td align="right" style="border-bottom:1px solid #000;">39.0</td>
					<td style="border-bottom:1px solid #000;">Total asset growth expectation is measured over a three-year rolling period. Total assets is below the goal due to negative investment returns from markets in 2018.</td>
				</tr>
				<tr>
					<td bgcolor="#E0F0F2">&#160;</td>
					<td style="border-bottom:1px solid #000;"><b>Efficiency ratio</b> </td>
					<td align="right" style="border-bottom:1px solid #000;"><b>%</b></td>
					<td align="right" bgcolor="#E0F0F2" style="border-bottom:1px solid #000; border-right:1px solid #000;"><b>14.7</b>&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td align="right" style="border-bottom:1px solid #000;">15.2</td>
					<td style="border-bottom:1px solid #000;">Cost control remains an imperative of the Group.</td>
				</tr>
				<tr>
					<td bgcolor="#E0F0F2">&#160;</td>
					<td style="border-bottom:1px solid #000;"><b>New annual premiums </b> </td>
					<td style="border-bottom:1px solid #000;" align="right"><b>Rand millions</b></td>
					<td align="right" bgcolor="#E0F0F2" style="border-bottom:1px solid #000; border-right:1px solid #000;"><b>588.2</b>&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-yellow">
															</span></td>
					<td style="border-bottom:1px solid #000;" align="right">593.7</td>
					<td style="border-bottom:1px solid #000;">New long-term risk premiums are in line with prior year, but below the internal target. The economic environment in South Africa has proven to be challenging for the consumer in 2018.</td>
				</tr>
				<tr>
					<td style="border-bottom:1px solid #000;" bgcolor="#E0F0F2">&#160;</td>
					<td style="border-bottom:1px solid #000;"><b>New investment inflows </b> </td>
					<td style="border-bottom:1px solid #000;" align="right"><b>Rand billions</b></td>
					<td align="right" bgcolor="#E0F0F2" style="border-bottom:1px solid #000; border-right:1px solid #000;"><b>5.9</b>&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td style="border-bottom:1px solid #000;" align="right">5.3</td>
					<td style="border-bottom:1px solid #000;">Performance is significantly up on prior year, and ahead of internal target.</td>
				</tr>
				<tr>
					<td style="border-bottom:1px solid #000;" bgcolor="#E0F0F2">
					<b>MEMBERSHIP</b></td>
					<td style="border-bottom:1px solid #000;"><b>Number of new members recruited during the year</b> </td>
					<td style="border-bottom:1px solid #000;" align="right"><b>Individuals</b></td>
					<td align="right" bgcolor="#E0F0F2" style="border-bottom:1px solid #000; border-right:1px solid #000;"><b>6 931</b>&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-yellow">
															</span></td>
					<td style="border-bottom:1px solid #000;" align="right">7 961</td>
					<td style="border-bottom:1px solid #000;">New member recruitment performed below target in 2018.</td>
				</tr>
				<tr>
					<td bgcolor="#E0F0F2"><b>SERVICE</b></td>
					<td style="border-bottom:1px solid #000;"><b>Claims processed within Service Level Agreement</b></td>
					<td style="border-bottom:1px solid #000;" align="right"><b>%</b></td>
					<td align="right" bgcolor="#E0F0F2" style="border-bottom:1px solid #000; border-right:1px solid #000;"><b>100.0</b>&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td style="border-bottom:1px solid #000;" align="right">97.5</td>
					<td style="border-bottom:1px solid #000;">PPS aims to provide members with world-class service. Claims processing targets were exceeded during the year.</td>
				</tr>
				<tr>
					<td style="border-bottom:1px solid #000;" bgcolor="#E0F0F2">
					<b>&#160;</b></td>
					<td style="border-bottom:1px solid #000;"><b>Customer satisfaction survey results</b> </td>
					<td style="border-bottom:1px solid #000;" align="right"><b>Rating</b></td>
					<td align="right" bgcolor="#E0F0F2" style="border-bottom:1px solid #000; border-right:1px solid #000;"><b>97.8</b>&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td style="border-bottom:1px solid #000;" align="right">&gt; 80</td>
					<td style="border-bottom:1px solid #000;">Members are satisfied with our service. The rating is based on two important levers of service: professionalism and first time resolution.</td>
				</tr>
				<tr>
					<td style="border-bottom:1px solid #000;" bgcolor="#E0F0F2">
					<b>STAFF</b></td>
					<td style="border-bottom:1px solid #000;"><b>Training spend as a percentage of payroll</b></td>
					<td style="border-bottom:1px solid #000;" align="right"><b>%</b></td>
					<td align="right" bgcolor="#E0F0F2" style="border-bottom:1px solid #000; border-right:1px solid #000;"><b>6.0</b>&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td style="border-bottom:1px solid #000;" align="right">&gt; 5.2</td>
					<td style="border-bottom:1px solid #000;">Training spend is ahead of target.</td>
				</tr>
			</tbody>
		</table>
		</div>
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tbody>
													<tr>
														<td colspan="2">
															<small>* Excluding assets in unit trusts for third parties.</small>
														</td>
													</tr>
													<tr>
														<td width="25">&nbsp;
															<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span>
														</td>
														<td>Achieved</td>
													</tr>
													<tr>
														<td width="25">&nbsp;
															<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-yellow"></span>
														</td>
														<td>Partly achieved</td>
													</tr>
													<tr>
														<td width="25">&nbsp;
															<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-red"></span>
														</td>
														<td>Not achieved</td>
													</tr>
												</tbody>
											</table>
</div>


<style>
	.banner-top-spacing{
		background-size: cover; 
		height: 670px; 
	}

	.banner-text-invest{
		top: 350px;
	}

	td > strong{
	  color: #fff !important;
	}

	@media(max-width:415px){

		.banner-text-invest {
			max-width: 177px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: -110px;
			font-size: 1rem !important;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}


	@media screen and (max-width: 900px) and (min-width: 417px){

		.banner-text-invest {
			max-width: 177px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 130px;
			font-size: 1rem !important;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}


	@media screen and (max-width: 900px) and (min-width: 576px){
		
		.banner-text-invest {
			max-width: 250px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 165px;
			font-size: 1.50rem !important;
			left: 15px;
		}

	}

	@media screen and (min-width: 900px) and (max-width: 1199px){
		
		.banner-text-invest {
			max-width: 300px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 190px;
			font-size: 2rem !important;
			left: 15px;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}
</style>

		<script>
			function openCity(cityName) {
				var i;
				var x = document.getElementsByClassName("city");
				for (i = 0; i < x.length; i++) {
				   x[i].style.display = "none";  
				}
				document.getElementById(cityName).style.display = "block";  
			}
			</script>
		
		<script src="../{{directory}}/assets/js/modernizr.js"></script>
		<!-- Modernizr -->
		{# <script src="../{{directory}}/assets/js/jquery-2.1.4.js"></script> #}
		<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../{{directory}}/assets/js/main.js"></script>
		<!-- Resource jQuery -->

		<script src="../{{directory}}/assets/js/hide.js"></script>
		<script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
		<script src="../{{directory}}/assets/js/tabs.js"></script>
		
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>
		
		<script>
			$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
		
			$('.burger').on('click',function(){
			
				if($('#block-2017ppsintegratedreport-2').hasClass('mobile-submenu-hide'))
				{
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-hide'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('submenu-show-style');
				}
				else{					 
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
				}
			
				 
			});
		</script>



{% include directory ~ '/parts/footer.html.twig' %}

