{% include directory ~ '/parts/header.html.twig' %}
	
  <body id="product">
 {% include directory ~ '/parts/navigations.html.twig' %}


    <!-- / cover -->
	<section class="banner-top-spacing" style="padding-top: 13% !important;">
	
	
		<div class="container">
			
			<iframe width="100%" height="315px" src="https://www.youtube.com/embed/rF7IqcsfGLQ?rel=0" frameborder="0" encrypted-media allowfullscreen> </iframe>
		
				<div class="tabs">
							<ul class="tab-links">
								<div id="tabMobileSelector">
									Select Tab here
									<div id="mobileButton">&nbsp;</div>
								</div>
								<div id="pageTabsContainer">
									<li class="active">
										<a href="#tab1">
											<strong style="font-family:Whitney-Book">Key Performance Indicators
												<br>and Message from our CEO </strong>
										</a>
									</li>
									<li>
										<a href="#tab2">
											<strong style="font-family:Whitney-Book" class="tab2">Highlights for 2017
												<br>&nbsp;</strong>
										</a>
									</li>
									<li>
										<a href="#tab3">
											<strong style="font-family:Whitney-Book" class="tab3">PPS Doing good
												<br>&nbsp;</strong>
										</a>
									</li>
									<li>
										<a href="#tab4">
											<strong style="font-family:Whitney-Book" class="tab4">What makes PPS unique
												<br>&nbsp;</strong>
										</a>
									</li>

								</div>
							</ul>

							<div class="tab-content">
								<div id="tab1" class="tab active">
									<div id="ctl00_PlaceHolderMain_ctl05_label" style="display:none">Tab4 Content 1</div>
									<div id="ctl00_PlaceHolderMain_ctl05__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl05_label">
										<div class="report">
											<h1>
												Key performance indicators (KPI's) 
											</h1>
											<p>The performance of our management and staff is measured on a balanced scorecard basis with an equal weighting
												for both financial and non-financial measures. </p>
											<p>The KPIs are categorised under mutuality, financial stability, service and staff, which in turn tie back to our
												key strategic priorities for the Group. </p>
											<h2 class="light-blue">HOW DID WE DO IN 2017?</h2>
											<div class="scrollTbl">
												<table width="100%" border="0" cellspacing="0" cellpadding="5">
													<tbody>
														<tr>
															<td width="142" valign="bottom" bgcolor="#002d4c" style="color:#fff; border-right: 2px solid #fff;">
																<strong class="report-table-data">
																	<br> OUR KEY KPI'S</strong>
															</td>
															<td width="150" valign="bottom" bgcolor="#002d4c" style="border-right:2px solid #fff;">&nbsp;</td>
															<td width="90" align="right" valign="bottom" bgcolor="#002d4c" style="color:#fff; border-right: 2px solid #fff;">
																<strong class="report-table-data">Unit of
																	<br>measure</strong>
															</td>
															<td width="90" align="right" valign="bottom" bgcolor="#002d4c" style="color:#fff; border-right: 2px solid #fff;">
																<strong class="report-table-data">2017
																	<br>PERFORMANCE</strong>
															</td>
															<td width="90" align="right" valign="bottom" bgcolor="#002d4c" style="color:#fff; border-right: 2px solid #fff;">
																<strong class="report-table-data">2017
																	<br>GOAL</strong>
															</td>
															<td width="341" valign="bottom" bgcolor="#002d4c" style="color:#fff;">
																<strong class="report-table-data">
																	<br> COMMENTARY
																</strong>
															</td>
														</tr>
														<tr>
															<td bgcolor="#e0f0f2">
																<strong>FINANCIAL
																	<br> STABILITY
																</strong>
															</td>
															<td style="border-bottom:1px solid #000;">
																<strong>Gross premium income
																</strong>
															</td>
															<td align="right" style="border-bottom:1px solid #000;">
																<strong>Rand
																	<br> billions
																</strong>
															</td>
															<td align="right" bgcolor="#e0f0f2" style="border-bottom:1px solid #000;">
																<strong>4.1</strong>
															</td>
															<td align="right" style="border-bottom:1px solid #000;">3.6&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span>
															</td>
															<td style="border-bottom:1px solid #000;">Gross premium income (long term &amp; short term) exceeded expectations and moved above the R4 billion level
																for the first time.</td>
														</tr>
														<tr>
															<td bgcolor="#e0f0f2">&nbsp;</td>
															<td style="border-bottom:1px solid #000;">
																<strong>Total assets*</strong>
															</td>
															<td align="right" style="border-bottom:1px solid #000;">
																<strong>Rand
																	<br> billions
																</strong>
															</td>
															<td align="right" bgcolor="#e0f0f2" style="border-bottom:1px solid #000;">
																<strong>35.3</strong>
															</td>
															<td align="right" style="border-bottom:1px solid #000;">34.8&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span>
															</td>
															<td style="border-bottom:1px solid #000;">Total asset growth expectation is measured over a three-year rolling period. Market movements for the year
																resulted in total assets being ahead of expectations.</td>
														</tr>
														<tr>
															<td bgcolor="#e0f0f2">&nbsp;</td>
															<td style="border-bottom:1px solid #000;">
																<strong>Efficiency ratio</strong>
															</td>
															<td align="right" style="border-bottom:1px solid #000;">
																<strong>%</strong>
															</td>
															<td align="right" bgcolor="#e0f0f2" style="border-bottom:1px solid #000;">
																<strong>14.0</strong>
															</td>
															<td align="right" style="border-bottom:1px solid #000;">15.2&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span>
															</td>
															<td style="border-bottom:1px solid #000;">Cost control remains an imperative of the Group.
															</td>
														</tr>
														<tr>
															<td bgcolor="#e0f0f2">&nbsp;</td>
															<td style="border-bottom:1px solid #000;">
																<strong>New annual premiums
																</strong>
															</td>
															<td style="border-bottom:1px solid #000;" align="right">
																<strong>Rand
																	<br> millions
																</strong>
															</td>
															<td style="border-bottom:1px solid #000;" align="right" bgcolor="#e0f0f2">
																<strong>737.8</strong>
															</td>
															<td style="border-bottom:1px solid #000;" align="right">774.6&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-yellow">
															</td>
															<td style="border-bottom:1px solid #000;">New premiums are up 5% on prior year, but below the internal target. The economic environment in South&nbsp;Africa
																has proven to be challenging for the consumer in 2017.</td>
														</tr>
														<tr style="border-bottom:1px solid #000;">
															<td bgcolor="#e0f0f2">&nbsp;</td>
															<td>
																<strong>New investment inflows
																</strong>
															</td>
															<td align="right">
																<strong>Rand
																	<br> billions
																</strong>
															</td>
															<td align="right" bgcolor="#e0f0f2">
																<strong>4.0</strong>
															</td>
															<td align="right">4.4&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-yellow">
															</td>
															<td>Performance is up 14% on prior year, but below the internal target.</td>
														</tr>
														<tr style="border-bottom:1px solid #000;">
															<td bgcolor="#e0f0f2">
																<strong>MEMBERSHIP</strong>
															</td>
															<td>
																<strong>Number of new members recruited during the year</strong>
															</td>
															<td align="right">
																<strong>Individuals</strong>
															</td>
															<td align="right" bgcolor="#e0f0f2">
																<strong>7 348</strong>
															</td>
															<td align="right">8 191&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-yellow">
															</td>
															<td>New member recruitment performed below target in 2017.</td>
														</tr>
														<tr style="border-bottom:1px solid #000;">
															<td bgcolor="#e0f0f2">
																<strong>SERVICE</strong>
															</td>
															<td>
																<strong>Claims processed within Service Level Agreement</strong>
															</td>
															<td align="right">
																<strong>%</strong>
															</td>
															<td align="right" bgcolor="#e0f0f2">
																<strong>99.1</strong>
															</td>
															<td align="right">97.5&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span>
															</td>
															<td>PPS aims to provide members with world-class service. Claims processing targets were exceeded during the year.</td>
														</tr>
														<tr style="border-bottom:1px solid #000;">
															<td bgcolor="#e0f0f2">&nbsp;</td>
															<td>
																<strong>Customer satisfaction survey results</strong>
															</td>
															<td align="right">
																<strong>Rating</strong>
															</td>
															<td align="right" bgcolor="#e0f0f2">
																<strong>92</strong>
															</td>
															<td align="right">&gt; 80&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span>
															</td>
															<td>Customers are generally satisfied with our service. The rating is based on two important levers of service:
																professionalism and first time resolution.</td>
														</tr>
														<tr style="border-bottom:1px solid #000;">
															<td bgcolor="#e0f0f2">
																<strong>STAFF</strong>
															</td>
															<td>
																<strong>Training spend as a percentage of payroll
																</strong>
															</td>
															<td align="right">
																<strong>%</strong>
															</td>
															<td align="right" bgcolor="#e0f0f2">
																<strong>5.1</strong>
															</td>
															<td align="right">&gt; 4.0&nbsp;&nbsp;&nbsp;&nbsp;
																<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span>
															</td>
															<td>Training spend is ahead of target.</td>
														</tr>
													</tbody>
												</table>
											</div>
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tbody>
													<tr>
														<td colspan="2">
															<small>* Excluding assets in unit trusts for third parties.</small>
														</td>
													</tr>
													<tr>
														<td width="25">&nbsp;
															<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span>
														</td>
														<td>Achieved</td>
													</tr>
													<tr>
														<td width="25">&nbsp;
															<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-yellow"></span>
														</td>
														<td>Partly achieved</td>
													</tr>
													<tr>
														<td width="25">&nbsp;
															<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-red"></span>
														</td>
														<td>Not achieved</td>
													</tr>
												</tbody>
											</table>
											<br/>
											<h1>Message from our CEO</h1>
											<img class="fl" src="/{{directory}}/assets/images/ceo-message-18.jpg" alt="CEO">
											<h2 class="light-blue">OVERVIEW</h2>
											<p>2017 was another challenging year for South Africa. We contended with economic, political and environmental challenges
												that suppressed commercial activity and business confidence. Many of these challenges are South Africa specific,
												locally generated, at a time when most of the rest of the world is finally shrugging off the effects of the financial
												crises of a decade ago and returning to growth and fuller employment. In the financial services environment,
												times like this in South Africa make signing up new business difficult and insurance claims inevitably rise.</p>
											<p>Despite these headwinds, the PPS team rose to the challenge and recorded a solid operating profit for our members.
												I&nbsp;applaud this result as a real achievement within the current operating environment.</p>
											<p>In this year of review, we grew our membership numbers across all the group businesses, while our investments
												performed above expectations.
											</p>
											<p>In mid-2017 we established a new support unit offering fiduciary services such as drafting wills and winding up
												deceased estates. With this service in place, PPS is now one of few South African financial services providers
												presenting an end-to-end portfolio of solutions, and indeed the only one that focuses exclusively on the unique
												needs of professionals. Our offering ranges across healthcare administration, fiduciary services, short and long-term
												insurance to financial planning and investments.</p>
											<p>Over the next year we will launch digital tools and other initiatives to simplify and speed up intermediary and
												member interactions with PPS, as expected by an increasingly technological literate member base.</p>
											<h2 class="light-blue">STRATEGY</h2>
											<p>An anomaly is that many of our members do not yet use many of the PPS solutions. Now that we have rolled out a
												complete across-the-board range of financial and healthcare services, we can increase awareness of our services
												across the membership base. In the spirit of mutuality, these will benefit our members as much as the PPS Group,
												which is constituted to return its profits to those very members.</p>
										</div>
									</div>
								</div>

								<div id="tab2" class="tab">
									<div id="ctl00_PlaceHolderMain_ctl06_label" style="display:none">Tab4 Content 2</div>
									<div id="ctl00_PlaceHolderMain_ctl06__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl06_label">
										<div class="report">
											<h1>
												Highlights for 2017
											</h1>
											</p>
											<img src="/{{directory}}/assets/award/highlights_01-18.png" alt="" width="100%" />
											<img src="/{{directory}}/assets/images/highlights_02-18.png" alt="" width="100%" />
										</div>
									</div>

								</div>

								<div id="tab3" class="tab">
									<div id="ctl00_PlaceHolderMain_ctl07_label" style="display:none">Tab4 Content 3</div>
									<div id="ctl00_PlaceHolderMain_ctl07__ControlWrapper_RichHtmlField" class="ms-rtestate-field report" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl07_label">
										<h1>INVESTING IN THE FUTURE</h1>
										<p>Our 76 years of focusing on graduate professionals has entrenched PPS as a market and thought leader among South
											Africa’s graduate professionals. We don’t take our market leadership for granted and continually engage our target
											audience through various channels.</p>
										<p>South Africa’s under-30 population greatly outnumbers the older generations. We have prioritised getting the attention
											of students early in their tertiary studies, so that they take up PPS membership as soon as they meet our eligibility
											criteria.
										</p>
										<p>Our marketing efforts are informed by two surveys that PPS runs annually. These are the ‘Graduate Professional
											Index’ and the ‘Student Confidence Index’. These surveys enable PPS to identify threats and opportunities that
											will inform us in preparing for the future needs of potential members.</p>
										<figure class="fl">
											<img src="../{{directory}}/assets/images/award.jpg" alt="Awards">
											<div>
												<small style="font-size:13px; display: block;">Herman Mashaba (Executive mayor of Johannesburg),
													<br/> Robert Zwane (PPS Power of Professional thinking award),
													<br/> Lindie Engelbrecht (Executive Director: Membership at SAICA)
													<br/> and Ayanda Seboni (Executive: Brand, Marketing and
													<br/>Communications)</small>
											</div>
										</figure>
										<p>The Graduate Marketing division supports and educates students on campus about financial services, and why financial
											planning is vital to a future of lifelong prosperity.</p>


										<!-- <div class="left">
									<img src="i/award.jpg" alt="Awards">
									<small style="display: block;">Herman Mashaba (Executive mayor of Johannesburg),
											Robert Zwane (PPS Power of Professional thinking award),
											Lindie Engelbrecht (Executive Director: Membership at SAICA) and
											Ayanda Seboni (Executive: Brand, Marketing and Communications)</small>
							</div> -->


										<!-- <div>
									<img class="fl" src="i/award.jpg" alt="Awards">
		
								</div> -->
										<p>The PPS Lounge at Wits is exclusively for senior students requiring a dedicated space for studies and assignments,
											Herman Mashaba (Executive mayor of Johannesburg), Robert Zwane (PPS Power of Professional thinking award), Lindie
											Engelbrecht (Executive Director: Membership at SAICA) and Ayanda Seboni (Executive: Brand, Marketing and Communications)
											individually or in groups. This lounge offers premium coffee, newspapers and magazines, free Wi-Fi, a computer
											lab, and meeting rooms. Incentives such as the coffee lounge keep PPS top of mind with future graduates. We are
											investigating rolling out a similar approach on other campuses.</p>

										<p>Another PPS initiative was to host sponsored workshops for young professionals, in collaboration with other professional
											associations.
										</p>
										<p>In 2017, PPS was a proud headline sponsor of the SAICA Top 35 Under 35 – a prestigious awards ceremony recognising
											trailblazers in the field of accounting. Young accountants in business, academia, private practice and government
											were accoladed for their exceptional contributions to the field and economy.</p>
										<p>More than simply recognising outstanding young individuals, these initiatives again prove our commitment to mutuality
											among graduate professionals and our long-term vision in preparing professionals of the future for membership.
											Only constant involvement will keep PPS as the leading financial services provider to professionals from ‘graduation
											to the grave’.</p>
										<h2 class="light-blue">PPS Inner Circle Lounge</h2>
										<img src="../{{directory}}/assets/images/lounge_2.jpg" style="width:100%;" alt="PPS Inner Circle Lounge">
										<h2 class="light-blue">FULL CIRCLE</h2>
										<p>PPS has expanded our range of services to members to further unlock the PPS value proposition.</p>
										<p>In mid-2017 we established a new support unit offering fiduciary services such as drafting wills and winding up
											deceased estates. PPS is now the only South African financial services provider with an end-to-end portfolio of
											solutions aimed exclusively at the unique needs of professionals.</p>
										<p>Digitalisation, innovation and disruption are shaping industries and economies. Professionals – young and older
											– will lead the changes. As such, PPS partnered with world renowned Singularity University to host an exclusive
											Exponential Forum for our members. Scheduled for the end of May 2018, members will discuss opportunities that
											may arise from concepts such as robotics, 3D printing, advances in health and medicine, biotech, artificial intelligence,
											the Internet of Things (IoT), the future of jobs and other emerging trends.</p>
										<h2 class="light-blue">PPS FOUNDATION &amp; PPS EDUCATIONAL TRUST</h2>
										<p>
											<strong>
												<em>Message from the Chairperson of the PPS Foundation and PPS Educational Trusts</em>
											</strong>
										</p>
										<p>The year 2017 was one of many milestones for the PPS Foundation (the Foundation), such as reaching our first anniversary
											and obtaining our Public Benefit Organisation (PBO) registration. After barely two years in formal existence,
											we are thrilled with the progress made against our 2017 goals. Yet, we remain most aware of the tough challenges
											that still lie ahead.</p>
										<p>Indeed, as we traversed the country visiting schools and universities in the latter part of 2017, we gathered first-hand
											insights into real educational needs. South Africa’s education facilities still mirror the country’s skewed socio-economic
											landscape. We were motivated to work harder and more urgently to create opportunities for professionals to emerge.</p>
										<p>Against the background of a turbulent educational environment and a depressed economy, the Foundation was able
											to increase its bursary support and graduate intake for 2017. We also stabilised our costs, despite heightened
											demand for funding.</p>
										<p>Following the report by the Heher Commission and the President’s recent announcement on free tertiary education
											for poor and working-class, South Africa’s educational sector is experiencing an unprecedented paradigm shift.
											All stakeholders are concerned about how free education can be funded and what impact it will have on educational
											institutions.
										</p>
										<p>The PPS Foundation is ready to play a part by contributing to science, technology, engineering, and mathematics
											(STEM) fields at our own discretion. We look forward to delivering an even more robust performance in the coming
											year, driven by innovative thinking that supports excellent outcomes.</p>
										<p>I also thank all PPS members and my fellow trustees for their support, insight and vision they willingly contribute
											to the PPS Foundation.</p>
										<p>
											<strong>Dr S N E Seoka</strong>
										</p>
										<h2 class="light-blue">STRUCTURE</h2>
										<p>The PPS Foundation delivers its mandate through a set of standing programmes:</p>
										<img src="../{{directory}}/assets/images/pps-foundation.png" style="width: 100%" alt="PPS Foundation">
										<p>
											<strong>PPS Bursary Programme</strong>
										</p>
										<p>The PPS Foundation’s bursary programme financially supports tertiary students who display meritorious academic
											capability and achievements. This programme is pitched at full-time students in Science, Technology, Engineering
											and Maths (STEM) studies, but we do consider students pursuing other aligned professional qualifications at recognised
											South African universities and tertiary technology institutions.</p>
										<p>In 2017 the PPS Foundation awarded over 100 bursaries to students placed at 17 of the country’s 26 public universities.
											The Foundation’s recently gained PBO status significantly broadens our fund-raising opportunities.</p>
										<p>The number of bursaries awarded has increased over the years:</p>
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td align="right" bgcolor="#052944" style="color:#fff;">
														<strong class="report-table-data">2013</strong>
													</td>
													<td align="right" bgcolor="#052944" style="color:#fff;">
														<strong class="report-table-data">2014</strong>
													</td>
													<td align="right" bgcolor="#052944" style="color:#fff;">
														<strong class="report-table-data">2015</strong>
													</td>
													<td align="right" bgcolor="#052944" style="color:#fff;">
														<strong class="report-table-data">2016</strong>
													</td>
													<td align="right" bgcolor="#052944" style="color:#fff;">
														<strong class="report-table-data">2017</strong>
													</td>
												</tr>
												<tr style="border-bottom: 1px solid #000;">
													<td align="right">15</td>
													<td align="right">27</td>
													<td align="right">37</td>
													<td align="right">90</td>
													<td align="right">105</td>
												</tr>
											</tbody>
										</table>
										<p>
											<strong>PPS Graduate Internship Programme</strong>
										</p>
										<p>In 2017 we hosted 25 graduate interns, who underwent a rigorous 12-month learning and development programme while
											being posted throughout the group. Our 2018 graduate recruitment campaign, titled #Why PPS, attracted an impressive
											range of high calibre applicants.
										</p>
										<p>This intake commenced in February and its 20 candidates were placed throughout the Group.</p>
										<p>
											<strong>Professionals Connect</strong>
										</p>
										<p>In 2017 our graduate outreach portal, Professionals Connect, launched an initiative to pair experienced professionals
											with graduates in 10-month mentoring partnerships. In this past year we initiated 11 pairings in fields such as
											chartered accountancy, business analysis, law, human resources and biotechnology. Mentors were drawn from within
											and outside of the PPS membership base.
										</p>
										<p>PPS also partnered with GetReady, which utilises an innovative approach to mentorship by immersing unemployed graduates
											in coaching, critical thinking and analysis while they solve practical corporate case studies.</p>
										<p>
											<strong>University Support Programme</strong>
										</p>
										<p>The Foundation revised our University Support Programme criteria to align all efforts to the PPS Foundation Trust’s
											mandate.
										</p>
										<p>During October and November 2017, the Foundation engaged with faculty leadership to explore partnerships that will
											positively impact students and are of national interest or socio-economic relevance.</p>
										<h2 class="light-blue">EMPLOYEE AND MEMBER VOLUNTEERISM</h2>
										<p>The Foundation works to mobilise PPS employees and members to become hands-on involved in supporting our corporate
											social responsibility (CSI) initiatives.</p>
										<p>A notable project taken up by employee volunteers was the #Caring4Girls initiative in partnership with Imbumba
											Foundation, a non-profit organisation that collects and distributes sanitary towels to disadvantaged school girls.</p>
										<p>
											<em>Consumer Financial Education</em>
										</p>
										<p>This year we piloted Consumer Financial Education workshops to students on select campuses across the country.
											These were well received and helped sensitise students and their universities to the PPS value proposition. The
											Foundation is exploring a partnership with the Black Management Forum’s Youth Chapter, which has begun spreading
											the word on campuses where we are not yet physically present.</p>

									</div>
								</div>

								<div id="tab4" class="tab report">
									<div id="ctl00_PlaceHolderMain_ctl08_label" style="display:none">Tab4 Content 4</div>
									<h1>Who we are </h1>
									<p>Since its founding in 1941, PPS is the only mutual financial services company in South Africa that has focused exclusively
										on graduate professionals, providing tailor-made insurance, investment and healthcare solutions to our members.</p>
									<p>PPS exists to take care of the financial interests of its members, by providing advice, products and services for
										the optimal creation, protection and management of the wealth of its members throughout their lives.</p>
									<div class="wwa-blocks">
										<div class="wwa-block">Life Insurance</div>
										<div class="wwa-block">Short-Term Insurance</div>
										<div class="wwa-block">Investments</div>
										<div class="wwa-block">Financial Planning</div>
										<div class="wwa-block">Medical Aid</div>
									</div>
									<p>PPS operates under the ethos of mutuality and all PPS profits are allocated to PPS members with qualifying products
										on an annual basis by way of allocations to their PPS Profit-Share Accounts. PPS believes in the power of professional
										thinking and how it can change the world for the better.</p>
									<h2 class="light-blue">OUR MISSION</h2>
									<p>To be an exclusive organisation of graduate professionals, belonging to its members, which provides exceptional
										insurance benefits and a range of financial services to members, their families and associates.</p>
									<p>We further strive to provide peace of mind, security and consequently wealth for our members during their working
										lives and in retirement.</p>
									<img src="../{{directory}}/assets/images/mutuality_18.jpg" style="width:100%" alt="Mutuality">
									<h2 class="light-blue">OUR VALUES</h2>
									<p>
										<strong>At PPS, we believe that what we value internally will drive our behaviour externally. We live by the following
											values:
										</strong>
									</p>
									<ul>
										<li>We have enduring financial strength through a long-term focus.</li>
										<li>We recognise the uniqueness of our members by providing them with products to meet their specific needs.</li>
										<li>We deliver service excellence to our members.</li>
										<li>We conduct our business with the highest standards of governance, integrity, fairness and respect for all stakeholders.</li>
									</ul>
									<h2 class="light-blue">OUR STRATEGY</h2>
									<p>The needs of the graduate professional have been central to our strategic intent for the last 76 years. We have
										designed our products and service models accordingly and believe that the mutual model provides long-term benefits
										to our members that cannot be matched.</p>
									<p>Our strategy therefore focuses on:</p>
									<ul>
										<li>mutuality and growing membership</li>
										<li>group sustainability</li>
										<li>distribution.</li>
									</ul>
									<h2 class="light-blue">WHY IS PPS UNIQUE?</h2>
									<p>
										<strong>THE MUTUAL ETHOS</strong>
									</p>
									<p>Unlike most financial services providers in South Africa, PPS is not listed on the stock exchange and has no external
										shareholders – instead, PPS operates under the ethos of mutuality and all profits are allocated to PPS members
										with qualifying products on an annual basis by way of allocations to their PPS Profit-Share Accounts.</p>
									<p>This means that
										<strong>all</strong> the profits and investment returns generated by the PPS Group are allocated to its qualifying members.</p>
									<p>Mutuality is central to our success. Profits and investment returns are reinvested, with a long-term mindset, on
										members’ behalf. These funds accumulate in our members’ PPS Profit-Share Accounts, (irrespective of their claims)
										and vest free of tax at retirement, resignation from PPS or death. This benefit has no rival in South Africa.</p>
									<p>
										<strong>FOCUS ON THE GRADUATE PROFESSIONAL MARKET</strong>
									</p>
									<p>PPS stands apart from all other financial service providers, distinguished by:</p>
									<ul>
										<li>Only qualifying graduate professionals who meet our criteria</li>
										<li>A business model based on mutuality – our members are the de facto shareholders.</li>
									</ul>
									<p>As such, member interests inform all our decisions and actions. PPS has operated according to this model since our
										founding 76 years ago – and will continue doing so.</p>
									<p>
										<strong>LONG-TERM MINDSET</strong>
									</p>
									<p>PPS is not focused on delivering short-term returns to shareholders. PPS is focused on creating and sustaining long-term
										growth and wealth, recognising that there is an alignment of the interests of policyholders – unique to the insurance
										industry in South Africa.</p>
									<p>The mutual structure allows our stable management team and the Board to adopt a long-term approach to running the
										business, deploying sustainable long-term strategies, which make the most efficient use of capital, and benefit
										all the generations of professionals we serve.</p>
									<h2 class="light-blue">MEMBERS’ RETURNS</h2>
									<p>PPS members shared in over R3.7 billion (2016: R2.7 billion) of PPS profits and investment returns during the year.</p>
									<p>PPS has shared a total of R16 billion in profits and investment returns with its members over the last five years,
										and R25&nbsp;billion over the last ten years.</p>
									<p>Once members retire from their PPS Insurance products, the profits they have accumulated over the course of their
										membership through their PPS Profit-Share Account will vest. The profits will become accessible via the Vested
										PPS Profit-Share Account, irrespective of whether they had claimed or not and vests at retirement from age 60.
										This is a unique statistic in the South African insurance sector. The Vested PPS Profit-Share Account allows members
										to keep their PPS Profit-Share Account assets invested for longer to generate further returns and supplement their
										retirement savings.</p>
									<p>
										<strong>GOVERNANCE</strong>
									</p>
									<p>PPS Insurance is a registered insurer and is subject to the same governance requirements as a listed insurer. A
										unique additional layer of governance is the fact that our members and professional associations are represented
										at the PPS&nbsp;Holding&nbsp;Trust Board level – the ultimate control structure of the Group.</p>
									<p>There is no other insurance company in South Africa where policyholders are specifically represented at Board level.</p>
								</div>

							</div>

						</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		</div>
	</section>

		<script>
			function openCity(cityName) {
				var i;
				var x = document.getElementsByClassName("city");
				for (i = 0; i < x.length; i++) {
				   x[i].style.display = "none";  
				}
				document.getElementById(cityName).style.display = "block";  
			}
			</script>
		
		<script src="../{{directory}}/assets/js/modernizr.js"></script>
		<!-- Modernizr -->
		{# <script src="../{{directory}}/assets/js/jquery-2.1.4.js"></script> #}
		<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../{{directory}}/assets/js/main.js"></script>
		<!-- Resource jQuery -->

		<script src="../{{directory}}/assets/js/hide.js"></script>
		<script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
		<script src="../{{directory}}/assets/js/tabs.js"></script>
		
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>
		
		<script>
			$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
			
		
			$('.burger').on('click',function(){
			
				if($('#block-2017ppsintegratedreport-2').hasClass('mobile-submenu-hide'))
				{
					$('.subnav-container').addClass('pheight');
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-hide'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('submenu-show-style');
				}
				else{
					$('.subnav-container').removeClass('pheight');
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
				}
			
				 
			});
		</script>


{% include directory ~ '/parts/footer.html.twig' %}