{% include directory ~ '/parts/header.html.twig' %}

  <body id="productCategory">

  {% include directory ~ '/parts/navigations.html.twig' %}
    
    	  
	    	<!-- body code goes here -->
<section class="headerar">
  <div class="container" style="padding-top: 11rem;">
	<div class="contact_details">Contact us:         TEL 0860 123 777     |      TEL (INTL.) +27 11 644 4300</div>
		<div class="the_title"><img src="/{{ active_theme_path() }}/assets/reports/annual-reports-2021/images/home/foundation_times_font.svg" alt="The Foundation Times"/></div>
	<div class="flex_3">
		<div class="col_1">16 -April - 2021</div>
		<div class="col_2">Annual Report</div>
		<div class="col_1">Edition 2020</div>
		</div>
		<div class="breaking_news">
		<div class="heading_1">BREAKING NEWS</div>
			<div class="heading_2">PPS FOUNDATION HAS DONE IT AGAIN!</div>
			<div class="heading_3">Read all about it in the 2020 Annual Report</div>
		</div>
	  
	  </div>
		<div class="intro_blocks flex_3">
		<div class="intro_block_1"><span style="font-size: 120px; font-weight: 700; text-align: center; color: white;">25</span><br>Graduate Interns<br>&nbsp;</div>
		<div class="intro_block_2"><span style="font-size: 120px; font-weight: 700; text-align: center; color: white;">17</span><br>PERMANENTLY EMPLOYED <br>INTERNS</div>
		<div class="intro_block_3"><span style="font-size: 120px; font-weight: 700; text-align: center; color: white;">10</span><br>YOUTH LEADERSHIP <br>CANDIDATES</div>
		<div class="intro_block_4"><span style="font-size: 120px; font-weight: 700; text-align: center; color: white;">22</span><br>BURSARY BENEFICIARIES <br>GRADUATED</div>
		</div>
	
</section>	
	
	  <div class="container" style="padding-bottom: 6rem;">
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <div class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4 class="accTxt">CEO’S PROGRESS REPORT<br><span class="accSub"> Masenyane Molefe - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</span></h4>
      </button>
    </div>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
		  <div style="align-items: flex-start;" class="flex_3">
		  <div class="acc_img"><img src="/{{ active_theme_path() }}/assets/reports/annual-reports-2021/images/home/Izak.jpeg" width="291" height="284" alt=""/> </div>
			  <div class="acc_sto">
			  <p>Since its establishment in 2016, what are the 3 biggest accomplishments or activities by the PPS Foundation are you proud to have witnessed and why?
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 

tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  Lorem ipsum dolor sit amet, consectetur adipiscing  
</p>
			  </div>
		  </div>
        
		
		</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h4 class="accTxt">THE FOUNDATION’S IMPACT<br><span class="accSub"> Masenyane Molefe - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut </span></h4>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h4 class="accTxt">TAX BREAKS<br><span class="accSub"> Nick Battersby - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </span></h4>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
	  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <h4 class="accTxt">PPS FOUNDATION OVERVIEW<br><span class="accSub"> Subashni Gounder - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </span></h4>
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
		  </div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="/{{ active_theme_path() }}/assets/reports/annual-reports-2021/js/jquery-3.4.1.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
    </div>{# /.layout-content #}
    

    {# {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %} #}

    

  </main>



</div>{# /.layout-container #}

<style>
  .page-title{
    display:none;
  }

  .field__label{
    display: none;
  }

  .region-second-navigation {
    margin-top: 717px;
    position: absolute !important;
}
</style>


    {% include directory ~ '/parts/footer.html.twig' %}
