{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">

  {% include directory ~ '/parts/navigations.html.twig' %}

  {# {% include directory ~ '/parts/ir-2019-nav.html.twig' %} #}

  <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image: url(/{{ active_theme_path() }}/assets/2019-ir/images/header-img.jpg); margin-top: 59px;">
		<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">AGM Notice And Downloads</h1>
          </div>
		</div>
	</section>


	<div class="container" style="padding: 20px;">
<h3>AGM NOTICE AND DOWNLOADS</h3>
						<ul>
							<li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/pdf/PPS_IAR19.pdf" class="active-link" target="_blank">Download the PDF book version of the 2019 Integrated Report</a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/index.html" class="active-link" target="_blank">View the PDF flipper version of the 2019 Integrated Report</a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/pdf/PPS_Year_in_Review_2019.pdf" class="active-link" target="_blank">Download the 2019 Year In Review Brochure (8 pages)</a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/pdf/action_agm.pdf" class="active-link" target="_blank">Action required by members in regard to the 2020 annual general meeting</a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/pdf/agm_cvs.pdf" class="active-link" target="_blank">Notice of AGM and CVs of candidates standing for election</a>
								<br>
								<br>
							</li>
							{# <li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/pdf/Further Notice to the Members of the Annual General Meeting 25 May 2020.pdf" class="active-link" target="_blank">Further Notice of the Annual General Meeting - 25 May 2020</a>
								<br>
								<br>
							</li> #}

							<li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/pdf/Further Notice to the Members of the Annual General Meeting - Virtual Meeting.pdf" class="active-link" target="_blank">Further Notice to the Members of the Annual General Meeting – Virtual Meeting</a>
								<br>
								<br>
							</li>

							<li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/pdf/PPS AGM 2020 - E-Voting Guide.pdf" class="active-link" target="_blank">PPS AGM 2020 - E-Voting Guide </a>
								<br>
								<br>
							</li>

							<li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/pdf/form_of_proxy.pdf" class="active-link" target="_blank">Proxy form: pdf </a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/pdf/Proxy Form 2020 in Editable PDF format.pdf" class="active-link" target="_blank">PROXY FORM -  EDITABLE PDF</a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/2019-ir/pdf/Second_Amended_Restated_Trust_Deed_22May2017.pdf" class="active-link" target="_blank">Second Amended and Restated Trust Deed as further amended at the 2017 AGM</a>
								<br>
								<br>
							</li>
						</ul>


</div>

  {% include directory ~ '/parts/footer.html.twig' %}
