{% include directory ~ '/parts/header.html.twig' %}

  <body id="productCategory">

  {% include directory ~ '/parts/navigations-namibia.html.twig' %}
    

  {{page.content}}

          
		
	    {# <script src="{{directory}}/assets/js/vendor.js"></script>
		<script src="{{directory}}/assets/js/app.js"></script>
		<script src="{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="{{directory}}/assets/js/custom.js"></script> #}

    <style>
      .navbar-brand{
        width: 300px;
        height: 152px;
      }
    </style>

    {% include directory ~ '/parts/footer-min.html.twig' %}
