{% include directory ~ '/parts/header.html.twig' %}

  <body id="productCategory">
  {% include directory ~ '/parts/navigations.html.twig' %}




  <section class="pt-20 pb-10 " style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/ppsdrupal/themes/custom/refresh/assets/images/media-banner.jpg')">


      <div class="container">
          <div style="position: absolute; top: 220px;">
              <h1 class="mb-0" style="width:550px; color:#fff !important;">Press Releases</h1>
          </div>
      </div>
  </section>

  <section class="separator-top pb-8 pt-8">
      <div class="container">

        <div data-aos="fade-up" class="aos-init aos-animate">
          <div class="row justify-content-between align-items-center text-center">
            <div class="col-md-9 offset-md-1 pb-4" style="padding-bottom:60px !important">
              <h2 class="h1 text-blue">PPS in Media with Phaladi</h2>
            </div>
          </div>
        </div>
      <div id="article-filters" class="article-filters">
          

      </div>
        <div class="row">
          
            {{page.media_article}}
             
          
         
        </div>
      </div>
    </section>

	    <script src="../../{{directory}}/assets/js/vendor.js"></script>
		<script src="../../{{directory}}/assets/js/app.js"></script>
	  
		<script src="../../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../../{{directory}}/assets/js/custom.js"></script>

    {% include directory ~ '/parts/footer.html.twig' %}


