{% include directory ~ '/parts/header.html.twig' %}
	
  <body id="product">
 {% include directory ~ '/parts/navigations.html.twig' %}
    

    <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image:url('/{{ active_theme_path() }}/assets/images/header-img.jpg')">
        
			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
			  </div>
    </section> 


<div class="container" style="padding: 20px;">
<h3>AGM NOTICE AND DOWNLOADS</h3>
						<ul>
							<li>
								<a href="/{{ active_theme_path() }}/assets/pdf/PPS_IAR18.pdf" class="active-link" target="_blank">Download the PDF book version of the 2018 Integrated Report</a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/flippers/integrated-report-2018/files/assets/basic-html/page-1.html" class="active-link" target="_blank">View the PDF flipper version of the 2018 Integrated Report</a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/pdf/PPS_Year_in_Review_2018.pdf" class="active-link" target="_blank">Download the 2018 Year In Review Brochure (8 pages)</a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/pdf/action_agm.pdf" class="active-link" target="_blank">Action required of members in regard to the 2019 annual general meeting</a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/pdf/agm_cvs.pdf" class="active-link" target="_blank">Notice of AGM and CVs of candidates standing for election</a>
								<br>
								<br>
							</li>
							<li>
								<a href="/{{ active_theme_path() }}/assets/pdf/form_of_proxy.pdf" class="active-link" target="_blank">Proxy form</a>
								<br>
								<br>
							</li>
							<li>
								<a href="https://www.pps.co.za/documents/Second%20Amended%20and%20Restated%20Trust%20Deed%20as%20further%20amended%20at%20the%2022%20May%202017%20AGM%20and%20Master%20Contract.pdf" class="active-link" target="_blank">Second Amended and Restated Trust Deed as further amended at the 2017 AGM</a>
								<br>
								<br>
							</li>
						</ul>


</div>


<style>
	.banner-top-spacing{
		background-size: cover; 
		height: 670px; 
	}

	.banner-text-invest{
		top: 350px;
	}

	@media(max-width:415px){

		.banner-text-invest {
			max-width: 177px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: -110px;
			font-size: 1rem !important;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}


	@media screen and (max-width: 900px) and (min-width: 417px){

		.banner-text-invest {
			max-width: 177px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 130px;
			font-size: 1rem !important;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}


	@media screen and (max-width: 900px) and (min-width: 576px){
		
		.banner-text-invest {
			max-width: 250px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 165px;
			font-size: 1.50rem !important;
			left: 15px;
		}

	}

	@media screen and (min-width: 900px) and (max-width: 1199px){
		
		.banner-text-invest {
			max-width: 300px;
			background: rgba(255,255,255,0.6);
			text-align: center;
			padding: 15px 0;
			position: absolute;
			top: 190px;
			font-size: 2rem !important;
			left: 15px;
		}

		.banner-top-spacing{
			background-size: cover !important;
			height: auto !important;
			padding-top: 29% !important;
		}

	}
</style>

		<script>
			function openCity(cityName) {
				var i;
				var x = document.getElementsByClassName("city");
				for (i = 0; i < x.length; i++) {
				   x[i].style.display = "none";  
				}
				document.getElementById(cityName).style.display = "block";  
			}
			</script>
		
		<script src="../{{directory}}/assets/js/modernizr.js"></script>
		<!-- Modernizr -->
		{# <script src="../{{directory}}/assets/js/jquery-2.1.4.js"></script> #}
		<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
		<script src="../{{directory}}/assets/js/main.js"></script>
		<!-- Resource jQuery -->

		<script src="../{{directory}}/assets/js/hide.js"></script>
		<script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
		<script src="../{{directory}}/assets/js/tabs.js"></script>
		
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>
		
		<script>
			$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
		
			$('.burger').on('click',function(){
			
				if($('#block-2017ppsintegratedreport-2').hasClass('mobile-submenu-hide'))
				{
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-hide'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('submenu-show-style');
				}
				else{					 
					$('#block-2017ppsintegratedreport-2').removeClass('mobile-submenu-show'); 
					$('#block-2017ppsintegratedreport-2').addClass('mobile-submenu-hide');
				}
			
				 
			});
		</script>


{% include directory ~ '/parts/footer.html.twig' %}