{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
	{% include directory ~ '/parts/navigations-interactive.html.twig' %}
		<a name="top"></a>
		<main>
			<div class="container-wrap">
				<h3 class="text-center" style="color: #fff; background: #999; padding: 10px; margin-bottom: 30px;">Join PPS - Interactive Form</h3>
					<form action="#" method="POST">


							<video preload="auto" playsinline id="01_Introduction_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/01_Introduction_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
								<div id="Content_01_Introduction_1" class="row videoContent">
									<div class="col-md-3 col-sm-4 col-2 text-right btnPower">
										<a href="#top" class="btn btn-primary py-2"><i class="fas fa-play-circle display-3"></i></a>
										<a href="#top" class="btn btn-danger py-2"><i class="fas fa-pause-circle display-3"></i></a>
									</div>
									<div class="col-md-7 col-sm-7 col-10 offset-md-1 signUp">
										<h1 class="display-3 font-weight-bold">Get<br/>Started
										<a href="#top" class="btn btn-gold py-2 px-5 btnToNextStep"><i class="fas fa-chevron-right display-4"></i></a></h1>
										<h6 class="font-weight-bold">We need a few details in order<br />for us to process your request.</h6>
									</div>
								</div>
							</video>

							<video preload="auto" playsinline id="02_Name_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/02_Name_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>

								<div id="Content_02_Name_1" class="row videoContent">

									<div class="col-md-4 col-sm-2 col-2 text-right btnPower">
										<a href="#top" class="btn btn-primary py-2"><i class="fas fa-play-circle display-3"></i></a>
										<a href="#top" class="btn btn-danger py-2"><i class="fas fa-pause-circle display-3"></i></a>
									</div>

									<div class="col-md-8 col-sm-10 col-10">

										<div class="row">

											<div class="col-md-3 col-sm-5">
												<div class="form-group">
													<label>Name:</label>
													<input type="text" class="form-control userName" id="firstname" name="userName" >
												</div>
											</div>

											<div class="col-md-3 col-sm-5">
												<div class="form-group">
													<label>Surname:</label>
													<input type="text" class="form-control userSurname" id="lastname" name="userSurname" >
												</div>
											</div>

											<div class="col-md-3 col-sm-2">
											<a href="#top" class="btn btn-gold py-1 px-3 btnToNextStep"><i class="fas fa-chevron-right display-4"></i></a>
											</div>

										</div>
									</div>

								</div>

							</video>

							<video preload="auto" playsinline id="03_Surname_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/03_Surname_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
							</video>

							<video preload="auto" playsinline id="04_Email_Address_1">

								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/04_Email_Address_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>

								<div id="Content_04_Email_Address_1" class="row videoContent">

									<div class="col-md-3 col-sm-2 col-2 text-right btnPower">
										<a href="#top" class="btn btn-primary py-2"><i class="fas fa-play-circle display-3"></i></a>
										<a href="#top" class="btn btn-danger py-2"><i class="fas fa-pause-circle display-3"></i></a>
									</div>

									<div class="col-md-8 col-sm-10 col-10">

										<div class="row">

											<div class="col-md-8 col-sm-10">
												<div class="form-group">
													<label>Email address:</label>
													<input type="text" class="form-control emailAddress" id="email" name="emailAddress" >
												</div>
											</div>

											<div class="col-md-3 col-sm-2">
											<a href="#top" class="btn btn-gold py-1 px-3 btnToNextStep"><i class="fas fa-chevron-right display-4"></i></a>
											</div>

										</div>
									</div>

								</div>

							</video>

							<video preload="auto" playsinline id="05_Contact_Number_1">

								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/05_Contact_Number_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>

								<div id="Content_05_Contact_Number_1" class="row videoContent">

									<div class="col-md-3 col-sm-2 col-2 text-right btnPower">
										<a href="#top" class="btn btn-primary py-2"><i class="fas fa-play-circle display-3"></i></a>
										<a href="#top" class="btn btn-danger py-2"><i class="fas fa-pause-circle display-3"></i></a>
									</div>

									<div class="col-md-8 col-sm-10 col-10">

										<div class="row">

											<div class="col-md-8 col-sm-10">
												<div class="form-group">
													<label>Contact number:</label>
													<input type="text" class="form-control contactNumber" id="contact" name="contactNumber" maxlength="10" >
												</div>
											</div>

											<div class="col-md-3 col-sm-2">
											<a href="#top" class="btn btn-gold py-1 px-3 btnToNextStep"><i class="fas fa-chevron-right display-4"></i></a>
											</div>

										</div>
									</div>

								</div>

							</video>

							<video preload="auto" playsinline id="07_ID_Passport_Number_1">

								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/07_ID_Passport_Number_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>

								<div id="Content_07_ID_Passport_Number_1" class="row videoContent">

									<div class="col-md-3 col-sm-2 col-2 text-right btnPower">
										<a href="#top" class="btn btn-primary py-2"><i class="fas fa-play-circle display-3"></i></a>
										<a href="#top" class="btn btn-danger py-2"><i class="fas fa-pause-circle display-3"></i></a>
									</div>

									<div class="col-md-8 col-sm-10 col-10">

										<div class="row">

											<div class="col-md-8 col-sm-10">
												<div class="form-group">
													<label>ID/Passport number:</label>
													<input type="text" class="form-control IDPassportNumber" id="id_passport" name="IDPassportNumber" >
												</div>
											</div>

											<div class="col-md-3 col-sm-2">
											<a href="#top" class="btn btn-gold py-1 px-3 btnToNextStep"><i class="fas fa-chevron-right display-4"></i></a>
											</div>

										</div>
									</div>

								</div>

							</video>

							<video preload="auto" playsinline id="07_ID_Passport_Number_B_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/07_ID_Passport_Number_B_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
							</video>


							<video preload="auto" playsinline id="06_Highest_Qualification_1">

								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/06_Highest_Qualification_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>

								<div id="Content_06_Highest_Qualification_1" class="row videoContent">

									<div class="col-md-3 col-sm-2 col-2 text-right btnPower">
										<a href="#top" class="btn btn-primary py-2"><i class="fas fa-play-circle display-3"></i></a>
										<a href="#top" class="btn btn-danger py-2"><i class="fas fa-pause-circle display-3"></i></a>
									</div>

									<div class="col-md-8 col-sm-10 col-10">

										<div class="row">

											<div class="col-md-8 col-sm-10">
												<div class="form-group">
													<label>Highest qualification:</label>
													<input type="text" class="form-control heighestQualification" id="qualification" name="heighestQualification" >
												</div>
											</div>

											<div class="col-md-3 col-sm-2">
											<a href="#top" class="btn btn-gold py-1 px-3 btnToNextStep"><i class="fas fa-chevron-right display-4"></i></a>
											</div>

										</div>
									</div>

								</div>

							</video>



							<video preload="auto" playsinline id="08_Exisitng_PPS_Member_1">

								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/08_Exisitng_PPS_Member_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>

								<div id="Content_08_Exisitng_PPS_Member_1" class="row videoContent">

									<div class="col-md-4 col-sm-2 col-2 text-right btnPower">
										<a href="#top" class="btn btn-primary py-2"><i class="fas fa-play-circle display-3"></i></a>
										<a href="#top" class="btn btn-danger py-2"><i class="fas fa-pause-circle display-3"></i></a>
									</div>

									<div class="col-md-8 col-sm-10 col-10">

										<div class="row" style="margin-bottom: 0px;">
											<div class="col-md-8 col-sm-10 col-8 text-center font-weight-bold">
											Are you an existing PPS member?
											</div>
										</div>

										<div class="row radio-labels">

											<div class="col-md-3 col-sm-5 col-4">
												<div class="form-group">
													<input type="radio" class="float-left existingMember" name="existingMember" id="existingMemberYes" value="Yes">
													<label class="float-right mt-4" for="existingMemberYes" style="border: 0px !important"><span>Yes</span></label>
												</div>
											</div>
											<div class="col-md-3 col-sm-5 col-4">
												<div class="form-group">
													<input type="radio" class="float-left existingMember" name="existingMember" id="existingMemberNo" value="No">
													<label class="float-left mt-4" for="existingMemberNo" style="border: 0px !important"><span>No</span></label>
												</div>
											</div>

											<div class="col-md-3 col-sm-2 col-2">
											<a href="#top" class="btn btn-gold py-1 px-3 btnToNextStep"><i class="fas fa-chevron-right display-4"></i></a>
											</div>

										</div>
									</div>

								</div>

							</video>

							<video preload="auto" playsinline id="08_Exisitng_PPS_Member_A_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/08_Exisitng_PPS_Member_A_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
							</video>

							<video preload="auto" playsinline id="08_Exisitng_PPS_Member_B_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/08_Exisitng_PPS_Member_B_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
							</video>


							<video preload="auto" playsinline id="09_Im_interested_In_1">

								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/09_Im_interested_In_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>

								<div id="Content_09_Im_interested_In_1" class="row videoContent">

									<div class="col-md-3 col-sm-2 col-2 text-right btnPower">
										<a href="#top" class="btn btn-primary py-2"><i class="fas fa-play-circle display-3"></i></a>
										<a href="#top" class="btn btn-danger py-2"><i class="fas fa-pause-circle display-3"></i></a>
									</div>

									<div class="col-md-7 col-sm-8 col-7">

										<div class="row" style="margin-bottom: 0px;">
											<div class="col-12 text-center font-weight-bold mb-2">
											What would you be interested in?
											</div>
										</div>

										<div class="row checkbox-labels">

											<div class="col-md-6 col-sm-12 ">
												<div class="form-group">
													<input type="checkbox" class="float-left memberInterest" name="memberInterest" id="memberInterestLife" value="Life, Disability and Sickness">
													<label class="float-left" for="memberInterestLife"  style="border: 0px !important; font-size: 12px"><span>Life, Sickness & Disability Cover</span></label>
												</div>
											</div>
											<div class="col-md-6 col-sm-12">
												<div class="form-group">
													<input type="checkbox" class="float-left memberInterest" name="memberInterest" id="memberInterestMedical" value="Profmed Medical Scheme">
													<label class="float-left" for="memberInterestMedical" style="border: 0px !important; font-size: 12px"><span>Medical Aid</span></label>
												</div>
											</div>

											<div class="col-md-6 col-sm-12">
												<div class="form-group">
													<input type="checkbox" class="float-left memberInterest" name="memberInterest" id="memberInterestFinancial" value="Financial Planning">
													<label class="float-left" for="memberInterestFinancial" style="border: 0px !important; font-size: 12px"><span>Financial Planning & Advice</span></label>
												</div>
											</div>

											<div class="col-md-6 col-sm-12">
												<div class="form-group">
													<input type="checkbox" class="float-left memberInterest" name="memberInterest" id="memberInterestInvestment" value="Investments, Retirement and Savings">
													<label class="float-left" for="memberInterestInvestment" style="border: 0px !important; font-size: 12px"><span>Investments, Retirement & Savings</span></label>
												</div>
											</div>

											<div class="col-md-6 col-sm-12">
												<div class="form-group">
													<input type="checkbox" class="float-left memberInterest" name="memberInterest" id="memberInterestCarHousehold" value="Car and Household Insurance">
													<label class="float-left" for="memberInterestCarHousehold" style="border: 0px !important; font-size: 12px"><span>Car & Household Insurance</span></label>
												</div>
											</div>



										</div>
									</div>

									<div class="col-md-2 col-sm-2 col-2">
									<a href="#top" class="btn btn-gold py-1 px-3 btnToNextStep" onclick="onSubmit()"><i class="fas fa-chevron-right display-4"></i></a>
									</div>

								</div>

							</video>

							<video preload="auto" playsinline id="10_Life_Sickness_and_Disability_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/10_Life_Sickness_and_Disability_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
							</video>

							<video preload="auto" playsinline id="11_Financial_Planning_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/11_Financial_Planning_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
							</video>

							<video preload="auto" playsinline id="12_Car_and_Household_Insurance_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/12_Car_and_Household_Insurance_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
							</video>

							<video preload="auto" playsinline id="13_Investment_Retirement_and_Savings_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/13_Investment_Retirement_and_Savings_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
							</video>

							<video preload="auto" playsinline id="14_Medical_Aid_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/14_Medical_Aid_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
							</video>

							<video preload="auto" playsinline id="16_Submit_1">
								<source src="/{{ active_theme_path() }}/assets/interactive-form/vids-180p/16_Submit_1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
								<div id="Content_16_Submit_1" class="row videoContent mb-6">
									<div class="col-md-3 col-sm-4 col-2 text-right btnPower">
										<a href="#top" class="btn btn-primary py-2"><i class="fas fa-play-circle display-3"></i></a>
										<a href="#top" class="btn btn-danger py-2"><i class="fas fa-pause-circle display-3"></i></a>
									</div>
									<div class="col-md-7 col-sm-8 col-10 offset-md-1">
										<h1 class="display-3 font-weight-bold">Thank you.</h1>
										<h6 class="font-weight-bold">We have received your details.<br />We will call you back shortly.</h6>
										<h6 class="font-weight-bold mt-3">SHARE THIS...</h6>

										<div class="sharethis-inline-share-buttons"></div>
										<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e5621f5a9dc5f00123c3a1b&cms=sop' async='async'></script>
										<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e5621f5a9dc5f00123c3a1b&product=inline-share-buttons' async='async'></script>


									</div>

								</div>
							</video>

					</form>

				</div>

		</main>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="/{{ active_theme_path() }}/assets/interactive-form/fontawesome/css/all.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="/{{ active_theme_path() }}/assets/interactive-form/pps-interactive.css" rel="stylesheet" type="text/css">
		<link href="/{{ active_theme_path() }}/assets/interactive-form/pps-interactive-responsive.css" rel="stylesheet" type="text/css">

		{# <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> #}
		<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
		<script async src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<script async src="/{{ active_theme_path() }}/assets/interactive-form/fontawesome/js/all.min.js"></script>
		<script async src="/{{ active_theme_path() }}/assets/interactive-form/pps-interactive.js"></script>




    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> #}
  
  	<script>
	  	$(document).ready(function() {
			$('a[href=#top]').click(function(){
				$('html, body').animate({scrollTop:0}, 'slow');
				return false;
			});
		});
	  	
		function onSubmit(){

			var firstname=document.getElementById("firstname").value;
            var lastname=document.getElementById("lastname").value;
			var email=document.getElementById("email").value;
			var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
			var contact=document.getElementById("contact").value; 
			var qualification=document.getElementById("qualification").value; 

			var fullname=firstname+"_"+lastname;
			// var life_cover=document.getElementById("life_cover").value;
			//var memberyes=document.getElementById("existingMemberYes").value;
            //var memberno=document.getElementById("existingMemberNo").value;
            
            if(document.getElementById('existingMemberYes').checked) {
                var member = document.getElementById('existingMemberYes').value;
            }
            else if(document.getElementById('existingMemberNo').checked) {
                var member = document.getElementById('existingMemberNo').value;
            }

			var id_passport=document.getElementById('id_passport').value;
			var message_type = [];

			if((firstname == '') || (email == '') || (contact == '') || (qualification =='') || (member == ''))
			{
				$("#form-messages").html("<div class='error_message'>Please fill in all the required fields</div>");
			}
			else
			{
				if(!email_regex.test(email))
				{
					$("#form-messages").html("<div class='error_message'>Please Enter a valid Email Address</div>");				
				}
				else{

                    /*if($("#lastname") != ''){			
						message_type.push($("#lastname").val());	
					} */

					if($("#memberInterestLife").prop("checked") == true){		
						message_type.push($("#memberInterestLife").val());
					}
					if($("#memberInterestFinancial").prop("checked") == true){
						message_type.push($("#memberInterestFinancial").val());
					}

					if($("#memberInterestMedical").prop("checked") == true){		
						message_type.push($("#memberInterestMedical").val());
					}
					
					if($("#memberInterestCarHousehold").prop("checked") == true){	
						message_type.push($("#memberInterestCarHousehold").val());
					}

					if($("#memberInterestInvestment").prop("checked") == true){		
						message_type.push($("#memberInterestInvestment").val());
					}

					$.ajax({
						cache: false,
						contentType:'application/json',
						method: 'POST',
						// url: 'https://integrations.pps.co.za/api/v1/joinPPSAdvice',
						url: 'https://integrations.pps.co.za/api/v1/standardisedForm',
						data: JSON.stringify({
						
							"name":fullname,
							"emailAddress":email,
							"contactNumber":contact,
							"highestQualification":qualification,
							"idNumber":id_passport,
							"notes":member,
							"queryRelations":message_type,
							"message":"This is a message",
							"referringUrl":window.location.href,
							"standardisedFormType":"Join PPS"

						}),
						error: function (data) {
							console.log(data);
							console.log("Something went wrong");
						},
						success: function (data) {
							console.log(data);
                            console.log("Completed Successfully");
							//window.location = "/thank-you";
						},
						complete: function(data){
							console.log(data);
						}
					});

				}
			}

			

		}

	</script>

	<style>
		footer.groupfooter{
			border-top: 1px solid #ccc;
		}

		#Content_09_Im_interested_In_1 .form-group label{
			font-size: 12px !important;
		}

		#block-refresh-main-menu > ul.menu > li > a{
			color: #fff;
		}
		
	</style>


{% include directory ~ '/parts/footer-interactive.html.twig' %}