{% include directory ~ '/parts/header.html.twig' %}
 <body id="productCategory">
 {% include directory ~ '/parts/navigations.html.twig' %}

 <section class="pt-20 pb-10 banner-top-spacing banner-images" style="background-image: url(&quot;/themes/custom/refresh/assets/images/media-banner1.jpg&quot;); margin-top: 1px;">

    <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Latest Press Releases Preview</h1>
          </div>
    </div>
</section>
  


	 {{page.pps_latest_press_releases}} 


    


    <script src="../{{directory}}/assets/js/vendor.js"></script>
		<script src="../{{directory}}/assets/js/app.js"></script>
	  
		<script src="../{{directory}}/assets/js/waypoints/jquery.waypoints.min.js"></script>
		<script src="../{{directory}}/assets/js/counterup/jquery.counterup.js"></script>
		<script src="../{{directory}}/assets/js/custom.js"></script>
{% include directory ~ '/parts/footer.html.twig' %}