{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}
{#<div class="subnav-container" style="margin-top: 38px;">#}
    {#<div class="container-fluid">#}


        {#<li class="menu-item">#}
            {#<a id="head4" href="#heading4" data-drupal-link-system-path="<front>">Third-party Investing</a>#}
        {#</li>#}
        {#<li class="menu-item">#}
            {#<a id="head3" href="#heading3" data-drupal-link-system-path="<front>">Short-term investing</a>#}
        {#</li>#}

        {#<li class="menu-item">#}
            {#<a id="head2" href="#heading2" data-drupal-link-system-path="<front>">Medium-term Investing</a>#}
        {#</li>#}
        {#<li class="menu-item">#}
            {#<a id="head1" href="#heading1" data-drupal-link-system-path="<front>">Long-term investing</a>#}
        {#</li>#}

    {#</div>#}
{#</div>#}


<section id="BannerSection" class="pt-20 pb-10 banner-top-spacing" style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
            background-size: cover;  background-image:url('/{{ active_theme_path() }}/assets/images/fund-sheets.jpg')">


    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Claims</h1>
        </div>
    </div>
</section>

    <section id="FirstSection" class="pb-0">
        <div class="container">
        <h3>How To Claim</h3>

            <div class="container">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-claims-tab" data-toggle="tab" href="#nav-claims" role="tab" aria-controls="nav-claims" aria-selected="true">How To Claim</a>
                            <a class="nav-item nav-link" id="nav-faq-tab" data-toggle="tab" href="#nav-faq" role="tab" aria-controls="nav-faq" aria-selected="false">FAQ's</a>
                    </div>
                </nav>

                        <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade show active" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab">
                                <div class="container myMarginBelow">

                                    <div id="accordion">
                                        {{ page.how_to_claim }} 
                                    </div>	
                                </div>
                            </div>

                            <div id="nav-faq" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-faq-tab"> 
                                <div class="container myMarginBelow">
                                    <div id="accordion">
                                        {{ page.claims_faq }} 
                                    </div>	
                                </div>
                            </div>

                        </div>
                </div>
		</div>	
    </section>

    <section id="SecondSection" class="bg-light pb-0">

        <div class="container">

            <h3>Sickness and Permanent Incapacity</h3>
                <div class="container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-spi-claims-tab" data-toggle="tab" href="#nav-spi-claims" role="tab" aria-controls="nav-spi-claims" aria-selected="true">Claim Forms</a>
                                <a class="nav-item nav-link" id="nav-sickness-faq-tab" data-toggle="tab" href="#nav-sickness-faq" role="tab" aria-controls="nav-sickness-faq" aria-selected="false">FAQ's</a>
                        </div>
                    </nav>
                </div>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-spi-claims" role="tabpanel" aria-labelledby="nav-spi-claims-tab">
                        <div class="container myMarginBelow">
                            <div id="accordion">
                                {{page.claims_sickness_and_permanent_incapacity}} 
		<div>
                                                    {# <a target="_blank" href="https://ppsportal.pps.co.za/" class="btn btn-sm btn-blue sentence-case">Click here to go to PPS INTOUCH</a> #}
                                        </div>
                            </div>	
                        </div>
                    </div>


                    <div id="nav-sickness-faq" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-sickness-faq-tab"> 
                        <div class="container myMarginBelow">
                            <div id="accordion">
                                {{ page.sickness_and_permanent_incapacity_faq }} 
                            </div>	
                        </div>
                    </div>

                </div>
        </div>
    </section>



    <section id="ThirdSection" class="pb-0">

        <div class="container">

            <h3>Professional Health Preserver</h3>
                <div class="container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-php-claims-tab" data-toggle="tab" href="#nav-php-claims" role="tab" aria-controls="nav-php-claims" aria-selected="true">Claim Forms</a>
                        </div>
                    </nav>
                </div>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-php-claims" role="tabpanel" aria-labelledby="nav-php-claims-tab">
                        <div class="container myMarginBelow">
                            <div id="accordion">
                                {{page.claims_professional_health_preserver}} 
		                    <div>
                                {# <a target="_blank" href="https://ppsportal.pps.co.za/" class="btn btn-sm btn-blue sentence-case">Click here to go to PPS INTOUCH</a> #}
                                        </div>
                            </div>	
                        </div>
                    </div>

                </div>
        </div>
    </section>



    <section id="FourthSection" class="bg-light pb-0">

        <div class="container">

            <h3>Family Responsibility Rider Benefit</h3>
                <div class="container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-family-claims-tab" data-toggle="tab" href="#nav-family-claims" role="tab" aria-controls="nav-family-claims" aria-selected="true">Claim Forms</a>
                        </div>
                    </nav>
                </div>


            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-family-claims" role="tabpanel" aria-labelledby="nav-family-claims-tab">
                    <div class="container myMarginBelow">
                        <div id="accordion">
                            {{page.family_responsibility_rider_benefit}}
		                <div>
                                {# <a target="_blank" href="https://ppsportal.pps.co.za/" class="btn btn-sm btn-blue sentence-case">Click here to go to PPS INTOUCH</a> #}
                            </div>
                        </div>	
                    </div>
                </div>

            </div>

        </div>
    </section>


    <section id="FifthSection" class="pb-0">

        <div class="container">

            <h3>​​​​Disability​</h3>
                <div class="container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-disability-claims-tab" data-toggle="tab" href="#nav-disability-claims" role="tab" aria-controls="nav-disability-claims" aria-selected="true">Claim Forms</a>
                                <a class="nav-item nav-link" id="nav-disability-faq-tab" data-toggle="tab" href="#nav-disability-faq" role="tab" aria-controls="nav-disability-faq" aria-selected="false">FAQ's</a>
                        </div>
                    </nav>
                </div>


            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-disability-claims" role="tabpanel" aria-labelledby="nav-disability-claims-tab">
                    <div class="container myMarginBelow">
                        <div id="accordion">
                            {{page.claims_disability}}
		                <div>
                                {# <a target="_blank" href="https://ppsportal.pps.co.za/" class="btn btn-sm btn-blue sentence-case">Click here to go to PPS INTOUCH</a> #}
                            </div>
                        </div>	
                    </div>
                </div>


                <div id="nav-disability-faq" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-disability-faq-tab"> 
                    <div class="container myMarginBelow">
                        <div id="accordion">
                            {{page.disability_faq}}
                        </div>	
                    </div>
                </div>

            </div>

        </div>
    </section>



    <section id="SixthSection" class="bg-light pb-0">
        <div class="container">
        <h3>Critical Illness/or Severe Illness</h3>

            <div class="container">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-illness-claims-tab" data-toggle="tab" href="#nav-illness-claims" role="tab" aria-controls="nav-illness-claims" aria-selected="true">Claim Forms</a>
                            <a class="nav-item nav-link" id="nav-spi-faq-tab" data-toggle="tab" href="#nav-spi-faq" role="tab" aria-controls="nav-spi-faq" aria-selected="false">FAQ's</a>
                    </div>
                </nav>

                        <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade show active" id="nav-illness-claims" role="tabpanel" aria-labelledby="nav-illness-claims-tab">
                                <div class="container myMarginBelow">

                                    <div id="accordion">
                                        {{page.claims_severe_illness}}
					<div>
                                        {# <a target="_blank" href="https://ppsportal.pps.co.za/" class="btn btn-sm btn-blue sentence-case">Click here to go to PPS INTOUCH</a> #}
                                        </div>
                                    </div>	
                                </div>
                            </div>

                            <div id="nav-spi-faq" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-spi-faq-tab"> 
                                <div class="container myMarginBelow">
                                    <div id="accordion">
					<h6>THE PPS CRITICAL ILLNESS COVER (​standalone and accelerated) , PROFESSIONAL HEALTH PRESERVER (PHP) AND BUSINESS PROVIDER PRODUCT (BHP)</h6>
                                        {{ page.faq_illness }}    
                                    </div>	
                                </div>
                            </div>

                        </div>
                </div>
		</div>	
    </section>




    <section id="SeventhSection" class="pb-0">

        <div class="container">

            <h3>Life Cover</h3>
                <div class="container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-life-claims-tab" data-toggle="tab" href="#nav-life-claims" role="tab" aria-controls="nav-life-claims" aria-selected="true">Claim Forms</a>
                                <a class="nav-item nav-link" id="nav-life-cover-faq-tab" data-toggle="tab" href="#nav-life-cover-faq" role="tab" aria-controls="nav-life-faq" aria-selected="false">FAQ's</a>
                        </div>
                    </nav>
                </div>


            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-life-claims" role="tabpanel" aria-labelledby="nav-life-claims-tab">
                    <div class="container myMarginBelow">
                        <div id="accordion">
                            {{page.claims_life_cover}}
			<div>
                                                    {# <a target="_blank" href="https://ppsportal.pps.co.za/" class="btn btn-sm btn-blue sentence-case">Click here to go to PPS INTOUCH</a> #}
                                        </div>
                        </div>	
                    </div>
                </div>


                <div id="nav-life-cover-faq" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-life-cover-faq-tab"> 
                    <div class="container myMarginBelow">
                        <div id="accordion">
                            {{page.life_cover}}
                        </div>	
                    </div>
                </div>

            </div>

        </div>
    </section>




{% include directory ~ '/parts/footer.html.twig' %}
<script>
    $('.views-field-field-claim-file> span> a').attr('target', '_blank');
</script>
<style>
    .views-element-container{
        width: 100% !important
    }

.link-list {
    white-space: normal;
    width: 100% !important;
    height: 100%;
    text-align: left;
    text-decoration: none !important;
    color: #404040;
    font-weight: bold;
    font-family: sans-serif;
}
span > a{
    color: #B09455 !important;
}

strong > a{
    color: #B09455 !important;
}

#nav-tab {
    width: 100%;
    text-align: center;
}

.sentence-case{
    text-transform: initial !important;
}
.top-mobile{
 top: 120px !important;
}


  thead > tr > th{
   background: #e6e3e3;
   padding: 10px;
  }

  td.views-field{
   border: 0px;
}

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #e6e3e3;
}
  .views-field-field-claim-file> span> a{
    color: #091e35 !important;
    font-size:14px !important;
  }
   .views-field-field-claim-file> span> a{
       text-transform: initial !important;
  }
  .views-field-field-claim-file> span> a:hover, a:active, a:focus{
      color : #B09455 !important
  }
   @media (max-width: 414px) {
       #accordion{
           overflow-x: auto;
       }
       .table th, .table td{
           font-size: 12px;
           padding: 25px 78px 15px 20px;
       }

   }

    thead {
        border-bottom: 3px solid #e1e1e1;
        color: #3c3c3c;
        position: relative;
    }

    thead tr th {
        font-size: 11px;
    }

    .btn-link{
        width: 100%;
        text-align: left !important;
        color: #fff;
        text-decoration: none !important;
        padding: 0px !important;
    }
    .btn-link:hover {
        color: #fff;
    }

    .card{
        margin-bottom: 2px;
        background-color: #091e35;

    }
    .card-header {
        padding: 10px;
    }
    .card-body{
        background: #fff;
    }

[data-toggle="collapse"] .fa:before {
		content: "\f068";
	}
	
	[data-toggle="collapse"].collapsed .fa:before {
		content: "\f067";
	}
	
	.fa {
		float: right;
	}

    .prduct_heading{
    background-color: #f5f5f5;
    border-color: #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 10px;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    font-weight: bold;
    font-size: 24px;
    }
    @media (max-width: 576px){
        .padding-top-3{
            padding-top: 30px !important;
        }
    }

</style>