{% include directory ~ '/parts/header.html.twig' %}

  <body id="product">

  {% include directory ~ '/parts/navigations.html.twig' %}

  {# {% include directory ~ '/parts/ir-2019-nav.html.twig' %} #}

  <section class="pt-20 pb-10 banner-top-spacing" style="background-size: cover; height: 670px; background-image: url(/{{ active_theme_path() }}/assets/2019-ir/images/header-img.jpg); margin-top: 59px;">
		<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Integrated Report 2019</h1>
          </div>
		</div>
	</section>

	<div class="container" style="padding: 20px;">

<div class="row">
	<div class="col-lg-6">
		<h3>Message from our CEO, Izak Smit</h3>
		
		<p>It is my pleasure to report to our
members that, despite the tough trading
environment in which we operate and
which continued to pose challenges to
financial services businesses throughout
South Africa in 2019, PPS managed to
outperform most of the goals we had set
for ourselves at the beginning of the year.</p>
<p>This result was due to the hard work of our staff and
the committed implementation of our strategic agenda,
as well as the enduring strength of our mutual model.
We are often humbled by the niche market we serve, a
market segment that includes some of South Africa’s
and Namibia’s most educated and influential individuals
in government, the academic world, business and, of
course, the various professions. It is both a privilege and
a mammoth responsibility.</p>

		<a style="color: #B09455 !important;" target="_blank" href="/{{ active_theme_path() }}/assets/2019-ir/flippers/integrated-report-2019/32/index.html">&gt;&gt; Read the CEO's full message for 2019</a>
	</div>

	<div class="col-lg-6">
		<iframe width="100%" height="315" src="https://www.youtube.com/embed/0X-RZXIKrc8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

</div>




<h3>Key performance indicators</h3>
<p>Key Performance Indicators (KPIs) for each strategic focus area are allocated to specific individuals.
Monthly scorecards for each are submitted to the PPS Executive Committee (Exco) for review.</p>

<div class="scrollTbl">


		<table width="100%" border="0" cellspacing="0" cellpadding="5">
			<tbody>
				<tr>
				<td width="16%" valign="bottom" bgcolor="#00263e" style="color:#fff; border-right: 2px solid #fff; font-weight: bold">Our key<br>kpi’s</td>
				<td width="16%" valign="bottom" bgcolor="#00263e" style="color:#fff; font-weight: bold">Unit of measure</td>
				<td width="16%" align="right" valign="bottom" bgcolor="#00263e">&nbsp;</td>
				<td width="16%" align="right" valign="bottom" bgcolor="#00263e" style="color:#fff; font-weight: bold">2019<br>PERFORMANCE</td>
				<td width="16%" align="right" valign="bottom" bgcolor="#00263e" style="color:#fff; font-weight: bold">2019<br>GOAL</td>
				<td width="30%" align="right" valign="bottom" bgcolor="#00263e" style="color:#fff; font-weight: bold"><br>COMMENTARY</td>
				</tr>
				<tr>
					<td valign="top" style="border-right:1px solid #000;"><b>FINANCIAL STABILITY</b></td>
					<td valign="top" style="border-bottom:1px solid #000;"><b>Gross premium income</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;"><b>Rand billions</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">5,0</td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">5,0&nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">Gross premium income
(long-term & shortterm)
is in line with
expectations.</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;">&nbsp;</td>
					<td valign="top" style="border-bottom:1px solid #000;"><b>Investment return</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;"><b>%</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">6,5</td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">6,6&nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">Investment return
measured over a
three-year rolling
period performed
more or less in line
with the benchmark.</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;">&nbsp;</td>
					<td valign="top" style="border-bottom:1px solid #000;"><b>Efficiency ratio</b> </td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;"><b>%</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">16,0</td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">16,1&nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">Cost control remains
an imperative of the
Group.</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;">&nbsp;</td>
					<td valign="top" style="border-bottom:1px solid #000;"><b>New annual risk
premiums
(long-term
insurance)</b> </td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;"><b>Rand
millions</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">250,9</td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">241,4&nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">New annual risk
premiums are
10% up on prior year
and performed ahead
of targets.</td>
				</tr>
                <tr>
					<td style="border-right:1px solid #000;">&nbsp;</td>
					<td valign="top" style="border-bottom:1px solid #000;"><b>New gross written
premium
(short-term
insurance)</b> </td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;"><b>Rand
millions</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">38,6</td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">49,2&nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-red"></span></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">New gross written
premiums are 34%
up on prior year, but
performed below
targets. </td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000; border-bottom:1px solid #000;">&nbsp;</td>
					<td valign="top" style="border-bottom:1px solid #000;"><b>New investment
inflows</b> </td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;"><b>Rand billions</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">6,1</td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">5,9&nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">Performance is up on
prior year, and ahead
of internal target.</td>
				</tr>
				<tr>
					<td valign="top" style="border-right:1px solid #000; border-bottom:1px solid #000;">
					<b>MEMBERSHIP</b></td>
					<td valign="top" style="border-bottom:1px solid #000;"><b>Number of new
members
recruited during
the year</b> </td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;"><b>Individuals</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">7 327</td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">8 379&nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-yellow"></span></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">New member
recruitment performed
below target in 2019.</td>
				</tr>
				<tr>
					<td valign="top" style="border-right:1px solid #000; border-bottom:1px solid #000;"><b>SERVICE</b></td>
					<td valign="top" style="border-bottom:1px solid #000;"><b>Member survey
results: Call centre</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;"><b>%</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">94,8</td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">90,0&nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">PPS aims to provide
members with
world-class service.
Member survey results
exceeded targets
during the year.</td>
				</tr>
			
				<tr>
					<td valign="top" style="border-right:1px solid #000; border-bottom:1px solid #000;">
					<b>STAFF</b></td>
					<td valign="top" style="border-bottom:1px solid #000;"><b>Training spend
as a
percentage of
payroll</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;"><b>%</b></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">5,4</td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">> 4,5&nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span></td>
					<td align="right" valign="top" style="border-bottom:1px solid #000;">Training spend is
ahead of target.
Investment in human
capital continues to be
an important strategic
objective of the Group.</td>
				</tr>
			</tbody>
		</table>
		</div>
        <br />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tbody>
                                                <tr>
														<td width="25">&nbsp;
															<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-green"></span>
														</td>
                                                        <td>Achieved</td>
                                                        <td width="25">&nbsp;</td>
                                                        <td width="25">&nbsp;
															<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-yellow"></span>
														</td>
                                                        <td>Partly achieved</td>
                                                        <td width="25">&nbsp;</td>
                                                        <td width="25">&nbsp;
															<span style="display: inline-block; border: 1px solid #000; width: 12px; border-radius: 50%; height: 12px;" class="c-red"></span>
														</td>
                                                        <td>Not achieved</td>
													</tr>
                                                    
                                                    </tbody>
                                                    </table>
		
		
</div>



  {% include directory ~ '/parts/footer.html.twig' %}
