{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHT45D6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include directory ~ '/parts/navigations.html.twig' %}


<section class="pt-20 pb-10 banner-top-spacing banner-images" style="background-image:url('/{{ active_theme_path() }}/assets/images/media-banner1.jpg')">

    <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">Press Releases</h1>
          </div>
    </div>
</section>

<section class="separator-top pb-8 pt-8">
    <div class="container">
        <div class="col-md-12 filter-bar">
            <div class="row">
                <div class="col-md-3 col-5 dropdown media-selector">
                    <a class="btn btn-primary dropdown-toggle media-filter-button"
                            data-toggle="dropdown" style="background-color:#0a1e37;color:#fff">
                        Press Releases <i class="fas fa-caret-down"></i>
                    </a>
                    <ul id="media-filters" class="dropdown-menu media-filters" style="background: #fff;color:#000">

                        <li class="list-inline-item"><a href="/media/blogs">Blogs</a></li>
                        <li class="list-inline-item"><a href="/gazette">Gazette</a></li>
                        <li class="list-inline-item"><a href="/about/media-archive">Media Archive</a></li>
                    </ul>

                </div>
                <div class="col-md-3 col-3 dropdown year-selector">
                    <a class="btn btn-primary dropdown-toggle filter-button" data-toggle="dropdown">
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <ul id="filtering-years" class="dropdown-menu filtering-years">

                    </ul>

                </div>
                <div class="col-md-6 d-none d-md-inline-block month-selector">
                    <a id="toLeft"><i class="fa fa-angle-left fa-2x"></i></a>
                    <ul class="nav nav-tabs list-inline month-list">

                    </ul>
                    <a id="toRight"><i class="fa fa-angle-right fa-2x"></i></a>
                </div>
                <div class="d-md-none d-lg-none d-inline-block col-4 month-selector-dropdown">


                    <a class="btn btn-primary dropdown-toggle month-filter-button"
                            data-toggle="dropdown" style="background-color:#0a1e37">
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <ul id="filtering-months-d" class="dropdown-menu filtering-months-mobile" style="color:#000">

                    </ul>


                </div>
            </div>

        </div>

        <div class="row">

            {{ page.media_article }}

        </div>
    </div>
</section>


{% include directory ~ '/parts/footer.html.twig' %}

<script src="/{{ active_theme_path() }}/assets/js/articles.js"></script>

<style>

    .pt-8 {
        padding-top: 20px !important;
    }

    .header-sec{
        position: absolute;
        top: 220px;
    }

    .filter-bar {
        z-index: 99;
        padding:10px;
        background-color: #fff;
        box-shadow: #ccc 0px 1px 1px;
        transition: all 0.8s;

    }

    .list-inline-item a {
        color: #0a1e37;
        font-size: 11px !important;
    }

    .active-month {
        background: #0a1e37;
        padding: 10px;
        border-radius: 5px;
    }

    .active-month a {
        color: #fff !important;

    }


    .line-separator {
        margin-left: -254px;
        width: 1600px;
    }

    #filtering-years {

        margin-left: -40px;
        padding: 10px;
    }

    #filtering-media {
        margin-left: -40px;
        padding: 5px;
    }

    .dropdown-menu {
        min-width: 6rem !important;
        width: 110px !important;
    }

    .month-list {
        margin-left: 30px;
    }

    .blogs-row-child {
        margin-top: 70px;
    }

    .month-filter-button {
        font-size: 10px;
        margin-top: -9px;
        margin-right: 60px;
    }

    .month-name {
        color: #000;
        text-transform: initial;
    }

    .article-title{
        padding: 0px;
        margin-bottom: 40px;
    }
    /*CSS from fields*/
    .article-title a {
        width: 491px;

        height: 88px;

        font-family: 'Gotham', sans-serif;
        margin-left: -8px;

        font-size: 24px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.05;

        letter-spacing: normal;

        color: #00253d;
        text-transform: none;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
        width: 147px;
        height: auto;
        margin: 20px 0px;
        font-family: 'Gotham', sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
    }



    .hidden {
        display: none !important;
    }

    .date-text {
        width: 161px;

        height: 24px;

        font-family: Gotham;

        font-size: 16px;

        font-weight: normal;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.5;

        letter-spacing: normal;
        color: #237e7e;
    }

    .release {
        padding: 40px !important;
    }

    .media-filters{
        padding: 10px;
        margin-left: 15px;
        width: 205px !important;

        background: #0a1e37;
      color:#fff;
        border-radius: 5px;
        
    }
    
    .media-filters li{
        display: block;
    }
    
    .media-filter-button{
        color: #fff;
    }
    
    .month-filter-button{
        color: #fff;
    }
    .filter-button{
        margin-left: -54px;
        color: #fff !important;
       background: #041e37
    }

    .filter-button:hover{
        background: #041e37 !important;
    }

    article-excerpt a:hover{

        margin-left: 0px !important;
        margin: 20px 0px !important;



    }

    .views-more-link:hover{
        margin-left: 0px !important;
    }


    @media(min-width: 768px) and (max-width: 1022px){
        .media-filter-button{
            padding: 10px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }

        .filter-button{
            padding: 10px!important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }
        .month-filter-button{
            color: #fff !important;
            padding: 10px !important;
            font-size: 12px !important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;

        }
    }
    @media(min-width: 640px) and (max-width: 767px){
        .header-sec{
            top: 180px !important;

        }
        .media-filter-button{
            padding: 10px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }

        .filter-button{
            padding: 10px!important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;
        }
        .month-filter-button{
            color: #fff !important;
            padding: 10px !important;
            font-size: 12px !important;
            margin: 0px !important;
            border: none !important;
            border-right: 1px groove #fff !important;

        }

        .hide-on-mobile{
            display: none;
        }
    }

    @media (max-width: 414px) {

        .header-sec{
            position: absolute;
            top: 130px !important;
        }
        .filter-bar{
            background: #041e37;

        }
        .release {
            padding: 0px 40px !important;
        }

        .media-filter-button{
            background-color: transparent;
            color: #fff;
            font-size: 12px;
            text-transform: initial;
            padding: 10px;
            border: none;
            border-right: 1px groove #fff !important;

        }
        .filter-button{
            background: transparent !important;
            border: none;
            border-right: 1px groove #fff !important;
            padding: 10px;
            font-size: 12px !important;
            margin: 0px !important;
        }

        .month-filter-button{
            text-transform: initial !important;
            background: transparent !important;
            color: #fff !important;
            font-size: 12px !important;
            border: none;
            margin: 0;
            padding: 10px;

        }

        .hide-on-mobile{
            display: none;
        }

        .article-excerpt{
            display: none;
        }

        .article-title {
            padding: 0px !important;
        }


        .article-title a {
            font-size: 18px !important;
        }

        .blogs-row-child {
            margin-top: 20px !important;
            margin-bottom: -20px !important;
        }

    }
</style>