{% include directory ~ '/parts/header.html.twig' %}

<body id="productCategory">
{% include directory ~ '/parts/navigations.html.twig' %}

<section class="pt-20 pb-10 " style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('http://34.76.147.18/themes/custom/refresh/assets/images/media-banner.jpg')">


    <div class="container">
        <div style="position: absolute; top: 220px;">
            <h1 class="mb-0" style="width:550px; color:#fff !important;">Pulse</h1>
        </div>
    </div>
</section>

<section class="separator-top pb-8 pt-8">
    <div class="container">


     <div class="col-12 col-lg-12 col-md-12">
        <div class="row">

            <div class="col-12 col-md-12">

                <div class="title-space">
                    <h5>Archive</h5>
                </div>
                <div class="archive-list">
                    <ul class="a-list">
                        {{ page.pulse }}
                    </ul>
                </div>

            </div>


        </div>
     </div>
    </div>
</section>


{% include directory ~ '/parts/footer.html.twig' %}


<style>
    .title-space {
        /*text-align: center;*/
        padding: 20px;
        background-color: #091e35;

    }

    .title-space h5{
        color: #fff;
    }

    .a-list-item{
        padding:10px;
    }

</style>


