{#
/**
 * @file
 * Default theme implementation for displaying a single search result.
 *
 * This template renders a single search result. The list of results is
 * rendered using '#theme' => 'item_list', with suggestions of:
 * - item_list__search_results__(plugin_id)
 * - item_list__search_results
 *
 * Available variables:
 * - url: URL of the result.
 * - title: Title of the result.
 * - snippet: A small preview of the result. Does not apply to user searches.
 * - info: String of all the meta information ready for print. Does not apply
 *   to user searches.
 * - plugin_id: The machine-readable name of the plugin being executed,such
 *   as "node_search" or "user_search".
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - info_split: Contains same data as info, but split into separate parts.
 *   - info_split.type: Node type (or item type string supplied by module).
 *   - info_split.user: Author of the node linked to users profile. Depends
 *     on permission.
 *   - info_split.date: Last update of the node. Short formatted.
 *   - info_split.comment: Number of comments output as "% comments", %
 *     being the count. (Depends on comment.module).
 * @todo The info variable needs to be made drillable and each of these sub
 *   items should instead be within info and renamed info.foo, info.bar, etc.
 *
 * Other variables:
 * - title_attributes: HTML attributes for the title.
 * - content_attributes: HTML attributes for the content.
 *
 * Since info_split is keyed, a direct print of the item is possible.
 * This array does not apply to user searches so it is recommended to check
 * for its existence before printing. The default keys of 'type', 'user' and
 * 'date' always exist for node searches. Modules may provide other data.
 * @code
 *   {% if (info_split.comment) %}
 *     <span class="info-comment">
 *       {{ info_split.comment }}
 *     </span>
 *   {% endif %}
 * @endcode
 *
 * To check for all available data within info_split, use the code below.
 * @code
 *   <pre>
 *     {{ dump(info_split) }}
 *   </pre>
 * @endcode
 *
 * @see template_preprocess_search_result()
 *
 * @ingroup themeable
 */
#}
{{ title_prefix }}
<h3{{ title_attributes }}>
  <a href="{{ url }}">{{ title }}</a>
</h3>
{{ title_suffix }}
{% if snippet %}
  <p{{ content_attributes }}>{{ snippet }}</p>
{% endif %}
{% if info %}
  <p>{{ info }}</p>
{% endif %}

<style>
  h3{
    background-color: rgba(9,30,53,1);
    padding-bottom: 15px;
  }

  .region-content p > span{
    display: none;
  }

  p{
    padding: 0px 20px;
  }

  div.container > div.row > .region-content > ol:nth-child(3) > li
  {
    border: 1px solid #091E35;
    margin-bottom: 20px
  }

  div.container > div.row > .region-content > ol
  {
    width: 100%;
  }

  .pager__item {
    display: inline;
    padding: 0.5em 0em 0.5em 0.4em;
    margin: 2px;
    border: 2px solid #091E35;
}

  .pager__item.is-active {
    display: inline;
    padding: 0.5em 0em 0.5em 0.2em;
    margin: 2px;
    border: 2px solid #091E35;
    background: #091E35 !important;
}

  #pagination-heading{
    display:none;
  }

  .js-form-item.form-item.js-form-type-search.form-type-search.js-form-item-keys.form-item-keys {
    width: 274px;
    float: left;
  }

  div.container > div.row > div.region > form#search-form > #edit-submit {
    float: left;
    margin-top: 35px;
    border: 0px;
    border-radius: 0.3em;
    padding: 15px 20px 5px 20px;
    color: #fff !important;
    background: #091E35 !important;
  }

  #edit-help-link {
    line-height: 111px !important;
  }

#edit-keys{
  padding: 4px 5px;
  border-radius: 0.3em;
  border: 1px solid #ccc;
}
</style>
