{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

<!-- Banner Section -->
	<div class="" id="section-fp-image">
		<div class="payment-solutions-image banner-height"> 
			{{ content.field_financial_advisory_banner }}		  
			<div class="container banner-wrap">
				<div class="row banner-area">
					<div class="col-md-4 overlay-text">
						{{ content.field_financial_advisory_text }}
					</div>
				</div>
			</div>		  	  
		</div>	
	</div>
<!-- /End Banner Section -->
<!-- Quote Section -->
<div id="banner-below">
	<span>"
            It’s not about the years in your life, it’s about the life in your years.
      " — <span id="innerSpan">
            Adlai Stevenson
      </span></span>
</div>
<!-- /End Quote Section -->

<!-- Feature Image -->
    <section class="bg-light pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            {#<h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_featured_title}}</h2> #}
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_financial_advice_image}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-7 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
              <h2 class="h1 text-blue mb-2">{{content.field_financial_advice_heading}}</h2>
            	{{content.field_financial_advice_body}}
            </div>

          </div>

        </div>

      </div>
    </section>
<!-- /End Featured Image-->
<!-- List of Services -->
		<div id="serviceList" class="container">
			<div class="row">
				<div class="col-12" style="text-align: center;">
						<h4 class="text-blue">{{content.field_intro_heading}}</h4>
						<p>{{content.field_intro_body}}</p>
				</div>
				<div class="row element-center">
						{{content.field_financial_advice_services}}
        </div>
			</div>
		</div>
<!-- /End List of Services -->
<!-- News and Media -->
    <section id="section-news">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_news_fp_main_title}}</h2>
						<h5 class="text-blue bottomMar">{{content.field_news_fp_subtitle_}} </h5>
          </div>
        </div>
        <div class="row">
            {{content.field_news_fp_content}}
        </div>
    </section>
<!-- /End News and Media -->
<!-- Financial Planning Contact Form-->
    	<section id="fpContact" class="pb-0 contact-area" style="background-image:url(http://dev.bluevinegroup.co.za/ppsdrupal/themes/custom/refresh/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center -120px; background-repeat:no-repeat">
		<div class="container">
		  <div class="row justify-content-center">
			<div class="col-md-12 col-lg-12">

			  <div class="boxed p-4 text-center" style="background: rgba(9,30,53,0.8)"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="aos-init aos-animate">
				<div class="row justify-content-between align-items-center ">
				  <div class="col-md-12">
					<h2 class="h1 text-white mb-1 mt-0">The next step is to get a quote.</h2>
				  </div>
				  <div class="col-md-12">
					<p class="text-white mb-1">Want to sign up? Still shopping around? Find the best option for you and see what you'll pay each month. Get a custom quote based on factors like your income, location, and more.</p>
				  </div>
				  <div class="col-md-12 ">
					<a href="#." class="btn btn-white btn-rounded px-5">Get a Quote</a> <span class="text-white">OR</span> <a href="#." class="btn btn-white btn-rounded px-5">Contact Us</a>
				  </div>
				</div>
			  </div>
			
			</div>
		  </div>
		</div>
    </section>
<!-- /End Financial Planning Contact Form-->
 
<style>
	#serviceList {
		margin-top: 50px !important;
	}
	.field--name-field-financial-advice-heading {
		font-weight: 100 !important;
    font-size: 42px;
	}
	.bg-light {
		background-color: #F0F0F0 !important;
	}

	#product .block-life .block-bg {
    position: absolute;
    top: 55px;
    left: 65px;
    background: rgba(9,30,53,1);
    width: 400px;
    height: 285px;
}

#product .block-life li {
    position: absolute;
    left: -20px;
    list-style: none;
    top: -40px;
}
	.field--name-field-financial-advice-image img{
			height: auto !important;
			width: 100%;
	}
	#banner-below {
    height: 74px;
    text-align: center;
    background-color: #D8C8AF;
    padding-top: 25px;
	}

	#banner-below span{
    color: #091E35 !important;
    font-size: 18px;
    font-weight: bold;
	}

	#innerSpan {
		font-weight: normal !important;
    font-size: 14px !important;
	}
  /*@media (min-width: 1200px)*/
  #fpContact .container {
      max-width: 100% !important;
  }
  #fpContact .container {
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

	.field--name-field-financial-advisory-banner img {
		width: 100% !important;
		height: 350px !important;
	}

	.banner-height {

		position: relative;

	}

	.banner-wrap{
	    position: absolute;
		top: 40px;
	}

	.banner-area {
		position: relative;
	}

	.overlay-text {
		background: rgba(255,255,255,0.4);
		padding: 20px;
		border-radius: 3px;
		margin-left: 42px;
		margin-top: 60px;
		z-index: 10;
    position: absolute;
    right: -68px;
    bottom: -266px;
	}

	.field--name-field-financial-advisory-text h3 {
		color: #091E35 !important;
	}

	.field--name-field-financial-advisory-text p {
		color: #fff;
	}

	.blue-background {
		height: 266px !important;
    width: 284px !important;
	}

	.paragraph-margin {
		margin-left: 20%;
		margin-right: 20%;
		text-align: justify;
	}

	.element-center img {
		width: 65px;
		height: auto;
	}

	.element-center {
		padding: 20px;
		text-align: center;	
		/*height: 295px !important;*/
	}

	.col-md-4 .rising {
		    height: 323px !important;
	}
	.heading-margin {
		margin-left: 20%;
		margin-right: 20%;
	}	

	.div-padding {
		margin-bottom: 10px !important;
	}
	#listServicess{
		 margin-bottom: 304px !important;
	}

	#section-news {
		background-color: #F0F0F0 !important;
		padding-top: 50px !important;
	}

	.bottomMar {
		margin-bottom: 20px;
	}

	p a {
		 color: #B09455 !important;
	}
</style>