<section id="BannerSection" class="pt-20 pb-10 banner-top-spacing banner-images" style="background-image: url('/themes/custom/refresh/assets/images/legal-banner.jpg'); margin-top: 59px;">
    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
        </div>
	</div>
</section>


<section class="py-5">
    <div class="container">
        <embed src="" type="application/pdf" class="pdf-file" width="100%" height="900px" />
    </div>
</section>

{{content.field_legal_file}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    var pdflink = $(".file--mime-application-pdf a").attr("href");

    $(".pdf-file").attr('src' , pdflink);
    $(".file--application-pdf").hide();

</script>