{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}




	  <section class="pb-0 contact-area" style="background-image:url(/{{active_theme_path()}}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center -120px; background-repeat:no-repeat">
    <div class="container">

      <div class="row">
        <div class="col-md-12 col-lg-12">

          <div class="boxed p-4" style="background: rgba(9,30,53,0.8)" >
            <div class="row">
              <div class="col-md-12">
                <h2 class="text-white mb-1 mt-0 text-center justify-content-between align-items-center">The next step is to call us or we can call you.
				<br/>
				<a href="tel:+27860123777" style="font-size: 2.5rem; text-align: center!important">0860 123 777</a></h2>
					
              </div>
							
            </div>
			



			<form class="contactForm" method="POST">
	<div class="row rowMargin">
			
		<div class="col-md-6 col-12 pt-1">
			<div class="form-group">
				<label for="firstname">*Name </label><br />
				<input id="firstname" class="textbox" name="firstname" required="required" type="text"  data-error="Firstname is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		
		<div class="col-md-6 col-12 pt-1">
			<div class="form-group">
				<label for="email">*Email Address</label><br />
				<input id="email" class="textbox" name="email" required="required" type="text" placeholder="e.g. mail@domain.com" data-error="Email is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6 col-12 pt-1">
			<div class="form-group">
				<label for="contact">*Contact Number </label><br />
				<input id="contact" class="textbox" name="contact" required="required" type="text"  data-error="Contact Number is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6 col-12 pt-1">
			<div class="form-group">
				<label for="qualification">*Highest Qualification:</label><br />
				<input id="qualification" class="textbox" name="qualification" required="required" type="text"  data-error="Qualification is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6 col-12 pt-1">
			<div class="form-group">
				<label for="id_passport">ID Number / Passport:</label><br />
				<input id="id_passport" class="textbox" name="id_passport" required="required" type="text"  data-error="ID/Passport is required." />
				<small style="font-style: italic">Please note that your ID Number / Passport is completely safe with us</small>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="col-md-6 col-12 pt-1">
			<div class="form-group">
				<label for="qualification">*Are you an existing PPS Member (Yes/No):</label><br />
				<select name="member" id="member" placeholder="Select an Option" style="height: 37px; opacity: 1 !important; width: 60%; background: #fff !important;">
					<option default>Select an Option</option>
					<option value="Yes">Yes</option>
					<option value="No"> No</option>
				</select>

				<div class="help-block with-errors"></div>
			</div>
		</div>


		<div class="col-md-6 col-12 pt-1">
			<div class="form-group">
				<label for="query_related">I would like would like to submit a:</label><br />
				<select name="query_related" id="query_related" placeholder="Select an Option" style="height: 37px; opacity: 1 !important; width: 60%; background: #fff !important;">
					<option default>Select an Option</option>
					<option value="Request for information/Service"> Request for information/Service</option>
					<option value="Request for New Products/Advice"> Request for New Products/Advice</option>
					<option value="Compliment"> Compliment</option>
					<option value="Suggestion"> Suggestion</option>
					<option value="Complaint"> Complaint</option>
				</select>

				<div class="help-block with-errors"></div>
			</div>
		</div>

				<!--<h4><strong>Your Message</strong></h4>-->

	<h6 class="checkbox-heading col-12 col-md-12 pt-2" style="color:#fff; ">MY QUERY IS RELATED TO</h6>
	
		<div class="col-md-6 col-12">
			<div class="form-group">
				<label style="cursor:pointer"><input id="life_cover" name="life_cover" type="checkbox" value="Life, Disability and Sickness"/> Life, Sickness and Disability Cover</label> 
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class="form-group">
				<label style="cursor:pointer"><input id="financial_planning" name="financial_planning_advice" type="checkbox" value="Financial Planning" /> Financial Planning & Advice</label>  
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class="form-group">
				<label style="cursor:pointer"><input id="car_household" name="car_household" type="checkbox" value="Car and Household Insurance"/> Car & Household Insurance</label> 
				<div class="help-block with-errors"></div>
			</div>
		</div>
		
		<div class="col-md-6 col-12">
			<div class="form-group">
				 <label style="cursor:pointer"><input id="invest_save" name="invest_save" type="checkbox"  value="Investments, Retirement and Savings" /> Investment, Retirement and Savings</label> 
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="col-md-6 col-12">
			<div class="form-group">
				 <label style="cursor:pointer"><input id="medical_aid" name="medical_aid" type="checkbox" value="Profmed Medical Scheme"  /> Profmed Medical Scheme</label>  
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="col-md-6 col-12">
			<div class="form-group">
				 <label style="cursor:pointer"><input id="credit_payment" name="credit_payment" type="checkbox" value="Card and Payment Solutions" /> Card and Payment Solutions</label>  
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="col-md-6 col-12">
			<div class="form-group">
				<label style="cursor:pointer"><input id="hpi" name="hpi" type="checkbox" value="Health Professions Indemnity" /> Health Professions Indemnity</label> 
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="col-md-6 col-12">
			<div class="form-group">
				<label style="cursor:pointer"><input id="wills_trust_and_estate_planning" name="wills_trust_and_estate_planning" type="checkbox" value="Wills, Trust and Estate Planning" /> Wills, Trust and Estate Planning</label> 
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="col-md-6 col-12">
			<div class="form-group">
				<label style="cursor:pointer"><input id="marketing_communications" name="marketing_communications" type="checkbox" value="Marketing/Communications" /> Marketing/Communications</label> 
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="col-md-6 col-12">
			<div class="form-group">
				<label style="cursor:pointer"><input id="not_sure" name="not_sure" type="checkbox" value="Unknown" /> Not Sure</label> 
				<div class="help-block with-errors"></div>
			</div>
		</div>

		
		<div class="col-md-12 col-12 mt-2">
			<label for="message">Message</label><br />
			<textarea id="message" name="message" rows="4" style="width: 50% !important; border-radius: 4px;"></textarea>
		</div>
	</div>
	
		<div class="col-4"></div>
		<div class="col-4 align-btn">  
			{# <input onclick="onSubmit()" type="submit" class="sendbtn" value="Call Me Back"> #}
			<button onclick="onSubmit()" type="button" class="btn btn-link sendbtn">Call Me Back</button>
		</div>

		<div id="form-messages"></div>
</form>

          </div>
        
        </div>
      </div>
    </div>
  </section>

  {# <script src="https://www.pps.co.za/themes/custom/refresh/assets/js/jquery-3.3.1.min.js"></script> #}

  <script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
  {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script> #}

  	<script>

		function onSubmit(){

			var firstname=document.getElementById("firstname").value;
			var email=document.getElementById("email").value;
			var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
			var contact=document.getElementById("contact").value; 
			var qualification=document.getElementById("qualification").value; 
			var life_cover=document.getElementById("life_cover").value;
			var member=document.getElementById("member").value;
			var id_passport=document.getElementById('id_passport').value;
			var message=document.getElementById('message').value;
			var query_related=document.getElementById('query_related').value;
			var message_type = [];

			if(query_related == 'Request for information/Service'){
				var formtype="Request for Information";
			}
			else if(query_related == 'Request for New Products/Advice'){
				var formtype="Join PPS";
			}
			else if(query_related == 'Compliment'){
				var formtype="Compliment";
			}
			else if(query_related == 'Suggestion'){
				var formtype="Suggestion";
			}
			else if(query_related == 'Complaint'){
				var formtype="Complaint";
			}


			/*if "Request for information/Service" is selected;
			standardisedFormType: Request For Information

			if "Request for New Products/Advice" is selected;
			standardisedFormType: Join PPS

			if "Compliment" is selected;
			standardisedFormType: Compliment

			if "Suggestion" is selected;
			standardisedFormType:Suggestion

			if "Complaint" is selected;
			standardisedFormType: Complaint*/

			if((firstname == '') || (email == '') || (contact == '') || (qualification =='') || (member == ''))
			{
				$("#form-messages").html("<div class='error_message'>Please fill in all the required fields</div>");
			}
			else
			{
				if(!email_regex.test(email))
				{
					$("#form-messages").html("<div class='error_message'>Please Enter a valid Email Address</div>");				
				}
				else{

					if($("#life_cover").prop("checked") == true){		
						message_type.push($("#life_cover").val());
					}
					if($("#financial_planning").prop("checked") == true){
						message_type.push($("#financial_planning").val());
					}

					if($("#medical_aid").prop("checked") == true){		
						message_type.push($("#medical_aid").val());
					}
					
					if($("#car_household").prop("checked") == true){	
						message_type.push($("#car_household").val());
					}

					if($("#invest_save").prop("checked") == true){		
						message_type.push($("#invest_save").val());
					}

					if($("#business_insurance").prop("checked") == true){	
						message_type.push($("#business_insurance").val());
					}
					
					if($("#credit_payment").prop("checked") == true){	
						message_type.push($("#credit_payment").val());
					}
					
					if($("#hpi").prop("checked") == true){			
						message_type.push($("#hpi").val());	
					}

					if($("#marketing_communications").prop("checked") == true){			
						message_type.push($("#marketing_communications").val());	
					}

					if($("#wills_trust_and_estate_planning").prop("checked") == true){			
						message_type.push($("#wills_trust_and_estate_planning").val());	
					}
					
					if($("#not_sure").prop("checked") == true){			
						message_type.push($("#not_sure").val());	
					}

					$.ajax({
						cache: false,
						contentType:'application/json',
						method: 'POST',
						// url: 'https://integrations.pps.co.za/api/v1/joinPPSAdvice',
						//url: 'https://stgintegrations.pps.co.za/api/v1/standardisedForm',
						url: 'https://integrations.pps.co.za/api/v1/standardisedForm',
						data: JSON.stringify({
						
							"name":firstname,
							"emailAddress":email,
							"contactNumber":contact,
							"highestQualification":qualification,
							"idNumber":id_passport,
							"notes":member,
							"queryRelations":message_type,
							"message":message,
							"referringUrl":window.location.href,
							"standardisedFormType":formtype

						}),
						error: function (data) {
							console.log(data);
							
						},
						success: function (data) {
							console.log(data);
							window.location = "/thank-you";
						},
						complete: function(data){
							console.log(data);
						}
					});

				}
			}

			

		}

	</script>

<style>
	.textbox {
		height: unset !important;
		width: 100%;
		padding: 0.5rem;
		border-radius: 4px;
		background-color: #ffffff;
	}
	
	.error_message{
		background: rgba(136, 8, 8, 0.4);
		padding: 15px 0px 10px 24px;
		margin-top: 20px;
		color: #fff;
		border-top: 1px solid #820202;
		border-right: 1px solid #820202;
		border-bottom: 1px solid #820202;
		border-left: 8px solid #820202;
	}
	

	.sendbtn{
		color: #ffffff;
		width: 150px;
		border-radius: 26px;
		background-color: #091f35;
		font-size: 15px;
		border: 1px solid #fff;
		line-height: 1.8;
		padding-top: 9px;
		padding-bottom: 10px;
		font-weight: bold;
	}

	.sendbtn:hover{
		color: #ffffff;
		width: 150px;
		border-radius: 26px;
		background-color: #091f35;
		font-size: 15px;
		border: 1px solid #fff;
		line-height: 1.8;
		padding-top: 9px;
		padding-bottom: 10px;
		font-weight: bold;
	}

	label, small{
		color: #fff !important
	}

	td{
		background: #EFEFEF;
		padding: 5px;
		text-align:center;
	}
	:root {
		--navy: #00253d;
		--seafoam-blue: #66cccc;
	}
	/* To delete after integration*/
	#mc_embed_signup{/*background:#fff;*/ clear:left; font:14px Helvetica,Arial,sans-serif; }

	.height-container {
		margin-top: -129px !important;
	}

	.li-styling {
		top: -112px !important;
		left:  56px !important;
	}

	.blue-bg {
    top: -53px !important;
    left: 36px !important;
    height: 401px !important;
	}

	.section-height {
		height: 631px !important;
	}

		.field--name-field-wealth-services-main-headi p {
			color: #fff !important;
			padding-left: 10px !important;
			text-align: justify !important;
		}

	.color-text-white div div {
		color: #fff !important;
	}

	.color-text-white div div p {
		color: #fff !important;
	}

	.color-text-white div div p strong{
		color: #fff !important;
	}

	.field--name-field-fp-featured-title p {
		font-size: 43px;
    color: #091E35 !important;
	}
	.newsClass a {
		color: #b09455;
	}

	.margin-btn {
		margin-top: -14px !important;
	}
	.selectric-scroll li {
		line-height: 0.5;
	}
	#submit {
		padding-right: 9.125rem !important;
	}
	.row-margin {
		padding-left: 7%;
	}
	.time-heading-margin {
    margin-left: -216px;		
	}
	.selectric .label {
		line-height: 0.5 !important;
	}
	.selectric span {
		background-color: #fff;
		height: 40px !important;
	}
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
	.listMar {
		margin-top: -100px;
	}

.banner-text-invests {
    /*width: 550px;*/
		width: 313px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 105px;
    /* font-size: 2.8rem !important; */
    left: 206px;
}

	.field--name-field-wealth-banner-subtitle {
		font-size: 16px;
    color: #000 !important;
	}

	.banner-text { 
		font-size: 13px !important;
	}

	.field--name-field-horizon-digital-first-head p {
		font-size: 30px !important;
    margin-top: -27px;
	}

	.field--name-field-horizon-digital-second-hea p {
		font-size: 30px !important;
    margin-top: -27px;
	}

	.field--name-field-horizontal-digital-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-estate-banner img {
		width: 100% !important;
		height: 500px !important;	
	}

	#videoCentre {
		padding: 0px 20%;
		margin-bottom: 50px;
	}

	.field--name-field-fp-featured-image img {
		width: 100%;
		height: auto;
	}

		.field--name-field-hd-featured-image img {
		width: 100%;
		height: auto;
	}

	.field--name-field-hd-featured-title h1 {
		color: #73D8E3;
    font-weight: bold;
}


	.field--name-field-horizon-adviser-first-head p {
		font-size: 30px;
	}
	.field--name-field-horizon-adviser-first-head span {
		color: #73D8E3;
    font-weight: bold;
	}	

	.field--name-field-horizon-adviser-second-hea p {
		font-size: 30px;	
	}

	.field--name-field-horizon-adviser-second-hea span {
		color: #73D8E3;
    font-weight: bold;
	}	

	.field--name-field-ha-get-started-title p {
		font-size: 44px;
	}
	.field--name-field-ha-get-started-title span {
    color: #73D8E3;
    font-weight: bold;
    font-size: 53px;
	}	
	.selectric .label {
    color: gray;
    font-size: 13px;
    font-weight: normal;
	}
	.button-bg {
		border-color: #091e35 !important;
    color: #fff;
    width: 150px;
    height: 52px;
    border-radius: 26px;
    background-color: var(--navy);
		font-size: 22px;
}

	.strongRegister {
		color: #73D8E3;
	}
 .register {
	 text-align: center;
 }
	.btnAlign {
		text-align: center;
	}
	.formMargin {
		margin-top: -93px !important;
		background-color: #F0F0F0 !important;
		padding-top: 30px;
    padding-bottom: 30px;
	}  

  .field--name-field-horizontal-advisor-video iframe {
		width: 419px;
    height: 320px;
	}
	.field--name-field-wealth-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-horizontal-advisor-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-financial-advice-heading {
		font-weight: 100 !important;
    font-size: 42px;
	}
	.bg-light {
		background-color: #F0F0F0 !important;
		margin-bottom: 50px !important;
	}

	.bg-lightm {
		background-color: #F0F0F0 !important;
	}

	.bg-lightz {
		background-color: #08263E !important;
		margin-bottom: 50px !important;
	}

	.bg-lights {
		background-color: #FFF !important;
		margin-bottom: 50px !important;
		padding-top: 0px !important;
	}

	#product .block-life .block-bg {
    position: absolute;
    top: 50px;
    left: 65px;
    background: rgba(9,30,53,1);
    width: 400px;
    height: 285px;
}

#product .block-life li {
    position: absolute;
    left: -20px;
    list-style: none;
    top: -40px;
}

	#product .block-lifes .block-bg {
    position: absolute;
    top: 50px;
    left: 65px;
    background: rgba(9,30,53,1) !important;
    width: 400px;
    height: 285px;
}

#product .block-lifes li {
    position: absolute;
    left: -20px;
    list-style: none !important;
    top: -40px;
}
	.field--name-field-financial-advice-image img{
			height: auto !important;
			width: 100%;
	}
	#banner-below {
    height: 74px;
    text-align: center;
    background-color: #D8C8AF;
    padding-top: 25px;
	}

	#banner-below span{
    color: #091E35 !important;
    font-size: 18px;
    font-weight: bold;
	}

	#innerSpan {
		font-weight: normal !important;
    font-size: 14px !important;
	}

  #fpContact .container {
      max-width: 100% !important;
  }
  #fpContact .container {
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

	.field--name-field-financial-advisory-banner img {
		width: 100% !important;
		height: 350px !important;
	}

	.banner-height {

		position: relative;

	}

	.banner-wrap{
	    position: absolute;
		top: 40px;
	}

	.overlay-text {
    left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 200px;
    /* top: -85px; */
    /*font-size: 2.8rem !important;*/
	  color: #091E35 !important;
}

.overlay-textt {
    top: 200px;
    font-size: 33px;
    background-color: rgba(255,255,255,0.2);
    width: auto;
    height: 78px;
    padding: 15px;
    left: 52px;
}
		.overlay-texts {

		left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
		top: 200px;
    /* top: -85px; */
    font-size: 2.8rem !important;
	}

	.overlay-textz {
    left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 200px;
    /* top: -85px; */
    font-size: 2.8rem !important;
}

	.overlay-textv {
    left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 200px;
    /* top: -85px; */
    font-size: 2.8rem !important;
}

.c-button-1.-color-green-outline {
    border-color: #73D8E3;
    background-color: #73D8E3;
    color: #fff;
}

.c-button-1.-color-green-outline {
    color: #9ab1bc;
    border-color: #73D8E3;
    background-color: transparent;
}

.c-button-1.-corner-circle {
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
}

.c-button-1 {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: normal;
    cursor: pointer;
    border-style: solid;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


	.field--name-field-wealth-banner-subtitle {
		color: #000 !important;	
	}

	.field--name-field-financial-advisory-text h3 {
		color: #091E35 !important;
	}

	.field--name-field-financial-advisory-text p {
		color: #fff;
	}

	.blue-background {
		height: 266px !important;
    width: 284px !important;
	}

	.paragraph-margin {
		margin-left: 20%;
		margin-right: 20%;
		text-align: justify;
	}

	.element-center img {
		width: 65px !important;
		height: auto !important;
	}

	.col-md-3 img {
		width: 100%;
		height: auto;
	}

	.rising p {
		padding-left: 3px;
		padding-right: 3px;

	}

	.element-center {
		padding: 20px;
		text-align: center;	
		height: auto !important;
	}
	.heading-margin {
		margin-left: 20%;
		margin-right: 20%;
	}	

	.div-padding {
		margin-bottom: 90px !important;
	}

	.div-padding p:nth-child(2){
		font-weight: bold;
	}
	
	#listServicess{
		 margin-bottom: 40px !important;
	}

	#section-news {
		background-color: #F0F0F0 !important;
		padding-top: 50px !important;
		padding-bottom: 27px !important;
	}

	.bottomMar {
		margin-bottom: 20px !important;
	}

	p a {
		 color: #B09455 !important;
	}

	p a:hover{
		color: #B09455 !important;
	}

	/*Financial Planning*/
	.banner-areas {
		position: relative;
	}
	.field--name-field-financial-planning-banner img {
		width: 100% !important;
		height: 500px !important;		
	}

	.field--name-field-ha-intro-title span {
		color: #73D8E3;
    font-size: 53px;
    font-weight: bold;
    text-transform: capitalize !important;
	}

	.row {
		 margin-bottom: 0px !important;
	}

	.field--name-field-wealth-banner-link a {
			background-color: #091e35 !important;
    	border-color: #091e35 !important;
	}
			#linkHorizonMember {
			margin-top: 18px;
		}
	#linkHorizonMember a {
			background-color: #73D8E3 !important;
    	border-color: #73D8E3 !important;		
	}
	@media screen and (max-width: 500px) {
		#submit {
			margin-top: 10px;
		}
		.time-heading-margin {
			padding-left: 111px;
		}
		.contact-area {
    	margin-bottom: 249px;
   		margin-top: -50px;
		}
		.field--name-field-wealth-banner-link a {
			background-color: #091e35 !important;
    	border-color: #091e35 !important;
		}
		#linkHorizonMember {
			margin-top: 18px;
		}
			#linkHorizonMember a {
			background-color: #73D8E3 !important;
    	border-color: #73D8E3 !important;		
	}
		.banner-will {
			top: -123px;
		}
		.positionAdviser {
    	top: -102px !important;
    	left: 11px !important;
		}

		.classPosition {
   		margin-top: 29px !important;
    	left: 11px !important;
		}

		.classPosition h2 {
			margin-top: -113px;
		}

	.field--name-field-horizon-digital-second-hea {
		top: 220px;
    z-index: 96;
    position: absolute;
	}
		.overlay-textt {
				top: 4px;
				font-size: 33px;
				background-color: rgba(255,255,255,0.2);
				width: auto;
				height: 78px;
				padding: 7px;
				left: 52px;
		}

		.overlay-textv {
			background: rgba(255,255,255,0.4);
			padding: 20px;
			border-radius: 3px;
			z-index: 10;
			position: absolute;
			right: 28px;
			top: -65px;
			height: 116px;
			width: auto;
			left: 26px;
		}
		#videoCentre {
			padding: 0px 25px !important;
		}
		.field--name-field-horizon-digital-video iframe {
			width: 100%;
      height: auto !important;
		}
		.overlay-textz{
    top: 90px;
    right: -190px;
    background-color: rgba(255,255,255,0.2);
    width: auto;
    height: 35px;
    padding-top: 5px;
    color: #fff;
		}

		.field--name-field-estate-banner img {
			height: auto !important;			
		}

		.field--name-field-horizontal-digital-banner img {
			height: auto !important;
		}

		.field--name-field-horizontal-advisor-banner img {
			height: auto !important;
		}
		.hideClass {
			display: none;
		}

	.field--name-field-ha-intro-title h5{
		margin-bottom: 10px;
	}

	.field--name-field-ha-intro-title span{
		    font-size: 20px !important;
	}
		.centerBtn {
			text-align: center;
		}
		.padMar {
			padding-bottom: 13%
		}
		.belowFeature {
			margin-top: -36px;
		}
		.overlay-texts {
    background: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 3px;
    /* margin-left: 51px; */
    /* margin-top: 251px; */
    z-index: 10;
    position: absolute;
    /* right: 15px; */
    /* bottom: -266px; */
    top: 46px;
    height: 58px;
    width: 203px;
    font-size: 17px !important;
    left: 79px;
}
		#banner-below {
			height: 160px;
			text-align: center;
			background-color: #D8C8AF;
			padding-top: 25px;
			padding-left: 10px;
    	padding-right: 10px;
		}	
		.field--name-field-financial-planning-banner img {
			height: auto !important;
		}
		.block-lifes {
			display: none;
		}
		.topMar {
			margin-top: 83px;
		}
		.positionClass {
			position: relative;
		}
		.field--name-field-estate-services-second-hea {
			top: 464px;
    	z-index: 96;
    	position: absolute;
		}

		.field--name-field-horizon-adviser-second-hea {
			top: 367px;
    	z-index: 96;
    	position: absolute;
		}

		.overlay-text {
			top: -83px;
			background-color: rgba(255,255,255,0.2);
			width: auto;
			padding: 8px 3px;
			left: 15px;
			right: 15px;
		}
		
		#section-fp-image {
			margin-top: 110px;
		}

		.field--name-field-wealth-banner img {
			height: 265px !important;
		}

		.bg-light {
			margin-top: -35px;
		}



		.field--name-field-news-main-title {
			font-weight: 500 !important;
		}

		.field--name-field-list-services-title {
			font-weight: 500 !important;			
		}
		.newsClass {
			padding: 25px !important;
			margin: 30px 0px !important;
		}

		#section-news {	
			margin-top: -100px;
    	margin-bottom: 56px;
		}
	}
</style>