{# <section class="pt-20 pb-10 banner-top-spacing" style="margin-top: 170px; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/{{ active_theme_path() }}/assets/images/ready-for-future.jpg')">
</section> #}

<section>
    <img src="/{{ active_theme_path() }}/assets/images/ready-for-future.jpg" width="100%" style="margin-top: 170px;">
</section>

<h2 style="text-align: center; padding: 10rem;">RSVP FOR "READY FOR THE FUTURE" EVENT HAS BEEN CLOSED.</h2>

{# <section class="pt-5 banner-images" style="min-height: 300px !important;">
    <div class="container">
        {{content.body}}
    </div>
</section> #}


 {# <section class="pb-10 banner-images">
    <div class="container">
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
</style>
<div id="mc_embed_signup">
<form action="https://pps.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=53fa8e0401&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" onsubmit="return validateForm()" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>RSVP Below</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group size1of2">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME" required>
</div>
<div class="mc-field-group size1of2">
	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME" required>
</div>
<div class="mc-field-group size1of2">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE3">Cellphone  <span class="asterisk">*</span>
</label>
	<input type="text" name="MMERGE3" class="required" value="" id="mce-MMERGE3" required>
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE4">Dietary requirements  <span class="asterisk">*</span>
</label>
	<select name="MMERGE4" class="required" id="mce-MMERGE4" required>
	<option value="">Please select</option>
<option value="None">None</option>
<option value="Halaal">Halaal</option>
<option value="Kosher">Kosher</option>
<option value="Vegetarian">Vegetarian</option>

	</select>
</div>
<div class="mc-field-group size1of2" style="display: none;">
	<label for="mce-MMERGE5">URL </label>
	<input type="url" value="" name="MMERGE5" class=" url" id="mce-MMERGE5">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE6">Select Venue  <span class="asterisk">*</span>
</label>
    <select name="MMERGE6" class="required" id="mce-MMERGE6">
        <option value="Select an option">Select an option</option>
        <option value="Durban ICC">Durban ICC</option>
        <option value="Cape Town ICC">Cape Town ICC</option>
        <option value="Johannesburg, The Venue @ Melrose Arch">Johannesburg, The Venue @ Melrose Arch</option>
        <option value="Bloemfontein, Emoya Estate">Bloemfontein, Emoya Estate</option>
	</select>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_53fa8e0401" tabindex="-1" value=""></div>
    <div class="clear">
    
    <div id="subscribe-result"></div>

    <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="myFunction()"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='phone';fnames[4]='MMERGE4';ftypes[4]='dropdown';fnames[5]='MMERGE5';ftypes[5]='url';fnames[6]='MMERGE6';ftypes[6]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

    </div>
</section>  #}

<style>

    .selectric b.button{
        display:none;
    }

    .bg-blue.text-white.groupfooter {
        margin-top: -33px;
    }

    #mc_embed_signup label {
        color: #000 !important;
    }

    .form-composite > legend, .label{
        font-weight: normal !important;
    }

    @media(max-width:415px){
        .bg-blue.text-white.groupfooter {
        margin-top: 0px;
        }

        .banner-area {
            position: relative;
            top: 40px;
        }

        .banner-area > h1{
            font-size: 17pt !important;
        }

        .banner-area > h1 > span{
            font-size: 12pt !important;
        }
    }

    .banner-images{
            padding-top: 0%;
        }

    @media screen and (max-width: 560px){
        .banner-images{
            padding-top: 30%
        }
    }

    @media(max-width:768px){
        #mc_embed_signup .size1of2{
            width: 100% !important;
        }
    }
</style>

<script>
    document.getElementById("mce-MMERGE5").value = window.location.href;

    function myFunction() {
        document.getElementById("mc-embedded-subscribe").value = "Submit";
    }
</script>


<script type="text/javascript">
    function validateForm()
    {
        var a=document.forms["Form"]["answer_a"].value;
        var b=document.forms["Form"]["answer_b"].value;
        var c=document.forms["Form"]["answer_c"].value;
        var d=document.forms["Form"]["answer_d"].value;
        if (a==null || a=="",b==null || b=="",c==null || c=="",d==null || d=="")
        {
            alert("Please Fill All Required Field");
            return false;
        }
    }
</script>