{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
]


%}

{#{%  set base_url = url('<front>')  %}#}
{#{% set url = [ base_url,'/landing-page?invitecode=' ,invite_code] | join  %}#}
{#{{ url }} #}

<section class="pt-20 pb-10 banner-top-spacing" style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;
    background-image:url('/{{ active_theme_path() }}/assets/images/media-banner.jpg')">
    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest"> Blog</h1>
        </div>
    </div>

</section>


<section class="pb-0">
    <div class="control col-12 col-md-4 col-lg-4">
        <a class="back-button" href="{{ url('<front>') }}/media/blogs">Back</a>
    </div>
    <div class="container">

        {{ attach_library('classy/node') }}
        <div class="row col-md-12">

            <h2 class="art-title">
                {{content.field_blog_title}}
            </h2>
            <hr>
            {{ date }}{{content.field_tags}}
            <div class="row col-md-12">
                <header class="">
                    {{ title_prefix }}

                    {% if not page %}
                        <h2{{ title_attributes.addClass('node__title') }}>
                            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                        </h2>
                    {% endif %}
                    {{ title_suffix }}

                </header>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4 fimage">
                    {{content.field_blog_featured_image}}
                </div>
                <div class="col-md-8 col-12 mobile-content">
                    {{ content.body }}
                </div>

            </div>
        </div>

    </div>
    <div class="hidden" ></div>
    
    <div class="col-12 col-md-12 col-lg-12" style="margin-top:40px">
        <a class="btn-bottom" style="margin-top:20px" href="{{ url('<front>') }}about/media/press-releases">Back</a>
    </div>
    <div class="social-media" style="margin-top:40px">

        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_google_plus"></a>

    </div>
</section>

<script>
    
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = '/{{ active_theme_path() }}/assets/js/short-term-gtm.js';
    
    
</script>


<style>
    
    .field__item ul li a {
        color: #041e37;
        text-transform: initial;
    }
    .field__label{
        display:none;
    }

    .mb-0{
        font-size: 36px;
    }
    .field--name-field-tags a{
        color:#0a1d37 !important;
    }
    .article-excerpt a{
        color:#0a1d37 !important;
    }

    .fimage img{
        height: auto;
    }

    .back-button{
        color: #0a1d37 !important;
        width: 80px;
        height: 53px;
        font-family: 'Gotham', sans-serif;

        border: solid 1px #0a1d37;
        border-radius: 5px;

    }
    .control{
        margin-left: 135px;
    }

    .btn-bottom{
        color: #0a1d37 !important;
        width: 80px;
        height: 53px;
        font-family: 'Gotham', sans-serif;
      
        border: solid 1px #0a1d37;
        border-radius: 5px;
        float: right;
        margin-right: 250px;
        text-align: center;
        padding: 16px;
    }

    @media (min-width:720px) {
        .back-button{
            display: none !important;
        }
    }
    @media(max-width: 414px) {
        .mobile-content .field__item {
            margin-right: -50px;
            text-align: justify;
        }

        h2 .field__item{
            font-size: 22px;
            margin-left: 20px;

        }

        .field--type-entity-reference{
            display: none;
        }

        .field--type-created{
            font-size: 14px;
            margin-right: 56px;
        }

        .control {
            margin-left: 20px !important;
            margin-bottom: 20px!important;

        }

    }
    .field__item>p>a{
color: #151515!important;
}

</style>







