{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
	<!-- Cover -->	
	
	<section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="padding-top: 33% !important;">		
		{# <div class="image card-and-payments-banner"> #}
		<div id="card-and-payments-banner" hidden> {{content.field_business_brief_image}}</div>
		{# </div> #}
        
			  <div class="container">
				<div class="banner-area">
					<h1 class="mb-0 banner-text-invest">LBS PULSE</h1>
				</div>
			  </div>
    </section> 


	<!-- /End Cover -->
<div class="container">
    <div class="heading">
       <h4 class="headingBold">{{ content.field_business_brief_title }}</h4>
	</div>
	<div class="row">

		<div class="col-12 col-md-12 col-lg-12">
			{{ content.field_lbs_media }}
		</div>

		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			{{ content.field_brief_content_1 }}
		</div>
		<div class="col-md-4 col-sm-12">
			{{ content.field_brief_content_2 }}
		</div>
		<div class="col-md-4 col-sm-12">
			{{ content.field_brief_content_3 }}
		</div>

	</div>

	{# testing #}
	{% if content.field_back_link|render %} 
		{{ content.field_back_link }}

		<div style="clear:both"></div>
	{% endif %}

</div>

<style>

div.field:nth-child(3) > div:nth-child(1) > a:nth-child(1){
	color: #0a1d37 !important;
    width: 80px;
    height: 53px;
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    border: solid 1px #0a1d37;
    border-radius: 5px;
    margin-top: -50px;
    float: right;
    margin-right: 0px;
    text-align: center;
    padding: 16px;
}

.field--name-field-business-brief-image img {
	width: 100%;
    height: 450px !important;
}

.field--name-field-business-brief-title {
	padding-top: 31px !important;
    padding-bottom: 20px !important;
}

.container {
	margin-bottom: 40px !important;
}

.headingBold {
	font-weight: bold;
}

@media screen and (max-height: 500px) {
	#section-fp-image {
		/*margin-top: 106px !important;*/
		padding-top: 77px;
		display: none;
	}
	.region-content {
		padding-top: 77px;
	}
	.field--name-field-business-brief-title {
		font-weight: 500;
	}
	.firstcharacter {
		color: #903;
		float: left;
		font-family: Georgia;
		font-size: 50px;
		line-height: 60px;
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;
	}
}

.firstcharacter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

p > a{
	color: #B09455 !important;
}

</style>