
<section class="pt-20 pb-10 " style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/{{ active_theme_path()}}/assets/images/legal.jpg')">


    <div class="container">
        <div style="position: absolute; top: 220px;">
            <h1 class="mb-0" style="width:550px; color:#fff !important;">{{ node.label }}</h1>
        </div>
    </div>
</section>

<section class="separator-top pb-8 pt-8">
    <div class="container">

        {{ content.body }}


    </div>
</section>
