{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_will_banner_image|striptags|trim %}
	<!-- cover -->	
   

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="padding-top: 32% !important;">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_will_banner_image}}</div>
      {# </div> #}
        
			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
			  </div>
    </section> 
	
			<!-- / cover -->

    {# First Product Section #}
    <section id="SectionOne" class="pt-6 pb-6" style="padding-bottom:6.25rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div>
              <div class="row justify-content-between">
                <div class="col-md-12">
                  <h2 class="text-blue align-items-center text-center">{{content.field_estate_heading}}</h2>
                {{content.field_estate_content}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>


  
  {# Second Product Section #}
    <section id="SectionOne" class="pt-6 pb-6 bg-light" style="padding-bottom:6.25rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div>
              <div class="row justify-content-between">
                <div class="col-md-12">
                  <h2 class="text-blue align-items-center text-center">{{content.field_will_heading}}</h2>
                {{content.field_will_content}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>


  {# Third Product Section #}
    <section id="SectionOne" class="pt-6 pb-6" style="padding-bottom:6.25rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div>
              <div class="row justify-content-between">
                <div class="col-md-12">
                  <h2 class="text-blue align-items-center text-center">{{content.field_will_reason_title}}</h2>
                {{content.field_will_reason_content}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>


  {# Fourth Product Section #}
    <section id="SectionOne" class="pt-6 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div>
              <div class="row justify-content-between">
                <div class="col-md-12">
                  <h2 class="text-blue align-items-center text-center">{{content.field_factors_title}}</h2>
                {{content.field_factors_intro}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>



    {# Featured Image #}

  {% if content.field_factors_list|render %}  
    <section class="bg-light" style="padding: 6.25rem 0 !important;">
      <div class="container">
        {#<div class="row">
          <div class="col-md-12 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_2_investment_featured_titl}}</h2>
          </div>
        </div>#}

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_will_featured_1}} 
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_factors_list}}
            </div>

          </div>

        </div>

      </div>
    </section>
    {% endif %}


{# Sixth Product Section #}
    <section id="SectionOne" class="pt-6">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div>
              <div class="row justify-content-between">
                <div class="col-md-12">
                  <h2 class="text-blue align-items-center text-center">{{content.field_estate_admin_title}}</h2>
                {{content.field_estate_admin_content}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>

      {# Featured Image #}

  {% if content.field_estate_administration_proc|render %}  
    <section style="padding: 6.25rem 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_estate_administration_proc}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_will_featured_image_2}} 
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_admin_process_list_title}}</h2>
            <div class="mb-2 pl-1">
            	{{content.field_admin_process_list}}
            </div>

          </div>

        </div>

      </div>
    </section>
    {% endif %}






    {# Seventh Product Section #}
    <section id="SectionOne" class="pt-3 pb-3 bg-light" style="margin-bottom: 0px !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div>
              <div class="row justify-content-between">
                <div class="col-md-12">
                  <h2 class="text-blue align-items-center text-center">{{content.field_why_pps_title}}</h2>
                {{content.field_why_pps_content}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>



        {# Featured Image #}

  {% if content.field_why_pps_list|render %}  
    <section class="bg-light" style="padding: 0rem 0 6.25rem 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_why_pps_list_title}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_will_featured_image_3}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_why_pps_list}}
            </div>

          </div>

        </div>

      </div>
    </section>
    {% endif %}

    

    {# Eighth Product Section #}
    <section id="SectionOne" class="pt-6 pb-6" style="padding-bottom:6.25rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div>
              <div class="row justify-content-between">
                <div class="col-md-12 pb-5">
                  <p class="text-blue align-items-center text-center">{{content.field_why_pps_disclaimer}}</p>
                </div>

                <div class="row">
                  {{content.field_brochures}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>

  {% include directory ~ '/parts/form-joinpps.html.twig' %}

  {# <section id="mc_embed_signup" style="border: 1px solid #ccc; padding: 5.25rem 0 !important;">
      <div class="container" style="max-width: 1000px;">
        <div id="mc_embed_signup">
          <form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=4d40229ddc&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <h2>Personal Details</h2>
          <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
          <div class="mc-field-group">
            <label for="mce-FNAME">Full Name  <span class="asterisk">*</span>
          </label>
            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-CNUMBER">Contact number  <span class="asterisk">*</span>
          </label>
            <input type="text" value="" name="CNUMBER" class="required" id="mce-CNUMBER">
          </div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <label for="mce-SELECTDAY">Select a Day  <span class="asterisk">*</span>
          </label>
            <select name="SELECTDAY" class="required" id="mce-SELECTDAY">
            <option value="Select a Day">Select a Day</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>

            </select>
          </div>
          <div class="mc-field-group">
            <label for="mce-SELECTTIME">Select a Time  <span class="asterisk">*</span>
          </label>
            <select name="SELECTTIME" class="required" id="mce-SELECTTIME">
            <option value="">Select a Time</option>
          <option value="AnyTime">AnyTime</option>
          <option value="8:00">8:00</option>
          <option value="8:30">8:30</option>
          <option value="9:00">9:00</option>
          <option value="9:30">9:30</option>
          <option value="10:00">10:00</option>
          <option value="10:30">10:30</option>
          <option value="11:00">11:00</option>
          <option value="11:30">11:30</option>
          <option value="12:00">12:00</option>
          <option value="12:30">12:30</option>
          <option value="13:00">13:00</option>
          <option value="13:30">13:30</option>
          <option value="14:00">14:00</option>
          <option value="14:30">14:30</option>
          <option value="15:00">15:00</option>
          <option value="15:30">15:30</option>
          <option value="16:00">16:00</option>
          <option value="16:30">16:30</option>
          <option value="17:00">17:00</option>
          <option value="17:30">17:30</option>

            </select>
          </div>
          <div class="mc-field-group" style="display:none !important">
            <label for="mce-MMERGE5">Referring URL </label>
            <input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_4d40229ddc" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="SUBMIT" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='CNUMBER';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='SELECTDAY';ftypes[3]='dropdown';fnames[4]='SELECTTIME';ftypes[4]='dropdown';fnames[5]='MMERGE5';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->

      </div>
    </section> #}




  {# <div class="drop-msg drop-msg-mobile become-member" style="padding: 5px 12px !important;">
             <div class="drop-msg-border-left" style="float:left;max-width: 100%;width: 100%;border-right: solid 0px;text-align: center;">
                <a style="display: inline-block;" href="#contactus" class="drop-msg-a">Call Me Back</a></div>
         </div> #}


    <div class="drop-msg drop-msg-mobile">
      <div class="btnLinks">
          <a style="display: inline-block;" href="#contactus" class="drop-msg-a" target="_blank">Call Me Back</a>
      </div>

      <div class="drop-msg-border-left">
            
      </div>
    </div> 
  
  {# Referrign URL #}
<script>
  document.getElementById("mce-MMERGE5").value = window.location.href;
</script>

  <style>
    .become-member {
      max-width: 100%;
      width: 14.5%;
      background: rgba(9,30,53,1)!important;
    }

    .chat-header{
      background-color: rgba(9,30,53,1) !important;
    }

    .call-action{
      font-weight: 900;
      text-transform: uppercase;
      padding: 6px 20px !important;
      font-size: 12px;
      border-color: #091e35;
      background-color: #091e35;
      color: #fff;
      border-radius: 1000px;
    }

      .field__label{
        display:none;
      }

	.file.file--mime-application-pdf.file--application-pdf{
		display: contents;
  }
  

  .file--application-pdf a {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 398px;
    color: rgba(9,30,53,1);
}

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-1-brochure a {
		float:right;
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }
   @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }
    }




    {# Web Chat styling #}

    .btnLinks{
        float:left;
        width: 110px;
        border-right: solid 1px #fff; 
        height: 36px;
    }

    {# .drop-msg a {
      line-height: 3;
    } #}

    .drop-msg {
        width: 230px !important;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }


    @media screen and (max-width:1199px) and (min-width:416px){
      #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 24px !important;
            padding: 9px 20px;
            right: 22px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }
    }

    @media (max-width: 415px){
      #chat_tab span {
          position: fixed !important;
          display: inline-block;
          bottom: 64px !important;
          padding: 9px 20px;
          right: 22px !important;
          cursor: pointer;
          width: 100px;
          left: unset!important;
      }

      #product .drop-msg {
          width: 230px !important;
          bottom: 55px !important;
      }
    }
  </style>







   



