{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_event_banner|striptags|trim %}
	<!-- cover -->	
   

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_event_banner}}</div>
      {# </div> #}
        
			  <div class="container">
          <div class="banner-area">

              <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
            
          </div>
			  </div>
    </section> 
	
			<!-- / cover -->

    <section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

              <div class="row justify-content-between">
                {{content.field_event_description}}  
              </div>

          </div>
        </div>
    </div>
  </section>


  <section>
    <div class="container">

      <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://bluevinegroup.us20.list-manage.com/subscribe/post-json?u=914f78eaf28f60fb571679358&amp;id=556c8672d5&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE3">Title  <span class="asterisk">*</span>
</label>
	<select name="MMERGE3" class="required" id="mce-MMERGE3">
	<option value="">Select an option</option>
<option value="Dr">Dr</option>
<option value="Adv">Adv</option>
<option value="Ds">Ds</option>
<option value="Me">Me</option>
<option value="Mev">Mev</option>
<option value="Mej">Mej</option>
<option value="Mnr">Mnr</option>
<option value="Mr">Mr</option>
<option value="Ms">Ms</option>
<option value="Mrs">Mrs</option>
<option value="Miss">Miss</option>
<option value="Prof">Prof</option>
<option value="Rev">Rev</option>

	</select>
</div>
<div class="mc-field-group size1of2">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE4">Phone Number  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE4" class="required" id="mce-MMERGE4">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE5">ID, PASSPORT OR MEMBERSHIP NUMBER  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE5" class="required" id="mce-MMERGE5">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE6">CITY  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE6" class="required" id="mce-MMERGE6">
</div>

<div class="mc-field-group size1of2">
	<label for="mce-MMERGE8">HIGHEST QUALIFICATION  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE8" class="required" id="mce-MMERGE8">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE9">OCCUPATION  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE9" class="required" id="mce-MMERGE9">
</div>

<div class="mc-field-group size1of2">
	<label for="mce-MMERGE7">PREFERRED CONTACT TIME  <span class="asterisk">*</span>
</label>
	<select name="MMERGE7" class="required" id="mce-MMERGE7">
	<option value="">Select an option</option>
  <option value="Anytime">Anytime</option>
<option value="8:00 - 9:00">8:00 - 9:00</option>
<option value="9:00 - 10:00">9:00 - 10:00</option>
<option value="10:00 - 11:00">10:00 - 11:00</option>
<option value="11:00 - 12:00">11:00 - 12:00</option>
<option value="12:00 - 13:00">12:00 - 13:00</option>
<option value="13:00 - 14:00">13:00 - 14:00</option>
<option value="14:00 - 15:00">14:00 - 15:00</option>
<option value="15:00 - 16:00">15:00 - 16:00</option>

	</select>
</div>

<div class="mc-field-group input-group">
    <strong>CHOOSE WHAT YOUR MESSAGE IS RELATED TO: </strong>
    <div class="row">
    {# <div class="col-12 col-md-6 col-lg-6 mt-3"><input type="checkbox" value="1" name="group[3777][1]" id="mce-group[3777]-3777-0"><label for="mce-group[3777]-3777-0"> CHOOSE WHAT YOUR MESSAGE IS RELATED TO</label></div> #}
    <div class="col-12 col-md-6 col-lg-6 mt-3"><input type="checkbox" value="2" name="group[3777][2]" id="mce-group[3777]-3777-1"><label for="mce-group[3777]-3777-1"> LIFE, DISABILITY AND SICKNESS</label></div>
    <div class="col-12 col-md-6 col-lg-6 mt-3"><input type="checkbox" value="4" name="group[3777][4]" id="mce-group[3777]-3777-2"><label for="mce-group[3777]-3777-2"> INVESTMENT, RETIREMENT AND SAVINGS</label></div>
    <div class="col-12 col-md-6 col-lg-6 mt-3"><input type="checkbox" value="8" name="group[3777][8]" id="mce-group[3777]-3777-3"><label for="mce-group[3777]-3777-3"> FINANCIAL PLANNING</label></div>
    <div class="col-12 col-md-6 col-lg-6 mt-3"><input type="checkbox" value="16" name="group[3777][16]" id="mce-group[3777]-3777-4"><label for="mce-group[3777]-3777-4"> HEALTH PROFESSIONS INDEMNITY</label></div>
    <div class="col-12 col-md-6 col-lg-6 mt-3"><input type="checkbox" value="32" name="group[3777][32]" id="mce-group[3777]-3777-5"><label for="mce-group[3777]-3777-5"> PROFMED MEDICAL SCHEME</label></div>
    <div class="col-12 col-md-6 col-lg-6 mt-3"><input type="checkbox" value="64" name="group[3777][64]" id="mce-group[3777]-3777-6"><label for="mce-group[3777]-3777-6"> CARD PAYMENT SOLUTIONS</label></div>
    <div class="col-12 col-md-6 col-lg-6 mt-3"><input type="checkbox" value="128" name="group[3777][128]" id="mce-group[3777]-3777-7"><label for="mce-group[3777]-3777-7"> CAR HOUSEHOLD INSURANCE</label></div>
    <div class="col-12 col-md-6 col-lg-6 mt-3"><input type="checkbox" value="256" name="group[3777][256]" id="mce-group[3777]-3777-8"><label for="mce-group[3777]-3777-8"> NOT SURE</label></div>
</div>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_914f78eaf28f60fb571679358_556c8672d5" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="SUBMIT" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[3]='MMERGE3';ftypes[3]='dropdown';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='dropdown';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

    </div>
  </section>

 
  <style>
    .chat-header{
      background-color: rgba(9,30,53,1) !important;
    }

    .call-action{
      font-weight: 900;
      text-transform: uppercase;
      padding: 6px 20px !important;
      font-size: 12px;
      border-color: #091e35;
      background-color: #091e35;
      color: #fff;
      border-radius: 1000px;
    }

      .field__label{
        display:none;
      }

	.file.file--mime-application-pdf.file--application-pdf{
		display: contents;
  }
  

  .file--application-pdf a {
    float: left;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 50px !important;
    font-size: 12px;
    font-weight: 398px;
    border-color: #722c9e;
    background-color: #722c9e;
    color: #fff;
    border-radius: 1000px;
}

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-1-brochure a {
		float:right;
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }
   @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }
    }
  </style>







   



