{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_banner|striptags|trim %}
<!-- cover -->


<section class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="margin-top: -2px !important; padding-top: 40% !important;">
    {# <div class="image card-and-payments-banner"> #}
    <div id="card-and-payments-banner" hidden> {{ content.field_banner }}</div>
    {# </div> #}

    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest" style="width:550px">
                {{ node.label }}
            </h1>
            
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="text-center">
            {{ content.field_profit_introduction }}
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container text-center">
        {{ content.field_profit_top_section }}
    </div>
</section>




{# Featured Image #}

<section class="bg-light py-5">
    <div class="container">

        <div class="row justify-content-between">

            <div class="col-12 col-lg-5 align-self-center text-center text-md-left">
            {{ content.field_profit_content_1}}
            </div>

            <div class="block-life col-12 col-lg-6 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="block-bg" data-bottom-top="transform: translateY(80px);" data-top-bottom="transform: translateY(-160px);">
                </div>

                <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-40px);">
                    <ul class="gallery gutter-1 gutter-md-2">
                    <li class="col-11">
                        <figure class="photo">
                        {{ content.field_profit_image_1 }}
                        </figure>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container py-3">

        <div class="row justify-content-between">

            <div class="block-life col-12 col-lg-6 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="block-bg" data-bottom-top="transform: translateY(80px);" data-top-bottom="transform: translateY(-160px);">
                </div>

                <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-40px);">
                    <ul class="gallery gutter-1 gutter-md-2">
                    <li class="col-9">
                        <figure class="photo">
                        {{ content.field_profit_image_2 }}
                        </figure>
                    </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-5 align-self-center text-center text-md-left">
            {{ content.field_profit_content_2}}
            </div>


        </div>
    </div>
</section>

<div style="clear:both"></div>


<section class="bg-light py-5 last-section">
    <div class="container">
        <div class="row">
            {{ content.field_profit_bottom_section }}
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container">
        
        <h3 class="text-center mb-5">{{ content.field_trouble_title }}</h3>

        {{content.field_trouble_intro_section}}

        <div class="mt-5">
            {{content.field_trouble_steps}}
        </div>

    </div>
</section>

<section class="bg-light py-5">
    <div class="container text-center">
        {{content.field_bottom_caption}}
    </div>
</section>

    {# <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%; padding: 11px 0px !important; background: #69c5d1;">
        <div class="drop-msg-border-left" style="float:left;max-width: 50%;width: 50%;border-right: solid 1px;text-align: center;">
            <a href="https://selfreg.pps.co.za/InTouch/#/self-register/personal-info" class="drop-msg-a">Register</a>  
        </div>
            <div style="float:left;max-width: 50%;width:40%; margin-left: 27px;"><a href="https://profit.pps.co.za/" class="drop-msg-a">Login</a></div>
        </div>  #}


        <div class="drop-msg drop-msg-mobile">
            <div class="btnLinks">
                <a href="https://selfreg.pps.co.za/InTouch/#/self-register/personal-info" class="drop-msg-a">Register</a>
            </div>

            <div class="btnLinks">
                <a href="https://profit.pps.co.za/" class="drop-msg-a">Login</a>
            </div>

            <div class="drop-msg-border-left">
                    
            </div>
        </div> 


<style>
    .topsection a{
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        padding: 20px 50px !important;
        font-size: 19px;
        font-weight: 398px;
        border-color: #091e35;
        background-color: #091e35;
        color: #fff;
        border-radius: 1000px;
    }

    .topsection a:hover{
        color: #fff !important;
    }


    .last-section a{
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        padding: 20px 50px !important;
        font-size: 15px;
        font-weight: 398px;
        border-color: #091e35;
        background-color: #091e35;
        color: #fff;
        border-radius: 1000px;
    }



    .last-section a:hover {
        color: #fff !important;
    }

    .bottomlink a{
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        padding: 20px 50px !important;
        font-size: 15px;
        font-weight: 398px;
        border-color: #091e35;
        background-color: #091e35;
        color: #fff;
        border-radius: 1000px;
    }

    ul.gallery img{
        height: auto;
    }

    .trouble-steps:nth-child(odd){
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .trouble-steps:nth-child(even){
        border-bottom: 1px solid #ccc;
    }

    .trouble-steps:last-child{
        border-bottom: 0px;
    }




       {# Web Chat styling #}

    .btnLinks{
        float:left;
        width: 110px;
        border-right: solid 1px #fff; 
        height: 36px;
    }

    .drop-msg a {
      line-height: 3;
    }

    .drop-msg {
        width: 345px !important;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }

    #chat_tab span {
		position: fixed !important;
		background: transparent !important;
		padding: 9px 10px;
		top: unset !important;
		bottom: 23px !important;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 11px;
		right: 36px !important;
		left: unset;
		margin-top: -7px;
	}


    @media screen and (max-width:1199px) and (min-width:416px){
      #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 24px !important;
            padding: 9px 20px;
            right: 22px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }
    }

    @media (max-width: 415px){
      #chat_tab span {
          position: fixed !important;
          display: inline-block;
          bottom: 64px !important;
          padding: 9px 20px;
          right: 22px !important;
          cursor: pointer;
          width: 100px;
          left: unset!important;
      }

      #product .drop-msg {
          width: 345px !important;
          bottom: 55px !important;
      }
    }
</style>








   



