{% set mutuality_banner %}
     {{ content.field_mutuality_banner }}
    {% endset %}  
      {% set feature_image %}
     {{ content.field_feature_image }}
    {% endset %}  
{% set mutuality_title %}
     {{ content.field_mutuality_title }}
    {% endset %}
 
    
    
<section class="pt-20 pb-10 banner-top-spacing banner-images" style="background-image:url({{mutuality_banner|striptags}})">   
       
        <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
    	</div>
    </section>
 
    <section class="pb-0 pb-0-mobile" style="min-height: 800px !important;">
      <div class="container">
        {# <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="h1 text-blue">{{content.field_product_feat_2_title}}</h2>
          </div>
        </div> #}
  {# <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="h1 text-blue">{{content.field_mutuality_title}}</h2>
          </div>
        </div> #}
        <div class="row justify-content-between">
          {# <div class="col-lg-5 offset-md-1 text-center">
            <h2 class="h1 text-blue">{{content.field_mutuality_title}}</h2>
          </div> #}
           {# <h2 class="h1 text-blue" style="margin-bottom:30px !important;">{{content.field_mutuality_title}}</h2> #}
           <div class="title-larg-device-hidden text-center">
            <h2 class="text-blue text-blue-mobile" style="margin-top: -105px; position:absolute;max-width:300px;">{{mutuality_title|striptags}}</h2>
           </div>
          <div class="block-life-small-device-hidden block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom" style="    margin-top: 100px;
    margin-left: 60px;
    padding-right: 0px;">
            <h2 class="text-blue" style="
            margin-top: -105px; position:absolute;max-width:300px;
        ">{{mutuality_title|striptags}}</h2>
            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);" style="margin-top: 100px; width: 307px !important;
    height: 531px !important;">
            </div>
 
            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-9">
                  <figure class="photo">
                    <a id="feat-image" href="assets/images/interviewing-african-american-female-14.jpg">
                      {{content.field_feature_image}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>
 
          </div>
 
          <div class="col-12 col-lg-6 align-self-center text-center text-md-left mobile-padding" style= "    margin-right: 37px;
    padding-left: 0px;
    padding-right: 0px;">
 
            <div class="mb-2 pl-1">
              {{content.body}}
            </div>
 
          </div>
 

    
 

        </div>
 
      </div>
 
    
    </section>
    <section class="pb-0 pb-removetoppadding-mobile" style="min-height: 800px !important;">
      <div class="container">
<div class="row justify-content-between">
      <div class="col-12 col-lg-5 align-self-center text-md-left text-center mobile-padding remove-margin-mobile" style= "
    padding-left: 0px;
    padding-right: 0px;margin-left: 40px;">
      {{content.field_left_content}}
    </div>
        <div class="col-12 col-lg-6  align-self-center  text-md-left text-center mobile-padding" style= "
    padding-left: 0px;
    padding-right: 0px;">
    
      {{content.field_right_content}}
    </div>
    <div class="col-lg-12">
      {# <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%;"><div class="drop-msg-border-left" style="float:left;max-width: 50%; width:50%;"><a href="#" class="drop-msg-a">Download Brochure</a></div><div style="float:left;max-width: 50%;width:40%"><a href="#" class="drop-msg-a">Call Me Back</a></div></div> #}
    </div>
    </div>
    </div>
    </div>





      <section class="pt-4" style="padding-bottom: 2.5rem !important;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">
 
              <div class="boxed p-4" style="background: rgba(9,30,53,1)"  data-aos="fade-up" class="aos-init aos-animate">
                <div class="row justify-content-between align-items-center text-center text-md-left">
                  <div class="col-md-3">
                    <h2 class="h1 text-white font-weight-bold">Join PPS</h2>
                  </div>
                  
                  <div class="col-md-6">
                    <p class="text-white">PPS offers tailor-made insurance, investment and healthcare solutions exclusively for graduate professionals with a qualifying four year degree or equivalent.</p>
                  </div>
                  
                  <div class="col-md-3 text-lg-right">
                    <a href="/join-pps" class="btn btn-white btn-rounded px-5">Become a member</a>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
 
        </div>
      </section>
      {# <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%;"><div class="drop-msg-border-left" style="float:left;max-width: 50%; width:50%;"><a href="#" class="drop-msg-a">Download Brochure</a></div><div style="float:left;max-width: 50%;width:40%"><a href="#" class="drop-msg-a">Call Me Back</a></div></div> #}
  <!-- cover -->      
        {# <div class="image test" style="background-image:url({{content.field_page_banner|without(content.field_label)}}); background-position: center top; height: 398px"></div> #}
        {# <div class="container">
          <div style="position: absolute; top: 220px; color: #fff !important">
            <h1 class="mb-0">{{ node.label }}</h1>
          </div>
        </div> #}
      {# <section class="bg-light pb-0">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xl-3" style="margin-right:300px !important;">
                <div class="col-sm-12 col-lg-12 col-12 col-xs-12 col-md-12 text-center">
                  <h2 class="h1 text-blue">{{content.field_mutuality_title}}</h2>
                </div>
                <div class="col-sm-12 col-lg-12 col-12 col-xs-12 col-md-1">
                      <div class=" justify-content-between">
 
                          <div class="block-life scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
 
                              <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
                              </div>
 
                              <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
                                <ul class="gallery gutter-1 gutter-md-2">
                                  <li class="col-12">
                                    <figure class="photo">
                                      <a id="feat-image" href="assets/images/interviewing-african-american-female-14.jpg">
                                    
                                      {{content.field_feature_image}}
                                      </a>
                                    </figure>
                                  </li>
                                </ul>
                              </div>
                            </div>
                      </div>
                </div>
              </div>
 
              <div class="col-lg-6 col-md-6">
                  <div class="mb-2 pl-1">
                      {{content.body}}
                  </div>
              </div>
 
              
            </div>
      </section> #}
 
      
    {# <section class="col-md-12 pt-20">
 
    <div class="col-md-6">
          <div class="container">
            <div class="row justify-content-between">
           
              <div style=" position: absolute; top: 0; left: 100px; background: rgba(9,30,53,1); width: 340px; height: 380px;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
 
              <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-200px);">
              </div>
 
              <div style="width: 350px" data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
                <ul class="gallery gutter-1 gutter-md-2">
                  <li class="col-12">
                  <figure class="photo">
                    <a style="width: 350px" href="{{directory}}/assets/images/invest-grow.jpg" title="Save and invest">
                    {{content.field_content_featured_image|without(content.field_label)}}
                    </a>
                  </figure>
                  </li>
                </ul>
                </div>
              </div>
            
              </div>
          </div> 
        </div>  #}
      {# <section>
        <div class="col-12 col-lg-12 col-sm-12 col-xl-12 col-xs-12 align-self-center text-center text-md-left">
          {{content.body}}
        </div>
        </section> #}
        
        <style>
        ul li {
          
          color: grey !important;
        }
        .title-larg-device-hidden{
            display:none;
        }
        .drop-msg-a{
        padding:  0.6rem 0px 0.5rem !important
        }
        @media (max-width: 576px){
					.page-title-text{
							top: 30px !important;
							position: relative !important;
					}
          .text-center {
            text-align: left !important;
          }
					.text-blue-mobile{
						max-width: 100% !important;
						margin-top: 0px !important;
						position: relative !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
					}
					.pb-0-mobile{
						padding-top:30px !important;
            padding-bottom: 20px !important;
					}
          .pb-removetoppadding-mobile{
            padding-top: 0px !important;
          }

          .remove-margin-mobile{
            margin-left:0px !important;
          }
          .mobile-padding{
              padding-left:30px !important;
              padding-right:30px !important;
          }
          .drop-msg-mobile{
    
            visibility : hidden;
          }
          .block-life-small-device-hidden{
            display: none;
          }
            .title-larg-device-hidden{
            display: unset;
        }
        }
 
        .drop-msg-border-left{
              border-right: #fff;
              border-right-style: solid;
        }
        .drop-msg{
          max-width: 200px;
    background:#69c5d1;
    border: none;
    color: #091e35;
    font-weight: 600;
    padding: 10px 20px;
    z-index: 100;
    display: block;
    position: fixed;
    cursor: pointer;
    right: 20px;
    bottom: 15px;
    text-align: center;
    border-radius: 0px;
}
    .field__label{
      display:none;
    }
      .field--name-field-tags a{
            color:#0a1d37 !important;
        }
         .article-excerpt a{
            color:#0a1d37 !important;
        }
         .field__label{
        display:none;
      }
        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          @media (min-width: 768px)
{
.gutter-md-2 {
    margin: 100px !important;
}
}
#product.block-life.block-bg{
      width: 307px;
    height: 531px;
}
.photo img {
    width: 321px !important;
    height: 427px !important;
}
{# .mb-2, .my-2 {
    margin-bottom: 14.25rem !important;
} #}
</style>