{% set mutuality_banner %}
     {{ content.field_mutuality_banner }}
    {% endset %}  
      {% set feature_image %}
     {{ content.field_feature_image }}
    {% endset %}  
{% set mutuality_title %}
     {{ content.field_mutuality_title }}
    {% endset %}
 
    
    
{#<section class="pt-20 pb-10 banner-images" style="background-image:url({{ content.field_employee_member_image}})">   
        <div class="container">
          <div class="page-title-text" style="position: absolute; top: 220px;">
            <h1 class="mb-0" style="width:550px; color:#fff !important;">{{ content.field_employee_member_heading_ }}</h1>
          </div>
        </div>
    </section>#}
 	<!-- Cover -->	
    <section class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">		
		<div id="card-and-payments-banner" hidden> {{content.field_pps_bursary_program_image}}</div>
        
		<div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ content.field_pps_bursary_program_headin }}</h1>
          </div>
		</div>
    </section> 
	<!-- /End Cover -->
    <section class="pb-0 pb-0-mobile" style="min-height: 800px !important;">
      <div class="container">

        <div class="row justify-content-between">
          <div class="title-larg-device-hidden text-center">
            <h2 class="text-blue text-blue-mobile" style="margin-top: -105px; position:absolute;max-width:300px;">{{content.field_pps_bursary_program_headin}}</h2>
           </div>
          <div class="block-life-small-device-hidden block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom" style="    margin-top: 100px;
    margin-left: 60px;
    padding-right: 0px;">
            <h2 class="text-blue" style="
            margin-top: -105px; position:absolute;max-width:300px;
        ">{{content.field_pps_bursary_program_headin}}</h2>
            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);" style="margin-top: 100px; width: 307px !important;
    height: 531px !important;">
            </div>
 
            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-9">
                  <figure class="photo">
                    <a id="feat-image" href="assets/images/interviewing-african-american-female-14.jpg">
                      {{content.field_pps_bursary_featured_image}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>
 
          </div>
 
          <div class="col-12 col-lg-6 align-self-center text-center text-md-left mobile-padding" style= "    margin-right: 37px;
    padding-left: 0px;
    padding-right: 0px;">
 
            <div class="mb-2 pl-1">
              {{content.field_pps_bursary_program_body}}
            </div>
 
          </div>

        </div>
      </div>
    </section>

    {#
    <section class="" style="min-height: 800px !important;">
      <div class="container">
<div class="row justify-content-between">
      <div class="col-12 col-lg-5  mobile-padding remove-margin-mobile" style= "
    padding-left: 0px;
    padding-right: 0px;margin-left: 40px;">
      {{content.field_left_content}}
    </div>
        <div class="col-12 col-lg-6  mobile-padding" style= "
    padding-left: 0px;
    padding-right: 0px;">
    
      {{content.field_right_content}}
    </div>
    <div class="col-lg-12">
      <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%;"><div class="drop-msg-border-left" style="float:left;max-width: 50%; width:50%;"><a href="#" class="drop-msg-a">Download Brochure</a></div><div style="float:left;max-width: 50%;width:40%"><a href="#" class="drop-msg-a">Call Me Back</a></div></div>
    </div>
    </div>
    </div>
    </div>





      <section class="pt-4" style="padding-bottom: 2.5rem !important;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">
 
              <div class="boxed p-4" style="background: rgba(9,30,53,1)"  data-aos="fade-up" class="aos-init aos-animate">
                <div class="row justify-content-between align-items-center text-center text-md-left">
                  <div class="col-md-3">
                    <h2 class="h1 text-white font-weight-bold">Join PPS</h2>
                  </div>
                  
                  <div class="col-md-6">
                    <p class="text-white">PPS offers tailor-made insurance, investment and healthcare solutions exclusively for graduate professionals with a qualifying four-year degree or equivalent.</p>
                  </div>
                  
                  <div class="col-md-3 text-lg-right">
                    <a href="#." class="btn btn-white btn-rounded px-5">Become a member</a>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
 
        </div>
      </section>
      <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%;"><div class="drop-msg-border-left" style="float:left;max-width: 50%; width:50%;"><a href="#" class="drop-msg-a">Download Brochure</a></div><div style="float:left;max-width: 50%;width:40%"><a href="#" class="drop-msg-a">Call Me Back</a></div></div>#}

<!-- Contact Form-->
  <section class="pt-4" style="padding-bottom: 2.5rem !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">
          {# {% include directory ~ '/parts/joinForm.html.twig' %} #}
        </div>
      </div>

    </div>
  </section>
<!-- /End Contact Form-->
        
        
        <style>
        .pb-0 {
            padding: 0px !important; 
        }
        .title-larg-device-hidden{
            display:none;
        }
        .drop-msg-a{
        padding:  0.6rem 0px 0.5rem !important
        }
        @media (max-width: 576px){
					.page-title-text{
							top: 30px !important;
							position: relative !important;
					}

					.text-blue-mobile{
						max-width: 100% !important;
						margin-top: 0px !important;
						position: relative !important;
						padding-left: 37px !important;
					}
					.pb-0-mobile{
						/*padding-top:30px !important;*/
            margin-bottom: -178px !important;
					}

          .remove-margin-mobile{
            margin-left:0px !important;
          }
          .mobile-padding{
              padding-left:30px !important;
              padding-right:30px !important;
          }
          .drop-msg-mobile{
    
            visibility : hidden;
          }
          .block-life-small-device-hidden{
            display: none;
          }
            .title-larg-device-hidden{
            display: unset;
        }
        }
 
        .drop-msg-border-left{
              border-right: #fff;
              border-right-style: solid;
        }
        .drop-msg{
          max-width: 200px;
    background:#69c5d1;
    border: none;
    color: #091e35;
    font-weight: 600;
    padding: 10px 20px;
    z-index: 100;
    display: block;
    position: fixed;
    cursor: pointer;
    right: 20px;
    bottom: 15px;
    text-align: center;
    border-radius: 0px;
}
    .field__label{
      display:none;
    }
      .field--name-field-tags a{
            color:#0a1d37 !important;
        }
         .article-excerpt a{
            color:#0a1d37 !important;
        }
         .field__label{
        display:none;
      }
        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          @media (min-width: 768px)
{
.gutter-md-2 {
    margin: 100px !important;
}
}
#product.block-life.block-bg{
      width: 307px;
    height: 531px;
}
.photo img {
    width: 321px !important;
    height: 427px !important;
}

	.banner-text {
		background: rgba(255,255,255,0.4);
    padding: 20px;
    border-radius: 3px;
	}

  .banner-text .field__item {
    color: #091e35;
    font-weight: 400;
  }

  p a{
    color: #B09455;;
    text-transform: lowercase;
    font-family: 'Gotham', 'sans-serif';
  }

  .linkCapitalise {
     text-transform: capitalize !important;   
  } 
</style>

