{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_hpi_banner|trim %}
	<!-- cover -->	
   

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing" style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_hpi_banner}}</div>
      {# </div> #}
        
			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest" style="background: rgba(255,255,255,0.5); text-align:center; padding: 5px">{{ node.label }}</h1>
          </div>
			  </div>
    </section> 
	
			<!-- / cover -->

    {# First Product Section #}
    <section id="SectionOne" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                  <h2 class="h1 text-blue">{{content.field_hpi_introduction_title}}</h2>
                </div>
              </div>
            </div>
           </div>
          </div>
      </div>
    </section>
	
  
  

    {% if content.field_hpi_details_title|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-12" style="background: #f6f6f6; padding-bottom:3.75rem !important">
          <div class="container">
          
            <h4 style="text-align: center">{{content.field_hpi_details_title}}</h4>

            <div style="text-align: center;">{{content.field_hpi_details_conten}}</div>

          
          </div>
      </section>
    {% endif %}


    {% if content.field_hpi_benefits|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important">
          <div class="container">

            {{content.field_hpi_benefits}}
          
          </div>
      </section>
    {% endif %}

  {% if content.field_hpi_products|render %} 
      <section id="ProductSection" class="pt-6 pb-6 float-left col-12 col-md-12" style="background: #f6f6f6; padding-bottom:3.75rem !important">
          <div class="container">

            <div class="col-md-12" style="float: left; text-align:center">
                
                {{content.field_hpi_products}}  
              
            </div>
        </div>
      </section>
  {% endif %}

  {% if content.field_hpi_philosophy_content|render %} 
      <section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important">
          <div class="container">

            <div class="col-md-12" style="text-align:center">
                
                {{content.field_hpi_philosophy_content}}
              
            </div>
        </div>
      </section>
  {% endif %}

  {% if content.field_hpi_commitment|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-12" style="background: #f6f6f6; text-align:center; padding-bottom:3.75rem !important">
          <div class="container">
          
            <h4 style="text-align: center">
              {{content.field_hpi_commitment}}
            </h4>
          
          </div>
      </section>
  {% endif %}



  {% if content.field_hpi_application_title|render %}   
      <section id="ApplicationProcessSection" class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            <h2 style="text-align: center">
              {{content.field_hpi_application_title}}
            </h2>

            <div class="col-md-6" style="float: left; height: 400px">
              {{content.field_hpi_first_step}}
            </div>

            <div class="col-md-6" style="float: left; height: 400px">
              {{content.field_hpi_second_step}}
            </div>

            <div class="col-md-6" style="float: left; height: 400px">
              {{content.field_hpi_third_step}}
            </div>

            <div class="col-md-6" style="float: left; height: 400px">
              {{content.field_hpi_fourth_step}}
            </div>
          
          </div>
      </section>
  {% endif %}
<section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important">
    <div class="container" style="text-align:center">

        {# Hloni added code
                        Desc: Check if The Product belongs to Life Solutions                                                                                #}

        <p style="font-size: 12px;color: #091d35;">
            PPS Health Professions Indemnity is underwritten by PPS Health Professions Solutions, a division of
            Professional Provident Society Short-Term Insurance Company Limited, an Authorised Financial Services Provider, License No. 46274. © 2019 .
            All rights reserved.
        </p>

    </div>
</section>
  <div class="clearfix"></div>



  <section class="pt-4" style="padding-bottom: 2.5rem !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">

          {% include directory ~ '/parts/joinForm.html.twig' %}
        
        </div>
      </div>

    </div>
  </section>

  {# <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:13%; background: #69c5d1; text-align:center">
    <div style="float:left;max-width: 100%;width:100%"><a href="https://cloud.3dissue.com/170814/171185/200050/issue1hpi2/index.html?r=13" class="drop-msg-a">
      VIEW BROCHURE</a>
    </div>
  </div> #}

  {# <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%; background: #69c5d1;">
    <div class="drop-msg-border-left" style="float:left;max-width: 50%;width: 50%; text-align: right;">
        <a style="display: block;" href="https://cloud.3dissue.com/170814/171185/200050/issue1hpi2/index.html?r=13" class="drop-msg-a">
VIEW BROCHURE</a>   
    </div>
      <div style="float:left;max-width: 50%;width:40%; border-left: 2px solid #fff;">
        <a style="display: block;" href="/documents/supplementary-form-dentist.pdf" class="drop-msg-a">Dentist Supplementary Form</a>
      </div>
  </div>   #}


  {# <div class="drop-msg drop-msg-mobile" style="max-width:100%; width: 300px; background: #69c5d1;">
    <div class="drop-msg-border-left" style="max-width: 50%;width: 100%; text-align: center; float: left; border-right: 1px solid #fff; padding: 9px 4px;">
        {{ content.field_hpi_link }}  
    </div>

    <div class="drop-msg-border-left" style="max-width: 50%;width: 100%; text-align: center; float: left; padding: 9px 4px;">
        {{ content.field_hpi_home_link }}  
    </div>
  </div>   #}



        <div class="drop-msg drop-msg-mobile">
            <div class="btnLinks">
                {{ content.field_hpi_link }}  
            </div>

            <div class="btnLinks">
                {{ content.field_hpi_home_link }} 
            </div>

            <div class="drop-msg-border-left">
                    
            </div>
        </div> 

  <style>
      .field__label{
        display:none;
      }
        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-download a {
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }

	.field__item > ol{
		counter-reset: my-awesome-counter;
	}

	.field__item > ol > li{
		text-align: left;
		max-width: 300px;
		margin: 0px auto;
		counter-increment: my-awesome-counter;
	}

	.field__item > ol > li::before {
    		content: counter(my-awesome-counter) ". ";
	}

	p > a{
		color: #B09455 !important;
		padding: 0px !important;
		text-transform: none;
		font-size: 15px;
		line-height: normal;
	}


       {# Web Chat styling #}

    .btnLinks{
        float:left;
        width: 110px;
        border-right: solid 1px #fff; 
        height: 36px;
    }

    {# .drop-msg a {
      line-height: 3;
    } #}

    .drop-msg {
        width: 345px !important;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }


    #chat_tab span {
      position: fixed !important;
      background: transparent !important;
      padding: 9px 10px;
      top: unset !important;
      bottom: 23px !important;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px;
      right: 36px !important;
      left: unset;
      margin-top: -7px;
    }


    @media screen and (max-width:1199px) and (min-width:416px){
      #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 24px !important;
            padding: 9px 20px;
            right: 22px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }
    }

    @media (max-width: 415px){
      #chat_tab span {
          position: fixed !important;
          display: inline-block;
          bottom: 64px !important;
          padding: 9px 20px;
          right: 22px !important;
          cursor: pointer;
          width: 100px;
          left: unset!important;
      }

      #product .drop-msg {
          width: 345px !important;
          bottom: 55px !important;
      }
    }
  </style>

	<script>
	$(document).ready(function () {
		$('p > a').attr('target','_blank');
	}
	</script>







   



