{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_banner_images|striptags|trim %}
<!-- cover -->


<section class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">
    {# <div class="image card-and-payments-banner"> #}
    <div id="card-and-payments-banner" hidden> {{ content.field_banner_images }}</div>
    {# </div> #}

    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest" style="width:550px">{{ node.label }}</h1>
                <div class="direct-contact">
                    <span>{{ content.field_title_sub_text }}</span>
                </div>
        </div>
    </div>
</section>


{# Featured Image #}

<section class="pb-0" style="margin-top: -33px; background-color: #091f35 !important;">
    <div class="container">

        <div class="row justify-content-between">

            <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom">

                <div class="block-bg" data-bottom-top="transform: translateY(40px);"
                     data-top-bottom="transform: translateY(-100px);">
                </div>

                <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
                    <ul class="gallery gutter-1 gutter-md-2" style="margin-top: -20px;">
                        <li class="col-12" style="margin-left: 75px;">
                            <figure class="photo">
                                    {# {{ content.field_featured_image_1 }} #}

                                {{content.field_featured_video}}
                               
                            </figure>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

                <div class="mb-2 pl-1 featuredContent">
                    {{ content.field_featured_content_1 }}
                </div>

            </div>

        </div>

    </div>
</section>


{% if content.field_goal_title|render %}
    <section style="padding-top: 3rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    {# <h3 class="text-blue">{{ content.field_goal_title }}</h3> #}
                    <h3 class="text-blue"><span style="color: #B09455">YOUR GOALS?</span> OUR SOLUTIONS</h3>
                </div>
            </div>

            <div class="row justify-content-between">

                <div class="col-12 col-lg-12 align-self-center text-center text-md-left">

                    <div class="mb-2 pl-1">
                        {{ content.field_goal_compare_table }}
                    </div>

                </div>

            </div>

        </div>
    </section>
{% endif %}

  {# End Second Feature #}

<div class="clearfix"></div>


{# <section style="background-image: url({{ active_theme_path() }}/assets/images/fabric.jpg); padding: 5rem 0rem !important; padding-bottom: 5rem !important; background-repeat: no-repeat; background-position: center; background-size: inherit;">
    <div class="py-3" style="background: rgba(9,30,53,1);">
        <div class="container text-center creditCard">
            {{ content.field_pps_wealth_credit_card }}
        </div>
    </div>
</section> #}




{# <section class="creditSection" style="background-image: url({{ active_theme_path() }}/assets/images/fabric.jpg); padding: 5rem 0rem !important; padding-bottom: 5rem !important; background-repeat: no-repeat; background-position: center; background-size: inherit;">
    <div class="py-3" style="background: rgba(9,30,53,1);">
        <div class="container">

            <div class="row justify-content-between">

                <div class="block-life col-12 col-md-5 col-lg-5 scrolling-gallery" data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom">

                    <div class="block-bg" style="background: rgb(176, 148, 85); !important; width: 205px; !important; left: 85px; top: 15px; height: 325px" data-bottom-top="transform: translateY(40px);"
                        data-top-bottom="transform: translateY(-100px);">
                    </div>

                    <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
                        <ul class="gallery gutter-1 gutter-md-2" style="margin-top: -20px;">
                            <li class="col-8" style="margin-left: 100px;">
                                <figure class="photo">
                                    <a id="feat-image" href="assets/images/interviewing-african-american-female-14.jpg" style="width: 70%">
                                        {{ content.field_pps_wealth_credit_image }}
                                    </a>
                                </figure>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-12 col-md-7 col-lg-7 align-self-center text-center text-md-left">

                    <div class="mb-2 pl-1 featuredContenttext">
                        {{ content.field_pps_wealth_credit_card }}
                    </div>

                </div>

            </div>

        </div>
    </div>
</section> #}





<section class="my-4 bg-light" style="padding-top: 8rem !important; padding-bottom: 8rem !important; margin-bottom: 0px !important">
    <div class="container">

        <div class="row justify-content-between">

            <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom">

                <div class="block-bg" data-bottom-top="transform: translateY(40px);"
                     data-top-bottom="transform: translateY(-100px);">
                </div>

                <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
                    <ul class="gallery gutter-1 gutter-md-2">
                        <li class="col-12">
                            <figure class="photo">
                                <a id="feat-image" href="assets/images/interviewing-african-american-female-14.jpg">
                                    {{ content.field_featured_image_2 }}
                                </a>
                            </figure>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-12 col-lg-7 align-self-center text-center text-md-left">

                <div class="mb-2 pl-1 featuredContent2">
                    {{ content.field_featured_content_2 }}

                    <a href="https://www.pps.co.za/sites/default/files/2020-02/PPS%20Wealth%20Advisory%20InfoGraphic.pdf" target="_blank" class="linkBrochure m-1">Download Infographic</a>
                    <a href="https://www.pps.co.za/sites/default/files/2020-02/PPS%20Wealth%20Advisory_PDF.pdf" target="_blank" class="linkBrochure m-1">Download Brochure</a>
                </div>

            </div>

        </div>

    </div>

    <span id="OffshoreInvestment"></span>
</section>


<section class="offshore-background">
    <div class="py-5" style="background: rgba(0,0,0,0.6)">

        <div class="container">
            <div class="text-center pb-3">
                <h4><strong style="color: #b09454">{{content.field_offshore_title}}</strong></h4>

                <div class="pt-3 text-center">
                    {{content.field_offshore_intro}}
                </div>
            </div> 


            <div class=" pb-3">{{content.field_offshore_links}}</div>

            <div>{{content.field_offshore_media}}</div>
        </div>
    </div>

</section>


<section style="padding-top: 3rem; margin-top: -33px; background-color: #091f35 !important;">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center pb-3">
                <h4 style="color: #b09454">OUR TEAM OF EXPERTS</h4>
            </div> 
        </div>

        <div class="row">
            <div id="pps-provincial-members" class="col-12 col-md-4 col-lg-4" style="color: #fff;">
                <div class="row">
                    <h5 style="margin-left: 10px; font-weight:bold">Gauteng</h5>
                    {{ content.field_gauteng_wealth_manager }}
                </div>
            </div>

            <div id="western-pps-provincial-members" class="col-12 col-md-4 col-lg-4" style="color: #fff;">
                <div class="row">
                    <h5 style="margin-left: 10px; font-weight:bold">Western Cape</h5>
                    {{ content.field_western_cape_wealth_manage }}
                </div>
            </div>

            <div id="natal-pps-provincial-members" class="col-12 col-md-4 col-lg-4" style="color: #fff;">
                <div class="row">
                    <h5 style="margin-left: 10px; font-weight:bold">Kwazulu Natal</h5>
                    {{ content.field_kwazulu_natal_wealth_manag }}
                </div>
            </div>


        </div>
    </div>
</secion>


{% include directory ~ '/parts/form-wealthpps.html.twig' %}
<!-- /End Contact Form-->


{# <section style="margin-top: -35px !important;">
    <img src="/{{ active_theme_path() }}/assets/images/fabric.jpg">
</section> #}



    {# <div class="drop-msg drop-msg-mobile floatingbtn">
    
        <div class="drop-msg-border-left" style="padding:5px; max-width: 50%;text-align: center; border-right: 1px solid #ccc; float: left; width: 50%">
            {{ content.field_download_brochure }}
        </div>
        <div class="drop-msg-border-left" style="padding:5px; max-width: 50%;text-align: center; float: left; width: 50%">
            <a href="#contactus">CALL ME BACK</a>
        </div>
        
    </div> #}


    <div class="drop-msg drop-msg-mobile">
      <div class="btnLinks">
          {{ content.field_download_brochure }}
      </div>

      <div class="btnLinks">
          <a style="display: inline-block;" href="#contactus" class="drop-msg-a" target="_blank">Call Me Back</a>
      </div>

      <div class="drop-msg-border-left">
            
      </div>
    </div> 


<style>

    .offshore-background p, .offshore-background strong{
        color: #fff;
    }

    .offshore-box a{
        display: block;
    }

    .offshore-background{
        background-image: url(/themes/custom/refresh/assets/images/offshore.jpg);
        background-size: cover;
        background-position: center 0px;
        background-repeat: no-repeat;
    }

    .offshore-box{
        border-right: 2px solid #efefef;
    }

    .offshore-box:last-child{
        border-right: 0px solid #efefef;
    }

    .offshore-box:nth-child(1) > .fa-play, .offshore-box:nth-child(1) > .fa-file-text{
        display:none;
    }

    .offshore-box:nth-child(2) > .fa-file-pdf, .offshore-box:nth-child(2) > .fa-file-text{
        display:none;
    }

    .offshore-box:nth-child(3) > .fa-file-pdf, .offshore-box:nth-child(3) > .fa-play{
        display:none;
    }

    .fa-file-text:before {
        content: "\f15c";
    }

    .file--mime-application-pdf a{
        display: block;
        padding: 0rem 0.5rem;
    }

    .file--mime-application-pdf{
        display: block;
        padding: 0.5rem 0rem;
    }

    #mc_embed_signup .button {
    background: #fff!important;
    }

    .linkBrochure {
        padding: 10px 20px !important;
        background: #B09455;
        float: right!important;
        color: #fff !important;
        border-radius: 1rem;
        font-weight: 800;
        font-size: 11pt;
    }

    .linkBrochure:hover{
        color: #fff !important;
    }

    .featuredContent2 > div{
        padding-left: 0px;
    }

    .featuredContent2 p{
        font-size: 13pt;
    }

    .creditCardLink {
        padding: 10px 0px !important;
        border-radius: 2rem;
        background: #091e36;
        border: 1px solid #b09455;
        text-align: center;
    }

    .creditCardLink:hover{
        color: #fff !important;
    }

    .creditCard p, h2, .creditSection h4{
        color: #fff;
    }

    .featuredContenttext p{
        color: #d4d4d4;
    }
/* 
    .creditCardLink:hover span{
        display:none;
    }

    .creditCardLink:hover:before {
        content:"Download the brochure to find out why it’s more than just a credit card."
    } */

    td{
        border-right: 1px solid #ccc;
    }

    .selectric .label {
        padding: 0.50rem 0.9375rem !important;
        line-height: 1;
    }

    td:last-child{
       border-right: 0px; 
    }

    div.row-margin > .row {
        margin-bottom: 0px !important;
    }

    .wealth-members > div > img{
        width: 100px !important;
        height: 100px !important;
        border-radius: 3em !important;
    }

    

    #mc_embed_signup .mc-field-group label {
        display: block;
        margin-bottom: 3px;
        color: #fff !important;
    }

    div.field--name-field-featured-content-1 > div.field__items > div.field__item > p{
        color: #fff !important;
    }

    div.field--name-field-featured-content-1 > div.field__items > div.field__item strong{
        color: #B09455 !important
    }

    .floatingbtn{
        max-width:100%;width:20%; background: rgba(9,30,53,1)!important;
    }

    table > tbody > tr > td{
        text-align: center !important;
    }

    table{
        border: 0px
    }

    table > tbody > tr{
        border-bottom: 1px solid #ccc;
    } 

    table > tbody > tr > td:first-child{
     padding-left: 15px !important
    }

    table > tbody > tr > td > img {
        width: 35px !important;
        padding-top: 5px;
        margin-bottom: -30px;
        padding-bottom: 5px;
    }

    table > tbody > tr > td > article > img {
        width: 35px !important;
        padding-top: 5px;
        margin-bottom: -30px;
        padding-bottom: 5px;
    }

    span.file.file--mime-application-pdf.file--application-pdf{
        display: contents;
    }

    select{
        padding: 0.9375rem 0.9375rem !important;
        padding-top: 0.9375rem !important;
        padding-right: 0.9375rem !important;
        padding-bottom: 0.9375rem !important;
        padding-left: 0.9375rem !important;
    }

    .selectric .label {
    padding: 1.00rem 0.9375rem !important;
}
    .field--name-field-bottom-link > div > a {
        color: #091e35 !important;
    }

    .field--name-field-bottom-link > div > a:hover, a:active, a:focus {
        color: #B09455 !important
    }

    .field__label {
        display: none;
    }

    .field--name-field-tags a {
        color: #0a1d37 !important;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
    }

    .photo img {
        width: 421px !important;
        height: auto !important;
    }

    .field--name-field-download {
        text-align: center !important;
    }

    .field--name-field-download a {
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        padding: 20px 50px !important;
        font-size: 12px;
        font-weight: 398;
        border-color: #091e35;
        background-color: #091e35;
        color: #fff;
        border-radius: 1000px;
    }

    
    .direct-contact{
        top: 335px;
        position: absolute;
        background-color: rgba(9,30,53,1);
        width: 550px;
        text-align: center;
        height: 50px;
        padding: 11px;
    }
    .direct-contact>a{
        font-size: 16px;
        margin-right: -8px;
    }
    .direct-contact>span{
        color: #fff;
        font-size: 16px;
        font-weight: 900;
    }
     {# Added in dev #}
     .selectric-wrapper{
         background-color:#fff;
     }
     .selectric.label{
         font-weight:400;

     }

    @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }

        .floatingbtn{
            bottom: 60px !important;
            width: 65% !important;
            right: 13px !important;
        }
        
    }


    {# Web Chat styling #}

    .btnLinks{
        float:left;
        width: 110px;
        border-right: solid 1px #fff; 
        height: 36px;
    }

    {# .drop-msg a {
      line-height: 3;
    } #}

    .drop-msg {
        width: 345px !important;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }

    #chat_tab span {
      position: fixed !important;
      background: transparent !important;
      padding: 9px 10px;
      top: unset !important;
      bottom: 23px !important;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px;
      right: 36px !important;
      left: unset;
      margin-top: -7px;
    }


    @media screen and (max-width:1199px) and (min-width:416px){
      #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 24px !important;
            padding: 9px 20px;
            right: 22px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }
    }

    @media (max-width: 415px){
      #chat_tab span {
          position: fixed !important;
          display: inline-block;
          bottom: 64px !important;
          padding: 9px 20px;
          right: 22px !important;
          cursor: pointer;
          width: 100px;
          left: unset!important;
      }

      #product .drop-msg {
          width: 345px !important;
          bottom: 55px !important;
      }
    }
</style>






   



