<section class="pt-20 pb-10 banner-top-spacing" style="margin-top: 170px; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/{{ active_theme_path() }}/assets/images/businessassurance.jpg')">

    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest" style="width:550px">The Resilient Doctors Evening</h1>
        </div>
    </div>
</section>
{# 
<section>
    <img src="/{{ active_theme_path() }}/assets/images/ready-for-future.jpg" width="100%" style="margin-top: 170px;">
</section> #}

{# <section class="pt-5 banner-images" style="min-height: 300px !important;">
    <div class="container">
        {{content.body}}
    </div>
</section> #}

<h2 style="text-align: center; padding: 10rem;">RSVP FOR THIS EVENT HAS NOW BEEN CLOSED.</h2>


 {# <section class="pb-10 banner-images">
    <div class="container">
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>
<div id="mc_embed_signup">
<form action="https://gmail.us20.list-manage.com/subscribe/post-json?u=3c06df019e24b2296bc828882&amp;id=3340b266cc&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>THE RESILIENT DOCTORS EVENING</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group size1of2">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE3">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE2">Practice number  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE2" class="required" id="mce-MMERGE2">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE5">Phone Number  <span class="asterisk">*</span>
</label>
	<input type="text" name="MMERGE5" class="required" value="" id="mce-MMERGE5">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE4">RSVP option  <span class="asterisk">*</span>
</label>
	<select name="MMERGE4" class="required" id="mce-MMERGE4">
	<option value="">Select an option</option>
<option value="Accept">Accept</option>
<option value="Decline">Decline</option>

	</select>
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE6">Dietary requirement </label>
	<select name="MMERGE6" class="" id="mce-MMERGE6">
	<option value="">Select an option</option>
<option value="None">None</option>
<option value="Halaal">Halaal</option>
<option value="Kosher">Kosher</option>
<option value="Vegetarian">Vegetarian</option>

	</select>
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE8">Other </label>
	<input type="text" value="" name="MMERGE8" class="" id="mce-MMERGE8">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE7">Notes </label>
    <textarea name="MMERGE7" class="textbox" id="mce-MMERGE7"></textarea>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3c06df019e24b2296bc828882_3340b266cc" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="SUBMIT" name="subscribe" id="mc-embedded-subscribe" class="button" style="margin-top: 30px !important"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[2]='MMERGE2';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[5]='MMERGE5';ftypes[5]='phone';fnames[4]='MMERGE4';ftypes[4]='dropdown';fnames[6]='MMERGE6';ftypes[6]='dropdown';fnames[8]='MMERGE8';ftypes[8]='text';fnames[7]='MMERGE7';ftypes[7]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

    </div>
</section>  #}

<style>
    .textbox{
        clear: none;
        float: left;
        display: inline-block;
        width: 100% !important;
        margin-right: 4%;
        height: 200px !important;
    }

    .selectric b.button{
        display:none;
    }

    .bg-blue.text-white.groupfooter {
        margin-top: -33px;
    }

    #mc_embed_signup label {
        color: #000 !important;
    }

    .form-composite > legend, .label{
        font-weight: normal !important;
    }

    @media(max-width:415px){
        .bg-blue.text-white.groupfooter {
        margin-top: 0px;
        }

        .banner-area {
            position: relative;
            top: 40px;
        }

        .banner-area > h1{
            font-size: 17pt !important;
        }

        .banner-area > h1 > span{
            font-size: 12pt !important;
        }
    }

    .banner-images{
            padding-top: 0%;
        }

    @media screen and (max-width: 560px){
        .banner-images{
            padding-top: 30%
        }
    }

    @media(max-width:768px){
        #mc_embed_signup .size1of2{
            width: 100% !important;
        }
    }
</style>

<script>
    // document.getElementById("mce-MMERGE5").value = window.location.href;

    // function myFunction() {
    //     document.getElementById("mc-embedded-subscribe").value = "Submit";
    // }
</script>


<script type="text/javascript">

    document.getElementById('quietest').style.display = 'none';

    function validateForm()
    {
        var a=document.forms["Form"]["answer_a"].value;
        var b=document.forms["Form"]["answer_b"].value;
        var c=document.forms["Form"]["answer_c"].value;
        var d=document.forms["Form"]["answer_d"].value;
        if (a==null || a=="",b==null || b=="",c==null || c=="",d==null || d=="")
        {
            alert("Please Fill All Required Field");
            return false;
        }
    }
</script>