{# <section class="pt-20 pb-10 banner-top-spacing" style="margin-top: 170px; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/{{ active_theme_path() }}/assets/images/ready-for-future.jpg')">
</section> #}

<section>
    <img src="/{{ active_theme_path() }}/assets/images/ready-for-future.jpg" width="100%" style="margin-top: 170px;">
</section>

<section class="pt-5 banner-images" style="min-height: 300px !important;">
    <div class="container">
        {{content.body}}
    </div>
</section>


 <section class="pb-10 banner-images">
    <div class="container">
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://bluevinegroup.us3.list-manage.com/subscribe/post-json?u=c2dc04cf3e3e45905d2955282&amp;id=082e8ff885&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Johannesburg Confirm Below</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group size1of2">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE3">Attendance </label>
	<select name="MMERGE3" class="" id="mce-MMERGE3">
	<option value="">Select an option</option>
	<option value="Yes, I'm still coming">Yes, I'm still coming</option>
<option value="No, I can't make it anymore">No, I can't make it anymore</option>

	</select>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c2dc04cf3e3e45905d2955282_082e8ff885" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
    </div>
</section> 

<style>

    .selectric b.button{
        display:none;
    }

    .bg-blue.text-white.groupfooter {
        margin-top: -33px;
    }

    #mc_embed_signup label {
        color: #000 !important;
    }

    .form-composite > legend, .label{
        font-weight: normal !important;
    }

    @media(max-width:415px){
        .bg-blue.text-white.groupfooter {
        margin-top: 0px;
        }

        .banner-area {
            position: relative;
            top: 40px;
        }

        .banner-area > h1{
            font-size: 17pt !important;
        }

        .banner-area > h1 > span{
            font-size: 12pt !important;
        }
    }

    .banner-images{
            padding-top: 0%;
        }

    @media screen and (max-width: 560px){
        .banner-images{
            padding-top: 30%
        }
    }

    @media(max-width:768px){
        #mc_embed_signup .size1of2{
            width: 100% !important;
        }
    }
</style>

<script>
    document.getElementById("mce-MMERGE5").value = window.location.href;

    function myFunction() {
        document.getElementById("mc-embedded-subscribe").value = "Submit";
    }
</script>


<script type="text/javascript">
    function validateForm()
    {
        var a=document.forms["Form"]["answer_a"].value;
        var b=document.forms["Form"]["answer_b"].value;
        var c=document.forms["Form"]["answer_c"].value;
        var d=document.forms["Form"]["answer_d"].value;
        if (a==null || a=="",b==null || b=="",c==null || c=="",d==null || d=="")
        {
            alert("Please Fill All Required Field");
            return false;
        }
    }
</script>