{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_product_banner|striptags|trim %}
	<!-- cover -->	
   

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_product_banner}}</div>
      {# </div> #}
        
			  <div class="container">
          <div class="banner-area">

            {% if node.label == "It’s never too late to invest in your goals" %}
              <h1 class="mb-0 banner-text-invest">It’s never too late to invest in your goals, <br/>Let PPS Investments partner with you</h1>
            {% else %}
              <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
            {% endif %}

            
          </div>
			  </div>
    </section> 
	
			<!-- / cover -->


{# Second Product Section #}
  {% if content.field_2_investment_intro_title|render %} 
      <section id="SectionTwo" class="pt-6 pb-6">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-12">

                <div data-aos="fade-up" class="aos-init aos-animate">
                  <div class="row justify-content-between align-items-center text-center">
                    <div class="col-md-9 offset-md-1">
                      <h2 class="h1 text-blue">{{content.field_2_investment_intro_title}}</h2>
                    {{content.field_2_investment_introduction_}}
                    </div>

                  </div>
                </div>
              </div>
              </div>
          </div>
      </section>
    {% endif %}
	
  
  {# Featured Image #}

  {% if content.field_2_investment_key_features|render %}  
    <section class="bg-light" style="padding: 2.25rem 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_2_investment_featured_titl}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-md-5 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_2_investment_featured}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-md-6 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_2_investment_key_features}}
            </div>

          </div>

        </div>

      </div>
    </section>
    {% endif %}

    {% if content.field_2_brochure|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-6 col-lg-6" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            {{content.field_2_brochure}}
          
          </div>
      </section>
    {% endif %}


  {% if content.field_2_investment_opn|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-6 col-lg-6 invest-link" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            {{content.field_2_investment_opn}}
          
          </div>
      </section>
  {% endif %}

  <div class="clearfix"></div>



  {# Fourth Product Section #}
  {% if content.field_4_investment_intro_title|render %} 
    <section id="SectionFour" class="pt-6 pb-6" style="border-top: 1px solid #eaeaea; padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                  <h2 class="h1 text-blue">{{content.field_4_investment_intro_title}}</h2>
                {{content.field_4_investment_introduction_}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>
  {% endif %}
	
  
  {# Featured Image #}
  {% if content.field_4_investment_key_features|render %} 
    <section class="bg-light" style="padding: 2.25rem 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_4_investment_featured_titl}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-md-5 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_4_investment_featured_imag}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-md-6 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_4_investment_key_features}}
            </div>

          </div>

        </div>

      </div>
    </section>
    {% endif %}

    {% if content.field_4_brochure|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-6 col-lg-6" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            {{content.field_4_brochure}}
          
          </div>
      </section>
    {% endif %}


  {% if content.field_4_investment_opn|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-6 col-lg-6 invest-link" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            {{content.field_4_investment_opn}}
          
          </div>
      </section>
  {% endif %}

  <div id="PPSRetirementAnnuity" class="clearfix"></div>

    

    {# First Product Section #}
    <section id="SectionOne" class="pt-6 pb-6"  style="border-top: 1px solid #eaeaea; padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                  <h2 class="h1 text-blue">{{content.field_intro_title}}</h2>
                {{content.field_investment_introduction}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>
	
  
  {# Featured Image #}

    <section class="bg-light" style="padding: 2.25rem 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_featured_title}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-md-5 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_product_featured_image}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-md-6 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_investment_key_featured}}
            </div>

          </div>

        </div>

      </div>
    </section>

    {% if content.field_1_brochure|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-6 col-lg-6" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            {{content.field_1_brochure}}
          
          </div>
      </section>
    {% endif %}


  {% if content.field_1_investment_opn|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-6 col-lg-6 invest-link" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            {{content.field_1_investment_opn}}
          
          </div>
      </section>
  {% endif %}

  <div class="clearfix"></div>






    {# Fifth Product Section #}
  {% if content.field_5_investment_intro_title|render %} 
    <section id="SectionFifth" class="pt-6 pb-6" style="border-top: 1px solid #eaeaea; padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                  <h2 class="h1 text-blue">{{content.field_5_investment_intro_title}}</h2>
                {{content.field_5_investment_introduction_}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>
  {% endif %}
	
  
  {# Featured Image #}
  {% if content.field_5_investment_key_features|render %} 
    <section class="bg-light" style="padding: 2.25rem 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_5_investment_featured_titl}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-md-5 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_5_investment_featured_imag}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-md-6 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_5_investment_key_features}}
            </div>

          </div>

        </div>

      </div>
    </section>
    {% endif %}

    {% if content.field_5_brochure|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-6" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            {{content.field_5_brochure}}
          
          </div>
      </section>
    {% endif %}


  {% if content.field_5_investment_opn|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-6 invest-link" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            {{content.field_5_investment_opn}}
          
          </div>
      </section>
  {% endif %}

  <div class="clearfix"></div>

  

  {# Third Product Section #}
  {% if content.field_3_investment_intro_title|render %} 
      <section id="SectionThree" class="pt-6 pb-6" style="border-top: 1px solid #eaeaea; padding-bottom:3.75rem !important">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-12">

                <div data-aos="fade-up" class="aos-init aos-animate">
                  <div class="row justify-content-between align-items-center text-center">
                    <div class="col-md-9 offset-md-1">
                      <h2 class="h1 text-blue">{{content.field_3_investment_intro_title}}</h2>
                    {{content.field_3_investment_introduction_}}
                    </div>

                  </div>
                </div>
              </div>
              </div>
          </div>
      </section>
    {% endif %}
	
  
  {# Featured Image #}

  {% if content.field_3_investment_key_features|render %}  
    <section class="bg-light" style="padding: 2.25rem 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_3_investment_featured_titl}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-md-5 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_3_investment_featured_imag}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-md-5 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">

            {% if content.field_key_feature_title_1|render %} 
              {{ content.field_key_feature_title_1 }}
            {% endif %}

            	{{content.field_3_investment_key_features}}

            {% if content.field_key_feature_title_2|render %}   
              {{ content.field_key_feature_title_2 }}
            {% endif %}

            {% if content.field_investment_key_features_ex|render %} 
            	{{content.field_investment_key_features_ex}}
            {% endif %}
            </div>

          </div>

        </div>

      </div>
    </section>
    {% endif %}

    {% if content.field_3_brochure|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-6" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            {{content.field_3_brochure}}
          
          </div>
      </section>
    {% endif %}


  {% if content.field_3_investment_opn|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-6 invest-link" style="padding-bottom:3.75rem !important">
          <div class="container">
          
            {{content.field_3_investment_opn}}
          
          </div>
      </section>
  {% endif %}

  <div class="clearfix"></div>



  <section class="bg-light" style="padding: 2.25rem 0 !important; border-top: 1px solid #ccc;">
    <div class="container">
      <h2 style="text-align: center">How do I invest?</h2>
        <p>PPS Investments recommends that you consult an independent financial adviser regarding your 
        specific situation if you require financial and/or investment advice. Alternatively, leave your 
        details and our client service centre can <a class="call-action" href="#ppsiform">CALL YOU BACK</a> to put you in touch with an adviser.
        </p>

        <p>Should you be comfortable to invest online <a class="call-action" href="https://www.ppsisecure.co.za/investnowpublic/investnow/landing">CLICK HERE</a></p>
    </div>
  </section>



	<!-- Product Slider -->
  {% if content.field_product_hub_image|render %}
    <section id="producthubSection" class="pt-10 pb-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
			      <h2 class="h1 text-blue"> {{content.field_investment_hub_title}} </h2>	  
          </div>
        </div>	

        <div class="row aos-init" data-aos="fade-left">
          <div class="col">
            <div class="owl-carousel visible owl-loaded owl-drag" data-items="[3]" data-nav="true" data-margin="10">
              
              <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3067px;">

                {{content.field_product_hub_image}}

                </div>
              </div>

              <div class="owl-nav">
                <button type="button" style="background: rgba(255,255,255,0.6) !important;" role="presentation" class="owl-prev disabled"><span aria-label="Previous">‹</span></button>
                <button type="button" style="background: rgba(255,255,255,0.6) !important;" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
              </div>

              <div class="owl-dots disabled">
              </div>

			      </div>
          </div>
        </div>

      </div>
    </section>
    {% endif %}
	<!-- Product Hub Slider -->
  



  
  {% include directory ~ '/parts/form-joinpps.html.twig' %}


  {# <section class="pb-0 contact-area" style="background-image:url(/{{ active_theme_path() }}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center; background-repeat:no-repeat">
    <div class="container">

      <div class="row justify-content-center">
        <div id="ppsiform" class="col-md-12 col-lg-12">

          <div class="boxed p-4 text-center" style="background: rgba(9,30,53,0.8)" >    
           
            <div class="row justify-content-between align-items-center ">
              <div class="col-md-12">

                <h4 class="text-white mb-1 mt-0">The next step is to call us or we can call you.</h4>
                <h5 class="text-white mb-1 mt-0">0860 468 777 or email clientservices@ppsinvestments.co.za </h5>
              </div>
                         
            </div>

                        <!-- Begin Mailchimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup" style="background: transparent !important">
              <form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=93d3b89f2a&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group">
                <label for="mce-MMERGE5" style="color: #fff !important;">Title </label>
                <select name="MMERGE5" class="" id="mce-MMERGE5">
                <option value="Please Select">Please Select</option>
              <option value="Adv">Adv</option>
              <option value="Dr">Dr</option>
              <option value="Ds">Ds</option>
              <option value="Me">Me</option>
              <option value="Mev">Mev</option>
              <option value="Mej">Mej</option>
              <option value="Mnr">Mnr</option>
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
              <option value="Ms">Ms</option>
              <option value="Miss">Miss</option>
              <option value="Prof">Prof</option>
              <option value="Rev">Rev</option>

                </select>
              </div>
              <div class="mc-field-group">
                <label for="mce-FNAME" style="color: #fff !important;">First Name </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-LNAME" style="color: #fff !important;">Last Name </label>
                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-EMAIL" style="color: #fff !important;">Email Address  <span class="asterisk">*</span>
              </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="mc-field-group size1of2">
                <label for="mce-PHONE" style="color: #fff !important;">Contact Number </label>
                <input type="text" name="PHONE" class="" value="" id="mce-PHONE">
              </div>
              <div class="mc-field-group">
                <label for="mce-MMERGE3" style="color: #fff !important;">City </label>
                <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
              </div>
              <div class="mc-field-group">
                <label for="mce-MMERGE6" style="color: #fff !important;">Preferred Contact Time </label>
                <select name="MMERGE6" class="" id="mce-MMERGE6">
                <option value="Please Select">Please Select</option>
              <option value="Anytime">Anytime</option>
              <option value="8:00 - 9:00">8:00 - 9:00</option>
              <option value="9:00 - 10:00">9:00 - 10:00</option>
              <option value="10:00 - 11:00">10:00 - 11:00</option>
              <option value="11:00 - 12:00">11:00 - 12:00</option>
              <option value="12:00 - 13:00">12:00 - 13:00</option>
              <option value="13:00 - 14:00">13:00 - 14:00</option>
              <option value="14:00 - 15:00">14:00 - 15:00</option>
              <option value="15:00 - 16:00">15:00 - 16:00</option>

                </select>
              </div>
              <div class="mc-field-group">
                <label for="mce-MMERGE7" style="color: #fff !important;">Highest Qualification </label>
                <input type="text" value="" name="MMERGE7" class="" id="mce-MMERGE7">
              </div>
              <div class="mc-field-group">
                <label for="mce-MMERGE8" style="color: #fff !important;">Occupation </label>
                <input type="text" value="" name="MMERGE8" class="" id="mce-MMERGE8">
              </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_93d3b89f2a" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="SUBMIT" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
              </form>
              </div>
              <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[5]='MMERGE5';ftypes[5]='dropdown';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='PHONE';ftypes[4]='phone';fnames[3]='MMERGE3';ftypes[3]='text';fnames[6]='MMERGE6';ftypes[6]='dropdown';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
              <!--End mc_embed_signup-->

          </div>
        
        </div>
      </div>
    </div>
  </section> #}

 
  {# Web Chat Start #}

  {# <div class="drop-msg-investment drop-msg-mobile" style="max-width:100%;width:10.5%; background: rgba(9,30,53,1)!important;">
    
    <div class="drop-msg-border-left" style="float:left;max-width: 100%;width: 100%;text-align: center;">
      <a style="display: inline-block;" href="https://www.ppsisecure.co.za/investnowpublic/investnow/landing" class="drop-msg-a" target="_blank">Invest Now</a>
    </div>
    
  </div> #}

  <div class="drop-msg drop-msg-mobile">

      <div class="btnLinks">
          <a style="display: inline-block;" href="https://www.ppsisecure.co.za/investnowpublic/investnow/landing" class="drop-msg-a" target="_blank">Invest Now</a>
      </div>

      <div class="drop-msg-border-left">
            
      </div>
    </div> 


  <script type="text/javascript" src="https://webchat.pps.co.za/webchat_ucc_investments_chat_public_webchat/sfbwebchatplus/js/jquery-2.1.0.js"></script>
    <script id="anywhere365-sfbwebchatplus-client-index-external" src="https://webchat.pps.co.za/webchat_ucc_investments_chat_public_webchat/sfbwebchatplus/js/anywhere365_sfbwebchatplus_client_index_external.js"></script>
    <script>
    var optionalArguments = [];
    Anywhere365WebchatIntegration.Init(optionalArguments);
  </script>

  <script src="https://www.pps.co.za/themes/custom/refresh/assets/js/jquery-2.1.4.js"></script>
  <script>
    // Webchat Mobile Script

    //console.log('Webchat Script Below');
    
    setTimeout(function(){
      //console.log('PPS: '+ $('#chat_tab').length); 
  
        $('#chat_tab > span').on("click", function(){
          //console.log('Webchat Script 1');
          //alert('PPS Webchat');

            $('.chat_tab_extension').removeAttr('style');

            $('#chat_tab_extension').addClass('displayChat');
            $('.displayChat').removeAttr('id');
        });

        $('.modal-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            /*$('#chat_tab_extension').hide();*/
        });

        $('.anywhere365-sfbwebchatplus-linkbutton').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            $('#chat_tab_extension').hide();
        });

        $('.webchat-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            /*$('#chat_tab_extension').hide();*/
        });

    }, 3000);
</script>
 
  <style>
    .chat-header{
      background-color: rgba(9,30,53,1) !important;
    }

    .call-action{
      font-weight: 900;
      text-transform: uppercase;
      padding: 6px 20px !important;
      font-size: 12px;
      border-color: #091e35;
      background-color: #091e35;
      color: #fff;
      border-radius: 1000px;
    }

      .field__label{
        display:none;
      }

	.file.file--mime-application-pdf.file--application-pdf{
		display: contents;
  }
  

  .file--application-pdf a {
    float: left;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 50px !important;
    font-size: 12px;
    font-weight: 398px;
    border-color: #722c9e;
    background-color: #722c9e;
    color: #fff;
    border-radius: 1000px;
}

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-1-brochure a {
		float:right;
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }
   @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }
    }


    {# Web Chat styling #}

    .btnLinks{
        float:left;
        width: 118px;
        border-right: solid 1px #fff; 
        height: 36px;
    }

    .drop-msg a {
      line-height: 3;
    }

    .drop-msg {
        width: 245px !important;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }

    #chat_tab span {
		position: fixed !important;
		background: transparent !important;
		padding: 9px 10px;
		top: unset !important;
		bottom: 23px !important;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 11px;
		right: 36px !important;
		left: unset;
		margin-top: -7px;
	}


    @media screen and (max-width:1199px) and (min-width:416px){
      #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 24px !important;
            padding: 9px 20px;
            right: 22px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }
    }

    @media (max-width: 415px){
      #chat_tab span {
          position: fixed !important;
          display: inline-block;
          bottom: 64px !important;
          padding: 9px 20px;
          right: 22px !important;
          cursor: pointer;
          width: 100px;
          left: unset!important;
      }

      #product .drop-msg {
          width: 230px !important;
          bottom: 55px !important;
      }
  </style>







   



