<section class="pt-20 pb-10 banner-top-spacing" style="margin-top: 170px; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/sites/default/files/default_images/archive-banners_0.jpg')">

    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest" style="width:550px">FIDUCIARY SERVICES</h1>
        </div>
    </div>
</section>


{# <h2 style="text-align: center; padding: 10rem;">RSVP FOR THE YOUNG LEADERS EVENT HAS BEEN CLOSED.</h2> #}


<section class="pt-5 pb-10">
    <div class="container">
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://pps.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=53fa8e0401&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Please fill in the form below: </h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE7">Title </label>
	<input type="text" value="" name="MMERGE7" class="" id="mce-MMERGE7">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-FNAME">Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-LNAME">Surname  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE3">Cellphone  <span class="asterisk">*</span>
</label>
	<input type="text" name="MMERGE3" class="required" value="" id="mce-MMERGE3">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group size1of2" style="display: none">
	<label for="mce-MMERGE5">URL </label>
	<input type="url" value="" name="MMERGE5" class=" url" id="mce-MMERGE5">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE4">I am interested in: </label>
	<select name="MMERGE4" class="" id="mce-MMERGE4">
	<option value="">Select an Option</option>
<option value="Fiduciary Services">Fiduciary Services</option>
<option value="Specialist Support Services">Specialist Support Services</option>

	</select>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_53fa8e0401" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[7]='MMERGE7';ftypes[7]='text';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='phone';fnames[0]='EMAIL';ftypes[0]='email';fnames[5]='MMERGE5';ftypes[5]='url';fnames[4]='MMERGE4';ftypes[4]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
    </div>
</section>


<style>

    .selectric b.button{
        display:none;
    }

    .bg-blue.text-white.groupfooter {
        margin-top: -33px;
    }

    #mc_embed_signup label {
        color: #000 !important;
    }

    .form-composite > legend, .label{
        font-weight: normal !important;
    }

    @media(max-width:415px){
        .bg-blue.text-white.groupfooter {
        margin-top: 0px;
        }

        .banner-area {
            position: relative;
            top: 40px;
        }

        .banner-area > h1{
            font-size: 17pt !important;
        }

        .banner-area > h1 > span{
            font-size: 12pt !important;
        }
    }

    .banner-images{
            padding-top: 0%;
        }

    @media screen and (max-width: 560px){
        .banner-images{
            padding-top: 30%
        }
    }

    @media(max-width:768px){
        #mc_embed_signup .size1of2{
            width: 100% !important;
        }
    }
</style>

<script>
    document.getElementById("mce-MMERGE5").value = window.location.href;
</script>


<script type="text/javascript">

    document.getElementById('quietest').style.display = 'none';

</script>