{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{# <link rel="stylesheet" href="http://dev.bluevinegroup.co.za/ppsdrupal/themes/custom/refresh/assets/fonts/whitney/font-styles.css">
<link rel="stylesheet" href="http://dev.bluevinegroup.co.za/ppsdrupal/themes/custom/refresh/assets/css/bankingmain.css">
<link rel="stylesheet" href="http://dev.bluevinegroup.co.za/ppsdrupal/themes/custom/refresh/assets/css/bankingcustom.css"> #}
		
    {% set banner_caption %}
     {{ content.field_banner_caption }}
    {% endset %}	
<div class="c-section -space-medium banner-top-spacing" id="section-home">
    <div class="c-section-photo card-and-payments-banner"> 
      <div id="card-and-payments-banner" hidden> 
        {{content.field_banner_image}} 
      </div> 
    </div>
    <div class="c-container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">

            <div class="u-space">
            </div>
        
            <div class="banner-text-background">
         
                <h1 class="">
                {{ node.label }}
                </h1>
                {# <p class="u-text-lead">
                {{banner_caption|striptags}}
                </p> #}
            </div>
          
        
         

        </div>
      </div>
    </div>
</div>

<!--section product -->


{% set prductlink1 %}
     {{ content.field_product_link }}
{% endset %}
{% set prductlink2 %}
     {{ content.field_product_link_2 }}
{% endset %}	
{% set product_decription2 %}
     {{ content.field_product_decription_2 }}
{% endset %}	
{% set product_decription %}
     {{ content.field_product_decription }}
{% endset %}	

{% set productname %}
     {{ content.field_productname }}
{% endset %}	
{% set product_name_2 %}
     {{ content.field_product_name_2 }}
{% endset %}





<div class="c-section -space-small" id="section-rewards"> 
			<div class="c-container">

				<div class="row -gutter-medium">
					<div class="col-md-6 col-sm-12 ">
						<!-- Team -->
						<div class="c-team-4 -align-left">
							<div class="c-team-4-photo" >
								<a href={{ prductlink1|striptags }}>
                  {# <img id="credit-card-image" src="#" title="PPS Credit Card" alt="PPS Credit Card"> #}
                 <div> {{content.field_productimage}}</div>
                </a>
							</div>
							<div class="c-team-4-info">
								<h2 class="u-text-title"><a href={{ prductlink1|striptags }} title="PPS Credit Card" class="u-color-blue">{{productname|striptags}}</a></h2>
								<p class="u-color-grey">{{product_decription|striptags}}</p>
							</div>
						</div>
						<p class="u-margin-top-40 u-text-center">
            {# <div id="product-link" hidden>{{content.field_product_link}}</div> #}
             <a href={{ prductlink1|striptags }} title="More on PPS Credit Card" class="btn btn-light-blue btn-rounded product-link-card-and-payments">More on PPS Credit Card<i class="icon-chevron-right2"></i></a></p>
						<!-- Team End -->
					</div>
					<div class="col-md-6 col-sm-12">
						<!-- Team -->
						<div class="c-team-4 -align-left">
							<div class="c-team-4-photo" >
								<a href={{ prductlink2|striptags }}>
                <div >{{content.field_productimage2}}</div>
                {# <img src="assets/images/square-merchant-solutions.jpg" title="PPS Payment Solutions" alt="Payment Solutions"> #}
                </a>
							</div>
							<div class="c-team-4-info">
								<h2 class="u-text-title"><a href={{ prductlink2|striptags }} title="More on Merchant Solutions" class="u-color-blue">{{product_name_2|striptags}}</a></h2>
								<p class="u-color-grey">{{product_decription2|striptags}}</p>
							</div>
						</div>
						<!-- Team End -->
						<p class="u-margin-top-40 u-text-center">
            {# <div hidden id="product-link-2">{{content.field_product_link_2}} </div> #}
      
            <a href={{ prductlink2|striptags }} title="More on PPS Payment Solutions" class="btn btn-light-blue btn-rounded product-link-card-and-payments">More on PPS Payment Solutions<i class="icon-chevron-right2"></i></a></p>
					</div>

				</div>


			</div>
		</div>
    <!--bottom banner-->
    <div class="c-section -space-large -bg-grey -margin-top-20" id="section-apply">
     
			<div class="c-section-photo card-and-payments-bottom-footer"></div>
			 <div id="card-and-payments-bottom-footer"> {{content.field_bottom_banner_image}} </div>
      <div class="c-container">
				<!-- About -->
				<div class="row">
					<div class="col-md-7">
						<!-- Heading -->
						<!-- <h6 class="u-text-sup">LET'S TALK</h6> -->
						<h2 class="u-text-title">{{content.field_bottom_banner_caption}}</h2>
						<!-- Heading End -->
						<!-- <p class="u-margin-top-40"><a href="#." title="Contact us" class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle">Contact Us<i class="c-button-1-icon -right ion-chevron-right"></i></a></p> -->
					</div>
				</div>
				<!-- About End -->
			</div>
		</div>
    <!--bottom banner end-->
<!--section products end-->

<style>

.product-link-card-and-payments{
    margin-left:0px !important;
}
@media (max-width: 575px) {
  .c-team-4.-align-left {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .c-team-4.-align-left .c-team-4-photo a,
  .c-team-4.-align-left .c-team-4-photo img {
    display: inline-block;
  }
}
.c-team-4.-align-left .c-team-4-info {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media (max-width: 575px) {
  .c-team-4.-align-left .c-team-4-info {
    padding-top: 20px;
  }
}
@media (min-width: 576px) {
  .c-team-4.-align-left .c-team-4-info {
    padding-top: 10px;
    padding-left: 30px;
  }
}
@media (max-width: 575px)
{
.c-container {
    padding-left: 30px;
    padding-right: 30px;
}
}
.u-text-title > a {
    font-size: 30px !important;
    font-weight: 300 !important;
    padding:0px !important;
}
.u-text-title{
line-height: 1.1;
}

.u-text-title :hover{
    color:#091e35 !important;
}
.product-link-card-and-payments:hover{
    font-size: 12px !important;
}

.product-link-card-and-payments{
border-width: 2px;
    height: 50px;
    line-height: 46px;
    padding: 0 25px !important;
    font-size: 12px;
}
    .row.-gutter-medium > .col,
.row.-gutter-medium > [class*="col-"] {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;
}
.u-margin-top-40 {
  margin-top: 40px !important;
}
.u-text-title{ color: #091e35 }

   .card-and-payments-product-name{
      font-size: unset;
      margin-bottom: -25px !important;
   } 
.u-text-title {
  font-size: 38px !important;
  font-weight: 100 !important;
}
.u-text-title small {
  font-weight: 100 !important;
}
@media (max-width: 767px) {
  .u-text-title {
    font-size: 26px !important;
  }
}
.u-text-title{ font-weight: 300 !important;}
.u-color-blue{ color: #091e35 !important }
{#  #}
p:last-child {
    margin-bottom: 0;
}
.u-text-lead {
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #091e35;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.banner-text-background {
    background: rgba(255,255,255,0.4);
    padding: 20px;
    border-radius: 3px;
}
.u-space {
    min-height: 1px;
    margin-top: 25px;
    margin-bottom: 24px;
}
.-margin-top-20{
    margin-top:20px;
}
  .c-section.-space-medium {
     
      padding-top: 120px;
      padding-bottom: 100px;
  }
.c-section-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.c-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px)
{
.c-container {
    padding-left: 50px;
    padding-right: 50px;
}
}
.row.-gutter-medium {
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -50px;
}
.c-section-video + .c-container, .c-section-photo + .c-container, .c-section-overlay + .c-container {
    position: relative;
}
.c-section.-space-small {
    padding-top: 50px;
    padding-bottom: 50px;
}

.c-section {
    position: relative;
    background-color: #ffffff;
}
.row.-gutter-medium {
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -50px;
}

element.style {
}
.c-team-4 {
    display: -webkit-flex;
    display: flex;
}
.c-team-4-photo {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.c-team-4-photo a, .c-team-4-photo img {
    display: block;
}
@media (min-width: 576px)
{
.c-team-4.-align-left .c-team-4-info {
    padding-top: 10px;
    padding-left: 30px;
}
}

.c-team-4.-align-left .c-team-4-info {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.u-text-title {
    color: #091e35;
}

.u-text-title {
    font-size: 38px !important;
    font-weight: 300 !important;
    margin-bottom: 5px;
}
p:last-child {
    margin-bottom: 0;
}

.u-color-grey {
    color: #777777 !important;
}
.u-color-grey {
    color: #888888 !important;
    font-size: 15px !important;
    font-weight: 400;
    line-height: 1.5;
}
.c-team-4-photo img {
    border-radius: 0;
    width: 250px;
    height:auto;
}
.u-text-center {
    text-align: center !important;
}
.u-margin-top-40 {
    margin-top: 40px !important;
}
.c-button-1.-corner-circle {
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
}

.c-button-1.-size-medium {
    border-width: 2px;
    height: 50px;
    line-height: 46px;
    padding: 0 25px;
    font-size: 12px;
}
.c-button-1.-color-green-outline {
    color: #9ab1bc;
    border-color: #9ab1bc;
    background-color: transparent;
}
.btn-lightblue {
    background-color: #69c5d1 !important;
    border-color: #69c5d1 !important;
    color: #091e35 !important;
}
.c-button-1 {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: normal;
    cursor: pointer;
    border-style: solid;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.c-section.-space-large {
    padding-top: 120px;
    padding-bottom: 120px;
}
@media (min-width: 1200px)
{
    .c-section.-space-large {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
@media (max-width: 575px) {
  .c-team-4.-align-left .c-team-4-info {
    padding-top: 20px;
  }
  .c-section-photo{
    top:-24px;
}
}
@media (min-width: 576px) {
  .c-team-4.-align-left .c-team-4-info {
    padding-top: 10px;
    padding-left: 30px;
  }
}
@media (min-width: 576px){
.c-container {
    padding-left: 50px;
    padding-right: 50px;
}

}
</style>




