<style>
	label { color: #ffffff; }
	.card p { color: #000000; font-weight: normal; font-size: 12px; }
	.text-shadows { text-shadow: 2px 2px #0f6d7b; }
	.card-img { height: 120px; width: auto; }
	.speaker-body { color: #ffffff; }
	.speaker-body p { color: #ffffff; }
	.btn-fit { width: 100%; font-weight: normal; white-space: normal; }
	.btn-fit .btn-sm-text { font-size: 12px; }
	.campaign-footer { text-align: center; }
	#campaign-rsvp input[type="text"], #campaign-rsvp input[type="number"], #campaign-rsvp input[type="email"] {
		border-radius: 3px; border: 1px solid #ABB0B2; padding: 10px; font-size: 12px; width: 100%;
	}
	#campaign-rsvp textarea, #campaign-rsvp .form-textarea-wrapper textarea {
		width: 100% !important; border: 1px solid #ABB0B2; padding: 10px; font-size: 12px;
	}
	.selectric-wrapper { margin-top: 4px; }
	.selectric { border-radius: 3px; border: 1px solid #ABB0B2; background-color: #ffffff; }
	#campaign-rsvp .form-submit:hover { border: 1px solid rgb(139, 143, 145) !important; background-color: rgb(139, 143, 145) !important; }
	#campaign-rsvp .form-submit { border-radius: 3px; border: 1px solid #ABB0B2 !important; background-color: #ABB0B2 !important; color: #ffffff; padding: 10px; }
	#error-box:empty { display: none; }
	.is-invalid { border-color: #f00 !important; }
	#business-container.is-invalid .selectric-wrapper .selectric { border-color: #f00 !important; }
	.form-check-label { text-transform: uppercase; }
	.sub-text-form { font-size: 12px; }
	.card-body-text p { font-size: 14px; }
	.font-20 { font-size: 20px; }
	input[disabled] { display: none; }
</style>
<!-- Campaign Section -->
{% if content.field_banner_image|render  %}
    <section  id="section-fp-image" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="background-size: cover;">		
		<div id="card-and-payments-banner" hidden> {{content.field_banner_image}}</div>
		<div class="container">
          <div class="banner-area banner-text">
            <h1 class="mb-0">{{ node.label }}</h1>				
          </div>
		</div>
    </section>	
{% endif %}
<!-- /End Campaign Section -->
<div class="bg-blue text-white">
	<div class="container pt-2 pb-2">
		{% if content.field_campaign_header|render  %}
			<h2 class="mb-1">{{ content.field_campaign_header }}</h2>
		{% endif %}
		<div class="mt-1">
			{% if content.body|render  %}
				{{ content.body }}
			{% endif %}
		</div>
	</div>
</div>
<!-- Document section start -->
<div class="bg-light">
	<div class="container pt-2 pb-2">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-12 font-20">
				{% if content.field_campaign_doc_text|render  %}
					{{ content.field_campaign_doc_text }}
				{% endif %}
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12">
				{% if node.field_campaign_document %}
					<a class="btn btn-info text-white" href="{{file_url(node.field_campaign_document.entity.fileuri)}}">
						<strong>Click here</strong>
						<p>to download Infographic</p>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<!-- Document section end -->
<!-- Card Box Section start -->
<div class="card-box pt-2 pb-2">
	<div class="container">
		<h2 class="mb-2 text-blue">{{ content.field_card_box_header }}</h2>
		{% if content.field_card_box_bod|render  %}
			<h4 class="text-gray">{{ content.field_card_box_bod }}</h4>
		{% endif %}
		<div class="row">
			{% for cardgroup in node.field_campaign_card %}
				<div class="col-lg-6 col-md-6 col-sm-12 mt-3">
					<div class="card bg-info col-lg-12 col-md-12 col-sm-12">
						<h2 class="text-center bg-blue text-white font-weight-bold pl-1 pr-1" style="margin-top: -20px">
							{{ cardgroup.getFieldCollectionItem().field_card_dates.value }}
						</h2>
						<h4 class="font-weight-bold text-white text-shadows">
							{{ cardgroup.getFieldCollectionItem().field_card_header.value }}
						</h4>
						<h4 class="text-white">
							{{ cardgroup.getFieldCollectionItem().field_card_sub_header.value }}
						</h3>
						<div class="card-body-text mb-1">
							{{ cardgroup.getFieldCollectionItem().field_card_body.value|raw }}
						</div>
						{#
						{% if loop.first %}
						<div class="dropdown">
							<button class="btn btn-secondary btn-sm btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add to Calendar</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="http://addtocalendar.com/atc/ical?utz=120&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=2020-06-17%2013%3A00%3A00&amp;e[0][date_end]=2020-06-17%2015%3A00%3A00&amp;e[0][title]=SAFEGUARDING%20YOUR%20BUSINESS%20FROM%20THE%20CREDITORS%20STING&amp;e[0][description]=Join%20us%20to%20find%20out%20how%20you%20can%20prepare%20and%20protect%20your%20business%20against%20capital%20claims%20that%20may%20arise%20upon%20the%20death%20of%20a%20shareholder&amp;e[0][location]=Web&amp;e[0][organizer]=PPS&amp;e[0][organizer_email]=info%40pps.co.za&amp;e[0][timezone]=Africa%2FJohannesburg&amp;e[0][privacy]=public" target="_blank" rel="nofollow">iCalendar</a>
								<a class="dropdown-item" href=http://addtocalendar.com/atc/google?utz=120&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=2020-06-17%2013%3A00%3A00&amp;e[0][date_end]=2020-06-17%2015%3A00%3A00&amp;e[0][title]=SAFEGUARDING%20YOUR%20BUSINESS%20FROM%20THE%20CREDITORS%20STING&amp;e[0][description]=Join%20us%20to%20find%20out%20how%20you%20can%20prepare%20and%20protect%20your%20business%20against%20capital%20claims%20that%20may%20arise%20upon%20the%20death%20of%20a%20shareholder&amp;e[0][location]=Web&amp;e[0][organizer]=PPS&amp;e[0][organizer_email]=info%40pps.co.za&amp;e[0][timezone]=Africa%2FJohannesburg&amp;e[0][privacy]=public" target="_blank" rel="nofollow">Google Calendar</a>
								<a class="dropdown-item" href="http://addtocalendar.com/atc/outlook?utz=120&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=2020-06-17%2013%3A00%3A00&amp;e[0][date_end]=2020-06-17%2015%3A00%3A00&amp;e[0][title]=SAFEGUARDING%20YOUR%20BUSINESS%20FROM%20THE%20CREDITORS%20STING&amp;e[0][description]=Join%20us%20to%20find%20out%20how%20you%20can%20prepare%20and%20protect%20your%20business%20against%20capital%20claims%20that%20may%20arise%20upon%20the%20death%20of%20a%20shareholder&amp;e[0][location]=Web&amp;e[0][organizer]=PPS&amp;e[0][organizer_email]=info%40pps.co.za&amp;e[0][timezone]=Africa%2FJohannesburg&amp;e[0][privacy]=public" target="_blank" rel="nofollow">Outlook</a>
								<a class="dropdown-item" href="http://addtocalendar.com/atc/outlookonline?utz=120&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=2020-06-17%2013%3A00%3A00&amp;e[0][date_end]=2020-06-17%2015%3A00%3A00&amp;e[0][title]=SAFEGUARDING%20YOUR%20BUSINESS%20FROM%20THE%20CREDITORS%20STING&amp;e[0][description]=Join%20us%20to%20find%20out%20how%20you%20can%20prepare%20and%20protect%20your%20business%20against%20capital%20claims%20that%20may%20arise%20upon%20the%20death%20of%20a%20shareholder&amp;e[0][location]=Web&amp;e[0][organizer]=PPS&amp;e[0][organizer_email]=info%40pps.co.za&amp;e[0][timezone]=Africa%2FJohannesburg&amp;e[0][privacy]=public" target="_blank" rel="nofollow">Outlook Online</a>
								<a class="dropdown-item" href=href="http://addtocalendar.com/atc/yahoo?utz=120&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=2020-06-17%2013%3A00%3A00&amp;e[0][date_end]=2020-06-17%2015%3A00%3A00&amp;e[0][title]=SAFEGUARDING%20YOUR%20BUSINESS%20FROM%20THE%20CREDITORS%20STING&amp;e[0][description]=Join%20us%20to%20find%20out%20how%20you%20can%20prepare%20and%20protect%20your%20business%20against%20capital%20claims%20that%20may%20arise%20upon%20the%20death%20of%20a%20shareholder&amp;e[0][location]=Web&amp;e[0][organizer]=PPS&amp;e[0][organizer_email]=info%40pps.co.za&amp;e[0][timezone]=Africa%2FJohannesburg&amp;e[0][privacy]=public" target="_blank" rel="nofollow">Yahoo! Calendar</a>
							</div>
						</div>
						{% else %}
						<div class="dropdown">
							<button class="btn btn-secondary btn-sm btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add to Calendar</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="http://addtocalendar.com/atc/ical?utz=120&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=2020-07-01%2013%3A00%3A00&amp;e[0][date_end]=2020-07-01%2015%3A00%3A00&amp;e[0][title]=KEEP%20THE%20BALL%20ROLLING%3A%20INSURING%20AGAINST%20THE%20LOSS%20OF%20YOUR%20NUMBER%20ONE%20PLAYER%20&amp;e[0][description]=Join%20us%20to%20find%20out%20how%20you%20can%20insure%20the%20business%20against%20the%20loss%20of%20the%20owner%20or%20a%20key%20employee%20whose%20services%20and%20knowledge%20are%20instrumental%20to%20the%20continuing%20success%20of%20the%20business&amp;e[0][location]=Web&amp;e[0][organizer]=PPS&amp;e[0][organizer_email]=info%40pps.co.za&amp;e[0][timezone]=Africa%2FJohannesburg&amp;e[0][privacy]=public" target="_blank" rel="nofollow">iCalendar</a>
								<a class="dropdown-item" href=http://addtocalendar.com/atc/google?utz=120&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=2020-07-01%2013%3A00%3A00&amp;e[0][date_end]=2020-07-01%2015%3A00%3A00&amp;e[0][title]=KEEP%20THE%20BALL%20ROLLING%3A%20INSURING%20AGAINST%20THE%20LOSS%20OF%20YOUR%20NUMBER%20ONE%20PLAYER%20&amp;e[0][description]=Join%20us%20to%20find%20out%20how%20you%20can%20insure%20the%20business%20against%20the%20loss%20of%20the%20owner%20or%20a%20key%20employee%20whose%20services%20and%20knowledge%20are%20instrumental%20to%20the%20continuing%20success%20of%20the%20business&amp;e[0][location]=Web&amp;e[0][organizer]=PPS&amp;e[0][organizer_email]=info%40pps.co.za&amp;e[0][timezone]=Africa%2FJohannesburg&amp;e[0][privacy]=public" target="_blank" rel="nofollow">Google Calendar</a>
								<a class="dropdown-item" href="http://addtocalendar.com/atc/outlook?utz=120&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=2020-07-01%2013%3A00%3A00&amp;e[0][date_end]=2020-07-01%2015%3A00%3A00&amp;e[0][title]=KEEP%20THE%20BALL%20ROLLING%3A%20INSURING%20AGAINST%20THE%20LOSS%20OF%20YOUR%20NUMBER%20ONE%20PLAYER%20&amp;e[0][description]=Join%20us%20to%20find%20out%20how%20you%20can%20insure%20the%20business%20against%20the%20loss%20of%20the%20owner%20or%20a%20key%20employee%20whose%20services%20and%20knowledge%20are%20instrumental%20to%20the%20continuing%20success%20of%20the%20business&amp;e[0][location]=Web&amp;e[0][organizer]=PPS&amp;e[0][organizer_email]=info%40pps.co.za&amp;e[0][timezone]=Africa%2FJohannesburg&amp;e[0][privacy]=public" target="_blank" rel="nofollow">Outlook</a>
								<a class="dropdown-item" href="http://addtocalendar.com/atc/outlookonline?utz=120&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=2020-07-01%2013%3A00%3A00&amp;e[0][date_end]=2020-07-01%2015%3A00%3A00&amp;e[0][title]=KEEP%20THE%20BALL%20ROLLING%3A%20INSURING%20AGAINST%20THE%20LOSS%20OF%20YOUR%20NUMBER%20ONE%20PLAYER%20&amp;e[0][description]=Join%20us%20to%20find%20out%20how%20you%20can%20insure%20the%20business%20against%20the%20loss%20of%20the%20owner%20or%20a%20key%20employee%20whose%20services%20and%20knowledge%20are%20instrumental%20to%20the%20continuing%20success%20of%20the%20business&amp;e[0][location]=Web&amp;e[0][organizer]=PPS&amp;e[0][organizer_email]=info%40pps.co.za&amp;e[0][timezone]=Africa%2FJohannesburg&amp;e[0][privacy]=public" target="_blank" rel="nofollow">Outlook Online</a>
								<a class="dropdown-item" href=href="http://addtocalendar.com/atc/yahoo?utz=120&amp;uln=en-US&amp;vjs=1.5&amp;e[0][date_start]=2020-07-01%2013%3A00%3A00&amp;e[0][date_end]=2020-07-01%2015%3A00%3A00&amp;e[0][title]=KEEP%20THE%20BALL%20ROLLING%3A%20INSURING%20AGAINST%20THE%20LOSS%20OF%20YOUR%20NUMBER%20ONE%20PLAYER%20&amp;e[0][description]=Join%20us%20to%20find%20out%20how%20you%20can%20insure%20the%20business%20against%20the%20loss%20of%20the%20owner%20or%20a%20key%20employee%20whose%20services%20and%20knowledge%20are%20instrumental%20to%20the%20continuing%20success%20of%20the%20business&amp;e[0][location]=Web&amp;e[0][organizer]=PPS&amp;e[0][organizer_email]=info%40pps.co.za&amp;e[0][timezone]=Africa%2FJohannesburg&amp;e[0][privacy]=public" target="_blank" rel="nofollow">Yahoo! Calendar</a>
							</div>
						</div>
						{% endif %}
						#}
						<p>&nbsp;</p>
						<h5 class="text-white font-weight-bold">Speakers</h5>
						<div class="row">
							{% for speakergroup in cardgroup.getFieldCollectionItem().field_speaker %}
								<div class="col-sm-6 col-xs-12">
									<h5 class="font-weight-bold mb-0">
										{{ speakergroup.getFieldCollectionItem().field_speaker_name.value }}
									</h5>
									{% if speakergroup.getFieldCollectionItem().field_speaker_tit.value %}
										<p class="mb-0">{{ speakergroup.getFieldCollectionItem().field_speaker_tit.value }}</p>
									{% endif %}
									{% if speakergroup.getFieldCollectionItem().field_speaker_sub_title.value %}
										<p>{{ speakergroup.getFieldCollectionItem().field_speaker_sub_title.value }}</p>
									{% endif %}
									{% if speakergroup.getFieldCollectionItem().field_speaker_image.value %}
										<img class="card-img mb-1" 
											src="{{ file_url(speakergroup.getFieldCollectionItem().field_speaker_image.entity.uri.value) }}" 
											alt="{{ speakergroup.getFieldCollectionItem().field_speaker_image.alt }}" 
											title="{{ speakergroup.getFieldCollectionItem().field_speaker_image.title }}">
									{% endif %}
									{% if speakergroup.getFieldCollectionItem().field_speaker_description.value %}
										<div class="speaker-body">{{ speakergroup.getFieldCollectionItem().field_speaker_description.value|raw }}</div>
									{% endif %}
								</div>
							{% endfor %}
						</div>
						<div style="margin-bottom: -20px;">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12 pr-0">
									<a class="btn btn-blue btn-fit col-xs-12 text-white pl-1 pr-1" href="#campaignform">
										<strong>Register to attend</strong><br />
										<span class="btn-sm-text">
											{% if cardgroup.getFieldCollectionItem().field_attend_date.value %}
												Opens {{ cardgroup.getFieldCollectionItem().field_attend_date.value }}</span>
											{% else %}	
												Closed
											{% endif %}
											
									</a>
								</div>
								{% if cardgroup.getFieldCollectionItem().field_webinar_date.value %}
									<div class="col-md-4 col-sm-4 col-xs-12 pl-1 pr-1">
										<a class="btn btn-blue btn-fit col-xs-12 text-white pl-1 pr-1"  
											href="{{ cardgroup.getFieldCollectionItem().field_webinar_summary_url.value }}" 
											target="_blank">
											<strong>Webinar summary</strong><br />
											<span class="btn-sm-text">Available {{ cardgroup.getFieldCollectionItem().field_webinar_date.value }}</span>
										</a>
									</div>
								{% endif %}
								{% if cardgroup.getFieldCollectionItem().field_recording_date.value %}
									<div class="col-md-4 col-sm-4 col-xs-12 pl-0">
										<a class="btn btn-blue btn-fit col-xs-12 text-white pl-1 pr-1" 
											href="{{ cardgroup.getFieldCollectionItem().field_recording_url.value }}" 
											target="_blank">
											<strong>Watch<br />recording</strong><br />
											<span class="btn-sm-text">Available {{ cardgroup.getFieldCollectionItem().field_recording_date.value }}</span>
										</a>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- Card Box Section end -->
<!-- Footer Section start -->
{% if content.field_campaign_footer %}
	<div>
		<div class="container mt-2 mb-2 campaign-footer">
			{{ content.field_campaign_footer }}
		</div>
	</div>
{% endif %}
<!-- Footer Section end -->
<!-- Form Section start -->
<div id="campaignform" class="pt-4 pb-2" style="background-image:url(/themes/custom/refresh/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center 0px; background-repeat:no-repeat">
	<form id="campaign-rsvp">
		<div class="container boxed p-4" style="background: rgba(9,30,53,0.8)">
			<h2 class="text-white mb-1 mt-0 text-center justify-content-between align-items-center">RSVP</h2>
			<div class="row">
				<div id="error-box" class="col-sm-12 p-1 alert alert-danger"></div>
				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<div class="form-item">
						<label for="firstName" class="form-required">First Name</label>
						<input id="firstName" type="text" name="firstName" class="form-text required">
					</div>
				</div>
				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<div class="form-item">
						<label for="lastName" class="form-required">Last Name</label>
						<input id="lastName" type="text" name="lastName" class="form-text required">
					</div>
				</div>
				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<div class="form-item">
						<label for="cellphoneNumber" class="form-required">Cellphone Number</label>
						<input id="cellphoneNumber" type="number" name="cellphoneNumber" class="form-text required">
					</div>
				</div>
				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<div class="form-item">
						<label for="emailAddress" class="form-required">Email Address</label>
						<input id="emailAddress" type="email" name="emailAddress" class="form-text required">
					</div>
				</div>
				<!-- 
				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<div id="rsvp-container" class="form-item">
						<label for="rsvpOption" class="form-required">RSVP Option</label>
						<select id="rsvpOption" name="rsvpOption">
							<option value="">- Select -</option>
							<option value="accept">Accept</option>
							<option value="decline">Decline</option>
						</select>
					</div>
				</div>
				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<div id="dietary-container" class="form-item">
						<label for="dietaryRequirements" class="form-required">Dietary requirements</label>
						<select id="dietaryRequirements" name="dietaryRequirements">
							<option value="">- Select -</option>
							<option value="Halaal">Halaal</option>
							<option value="None">None</option>
							<option value="Vegetarian">Vegetarian</option>
							<option value="Kosher">Kosher</option>
						</select>
					</div>
				</div>
				-->
				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<div class="form-item mb-0">
						<label for="IDNumber" class="form-required">ID Number</label>
						<input id="IDNumber" type="number" name="IDNumber" class="form-text required">
					</div>
					<p class="sub-text-form">Please note that your ID/Passport number is completely safe with us</p>
				</div>
				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<div id="business-container" class="form-item">
						<label for="businessOwner" class="form-required">Are you currently a business owner?</label>
						<select id="businessOwner" name="businessOwner">
							<option value="">- Select -</option>
							<option value="Yes">Yes</option>
							<option value="No">No</option>
						</select>
					</div>
					</div>
				</div>
				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<div id="cardgroup-container" class="form-item">
						<label class="form-required">Webinar(s) I will be attending</label>
						{% for cardgroup in node.field_campaign_card %}
							<div class="form-check">
								{% if cardgroup.getFieldCollectionItem().field_attend_date.value|render %}
									<input class="form-check-input" type="checkbox" value="{{ cardgroup.getFieldCollectionItem().field_card_dates.value }}" 
										id="card-{{loop.index}}">
									<label class="form-check-label" for="card-{{loop.index}}">
										{{ cardgroup.getFieldCollectionItem().field_card_dates.value }}
									</label>
								{% else %}
									<input class="form-check-input" type="checkbox" value="{{ cardgroup.getFieldCollectionItem().field_card_dates.value }}" 
										id="card-{{loop.index}}" disabled >
									<label class="form-check-label" for="card-{{loop.index}}">
										{{ cardgroup.getFieldCollectionItem().field_card_dates.value }} (Closed)
									</label>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="form-group col-lg-12 col-md-12 col-sm-12">
					<div class="form-item">
						<label for="notes">Notes</label>
						<div class="form-textarea-wrapper">
							<textarea id="notes" class="form-textarea resize-vertical" name="notes" rows="5" cols="60"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group col-lg-12 col-md-12 col-sm-12">
					<input type="button" onClick="campaignSubmit()" value="Submit" class="button form-submit">
				</div>
			</div>
		</div>
	</form>
</div>

<script>

    function campaignSubmit() {
		var firstName = $("#firstName");
		var lastName = $("#lastName");
		var cellphoneNumber = $("#cellphoneNumber");
		var emailAddress = $("#emailAddress");
		var IDNumber = $("#IDNumber");
		var businessOwner = $("#businessOwner");
		var notes = $("#notes");
		var attend = false;
		var errorMessage = "";
		
		// Clear error indicators
		$("#error-box").empty();
		
		if($("#firstName").hasClass("is-invalid")){
			$("#firstName").removeClass("is-invalid");
		};
		if($("#lastName").hasClass("is-invalid")){
			$("#lastName").removeClass("is-invalid");
		};
		if($("#cellphoneNumber").hasClass("is-invalid")){
			$("#cellphoneNumber").removeClass("is-invalid");
		};
		if($("#emailAddress").hasClass("is-invalid")){
			$("#emailAddress").removeClass("is-invalid");
		};
		
		if($("#IDNumber").hasClass("is-invalid")){
			$("#IDNumber").removeClass("is-invalid");
		};
		
		if($("#business-container").hasClass("is-invalid")){
			$("#business-container").removeClass("is-invalid");
		};
		
		// Validate
		if(!firstName.val()) {
			errorMessage = "Please enter your name.";
			$("#error-box").append(errorMessage);
			$("#firstName").addClass("is-invalid");
			return false;
		};
		
		if(!lastName.val()) {
			errorMessage = "Please enter your last name.";
			$("#error-box").append(errorMessage);
			$("#lastName").addClass("is-invalid");
			return false;
		};
		
		if(!cellphoneNumber.val()) {
			errorMessage = "Please enter a cellphone number.";
			$("#error-box").append(errorMessage);
			$("#cellphoneNumber").addClass("is-invalid");
			return false;
		};
		
		if(!IDNumber.val()) {
			errorMessage = "Please your ID Number.";
			$("#error-box").append(errorMessage);
			$("#IDNumber").addClass("is-invalid");
			return false;
		};
		
		if(businessOwner.val() === '') {
			errorMessage = "Please select if you are a business owner.";
			$("#error-box").append(errorMessage);
			$("#business-container").addClass("is-invalid");
			return false;
		};
		
		var emailExp = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
		if(!emailAddress.val() || !emailAddress.val().match(emailExp)) {
			errorMessage = "Please enter a a correct email address.";
			$("#error-box").append(errorMessage);
			$("#emailAddress").addClass("is-invalid");
			return false;
		};
		
		//var sList = "";
		var checkBox1 = "";
		var checkBox2 = "";
		$('input[type=checkbox]').each(function () {
			if(this.checked) { 
				attend = true;
				if($(this).val() === "Wednesday 17 June 2020, 1:00 PM") {
					checkBox1 = $(this).val() + " - checked";
				}
				if($(this).val() === "Wednesday 1 July 2020, 1:00 PM") {
					checkBox2 = $(this).val() + " - checked";
				}
				// sList += "(" + $(this).val() + " - checked" + ")";
			};
		});
		
		if(!attend) {
			errorMessage = "Please select the event you wish to attend";
			$("#error-box").append(errorMessage);
			// $("#dietary-container").addClass("is-invalid");
			return false;
		}
		var IDNumber = $("#IDNumber");
		var businessOwner = $("#businessOwner");

		var jsonArray = {
			"contactNumber":cellphoneNumber.val(),
			"dietaryRequirement":checkBox1,
			"emailAddress":emailAddress.val(),
			"firstName":firstName.val(),
			"notes":"Business Owner: " + businessOwner.val() + ", Notes: " + notes.val(),
			"province": IDNumber.val(),
			"referringUrl":"protectinsure/business-assurance-uncomplicating-uncertainty",
			"rsvpOption":checkBox2,
			"rsvpType":"Campaign Page",
			"standardisedFormType":"rsvp",
			"surname":lastName.val()
		};
		
		console.log(jsonArray);
		
		$.ajax({
      cache: false,
      contentType:'application/json',
      method: 'POST',
      url: 'https://integrations.pps.co.za/api/v1/standardisedForm',
      data: JSON.stringify({
				"contactNumber":cellphoneNumber.val(),
				"dietaryRequirement":checkBox1,
				"emailAddress":emailAddress.val(),
				"firstName":firstName.val(),
				"notes":"Business Owner: " + businessOwner.val() + ", Notes: " + notes.val(),
				"province": IDNumber.val(),
				"referringUrl":"protectinsure/business-assurance-uncomplicating-uncertainty",
				"rsvpOption":checkBox2,
				"rsvpType":"Campaign Page",
				"standardisedFormType":"rsvp",
				"surname":lastName.val()
			}),
      error: function (data) {
        console.log(data);
				return false;
      },
      success: function (data) {
        console.log(data);
        window.location = "/rsvp-thank-you-business-assurance";
				return false;
      },
      complete: function(data){
        console.log(data);
				return false;
      }
    });
		
		return false;
	}   
	

</script>