<section class="pt-20 pb-10 banner-top-spacing banner-images"
         style="margin-top: 6px; background-image:url(/{{ active_theme_path() }}/assets/images/thank-you.jpg)">

	<div id="card-and-payments-banner" hidden> <img src="{{ active_theme_path() }}/assets/images/thank-you.jpg">></div>


    <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">
                Please wait a moment
                <br/><span style="font-size: 15pt">You will be redirected shortly</span>
            </h1>
          </div>
    </div>
</section>

{#<section class="pt-0 pb-10">
    <div class="container">
        <div class="text-center">
            <i style="font-size: 110pt; color: #091E35 !important; text-shadow: 5px 5px #ded9d9;" class="far fa-check-square"></i>
            <br/><br/>
            <span style="font-size: 15pt;"><a style="color: #B09455; font-size: 12pt;" href="/">Click here</a> to redirect Home.</span>
        </div>
    </div>
</section> #}

<style>
    .bg-blue.text-white.groupfooter {
        margin-top: -33px;
    }

    @media(max-width:415px){
        .bg-blue.text-white.groupfooter {
        margin-top: 0px;
    }

        .banner-area {
            position: relative;
            top: 40px;
        }

        .banner-area > h1{
            font-size: 17pt !important;
        }

        .banner-area > h1 > span{
            font-size: 12pt !important;
        }
    }
</style>

<script>
    window.location.href="https://www.pps.co.za/invest/start-investment";
</script>