{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_pps_ra_banner|striptags|trim %}
	<!-- cover -->	
   

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner bannertop banner-images">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_pps_ra_banner}}</div>
      {# </div> #}
        
			  <div class="container">
          <div class="banner-area">
              <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>    
          </div>
			  </div>
    </section> 
	
			<!-- / cover -->

    {# First Product Section #}
    <section id="Intro">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div>
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-12">
                  <h2 class=" text-blue">{{content.field_pps_ra_intro_title}}</h2>
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>
	
  
  {# Featured Image #}

    <section style="padding: 2.25rem 0 !important;">
      <div class="container">
        
        <div class="justify-content-between">

          <div class="mb-2 row">
            {{content.field_rcc_content}}
          </div>

        </div>

      </div>
    </section>

    {# First Product Section #}
    <section id="FAQs" class="pt-6 pb-6 bg-light" style="padding-bottom:3.75rem !important; margin-bottom: 0px !important;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">
            <div>
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-12">
                  <h2 class=" text-blue">{{content.field_pps_ra_faq_title}}</h2>
                </div>

              </div>

              {# <h3 class="mt-5">PPS Portfolio Choice</h3>
                <div style="border: 2px solid #ccc; padding: 10px; font-weight: bold">
                  Portfolio Choice Take Control of your PPS Profit-Share Account
                </div> #}

              <div id="accordion">
			
						  </div>

            </div>
           </div>
          </div>
        </div>
      </section>


    <section id="termsandconditions" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">
            <div>
              <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-3 col-lg-3">
                  <button class="btnTerms text-center" data-toggle="modal" data-target="#myModal">{{content.field_ra_terms_conditions_title}}</button>
                </div>

              </div>


              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header" style="padding: 1rem 1.875rem;border-bottom: 1px solid #ccc;">
                      <h4 class="modal-title">{{content.field_ra_terms_conditions_title}}</h4>
                      <button type="button" class="close" style="position: absolute; right: 15px; top: 10px; z-index:99" data-dismiss="modal" onClick="closeModal()">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body" style="padding: 1rem;">
                      {{content.field_terms_conditions_content}}
                    </div>
                    
                    
                  </div>
                </div>
              </div>

            </div>
           </div>
          </div>
        </div>
      </section>


      <div class="modal" id="myquote">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header" style="padding: 1rem 1.875rem;border-bottom: 1px solid #ccc;">
                      <h4 class="modal-title">Request an Intra-Fund Conversion quote</h4>
                      <button type="button" id="btnclose" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body" style="padding: 1rem;">
                      <iframe width="100%" height="315" src="https://s10u.com/PPS/SectionLeads/Forms/intrafund.php" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                    
                  </div>
                </div>
              </div>

      


      {# <section id="SectionOne" class="bg-light pt-3 pb-3" style="margin-bottom: 0px !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">
            <div>
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-12">
                  <h2 class=" text-blue">{{content.field_ra_more_info}}</h2>
                </div>

              </div>

              <div>
                {{content.field_ra_more_info_content}}
              </div>
            </div>
           </div>
          </div>
        </div>
      </section> #}



  {% include directory ~ '/parts/form-ppsra.html.twig' %}

 

 
  {# Web Chat Start #}

  <div class="drop-msg-investment drop-msg-mobile" style="max-width:100%;width:32.5%; background: rgba(9,30,53,1)!important; right: 15px !important;">
    
    <div class="drop-msg-border-left" style="float:left;max-width: 50%;width: 50%;text-align: center;">
      <a style="display: inline-block;" href="https://portal.ppsisecure.co.za/portal/" class="drop-msg-a" target="_blank">Access the RCC tool via the Secure Site</a>
    </div>
    
    <div style="float:left;max-width: 50%;width:50%; text-align: center;">
      <a href="https://www.pps.co.za/sites/default/files/invest-forms-and-documents/Why%20PPS%20Investments%20email%20version_1.pdf" style="display: inline-block; color: #fff; cursor: pointer; font-weight: 900; text-transform: uppercase; padding: 0.6rem 0.5rem; font-size: 12px;">Discover PPS Investments</a>
    </div>
    
  </div>


  {# 
  <script type="text/javascript" src="https://webchat.pps.co.za/webchat_ucc_investments_chat_public_webchat/sfbwebchatplus/js/jquery-2.1.0.js"></script>
  <script id="anywhere365-sfbwebchatplus-client-index-external" src="https://webchat.pps.co.za/webchat_ucc_investments_chat_public_webchat/sfbwebchatplus/js/anywhere365_sfbwebchatplus_client_index_external.js"></script>
  #}
    
  <script>
    // var optionalArguments = [];
    // Anywhere365WebchatIntegration.Init(optionalArguments);
  </script>


<script src="https://www.pps.co.za/themes/custom/refresh/assets/js/jquery-2.1.4.js"></script>
  <script>
    // Webchat Mobile Script

    console.log('Webchat Script Below');
    
    setTimeout(function(){
      //console.log('PPS: '+ $('#chat_tab').length); 
    
    
      

        $('#chat_tab > span').on("click", function(){
          console.log('Webchat Script 1');
          //alert('PPS Webchat');

            $('.chat_tab_extension').removeAttr('style');

            $('#chat_tab_extension').addClass('displayChat');
            $('.displayChat').removeAttr('id');
        });

        $('.modal-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            /*$('#chat_tab_extension').hide();*/
        });

        $('.anywhere365-sfbwebchatplus-linkbutton').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            $('#chat_tab_extension').hide();
        });

        $('.webchat-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            /*$('#chat_tab_extension').hide();*/
        });

    }, 3000);
</script>
 
  <style>
    div#block-views-block-faq-template-faq-pps-ra-project-block{
      width:100%;
    }

    p small{
      color: #888 !important;
    }

    @media (min-width: 576px){
      .modal-dialog {
          max-width: 900px;
          margin: 1.75rem auto;
      }
    }

    .btnTerms{
      color: #fff;
      background: #081e34;
      border-radius: 2rem;
      padding: 13px 0px;
      width: 100%;
    }

    .bannertop {
      margin-top: 61px;
      padding-top: 28% !important;
    }

    ul, ol{
      padding-left: 17px;
    }

    li a{
      display: block;
    }

    p a{
      padding: 0px;
    }

    button.btn.btn-link.link-list{
      width: 100%;
      text-align: left;
      color: #091e35;
    }

    h3.categoryTerm{
      display: none;
    }

    .card-header{
      padding: 0.3rem 0rem;
    }

    .card{
      margin-top: 20px;
    }

    .mc-field-group label{
      color: #fff !important;
    }

    .chat-header{
      background-color: rgba(9,30,53,1) !important;
    }

    .call-action{
      font-weight: 900;
      text-transform: uppercase;
      padding: 6px 20px !important;
      font-size: 12px;
      border-color: #091e35;
      background-color: #091e35;
      color: #fff;
      border-radius: 1000px;
    }

      .field__label{
        display:none;
      }

	.file.file--mime-application-pdf.file--application-pdf{
		display: contents;
  }
  

  .file--application-pdf a {
    float: left;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 50px !important;
    font-size: 12px;
    font-weight: 398px;
    border-color: #722c9e;
    background-color: #722c9e;
    color: #fff;
    border-radius: 1000px;
}

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-1-brochure a {
		float:right;
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }
   @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }
    }

  @media screen and (max-width: 1024px){
    #product .drop-msg-investment {
        width: 356px !important;
        bottom: 58px !important;
        padding: 1px 15px !important;
        right: 122px;
    }

    .card-header > button.btn{
      white-space: inherit;
      }
  }
  </style>

<script>
  function isIE() {
    ua = navigator.userAgent;
    /* MSIE used to detect old browsers and Trident used to newer ones*/
    var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;
    
    return is_ie; 
  }
  /* Create an alert to show if the browser is IE or not */
  if (isIE()){
      alert('Some functionality will not be available with your current browser - Best Viewed in Chrome');
  }else{
      //alert('It is NOT InternetExplorer');
  }
</script>







   



