{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_retirement_banner|striptags|trim %}
	<!-- cover -->	
   

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_retirement_banner}}</div>
      {# </div> #}
        
			  <div class="container">
          <div class="banner-area">
              <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
              <div class="direct-contact">{{content.field_banner_subtitle}}</div>

            
          </div>
			  </div>
    </section> 
	
			<!-- / cover -->

    {# First Product Section #}
    <section id="SectionOne" class="pt-6 pb-6" style="padding-bottom:3.75rem !important; margin-top: -9px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-12">
                {{content.field_introduction_paragraph}}
                </div>

              </div>
            </div>


            {{content.field_introduction_3_elements}}

           </div>
          </div>
    </div>
  </section>
	
  
  {# Featured Image #}

    <section class="bg-light" style="padding: 2.25rem 0 !important; margin-top: -9px; margin-bottom: 0px">
      <div class="container">
        

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery mt-5 pt-5" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                      {{content.	field_featured_retirement_image}}
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

          <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_featured_retirement_title}}</h2>

            <div class="mb-2 pl-1">
            	{{content.field_featured_retirement_paragr}}
            </div>

          </div>

        </div>

      </div>
    </section>



    <section style="padding: 2.25rem 0 !important;">
      <div class="container">
        {{content.field_featured_2_icons}}
      </div>
    </section>


    <section style="position: relative;padding: 2.25rem 0 !important;margin-bottom: 0px!important; background: #7ac5d8">
      <img src="/{{ active_theme_path() }}/assets/images/butterfly.png" style="position: absolute;right: 0px;top: 0px;width: 25.8%;"></a>

      <div class="container article">
        {{content.field_articles_heading_and_intro}}

        {{content.field_retirement_article_link}}
      </div>
    </section>


  

 
    <div class="drop-msg drop-msg-mobile">
      <div class="drop-msg-border-left btnLinks ">
          {{ content.field_retirement_brochure }} 
      </div>

      <div class="btnLinks">
        {{content.field_infographic}}
        {# <a href="/{{ active_theme_path() }}/assets/pdf/PPS Retirement Brochure.pdf">3 Steps to retirement savings</a> #}
      </div>

      <div class="btnLinks" style="border-right: 0px">
          <a href="#contactus" class="drop-msg-a">Call Me Back</a>
      </div>
    </div>


    {% include directory ~ '/parts/form-joinpps.html.twig' %}


  
 
  <style>     
    .banner-area h1{
      color: #fff;
      font-weight: 500;
      font-size: 74px !important;
      text-align: left;
      background: transparent;
      top: 155px;
    } 

    .article p, span p{
      color: #0a1e36;
    }

    #contactus{
      margin-top: -15px !important;
    }

    .direct-contact {
        top: 365px;
        position: absolute;
        background-color: transparent;
        width: 550px;
        text-align: left;
        height: 50px;
        padding: 5px;
    }

    .direct-contact .field__item {
      color: #6ac5d1;
      font-size: 28px;
      font-weight: 400;
    }


    #SectionOne{
      background: #091e35;
    }

    #SectionOne p, #SectionOne span{
      color: #fff;
    }

    .chat-header{
      background-color: rgba(9,30,53,1) !important;
    }

    .call-action{
      font-weight: 900;
      text-transform: uppercase;
      padding: 6px 20px !important;
      font-size: 12px;
      border-color: #091e35;
      background-color: #091e35;
      color: #fff;
      border-radius: 1000px;
    }

      .field__label{
        display:none;
      }

	.file.file--mime-application-pdf.file--application-pdf{
		display: contents;
  }
  

  .file--application-pdf a {
    float: left;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 398px;
    color: #fff;
    border-radius: 1000px;
}

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-1-brochure a {
	          	float:right;
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }

 
    {# Web Chat styling #}

    .btnLinks {
        float:left;
        width: 117px;
        border-right: solid 1px #fff; 
        height: 55px;
        /*width: 30%;
        height: 15%;*/
    }

    .drop-msg {
        width: 385px !important;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }

    #chat_tab span {
      position: fixed !important;
      background: transparent !important;
      padding: 9px 10px;
      top: unset !important;
      bottom: 23px !important;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px;
      right: 36px !important;
      left: unset;
      margin-top: -7px;
    }


@media screen and (max-width:1199px) and (min-width:767px){
     .contact-area {
          height: unset !important;
					margin-bottom:0px !important;
       }

    .btnLinks:nth-child(3) {
        display: none; 
      }
       .banner-area {
            position: absolute;
            top: 2%;
      }
    .banner-area h1{
      color: #fff;
      font-weight: 500;
      font-size: 74px !important;
      text-align: left;
      background: transparent;
      top: 155px;
      } 
    .banner-text-invest {
        width: 550px;
        background: rgba(255,255,255,0.6) !important;
        text-align: center;
        padding: 15px 0;
        position: absolute;
        top: 250px;
        font-size: 2.8rem !important;
      }
      #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 24px !important;
            padding: 9px 20px;
            right: 22px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }

     

   }

   @media screen and (max-width:1199px) and (min-width:416px) {

    .banner-area h1 {
        color: #fff;
        font-weight: 500;
        padding: 5px;
        font-size: 35px !important;
        text-align: left;
        top: -13px !important;
        background: transparent !important;
    }

    .direct-contact {
      top: 40px !important;
    }

    .direct-contact .field__item {
        color: #6ac5d1;
        font-size: 18px;
        font-weight: 400;
    }

    .banner-images {
      margin-top: 59px !important;
    }

    .navbar-brand {
      margin-left: 10px !important;
      margin-top: 10px !important;
    }

     .contact-area {
          height: unset !important;
					margin-bottom:0px !important;
       }

    .btnLinks:nth-child(3) {
        display: none; 
      }

      .banner-area {
            position: absolute;
            top: 2%;
      }

        .banner-text-invest {
        width: 550px;
        background: rgba(255,255,255,0.6) !important;
        text-align: center; 
        padding: 15px 0;
        position: absolute;
        top: 250px;
        font-size: 2.8rem !important;
        }

      #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 24px !important;
            padding: 9px 20px;
            right: 22px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }
    }

      @media (max-width: 415px) {

        .navbar-brand {
          margin-left: 10px !important;
          margin-top: 10px !important;
        }

      .contact-area {
        height: unset !important;
        margin-bottom:0px !important;
        }

        .btnLinks:nth-child(3){
            display: none; 
        }

        #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 65px !important;
            padding: 9px 20px;
            right: 40px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }

        .drop-msg {
            width: 360px;
        }

        .banner-area {
            position: absolute;
            top: 2%;
        }
        
        .banner-area h1 {
            color: #fff;
            font-weight: 500;
            padding: 5px;
            font-size: 35px !important;
            text-align: left;
            top: -30px !important;
        }

        .direct-contact .field__item {
            color: #6ac5d1;
            font-size: 18px;
            font-weight: 400;
        }

        .direct-contact{
          top: 20px !important;
        }

         #product .drop-msg {
          width: 98% !important;
          bottom: 55px !important;
          left: 3px;
        }
        

    }

  </style>







   



