{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_product_banner|striptags|trim %}
<!-- cover -->


<section class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">
    {# <div class="image card-and-payments-banner"> #}
    <div id="card-and-payments-banner" hidden> {{ content.field_product_banner }}</div>
    {# </div> #}

    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest" style="width:550px">{{ node.label }}</h1>
        </div>
    </div>
</section>

<section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">
{# class="aos-init aos-animate" #}
{# data-aos="fade-up" #}
                <div  >
                    <div class="row justify-content-between align-items-center text-center">
                        <div class="col-md-9 offset-md-1">
                            <h2 class="text-blue">{{ content.field_intro_title }}</h2>
                            {{ content.body }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{# Featured Image #}

<section class="bg-light pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-1 text-center">
                <h2 class="text-blue">{{ content.field_featured_title }}</h2>
            </div>
        </div>

        <div class="row justify-content-between">

            <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom">

                <div class="block-bg" data-bottom-top="transform: translateY(40px);"
                     data-top-bottom="transform: translateY(-100px);">
                </div>

                <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
                    <ul class="gallery gutter-1 gutter-md-2">
                        <li class="col-12">
                            <figure class="photo">
                                <a id="feat-image" href="assets/images/interviewing-african-american-female-14.jpg">
                                    {{ content.field_product_featured_image }}
                                </a>
                            </figure>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

                <div class="mb-2 pl-1">
                    {{ content.field_product_featured_item }}
                </div>

            </div>

        </div>

    </div>
</section>

{# Second Featured Product Fields #}
  {# @Hloni added code below 
      # 22/01/2019
  #}
{% if content.field_product_feat_2_title|render %}
    <section class="pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-9 offset-md-1 text-center">
                    <h2 class="h1 text-blue">{{ content.field_product_feat_2_title }}</h2>
                </div>
            </div>

            <div class="row justify-content-between">

                <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up"
                     data-aos-anchor-placement="top-bottom">

                    <div class="block-bg" data-bottom-top="transform: translateY(40px);"
                         data-top-bottom="transform: translateY(-100px);">
                    </div>

                    <div data-bottom-top="transform: translateY(200px);"
                         data-top-bottom="transform: translateY(-60px);">
                        <ul class="gallery gutter-1 gutter-md-2">
                            <li class="col-12">
                                <figure class="photo">
                                    <a id="feat-image" href="assets/images/interviewing-african-american-female-14.jpg">
                                        {{ content.field_product_feat_2_image }}
                                    </a>
                                </figure>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

                    <div class="mb-2 pl-1">
                        {{ content.field_product_feat_2_content }}
                    </div>

                </div>

            </div>

        </div>
    </section>
{% endif %}

  {# End Second Feature #}

 
{% if content.field_benefits_title|render %}
    <section class="pb-0">

        <div>
            <div class="container">

                <div data-aos="fade-up" class="aos-init aos-animate">
                    <div class="row justify-content-between align-items-center text-center">
                        <div class="col-md-9 offset-md-1 pb-4">

                            <h2 id="benefits-title" class="h1 text-blue">{{ content.field_benefits_title }}</h2>

                        </div>
                    </div>
                </div>

                <div class="row justify-content-between align-items-center text-center">

                    <div class="row gutter-3" style="justify-content: center;width: 100%;align-content: center;">
                        {% if content.field_product_benefit|render %}

                            <div class="col-md-6 col-lg-4">
                                {# {% if content.field_product_benefit %} #}
                                {# @Tshego Commented out code above an added code below #}

                                <div class="boxed rising p-4" style="margin-top: 0px !important; ">
                                    <img class="products-benefits"
                                         src="/{{ active_theme_path() }}/assets/images/products-benefit-icon.png">
                                    {{ content.field_product_benefit }}
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_product_benefit2|render %}
                            <div class="col-md-6 col-lg-4">
                                {# {% if content.field_product_benefit2 %} #}
                                {# @Tshego Commented out code above an added code below #}


                                <div class="boxed rising p-4" style="margin-top: 0px !important; ">
                                    <img class="products-benefits"
                                         src="/{{ active_theme_path() }}/assets/images/products-benefit-icon.png">

                                    {{ content.field_product_benefit2 }}
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_product_benefit3|render %}
                            <div class="col-md-6 col-lg-4">
                                {# {% if content.field_product_benefit3 %} #}
                                {# @Tshego Commented out code above an added code below #}

                                <div class="boxed rising p-4" style="margin-top: 0px !important; ">
                                    <img class="products-benefits"
                                         src="/{{ active_theme_path() }}/assets/images/products-benefit-icon.png">

                                    {{ content.field_product_benefit3 }}
                                </div>

                            </div>
                        {% endif %}

                    </div>

                </div>

            </div>
        </div>
    </section>
{% endif %}

    {% if content.field_product_additional_benefit|render %}
        {% if content.field_product_additional_benefit is not null %}
            <section class="separator-top pb-0">
                <div class="container">
                    {# <h2>PPS Additional Benefits</h2> #}

                    <div data-aos="fade-up" class="aos-init aos-animate">
                        <div class="row justify-content-between align-items-center text-center">
                            <div class="col-md-9 offset-md-1 pb-4">
                                <h2 class="text-blue">{{ content.field_product_additional_benefit }}</h2>
                            </div>
                        </div>
                    </div>


                    <div class="row separated">

                        <div class="col-md-6 col-12">
                            {% if content.field_additional_benefit_1|render %}
                                <div class="row pb-2 pt-2">
                                    <div class="col-2">
                                        <i class="icon-check-circle text-light-blue fs-60 float-left pr-1 "></i>
                                    </div>
                                    <div class="col-10 pr-3">
                                        {{ content.field_additional_benefit_1 }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                        <div class="col-md-6 col-12">
                            {% if content.field_additional_benefit2|render %}
                                <div class="row pb-2 pt-2">
                                    <div class="col-2">
                                        <i class="icon-check-circle text-light-blue fs-60 float-left pr-1 "></i>
                                    </div>
                                    <div class="col-10 pr-3">
                                        {{ content.field_additional_benefit2 }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                        <div class="col-md-6 col-12">
                            {% if content.field_additional_benefit3|render %}
                                <div class="row pb-2 pt-2">
                                    <div class="col-2">
                                        <i class="icon-check-circle text-light-blue fs-60 float-left pr-1 "></i>
                                    </div>
                                    <div class="col-10 pr-3">
                                        {{ content.field_additional_benefit3 }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                        <div class="col-md-6 col-12">
                            {% if content.field_additional_benefit4|render %}
                                <div class="row pb-2 pt-2">
                                    <div class="col-2">
                                        <i class="icon-check-circle text-light-blue fs-60 float-left pr-1 "></i>
                                    </div>
                                    <div class="col-10 pr-3">
                                        {{ content.field_additional_benefit4 }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}
      {% if content.field_product_additional_content|render %}
          <section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-12 col-lg-12">

                          <div data-aos="fade-up"
                               class="aos-init aos-animate">
                              <div class="row justify-content-between align-items-center text-center">
                                  <div class="col-md-12 col-lg-12">
                                      <h2 class="h1 text-blue">{{ content.field_product_addl_content_title }}</h2>
                                      {{ content.field_product_additional_content }}
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      {% endif %}


  {% if content.field_download|render %}
      <section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
          <div class="container">

              {{ content.field_download }}

          </div>
      </section>
  {% endif %}

 {% set url = url('<current>') %}                                                                          
                {% if 'life-solutions/' in url|render|render %}                                                                 
  <section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important">
          <div class="container" style="text-align:center">
                                                                                     
                {# Hloni added code
                                Desc: Check if The Product belongs to Life Solutions                                                                                #}
                 
                    <a href="https://cloud.3dissue.com/170814/171185/200050/kf/index.html"                                
                    class="btn btn-white btn-rounded"                                                                  
                    target="_blank"                                                                                    
                    style="text-transform: initial">                                                                   
                        Terms and conditions Apply.                                                                       
                    </a>                                                                                                                                                                                   
                                                                                                             
          </div>
      </section>
      {% endif %}  
{# //Terms and TCS #}
  {% if content.field_terms_and_tcs|render %}
      <section class="pt-6 pb-6 float-left col-6" style="padding-bottom:3.75rem !important">
          <div class="container">
              {{ content.field_terms_and_tcs }}

              {# {{content.field_3_brochure}} #}

                {{ content.field_bottom_link }}                                                                           
                                                                                            
          </div>
      </section>
      
  {% endif %}


  {# {% if content.field_bottom_link|render %}
      <section class="pt-6 pb-6 float-left col-6" style="padding-bottom:3.75rem !important">
          <div class="container">



          </div>
      </section>
  {% endif %} #}
<div class="clearfix"></div>

    <section class="pb-0 contact-area"
                style="background-image:url(/{{ active_theme_path() }}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center -120px; background-repeat:no-repeat">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12">

                            <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=52a4c2b54c&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <h2>Call Me Back</h2>
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group">
                    <label for="mce-MMERGE5">Title </label>
                    <select name="MMERGE5" class="" id="mce-MMERGE5">
                    <option value="Please Select">Please Select</option>
                <option value="Adv">Adv</option>
                <option value="Dr">Dr</option>
                <option value="Ds">Ds</option>
                <option value="Me">Me</option>
                <option value="Mev">Mev</option>
                <option value="Mej">Mej</option>
                <option value="Mnr">Mnr</option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Ms">Ms</option>
                <option value="Miss">Miss</option>
                <option value="Prof">Prof</option>
                <option value="Rev">Rev</option>

                    </select>
                </div>
                <div class="mc-field-group">
                    <label for="mce-FNAME">First Name </label>
                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                    <label for="mce-LNAME">Last Name </label>
                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                </div>
                <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                </label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div class="mc-field-group size1of2">
                    <label for="mce-PHONE">Contact Number </label>
                    <input type="text" name="PHONE" class="" value="" id="mce-PHONE">
                </div>
                <div class="mc-field-group">
                    <label for="mce-MMERGE3">City </label>
                    <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
                </div>
                <div class="mc-field-group">
                    <label for="mce-MMERGE6">Preferred Contact Time </label>
                    <select name="MMERGE6" class="" id="mce-MMERGE6">
                    <option value="Please Select">Please Select</option>
                <option value="Anytime">Anytime</option>
                <option value="8:00 - 9:00">8:00 - 9:00</option>
                <option value="9:00 - 10:00">9:00 - 10:00</option>
                <option value="10:00 - 11:00">10:00 - 11:00</option>
                <option value="11:00 - 12:00">11:00 - 12:00</option>
                <option value="12:00 - 13:00">12:00 - 13:00</option>
                <option value="13:00 - 14:00">13:00 - 14:00</option>
                <option value="14:00 - 15:00">14:00 - 15:00</option>
                <option value="15:00 - 16:00">15:00 - 16:00</option>

                    </select>
                </div>
                <div class="mc-field-group">
                    <label for="mce-MMERGE7">Highest Qualification </label>
                    <input type="text" value="" name="MMERGE7" class="" id="mce-MMERGE7">
                </div>
                <div class="mc-field-group" style="display:none !important">
                    <label for="mce-MMERGE8">Occupation </label>
                    <input type="text" value="E.g Accountant" name="MMERGE8" class="" id="mce-MMERGE8">
                </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_52a4c2b54c" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[5]='MMERGE5';ftypes[5]='dropdown';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='PHONE';ftypes[4]='phone';fnames[3]='MMERGE3';ftypes[3]='text';fnames[6]='MMERGE6';ftypes[6]='dropdown';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->

                    </div>
                </div>
            </div>
        </section>
        
         {# <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%;">
             <div class="drop-msg-border-left" style="width: 100%;t ext-align: center;">
                 <a style="color: #fff !important" href="http://34.76.147.18/sites/default/files/2019-06/PPS%20business-assurance-brochure-member.pdf" class="drop-msg-a" target="_blank">View Brochure</a>
                </div>
         </div> #}

        <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%;">
            <div class="drop-msg-border-left" style="float:left;max-width: 50%;width: 50%;border-right: solid 1px;text-align: center;">
                <a href="/toolkit/toolkit-04-06-2019.zip" style="color: #fff" class="drop-msg-a">Download<br/>
                     Toolkit</a></div>
            <div style="float:left;max-width: 50%;width:40%"><a href="#mc_embed_signup" class="drop-msg-a" style="color: #fff">Call Me Back</a></div>
        </div>

<style>
    @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }
    }
    .field--name-field-bottom-link > div > a {
        color: #091e35 !important;
    }

    .field--name-field-bottom-link > div > a:hover, a:active, a:focus {
        color: #B09455 !important
    }

    .field__label {
        display: none;
    }

    .field--name-field-tags a {
        color: #0a1d37 !important;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
    }

    .photo img {
        width: 421px !important;
        height: auto !important;
    }

    .field--name-field-download {
        text-align: center !important;
    }

    .field--name-field-download a {
        display: inline-block;
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        padding: 20px 50px !important;
        font-size: 12px;
        font-weight: 398;
        border-color: #091e35;
        background-color: #091e35;
        color: #fff;
        border-radius: 1000px;
    }

    .drop-msg {
        max-width: 200px;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }
    	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }
   @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }

    }
</style>







   



