{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_family_banner|striptags|trim %}
	<!-- cover -->	
   

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_family_banner}}</div>
      {# </div> #}
        
			  <div class="container">
          <div class="banner-area">

            {# <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1> #}
            
          </div>
			  </div>
    </section> 
	
			<!-- / cover -->


      {# Featured Image #}

    <section style="padding: 0.25rem 0 6.25rem 0 !important;">
      <div class="container">
        <div class="text-center mb-5">
          {{content.field_playzone_tool_title}}
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12 col-md-8 col-lg-11">
                  <figure class="photo">
                      {{content.field_family_first_media}}
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_family_first_content}}
            </div>

          </div>

        </div>

      </div>
    </section>


    <section class="bg-light" style="padding: 2.25rem 0 6.25rem 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="h1 text-blue">{{content.field_family_intro_title}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    {# <a id="feat-image" href="https://portal.ppsisecure.co.za/portal/#/public/familynetwork"> #}
                      {{content.field_family_media}}
                    {# </a> #}
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_family_intro_content}}
            </div>

          </div>

        </div>

      </div>
    </section>

    {# <section class="pt-3 pb-3 bg-light" style="border-top: 1px solid #ccc;">
      <div class="container text-center">
        {{content.field_family_zone_link}}
      </div>
    </section> #}


    {# <section class="bg-light pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">

        <div class="text-center mb-10">
          {{content.field_playzone_tool_title}}
        </div>

        <div class="row justify-content-center">
          
          {{content.field_playzone_tool_screens}}

        </div>
    </div>
  </section> #}


  {# <section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">

        <div class="text-center mb-5">
          {{content.field_self_help_heading}}
        </div>
        <div class="row justify-content-center">
          
          {{content.field_self_help_videos}}

        </div>
    </div>
  </section> #}




  <section style="padding: 2.25rem 0 6.25rem 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="h1 text-blue">{{content.field_self_help_heading}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="https://cloud.3dissue.net/19315/19362/19510/23145/index.html" target="_blank">
                      {{content.field_self_help_videos}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_self_help_content}}
            </div>

          </div>

        </div>

      </div>
    </section>




    <section class="bg-light pt-3 pb-3" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
      <div class="container text-center brochureDownload">
        <div class="row">
          {# {{content.field_family_network_brochure}} #}

          {# <div class="col-12 col-md-6 col-lg-6">
            <a href="https://www.pps.co.za/sites/default/files/invest-forms-and-documents/Family%20network%20FAQs%202020_0.pdf" target="_blank">Frequently Asked Questions</a>
          </div>

          <div class="col-12 col-md-6 col-lg-6">
            <a href="https://www.pps.co.za/sites/default/files/invest-forms-and-documents/Family%20network%20FAQs%20advisers%202020_0.pdf" target="_blank">Frequently Asked Questions for Advisers</a>
          </div> #}

          {{content.field_investment_file}}

        </div>
      </div>
    </section>


    <section id="termsandconditions" class="pt-6 pb-6" style="padding-bottom:3.75rem !important; border-bottom: 1px solid #ccc">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-3 col-lg-3">
                <button class="btnTerms text-center" data-toggle="modal" data-target="#myModal">TERMS AND CONDITIONS</button>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </section>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header" style="padding: 1rem 1.875rem;border-bottom: 1px solid #ccc;">
            <h4 class="modal-title">FAMILY NETWORK TERMS AND CONDITIONS</h4>
            <button type="button" class="close" style="position: absolute; right: 15px; top: 10px; z-index:99" data-dismiss="modal" onClick="closeModal()">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body" style="padding: 1rem;">
            {{content.field_family_popup}}
          </div>
          
          
        </div>
      </div>
    </div>

    <section style="padding: 6.25rem 0 6.25rem 0 !important;">
      <div class="container">
        <div class="row text-center">
          
          {{ content.field_playzone_content }} 

          {# <table style="max-width:80%; width:80%; margin: 50px auto 0px auto">
            <tbody>
              <tr>
                <td style="color: #091e36">Introduction to the Family Network play-zone</td>
                <td><a href="/video/Family-Network-Playzone.mp4" target="_blank"><img src="/{{ active_theme_path() }}/assets/images/youtube-play.jpg" width="30"></a></td>
                <td><a href="https://www.pps.co.za/sites/default/files/invest-forms-and-documents/PPS%20Family%20Network%202.%20Play%20Zone..._1.pdf"><img src="/{{ active_theme_path() }}/assets/images/download.png" width="30"></a></td>
              </tr>
              <tr>
                <td style="color: #091e36">Create a Family Network</td>
                <td><a href="/video/PPS-Investments-Family-Network-1.mp4" target="_blank"><img src="/{{ active_theme_path() }}/assets/images/youtube-play.jpg" width="30"></a></td>
                <td><a href="https://www.pps.co.za/sites/default/files/invest-forms-and-documents/PPS%20Family%20Network%201.%20How%20to%20Create..._0.pdf"><img src="/{{ active_theme_path() }}/assets/images/download.png" width="30"></a></td>
              </tr>
            </tbody>
          </table> #}

          
        </div> 
      </div>
    </section>


    {% include directory ~ '/parts/form-joinpps.html.twig' %}
	

  <div class="drop-msg drop-msg-mobile floatingbtn">
    
    <div class="drop-msg-border-left" style="float:left;max-width: 50%;width: 50%;border-right: 1px solid #fff;text-align: center;">
      <a style="display: inline-block;" href="https://portal.ppsisecure.co.za/portal/#/public/familynetwork" class="drop-msg-a" target="_blank">VISIT THE PLAY-ZONE</a>
    </div>
    
    <div style="float:left;max-width: 50%;width:50%; text-align: center;">
      <a style="display: block" href="https://www.pps.co.za/sites/default/files/invest-forms-and-documents/PPS%20Family%20Network%20-%20download_0.pdf" target="_blank">DOWNLOAD BROCHURE</a>
      {# {{ content.field_family_zone_brochure }} #}
      {# <span style="display: inline-block; color: #fff; cursor: pointer; font-weight: 900; text-transform: uppercase; padding: 0.6rem 0.5rem; font-size: 12px;">VISIT THE PLAYZONE</span> #}
    </div>
    
  </div>
 
  <style>
    .btnTerms {
    color: #fff;
    background: #081e34;
    border-radius: 2rem;
    padding: 13px 0px;
    width: 100%;
}

@media (min-width: 576px){
      .modal-dialog {
          max-width: 900px;
          margin: 1.75rem auto;
      }
    }

  .mc-field-group label{
      color: #fff !important;
    }

  .floatingbtn{
    max-width:100%;
    width:22.5%; 
    background: rgba(9,30,53,1)!important; 
    right: 10px !important;
  }

  td, th {
    padding: 10px;
    border: 1px solid #ccc;
  }

  .infobox1 a{
    background: #091e36;
    padding: 7px !important;
    border-radius: 2rem;
    color: #fff;
    display:inline-block;
  }

    .file--x-office-document a{
      position: relative;
      display: inline-block;
    }

    .file--x-office-document{
      display: contents;
    }

    .brochureDownload a{
      background: #091e36;
      padding: 15px;
      border-radius: 2rem;
    }

    p a{
      color: #b09455;
      padding: 0px;
    }

    .clickBtn{
      background: #091e36;
      color: #fff;
      border-radius: 1rem;
      padding: 10px !important;
    }

    .infobox1{
      padding: 12px 5px 12px 5px;
    }

    .infobox{
      border: 1px solid #ccc;
      border-radius: 1rem;
      padding: 12px 5px 12px 5px;
      text-align: center;
    }

    .text-container {
      min-height: 80px;
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
      margin-bottom: 10px;
      border-radius: 1rem;
    }

    article img{
      height: auto;
    }

    .playscreens img{
      height: auto !important;
      width: 60% !important;
    }

    .playscreens article{
      text-align: center;
    }

    .chat-header{
      background-color: rgba(9,30,53,1) !important;
    }

    .call-action{
      font-weight: 900;
      text-transform: uppercase;
      padding: 6px 20px !important;
      font-size: 12px;
      border-color: #091e35;
      background-color: #091e35;
      color: #fff;
      border-radius: 1000px;
    }

      .field__label{
        display:none;
      }

	.file.file--mime-application-pdf.file--application-pdf{
		display: contents;
  }
  
  .file--application-pdf a {
    position: relative;
    display: inline-block;
  }

  /* .file--application-pdf a {
    float: left;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 50px !important;
    font-size: 12px;
    font-weight: 398px;
    border-color: #722c9e;
    background-color: #722c9e;
    color: #fff;
    border-radius: 1000px;
} */

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-1-brochure a {
		float:right;
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }
   @media (max-width: 415px){
      .contact-area {
        height: unset !important;
      }

      .floatingbtn{
        max-width:100%;
        width: 60.5%;
        bottom: 60px !important;
      }
    }

    @media screen and (max-width: 1199px) and (min-width: 416px){
      .floatingbtn{
        width: 200px;
        bottom: 60px !important;
      }
    }
  </style>







   



