{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{% include directory ~ '/parts/life-pages.html.twig' %}

{% set background_image = content.field_product_banner|striptags|trim %}
	
	<section class="pt-10 pb-10" style="padding-top: 5% !important; margin-top: 59px;">

      <div>
        <div class="container">
          <div class="row justify-content-between pt-10">

            <div class="col-12 col-lg-5 align-self-center text-center text-md-left">
              <h2 class="h1 text-blue">{{content.field_product_hub_title}}</h2>
              {{content.field_mutuality_body}}
              {{content.field_top_content}}

            </div>

            <div class="block-life col-12 col-lg-6 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

              <div class="block-bg" style="background: rgba(196,196,196,0.4);" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-260px);">
              </div>

              <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-130px);">
                <ul class="gallery gutter-1 gutter-md-2">
                  <li class="col-12 col-sm-9">
                    <figure class="photo">
                      <a href="assets/images/health-insurance.png" title="Life Insurance">
                        {{content.field_valuable_image}}
                      </a>
                    </figure>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

	<!-- Life Insurance Products -->
    <section class="bg-light pt-10 pb-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
			      <h2 class="h1 text-blue">{{content.field_products_section_title}}</h2>	  
          </div>
        </div>	

        <div class="row aos-init" data-aos="fade-left">
          <div class="col">
            <div class="owl-carousel visible owl-loaded owl-drag" data-items="[3]" data-nav="true" data-margin="10">
              
              <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3067px;">

                  {{content.field_product_images}}

                </div>
              </div>

              <div class="owl-nav">
                <button type="button" style="background: rgba(255,255,255,0.6) !important;" role="presentation" class="owl-prev disabled"><span aria-label="Previous">‹</span></button>
                <button type="button" style="background: rgba(255,255,255,0.6) !important;" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
              </div>

              <div class="owl-dots disabled">
              </div>

			      </div>
          </div>
        </div>

      </div>
    </section>
	<!-- Life Insurance Products -->
	
	
	<section class="pt-10 pb-10">
      <div>
        <div class="container">
          <div class="row pt-10">

            <div class="block-life col-12 col-lg-6 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

              <div class="block-bg" style="background: rgba(176,148,85,1);" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-260px);">
              </div>

              <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-130px);">
                <ul class="gallery gutter-1 gutter-md-2">
                  <li class="col-sm-10 col-12">
                    <figure class="photo">
                      <a href="#" title="#">
                        {{content.field_product_bottom_image}}
                      </a>
                    </figure>
                  </li>
                </ul>
              </div>

            </div>

            <div class="col-12 col-lg-5 align-self-center text-center text-md-left">
              <h2 class="h1 text-blue">{{content.field_product_bottom_title}}</h2>
              {{content.field_product_bottom_content}}

            </div>

          </div>
        </div>
      </div>
    </section>

 {% set url = url('<current>') %}                                                                          
                {% if '/insure/' in url|render|render %}                                                                 
  <section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important">
          <div class="container" style="text-align:center">
                                                                                     
                {# Hloni added code
                                Desc: Check if The Product belongs to Life Solutions                                                                                #}
                 
                    <a href="https://cloud.3dissue.com/170814/171185/200050/kf/index.html"                                
                    class="btn btn-white btn-rounded"                                                                  
                    target="_blank"                                                                                    
                    style="text-transform: initial">                                                                   
                        Terms and conditions Apply.                                                                       
                    </a>                                                                                                                                                                                   
                                                                                                             
          </div>
      </section>


      <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%;">
            <div class="drop-msg-border-left" style="float:left;max-width: 33%;width: 50%;border-right: solid 1px;text-align: center;">
                <a style="color: #fff" href="https://cloud.3dissue.com/170814/171187/200052/issue1kf/index.html?r=8">View Brochure</a>   
            </div>
            <div style="float:left;max-width: 33%;width:40%; border-right: solid 1px #091e35;">
                <a href="https://www.pps.co.za/sites/default/files/2020-04/2019%20Claims%20Statistics.pdf" style="color: #fff">CLAIMS STATISTICS</a>
            </div>
            <div style="float:left;max-width: 33%;width:40%"><a href="#contactus" class="drop-msg-a">Call Me Back</a></div>
         </div> 
      {% endif %}  

    {# <section class="pt-4 separator-top" style="margin-top: 50px; padding-bottom: 3.5rem !important;">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div class="boxed p-4" style="background: rgba(9,30,53,1)"  data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center text-md-left">
                <div class="col-md-3">
                  <h2 class="h1 text-white font-weight-bold">Join PPS</h2>
                </div>
                <div class="col-md-6">
                  <p class="text-white">PPS offers tailor-made insurance, investment and healthcare solutions exclusively for graduate professionals with a qualifying four year degree or equivalent.</p>
                </div>
                <div class="col-md-3 text-lg-right">
                  <a href="#." class="btn btn-white btn-rounded px-5">Become a member</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> #}

  {% set url = url('<current>') %}
     {%  if 'insure/' in url|render|render %}
     

      {% include directory ~ '/parts/form-joinpps.html.twig' %}
      

      <!-- Begin Mailchimp Signup Form -->
      {# <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
          We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=52a4c2b54c&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
          <div id="mc_embed_signup_scroll">
        <h2>Take the next step</h2>
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group">
        <label for="mce-MMERGE5">Title </label>
        <select name="MMERGE5" class="" id="mce-MMERGE5">
        <option value=""></option>
        <option value="Please Select">Please Select</option>
      <option value="Adv">Adv</option>
      <option value="Dr">Dr</option>
      <option value="Ds">Ds</option>
      <option value="Me">Me</option>
      <option value="Mev">Mev</option>
      <option value="Mej">Mej</option>
      <option value="Mnr">Mnr</option>
      <option value="Mr">Mr</option>
      <option value="Mrs">Mrs</option>
      <option value="Ms">Ms</option>
      <option value="Miss">Miss</option>
      <option value="Prof">Prof</option>
      <option value="Rev">Rev</option>

        </select>
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME">First Name </label>
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
      </div>
      <div class="mc-field-group">
        <label for="mce-LNAME">Last Name </label>
        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
      </div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
      </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group size1of2">
        <label for="mce-PHONE">Contact Number </label>
        <input type="text" name="PHONE" class="" value="" id="mce-PHONE">
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE3">City </label>
        <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE6">Preferred Contact Time </label>
        <select name="MMERGE6" class="" id="mce-MMERGE6">
        <option value=""></option>
        <option value="Please Select">Please Select</option>
      <option value="Anytime">Anytime</option>
      <option value="8:00 - 9:00">8:00 - 9:00</option>
      <option value="9:00 - 10:00">9:00 - 10:00</option>
      <option value="10:00 - 11:00">10:00 - 11:00</option>
      <option value="11:00 - 12:00">11:00 - 12:00</option>
      <option value="12:00 - 13:00">12:00 - 13:00</option>
      <option value="13:00 - 14:00">13:00 - 14:00</option>
      <option value="14:00 - 15:00">14:00 - 15:00</option>
      <option value="15:00 - 16:00">15:00 - 16:00</option>

        </select>
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE7">Highest Qualification </label>
        <input type="text" value="" name="MMERGE7" class="" id="mce-MMERGE7">
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE8">Occupation </label>
        <input type="text" value="" name="MMERGE8" class="" id="mce-MMERGE8">
      </div>
      <div class="mc-field-group" style="display: none !important">
        <label for="mce-MMERGE9">Referring URL </label>
        <input type="text" value="" name="MMERGE9" class="" id="mce-MMERGE9">
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_52a4c2b54c" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[5]='MMERGE5';ftypes[5]='dropdown';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='PHONE';ftypes[4]='phone';fnames[3]='MMERGE3';ftypes[3]='text';fnames[6]='MMERGE6';ftypes[6]='dropdown';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup--> #}



        {# <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%;">
          <div class="drop-msg-border-left" style="float:left;max-width: 50%;width: 40%;border-right: solid 1px;text-align: center;">
            <a href="https://cloud.3dissue.com/170814/171185/200050/kf/index.html" class="drop-msg-a">View <br> Brochure</a></div>
          <div style="float:left;max-width: 50%;width:40%"><a href="/contact-pps" class="drop-msg-a">Call Me Back</a></div>
        </div> #}

      {% endif %}

{# Referrign URL #}
{# <script>
  document.getElementById("mce-MMERGE9").value = window.location.href;
</script> #}

<style>

  #contactus > div > div.row{
    display: block;
    margin-top: 33px;
  }

  .boxed{
    margin-top: 90px;
  }
  

    .field__label{
      display:none;
    }
      .field--name-field-tags a{
            color:#0a1d37 !important;
        }
         .article-excerpt a{
            color:#0a1d37 !important;
        }
        .photo img{
          width:421px !important;
          height:auto !important;
        }
    .drop-msg {
      max-width: 200px;
      background: #69c5d1;
      border: none;
      color: #091e35;
      font-weight: 600;
      padding: 10px 20px;
      z-index: 100;
      display: block;
      position: fixed;
      cursor: pointer;
      right: 20px;
      bottom: 15px;
      text-align: center;
      border-radius: 0px;
    }
    @media (max-width: 414px) {
        .drop-msg-mobile{
            display: none !important;
        }
    }
    	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }
   @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }
    }

  
  @media (max-width: 900px) {
        #contactus > .container > .row > div > div.boxed .row{
          display: inline-block;
          width: 100%;
        }

        /*#contactus .boxed{
          margin-top: 0px;
        }*/

        .contactForm > .rowMargin{
          display: flex !important;
        }
    }

  .region .subnav-container li.menu-item {
        border-left: 0px solid #ccc;
    }
</style>



   



