{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_advisor_banner_image|striptags|trim %}
	<!-- cover -->	
   
{% include directory ~ '/parts/header.html.twig' %}
<body id="product" xmlns="http://www.w3.org/1999/html">

<div class="subnav-container" style="margin-top: 0px; height: 55px !important;">
     <div class="container-fluid">

        <li class="menu-item" style="margin-top: 0px; border: 0px">
            <a id="pp-inv" href="#content4" data-drupal-link-system-path="<front>">Looking for an Adviser</a>
        </li>

        <li class="menu-item" style="margin-top: 0px; border: 0px">
            <a id="pp-insure" href="#content3" data-drupal-link-system-path="<front>">Existing Adviser</a>
        </li>

        <li class="menu-item" style="margin-top: 0px; border: 0px">
            <a id="pp-insure" href="#content2" data-drupal-link-system-path="<front>">New Adviser</a>
        </li>

	<li class="menu-item" style="margin-top: 0px; border: 0px">
            <a id="pp-insure" href="#BannerSection" data-drupal-link-system-path="<front>">Advisers</a>
        </li>
    </div>
</div>

    <section id="BannerSection" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">		

     <div id="card-and-payments-banner" hidden> {{content.field_advisor_banner_image}}</div>
      
			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
			  </div>
    </section> 
	
	{# 1st Product Section #}
  {% if content.field_1_advisor_title|render %} 
    <section id="content2" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                  <h2 class="text-blue">{{content.field_1_advisor_title}}</h2>
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>
  {% endif %}
  
  {# Featured Image #}

    <section class="bg-light" style="padding: 2.25rem 0 !important;">
      <div class="container">
      
        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_1_advisors_image}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_1_advisors_content}}
            </div>

          </div>

        </div>

      </div>
    </section>


  <div class="clearfix"></div>



<section style="padding: 2.25rem 0 !important;">
      <div class="container" style="max-width: 1000px;">
        {#<form method="POST" action="#." id="contactForm">
                            <h4><strong>Personal Details</strong></h4>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"><label for="firstname">Name </label><br/>
                                        <input class="form-control textbox" data-error="Name is required."
                                               id="firstname" name="firstname" required="required" type="text"/>
                                        <small class="form-text text-muted">Your information is safe with us.</small>
                                        <div class="help-block with-errors">&nbsp;</div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group"><label for="exampleInputEmail1">Brokerage Name</label> 
                                      <input id="brokerageName" class="form-control" placeholder="Enter your name" type="text"/>
                                    </div>
                                </div>
                            

                            
                                <div class="col-md-6">
                                    <div class="form-group"><label for="brokerageCode">Brokerage Code </label><br/>
                                        <input class="form-control textbox" id="brokerageCode" name="brokerageCode"
                                               type="text"/></div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group"><label for="contactNumber">Contact Number</label> 
                                    <input id="contactNumber" class="form-control" placeholder="+27 00 000 0000" type="text"/>
                                        <small class="form-text text-muted">Your information is safe with us.</small>
                                    </div>
                                </div>

                            
                                <div class="col-md-6">
                                    <div class="form-group"><label for="contactTime">Preferred contact time </label><br/>
                                        <select class="form-control textbox-copy-2" id="contactTime" name="contactTime" required="required" type="text">
                                            <option value="Morning (8am - 10am)">Morning (8am - 10am)</option>
                                            <option value="Mid day (10am-12pm)">Mid day (10am-12pm)</option>
                                            <option value="Afternoon(13pm - 17pm)">Afternoon(13pm - 17pm)</option>
                                        </select>

                                        <div class="help-block with-errors">&nbsp;</div>
                                    </div>
                                </div>
                            

                            <div class="col-md-12 row" style="margin-bottom: 1.125rem;">
                                <h6 class="checkbox-heading">I AM INTERESTED IN:</h6>
                                
                                    <div class="col-md-4">
                                        <div class="form-group">
                                          <input id="independentAdviser" name="independentAdviser" value="Becoming a PPS accredited adviser (for
                                                independent advisers)" type="radio"/>
                                            <small style="font-size: 14px;">Becoming a PPS accredited adviser (for
                                                independent advisers)
                                            </small>

                                            <div class="help-block with-errors">&nbsp;</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                          <input id="advisoryService" name="independentAdviser" type="radio" value="Becoming a PPS contracted financial adviser
                                                (join PPS Advisory Services)"/>
                                            <small style="font-size: 14px;"> Becoming a PPS contracted financial adviser
                                                (join PPS Advisory Services)
                                            </small>

                                            <div class="help-block with-errors">&nbsp;</div>
                                        </div>
                                    </div>

                                    </div>
                                    <div class="col-md-3" style="margin-bottom: 50px;">
                                        <div class="form-group">
                                          <input class="call-action" type="submit" name="send" value="Send" onclick="myFunction()">
                                    </div>

                                    <p id="status"></p>



                                </div>
                            </div>
                        </form> #} 



              <!-- Begin Mailchimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
              <form action="https://pps.us3.list-manage.com/subscribe/post-json?u=2b28934a6c1aab1563d2ccd47&amp;id=b2343420c8&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                  <div id="mc_embed_signup_scroll" class="row">
                <h2 class="col-12 col-md-12">Personal Details</h2>
<div class="indicates-required col-12 col-md-12"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group col-12 col-md-6">
	<label for="mce-FNAME">Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group col-12 col-md-6">
	<label for="mce-LNAME">Brokerage Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group col-12 col-md-6">
	<label for="mce-MMERGE3">Brokerage Code </label>
	<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
</div>
<div class="mc-field-group col-12 col-md-6">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group col-12 col-md-6">
	<label for="mce-PHONE">Contact Number </label>
	<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
</div>
<div class="mc-field-group input-group col-12 col-md-12">
    
    <strong class="col-md-3">I AM INTERESTED IN: </strong>
    <div class="col-md-4"><input type="radio" value="Becoming a PPS accredited adviser (for independent advisers)" name="MMERGE6" id="mce-MMERGE6-0"><label for="mce-MMERGE6-0" style="text-transform: initial"> Becoming a PPS accredited adviser (for independent advisers)</label></div>
    <div class="col-md-4"><input type="radio" value="Becoming a PPS contracted financial adviser (join PPS Advisory Services)" name="MMERGE6" id="mce-MMERGE6-1"><label for="mce-MMERGE6-1" style="text-transform: initial"> Becoming a PPS contracted financial adviser (join PPS Advisory Services)</label></div>

</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2b28934a6c1aab1563d2ccd47_b2343420c8" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='PHONE';ftypes[4]='phone';fnames[6]='MMERGE6';ftypes[6]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
        </div>
    </section>



    {# 2nd Product Section #}
  {% if content.field_2_advisor_title|render %} 
    <section id="content3" class="pt-6 pb-6" style="padding-bottom:3.75rem !important; border-top: 1px solid #eaeaea;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                  <h2 class="text-blue">{{content.field_2_advisor_title}}</h2>
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>
  {% endif %}
  
  {# Featured Image #}

    <section class="bg-light" style="padding: 5.25rem 0 !important;">
      <div class="container">
      
        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_2_advisors_image}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_2_advisors_content}}
            </div>

          </div>

        </div>

      </div>
    </section>


  <div class="clearfix"></div>

  
	
  
 
      {# 3rd Product Section #}
  {% if content.field_3_advisor_title|render %} 
    <section id="content4" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                  <h2 class="text-blue">{{content.field_3_advisor_title}}</h2>
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>
  {% endif %}
  
  {# Featured Image #}

    <section class="bg-light" style="padding: 5.25rem 0 !important;">
      <div class="container">
      
        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_3_advisors_image}}
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_3_advisors_content}}
            </div>

          </div>

        </div>

      </div>
    </section>


    <section style="padding: 2.25rem 0 !important;">
      <div class="container" style="max-width: 1000px;">
        {% if content.field_advisor_additional_content|render %}
          {{content.field_advisor_additional_content}}
        {% endif %}
      </div>
  </section>


  <div class="clearfix"></div>



    {# <section style="padding: 5.25rem 0 !important;">
      <div class="container" style="max-width: 1000px;">
        <form id="contactForm">
                        <h4><strong>Personal Details</strong></h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">Name </label><br/>
                                    <input id="firstname" class="form-control textbox" name="firstname"
                                           required="required" type="text" data-error="Name is required."/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email Address</label><br/>
                                    <input id="email" class="form-control textbox" name="email" required="required"
                                           type="text" placeholder="e.g. mail@domain.com"
                                           data-error="Email is required."/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        
                        
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contact">Contact Number </label><br/>
                                    <input id="contact" class="form-control textbox-copy-2" name="contact"
                                           required="required" type="text" data-error="Contact Number is required."/>
					<small class="form-text text-muted">Your information is safe with us.</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="passport">ID, passport or membership number </label><br/>
                                    <input id="passport" class="form-control textbox-copy-2" name="passport"
                                           required="required" type="text"
                                           data-error="ID, passport or membership number is required."/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="province">Your current province or city </label><br/>
                                    <select id="province" class="form-control textbox-copy-2" name="province"
                                            required="required" type="text">
                                        <option>Gauteng</option>
                                        <option>Mpumalanga</option>
                                        <option>Limpopo</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="information">What kind of message do you want to leave? </label><br/>
                                    <select id="information" class="form-control textbox-copy-2" name="information"
                                            required="required" type="text">
                                        <option>Request for information</option>
                                        <option>Request for quotation</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <!--<h4><strong>Your Message</strong></h4>-->

                        <h6 class="checkbox-heading">CHOOSE WHAT YOUR MESSAGE IS RELATED TO: </h6>
                        <div class="col-md-12 row">
                        <div class="col-md-6">
                                <div class="form-group">
                                    <input id="life_cover" name="life_cover" required="required" type="checkbox"/>
                                    <small>Life Cover</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="financial_planning" name="financial_planning" required="required"
                                           type="checkbox"/>
                                    <small>Financial Planning</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="medical_aid" name="medical_aid" required="required" type="checkbox"/>
                                    <small>Medical Aid</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="car_household" name="car_household" required="required" type="checkbox"/>
                                    <small>Car and Household Insurance</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="invest_save" name="save_invest" required="required" type="checkbox"/>
                                    <small>Investment, Retirement and Savings</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="business_insurance" name="business_insurance" required="required"
                                           type="checkbox"/>
                                    <small>Business Insurance</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="credit_payment" name="credit_payment" required="required"
                                           type="checkbox"/>
                                    <small>Credit Card and Payment Solutions</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="not_sure" name="not_sure" required="required" type="checkbox"/>
                                    <small>Not sure</small>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="message">Is there any additional information you would like to include? </label><br/>
                            <textarea id="message" class="form-control textbox2" name="message" required="required"type="text" data-error="Message is required." rows="7" style="width: 100% !important; margin: 20px 0px;"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-4">
                              <input class="call-action" type="submit" name="submit" value="send">
                            </div>
                            </div>
                    </form>

      </div>
    </section> #}

    	{# <div class="drop-msg drop-msg-mobile become-member">
             <div class="drop-msg-border-left" style="float:left;max-width: 100%;width: 100%;border-right: solid 1px;text-align: center;">
                <a style="display: inline-block;" href="#mc_embed_signup" class="drop-msg-a">Become an Accredited Adviser</a></div>
         </div> #}


      <div class="drop-msg drop-msg-mobile">

        <div class="btnLinks">
            <a style="display: inline-block;" href="#mc_embed_signup" class="drop-msg-a" target="_blank">Become an Accredited Adviser</a>
        </div>

        <div class="drop-msg-border-left">
              
        </div>
      </div> 

 
  <style>
    .subnav-container{
      margin-top: -20px !important;
    }

    .become-member {
        max-width: 100%;
        width: 22.5%;
        background: rgba(9,30,53,1)!important;
    }

    .form-control {
      border: 1px solid #b4b4b4;
      height: calc(3.375rem + -15px);
    }

    .selectric {
      border: 1px solid #b4b4b4;
    }

    label{
      color: #515151;
    }

    .checkbox-heading{
      font-size: 12pt;
      margin-top: 20px;
    }

    small {
      color: #515151;
    }

    .call-action {
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 45px !important;
    font-size: 16px;
    border-color: #091e35;
    background-color: #091e35;
    color: #fff;
    border-radius: 1000px;
}

    p > a{
          color: #B09455 !important;
    }

      .field__label{
        display:none;
      }

	.file.file--mime-application-pdf.file--application-pdf{
		display: contents;
	}

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-1-brochure a {
		float:right;
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }
   @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }
    }



    {# Web Chat styling #}

    .btnLinks{
        float:left;
        width: 175px;
        border-right: solid 1px #fff; 
        height: 36px;
    }

    {# .drop-msg a {
      line-height: 3;
    } #}

    .drop-msg {
        width: 310px !important;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }


    #chat_tab span {
      position: fixed !important;
      background: transparent !important;
      padding: 9px 10px;
      top: unset !important;
      bottom: 23px !important;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px;
      right: 36px !important;
      left: unset;
      margin-top: -7px;
    }


    @media screen and (max-width:1199px) and (min-width:416px){
      #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 24px !important;
            padding: 9px 20px;
            right: 22px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }
    }

    @media (max-width: 415px){
      #chat_tab span {
          position: fixed !important;
          display: inline-block;
          bottom: 64px !important;
          padding: 9px 20px;
          right: 22px !important;
          cursor: pointer;
          width: 100px;
          left: unset!important;
      }

      #product .drop-msg {
              width: 283px !important;
          bottom: 55px !important;
      }
    }
  </style>







   



