{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}




	  <section class="pb-0 contact-area" style="background-image:url(/{{active_theme_path()}}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center -120px; background-repeat:no-repeat">
    <div class="container">

      <div class="row">
        <div class="col-md-12 col-lg-12">

          <div class="boxed p-4" style="background: rgba(9,30,53,0.8)" >
            <div class="row">
              <div class="col-md-12">
                <h2 class="text-white mb-1 mt-0 text-center justify-content-between align-items-center">The next step is to call us or we can call you.</h2>
					<p class="text-white mb-1 text-center justify-content-between align-items-center">0860 123 777 (option 0) or lifeplan@pps.co.za</p>
              </div>
							
            </div>
			



<form class="contactForm" method="POST">
	<h4><strong style="color: #fff">Personal Details</strong></h4>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="title">*Title</label><br />
				<select id="title" class="form-control textbox" name="title" required="required" type="text">
					<option>Adv</option>
					<option>Dr</option>
					<option>Ds</option>
					<option>Me</option>			
					<option>Mev</option>
					<option>Mej</option>
					<option>Mnr</option>
					<option>Mr</option>
					<option>Mrs</option>			
					<option>Ms</option>
					<option>Miss</option>
					<option>Prof</option>			
					<option>Rev</option>																		
				</select>
				<div class="help-block with-errors"></div>
			</div>
		</div>	
		<div class="col-md-6">
			<div class="form-group">
				<label for="firstname">*Firstname </label><br />
				<input id="firstname" class="form-control textbox" name="firstname" required="required" type="text"  data-error="Firstname is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>	
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="lastname">*Lastname </label><br />
				<input id="lastname" class="form-control textbox" name="lastname" required="required" type="text"  data-error="Lastame is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="email">*Email Address</label><br />
				<input id="email" class="form-control textbox" name="email" required="required" type="text" placeholder="e.g. mail@domain.com" data-error="Email is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="contact">*Contact Number </label><br />
				<input id="contact" class="form-control textbox" name="contact" required="required" type="text"  data-error="Contact Number is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="passport">*ID, passport or membership number </label><br />
				<input id="passport" class="form-control textbox" name="passport" required="required" type="text"  data-error="ID, passport or membership number is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="city">*City </label><br />
				<input id="city" class="form-control textbox" name="city" required="required" type="text"  data-error="City is required." />
				<div class="help-block with-errors"></div>
			</div>
		</div>	
		<div class="col-md-6">
			<div class="form-group">
				<label for="contact_time">*Preferred Contact Time</label><br />
				<select id="contact_time" class="form-control textbox" name="contact_time" required="required" type="text">
					<option>AnyTime</option>
					<option>8:00-9:00</option>
					<option>9:00-10:00</option>
					<option>10:00-11:00</option>			
					<option>11:00-12:00</option>
					<option>12:00-13:00</option>
					<option>13:00-14:00</option>
					<option>14:00-15:00</option>			
					<option>15:00-16:00</option>													
				</select>
				<div class="help-block with-errors"></div>
			</div>
		</div>		
	</div>

				<!--<h4><strong>Your Message</strong></h4>-->

	<h6 class="checkbox-heading" style="color:#fff;">CHOOSE WHAT YOUR MESSAGE IS RELATED TO </h6>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
					<input id="life_cover" name="life_cover" type="checkbox" value="Life, Disability and Sickness"  /> <small>Life, Disability and Sickness</small> 
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input id="financial_planning" name="financial_planning" type="checkbox" value="Financial Planning" /> <small>Financial Planning</small>  
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				 <input id="medical_aid" name="medical_aid" type="checkbox"  value="Profmed Medical Scheme" /> <small>Profmed Medical Scheme</small>  
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input id="car_household" name="car_household" type="checkbox" value="Car and Household Insurance"/> <small>Car & Household Insurance</small> 
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>

	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				 <input id="invest_save" name="invest_save" type="checkbox"  value="Investment, Retirement and Savings" /> <small>Investment, Retirement and Savings</small> 
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input id="business_insurance" name="business_insurance" type="checkbox" value="Health Professions Indemnity" /> <small>Health Professions Indemnity</small>  
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>

	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				 <input id="credit_payment" name="credit_payment" type="checkbox" value="Card and Payment Solutions"  /> <small>Card & Payment Solutions</small>  
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input id="not_sure" name="not_sure" type="checkbox" value="Not Sure" /> <small>Not Sure</small> 
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>

	

	<div class="row rowMargin">
		<div class="col-md-6">
			<div class="form-group">
				<label for="information_type">*I would like to submit a </label><br />
				<select id="information_type" class="form-control textbox" name="information_type" required="required" type="text">
					<option>Request for Information</option>
					<option>Request for Service</option>
					<option>Compliment</option>
					<option>Suggestion</option>			
					<option>Complaint</option>								
				</select>
				<div class="help-block with-errors"></div>
			</div>
		</div>	
		<div class="col-md-6">
			<div class="form-group">
				<label for="message">Is there any further information you would like to give us? </label><br />
				<textarea 
					id="message" 
					class="form-control textbox2" 
					name="message" 
					type="text"  
					data-error="Message is required."
					rows="7"
					>
				</textarea>
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="row rowMargin">
		<div class="col-4"></div>
		<div class="col-4 align-btn">  <input id="submitContact" type="submit" class="button-bg" value="Send"></div>
		<div class="col-4"></div>
	</div>
</form>









          </div>
        
        </div>
      </div>
    </div>
  </section>

<style>
	.textbox {
		height: unset !important;
		width: 100%;
		padding: 0.5rem;
		border-radius: 4px;
		background-color: #ffffff;
	}
	.sendbtn{
		color: #091e35;
		width: 150px;
		border-radius: 26px;
		background-color: #ccc;
		font-size: 22px;
		border: 0px;
		line-height: 1.8;
		padding-top: 9px;
	}
	label, small{
		color: #fff !important
	}

	td{
		background: #EFEFEF;
		padding: 5px;
		text-align:center;
	}
	:root {
		--navy: #00253d;
		--seafoam-blue: #66cccc;
	}
	/* To delete after integration*/
	#mc_embed_signup{/*background:#fff;*/ clear:left; font:14px Helvetica,Arial,sans-serif; }

	.height-container {
		margin-top: -129px !important;
	}

	.li-styling {
		top: -112px !important;
		left:  56px !important;
	}

	.blue-bg {
    top: -53px !important;
    left: 36px !important;
    height: 401px !important;
	}

	.section-height {
		height: 631px !important;
	}

		.field--name-field-wealth-services-main-headi p {
			color: #fff !important;
			padding-left: 10px !important;
			text-align: justify !important;
		}

	.color-text-white div div {
		color: #fff !important;
	}

	.color-text-white div div p {
		color: #fff !important;
	}

	.color-text-white div div p strong{
		color: #fff !important;
	}

	.field--name-field-fp-featured-title p {
		font-size: 43px;
    color: #091E35 !important;
	}
	.newsClass a {
		color: #b09455;
	}

	.margin-btn {
		margin-top: -14px !important;
	}
	.selectric-scroll li {
		line-height: 0.5;
	}
	#submit {
		padding-right: 9.125rem !important;
	}
	.row-margin {
		padding-left: 7%;
	}
	.time-heading-margin {
    margin-left: -216px;		
	}
	.selectric .label {
		line-height: 0.5 !important;
	}
	.selectric span {
		background-color: #fff;
		height: 40px !important;
	}
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
	.listMar {
		margin-top: -100px;
	}

.banner-text-invests {
    /*width: 550px;*/
		width: 313px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 105px;
    /* font-size: 2.8rem !important; */
    left: 206px;
}

	.field--name-field-wealth-banner-subtitle {
		font-size: 16px;
    color: #000 !important;
	}

	.banner-text { 
		font-size: 13px !important;
	}

	.field--name-field-horizon-digital-first-head p {
		font-size: 30px !important;
    margin-top: -27px;
	}

	.field--name-field-horizon-digital-second-hea p {
		font-size: 30px !important;
    margin-top: -27px;
	}

	.field--name-field-horizontal-digital-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-estate-banner img {
		width: 100% !important;
		height: 500px !important;	
	}

	#videoCentre {
		padding: 0px 20%;
		margin-bottom: 50px;
	}

	.field--name-field-fp-featured-image img {
		width: 100%;
		height: auto;
	}

		.field--name-field-hd-featured-image img {
		width: 100%;
		height: auto;
	}

	.field--name-field-hd-featured-title h1 {
		color: #73D8E3;
    font-weight: bold;
}


	.field--name-field-horizon-adviser-first-head p {
		font-size: 30px;
	}
	.field--name-field-horizon-adviser-first-head span {
		color: #73D8E3;
    font-weight: bold;
	}	

	.field--name-field-horizon-adviser-second-hea p {
		font-size: 30px;	
	}

	.field--name-field-horizon-adviser-second-hea span {
		color: #73D8E3;
    font-weight: bold;
	}	

	.field--name-field-ha-get-started-title p {
		font-size: 44px;
	}
	.field--name-field-ha-get-started-title span {
    color: #73D8E3;
    font-weight: bold;
    font-size: 53px;
	}	
	.selectric .label {
    color: gray;
    font-size: 13px;
    font-weight: normal;
	}
	.button-bg {
		border-color: #091e35 !important;
    color: #fff;
    width: 150px;
    height: 52px;
    border-radius: 26px;
    background-color: var(--navy);
		font-size: 22px;
}

	.strongRegister {
		color: #73D8E3;
	}
 .register {
	 text-align: center;
 }
	.btnAlign {
		text-align: center;
	}
	.formMargin {
		margin-top: -93px !important;
		background-color: #F0F0F0 !important;
		padding-top: 30px;
    padding-bottom: 30px;
	}  

  .field--name-field-horizontal-advisor-video iframe {
		width: 419px;
    height: 320px;
	}
	.field--name-field-wealth-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-horizontal-advisor-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-financial-advice-heading {
		font-weight: 100 !important;
    font-size: 42px;
	}
	.bg-light {
		background-color: #F0F0F0 !important;
		margin-bottom: 50px !important;
	}

	.bg-lightm {
		background-color: #F0F0F0 !important;
	}

	.bg-lightz {
		background-color: #08263E !important;
		margin-bottom: 50px !important;
	}

	.bg-lights {
		background-color: #FFF !important;
		margin-bottom: 50px !important;
		padding-top: 0px !important;
	}

	#product .block-life .block-bg {
    position: absolute;
    top: 50px;
    left: 65px;
    background: rgba(9,30,53,1);
    width: 400px;
    height: 285px;
}

#product .block-life li {
    position: absolute;
    left: -20px;
    list-style: none;
    top: -40px;
}

	#product .block-lifes .block-bg {
    position: absolute;
    top: 50px;
    left: 65px;
    background: rgba(9,30,53,1) !important;
    width: 400px;
    height: 285px;
}

#product .block-lifes li {
    position: absolute;
    left: -20px;
    list-style: none !important;
    top: -40px;
}
	.field--name-field-financial-advice-image img{
			height: auto !important;
			width: 100%;
	}
	#banner-below {
    height: 74px;
    text-align: center;
    background-color: #D8C8AF;
    padding-top: 25px;
	}

	#banner-below span{
    color: #091E35 !important;
    font-size: 18px;
    font-weight: bold;
	}

	#innerSpan {
		font-weight: normal !important;
    font-size: 14px !important;
	}

  #fpContact .container {
      max-width: 100% !important;
  }
  #fpContact .container {
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

	.field--name-field-financial-advisory-banner img {
		width: 100% !important;
		height: 350px !important;
	}

	.banner-height {

		position: relative;

	}

	.banner-wrap{
	    position: absolute;
		top: 40px;
	}

	.overlay-text {
    left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 200px;
    /* top: -85px; */
    /*font-size: 2.8rem !important;*/
	  color: #091E35 !important;
}

.overlay-textt {
    top: 200px;
    font-size: 33px;
    background-color: rgba(255,255,255,0.2);
    width: auto;
    height: 78px;
    padding: 15px;
    left: 52px;
}
		.overlay-texts {

		left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
		top: 200px;
    /* top: -85px; */
    font-size: 2.8rem !important;
	}

	.overlay-textz {
    left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 200px;
    /* top: -85px; */
    font-size: 2.8rem !important;
}

	.overlay-textv {
    left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 200px;
    /* top: -85px; */
    font-size: 2.8rem !important;
}

.c-button-1.-color-green-outline {
    border-color: #73D8E3;
    background-color: #73D8E3;
    color: #fff;
}

.c-button-1.-color-green-outline {
    color: #9ab1bc;
    border-color: #73D8E3;
    background-color: transparent;
}

.c-button-1.-corner-circle {
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
}

.c-button-1 {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: normal;
    cursor: pointer;
    border-style: solid;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


	.field--name-field-wealth-banner-subtitle {
		color: #000 !important;	
	}

	.field--name-field-financial-advisory-text h3 {
		color: #091E35 !important;
	}

	.field--name-field-financial-advisory-text p {
		color: #fff;
	}

	.blue-background {
		height: 266px !important;
    width: 284px !important;
	}

	.paragraph-margin {
		margin-left: 20%;
		margin-right: 20%;
		text-align: justify;
	}

	.element-center img {
		width: 65px !important;
		height: auto !important;
	}

	.col-md-3 img {
		width: 100%;
		height: auto;
	}

	.rising p {
		padding-left: 3px;
		padding-right: 3px;

	}

	.element-center {
		padding: 20px;
		text-align: center;	
		height: auto !important;
	}
	.heading-margin {
		margin-left: 20%;
		margin-right: 20%;
	}	

	.div-padding {
		margin-bottom: 90px !important;
	}

	.div-padding p:nth-child(2){
		font-weight: bold;
	}
	
	#listServicess{
		 margin-bottom: 40px !important;
	}

	#section-news {
		background-color: #F0F0F0 !important;
		padding-top: 50px !important;
		padding-bottom: 27px !important;
	}

	.bottomMar {
		margin-bottom: 20px !important;
	}

	p a {
		 color: #B09455 !important;
	}

	p a:hover{
		color: #B09455 !important;
	}

	/*Financial Planning*/
	.banner-areas {
		position: relative;
	}
	.field--name-field-financial-planning-banner img {
		width: 100% !important;
		height: 500px !important;		
	}

	.field--name-field-ha-intro-title span {
		color: #73D8E3;
    font-size: 53px;
    font-weight: bold;
    text-transform: capitalize !important;
	}

	.row {
		 margin-bottom: 0px !important;
	}

	.field--name-field-wealth-banner-link a {
			background-color: #091e35 !important;
    	border-color: #091e35 !important;
	}
			#linkHorizonMember {
			margin-top: 18px;
		}
	#linkHorizonMember a {
			background-color: #73D8E3 !important;
    	border-color: #73D8E3 !important;		
	}
	@media screen and (max-width: 500px) {
		#submit {
			margin-top: 10px;
		}
		.time-heading-margin {
			padding-left: 111px;
		}
		.contact-area {
    	margin-bottom: 249px;
   		margin-top: -50px;
		}
		.field--name-field-wealth-banner-link a {
			background-color: #091e35 !important;
    	border-color: #091e35 !important;
		}
		#linkHorizonMember {
			margin-top: 18px;
		}
			#linkHorizonMember a {
			background-color: #73D8E3 !important;
    	border-color: #73D8E3 !important;		
	}
		.banner-will {
			top: -123px;
		}
		.positionAdviser {
    	top: -102px !important;
    	left: 11px !important;
		}

		.classPosition {
   		margin-top: 29px !important;
    	left: 11px !important;
		}

		.classPosition h2 {
			margin-top: -113px;
		}

	.field--name-field-horizon-digital-second-hea {
		top: 220px;
    z-index: 96;
    position: absolute;
	}
		.overlay-textt {
				top: 4px;
				font-size: 33px;
				background-color: rgba(255,255,255,0.2);
				width: auto;
				height: 78px;
				padding: 7px;
				left: 52px;
		}

		.overlay-textv {
			background: rgba(255,255,255,0.4);
			padding: 20px;
			border-radius: 3px;
			z-index: 10;
			position: absolute;
			right: 28px;
			top: -65px;
			height: 116px;
			width: auto;
			left: 26px;
		}
		#videoCentre {
			padding: 0px 25px !important;
		}
		.field--name-field-horizon-digital-video iframe {
			width: 100%;
      height: auto !important;
		}
		.overlay-textz{
    top: 90px;
    right: -190px;
    background-color: rgba(255,255,255,0.2);
    width: auto;
    height: 35px;
    padding-top: 5px;
    color: #fff;
		}

		.field--name-field-estate-banner img {
			height: auto !important;			
		}

		.field--name-field-horizontal-digital-banner img {
			height: auto !important;
		}

		.field--name-field-horizontal-advisor-banner img {
			height: auto !important;
		}
		.hideClass {
			display: none;
		}

	.field--name-field-ha-intro-title h5{
		margin-bottom: 10px;
	}

	.field--name-field-ha-intro-title span{
		    font-size: 20px !important;
	}
		.centerBtn {
			text-align: center;
		}
		.padMar {
			padding-bottom: 13%
		}
		.belowFeature {
			margin-top: -36px;
		}
		.overlay-texts {
    background: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 3px;
    /* margin-left: 51px; */
    /* margin-top: 251px; */
    z-index: 10;
    position: absolute;
    /* right: 15px; */
    /* bottom: -266px; */
    top: 46px;
    height: 58px;
    width: 203px;
    font-size: 17px !important;
    left: 79px;
}
		#banner-below {
			height: 160px;
			text-align: center;
			background-color: #D8C8AF;
			padding-top: 25px;
			padding-left: 10px;
    	padding-right: 10px;
		}	
		.field--name-field-financial-planning-banner img {
			height: auto !important;
		}
		.block-lifes {
			display: none;
		}
		.topMar {
			margin-top: 83px;
		}
		.positionClass {
			position: relative;
		}
		.field--name-field-estate-services-second-hea {
			top: 464px;
    	z-index: 96;
    	position: absolute;
		}

		.field--name-field-horizon-adviser-second-hea {
			top: 367px;
    	z-index: 96;
    	position: absolute;
		}

		.overlay-text {
			top: -83px;
			background-color: rgba(255,255,255,0.2);
			width: auto;
			padding: 8px 3px;
			left: 15px;
			right: 15px;
		}
		
		#section-fp-image {
			margin-top: 110px;
		}

		.field--name-field-wealth-banner img {
			height: 265px !important;
		}

		.bg-light {
			margin-top: -35px;
		}



		.field--name-field-news-main-title {
			font-weight: 500 !important;
		}

		.field--name-field-list-services-title {
			font-weight: 500 !important;			
		}
		.newsClass {
			padding: 25px !important;
			margin: 30px 0px !important;
		}

		#section-news {	
			margin-top: -100px;
    	margin-bottom: 56px;
		}
	}
</style>