<section class="pt-20 banner-images">
    <div class="container">
        
    </div>
</section>


<section class="pb-10 banner-images">
    <div class="container">

        {{content.body}}

    </div>
</section>

<style>
    .smcx-embed {
        width: 100%;
        max-width: 100% !important; 
        height: 700px;
    }
    
    .smcx-embed>.smcx-iframe-container {
        max-width: 100% !important;
    }

    .bg-blue.text-white.groupfooter {
        margin-top: -33px;
    }

    #mc_embed_signup label {
        color: #000 !important;
    }

    .form-composite > legend, .label{
        font-weight: normal !important;
    }

    @media(max-width:415px){
        .bg-blue.text-white.groupfooter {
        margin-top: 0px;
        }

        .banner-area {
            position: relative;
            top: 40px;
        }

        .banner-area > h1{
            font-size: 17pt !important;
        }

        .banner-area > h1 > span{
            font-size: 12pt !important;
        }
    }

    .banner-images{
            padding-top: 0%;
        }

    @media screen and (max-width: 560px){
        .banner-images{
            padding-top: 30%
        }
    }
</style>

<script>
    document.getElementById("mce-MMERGE5").value = window.location.href;
</script>