{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_pregnancy_banner|striptags|trim %}
	<!-- cover -->	
   

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_pregnancy_banner}}</div>
      {# </div> #}
        
			  <div class="container">
          <div class="banner-area">
              <h1 class="mb-0 banner-text-invest pregnancy-title">{{ node.label }}</h1>
              <div class="direct-contact">
                {{content.field_pregnancy_banner_subtext}}
              </div>
          </div>
			  </div>
    </section> 
	
			<!-- / cover -->

	
  
  {# Featured Image #}

    <section style="padding: 2.25rem 0 4.25rem 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_pregnancy_featured_title}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_pregnancy_featured_content}}
            </div>

          </div>

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);" style="background: rgba(196, 196, 196, 0.4) !important;">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-10">
                  <figure class="photo" style="margin-top: -30px;">
                    {{content.field_pregnancy_featured_media}}
                  
                  </figure>
                </li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section>

  <div class="clearfix"></div>



  <section class="bg-light" style="padding: 2.25rem 0 4.25rem 0 !important;">
      <div class="container">
        

        <div class="row justify-content-between">
          <div class="col-12 col-lg-12 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_pregnancy_additional_conte}}
            </div>

          </div>

        </div>

      </div>
    </section>


    <section style="padding: 2.25rem 0 4.25rem 0 !important;">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-12 col-lg-12 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_pregnancy_content_1}}
            </div>

          </div>

        </div>

      </div>
    </section>

    <section class="bg-light" style="padding: 2.25rem 0 4.25rem 0 !important;">
      <div class="container">

        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_pregnancy_media_title}}</h2>
          </div>
        </div>

      {% if content.field_pregnancy_media_list|render %}
        <div class="row justify-content-between">
          <div class="col-12 col-lg-12 align-self-center text-center text-md-left">

	          <div class="row">
              {{ content.field_pregnancy_media_list }}
            </div>
          </div>

        </div>
      {% endif %}

      {% if content.field_media_listing|render %}
        <div class="row justify-content-between">
          <div class="col-12 col-lg-12 align-self-center text-center text-md-left">

	          <div class="row">
              {{ content.field_media_listing }}
            </div>
          </div>

        </div>
      {% endif %}

      </div>
    </section>

            {% include directory ~ '/parts/form-joinpps.html.twig' %}

        <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:20%;">
            <div class="drop-msg-border-left" style="float:left;max-width: 50%;width: 50%;border-right: solid 1px;text-align: center;">
                {{ content.field_life_brochure_link }}    
            </div>
             <div style="float:left;max-width: 50%;width:40%"><a href="#mc_embed_signup" class="drop-msg-a">Call Me Back</a></div>
         </div> 

{# Referrign URL #}
<script>
  document.getElementById("mce-MMERGE9").value = window.location.href;
</script>

  <style>
    audio{
      border: 1px solid #ccc;
    border-radius: 2em;
    }

    .drop-msg {
        max-width: 200px;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }

    .pregnancy-title{
      top: 210px; 
      font-size: 1.8rem !important; 
      text-align: left; 
      padding: 11px;
      font-weight: 400;
    }

    .direct-contact{
        top: 337px;
        position: absolute;
        background-color: rgba(9,30,53,1);
        width: 550px;
        height: auto;
        padding: 11px;
    }
    .direct-contact p, strong{
        font-size: 16px;
        margin-right: -8px;
        color: #fff;
    }
    .direct-contact>span{
        color: #fff;
        font-size: 16px;
        font-weight: 900;
    }

    div.field__item > h4{
      font-size: 1.5rem;
      color: #091E35 !important;
    }

    .chat-header{
      background-color: rgba(9,30,53,1) !important;
    }

    .call-action{
      font-weight: 900;
      text-transform: uppercase;
      padding: 6px 20px !important;
      font-size: 12px;
      border-color: #091e35;
      background-color: #091e35;
      color: #fff;
      border-radius: 1000px;
    }

      .field__label{
        display:none;
      }

	.file.file--mime-application-pdf.file--application-pdf{
		display: contents;
  }
  

  .file--application-pdf a {
    float: left;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 50px !important;
    font-size: 12px;
    font-weight: 398px;
    border-color: #722c9e;
    background-color: #722c9e;
    color: #fff;
    border-radius: 1000px;
}

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-1-brochure a {
		float:right;
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }
   @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }

        .pregnancy-title{
          top: -97px;
          font-size: 0.9rem !important;
          text-align: left;
          padding: 11px;
          font-weight: 400;
        }

        .direct-contact p, strong {
          font-size: 13px;
          margin-right: 0px;
          color: #fff;
          margin-top: -6px;
      }
    }

    @media screen and (max-width: 767px) and (min-width: 416px){

      .pregnancy-title{
          top: 115px;
          font-size: 1.1rem !important;
          text-align: left; 
          padding: 11px;
          font-weight: 400;
        }

        .direct-contact p, strong {
          font-size: 13px;
          margin-right: -8px;
          color: #fff;
          top: 221px !important;
          max-width: 300px !important;
          height: auto !important;
      }

    }


    @media screen and (max-width: 900px) and (min-width: 768px){
      .pregnancy-title{
          top: 145px;
          font-size: 1.4rem !important;
          text-align: left; 
          padding: 11px;
          font-weight: 400;
        }

        .direct-contact {
          top: 275px !important;
        }

        .direct-contact p, strong {
            font-size: 12px;
            margin-right: -8px;
            color: #fff;
        }
    }

    @media screen and (max-width: 1199px) and (min-width: 901px){
      .banner-text-invest {
        max-width: 500px !important;
      }

      .direct-contact {
        width: 500px;
      }

      .direct-contact {
          top: 337px !important;
          max-width: 499px;
          height: auto !important;

            
          }
  </style>







   



