{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

<!-- Banner Wealth Section -->
	{% if content.field_wealth_banner|render  %}
    <section  id="section-fp-image" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="background-size: cover;">		
		<div id="card-and-payments-banner" hidden> {{content.field_wealth_banner}}</div>
        
		<div class="container">
          <div class="banner-area banner-text">
            <h1 class="mb-0 ">{{ node.label }}</h1>
            <p>{{content.field_wealth_banner_subtitle}}</p>
            {{content.field_wealth_banner_link}}						
          </div>
		</div>
    </section>	
		{% endif %}
<!-- /End Wealth Banner Section -->

<!-- Banner Will, Trust and Estate Section -->
	{% if content.field_estate_banner|render  %}
	  <section  id="section-fp-image" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="background-size: cover;">		
			<div id="card-and-payments-banner" hidden> {{content.field_estate_banner}}</div>
					
			<div class="container">
						<div class="banner-area">
							<h1 class="mb-0 banner-text-invest banner-will">{{ node.label }}</h1>						
						</div>
			</div>
    </section>	
		{% endif %}
<!-- /End Will, Trust and Estate Banner Section -->

<!-- Banner Financial Planning -->
	{% if content.field_financial_planning_banner|render %}
		  <section  id="section-fp-image" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="background-size: cover;">		
			<div id="card-and-payments-banner" hidden> {{content.field_financial_planning_banner}}</div>
					
			<div class="container">
						<div class="banner-area">
							<h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>						
						</div>
			</div>
    </section>

	<!-- Quote Section -->
<div id="banner-below">
	<span>"
            {{content.field_fp_quote|render|striptags}}
      " — <span id="innerSpan">
            {{content.field_fp_author|render|striptags}}
      </span></span>
</div>
{% endif %}
<!-- /End Quote Section -->
<!-- /End Financial Planning -->

<!-- Banner Horizon Advisor -->
	{% if content.field_horizontal_advisor_banner|render %}
			<section  id="section-fp-image" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="background-size: cover;">		
			<div id="card-and-payments-banner" hidden> {{content.field_horizontal_advisor_banner}}</div>
					
			<div class="container">
						<div class="banner-area">
							<h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>						
						</div>
			</div>
    </section>
	{% endif %}
<!-- /End Banner Horizon Advisor -->

<!-- Banner Horizon Digitals -->
	{% if content.field_horizontal_digital_banner|render %}
		<section  id="section-fp-image" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="background-size: cover;">		
			<div id="card-and-payments-banner" hidden> {{content.field_horizontal_digital_banner}}</div>
					
			<div class="container">
						<div class="banner-area">
							<h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>						
						</div>
			</div>
    </section>
	{% endif %}
<!-- /End Banner Horizon Advisor -->

	<!-- Horizon Advisor Intro Information -->
		{% if content.field_ha_intro_title|render %}
		<section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
		  <div class="container">
			<div class="row justify-content-center">
			  <div class="col-md-12 col-lg-12">

				<div>
				  <div class="row justify-content-between align-items-center text-center">
					<div class="col-md-9 offset-md-1">	
						{{ content.field_ha_intro_title}}				 
						{% set HAIntroBody %} {{content.field_ha_intro_body}} {% endset %} {{ HAIntroBody|render|striptags|convert_encoding('UTF-8','HTML-ENTITIES') }}
					</div>

				  </div>
				</div>
			   </div>
			  </div>
		</div>
	  </section>	
		{% endif %}	
	<!-- /End of Horizon Advisor Intro Information -->

<!-- Wealth Planning Service Offerings -->
	{% if content.field_wealth_services_main_headi|render %}
    <section class="bg-lightz pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_wealth_services_main_headi}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="col-lg-3 align-self-center color-text-white text-center text-md-left">

            <div>
            		{{content.field_wealth_services_heading}}
            </div>						

          </div>

          <div class="col-lg-9 align-self-center color-text-white text-center text-md-left">

            <div class="mb-2 pl-1">
            		{{content.field_wealth_services_content}}
            </div>

          </div>

        </div>

      </div>
    </section>
	{% endif %}
<!-- /End Wealth Planning Service Offerings -->

<!-- Estate Planning Service Offerings -->
	{% if content.field_estate_services_first_head|render %}
    <section class="bg-light pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_estate_services_first_head}}</h2>
          </div>
	          <div class="col-md-6 positionClass">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_estate_services_second_hea}}</h2>
          </div>				
        </div>

        <div class="row justify-content-between">

          <div class="col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            		{{content.field_estate_services_first_cont}}
            </div>						

          </div>

          <div class="col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 topMar pl-1">
            		{{content.field_estate_services_second_con}}
            </div>

          </div>

        </div>

      </div>
    </section>
			{% endif %}
<!-- /End Estate Planning Service Offerings -->

<!-- Horizon Adviser Service Offerings -->
	{% if content.field_horizon_adviser_first_head|render %}
    <section class="bg-light pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6 classPosition">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_horizon_adviser_first_head}}</h2>
          </div>
	          <div class="col-md-6 positionClass positionAdviser">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_horizon_adviser_second_hea}}</h2>
          </div>				
        </div>

        <div class="row justify-content-between">

          <div class="col-lg-6 listMar align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            		{{content.field_horizon_adviser_first_cont}}
            </div>						

          </div>

          <div class="col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 topMar pl-1">
            		{{content.field_horizon_adviser_second_con}}
            </div>

          </div>

        </div>

      </div>
    </section>
			{% endif %}
<!-- /End Horizon Adviser Service Offerings -->

<!-- Horizon Digital Service Offerings -->
	{% if content.field_horizon_digital_first_cont|render %}
    <section class="bg-light pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_horizon_digital_first_head}}</h2>
          </div>
	          <div class="col-md-6 positionClass">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_horizon_digital_second_hea}}</h2>
          </div>				
        </div>

        <div class="row justify-content-between">

          <div class="col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            		{{content.field_horizon_digital_first_cont}}
            </div>						

          </div>

          <div class="col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 topMar pl-1">
            		{{content.field_horizon_digital_second_con}}
            </div>

          </div>

        </div>

      </div>
    </section>
			{% endif %}
<!-- /End Horizon Digital Service Offerings -->

<!-- Horizon Digital Video -->
{% if content.field_horizon_digital_video|render %}
<div class="container">
	<div class="row">
		<div id="videoCentre" class="col-12">
				{{content.field_horizon_digital_video}}
		</div>
	</div>
</div>
{% endif %}

<!--/End Horizon Digital Video  -->



<!-- Financial Planning Feature Image -->
{% if content.field_fp_featured_image|render %}
    <section class="bg-light pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            {#<h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_featured_title}}</h2> #}
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-lifes col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    {# <a id="feat-image" href="#">#}
                      	{{content.field_fp_featured_image}}
                    {#</a>#}
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-7 belowFeature align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">					
              		<h2 class="h1 text-blue mb-2">{{content.field_fp_featured_title}}</h2>
            			{{content.field_field_fp_featured_body}}						
            </div>

          </div>

        </div>

      </div>
    </section>
	{% endif %}
<!-- /End Financial Planning Featured Image-->

<!-- Horizon Adviser Feature Image -->
{% if content.field_horizontal_advisor_video|render %}
    <section class="bg-lights pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            {#<h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_featured_title}}</h2> #}
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg hideClass" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    {# <a id="feat-image" href="#">#}
												{{ content.field_horizontal_advisor_video }}
                    {#</a>#}
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-7 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">					
              		<h2 class="h1 text-blue mb-2">{{content.field_ha_get_started_title}}</h2>
            			{{content.field_ha_get_started_body}}						
            </div>

          </div>

        </div>

      </div>
    </section>
	{% endif %}
<!-- /End Horizon Adviser Featured Image-->

<!-- Horizon Digital Feature Image -->
{% if content.field_hd_featured_title|render %}
    <section class="bg-lightm pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            {#<h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_featured_title}}</h2> #}
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-lifes col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    {# <a id="feat-image" href="#">#}
                      	{{content.field_hd_featured_image}}
                    {#</a>#}
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-7 belowFeature align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">					
              		<h2 class="h1 text-blue mb-2">{{content.field_hd_featured_title}}</h2>
            			{{content.field_hd_featured_body}}		
									<p id="linkHorizonMember"><a class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle" href="https://horizon.pps.co.za/home" target="_blank" style="padding: 10px 20px;">Get Started</a></p>			
            </div>

          </div>

        </div>

      </div>
    </section>
	{% endif %}
<!-- /End Horizon Digital Featured Image-->

<!-- List of Services -->
{% if content.field_list_service_content|render %}
		<div id="listServicess" class="container">
			<div class="row">
				<div class="col-12 padMar" style="text-align: center;">
						<h4 class="text-blue">{{content.field_list_services_title}}</h4>
						{{content.field_list_services_summary}}
				</div>
				<div class="row element-center">
					{{content.field_list_service_content}}
        </div>
			</div>
		</div>
{% endif %}
<!-- /End List of Services -->

<!-- Estate Motivation -->
{% if content.field_estate_motivation_content|render %}
<section class="bg-light pb-0 section-height">
    <div class="container height-container">
        <div class="row pb-0">
            <div class="col-md-9 offset-md-1 text-center">
                <h2 class="text-blue">{{ content.field_estate_motivation_heading }}</h2>
            </div>
        </div>

        <div class="row justify-content-between">

            <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom">

                <div class="block-bg blue-bg" data-bottom-top="transform: translateY(40px);"
                     data-top-bottom="transform: translateY(-100px);">
                </div>

                <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
                    <ul class="gallery gutter-1 gutter-md-2">
                        <li class="col-12 li-styling">
                            <figure class="photo">
                                <a id="feat-image" href="assets/images/interviewing-african-american-female-14.jpg">
                                    {{ content.field_estate_motivation_image }}
                                </a>
                            </figure>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

                <div class="mb-2 pl-1">
                    {{ content.field_estate_motivation_content }}
                </div>

            </div>

        </div>

    </div>
</section>
{% endif %}
<!-- Estate Motivation -->

<!-- Estate Planning Factors to consider -->
	{% if content.field_estate_factors_heading|render %}
    <section class="pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_estate_factors_heading}}</h2>
          </div>			
        </div>

        <div class="row justify-content-between">

          <div class="col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            		{{content.field_estate_first_factor_conten}}
            </div>						

          </div>

          <div class="col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 topMar pl-1">
            		{{content.field_estate_second_factor_conte}}
            </div>

          </div>

        </div>

      </div>
    </section>
			{% endif %}
<!-- /End Estate Planning Factors to consider -->

<!-- News and Media -->
{% if content.field_news_main_title|render %}
    <section id="section-news">
			<div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_news_main_title}}</h2>
						<h5 class="text-blue bottomMar">{{content.field_news_subtitle_}} </h5>
          </div>
        </div>
        <div class="row">
            {{content.field_news_content}}
        </div>
				</div>
    </section>
{% endif %}
<!-- /End News and Media -->

<!-- Form for Horizon Adviser -->
{% if content.field_horizontal_advisor_video|render %}
<div class="formMargin">
<div class="container ">
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://professionalsconnect.us19.list-manage.com/subscribe/post?u=ee31df1d2f8eb86cc532648a7&amp;id=74ab9084e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <div id="mc_embed_signup_scroll">
	{# <h2>Subscribe to our mailing list</h2> #}
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-MMERGE5">PPS Investments Accredited? </label>
	<select name="MMERGE5" class="" id="mce-MMERGE5">
	<option value=""></option>
	<option value="Yes">Yes</option>
<option value="No">No</option>

	</select>
</div>
<div class="mc-field-group">
	<label for="mce-BROCODE">Brokerage Code </label>
	<input type="text" value="" name="BROCODE" class="" id="mce-BROCODE">
</div>
<div class="mc-field-group">
	<label for="mce-BNAME">Brokage Name </label>
	<input type="text" value="" name="BNAME" class="" id="mce-BNAME">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE6">Contact Name </label>
	<input type="text" value="" name="MMERGE6" class="" id="mce-MMERGE6">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-PHONE">Contact Number </label>
	<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
</div>
<div class="mc-field-group">
	<label for="mce-CITYLOC">City / Location </label>
	<input type="text" value="" name="CITYLOC" class="" id="mce-CITYLOC">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_74ab9084e6" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

	{# {% include directory ~ '/parts/adviserForm.html.twig' %} #}
</div>
</div>
{% endif %}
<!-- /End Form for Horinzon Adviser -->
<!-- Contact Form -->
	{% if (content.field_hd_featured_title|render is empty and content.field_ha_get_started_title|render is empty) %}

		{% include directory ~ '/parts/form-joinpps.html.twig' %}

	  {# <section class="pb-0 contact-area" style="background-image:url(/{{active_theme_path()}}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center -120px; background-repeat:no-repeat">
			<div class="container">

				<div class="row justify-content-center">
					<div class="col-md-12 col-lg-12">

						<div class="boxed p-4 text-center" style="background: rgba(9,30,53,0.8)" >
							<div class="row justify-content-between align-items-center ">
								<div class="col-md-12">
									<h2 class="text-white mb-1 mt-0">The next step is to call us or we can call you.</h2>
									<p class="text-white mb-1">0860 123 777 (option 0) or lifeplan@pps.co.za</p>
								</div>
								
							</div>
								<!-- Begin Mailchimp Signup Form -->

							<!-- Begin Mailchimp Signup Form -->
							<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
							<style type="text/css">
								#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
								/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
									We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
							</style>
							<div id="mc_embed_signup">
							<form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=4d40229ddc&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<div id="mc_embed_signup_scroll">
									
							<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
							<div class="mc-field-group">
								<label for="mce-FNAME">Full Name  <span class="asterisk">*</span>
							</label>
								<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
							</div>
							<div class="mc-field-group">
								<label for="mce-CNUMBER">Contact number  <span class="asterisk">*</span>
							</label>
								<input type="text" value="" name="CNUMBER" class="required" id="mce-CNUMBER">
							</div>
							<div class="mc-field-group">
								<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
							</label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							</div>
							<div class="mc-field-group">
								<label for="mce-SELECTDAY">Select a Day  <span class="asterisk">*</span>
							</label>
								<select name="SELECTDAY" class="required" id="mce-SELECTDAY">
								<option value="">---Select a Day---</option>
								<option value="Monday">Monday</option>
								<option value="Tuesday">Tuesday</option>
								<option value="Wednesday">Wednesday</option>
								<option value="Thursday">Thursday</option>
								<option value="Friday">Friday</option>

								</select>
							</div>
							<div class="mc-field-group">
								<label for="mce-SELECTTIME">Select a Time  <span class="asterisk">*</span>
							</label>
								<select name="SELECTTIME" class="required" id="mce-SELECTTIME">
								<option value="">---Select a Time---</option>
								<option value="AnyTime">AnyTime</option>
								<option value="8:00">8:00</option>
								<option value="8:30">8:30</option>
								<option value="9:00">9:00</option>
								<option value="9:30">9:30</option>
								<option value="10:00">10:00</option>
								<option value="10:30">10:30</option>
								<option value="11:00">11:00</option>
								<option value="11:30">11:30</option>
								<option value="12:00">12:00</option>
								<option value="12:30">12:30</option>
								<option value="13:00">13:00</option>
								<option value="13:30">13:30</option>
								<option value="14:00">14:00</option>
								<option value="14:30">14:30</option>
								<option value="15:00">15:00</option>
								<option value="15:30">15:30</option>
								<option value="16:00">16:00</option>
								<option value="16:30">16:30</option>
								<option value="17:00">17:00</option>
								<option value="17:30">17:30</option>

								</select>
							</div>
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
									<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_4d40229ddc" tabindex="-1" value=""></div>
									<div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
									</div>
							</form>
							</div>

							<!--End mc_embed_signup-->
						</div>
					
					</div>
				</div>
			</div>
		</section> #}
<!-- /End Contact Form-->
{% endif %}
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style>
	:root {
		--navy: #00253d;
		--seafoam-blue: #66cccc;
	}
	/* To delete after integration*/
	#mc_embed_signup{/*background:#fff;*/ clear:left; font:14px Helvetica,Arial,sans-serif; }

	.height-container {
		margin-top: -129px !important;
	}

	.li-styling {
		top: -112px !important;
		left:  56px !important;
	}

	.blue-bg {
    top: -53px !important;
    left: 36px !important;
    height: 401px !important;
	}

	.section-height {
		height: 631px !important;
	}

		.field--name-field-wealth-services-main-headi p {
			color: #fff !important;
			padding-left: 10px !important;
			text-align: justify !important;
		}

	.color-text-white div div {
		color: #fff !important;
	}

	.color-text-white div div p {
		color: #fff !important;
	}

	.color-text-white div div p strong{
		color: #fff !important;
	}

	.field--name-field-fp-featured-title p {
		font-size: 43px;
    color: #091E35 !important;
	}
	.newsClass a {
		color: #b09455;
	}

	.margin-btn {
		margin-top: -14px !important;
	}
	.selectric-scroll li {
		line-height: 0.5;
	}
	#submit {
		padding-right: 9.125rem !important;
	}
	.row-margin {
		padding-left: 7%;
	}
	.time-heading-margin {
    margin-left: -216px;		
	}
	.selectric .label {
		line-height: 0.5 !important;
	}
	.selectric span {
		background-color: #fff;
		height: 40px !important;
	}
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
	.listMar {
		margin-top: -100px;
	}

.banner-text-invests {
    /*width: 550px;*/
		width: 313px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 105px;
    /* font-size: 2.8rem !important; */
    left: 206px;
}

	.field--name-field-wealth-banner-subtitle {
		font-size: 16px;
    color: #000 !important;
	}

	.banner-text { 
		font-size: 13px !important;
	}

	.field--name-field-horizon-digital-first-head p {
		font-size: 30px !important;
    margin-top: -27px;
	}

	.field--name-field-horizon-digital-second-hea p {
		font-size: 30px !important;
    margin-top: -27px;
	}

	.field--name-field-horizontal-digital-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-estate-banner img {
		width: 100% !important;
		height: 500px !important;	
	}

	#videoCentre {
		padding: 0px 20%;
		margin-bottom: 50px;
	}

	.field--name-field-fp-featured-image img {
		width: 100%;
		height: auto;
	}

		.field--name-field-hd-featured-image img {
		width: 100%;
		height: auto;
	}

	.field--name-field-hd-featured-title h1 {
		color: #73D8E3;
    font-weight: bold;
}


	.field--name-field-horizon-adviser-first-head p {
		font-size: 30px;
	}
	.field--name-field-horizon-adviser-first-head span {
		color: #73D8E3;
    font-weight: bold;
	}	

	.field--name-field-horizon-adviser-second-hea p {
		font-size: 30px;	
	}

	.field--name-field-horizon-adviser-second-hea span {
		color: #73D8E3;
    font-weight: bold;
	}	

	.field--name-field-ha-get-started-title p {
		font-size: 44px;
	}
	.field--name-field-ha-get-started-title span {
    color: #73D8E3;
    font-weight: bold;
    font-size: 53px;
	}	
	.selectric .label {
    color: gray;
    font-size: 13px;
    font-weight: normal;
	}
	.button-bg {
		border-color: #091e35 !important;
    color: #fff;
    width: 150px;
    height: 52px;
    border-radius: 26px;
    background-color: var(--navy);
		font-size: 22px;
}

	.strongRegister {
		color: #73D8E3;
	}
 .register {
	 text-align: center;
 }
	.btnAlign {
		text-align: center;
	}
	.formMargin {
		margin-top: -93px !important;
		background-color: #F0F0F0 !important;
		padding-top: 30px;
    padding-bottom: 30px;
	}  

  .field--name-field-horizontal-advisor-video iframe {
		width: 419px;
    height: 320px;
	}
	.field--name-field-wealth-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-horizontal-advisor-banner img {
		width: 100% !important;
		height: 500px !important;
	}

	.field--name-field-financial-advice-heading {
		font-weight: 100 !important;
    font-size: 42px;
	}
	.bg-light {
		background-color: #F0F0F0 !important;
		margin-bottom: 50px !important;
	}

	.bg-lightm {
		background-color: #F0F0F0 !important;
	}

	.bg-lightz {
		background-color: #08263E !important;
		margin-bottom: 50px !important;
	}

	.bg-lights {
		background-color: #FFF !important;
		margin-bottom: 50px !important;
		padding-top: 0px !important;
	}

	#product .block-life .block-bg {
    position: absolute;
    top: 50px;
    left: 65px;
    background: rgba(9,30,53,1);
    width: 400px;
    height: 285px;
}

#product .block-life li {
    position: absolute;
    left: -20px;
    list-style: none;
    top: -40px;
}

	#product .block-lifes .block-bg {
    position: absolute;
    top: 50px;
    left: 65px;
    background: rgba(9,30,53,1) !important;
    width: 400px;
    height: 285px;
}

#product .block-lifes li {
    position: absolute;
    left: -20px;
    list-style: none !important;
    top: -40px;
}
	.field--name-field-financial-advice-image img{
			height: auto !important;
			width: 100%;
	}
	#banner-below {
    height: 74px;
    text-align: center;
    background-color: #D8C8AF;
    padding-top: 25px;
	}

	#banner-below span{
    color: #091E35 !important;
    font-size: 18px;
    font-weight: bold;
	}

	#innerSpan {
		font-weight: normal !important;
    font-size: 14px !important;
	}

  #fpContact .container {
      max-width: 100% !important;
  }
  #fpContact .container {
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

	.field--name-field-financial-advisory-banner img {
		width: 100% !important;
		height: 350px !important;
	}

	.banner-height {

		position: relative;

	}

	.banner-wrap{
	    position: absolute;
		top: 40px;
	}

	.overlay-text {
    left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 200px;
    /* top: -85px; */
    /*font-size: 2.8rem !important;*/
	  color: #091E35 !important;
}

.overlay-textt {
    top: 200px;
    font-size: 33px;
    background-color: rgba(255,255,255,0.2);
    width: auto;
    height: 78px;
    padding: 15px;
    left: 52px;
}
		.overlay-texts {

		left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
		top: 200px;
    /* top: -85px; */
    font-size: 2.8rem !important;
	}

	.overlay-textz {
    left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 200px;
    /* top: -85px; */
    font-size: 2.8rem !important;
}

	.overlay-textv {
    left: 100px;
    width: 550px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 200px;
    /* top: -85px; */
    font-size: 2.8rem !important;
}

.c-button-1.-color-green-outline {
    border-color: #73D8E3;
    background-color: #73D8E3;
    color: #fff;
}

.c-button-1.-color-green-outline {
    color: #9ab1bc;
    border-color: #73D8E3;
    background-color: transparent;
}

.c-button-1.-corner-circle {
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
}

.c-button-1 {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: normal;
    cursor: pointer;
    border-style: solid;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


	.field--name-field-wealth-banner-subtitle {
		color: #000 !important;	
	}

	.field--name-field-financial-advisory-text h3 {
		color: #091E35 !important;
	}

	.field--name-field-financial-advisory-text p {
		color: #fff;
	}

	.blue-background {
		height: 266px !important;
    width: 284px !important;
	}

	.paragraph-margin {
		margin-left: 20%;
		margin-right: 20%;
		text-align: justify;
	}

	.element-center img {
		width: 65px !important;
		height: auto !important;
	}

	.col-md-3 img {
		width: 100%;
		height: auto;
	}

	.rising p {
		padding-left: 3px;
		padding-right: 3px;

	}

	.element-center {
		padding: 20px;
		text-align: center;	
		height: auto !important;
	}
	.heading-margin {
		margin-left: 20%;
		margin-right: 20%;
	}	

	.div-padding {
		margin-bottom: 90px !important;
	}

	.div-padding p:nth-child(2){
		font-weight: bold;
	}
	
	#listServicess{
		 margin-bottom: 40px !important;
	}

	#section-news {
		background-color: #F0F0F0 !important;
		padding-top: 50px !important;
		padding-bottom: 27px !important;
	}

	.bottomMar {
		margin-bottom: 20px !important;
	}

	p a {
		 color: #B09455 !important;
	}

	p a:hover{
		color: #B09455 !important;
	}

	/*Financial Planning*/
	.banner-areas {
		position: relative;
	}
	.field--name-field-financial-planning-banner img {
		width: 100% !important;
		height: 500px !important;		
	}

	.field--name-field-ha-intro-title span {
		color: #73D8E3;
    font-size: 53px;
    font-weight: bold;
    text-transform: capitalize !important;
	}

	.row {
		 margin-bottom: 0px !important;
	}

	.field--name-field-wealth-banner-link a {
			background-color: #091e35 !important;
    	border-color: #091e35 !important;
	}
			#linkHorizonMember {
			margin-top: 18px;
		}
	#linkHorizonMember a {
			background-color: #73D8E3 !important;
    	border-color: #73D8E3 !important;		
	}
	@media screen and (max-width: 500px) {
		#submit {
			margin-top: 10px;
		}
		.time-heading-margin {
			padding-left: 111px;
		}
		.contact-area {
    	margin-bottom: 249px;
   		margin-top: -50px;
		}
		.field--name-field-wealth-banner-link a {
			background-color: #091e35 !important;
    	border-color: #091e35 !important;
		}
		#linkHorizonMember {
			margin-top: 18px;
		}
			#linkHorizonMember a {
			background-color: #73D8E3 !important;
    	border-color: #73D8E3 !important;		
	}
		.banner-will {
			top: -123px;
		}
		.positionAdviser {
    	top: -102px !important;
    	left: 11px !important;
		}

		.classPosition {
   		margin-top: 29px !important;
    	left: 11px !important;
		}

		.classPosition h2 {
			margin-top: -113px;
		}

	.field--name-field-horizon-digital-second-hea {
		top: 220px;
    z-index: 96;
    position: absolute;
	}
		.overlay-textt {
				top: 4px;
				font-size: 33px;
				background-color: rgba(255,255,255,0.2);
				width: auto;
				height: 78px;
				padding: 7px;
				left: 52px;
		}

		.overlay-textv {
			background: rgba(255,255,255,0.4);
			padding: 20px;
			border-radius: 3px;
			z-index: 10;
			position: absolute;
			right: 28px;
			top: -65px;
			height: 116px;
			width: auto;
			left: 26px;
		}
		#videoCentre {
			padding: 0px 25px !important;
		}
		.field--name-field-horizon-digital-video iframe {
			width: 100%;
      height: auto !important;
		}
		.overlay-textz{
    top: 90px;
    right: -190px;
    background-color: rgba(255,255,255,0.2);
    width: auto;
    height: 35px;
    padding-top: 5px;
    color: #fff;
		}

		.field--name-field-estate-banner img {
			height: auto !important;			
		}

		.field--name-field-horizontal-digital-banner img {
			height: auto !important;
		}

		.field--name-field-horizontal-advisor-banner img {
			height: auto !important;
		}
		.hideClass {
			display: none;
		}

	.field--name-field-ha-intro-title h5{
		margin-bottom: 10px;
	}

	.field--name-field-ha-intro-title span{
		    font-size: 20px !important;
	}
		.centerBtn {
			text-align: center;
		}
		.padMar {
			padding-bottom: 13%
		}
		.belowFeature {
			margin-top: -36px;
		}
		.overlay-texts {
    background: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 3px;
    /* margin-left: 51px; */
    /* margin-top: 251px; */
    z-index: 10;
    position: absolute;
    /* right: 15px; */
    /* bottom: -266px; */
    top: 46px;
    height: 58px;
    width: 203px;
    font-size: 17px !important;
    left: 79px;
}
		#banner-below {
			height: 160px;
			text-align: center;
			background-color: #D8C8AF;
			padding-top: 25px;
			padding-left: 10px;
    	padding-right: 10px;
		}	
		.field--name-field-financial-planning-banner img {
			height: auto !important;
		}
		.block-lifes {
			display: none;
		}
		.topMar {
			margin-top: 83px;
		}
		.positionClass {
			position: relative;
		}
		.field--name-field-estate-services-second-hea {
			top: 464px;
    	z-index: 96;
    	position: absolute;
		}

		.field--name-field-horizon-adviser-second-hea {
			top: 367px;
    	z-index: 96;
    	position: absolute;
		}

		.overlay-text {
			top: -83px;
			background-color: rgba(255,255,255,0.2);
			width: auto;
			padding: 8px 3px;
			left: 15px;
			right: 15px;
		}
		
		#section-fp-image {
			margin-top: 110px;
		}

		.field--name-field-wealth-banner img {
			height: 265px !important;
		}

		.bg-light {
			margin-top: -35px;
		}



		.field--name-field-news-main-title {
			font-weight: 500 !important;
		}

		.field--name-field-list-services-title {
			font-weight: 500 !important;			
		}
		.newsClass {
			padding: 25px !important;
			margin: 30px 0px !important;
		}

		#section-news {	
			margin-top: -100px;
    	margin-bottom: 56px;
		}
	}
</style>