<style>
    .btn-fit { width: 100%; font-weight: normal; white-space: normal; }
	.btn-fit .btn-sm-text { font-size: 12px; }
    .textbox {
		height: unset !important;
		width: 100%;
		padding: 0.5rem;
		border-radius: 4px;
		background-color: #ffffff;
	}
	.error_message{
		background: rgba(136, 8, 8, 0.4);
		padding: 15px 0px 10px 24px;
		margin-top: 20px;
		color: #fff;
		border-top: 1px solid #820202;
		border-right: 1px solid #820202;
		border-bottom: 1px solid #820202;
		border-left: 8px solid #820202;
	}
	.success_message{
		background: rgba(8, 136, 71, 0.4);
		padding: 15px 0px 10px 24px;
		margin-top: 20px;
		color: #fff;
		border-top: 1px solid #1c8609;
		border-right: 1px solid #1c8609;
		border-bottom: 1px solid #1c8609;
		border-left: 8px solid #1c8609;
	}
	.sendbtn{
		color: #ffffff !important;
		width: 150px !important;
		border-radius: 26px;
		background-color: #091f35;
		font-size: 15px;
		border: 1px solid #fff;
		line-height: 1.8;
		padding-top: 9px;
		padding-bottom: 10px;
		font-weight: bold;
	}
	.sendbtn:hover{
		color: #ffffff;
		width: 150px;
		border-radius: 26px;
		background-color: #091f35;
		font-size: 15px;
		border: 1px solid #fff;
		line-height: 1.8;
		padding-top: 9px;
		padding-bottom: 10px;
		font-weight: bold;
	}
    .selectric .label {
		line-height: 0.5 !important;
	}
	.selectric span {
		background-color: #fff;
		height: 40px !important;
	}
    .vt { border-top: solid 2px #117a8b; }
    a .card-footer, a .card-header {
        font-weight: normal !important;
        text-transform: none !important;
        padding: inherit !important;
        padding-top: 0 !important;
    }
    #main-body p:first-of-type {
        font-size: 20px;
    }
    .btn-vl {
        display: table;
        height: 80px;
    }
    .btn-vl p {
        display: table-cell;
        vertical-align: middle;
    }
    .btn-clear {
        border: solid 2px #091E35 !important;
        color: #091E35 !important;
        border-radius: 20px;
        padding: 10px 80px;
        position: relative;
    }
    .btn-clear strong {
        color: #138496;
        font-size: 1.2em;
    }
</style>
{% if content.field_banner_image|render  %}
    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="background-size: cover;">		
        <div id="card-and-payments-banner" hidden> {{content.field_banner_image}}</div>
        <div class="container">
            <div class="banner-area">
                <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>				
            </div>
        </div>
    </section>
{% endif %}
<div class="bg-blue text-white">
	<div class="container pt-2 pb-1">
        <div class="row">
            {% if content.field_legacy_header_title|render  %}
                <div class="col-md-12 mb-2">
                    <h2>{{ content.field_legacy_header_title }}</h2>
                </div>
            {% endif %}
            <div class="col-md-12">
		        <div id="main-body" class="mt-1">{{ content.body }}</div>
            </div>
        </div>
    </div>
    <div class="vt">
        <div class="container mt-1 pb-1">
            <div class="row">
                {% for legacy_menu_item in content.field_legacy_menu['#items']  %}
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        {% if path('<current>') == legacy_menu_item.uri|replace({'internal:':''}) %}
                            <div class="btn btn-gold btn-fit text-white p-1 btn-vl" style="min-height: 80px; font-weight:bold;">
                                <p>{{ legacy_menu_item.title }}</p>
                            </div>
                        {% else %}
                            <a class="btn btn-info btn-fit text-white p-1 btn-vl" 
                                style="min-height: 80px; font-weight:bold;" 
                                href="{{ legacy_menu_item.getUrl() }}">
                                    <p>{{ legacy_menu_item.title }}</p>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container pt-2 pb-2">
        {% if content.field_legacy_sub_header_title|render  %}
            <h3>{{ content.field_legacy_sub_header_title }}</h3>
        {% endif %}
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                {% if content.field_legacy_sub_header_body_1|render %}
                    {{ content.field_legacy_sub_header_body_1 }}
                {% endif %}
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 text-right">
                {% if content.field_legacy_sub_header_body_2|render %}
                    {{ content.field_legacy_sub_header_body_2 }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container pt-2 pb-2">
        {% if content.field_legacy_body_header|render  %}
            <h3>{{ content.field_legacy_body_header }}</h3>
        {% endif %}
        {% if content.field_legacy_body_main|render %}
            {{ content.field_legacy_body_main }}
        {% endif %}
        {% if node.field_legacy_card is not empty %}
            <div class="card text-center mt-2">
                <div class="row">
                    {% for cardgroup in node.field_legacy_card %}
                        <div class="col-md-3 col-sm-12">
                            {% if cardgroup.getFieldCollectionItem().field_card_url.value|render %}
                                <a href="{{ cardgroup.getFieldCollectionItem().field_card_url.value }}">
                            {% endif %}
                            {% if cardgroup.getFieldCollectionItem().field_card_header.value|render %}
                                <div class="card-header bg-info" style="height: 140px;">
                                    <strong>
                                        {{ cardgroup.getFieldCollectionItem().field_card_header.value }}
                                    </strong>
                                </div>
                            {% endif %}
                            {% if cardgroup.getFieldCollectionItem().field_card_image.entity.uri.value|render %}
                                <img class="card-img" 
                                    src="{{ file_url(cardgroup.getFieldCollectionItem().field_card_image.entity.uri.value) }}" 
                                    alt="Card image">
                            {% endif %}
                            {% if cardgroup.getFieldCollectionItem().field_card_footer.value|render %}
                                <div class="card-footer text-muted">
                                    {{ cardgroup.getFieldCollectionItem().field_card_footer.value|raw }}
                                </div>
                            {% endif %}
                            {% if cardgroup.getFieldCollectionItem().field_card_url.value|render %}
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if content.field_legacy_body_sub_header|render  %}
            <h4 class="text-info mt-2">{{ content.field_legacy_body_sub_header }}</h4>
        {% endif %}
        {% if content.field_legacy_body_sub_main|render %}
            {{ content.field_legacy_body_sub_main }}
        {% endif %}
        {% if content.field_legacy_competition_image|render %}
            <div class="row">
                <a style="width:100%;" href="{{ content.field_legacy_competition_url.0 }}">
                    <img class="" alt="PPS Competition" style="width: 100%;" 
                        src="{{ file_url(node.field_legacy_competition_image.0.entity.uri.value) }}" >
                </a>
            </div>
        {% endif %}
        {% if content.field_legacy_additional_articles['#items']|length > 0 %}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h4>Additional articles to assist you:</h4>
                </div>
                {% for legacy_add_article in content.field_legacy_additional_articles['#items']  %}
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <a class="btn btn-info btn-fit text-white" href="{{ legacy_add_article.getUrl() }}" target="_blank">
                            {% if 'youtube' in file_url(legacy_add_article.uri) %}
                                <i class="fa fa-play-circle fa-3x" aria-hidden="true" style="float: right;"></i>
                            {% endif %}
                            <p>{{ legacy_add_article.title }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<div class="bg-light" style="border-top: solid 4px #091E35">
    <div class="container pt-2 pb-2">
        <h4>Take the next step</h4>
        <p class="text-blue">Speak to one of our financial advisers or wealth managers today if you 
        want to mitigate the impact of unexpected events with lifestyle protection for you, your family 
        and your business.</p>
    </div>
</div>
<section class="pb-0 contact-area" id="contactus" style="background-image:url(/{{active_theme_path()}}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center 0px; background-repeat:no-repeat">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="boxed p-4" style="background: rgba(9,30,53,0.8)" >
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-white mb-1 mt-0 text-center justify-content-between align-items-center">
                                The next step is to call us or we can call you.
				                <br/>
                                <a href="tel:+27860123777" style="font-size: 2.5rem; text-align: center!important">0860 123 777</a>
                            </h2>
                        </div>
			        </div>
                    <form id="leads" class="contactForm" method="POST">
	                    <div class="row rowMargin">
			
                            <div class="col-md-6 col-12 pt-1">
                                <div class="form-group">
                                    <label for="firstname">*Name </label><br />
                                    <input id="firstname" class="textbox" name="firstname" required="required" type="text"  data-error="Firstname is required." />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
            
                            <div class="col-md-6 col-12 pt-1">
                                <div class="form-group">
                                    <label for="email">*Email Address</label><br />
                                    <input id="email" class="textbox" name="email" required="required" type="text" placeholder="e.g. mail@domain.com" data-error="Email is required." />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-6 col-12 pt-1">
                                <div class="form-group">
                                    <label for="contact">*Contact Number </label><br />
                                    <input id="contact" class="textbox" name="contact" required="required" type="text"  data-error="Contact Number is required." />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>                              

                                <div class="col-md-6 col-12 pt-1">
                                    <div class="form-group">
                                        <label for="qualification">*Highest Qualification:</label><br />
                                        <input id="qualification" class="textbox" name="qualification" required="required" type="text"  data-error="Qualification is required." />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 pt-1">
                                    <div class="form-group">
                                        <label for="id_passport">ID Number / Passport:</label><br />
                                        <input id="id_passport" class="textbox" name="id_passport" required="required" type="text"  data-error="ID/Passport is required." />
                                        <small style="font-style: italic">Please note that your ID / Passport number is completely safe with us</small>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 pt-1">

                                    <div class="form-group">
                                        <label for="member">*Are you an existing PPS Member (Yes/No):</label><br />
                                        <select name="member" id="member" placeholder="Select an Option" style="height: 37px; opacity: 1 !important; width: 60%; background: #fff !important;">
                                            <option default>Select an Option</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No"> No</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                </div>

                                <h6 class="checkbox-heading col-12 col-md-12 pt-2" style="color:#fff; ">I'M INTERESTED IN</h6>
                            
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label style="cursor:pointer">
                                            <input id="life_cover" name="life_cover" type="checkbox" value="Life, Disability and Sickness"/> 
                                            Life, Sickness and Disability Cover
                                        </label> 
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label style="cursor:pointer">
                                            <input id="financial_planning" name="financial_planning_advice" type="checkbox" value="Financial Planning" /> 
                                            Financial Planning & Advice
                                        </label>  
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label style="cursor:pointer">
                                            <input id="car_household" name="car_household" type="checkbox" value="Car and Household Insurance"/> 
                                            Car & Household Insurance
                                        </label> 
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label style="cursor:pointer">
                                            <input id="invest_save" name="invest_save" type="checkbox"  value="Investments, Retirement and Savings" /> 
                                            Investment, Retirement and Savings
                                        </label> 
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label style="cursor:pointer">
                                            <input id="medical_aid" name="medical_aid" type="checkbox" value="Profmed Medical Scheme"  /> 
                                            Profmed Medical Scheme
                                        </label>  
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label style="cursor:pointer">
                                            <input id="credit_payment" name="credit_payment" type="checkbox" value="Card and Payment Solutions" /> 
                                            Payment Solutions
                                        </label>  
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label style="cursor:pointer">
                                            <input id="hpi" name="hpi" type="checkbox" value="Health Professions Indemnity" /> 
                                            Health Professions Indemnity
                                        </label> 
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label style="cursor:pointer">
                                            {% set url = url('<current>')['#markup'] %}
                                            <input id="wills_trust_and_estate_planning" name="wills_trust_and_estate_planning" type="checkbox" value="Wills, Trust and Estate Planning" {% if url|split('/')|last == 'preparing-for-the-legacy' %} checked {% endif %} /> 
                                            Wills, Trust and Estate Planning
                                        </label> 
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label style="cursor:pointer">
                                            <input id="not_sure" name="not_sure" type="checkbox" value="Unknown" /> 
                                            Not Sure
                                        </label> 
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            </div>
		
                            <div class="col-4 align-btn">
                                <button onclick="onSubmit()" type="button" class="btn btn-link sendbtn">Call Me Back</button>
                            </div>

	                        <div id="form-messages"></div>

                            <div class="col-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function onSubmit(){

        console.log('1');

        var firstname=document.getElementById("firstname").value;
        var email=document.getElementById("email").value;
        var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        var contact=document.getElementById("contact").value; 
        var qualification=document.getElementById("qualification").value; 
        // var life_cover=document.getElementById("life_cover").value;
        var member=document.getElementById("member").value;
        var id_passport=document.getElementById('id_passport').value;
        var message_type = [];

        console.log('2');

        if((firstname == '') || (email == '') || (contact == '') || (qualification =='') || (member == ''))
        {
            $("#form-messages").html("<div class='error_message'>Please fill in all the required fields</div>");
        }
        else
        {
            if(!email_regex.test(email))
            {
                $("#form-messages").html("<div class='error_message'>Please Enter a valid Email Address</div>");				
            }
            else{

                if($("#life_cover").prop("checked") == true){		
                    message_type.push($("#life_cover").val());
                }
                if($("#financial_planning").prop("checked") == true){
                    message_type.push($("#financial_planning").val());
                }

                if($("#medical_aid").prop("checked") == true){		
                    message_type.push($("#medical_aid").val());
                }
                
                if($("#car_household").prop("checked") == true){	
                    message_type.push($("#car_household").val());
                }

                if($("#invest_save").prop("checked") == true){		
                    message_type.push($("#invest_save").val());
                }

                if($("#business_insurance").prop("checked") == true){	
                    message_type.push($("#business_insurance").val());
                }
                
                if($("#credit_payment").prop("checked") == true){	
                    message_type.push($("#credit_payment").val());
                }
                
                if($("#hpi").prop("checked") == true){			
                    message_type.push($("#hpi").val());	
                }

                if($("#marketing_communications").prop("checked") == true){			
                    message_type.push($("#marketing_communications").val());	
                }

                if($("#wills_trust_and_estate_planning").prop("checked") == true){			
                    message_type.push($("#wills_trust_and_estate_planning").val());	
                }

                if($("#not_sure").prop("checked") == true){			
                    message_type.push($("#not_sure").val());	
                }

                console.log('3');

                $.ajax({
                    cache: false,
                    contentType:'application/json',
                    method: 'POST',
                    // url: 'https://integrations.pps.co.za/api/v1/joinPPSAdvice',
                    url: 'https://integrations.pps.co.za/api/v1/standardisedForm',
                    data: JSON.stringify({
                    
                        "name":firstname,
                        "emailAddress":email,
                        "contactNumber":contact,
                        "highestQualification":qualification,
                        "idNumber":id_passport,
                        "notes":member,
                        "queryRelations":message_type,
                        "message":"This is a message",
                        "referringUrl":window.location.href,
                        "standardisedFormType":"Join PPS"

                    }),
                    error: function (data) {
                        console.log(data);
                        
                    },
                    success: function (data) {
                        //console.log(data);
                        $("#form-messages").html("<div class='success_message'>Thank you, we will be in touch.</div>");
                        window.location = "/thank-you";
                    },
                    complete: function(data){
                        console.log(data);
                    }
                });

            }
        }

        

    }

</script>