
<section class="pt-20 pb-10 banner-top-spacing" style="margin-top: 170px; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/{{ active_theme_path() }}/assets/images/pps-namibia-womans-day.jpg')">


    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest" style="width:550px">PPS Insurance Namibia Annual Women’s Day Breakfast</h1>
        </div>
    </div>
</section>

{# 
<section>
    <img src="/{{ active_theme_path() }}/assets/images/ready-for-future.jpg" width="100%" style="margin-top: 170px;">
</section> #}

{# <section class="pt-5 banner-images mb-3" style="min-height: 300px !important;">
    <div class="container">
        {{content.body}}
    </div>
</section> #}

{# <h2 style="text-align: center; padding: 10rem;">RSVP FOR THIS EVENT HAS NOW BEEN CLOSED.</h2> #}


 <section class="pt-5 pb-10 banner-images">
    <div class="container">
        <!-- Begin Mailchimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
			/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
<form action="https://bluevinegroup.us20.list-manage.com/subscribe/post-json?u=914f78eaf28f60fb571679358&amp;id=556c8672d5&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>PPS Insurance Namibia Women’s Day Breakfast</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group size1of2">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE4">Phone Number  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE4" class="required" id="mce-MMERGE4">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE3">RSVP OPTION  <span class="asterisk">*</span>
</label>
	<select name="MMERGE3" class="required" id="mce-MMERGE3">
	<option value="">Select an option</option>
	<option value="ACCEPT">ACCEPT</option>
<option value="DECLINE">DECLINE</option>

	</select>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_914f78eaf28f60fb571679358_556c8672d5" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='MMERGE4';ftypes[4]='text';fnames[3]='MMERGE3';ftypes[3]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
    </div>
</section> 

<style>
    .textbox{
        clear: none;
        float: left;
        display: inline-block;
        width: 100% !important;
        margin-right: 4%;
        height: 200px !important;
    }

    td {
        padding: 5px 10px;
        border: 1px solid #ccc;
        color: #888;
    }

    td strong{
       color: #888; 
    }

    .selectric b.button{
        display:none;
    }

    .bg-blue.text-white.groupfooter {
        margin-top: -33px;
    }

    #mc_embed_signup label {
        color: #000 !important;
    }

    .form-composite > legend, .label{
        font-weight: normal !important;
    }

    @media(max-width:415px){
        .bg-blue.text-white.groupfooter {
        margin-top: 0px;
        }

        .banner-area {
            position: relative;
            top: 40px;
        }

        .banner-area > h1{
            font-size: 17pt !important;
        }

        .banner-area > h1 > span{
            font-size: 12pt !important;
        }
    }

    .banner-images{
            padding-top: 0%;
        }

    @media screen and (max-width: 560px){
        .banner-images{
            padding-top: 30%
        }
    }

    @media(max-width:768px){
        #mc_embed_signup .size1of2{
            width: 100% !important;
        }
    }
</style>

<script>
    // document.getElementById("mce-MMERGE5").value = window.location.href;

    // function myFunction() {
    //     document.getElementById("mc-embedded-subscribe").value = "Submit";
    // }
</script>


<script type="text/javascript">

    document.getElementById('quietest').style.display = 'none';

    function validateForm()
    {
        var a=document.forms["Form"]["answer_a"].value;
        var b=document.forms["Form"]["answer_b"].value;
        var c=document.forms["Form"]["answer_c"].value;
        var d=document.forms["Form"]["answer_d"].value;
        if (a==null || a=="",b==null || b=="",c==null || c=="",d==null || d=="")
        {
            alert("Please Fill All Required Field");
            return false;
        }
    }
</script>