{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_adviser_banner|striptags|trim %}
	<!-- cover -->	

    <div class="subnav-container" style="margin-top: -55px;">
      <div class="container-fluid">

        <li class="menu-item child-link hidemenu">
          <a href="#SectionFifth" data-drupal-link-system-path="<front>">Specialist Support Services</a>
        </li>

        <li class="menu-item child-link hidemenu">
          <a href="#SectionFourth" data-drupal-link-system-path="<front>">Fiduciary Services</a>
        </li>

        <li class="menu-item child-link hidemenu">
          <a href="#SectionThird" data-drupal-link-system-path="<front>">Short-Term Insurance</a>
        </li>

        <li class="menu-item child-link hidemenu">
          <a href="#SectionTwo" data-drupal-link-system-path="<front>">Investments</a>
        </li>

        <li class="menu-item child-link hidemenu">
          <a href="#SectionOne" data-drupal-link-system-path="<front>">Life Solutions</a>
        </li>

        <li class="menu-item child-link hidemenu">
          <a href="#SectionBanner" data-drupal-link-system-path="<front>">Become a PPS Accredited Adviser</a>
        </li>
      </div>
    </div>  

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="margin-top: 120px !important">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_adviser_banner}}</div>
      {# </div> #}
        
			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
			  </div>
    </section> 
	
			<!-- / cover -->

    {# First Intro Section #}
  <section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                  {# <h2 class="h1 text-blue">{{content.field_intro_title}}</h2> #}
                {{content.field_adviser_introduction_secti}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>
	
  
  {# Featured Image #}

    <section class="bg-light" style="padding: 2.25rem 0 !important; min-height: 550px;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_intro_benefits_title}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                       {{content.field_adviser_featured_image}} 
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_intro_benefits_list}}
            </div>

          </div>

        </div>

      </div>
    </section>

  <div class="clearfix"></div>



  {# First Product Section #}
  <section id="SectionOne" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                   <h2 class="h1 text-blue">{{content.field_adviser_product_title_1}}</h2> 
                {{content.field_adviser_product_intro_1}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>

  
  {# Featured Image #}

    <section class="bg-light" style="padding: 2.25rem 0 !important; min-height: 550px;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_benefits_title_product_1}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                       {{content.field_adviser_featured_image_1}} 
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_benefits_list_1}}
            </div>

          </div>

        </div>

      </div>
    </section>


    {% if content.field_product_link_1|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important; border-bottom: 1px solid #ccc">
          <div class="adlink container row justify-content-between align-items-center text-center">
          
            {{content.field_product_link_1}}
          
          </div>
      </section>
    {% endif %}

    <div class="clearfix"></div>
  
    {# End First Product Section #}




  {# Second Product Section #}
  <section id="SectionTwo" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                   <h2 class="h1 text-blue">{{content.field_adviser_product_title_2}}</h2> 
                {{content.field_adviser_product_intro_2}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>

  
  {# Featured Image #}

    <section class="bg-light" style="padding: 2.25rem 0 !important; min-height: 550px;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_benefits_title_product_2}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_adviser_featured_image_2}} 
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_benefits_list_2}}
            </div>

          </div>

        </div>

      </div>
    </section>


    {% if content.field_product_link_2a|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important; border-bottom: 1px solid #ccc">
          <div class="adlink container row justify-content-between align-items-center text-center">
          
            {{content.field_product_link_2a}}
          
          </div>
      </section>
    {% endif %}

    <div class="clearfix"></div>
  
    {# End Second Product Section #}









    {# Third Product Section #}
  <section id="SectionThird" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                   <h2 class="h1 text-blue">{{content.field_adviser_product_title_3}}</h2> 
                {{content.field_adviser_product_intro_3}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>

  
  {# Featured Image #}

    <section class="bg-light" style="padding: 2.25rem 0 !important; min-height: 550px;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_benefits_title_product_3}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_adviser_featured_image_3}} 
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_benefits_list_3}}
            </div>

          </div>

        </div>

      </div>
    </section>


    {% if content.field_product_link_3|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important; border-bottom: 1px solid #ccc">
          <div class="adlink container row justify-content-between align-items-center text-center">
          
            {{content.field_product_link_3}}
          
          </div>
      </section>
    {% endif %}

    <div class="clearfix"></div>
  
    {# End Third Product Section #}





      {# Fourth Product Section #}
  <section id="SectionFourth" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                   <h2 class="h1 text-blue">{{content.field_adviser_product_title_4}}</h2> 
                {{content.field_adviser_product_intro_4}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>

  
  {# Featured Image #}

    <section class="bg-light" style="padding: 2.25rem 0 !important; min-height: 550px;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_benefits_title_product_4}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_adviser_featured_image_4}} 
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_benefits_list_4}}
            </div>

          </div>

        </div>

      </div>
    </section>


    {% if content.field_product_link_4|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important; border-bottom: 1px solid #ccc">
          <div class="adlink container row justify-content-between align-items-center text-center">
          
            {{content.field_product_link_4}}
          
          </div>
      </section>
    {% endif %}

    <div class="clearfix"></div>
  
    {# End Fourth Product Section #}





          {# Fifth Product Section #}
  <section id="SectionFifth" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div data-aos="fade-up" class="aos-init aos-animate">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-9 offset-md-1">
                   <h2 class="h1 text-blue">{{content.field_adviser_product_title_5}}</h2> 
                {{content.field_adviser_product_intro_5}}
                </div>

              </div>
            </div>
           </div>
          </div>
    </div>
  </section>

  
  {# Featured Image #}

    <section class="bg-light" style="padding: 2.25rem 0 !important; min-height: 550px;">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-1 text-center">
            <h2 class="text-blue" style="font-size: 1.5rem;">{{content.field_benefits_title_product_5}}</h2>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

            <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-100px);">
            </div>

            <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
              <ul class="gallery gutter-1 gutter-md-2">
                <li class="col-12">
                  <figure class="photo">
                    <a id="feat-image" href="#">
                      {{content.field_adviser_featured_image_5}} 
                    </a>
                  </figure>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

            <div class="mb-2 pl-1">
            	{{content.field_benefits_list_5}}
            </div>

          </div>

        </div>

      </div>
    </section>


    {% if content.field_product_link_5|render %}   
      <section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important; border-bottom: 1px solid #ccc">
          <div class="adlink container row justify-content-between align-items-center text-center">
          
            {{content.field_product_link_5}}
          
          </div>
      </section>
    {% endif %}

    <div class="clearfix"></div>
  
    {# End Fifth Product Section #}




	    <section id="form" style="padding: 5.25rem 0 !important;">
      <div class="container" style="max-width: 1000px;">
                      <!-- Begin Mailchimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
              <form action="https://pps.us3.list-manage.com/subscribe/post-json?u=2b28934a6c1aab1563d2ccd47&amp;id=b2343420c8&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                  <div id="mc_embed_signup_scroll" class="row">
                <h2 class="col-12 col-md-12">Become a PPS Adviser</h2>
<div class="indicates-required col-12 col-md-12"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group col-12 col-md-6">
	<label for="mce-FNAME">Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group col-12 col-md-6">
	<label for="mce-LNAME">Brokerage Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group col-12 col-md-6">
	<label for="mce-MMERGE3">Brokerage Code </label>
	<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
</div>
<div class="mc-field-group col-12 col-md-6">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group col-12 col-md-6">
	<label for="mce-PHONE">Contact Number </label>
	<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
</div>
<div class="mc-field-group input-group col-12 col-md-12">
    
    <ul class="row">
    <strong class="col-md-3">I AM INTERESTED IN: </strong>
    <li class="col-md-4"><input type="radio" value="Becoming a PPS accredited adviser (for independent advisers)" name="MMERGE6" id="mce-MMERGE6-0" checked="checked"><label for="mce-MMERGE6-0" style="text-transform: initial"> Becoming a PPS accredited adviser (for independent advisers)</label></li>
    <li class="col-md-4"><input type="radio" value="Becoming a PPS contracted financial adviser (join PPS Advisory Services)" name="MMERGE6" id="mce-MMERGE6-1"><label for="mce-MMERGE6-1" style="text-transform: initial"> Becoming a PPS contracted financial adviser (join PPS Advisory Services)</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2b28934a6c1aab1563d2ccd47_b2343420c8" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='PHONE';ftypes[4]='phone';fnames[6]='MMERGE6';ftypes[6]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->


      </div>
    </section>


	<div class="drop-msg drop-msg-mobile become-member">
             <div class="drop-msg-border-left" style="float:left;max-width: 100%;width: 100%;border-right: solid 1px;text-align: center;">
                <a style="display: inline-block;" href="#form" class="drop-msg-a" target="_blank">Become an Accredited Adviser</a></div>
         </div>


   
 
  <style>
  .region .subnav-container li.menu-item{
    border: 0px !important; 
  }

  p > a{
    color: #B09455 !important;
    padding: 0px !important;
    }

  .become-member{
    max-width:100%;
    width:22.5%; 
    background: rgba(9,30,53,1)!important;
  }

  @media(max-width:415px){
    .become-member{
      max-width:100%;
      width: 76.5%; 
      background: rgba(9,30,53,1)!important;
      bottom: 65px !important;
      right: 15px !important;
    }




  }

	.form-control {
      border: 1px solid #b4b4b4;
      height: calc(3.375rem + -15px);
    }

	.selectric {
      border: 1px solid #b4b4b4;
    }

    label{
      color: #515151;
    }

    .checkbox-heading{
      font-size: 12pt;
      margin-top: 20px;
    }

    small {
      color: #515151;
    }


	.call-action {
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 45px !important;
    font-size: 16px;
    border-color: #091e35;
    background-color: #091e35;
    color: #fff;
    border-radius: 1000px;
	}
    

    .field__label{
        display:none;
      }


	.file.file--mime-application-pdf.file--application-pdf{
		display: contents;
	}

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-1-brochure a {
		float:right;
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}
  .selectric span {
    height: 40px !important;
  }  

  .selectric .label {
    background-color: #fff !important;
    padding-top: 8px;
    font-weight: none !important;
    font-weight: 400;    
  }
  .ppsiContactUs {
     margin-top: -53px;   
  }
   .ppsiContactUs h4 strong {
     font-size: 20px !important;  
     color: #fff; 
  } 
  .rowMargin {
    margin-bottom: 0px !important;
  }
   @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }
    }

    div.field__item > p > a{
      color: #B09455 !important;
    }

    div.adlink > div{
      width: 100% !important;
    }
  </style>







   



