{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_associations_banner|trim %}
	<!-- cover -->	
   

	<section class="pt-10 pb-10">

      <div>
        <div class="container">
          <div class="row justify-content-between pt-10">

            <div class="col-12 col-lg-5 align-self-center text-center text-md-left">
              <h3 class="text-blue">{{ node.label }}</h3>
              {{content.field_associations_introduction}}

            </div>

            <div class="block-life col-12 col-lg-6 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

              <div class="block-bg" style="background: rgba(196,196,196,0.4);" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-260px);">
              </div>

              <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-130px);">
                <ul class="gallery gutter-1 gutter-md-2">
                  <li class="col-12">
                    <figure class="photo">
                      <a href="assets/images/health-insurance.png" title="Life Insurance">
                        {{content.field_associations_banner}}
                      </a>
                    </figure>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section> 
			<!-- / cover -->

    {# First Product Section #}
    <section id="SectionOne" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div class="aos-init">
              <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-12">
                <h2 class="h1 text-blue">{{ content.field_associations_title }}</h2>

                  <hr>
               
                  {{content.field_associations_list_}}
                

                </div>

              </div>
            </div>
           </div>
          </div>
      </div>
    </section>

  <div class="clearfix"></div>

  



  <section class="pt-4" style="padding-bottom: 2.5rem !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">

          {% include directory ~ '/parts/joinForm.html.twig' %}
        
        </div>
      </div>

    </div>
  </section>

  <style>
      .field__label{
        display:none;
      }
        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-download a {
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
  </style>







   



