{% set mutuality_banner %}
    {{ content.field_mutuality_banner }}
{% endset %}
      {% set feature_image %}
          {{ content.field_feature_image }}
      {% endset %}
{% set mutuality_title %}
    {{ content.field_mutuality_title }}
{% endset %}


<section class="pt-20 pb-10 banner-top-spacing banner-images"
         style="margin-top: 6px; background-image:url({{ mutuality_banner|striptags }})">

	<div id="card-and-payments-banner" hidden> {{mutuality_banner|striptags}}</div>


    <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
    </div>
</section>

<section class="pb-0 pb-0-mobile" style="min-height: 800px !important;">
    <div class="container">

        <div class="row justify-content-between">
            <div class="title-larg-device-hidden text-center">
                <h2 class="text-blue text-blue-mobile"
                    style="margin-top: -105px; position:absolute;max-width:300px;">{{ mutuality_title|striptags }}</h2>
            </div>
            <div class="block-life col-12 col-lg-4 scrolling-gallery" data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom" style="    margin-top: 100px;
    margin-left: 60px;
    padding-right: 0px;">
                <h2 class="text-blue" style="
            margin-top: -105px; position:absolute;max-width:300px;
        ">{{ mutuality_title|striptags }}</h2>

                {{ content.body }}


            </div>

            <div class="col-12 col-lg-6 align-self-center text-center text-md-left mobile-padding" style="margin-right: 37px;
    padding-left: 0px;
    padding-right: 0px;">

                <div class="mb-2 pl-1">
                    {{ content.field_right_content }}
                </div>

            </div>

            <div class="flipper-sec col-12 col-lg-12 col-md-12">
                <strong>Learn more about our story below:</strong><br> <br/>
                <iframe align="bottom" height="450" name=""
                        scrolling="auto" src="https://cloud.3dissue.com/170814/171187/200052/book/index.html?r=37"
                        width="100%"></iframe>
            </div>


        </div>

    </div>

</section>


<section class="pt-4" style="padding-bottom: 2.5rem !important;margin-top:100px">
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12" >

                {% include directory ~ '/parts/joinForm.html.twig' %}

                </div>
            </div>

        </div>
    </section>



    <style>
        ul li {

            color: grey !important;
        }

        .title-larg-device-hidden {
            display: none;
        }

        .drop-msg-a {
            padding: 0.6rem 0px 0.5rem !important
        }

        @media (max-width: 576px) {
            .page-title-text {
                top: 30px !important;
                position: relative !important;
            }

            .text-center {
                text-align: left !important;
            }

            .text-blue-mobile {
                max-width: 100% !important;
                margin-top: 0px !important;
                position: relative !important;
                padding-left: 15px !important;
                padding-right: 15px !important;
            }

            .pb-0-mobile {
                padding-top: 30px !important;
                padding-bottom: 20px !important;
            }

            .pb-removetoppadding-mobile {
                padding-top: 0px !important;
            }

            .remove-margin-mobile {
                margin-left: 0px !important;
            }

            .mobile-padding {
                padding-left: 30px !important;
                padding-right: 30px !important;
            }

            .drop-msg-mobile {

                visibility: hidden;
            }

            .block-life-small-device-hidden {
                display: none;
            }

            .title-larg-device-hidden {
                display: unset;
            }
        }

        .drop-msg-border-left {
            border-right: #fff;
            border-right-style: solid;
        }

        .drop-msg {
            max-width: 200px;
            background: #69c5d1;
            border: none;
            color: #091e35;
            font-weight: 600;
            padding: 10px 20px;
            z-index: 100;
            display: block;
            position: fixed;
            cursor: pointer;
            right: 20px;
            bottom: 15px;
            text-align: center;
            border-radius: 0px;
        }

        .field__label {
            display: none;
        }

        .field--name-field-tags a {
            color: #0a1d37 !important;
        }

        .article-excerpt a {
            color: #0a1d37 !important;
        }

        .field__label {
            display: none;
        }

        .field--name-field-tags a {
            color: #0a1d37 !important;
        }

        .article-excerpt a {
            color: #0a1d37 !important;
        }

        .photo img {
            width: 421px !important;
            height: auto !important;
        }

        @media (min-width: 768px) {
            .gutter-md-2 {
                margin: 100px !important;
            }
        }

        #product.block-life.block-bg {
            width: 307px;
            height: 531px;
        }

        .photo img {
            width: 321px !important;
            height: 427px !important;
        }

        @media(max-width:414px){
            .block-life{
                margin-left: 10px!important;
                padding-right: 10px !important;
            }
            iframe{
                height: 450px !important;
            }

            .field--name-body field__item{
                margin-top: 20px !important;
            }

            .field__item p{
                font-size: 14px;
            }
            .field--name-field-right-content .field__item{
                margin-left: -40px !important;
                margin-right: -32px !important;
            }
            .flipper-sec{
                margin-top: -60px;
            }
        }
    </style>