<!-- Banner -->
{# <section class="video-box xl-py bg-soft white bg-cover big-slider main-bg-cover card-and-payments-banner"> 
      <div id="card-and-payments-banner" hidden> {{content.field_tips_and_hints_banner}} </div>
<div class="container">
  <div class="row ">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
	   <!-- Left Texts -->
	   <div class="banner-text-background" style="color: #091e35;">
		  {{content.field_tips_hints_banner_text}}
		  {{content.field_tips_hints_banner_caption}}
	   </div>
       </div>
  </div>
</div>
</section> #}
 {% set tips_hints_banner_text %}
     {{ content.field_tips_hints_banner_text }} 
    {% endset %}
<section class="video-box xl-py bg-soft white bg-cover big-slider main-bg-cover card-and-payments-banner banner-top-spacing banner-images"> 
      <div id="card-and-payments-banner" hidden> {{content.field_tips_and_hints_banner}} </div>
<div class="container ">
  <div class="row ">
  <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
	   <!-- Left Texts -->
	   <div class="banner-text-background" style="color: #091e35;">
		  <h1>{{tips_hints_banner_text|striptags}}</h1>
		  {# <h2>{{insure_banner_caption}}</h2> #}
	   </div>
       </div>
  </div>
</div>
</section>
<!-- End Banner -->
<!-- Promo scroller -->
<div class="promo-scroller promo-scroller-xs xs-py bg-white">
       <!-- Container -->
       <div class="container tips-and-hints-container">
         <div class="row clearfix">
         {{content.body}}
         </div>
         </div>
         </div>

         {% set url = url('<current>') %} 

         {% if '/protectinsure' in url|render|render %}


<section class="pb-0 contact-area">
    <div class="container">
          {#  #}
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://professionalsconnect.us19.list-manage.com/subscribe/post?u=ee31df1d2f8eb86cc532648a7&amp;id=96f48cdad3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <div id="mc_embed_signup_scroll">
	{# <h2>Subscribe to our mailing list</h2> #}
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-FNAME">Full Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE5">Last Name </label>
	<input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
</div>
<div class="mc-field-group">
	<label for="mce-CNUMBER">Contact number  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="CNUMBER" class="required" id="mce-CNUMBER">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE3">ID/Passport Number </label>
	<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
</div>
<div class="mc-field-group">
	<label for="mce-SELECTTIME">Select a Time  <span class="asterisk">*</span>
</label>
	<select name="SELECTTIME" class="required" id="mce-SELECTTIME">
	<option value=""></option>
	<option value="Select a Time">Select a Time</option>
<option value="AnyTime">AnyTime</option>
<option value="8:00">8:00</option>
<option value="8:30">8:30</option>
<option value="9:00">9:00</option>
<option value="9:30">9:30</option>
<option value="10:00">10:00</option>
<option value="10:30">10:30</option>
<option value="11:00">11:00</option>
<option value="11:30">11:30</option>
<option value="12:00">12:00</option>
<option value="12:30">12:30</option>
<option value="13:00">13:00</option>
<option value="13:30">13:30</option>
<option value="14:00">14:00</option>
<option value="14:30">14:30</option>
<option value="15:00">15:00</option>
<option value="15:30">15:30</option>
<option value="16:00">16:00</option>
<option value="16:30">16:30</option>
<option value="17:00">17:00</option>
<option value="17:30">17:30</option>

	</select>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_96f48cdad3" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[2]='CNUMBER';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='SELECTTIME';ftypes[4]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

    {#  #}
    </div>
    </section>
    {% endif %}

<style>
ol, ul {
    list-style: unset !important; 
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.video-box {
    background-position: top center;
}
@media only screen and (max-height: 700px)
{
.xl-py {
    padding-top: 150px!important;
    padding-bottom: 150px!important;
}
}
@media only screen and (max-height: 900px)
{
.xl-py {
    padding-top: 190px!important;
    padding-bottom: 190px!important;
}
}
.xl-py {
    padding-top: 250px!important;
    padding-bottom: 250px!important;
}
.bg-soft {
    position: relative;
}
.bg-cover, .bg-cover>.bg-animator:after {
    background-size: cover!important;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.big-slider h1 {
    line-height: 40px!important;
    margin-left: 20px!important;
}
.video-box h1 {
    margin-left: 20px!important;
}
.no-margin {
    margin: 0!important;
}
.colored1, .colored1-hover:hover {
    color: #091e35!important;
}
.promo-scroller.promo-scroller-xs {
    position: relative;
}

.promo-scroller {
    position: relative;
    width: 100%;
    background: #f6f8fb;
}
.xs-py {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}
.text-center {
    text-align: center!important;
}
.promo-scroller h4, .video-box h4 {
    color:inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
}
.font-15 {
    font-size: 15px!important;
}
.video-wrapper {
    padding: 10px;
}

.box-shadow, .bs-focus:focus, .bs-hover:hover {
    box-shadow: 2px 10px 25px 0 rgba(0,0,0,.2)!important;
}
.text-center {
    text-align: center!important;
}
.direct-contact {
    color: #fff;
    background: #091e35;
    font-size: 18px;
    padding: 16px;
    font-weight: 700;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.callback-header, .mobile-callback {
    color: #fff;
    background: #8f897e;
    font-size: 18px;
    padding: 20px;
    font-weight: 700;
    margin-top: 5px;
}
.callback-subheader, .secondary-bg-cover subheader {
    margin-top: 0!important;
}

.xxs-my {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}
.classic_form.big {
    padding: 10px;
}
.classic_form {
    font-size: inherit;
    background: 0 0;
    outline: 0;
    width: 100%;
    height: auto;
    line-height: normal;
    padding: 10px 13px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    outline: 0!important;
    box-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.radius-sm, .radius-sm-hover:hover {
    border-radius: 6px!important;
}
.bg-white, .bg-white-focus:focus, .bg-white-hover:hover {
    background-color: #fff!important;
}
.bg-white {
    background-color: #fff!important;
}
.callback-wrapper {
    color: #091e35;
    background: #f6f8fb;
    padding: 20px;
}
#DayToCall, #TimeToCall {
    width: 100%;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}
.bg-colored1, .bg-colored1-hover:hover {
    background-color: #091e35!important;
}
.long-btn {
    padding-left: 60px;
    padding-right: 60px;
    line-height: normal;
}
.xl-btn {
    padding: 12px 50px;
    font-size: 13px;
    line-height: normal;
    letter-spacing: -.3px;
}
.click-effect {
    overflow: hidden;
    position: relative;
}
.qdr-hover-6 {
    position: relative;
    overflow: hidden!important;
}
.xxs-my {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}
.slow {
    -webkit-transition: all .3s!important;
    -moz-transition: all .3s!important;
    transition: all .3s!important;
}
.radius-sm, .radius-sm-hover:hover {
    border-radius: 6px!important;
}
.width-auto {
    width: auto!important;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.font-12 {
    font-size: 12px!important;
}
.pro-insure-car .secondary-bg-cover {
    background-image: url(../images/stibg0.jpg);
}

.video-box {
    background-position: top center;
}

.bg-cover, .bg-cover>.bg-animator:after {
    background-size: cover!important;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.video-box h4 {
    margin-bottom: 10px;
}
.promo-scroller h4, .video-box h4 {
    color: inherit;
    font-family: inherity;
    font-weight: inherit;
    font-size: 20px;
}
.colored1, .colored1-hover:hover {
    color: #091e35!important;
}
.xxs-my {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}
.secondary-bg-cover .block-color1 {
    background: #091e35;
}

.video-box .block {
    padding: 20px;
    font-size: 15px;
}
.all-block-links a, .block, .block-links>a {
    display: block;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.video-box h4 {
    margin-bottom: 10px;
}

.promo-scroller h4, .video-box h4 {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.video-box h4 {
    margin-bottom: 10px;
}

.promo-scroller h4, .video-box h4 {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.video-box .block ul {
    padding-left: 20px;
    list-style: inherit;
    margin: 0;
}
ol, ul {
    list-style: none;
    padding: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.secondary-bg-cover .block-color2 {
    background: #b09455;
}
.video-box .block {
    padding: 20px;
    font-size: 15px;
}
.all-block-links a, .block, .block-links>a {
    display: block;
}
.promo-scroller.promo-scroller-xs {
    position: relative;
}

.promo-scroller {
    position: relative;
    width: 100%;
    background: #f6f8fb;
}
.promo-scroller .xxs-py {
    padding-top: 20px!important;
    padding-bottom: 25px!important;
}
.xxs-py {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.promo-scroller h2 {
    font-weight: 600;
    color: #091e35;
}
.intelichoice .thin {
    font-weight: 400;
    margin-bottom: 20px;
}
.promo-scroller h4, .video-box h4 {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
}
.classic_form.big {
    padding: 10px;
}
select.classic_form {
    cursor: pointer;
    background: url(../images/bottom_black.png) right 16px center no-repeat transparent;
    -webkit-appearance: none;
    background-size: 12px 6px;
}
.classic_form {
    font-size: inherit;
    background: 0 0;
    outline: 0;
    width: 100%;
    height: auto;
    line-height: normal;
    padding: 10px 13px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    outline: 0!important;
    box-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.radius-sm, .radius-sm-hover:hover {
    border-radius: 6px!important;
}
.bg-white, .bg-white-focus:focus, .bg-white-hover:hover {
    background-color: #fff!important;
}
.bg-white {
    background-color: #fff!important;
}
@media only screen and (min-width: 992px)
{
.hidden-lg {
    display: none!important;
}
}
.pro-insure-car .secondary-bg-cover {
    background-image: url(../images/stibg0.jpg);
}
.video-box {
    background-position: top center;
}
.bg-soft-colored1>*, .bg-soft-colored2>*, .bg-soft-colored3>*, .bg-soft-colored>*, .bg-soft>* {
    position: relative;
    z-index: 2;
}
.video-box {
    background-position: top center;
}
.promo-scroller h4, .video-box h4 {
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
}
.pro-insure-car .secondary-bg-cover {
    background-image: url(../images/stibg0.jpg);
}
.video-box {
    background-position: top center;
}
.md-py {
    padding-top: 150px!important;
    padding-bottom: 150px!important;
}
.bg-soft {
    position: relative;
}
@media only screen and (max-height: 700px)
{
.md-py {
    padding-top: 110px!important;
    padding-bottom: 110px!important;
}
}
@media only screen and (max-height: 900px)
{

.md-py {
    padding-top: 130px!important;
    padding-bottom: 130px!important;
}
}

.bg-cover, .bg-cover>.bg-animator:after {
    background-size: cover!important;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.bg-soft-colored1>*, .bg-soft-colored2>*, .bg-soft-colored3>*, .bg-soft-colored>*, .bg-soft>* {
    position: relative;
    z-index: 2;
}
.classic_form.big {
    padding: 10px;
}
select.classic_form {
    cursor: pointer;
    background: url(../images/bottom_black.png) right 16px center no-repeat transparent;
    -webkit-appearance: none;
    background-size: 12px 6px;
}
.classic_form {
    font-size: inherit;
    background: 0 0;
    outline: 0;
    width: 100%;
    height: auto;
    line-height: normal;
    padding: 10px 13px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    outline: 0!important;
    box-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.radius-sm, .radius-sm-hover:hover {
    border-radius: 6px!important;
}
.bg-white, .bg-white-focus:focus, .bg-white-hover:hover {
    background-color: #fff!important;
}
.bg-white {
    background-color: #fff!important;
}
.secondary-bg-cover .block-color3 {
    background: #8f897e;
}
.video-box .block {
    padding: 20px;
    font-size: 15px;
}
.banner-text-background {
    background: rgba(255,255,255,0.4);
    padding: 20px;
    border-radius: 3px;
}
.xl-py {
    padding-top: 200px!important;
    padding-bottom: 100px!important;
}
.big-slider h1{
    line-height: 1.25 !important;
}
.tips-and-hints-container{
    padding-right: 100px !important;
    padding-left: 100px !important;
}
@media (max-width: 575px ) {
.tips-and-hints-container{
    padding-right: 50px !important;
    padding-left: 50px !important;
}
}
@media (max-width: 767.98px){
    .tips-and-hints-container{
    padding-right: 50px !important;
    padding-left: 50px !important;
}
}
.field__item>p>a{
color: #151515!important;
}

</style>