 {% set insure_cover_range %}
     {{ content.field_insure_cover_range }} 
    {% endset %}

     {% set insure_banner_text %}
     {{ content.field_insure_banner_text }} 
    {% endset %}
       {% set insure_banner_caption %}
     {{ content.field_insure_banner_caption }} 
    {% endset %}

    

<!-- Banner -->

<section class="video-box xl-py bg-soft white bg-cover big-slider main-bg-cover card-and-payments-banner banner-top-spacing"> 
      <div id="card-and-payments-banner" hidden> {{content.field_insure_banner_image}} </div>
<div class="container">
  <div class="row ">
  <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
	   <!-- Left Texts -->
	   <div class="banner-text-background" style="color: #091e35;">
		  <h1>{{insure_banner_text|striptags}}</h1>
		  {# <h2>{{insure_banner_caption}}</h2> #}
	   </div>
       </div>
  </div>
</div>
</section>
<!-- End Banner -->
<!-- Promo scroller -->
<div class="promo-scroller promo-scroller-xs text-center xs-py">
   <!-- Container -->
   <div class="container">
	 <div class="row clearfix">
		  <!-- Left Texts -->
		  <div class="col-sm-12 col-xs-12">
			 <h4>{{content.field_insure_intro_title}}</h4>
			 <p class="font-15 mini-py-mobile">
			   {{content.field_insure_intro_body}}
			 </p>
		  </div>
	  </div>
  </div>
</div>
<!-- End Prommo Scroller -->
<!-- Content -->
<section class="video-callback-wrapper xs-py">
  <div class="container">
	  <div class="row clearfix">
		  <div class="col-md-6 col-sm-12 col-xs-12 video-wrapper box-shadow">
			  <!--<iframe width="100%" height="100%" src="https://www.youtube.com/embed/N02uNIclqLY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
			  {# <iframe width="100%" height="100%" src="https://www.youtube.com/embed/AvjGUSYVUmc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>		   #}
		 {{ content.field_insure_featured}}
          </div>
		  <div class="col-md-6 col-sm-12 col-xs-12 text-center">
			<div class="direct-contact">{{content.field_insure_callback}}</div>
			{# <a name="callback-header"></a>  #}
			<div class="callback-header">REQUEST A CALL BACK</div>
			<div class="callback-wrapper">
				<p class="xxs-my callback-subheader">PLEASE PROVIDE US WITH YOUR NAME &amp; NUMBER</p>
				{# <div class="clearfix"></div> #}
				<div data-include="call_back_form">                    
					 <form action="#." id="callbackForm" name="callbackForm">
            <input id="RefferingURL1" name="RefferingURL1" type="hidden" value="">

            <input id="SourcePage1" name="SourcePage1" type="hidden" value="Blog">
                       <!-- Name -->
                       <input name="Name" id="Name" required="required" placeholder="*Full name" class="classic_form big radius-sm bg-white bs-light-focus" type="text">
                       <!-- Phone -->
                       <input name="Number" id="Number" required="required" placeholder="*Phone number" class="classic_form big radius-sm bg-white bs-light-focus" type="text">

                       <span class="pull-left">Time to Call:</span>
                       {# <br><br> #}
                       <div class="row side-contanct-form">
                       <div class="col-md-6">
                       <select name="DayToCall" id="DayToCall" required="required" class="form-control" style="width:100%;">
                           <option value="">Select day</option>
                             <option value="Anyday">Anyday</option>                            
                           <option value="Monday">Monday</option>
                           <option value="Tuesday">Tuesday</option>
                           <option value="Wednesday">Wednesday</option>
                           <option value="Thursday">Thursday</option>
                           <option value="Friday">Friday</option>
                       </select>
                       </div>
                       <div class="col-md-6">
                       <select name="TimeToCall" id="TimeToCall" required="required" class="form-control" style="width:100%;">
                         <option value="">Select time</option>
                           <option value="AnyTime">AnyTime</option>
                           <option value="08:00">08:00</option>
                           <option value="08:00">08:30</option>
                           <option value="09:00">09:00</option>
                           <option value="09:00">09:30</option>
                           <option value="10:00">10:00</option>
                           <option value="10:30">10:30</option>
                           <option value="11:00">11:00</option>
                           <option value="11:30">11:30</option>
                           <option value="11:00">12:00</option>
                           <option value="12:30">12:30</option>
                           <option value="13:00">13:00</option>
                           <option value="13:30">13:30</option>
                           <option value="14:00">14:00</option>
                           <option value="14:30">14:30</option>
                           <option value="15:00">15:00</option>
                           <option value="15:30">15:30</option>
                           <option value="16:00">16:00</option>
                           <option value="16:30">16:30</option>
                           <option value="17:00">17:00</option>
                           <option value="17:30">17:30</option>
                       </select>
                       </div>
                       </div>
                       <div class="clearfix"></div>

                       <!--<div class="g-recaptcha" data-sitekey="6LcYtWEUAAAAANxn_tBpUM-tva-DXsGY2POJL9EP"></div>-->

                       <button type="button" id="btn-callback-submit" onclick="submitCallBack()" class="xxs-my bg-colored1 xl-btn font-12 long-btn slow width-auto click-effect white bold qdr-hover-6 radius-sm pull-right" style="">SUBMIT</button>
                       <div class="clearfix"></div>
						<span class="pull-right callback-error"></span>
						<div class="clearfix"></div>
                     </form></div>
			</div>
		  </div>
	  </div>
  </div>
</section>
<!-- End Content -->
<!-- Content -->
<section class="video-box md-py bg-soft white bg-cover secondary-bg-cover card-and-payments-bottom-footer pro-insure-car">
			 <div id="card-and-payments-bottom-footer" hidden> {{content.field_insure_bottom_banner}} </div>


<div class="container pro-insure-car pro-insure-car">
  <div class="row clearfix">
	<div class="col-sm-12 col-xs-12 text-center"><h4 class="xxs-my colored1 subheader">{{content.field_insure_bottom_banner_text}}</h4></div>
	    {% set url = url('<current>') %}
        {% if 'car' in url|render|render %}
            <div class="col-sm-6 col-xs-12 white block block-color1">
                {{content.field_insure_cover_range}}
            </div>
            <div class="col-sm-6 col-xs-12 block block-color2">               
                {{content.field_insure_cover_range_2}}
            </div>
            <div class="col-sm-12 col-xs-12 block text-center block-color3">
                {{content.field_insure_cover_range_3}}		 
            </div>
        {% endif %}
       
        {% if 'home' in url|render|render %}
        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12 block text-center bronzebg">
         {{insure_cover_range}}
        </div>
        {% endif %}
        
        {% if 'business-solutions' in url|render|render %}
        <div class="col-md-6 col-sm-7 col-xs-12 block goldbg">
		 <div class="row clearfix">
            <div class="col-md-6 col-sm-12 col-xs-12 text-right ">
                {{content.field_insure_cover_range}}
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-left " style="border-left:1px solid #fff">
                {{content.field_insure_cover_range_2}}
            </div>
            </div>
            </div>
        {% endif %}
       <!-- Left Texts -->
	   {# <div class="col-sm-6 col-xs-12 white block block-color1">
		 <h4 class="white">PPS STI Motor Insurance</h4>
		 PPS STI motor insurance can cover:
		 <ul>
		<li>The replacement of your vehicle after theft or loss</li>
		<li>Replacement costs for lost keys or remote controls</li>
		<li>Recovery costs for a vehicle found after theft or hijacking</li>
		<li>The cost of trauma treatment</li>
		<li>Repairs that may be required after an accident</li>
		</ul>
	   </div>
	   <div class="col-sm-6 col-xs-12 block block-color2">
		 <h4 class="white">PPS STI Watercraft Insurance</h4>
		PPS STI watercraft insurance can cover:
		<ul>
		<li>Third-party liability for injuries caused by operation of the boat</li>
		<li>Fuel spill indemnification</li>
		<li>Towing and wreckage removal expenses</li>
		<li>The cost of trauma treatment</li>
		</ul>
	   </div>
	   <div class="col-sm-12 col-xs-12 block text-center block-color3">
		 <h4 class="white">Personal Accident Cover</h4>
		We will pay compensation for your accidental death and/or permanent disability caused directly by bodily injury. Personal
Accident insurance differentiates itself from life insurance in that it provides compensation in the event of injuries, disability
or death caused solely by violent, accidental, external and visible events.
	   </div> #}
  </div>
</div>
</section>

<!-- End Content -->
<!-- Promo scroller -->
<div class="promo-scroller promo-scroller-xs text-center intelichoice">
   <!-- Container -->
   <div class="container xxs-py">
	 <div class="row clearfix">
     {# <div class="col-sm-12 col-xs-12">
     {{content.field_insure_form_text}}
     </div> #}

		  <!-- Left Texts -->
		  <div class="col-sm-12 col-xs-12">
			<h2 class="text-bolder">Make the intelligent choice.</h2>
			 <h4>Protect your assets and safeguard your future with PPS Short-Term Insurance today.</h4>
			 <h4 class="thin">Complete the form below to get started.</h4>
			<div class="clearfix"></div>
    <div data-include="info_form">			
                <form class="infoForm" action="#." id="infoForm" name="infoForm">           
          <input name="__RequestVerificationToken" type="hidden" value="KhEvOej9p4eAFYJzT1TGEWRfxtUzYFyYjUseLTpSXqj5F08S5sgxpVej1HL1vwg3IfgQV79dhccA83HjZlO_218I1lL9EhU9dYkyhDtB8RI1">         
          
          <input id="RefferingURL" name="RefferingURL" type="hidden" value="">

            <input id="SourcePage" name="SourcePage" type="hidden" value="Blog">

                     <div class="row clearfix">

                     <div class="col-lg-5 col-sm-6 col-xs-12">
                       <label for="Title" class="pull-left">*Title</label>
                         <select name="Title" id="Title" required="required" class="classic_form big radius-sm bg-white bs-light-focus">
                             <option value="" selected="">Select a title</option>
                             <option value="Mr">Mr</option>
                             <option value="Mrs">Mrs</option>
                             <option value="Miss">Miss</option>
                             <option value="Ms">Ms</option>
                             <option value="Dr">Dr</option>
                             <option value="Prof">Prof</option>
                         </select>
                       </div>
                        <div class="col-lg-5 col-sm-6 col-xs-12">
                         <label for="Surname" class="pull-left">*Surname</label>
                         <!-- Verify -->
                         <input name="Surname" id="Surname" required="required" placeholder="Enter surname" class="classic_form big radius-sm bg-white bs-light-focus" type="text">
                     </div>

                      <!-- Half Inputs -->
                      <div class="col-lg-5 col-sm-6 col-xs-12">
                        <label for="IdNo" class="pull-left">*ID / Passport number</label>
                          <!-- Name -->
                          <input name="IdNo" id="IdNo" required="required" placeholder="Enter ID / Passport Number" class="classic_form big radius-sm bg-white bs-light-focus" type="text">
                        </div>
                        <div class="col-lg-5 col-sm-6 col-xs-12">
                          <label for="ContactNumber" class="pull-left">*Contact Number</label>
                          <!-- Phone -->
                          <input name="ContactNumber" id="ContactNumber" required="required" placeholder="Enter your contact number" class="classic_form big radius-sm bg-white bs-light-focus" type="text">
                      </div>
                      <div class="col-lg-5 col-sm-6 col-xs-12">
                        <label for="EmailAddress" class="pull-left">*Email Address</label>
                      <!-- Mail -->
                      <input id="EmailAddress" name="EmailAddress" required="required" placeholder="Enter email address" class="classic_form big radius-sm bg-white bs-light-focus" type="email">
                    </div>
                    <div class="col-lg-5 col-sm-6 col-xs-12">
                      <label for="PreferredContactTime" class="pull-left">*Preferred Contact Time</label>
                      <select name="PreferredContactTime" id="PreferredContactTime" required="required" class="">
                        <option value="">Select time</option>
                           <option value="AnyTime">AnyTime</option>                       
                            <option value="08:00">08:00</option>
                          <option value="08:30">08:30</option>
                          <option value="09:00">09:00</option>
                          <option value="09:00">09:30</option>
                          <option value="10:00">10:00</option>
                          <option value="10:30">10:30</option>
                          <option value="11:00">11:00</option>
                          <option value="11:30">11:30</option>
                          <option value="11:00">12:00</option>
                          <option value="12:30">12:30</option>
                          <option value="13:00">13:00</option>
                          <option value="13:30">13:30</option>
                          <option value="14:00">14:00</option>
                          <option value="14:30">14:30</option>
                          <option value="15:00">15:00</option>
                          <option value="15:30">15:30</option>
                          <option value="16:00">16:00</option>
                          <option value="16:30">16:30</option>
                          <option value="17:00">17:00</option>
                          <option value="17:30">17:30</option>
                      </select>
                    </div>

                      <div class="clearfix"></div>
                      <div class="col-lg-10 col-sm-12 col-xs-12 text-center bottom-form-btn-div">

                          <!--<div class="g-recaptcha" data-sitekey="6LcYtWEUAAAAANxn_tBpUM-tva-DXsGY2POJL9EP"></div>-->

                          <div class="clearfix"></div>

                      <!-- Send Button -->
                      <button type="button" id="submit" onclick="submitInfo()" class="btn btn-blue long-btn" style="">SUBMIT</button>
                    <div class="clearfix"></div>
					<span class="info-error"></span>
					<div class="clearfix"></div>
					</div>
                    </div>
                  </form></div>
		  </div>
	  </div>
  </div>
</div>

{# <section class="latest-news-section">

<div class="latest-news">
<div class="row">

    
    <div class="col-lg-12">
        <div class="col-lg-3" style="float:left;">
            Latest news:
        </div>
        <div class="col-lg-3" style="float:left;">
        Latest news comming soon!
        </div>
    </div>
    <div class="col-lg-3" style="float:left;">
    <div class="col-lg-12">
          <div class="col-lg-3" style="float:left;">
            Emergency 24/7:
        </div>
        <div class="col-lg-3" style="float:left;">
        {{content.field_emergency_contact}}
        </div>
    </div>
     
    <div class="col-lg-12">
        <div class="col-lg-3" style="float:left;">
            Claims:
        </div>
        <div class="col-lg-3 latest-news-field" style="float:left;">
            {{content.field_forms}}
        </div>
    </div>
</div>
</div>

</section> #}
{# <section class="bg-blue text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-3 latest-news">
                <h5 class="text-gold font-weight-bold">Latest news</h5>   

	        </div>
            <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Emergency Contact</h5>
                  {{content.field_emergency_contact}}
	        </div>
              <div class="col-md-12 col-lg-3">
                <h5 class="text-gold font-weight-bold">Claims</h5>  
                 {{content.field_forms}}            
	        </div>
	    </div>
    </div>
</section> #}
<!-- End Prommo Scroller -->
{# <section class=" text-center hidden-lg hidden-md mobile-cta-bottom">
  <a href="tel:0860777784" class="mobile-callback mobile-call xxs-py no-margin">Call 0860 777 784</a>
  <a href="#." class="mobile-callback mobile-sms xxs-py no-margin">SMS Quote to 43111</a>
  <div class="clearfix"></div>
</section> #}

<style>
label{
    color: #091e35 !important;
}
.selectric{
	border: 1px solid #ddd !important;
 
}
.selectric .label{
    background-color: #ffffff !important;
    height: 40px !important;
    padding-top: 7px !important;
    font-weight: unset !important;
    padding-left: 16px !important;
    padding-bottom: 7px !important;
    border-radius:6px !important;
    text-align: left !important;
}
.latest-news-field>.field> .field__items>.field__item{
    float:left;
}
.latest-news-section{
    margin-bottom:10px;
}
.latest-news{
    width:100%;
    font-size: 16px;
    background: #091e35;
    color: #fff;
    font-weight: 700;
    margin-top: 5px;
}
.callback-header,.mobile-callback{color:#fff;background:#8f897e;font-size:16px;padding:20px;font-weight:700;margin-top:5px}
.mobile-cta-bottom .mobile-call,.mobile-cta-bottom .mobile-sms{float:left}
.mobile-callback{width:100%;display:block}
.callback-header,.mobile-callback{color:#fff;background:#8f897e;font-size:16px;padding:20px;font-weight:700;margin-top:5px}
.mobile-call,.mobile-sms{width:50%!important;padding-left:0!important;padding-right:0!important}
.mobile-call:hover,.mobile-sms:hover{color:#fff}
.mobile-cta-bottom .mobile-call,.mobile-cta-bottom .mobile-sms{float:left}
.mobile-call{background:#091e35}
.container{
    padding-right: 33px !important;
    padding-left: 33px !important;
}
.subheader h4{
    color: #fff;
}
.block-color1 *,.block-color2 *,.block-color3 *,.goldbg *{
    color: #fff !important;
}

.bottom-form-btn-div{
    margin-top:15px;
}
.infoForm{
    padding-left: 178px;
    padding-right: 50px;
}
.bronzebg  p{
    margin-bottom:0px !important;
}

.xl-py {
    padding-top: 200px!important;
    padding-bottom: 100px!important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.video-box {
    background-position: top center;
}
/*@media only screen and (max-height: 700px)
{

}
@media only screen and (max-height: 900px)
{
.xl-py {
    padding-top: 190px!important;
    padding-bottom: 190px!important;
}
}
*/
.bg-soft {
    position: relative;
}
.bg-cover, .bg-cover>.bg-animator:after {
    background-size: cover!important;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.big-slider h1 {
    line-height: 40px!important;
    margin-left: 20px!important;
}
.video-box h1 {
    margin-left: 20px!important;
}
.no-margin {
    margin: 0!important;
}
.colored1, .colored1-hover:hover {
    color: #091e35!important;
}
.promo-scroller.promo-scroller-xs {
    position: relative;
}

.promo-scroller {
    position: relative;
    width: 100%;
    background: #f6f8fb;
}
.xs-py {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}
.text-center {
    text-align: center!important;
}
.promo-scroller h4, .video-box h4 {
    color: #091e35;
    font-family: unset;
    font-weight: 700;
    font-size: 20px;
}
.font-15 {
    font-size: 15px!important;
}
.video-wrapper {
    padding: 10px;
}

.box-shadow, .bs-focus:focus, .bs-hover:hover {
    box-shadow: 2px 10px 25px 0 rgba(0,0,0,.2)!important;
}
.text-center {
    text-align: center!important;
}
.direct-contact {
    color: #fff;
    background: #091e35;
    font-size: 18px;
    padding: 16px;
    font-weight: 700;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.callback-header, .mobile-callback {
    color: #fff;
    background: #8f897e;
    font-size: 18px;
    padding: 20px;
    font-weight: 700;
    margin-top: 5px;
}
.callback-subheader, .secondary-bg-cover subheader {
    margin-top: 0!important;
}

.xxs-my {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}
.classic_form.big {
    padding: 10px;
}
.classic_form {
    font-size: unset;
    background: 0 0;
    outline: 0;
    width: 100%;
    height: auto;
    line-height: normal;
    padding: 10px 13px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    outline: 0!important;
    box-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.radius-sm, .radius-sm-hover:hover {
    border-radius: 6px!important;
}
.bg-white, .bg-white-focus:focus, .bg-white-hover:hover {
    background-color: #fff!important;
}
.bg-white {
    background-color: #fff!important;
}
.callback-wrapper {
    color: #091e35;
    background: #f6f8fb;
    padding: 20px;
}
#DayToCall, #TimeToCall {
    width: 100%;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}
.bg-colored1, .bg-colored1-hover:hover {
    background-color: #091e35!important;
}
.long-btn {
    padding-left: 60px;
    padding-right: 60px;
    line-height: normal;
}
.xl-btn {
    padding: 12px 50px;
    font-size: 13px;
    line-height: normal;
    letter-spacing: -.3px;
}
.click-effect {
    overflow: hidden;
    position: relative;
}
.qdr-hover-6 {
    position: relative;
    overflow: hidden!important;
}
.xxs-my {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}
.slow {
    -webkit-transition: all .3s!important;
    -moz-transition: all .3s!important;
    transition: all .3s!important;
}
.radius-sm, .radius-sm-hover:hover {
    border-radius: 6px!important;
}
.width-auto {
    width: auto!important;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.font-12 {
    font-size: 12px!important;
}
.pro-insure-car .secondary-bg-cover {
    background-image: url(../images/stibg0.jpg);
}

.video-box {
    background-position: top center;
}

.bg-cover, .bg-cover>.bg-animator:after {
    background-size: cover!important;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.video-box h4 {
    margin-bottom: 10px;
}
.promo-scroller h4, .video-box h4 {
    color: #091e35;
    font-family: unset;
    font-weight: 700;
    font-size: 20px;
}
.colored1, .colored1-hover:hover {
    color: #091e35!important;
}
.xxs-my {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}
.secondary-bg-cover .block-color1 {
    background: #091e35;
}

.video-box .block {
    padding: 20px;
    font-size: 15px;
}
.all-block-links a, .block, .block-links>a {
    display: block;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.video-box h4 {
    margin-bottom: 10px;
}

.promo-scroller h4, .video-box h4 {
    color: #091e35;
    font-family: unset;
    font-weight: 700;
    font-size: 20px;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.video-box h4 {
    margin-bottom: 10px;
}

.promo-scroller h4, .video-box h4 {
    color: #091e35;
    font-family: unset;
    font-weight: 700;
    font-size: 20px;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.video-box .block ul {
    padding-left: 20px;
    list-style: inherit;
    margin: 0;
}
ol, ul {
    list-style: none;
    padding: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.secondary-bg-cover .block-color2 {
    background: #b09455;
}
.video-box .block {
    padding: 20px;
    font-size: 15px;
}
.all-block-links a, .block, .block-links>a {
    display: block;
}
.promo-scroller.promo-scroller-xs {
    position: relative;
}

.promo-scroller {
    position: relative;
    width: 100%;
    background: #f6f8fb;
}
.promo-scroller .xxs-py {
    padding-top: 20px!important;
    padding-bottom: 25px!important;
}
.xxs-py {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.promo-scroller h2 {
    font-weight: 600;
    color: #091e35;
}
.intelichoice .thin {
    font-weight: 400;
    margin-bottom: 20px;
}
.promo-scroller h4, .video-box h4 {
    color: #091e35;
    font-family: unset;
    font-weight: 700;
    font-size: 20px;
}
.classic_form.big {
    padding: 10px;
}
select.classic_form {
    cursor: pointer;
    background: url(../images/bottom_black.png) right 16px center no-repeat transparent;
    -webkit-appearance: none;
    background-size: 12px 6px;
}
.classic_form {
    font-size: unset;
    background: 0 0;
    outline: 0;
    width: 100%;
    height: auto;
    line-height: normal;
    padding: 10px 13px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    outline: 0!important;
    box-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.radius-sm, .radius-sm-hover:hover {
    border-radius: 6px!important;
}
.bg-white, .bg-white-focus:focus, .bg-white-hover:hover {
    background-color: #fff!important;
}
.bg-white {
    background-color: #fff!important;
}
@media only screen and (min-width: 992px)
{
.hidden-lg {
    display: none!important;
}
}
.pro-insure-car .secondary-bg-cover {
    background-image: url(../images/stibg0.jpg);
}
.video-box {
    background-position: top center;
}
.bg-soft-colored1>*, .bg-soft-colored2>*, .bg-soft-colored3>*, .bg-soft-colored>*, .bg-soft>* {
    position: relative;
    z-index: 2;
}
.video-box {
    background-position: top center;
}
.promo-scroller h4, .video-box h4 {
    color: #091e35;
    font-family: unset;
    font-weight: 700;
    font-size: 20px;
}
.pro-insure-car .secondary-bg-cover {
    background-image: url(../images/stibg0.jpg);
}
.video-box {
    background-position: top center;
}
.md-py {
    padding-top: 150px!important;
    padding-bottom: 150px!important;
}
.bg-soft {
    position: relative;
}
@media only screen and (max-height: 700px)
{
.md-py {
    padding-top: 110px!important;
    padding-bottom: 110px!important;
}
}
@media only screen and (max-height: 900px)
{

.md-py {
    padding-top: 130px!important;
    padding-bottom: 130px!important;
}
}

.bg-cover, .bg-cover>.bg-animator:after {
    background-size: cover!important;
}
.white, .white-hover:hover {
    color: #fff!important;
}
.bg-soft-colored1>*, .bg-soft-colored2>*, .bg-soft-colored3>*, .bg-soft-colored>*, .bg-soft>* {
    position: relative;
    z-index: 2;
}
.classic_form.big {
    padding: 10px;
}
select.classic_form {
    cursor: pointer;
    background: url(../images/bottom_black.png) right 16px center no-repeat transparent;
    -webkit-appearance: none;
    background-size: 12px 6px;
}
.classic_form {
    font-size: unset;
    background: 0 0;
    outline: 0;
    width: 100%;
    height: auto;
    line-height: normal;
    padding: 10px 13px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    outline: 0!important;
    box-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.radius-sm, .radius-sm-hover:hover {
    border-radius: 6px!important;
}
.bg-white, .bg-white-focus:focus, .bg-white-hover:hover {
    background-color: #fff!important;
}
.bg-white {
    background-color: #fff!important;
}
.secondary-bg-cover .block-color3 {
    background: #8f897e;
}
.video-box .block {
    padding: 20px;
    font-size: 15px;
}
.banner-text-background {
    background: rgba(255,255,255,0.4);
    padding: 20px;
    border-radius: 3px;
}
.goldbg {
    background: #b09455;
    margin: auto;
    font-weight: 600;
    font-size: 18px!important;
    line-height: 24px;
}
.bronzebg {
    background: #8f897e;
    margin: auto;
    font-weight: 600;
    font-size: 18px!important;
    line-height: 24px;
}
.text-center {
    text-align: center!important;
}
.bronzebg {
    background: #8f897e;
    margin: auto;
    font-weight: 600;
    font-size: 18px!important;
    line-height: 24px;
}
.bronzebg>div>p{
    color:#fff!important;
}
.mobile-call{background:#091e35}
.mobile-cta-bottom{
    margin-bottom:30px;
}

.callback-header,.mobile-callback{font-size:16px;}


.video-wrapper{margin-bottom:20px;height:488px}
.video-wrapper>div>p{margin-bottom:20px;height:460px}
@media (max-width: 575px ) {
    .video-wrapper{margin-bottom:20px;height:400px}
    .video-wrapper>div>p{margin-bottom:20px;height:372px}
    .infoForm{
    padding-left: 15px;
    padding-right: 15px;
}
    .xl-py{
     margin-top: -24px;
    }
    .infoForm{
    padding-left: 15px;
    padding-right: 15px;
}
}
@media (max-width: 767.98px){
    .infoForm{
    padding-left: 15px;
    padding-right: 15px;
}
}
.side-contanct-form{
    margin-bottom:0px !important;
}
.big-slider h1{
    line-height: 1.25 !important;
}
</style>
{# <script src="/{{ active_theme_path() }}/assets/js/jquery-2.1.4.js"></script>
<script src="/{{ active_theme_path() }}/assets/js/sti-lates-news-articles.js"></script> #}
