{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

	<!-- Cover -->	
    <section class="pt-20 pb-10 card-and-payments-banner" style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;">		
		<div id="card-and-payments-banner" > {{content.field_contact_banner_image}}</div>
        
		<div class="container">
          <div class="banner-area col-sm-4">
            <h1 class="mb-0 banner-text" style="color: #000">{{ content.field_contact_banner_label }}</h1>
          </div>
		</div>
    </section> 
	<!-- /End Cover -->
	
	<!-- Intro Information -->
		{% if content.field_contact_department_title|render %}
		<section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
		  <div class="container">
			<div class="row justify-content-center">
			  <div class="col-md-12 col-lg-12">

				<div>
				  <div class="row">
					<div class="col-md-12 col-lg-12 col-12">
						{{content.field_contact_general_info}}
					</div>


				  </div>
				</div>
			   </div>
			  </div>
		</div>
	  </section>
		{% endif %}
	<!-- /End of Intro Information -->

	<!-- Intro Information -->
		{% if content.field_contact_department_title|render is empty %}
		<section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
		  <div class="container">
			<div class="row justify-content-center">
			  <div class="col-md-12 col-lg-12">


				  <div class="row">

					  {% set url = url('<current>') %}

					  {% if '/join-pps' in url|render|render %}

						 <div class="col-md-6 col-12 justify-content-between">
								{{content.field_contact_general_info}}

						 </div>
						  <div class="col-md-6 col-lg-6 col-12">
						<h2 class="text-blue">Success is better, shared.</h2>

					  	<div class="block-success scrolling-gallery col-12 aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

						  <div class="block-bg skrollable skrollable-between" data-bottom-top="transform: translateY(80px);" data-top-bottom="transform: translateY(-160px);" style="transform: translateY(-36.314px);">
						  </div>

						  <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-40px);" class="skrollable skrollable-between" style="transform: translateY(-23.113px);">
							  <ul class="gallery gutter-1 gutter-md-2">
								  <li class="col-11">
									  <figure class="photo">

										<iframe width="100%" height="315" src="https://www.youtube.com/embed/-kEN_wTVY5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

									  </figure>
								  </li>
							  </ul>
						  </div>
					  </div>

					  </div>

					  {% endif %}



					</div>
			  </div>
			</div>
		  </div>
	  </section>		
		{% endif %}
	<!-- /End of Intro Information -->

	<!-- Contact Us Page Tabs -->
	{% if content.field_contact_department_title|render %}
		<section id="tabsID" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">

				
			<nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active contact-links" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Contact a department</a>
					{# <a class="nav-item nav-link contact-links" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Leave us a message</a> #}
					<a class="nav-item nav-link contact-links" id="nav-compliments-tab" data-toggle="tab" href="#nav-compliments" role="tab" aria-controls="nav-compliments" aria-selected="false">Compliments/Complaints</a>
			  </div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				
			  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

					<div class="content-center">
						<h3>{{ content.field_contact_department_title }} </h3>
						<div>
						<form class="bg">
							<label>Search our FAQs or browse the categories below</label><br/><br/>
							<input type="text" class="textbox1" id="myContactInput">
							<button type="button" id="idContactSubmit"><i class="fa fa-search"></i></button>
						</form>				
						</div>
						<div id="accordion">
			
						</div>
					</div>
			  </div>
			  {# <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"> #}
			  <div class="tab-pane fade" id="nav-compliments" role="tabpanel" aria-labelledby="nav-compliments-tab">
				<div class="content-center">
						<section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
							<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-12 col-lg-12">
									<div>
										<div class="row justify-content-between align-items-center text-center">
											<div class="col-md-9 offset-md-1">		
													{{content.field_complaints_body}}			 
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>
						</section>	
					</div>

					<div id="">

					<div id="myJoinForm">
						{% include directory ~ '/parts/form-joinpps-test.html.twig' %}	
					</div>


					{# {% include directory ~ '/parts/form-contactus.html.twig' %} #}

					{# <form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=8d1c963de7&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
						
						<div id="mc_embed_signup_scroll">
					<div class="row">
						<div class="col-md-6">
							<label for="mce-MMERGE5">Title <span class="asterisk">*</span></label>
							<select name="MMERGE5" class="controlClass textbox" id="mce-MMERGE5" required="required">
								<option value="Please Select">--- Please Select ---</option>
								<option value="Adv">Adv</option>
								<option value="Dr">Dr</option>
								<option value="Ds">Ds</option>
								<option value="Me">Me</option>
								<option value="Mev">Mev</option>
								<option value="Mej">Mej</option>
								<option value="Mnr">Mnr</option>
								<option value="Mr">Mr</option>
								<option value="Mrs">Mrs</option>
								<option value="Ms">Ms</option>
								<option value="Miss">Miss</option>
								<option value="Prof">Prof</option>
								<option value="Rev">Rev</option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="mce-FNAME">First Name <span class="asterisk">*</span></label>
							<input type="text" value="" name="FNAME" class="controlClass textbox" id="mce-FNAME" required="required">
						</div>
					</div><br/>
					<div class="row">
						<div class="col-md-6">
							<label for="mce-LNAME">Last Name <span class="asterisk">*</span></label>
							<input type="text" value="" name="LNAME" class="controlClass textbox" id="mce-LNAME" required="required">
						</div>
						<div class="col-md-6">
							<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
						</label>
							<input type="email" value="" name="EMAIL" class="email controlClass textbox" id="mce-EMAIL" required="required">
						</div>
					</div><br/>
					<div class="row">
						<div class="col-md-6">
							<label for="mce-PHONE">Contact Number <span class="asterisk">*</span></label>
							<input type="text" name="PHONE" class="controlClass textbox" value="" id="mce-PHONE" required="required">
						</div>
						<div class="col-md-6">
							<label for="mce-IDPASSPORT">ID, Passport or Membership number <span class="asterisk">*</span></label>
							<input type="text" value="" name="IDPASSPORT" class="controlClass textbox" id="mce-IDPASSPORT" required="required">
						</div>
					</div><br/>
					<div class="row">
						<div class="col-md-6">
							<label for="mce-MMERGE3">City <span class="asterisk">*</span></label>
							<input type="text" value="" name="MMERGE3" class="controlClass textbox" id="mce-MMERGE3" required="required">
						</div>
						<div class="col-md-6">
							<label for="mce-MMERGE6">Preferred Contact Time <span class="asterisk">*</span></label>
							<select name="MMERGE6" class="controlClass textbox" id="mce-MMERGE6" required="required">
							<option value="Please Select">--- Please Select ---</option>
							<option value="Anytime">Anytime</option>
							<option value="8:00 - 9:00">8:00 - 9:00</option>
							<option value="9:00 - 10:00">9:00 - 10:00</option>
							<option value="10:00 - 11:00">10:00 - 11:00</option>
							<option value="11:00 - 12:00">11:00 - 12:00</option>
							<option value="12:00 - 13:00">12:00 - 13:00</option>
							<option value="13:00 - 14:00">13:00 - 14:00</option>
							<option value="14:00 - 15:00">14:00 - 15:00</option>
							<option value="15:00 - 16:00">15:00 - 16:00</option>

							</select>
						</div>
					</div><br/>


					<h6 class="controlClass">CHOOSE WHAT YOUR MESSAGE IS RELATED TO </h6>
						<div class="row rowMargin">
							<div class="col-md-6">
								<div class="form-group">
									<input type="checkbox" value="1" name="group[3005][1]" id="mce-group[3005]-3005-0"><label for="mce-group[3005]-3005-0">Life, Disability and Sickness</label>			
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="checkbox" value="2" name="group[3005][2]" id="mce-group[3005]-3005-1"><label for="mce-group[3005]-3005-1">Profmed Medical Scheme</label>			 
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>

						<div class="row rowMargin">
							<div class="col-md-6">
								<div class="form-group">
									<input type="checkbox" value="4" name="group[3005][4]" id="mce-group[3005]-3005-2"><label for="mce-group[3005]-3005-2">&nbsp; Investment, Retirement and Savings</label>		
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="checkbox" value="8" name="group[3005][8]" id="mce-group[3005]-3005-3"><label for="mce-group[3005]-3005-3">&nbsp; Card &amp; Payment Solutions</label>			 
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>		

						<div class="row rowMargin">
							<div class="col-md-6">
								<div class="form-group">
									<input type="checkbox" value="16" name="group[3005][16]" id="mce-group[3005]-3005-4"><label for="mce-group[3005]-3005-4">&nbsp; Financial Planning</label>		
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="checkbox" value="32" name="group[3005][32]" id="mce-group[3005]-3005-5"><label for="mce-group[3005]-3005-5">&nbsp; Car &amp; Household Insurance</label>			 
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="row rowMargin">
										<div class="col-md-6">
											<div class="form-group">
												<input type="checkbox" value="64" name="group[2997][64]" id="mce-group[2997]-2997-6"><label for="mce-group[2997]-2997-6">&nbsp; Health Professions Indemnity</label>						</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="checkbox" value="128" name="group[3005][128]" id="mce-group[3005]-3005-7"><label for="mce-group[3005]-3005-7">&nbsp; Marketing/Communications</label>						</div>
										</div>
									</div>

									<div class="row rowMargin">
										<div class="col-md-6">
											<div class="form-group">
												<input type="checkbox" value="512" name="group[3005][512]" id="mce-group[3005]-3005-8"><label for="mce-group[3005]-3005-8">&nbsp; Not Sure</label>
											</div>
										</div>
									</div>

					<div class="row">
						<div class="col-md-6">
							<label for="mce-MMERGE7">I would like to submit a  <span class="asterisk">*</span>
							</label>
							<select name="MMERGE7" class="textbox" id="mce-MMERGE7" required="required">
							<option value="">--- Please Select ---</option>
							<option value="Request for Information">Request for Information</option>
							<option value="Request for Service">Request for Service</option>
							<option value="Compliment">Compliment</option>
							<option value="Suggestion">Suggestion</option>
							<option value="Complaint">Complaint</option>

							</select>
						</div>
						<div class="col-md-6">
							<label for="mce-MMERGE8">Message <span class="asterisk">*</span></label>
							<textarea value="" name="MMERGE8" class="controlClass form-control" id="mce-MMERGE8" style="resize: none;" rows="8"></textarea>
						</div>
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_8d1c963de7" tabindex="-1" value=""></div>
						<div class="row">
								<div class="col-md-4"></div>
								<div class="col-md-4"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white btn-rounded px-5"></div>
								<div class="col-md-4"></div>    
							</div>
							</div>

					</form> #}
					</div>

					<!--End mc_embed_signup-->

			  </div>
			  {# <div class="tab-pane fade" id="nav-compliments" role="tabpanel" aria-labelledby="nav-compliments-tab">
					<div class="content-center">
						<section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
							<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-12 col-lg-12">
									<div>
										<div class="row justify-content-between align-items-center text-center">
											<div class="col-md-9 offset-md-1">		
													{{content.field_complaints_body}}			 
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>
						</section>	
					</div>	
					<div id="complaintsForm">

		

						<div id="mc_embed_signup">
						<form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=8d1c963de7&c=?" method="post" id="mc-embedded-subscribe-form1" name="mc-embedded-subscribe-form" class="validate" novalidate>
							<div id="mc_embed_signup_scroll">
						<div class="row">
							<div class="col-md-6">
								<label for="mce-MMERGE5">Title <span class="asterisk">*</span></label>
								<select name="MMERGE5" class="controlClass textbox" id="mce-MMERGE5" required="required">
									<option value="Please Select">--- Please Select ---</option>
									<option value="Adv">Adv</option>
									<option value="Dr">Dr</option>
									<option value="Ds">Ds</option>
									<option value="Me">Me</option>
									<option value="Mev">Mev</option>
									<option value="Mej">Mej</option>
									<option value="Mnr">Mnr</option>
									<option value="Mr">Mr</option>
									<option value="Mrs">Mrs</option>
									<option value="Ms">Ms</option>
									<option value="Miss">Miss</option>
									<option value="Prof">Prof</option>
									<option value="Rev">Rev</option>
								</select>
							</div>
							<div class="col-md-6">
								<label for="mce-FNAME">First Name <span class="asterisk">*</span></label>
								<input type="text" value="" name="FNAME" class="controlClass textbox" id="mce-FNAME" required="required">
							</div>
						</div><br/>
						<div class="row">
							<div class="col-md-6">
								<label for="mce-LNAME">Last Name <span class="asterisk">*</span></label>
								<input type="text" value="" name="LNAME" class="controlClass textbox" id="mce-LNAME" required="required">
							</div>
							<div class="col-md-6">
								<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
							</label>
								<input type="email" value="" name="EMAIL" class="email controlClass textbox" id="mce-EMAIL" required="required">
							</div>
						</div><br/>
						<div class="row">
							<div class="col-md-6">
								<label for="mce-PHONE">Contact Number <span class="asterisk">*</span></label>
								<input type="text" name="PHONE" class="controlClass textbox" value="" id="mce-PHONE" required="required">
							</div>
							<div class="col-md-6">
								<label for="mce-IDPASSPORT">ID, Passport or Membership number <span class="asterisk">*</span></label>
								<input type="text" value="" name="IDPASSPORT" class="controlClass textbox" id="mce-IDPASSPORT" required="required">
							</div>
						</div><br/>
						<div class="row">
							<div class="col-md-6">
								<label for="mce-MMERGE3">City <span class="asterisk">*</span></label>
								<input type="text" value="" name="MMERGE3" class="controlClass textbox" id="mce-MMERGE3" required="required">
							</div>
							<div class="col-md-6">
								<label for="mce-MMERGE6">Preferred Contact Time <span class="asterisk">*</span></label>
								<select name="MMERGE6" class="controlClass textbox" id="mce-MMERGE6" required="required">
								<option value="Please Select">--- Please Select ---</option>
								<option value="Anytime">Anytime</option>
								<option value="8:00 - 9:00">8:00 - 9:00</option>
								<option value="9:00 - 10:00">9:00 - 10:00</option>
								<option value="10:00 - 11:00">10:00 - 11:00</option>
								<option value="11:00 - 12:00">11:00 - 12:00</option>
								<option value="12:00 - 13:00">12:00 - 13:00</option>
								<option value="13:00 - 14:00">13:00 - 14:00</option>
								<option value="14:00 - 15:00">14:00 - 15:00</option>
								<option value="15:00 - 16:00">15:00 - 16:00</option>

								</select>
							</div>
						</div><br/>


						<h6 class="controlClass">CHOOSE WHAT YOUR MESSAGE IS RELATED TO </h6>
							<div class="row rowMargin">
								<div class="col-md-6">
									<div class="form-group">
										<input type="checkbox" value="1" name="group[3005][1]" id="mce-group[3005]-3005-0"><label for="mce-group[3005]-3005-0">&nbsp; Life, Disability and Sickness</label>			
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="checkbox" value="2" name="group[3005][2]" id="mce-group[3005]-3005-1"><label for="mce-group[3005]-3005-1">&nbsp; Profmed Medical Scheme</label>			 
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>

							<div class="row rowMargin">
								<div class="col-md-6">
									<div class="form-group">
										<input type="checkbox" value="4" name="group[3005][4]" id="mce-group[3005]-3005-2"><label for="mce-group[3005]-3005-2">&nbsp; Investment, Retirement and Savings</label>		
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="checkbox" value="8" name="group[3005][8]" id="mce-group[3005]-3005-3"><label for="mce-group[3005]-3005-3">&nbsp; Card &amp; Payment Solutions</label>			 
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>		

							<div class="row rowMargin">
								<div class="col-md-6">
									<div class="form-group">
										<input type="checkbox" value="16" name="group[3005][16]" id="mce-group[3005]-3005-4"><label for="mce-group[3005]-3005-4">&nbsp; Financial Planning</label>		
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="checkbox" value="32" name="group[3005][32]" id="mce-group[3005]-3005-5"><label for="mce-group[3005]-3005-5">&nbsp; Car &amp; Household Insurance</label>			 
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							<div class="row rowMargin">
											<div class="col-md-6">
												<div class="form-group">
													<input type="checkbox" value="64" name="group[2997][64]" id="mce-group[2997]-2997-6"><label for="mce-group[2997]-2997-6">&nbsp; Health Professions Indemnity</label>						</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="checkbox" value="128" name="group[3005][128]" id="mce-group[3005]-3005-7"><label for="mce-group[3005]-3005-7">&nbsp; Marketing/Communications</label>						</div>
											</div>
										</div>

										<div class="row rowMargin">
											<div class="col-md-6">
												<div class="form-group">
													<input type="checkbox" value="512" name="group[3005][512]" id="mce-group[3005]-3005-8"><label for="mce-group[3005]-3005-8">&nbsp; Not Sure</label>
												</div>
											</div>
										</div>

						<div class="row">
							<div class="col-md-6">
								<label for="mce-MMERGE7">I would like to submit a  <span class="asterisk">*</span>
								</label>
								<select name="MMERGE7" class="textbox" id="mce-MMERGE7" required="required">
								<option value="">--- Please Select ---</option>
								<option value="Request for Information">Request for Information</option>
								<option value="Request for Service">Request for Service</option>
								<option value="Compliment">Compliment</option>
								<option value="Suggestion">Suggestion</option>
								<option value="Complaint">Complaint</option>

								</select>
							</div>
							<div class="col-md-6">
								<label for="mce-MMERGE8">Message <span class="asterisk">*</span></label>
								<textarea value="" name="MMERGE8" class="controlClass form-control" id="mce-MMERGE8" style="resize: none;" rows="8"></textarea>
							</div>
						</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_8d1c963de7" tabindex="-1" value=""></div>
							<div class="row">
									<div class="col-md-4"></div>
									<div class="col-md-4"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe1" class="btn btn-white btn-rounded px-5"></div>
									<div class="col-md-4"></div>    
								</div>
								</div>

						</form>
						</div>

						<!--End mc_embed_signup-->
					</div>						
			  </div>				 #}
			</div>	
		</section>

	<!-- /End of Tabs -->
	<!-- Map -->
		<div class="map-background">
			{{ content.field_contact_map }}
		</div>
		{% endif %}
		{% if content.field_contact_department_title|render is empty %}
		{# <div id="myJoinForm">

			

			{% include directory ~ '/parts/form-joinpps.html.twig' %}

		

		</div> #}


		<div id="myJoinForm">
			{% include directory ~ '/parts/form-joinpps-test.html.twig' %}	
		</div>
		{% endif %}
	<!-- /End of Tabs -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style>
	h1 div{
		font-size: 2.8rem !important;
	}

	textarea {
		color: #000;
	}

#mc_embed_signup .button {background: transparent !important;}
	#mc_embed_signup{background: inherit; clear:left; font:14px Helvetica,Arial,sans-serif; }
.controlClass {
	color: #000;
}

	.fade.show {
    	opacity: 1;
	}

	body {
		color: #fff;
	}
	:root {
		--navy: #00253d;
		--seafoam-blue: #66cccc;
	}

	.selectric .label {
		line-height: 0.5 !important;
	}
	.selectric span {
		background-color: #fff;
		border: 1px darkgray solid;
		border-radius: 0.3em;
	}

	.selectric-scroll li {
		line-height: 0.5;
	}

	.field--name-field-contact-general-info a {
		color: #b09455;
		text-transform: capitalize;		
		font-family: sans-serif !important;
		font-size: 14px !important;

	}

	.field--name-field-complaints-body a {
		color: #b09455;
	}

	p{
		line-height: 2 !important;
	}
	#myJoinForm {
		margin-bottom: 0px;
	}

  .rowMargin {
		margin-bottom: 0px !important;		
	}

	/*.joinContent {*/
		/*padding-left: 61px;*/
    /*padding-right: 53px;*/
	/*}*/

	#myContactInput {
		position: absolute;
    margin-left: -301px !important;
		border: solid 1px #ccc;
	}

  #idContactSubmit {
    position: relative;
    z-index: 99;
    left: 293px;
    top: 2px;
    height: 66px;
    font-size: 26px;
    background: transparent;
    color: #bbb;
    border: none;
    width: 82px;
	}

	.fa {
		margin-right: 18px;
	}
	.banner-area {
		width: 100%;
		height: 100%;

		/*background-color: rgba(0,0,0,0.2);*/
		z-index: 2;	
	}
	.field--name-field-contact-banner-label div {
		color: #fff;
	}
	.content-center {
		text-align: center;
	}
	#nav-tab {
		width: 100%;
		text-align: center;
	}
	.tab-content:before {
		background: #fff !important;
		
	}

	.contactForm {
		    margin: 0px 50px !important;
	}
	
	#nav-tabContent {
		box-shadow: 0px 0px 5px grey;
		background-color: #fbfbfb !important;
	}
	
	label {
	  //width: 345px;
	  height: 18px;
	  font-size: 12px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
	  letter-spacing: normal;
	  text-align: center;
	  color: #fff !important;
	}	
	
	.textbox {
	  width: 100%;
	  height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;

		color:#000;
	  /*margin: auto;*/
	}

	.checkbox-heading {
		color: var(--navy);
		font-size: 12px;
	}
	.textbox1 {
	  width: 55% !important;
	  height: 70px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin: auto;*/
	}

	.textbox2 {
		width: 100%;
		/*height: 200px;*/
		border-radius: 4px;
		background-color: #ffffff;
	}
	.-Input-Text {
	  width: 359px;
	  height: 20px;
	  font-size: 16px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.25;
	  letter-spacing: normal;
	  color: #2e2e2e;
	}
	
	.button-bg {
	color: #fff;
  width: 199px;
  height: 52px;
  border-radius: 26px;
  background-color: var(--navy);
}
	.container #accordion {
		margin-top: 50px;
	}
	.card {
		margin-bottom: 10px;
	}
	.card-header {
		padding: 0rem;
		text-align: left !important;
	}
	.btn-link {
		width: 100%;
		text-align: left;
		text-decoration: none !important;
		color: #404040;
		font-weight: bold;
		font-family: sans-serif;
	}
	
	.card-body {
		text-align: left !important;
	}
	
	.map-background {
		background: #f6f6f6;	
		margin-bottom: -7px;
		margin-top: -58px;
	}
	.textbox-copy-2 {
	  width: 100%%;
	  height: 50px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  /*margin-left: 20%;*/
	}

	.align-btn {
		text-align: center;
	}

	.selectric span {
		font-size: 13px;
    font-weight: normal;
		height: 40px !important;
	}

	#message {
		resize: none;
	}


	.form-group	input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgray;
  height: 20px;
  width: 20px;
  border: 1px solid white;
}

	.form-group input[type="checkbox"]:checked {
  background: var(--seafoam-blue);
}

	.form-group input[type="checkbox"]:hover {
  filter: brightness(90%);
}

	.form-group input[type="checkbox"]:disabled {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

	.form-group input[type="checkbox"]:after {
  content: '';
  position: relative;
  left: 40%;
  top: 20%;
  width: 20%;
  height: 50%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.form-group input[type="checkbox"]:checked:after {
  display: block;
}

	.form-group input[type="checkbox"]:disabled:after {
  border-color: #7b7b7b;
}

#tabsID {
    margin-top: -79px;
}

	[data-toggle="collapse"] .fa:before {
		content: "\f068";
	}
	
	[data-toggle="collapse"].collapsed .fa:before {
		content: "\f067";
	}
	
	.fa {
		float: right;
	}
	p {line-height: 1; }
	
	.search a { 
	    color: #B09455 !important;
	}

@media only screen and (max-width: 500px) {
	.contactForm {
		margin: 0px 0px !important;	
	}
	.button-bg {
		margin-left: -65px !important;
	}

	#message {
		    height: 141px !important;
	}

	#tabsID {
		margin-top: -86px;
	}

		#myContactInput {
    position: absolute;
    margin-left: -114px !important;
    border: solid 1px #ccc;
    width: 94% !important;
	}

	.align-btn {
    margin-left: -68px;
	}

  #idContactSubmit {
		position: relative;
    z-index: 99;
    left: 293px;
    top: 2px;
    height: 66px;
    font-size: 26px;
    background: transparent;
    color: #bbb;
    border: none;
    width: 82px;
	}

	#idContactSubmit .fa {
		margin-right: 193px
	}	
	.btn-link .fa {
		margin-right: -9px;			
	}
}
.content-center>h3{
	color: #091e35;
}
.textbox1{
	color: #000;
	padding: 10px;
}
</style>
<script src="/{{ active_theme_path() }}/assets/js/jquery-2.1.4.js"></script>
<script>

	$(document).ready(function(){
		$('#card-and-payments-banner').remove();
		$('.joinPPS h4').remove();
		$('.joinPPS').prepend('<h2 class="text-blue">Join PPS</h2>');
		$("#mce-MMERGE9").val(window.location.href);
	});

	//document.getElementById("mce-MMERGE9").value = window.location.href;

</script>