{# <section class="pt-20 pb-10 banner-top-spacing" style="margin-top: 170px; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
        background-size: cover;  background-image:url('/{{ active_theme_path() }}/assets/images/ready-for-future.jpg')">
</section> #}

{% set background_image = content.field_page_banner|striptags|trim %}
	<!-- cover -->	
   

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_page_banner}}</div>
      {# </div> #}
        
			  <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
			  </div>
    </section> 


<section class="pt-5 banner-images" style="min-height: 300px !important;">
    <div class="container">
        {{content.body}}
    </div>
</section>


<style>
    p > a{
        color: rgba(9,30,53,1) !important;
    }

    .selectric b.button{
        display:none;
    }

    .bg-blue.text-white.groupfooter {
        margin-top: -33px;
    }

    #mc_embed_signup label {
        color: #000 !important;
    }

    .form-composite > legend, .label{
        font-weight: normal !important;
    }

    @media(max-width:415px){
        .bg-blue.text-white.groupfooter {
        margin-top: 0px;
        }

        .banner-area {
            position: relative;
            top: 40px;
        }

        .banner-area > h1{
            font-size: 17pt !important;
        }

        .banner-area > h1 > span{
            font-size: 12pt !important;
        }
    }

    .banner-images{
            padding-top: 0%;
        }

    @media screen and (max-width: 560px){
        .banner-images{
            padding-top: 30%
        }
    }

    @media(max-width:768px){
        #mc_embed_signup .size1of2{
            width: 100% !important;
        }
    }
</style>

<script>
    document.getElementById("mce-MMERGE5").value = window.location.href;

    function myFunction() {
        document.getElementById("mc-embedded-subscribe").value = "Submit";
    }
</script>


<script type="text/javascript">
    function validateForm()
    {
        var a=document.forms["Form"]["answer_a"].value;
        var b=document.forms["Form"]["answer_b"].value;
        var c=document.forms["Form"]["answer_c"].value;
        var d=document.forms["Form"]["answer_d"].value;
        if (a==null || a=="",b==null || b=="",c==null || c=="",d==null || d=="")
        {
            alert("Please Fill All Required Field");
            return false;
        }
    }
</script>