{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
 {% set url = url('<current>') %} 
	<!-- cover -->		
   
	{% if node.label == "PPS Credit Card" %}
	<div class="banner-top-spacing c-section -space-medium credit-banking-page" id="section-home">
 
		<div class="c-section-photo card-and-payments-banner banking-pages" style="background-size: cover !important;"> 
			<div id="card-and-payments-banner"> {{content.field_top_banner_image}} </div>
		</div>

	{% elseif node.label == "PPS Payment Solutions" %}

	<div class="banner-top-spacing c-section -space-medium payment-banking-page" id="section-home">
 
		<div class="c-section-photo card-and-payments-banner payment-banking-pages" style="background-size: cover !important;"> 
			{#<div id="card-and-payments-banner"> {{content.field_top_banner_image}} </div>#}
		</div>
	
	{% else %}
		<div class="banner-top-spacing c-section -space-medium" id="section-home" style="padding-top: 45px !important;">
 
		<div class="c-section-photo card-and-payments-banner" style="background-size: cover !important;"> 
			<div id="card-and-payments-banner"> {{content.field_top_banner_image}} </div>
		</div>
	{% endif %}	
    
	<div class="c-container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">

        <!-- Space -->
        <div class="u-space">
        </div>

		<div class="u-space">
        </div>
		{#{% if node.label == "PPS Payment Solutions" %}
			<!-- Space End -->
        	<div class="banner-text-background" style="display: inline-block !important;">
		
		{% else %}
			<!-- Space End -->
        	<div class="banner-text-background">

		{% endif %} #}

		<div class="credit-card-caption">
        
        <!-- Heading -->
			{# <h2 class="u-text-title">
				<strong>{{ node.label }}<>
			</h2> #}

			<p class="u-text-lead">
			{{content.field_top_banner_caption }}
			</p>

        
        </div>
        <!-- Heading End -->

        <!-- Space -->
        <div class="u-space">
        </div>

		<div class="u-space">
        </div>
        <!-- Space End -->

        </div>
      </div>
    </div
</div>
</div>

<!-- Section About -->
	{% if content.field_top_additional_media|render %}
		<div class="c-section -space-large u-padding-bottom-0" style="margin-top: 100px; min-height: 570px;">
			<div class="c-container">
				<div class="row -gutter-medium">
					
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="c-section -space-large -bg-blue-light u-padding-bottom-80">
							{{content.field_top_additional_media}}
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="c-section -space-large -bg-blue-light u-padding-bottom-80">
							{{content.field_top_additional_content}}
						</div>
					</div>

				</div>
			</div>
		</div>
	{% endif %}

		<div class="clearfix"></div>

		<!-- Section About -->
		<div class="c-section -space-large u-padding-bottom-0" id="section-card">
			<div class="c-container">
				<div class="row -gutter-medium margin-bottomnone">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<!-- Heading -->
						<h6 class="u-text-sup"> {{ content.field_product_terminal_type_titl }} </h6>
						<h2 class="u-text-title"> {{ content.field_product_terminal_type_subt }} </h2>
						{#{{ content.field_product_terminal_type_cont }}		#}
						 {{ content.field_terminal_type_content2 }}
						 {% if content.field_product_terminal_type_imag is not empty %}
							{{ content.field_product_terminal_type_imag }}
						{% endif %}
						<!-- <p><a href="#." class="c-link-1" title="Read more">Pricing structures <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
						<!-- Heading End -->
					</div>
					{# <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style= "margin-top: 115px;">
						{% if content.field_product_terminal_type_imag is not empty %}
							{{ content.field_product_terminal_type_imag }}
						{% endif %}
					</div> #}
				</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<!-- Video -->
						{% if content.field_credit_card_reward_video is not empty %}
							{{ content.field_credit_card_reward_video }}							
						{% endif %}
					
						
						<!-- Video End -->
					</div>
				</div>
			</div>
		</div>
	</div>






				{% if content.field_credit_card_benefits_title|render %}
		<!-- Section Features -->
		<div class="c-section -space-large -bg-blue-light u-padding-bottom-80" id="section-benefits" style="margin-top: 150px;">
			<div class="c-container med-container">
				<!-- Heading -->
				<h6 class="u-text-sup u-text-center"> {% set CreditCardBenefitTitle %} {{ content.field_credit_card_benefits_title }}  {% endset %} {{ CreditCardBenefitTitle|striptags }} </h6>
				<h2 class="u-text-title u-text-center"> {% set CreditCardBenefitSubTitle %} {{ content.field_credit_card_benefits_subti }} {% endset %} {{ CreditCardBenefitSubTitle|striptags }} </h2>
				
				<!-- Heading End -->

				<!-- Space -->
				<div class="u-space u-space-40@sm"></div>
				<!-- Space End -->

				<div class="row -gutter-medium">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon">
								<span >
									{# <img src="assets/images/MasterCard-Buy-1-get-1-free.svg" width="43" height="50" /> #}
									{{ content.field_credi_card_block_icon1 }}
								</span>
							</div>
							<div class="c-summary-1-info">
								<h5 class="c-summary-1-title"><a href="#." title="MasterCard&reg; Buy 1 Get 1 Free" data-toggle="modal" data-target="#benefitsModal1">{% set CreditCardBlockTitle1 %} {{ content.field_credit_card_block_title1 }} {% endset %} {{  CreditCardBlockTitle1|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }} </a></h5>
								<p class="c-summary-1-description u-color-grey">
									{% set CreditCardBlockContent1 %} {{ content.field_credi_card_block_content1 }} {% endset %} {{ CreditCardBlockContent1 }}
								</p>
								<!-- <p class="c-summary-1-link"><a href="#." title="Read more" class="c-link-1" data-toggle="modal" data-target="#benefitsModal1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
							</div>
							
						</div>
						<!-- Summary End -->
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon">
								<span >
									{# <img src="assets/images/Purchase-Protection.svg" width="43" height="50" /> #}
									{{ content.field_credi_card_block_icon_2 }} 
								</span>
							</div>
							<div class="c-summary-1-info">
								<h5 class="c-summary-1-title"><a href="#." title="Purchase Protection" data-toggle="modal" data-target="#benefitsModal5">{% set CreditCardBlockTitle2 %} {{ content.field_credit_card_block_title_2 }} {% endset %} {{  CreditCardBlockTitle2|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</a></h5>
								<p class="c-summary-1-description u-color-grey">
									{% set CreditCardBlockContent2 %} {{ content.field_credit_card_block_content2 }} {% endset %} {{ CreditCardBlockContent2 }}							
								</p>
								<!-- <p class="c-summary-1-link"><a href="#." title="Read more" class="c-link-1" data-toggle="modal" data-target="#benefitsModal5">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
							</div>
						</div>
						<!-- Summary End -->
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon">
								<span >
									{# <img src="assets/images/_wine-of-the-month.png" width="43" height="50" /> #}
									{{ content.field_credi_card_block_icon_3 }}
								</span>
								
							</div>
							<div class="c-summary-1-info">
								<h5 class="c-summary-1-title"><a href="#." title="Wine of the Month" data-toggle="modal" data-target="#benefitsModal2">{% set CreditCardBlockTitle3 %} {{ content.field_credit_card_block_title_3 }} {% endset %} {{  CreditCardBlockTitle3|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</a></h5>
								<p class="c-summary-1-description u-color-grey">
									{% set CreditCardBlockContent3 %} {{ content.field_credit_card_block_content3 }} {% endset %} {{ CreditCardBlockContent3 }}															
								</p>
								<!-- <p class="c-summary-1-link"><a href="#." title="Read more" class="c-link-1" data-toggle="modal" data-target="#benefitsModal2">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
							</div>
						</div>
						<!-- Summary End -->
					</div>
				</div>

				<!-- Space -->
				<!--<div class="u-space u-space-40@sm"></div> -->
				<!-- Space End -->

				<div class="row -gutter-medium">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon">
								<span >
									{# <img src="assets/images/Local-and-International-Lounge-Access.svg" width="43" height="50" /> #}
									{{ content.field_credi_card_block_icon_4 }}
								</span>
							</div>
							<div class="c-summary-1-info">
								<h5 class="c-summary-1-title"><a href="#." title="Local and International Lounge Access" data-toggle="modal" data-target="#benefitsModal3">{% set CreditCardBlockTitle4 %} {{ content.field_credit_card_block_title_4 }} {% endset %} {{  CreditCardBlockTitle4|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</a></h5>
								<p class="c-summary-1-description u-color-grey">
									{% set CreditCardBlockContent4 %} {{ content.field_credi_card_block_content_4 }} {% endset %} {{ CreditCardBlockContent4 }}																							
								</p>
								<!-- <p class="c-summary-1-link"><a href="#." title="Read more" class="c-link-1" data-toggle="modal" data-target="#benefitsModal3">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
							</div>
						</div>
						<!-- Summary End -->
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon">
							<span >
									{# <img src="assets/images/Discount-Emirates-Flights.svg" width="43" height="50" /> #}
									{{ content.field_credi_card_block_icon_5 }}									
								</span>
							</div>
							<div class="c-summary-1-info">
								<h5 class="c-summary-1-title"><a href="#." title="Discount Emirates Flights" data-toggle="modal" data-target="#benefitsModal4">{% set CreditCardBlockTitle5 %} {{ content.field_credit_card_block_title_5 }} {% endset %} {{  CreditCardBlockTitle5|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</a></h5>
								<p class="c-summary-1-description u-color-grey"> 
									{% set CreditCardBlockContent5 %} {{ content.field_credi_card_block_content_5 }} {% endset %} {{ CreditCardBlockContent5|striptags  }}									
								</p>
								<!-- <p class="c-summary-1-link"><a href="#." title="Read more" class="c-link-1" data-toggle="modal" data-target="#benefitsModal4">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
							</div>
						</div>
						<!-- Summary End -->
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon">
							<span >
									{# <img src="assets/images/_travel-insurance.png" width="55" height="50" /> #}
									{{ content.field_credi_card_block_icon_6 }}										
							</span>
					
								<!-- <span class="ion-ios-people-outline u-color-gold"></span> -->
							</div>
							<div class="c-summary-1-info">
								<h5 class="c-summary-1-title"><a href="#." title="Travel Insurance" data-toggle="modal" data-target="#benefitsModal6"> {% set CreditCardBlockTitle6 %} {{ content.field_credit_card_block_title_6 }} {% endset %} {{  CreditCardBlockTitle6|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</a></h5>
								<p class="c-summary-1-description u-color-grey">
									{% set CreditCardBlockContent6 %} {{ content.field_credit_card_block_content_ }} {% endset %} {{ CreditCardBlockContent6|striptags  }}									
								</p>
								<!-- <p class="c-summary-1-link"><a href="#." title="Read more" class="c-link-1" data-toggle="modal" data-target="#benefitsModal6">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
							</div>
						</div>
						<!-- Summary End -->
					</div>
				</div>

				<div class="u-space u-space-40@sm"></div>

				<!-- <p class="u-text-center"><a href="13354_PPS_Credit_Card_Downloadable_Brochure_C.pdf" title="Download PPS card benefit brochure" class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle" target="_blank">DOWNLOAD PPS CARD BENEFIT BROCHURE <i class="c-button-1-icon -right ion-chevron-right"></i></a></p> -->
				{{ content.field_credt_benefit_dwnload_link }}
				<div class="u-space u-space-40@sm"></div>
				<h6 class="u-text-sup u-text-center" style="font-size:30px !important;">Balance Transfer Benefit</h6>
				<div class="u-space"></div>
				<h2 class="u-text-center" style="font-size: 16px;">
				{# {{content.field_balance_transfer_benefit_t}} #}
				{% set balance_transfer_benefit_t %} {{ content.field_balance_transfer_benefit_t }} {% endset %} {{ balance_transfer_benefit_t|striptags }}																							
				</h2>
				<div class="row -gutter-medium">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon c-summary_1_icon">
								
									{# <img src="assets/images/Local-and-International-Lounge-Access.svg" width="43" height="50" /> #}
									{# {{ content.field_credi_card_block_icon_4 }} #}
									0%
							</div>
							<div class="c-summary-1-info">
								{# <h5 class="c-summary-1-title"><a href="#." title="Local and International Lounge Access" data-toggle="modal" data-target="#benefitsModal3">{% set CreditCardBlockTitle4 %} {{ content.field_credit_card_block_title_4 }} {% endset %} {{  CreditCardBlockTitle4|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</a></h5> #}
								<p class="c-summary-1-description u-color-grey">
									{% set balance_transfer_content_1 %} {{ content.field_balance_transfer_content_1 }} {% endset %} {{ balance_transfer_content_1|striptags }}																							
								</p>
								<!-- <p class="c-summary-1-link"><a href="#." title="Read more" class="c-link-1" data-toggle="modal" data-target="#benefitsModal3">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
							</div>
						</div>
						<!-- Summary End -->
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon c-summary_1_icon">
							
									{# <img src="assets/images/Discount-Emirates-Flights.svg" width="43" height="50" /> #}
									{# {{ content.field_credi_card_block_icon_5 }}									 #}
									6%
							</div>
							<div class="c-summary-1-info">
								{# <h5 class="c-summary-1-title"><a href="#." title="Discount Emirates Flights" data-toggle="modal" data-target="#benefitsModal4">{% set CreditCardBlockTitle5 %} {{ content.field_credit_card_block_title_5 }} {% endset %} {{  CreditCardBlockTitle5|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</a></h5> #}
								<p class="c-summary-1-description u-color-grey"> 
									{% set balance_transfer_content_2  %} {{ content.field_balance_transfer_content_2 }} {% endset %} {{ balance_transfer_content_2 |striptags }}									
								</p>
								<!-- <p class="c-summary-1-link"><a href="#." title="Read more" class="c-link-1" data-toggle="modal" data-target="#benefitsModal4">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
							</div>
						</div>
						<!-- Summary End -->
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon c-summary_1_icon">
							
									{# <img src="assets/images/_travel-insurance.png" width="55" height="50" /> #}
									{# {{ content.field_credi_card_block_icon_6 }}										 #}
									9%
					
								<!-- <span class="ion-ios-people-outline u-color-gold"></span> -->
							</div>
							<div class="c-summary-1-info">
								{# <h5 class="c-summary-1-title"><a href="#." title="Travel Insurance" data-toggle="modal" data-target="#benefitsModal6"> {% set CreditCardBlockTitle6 %} {{ content.field_credit_card_block_title_6 }} {% endset %} {{  CreditCardBlockTitle6|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</a></h5> #}
								<p class="c-summary-1-description u-color-grey">
									{% set balance_transfer_content_3 %} {{ content.field_balance_transfer_content_3 }} {% endset %} {{ balance_transfer_content_3|striptags }}									
								</p>
								<!-- <p class="c-summary-1-link"><a href="#." title="Read more" class="c-link-1" data-toggle="modal" data-target="#benefitsModal6">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
							</div>
						</div>
						<!-- Summary End -->
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon c-summary_1_icon">
							
									{# <img src="assets/images/_travel-insurance.png" width="55" height="50" /> #}
									{# {{ content.field_credi_card_block_icon_6 }}										 #}
									12%
							
								<!-- <span class="ion-ios-people-outline u-color-gold"></span> -->
							</div>
							<div class="c-summary-1-info">
								{# <h5 class="c-summary-1-title"><a href="#." title="Travel Insurance" data-toggle="modal" data-target="#benefitsModal6"> {% set CreditCardBlockTitle6 %} {{ content.field_credit_card_block_title_6 }} {% endset %} {{  CreditCardBlockTitle6|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</a></h5> #}
								<p class="c-summary-1-description u-color-grey">
									{% set balance_transfer_content_4 %} {{ content.field_balance_transfer_content_4 }} {% endset %} {{ balance_transfer_content_4|striptags }}									
								</p>
								<!-- <p class="c-summary-1-link"><a href="#." title="Read more" class="c-link-1" data-toggle="modal" data-target="#benefitsModal6">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p> -->
							</div>
						</div>
						<!-- Summary End -->
					</div>
				</div>
				<p class="u-color-grey" style="
    font-size: 13px;
">
{% set balance_transfer_tcs %} {{ content.field_balance_transfer_tcs }} {% endset %} {{ balance_transfer_tcs|striptags }}									
</p>
			</div>
		</div>
		<!-- Section Features End -->		
		{% endif %}











				

				<!-- Space -->
				{# <div class="u-space"></div> #}
				<!-- Space End -->

				{% if content.field_terminal_pos_desktop_image %}
				<div class="row -gutter-medium">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon">
								<span >
								{{ content.field_terminal_pos_desktop_image }}
								</span>
							</div>
							<div class="c-summary-1-info">
								{{ content.field_terminal_pos_desktop_info}}
							</div>
						</div>
						<!-- Summary End -->
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon">
								<span >
								{{ content.field_terminal_blumobi_image}}
								</span>
							</div>
							<div class="c-summary-1-info">
								{{ content.field_terminal_blumobi_info}}
							</div>
						</div>
						<!-- Summary End -->
					</div>
					<div class="clearfix"></div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon">
								<span >
								{{ content.field_online_payment_image}}
								</span>
							</div>
							<div class="c-summary-1-info">
								{{ content.field_online_payments_info }}
							</div>
						</div>
						<!-- Summary End -->
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<!-- Summary -->
						<div class="c-summary-1 -icon-top">
							<div class="c-summary-1-icon">
								<span>
								{{ content.field_terminal_snapscan_image}}
								</span>
							</div>
							<div class="c-summary-1-info">
								{{ content.field_terminal_snapscan_info }}
							</div>
						</div>
						<!-- Summary End -->
					</div>
				</div>

				<div class="u-space u-space-40@sm"></div>

				<!--<p class="u-text-center"><a href="13353_PPS_Payment_Solutions_Pricing_Guide_for_PPS_Website_v4.pdf" target="_blank" title="Download pricing guide" class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle"> DOWNLOAD PRICING GUIDE <i class="c-button-1-icon -right ion-chevron-right"></i></a></p> -->
				{{ content.field_terminal_download_button }}
				{% endif %}
			</div>
		</div>
		<!-- Section About End -->
		<!--rewards  App-->
				{% if content.field_pps_rewards_image_1|render %}
					<section class="separator-top pt-6 pb-5">
						<div class="container">
									<div class="row justify-content-between align-items-center text-center pb-3">
								<!-- Title -->
								<div class="col-12">
									<h6 class="u-text-sup"> {{ content.field_pps_rewards_title }} </h6><br/>
									<h2 class="u-text-title"> {{ content.field_pps_rewards_sub_title }} </h2>
								</div>

								<div class="pt-6 pb-5">
									{{content.field_pps_rewards_intro}}
								</div>

								<div class="col-md-4">
									{{content.field_pps_rewards_image_1}}
								</div>
								<div class="col-md-4">
									{{content.field_pps_rewards_image_2}}
								</div>
								<div class="col-md-4">
									{{content.field_pps_rewards_image_3}}
								</div>

								
								<p class="u-color-grey pt-4" style="font-size: 13px;">
									{% set pps_rewards_tcs %} 
										{{ content.field_pps_rewards_tcs }}
									{% endset %}
										{{ pps_rewards_tcs }}									
								</p>   
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<!-- Rewards Video -->     
									{{ content.field_pps_rewards }}

								</div>                      
								
							</div>
							
							
						</div>
					</section>
				{% endif %}

		<!--rewards app end-->
		    <!-- partners -->
			{% if content.field_partners_title|render %}
    <section class="separator-top pt-6 pb-6" id="partners">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-lg-12 mb-5 text-center">
          <h6 class="title-h6 mb-0">{% set PartnerTitle %} {{ content.field_partners_title }} {% endset %} {{ PartnerTitle|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</h6>
        </div>
        <div class="clearfix"></div>

          <div class="col partners align-items-center">
            <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">    

			  {{ content.field_partners_logo }}
			  
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / partners -->
	{% endif %}	
		
	    <!-- partners -->
	{# {% if content.field_partners_title|render %}
    <section class="separator-top pt-6 pb-6" id="partners">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-lg-12 mb-5 text-center">
          <h6 class="title-h6 mb-0">{% set PartnerTitle %} {{ content.field_partners_title }} {% endset %} {{ PartnerTitle|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</h6>
        </div>
        <div class="clearfix"></div>

          <div class="col partners align-items-center">
            <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">    

			  {{ content.field_partners_logo }}
			  
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / partners -->
	{% endif %}	 #}

		
<!-- Qualifying Section -->
    <section id="section-qualify">

      <div>
        <div class="container space-padding margin-credit margin-payments">
			<h6 class="u-text-sup"> {% set conCriteriaTitle %} {{ content.field_qualifying_criteria_title }} {% endset %}	{{ conCriteriaTitle|striptags }}</h6>
			<h2 class="u-text-title"> {% set conCriteriaSubTitle %} {{ content.field_qualifying_criteria_subtit }} {% endset %} {{ conCriteriaSubTitle|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</h2>

			<div class="row">
				<div class="col-md-3 control-padding">
					<div class="qualifying-criteria">
						{{ content.field_qualifying_article_image }} 
					</div>
					<div class="inner-content">
						<h5 class="c-blog-1-info-category"> {% set conArticleTitle1 %} {{ content.field_qualifying_article_title }} {% endset %} {{ conArticleTitle1|striptags }}</h5>
						{# <p> #}
						 {% set conArticleContent1 %} {{ content.field_qualifying_article_conten1 }} {% endset %} {{ conArticleContent1 }}
						 {# </p> #}
					</div>
				</div>
				<div class="col-md-3 control-padding">
				<div class="qualifying-criteria">
						{{ content.field_qualifying_article_image_2 }} 
					</div>
					<div class="inner-content">
						<h5 class="c-blog-1-info-category">{% set conArticleTitle2 %} {{ content.field_qualifying_article_title_2 }} {% endset %} {{ conArticleTitle2|striptags }}</h5>
						<p>{% set conArticleContent2 %} {{ content.field_qualifying_article_conten2 }} {% endset %} {{ conArticleContent2 }}</p>
					</div>
				</div>
				<div class="col-md-3 control-padding">
					<div class="qualifying-criteria">
						{{ content.field_qualifying_article_image_3 }} 
					</div>
					<div class="inner-content">
						<h5 class="c-blog-1-info-category">{% set conArticleTitle3 %} {{ content.field_qualifying_article_title_3 }} {% endset %} {{ conArticleTitle3|striptags }}</h5>
						<p>{% set conArticleContent3 %} {{ content.field_qualifying_article_conten3 }} {% endset %} {{ conArticleContent3 }}</p>
					</div>
				</div>		
				<div class="col-md-3 control-padding">
					<div class="qualifying-criteria">
						{{ content.field_qualifying_article_image_4 }} 
					</div>
					<div class="inner-content">
						<h5 class="c-blog-1-info-category">{% set conArticleTitle4 %} {{ content.field_qualifying_article_title_4 }} {% endset %} {{ conArticleTitle4|striptags }}</h5>
						<p>{% set conArticleContent4 %} {{ content.field_qualifying_article_conten4 }} {% endset %} {{ conArticleContent4 }}</p>
					</div>
				</div>		
			</div>
        </div>
      </div>
    </section>

<!-- End Qualifying Section -->	








<!-- Accordion -->	
<div class="c-section -space-large -bg-blue-light u-padding-bottom-80" id="section-faqs">

						{{ content.field_internet_pricing_guide }}
				
  <div class="c-container">
			<!-- Heading -->
			<h6 class="u-text-sup u-text-center">{{content.field_faq_title}}</h6>
			<h2 class="u-text-title u-text-center">{{content.field_faq_subtitle}}</h2>
			{{content.field_faq_content}}
		<!-- Heading End -->

			<!-- Space -->
			<div class="u-space u-space-40@sm"></div>
			<!-- Space End -->	
			<div id="accordion">
			
			</div>
  </div>
</div>
<!-- Accordion -->

	{% if content.field_transaction_title|render %}
	<!-- Merchant Online Transaction -->	
		<div class="c-section -space-large" id="section-online">

			<div class="c-container">
				<!-- Heading -->

				<h6 class="u-text-sup u-text-center"> {{ content.field_transaction_title }}<h6>
				<h2 class="u-text-title u-text-center"> {{ content.field_transaction_subtitle }} </h2>
				{#
				<div class="u-text-center">
				<p class="u-text-lead u-text-center">Merchant Online allows PPS Members to view all card transactions for any trading dates, and serves as a central control panel for members with multiple businesses or branches.</p>
				<p class="u-text-lead u-text-center">The portal also offers:</p>
				<p>			
					<ul class="u-text-lead u-text-center u-list-style">
					<li>Direct interaction with the Standard Bank Merchant team.</li>
					<li>Secure 24-hour remote access</li>
					<li>Self-service query reconciliation.</li>
					</ul>
				</p>
				<p class="u-text-lead u-text-center">Assign security levels to empower your team and business to chase true success.</p>
				#}
				{{ content.field_transaction_content }}
				</div>
				<!--<p class="u-margin-top-40 u-text-center"><a href="https://merchantonline.standardbank.co.za/MerchantPortal/MerchantPortal/MerchAuthentication/Login" title="Learn more" class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle" target="_blank">Click to access Merchant Online<i class="c-button-1-icon -right ion-chevron-right"></i></a></p>-->
				
				{{ content.field_online_transaction_link}}
				<!-- Heading End -->
			</div>
			
			
		</div>
 <!-- End Merchant Online Transaction -->
	{% endif %}
	
	{% if content.field_internet_banking_title|render %}
 <!-- Internet Banking -->
 		<div class="c-section -space-large u-padding-bottom-80" id="section-itb">
			<div class="c-container">
				<!-- Heading -->
				<h6 class="u-text-sup u-text-center"> {% set InternetTitle %} {{ content.field_internet_banking_title }} {% endset %} {{ InternetTitle|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }} </h6>
				<h2 class="u-text-title u-text-center"> {% set InternetSubTitle %} {{ content.field_internet_banking_subtitle }} {% endset %} {{ InternetSubTitle|striptags }} </h2>
				<!--<p class="u-margin-top-40 u-margin-bottom-40 u-text-center"><a href="https://onlinebanking.standardbank.co.za/" title="Open internet banking" class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle" target="_blank">Open internet banking <i class="c-button-1-icon -right ion-chevron-right"></i></a></p> -->

				{{ content.field_internet_banking_link }}
				<p class="u-text-lead u-text-center"> {% set InternetContent %} {{ content.field_internet_banking_content }} {% endset %} {{ InternetContent|striptags}}</p> 
				{# <div class="row"> #}
					{# <div class="col-sm-6">	  #}
						{{content.field_internetbanking_app_link }} 
					{# </div> #}
				 <!--<p class="u-margin-top-40 u-text-center ">
				 <a href="https://www.standardbank.co.za/southafrica/personal/products-and-services/ways-to-bank/self-service-banking/mobile-app-banking" title="Banking App" class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle u-margin-bottom-20" target="_blank" >Banking App <i class="c-button-1-icon -right ion-chevron-right"></i></a>
			<a href="13227_PPS_Credit_Card_Pricing_Guide_v14.pdf" title="Pricing Guide" class="c-button-1 -color-green-outline -hover-green-default -size-large -corner-circle" style="background-color:#fff; color: #091e35;" >Download Pricing Guide <i class="c-button-1-icon -right ion-chevron-right"></i></a></p> -->
					{# <div  class="col-sm-6">
						{{ content.field_internet_pricing_guide }}
					</div> #}
				{# </div> #}
				<!-- Heading End -->
			</div>
		</div>
 
 <!-- End Internet Banking -->
	{% endif %}
 
 <!-- Apply for PAYMENT SOLUTIONS-->
		{# <div class="c-section -space-large -bg-grey" id="section-apply">
			<div class="c-section-photo card-and-payments-banner"   > 
			  <div id="card-and-payments-banner"> {{content.field_payment_solutions_image}} </div> 
			</div>			
			<div class="c-container">
				<!-- About -->
				<div class="row">
					<div class="col-md-7">
						<!-- Heading -->
						<h6 class="u-text-sup"> {{ content.field_payment_solutions_title }} </h6> 

						{{ content.field_payment_solutions_content }}
					</div>
					
				</div>
			</div>
		</div> #}

		{# <section class="pt-20 pb-10 payment-solutions-image" style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;">		
     		<div id="payment-solutions-image" hidden> {{content.field_payment_solutions_image}}</div>
			
			<div class="container">
				<div class="row banner-area">
					<div class="col-md-7">
						<h6 class="u-text-sup"> {{ content.field_payment_solutions_title }} </h6> 
						{{ content.field_payment_solutions_content }}
					</div>
				</div>
			</div>
		</section> #}
	{# {% if content.field_credit_card_benefits_title|render %}		
	<div class="" id="section-payment-solutions-image">
		<div class="payment-solutions-image banner-height"> 
			{{content.field_payment_solutions_image}}		  
			<div class="container banner-wrap">
				<div class="row banner-area">
					<div class="col-md-7 overlay-text">
						<h6 class="u-text-sup"> {{ content.field_payment_solutions_title }} </h6> 
						{{ content.field_payment_solutions_content }}
					</div>
				</div>
			</div>		  
		  
		</div>	
	</div>	
	{% endif %} #}
 <!-- End Apply for PAYMENT SOLUTIONS-->

 <!-- page identifier -->
	<p id="hideTerm" style="display: none;">{{ content.field_faq_category_term[0]|render|striptags }}</p>
    
 <!-- End page identifier -->
 <!--form -->
 {# {% if content.field_product_terminal_type_imag|render %} #}
 {% if '/payment-solutions' in url|render|render %}
 	  <section class="pb-0 contact-area" style="background-image:url(/{{active_theme_path()}}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center; background-repeat:no-repeat">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">

          <div class="boxed p-4 text-center  -bg-grey" style="background: #f0f0f0;">
            <div class="row justify-content-between align-items-center ">
              <div class="col-md-12">
                {# <h4 class="mb-1 mt-0" style="color: #091e35;">The next step is to call us or we can call you.</h4> #}
								{# <p class="mb-1 contact-font" style="color: #091e35;">0860 123 777 (option 0) ǀ privatebanking@standardbank.co.za</p> #}
              </div>
							
            </div>

				{% include directory ~ '/parts/paymentSolutionForm.html.twig' %} 
			
			
		  </div>
        
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if '/credit-card' in url|render|render %}
  <section id="callmebackinterested"class="pb-0 contact-area" style="background-image:url(/{{active_theme_path()}}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center; background-repeat:no-repeat">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">

          <div class="boxed p-4 text-center  -bg-grey" style="background: #f0f0f0;">
            <div class="row justify-content-between align-items-center ">
              <div class="col-md-12">
                <h4 class="mb-1 mt-0" style="color: #091e35;">Interested? Let us call you.</h4>
				
              </div>
							
            </div>
  	<!-- Begin Mailchimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
					/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
					We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div id="mc_embed_signup">
				<form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=41df89d199&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
					{# <h2>Subscribe to our mailing list</h2> #}
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
				<div class="mc-field-group">
					<label for="mce-FNAME">First Name </label>
					<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
				</div>
				<div class="mc-field-group">
					<label for="mce-LNAME">Last Name </label>
					<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
				</div>
				<div class="mc-field-group">
					<label for="mce-MMERGE5">ID Number </label>
					<input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
				</div>
				<div class="mc-field-group">
					<label for="mce-MMERGE8">PPS Member Number </label>
					<input type="text" value="" name="MMERGE8" class="" id="mce-MMERGE8">
				</div>
				<div class="mc-field-group size1of2">
					<label for="mce-PHONE">Mobile Number </label>
					<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
				</div>
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
				<div class="mc-field-group">
					<label>Are you an existing Standard Bank Client (Yes/No)</label>
					<select name="MMERGE3" class="" id="mce-MMERGE3">
					<option value=""></option>
					<option value="Please Select">Please Select</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>

					</select>
				</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_41df89d199" tabindex="-1" value=""></div>
					<div class="clear"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					</div>

					<small style="color: #565656;">By submitting this form you consent to be contacted regarding the PPS Credit Card.</small>
				</form>
				</div>
				  </div>
        
        </div>
      </div>
    </div>
  </section>
  
  	{% endif %}
  {# {% endif %} #}
 <!--end form -->

<a href="#mc_embed_signup" class="paypent-solutions-modal drop-msg dark-effect" title="Call me back" hidden><i class="fa fa-envelope" ></i> CALL ME BACK</a>
 <!--modal form-->
 <div id="callBackModal" class="modal fade" role="dialog" style="display: none;" aria-hidden="true">
	  <div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
		  	<button type="button" class="close" data-dismiss="modal">×</button>
			<h4 class="modal-title c-summary-1-title">Request a call back</h4>
		
		  </div>
		  <div class="modal-body">
			<p class="modal-subheader">Please provide us with the following details:</p>
			<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://professionalsconnect.us19.list-manage.com/subscribe/post-json?u=ee31df1d2f8eb86cc532648a7&amp;id=95cf428ad5&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"  novalidate>
    <div id="mc_embed_signup_scroll">
	{# <h2>Subscribe to our mailing list</h2> #}
{# <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> #}
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-PHONE">Contact Number </label>
	<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE5">ID/Passport Number </label>
	<input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE6">Preferred Contact Time </label>
	<select name="MMERGE6" class="" id="mce-MMERGE6">
	<option value="">---Select Time---</option>
	<option value="Anytime">Anytime</option>
	<option value="8:00 - 9:00">8:00 - 9:00</option>
	<option value="9:00 - 10:00">9:00 - 10:00</option>
	<option value="10:00 - 11:00">10:00 - 11:00</option>
	<option value="11:00 - 12:00">11:00 - 12:00</option>
	<option value="12:00 - 13:00">12:00 - 13:00</option>
	<option value="13:00 - 14:00">13:00 - 14:00</option>
	<option value="14:00 - 15:00">14:00 - 15:00</option>
	<option value="15:00 - 16:00">15:00 - 16:00</option>

	</select>
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE9">Province </label>
	<select name="MMERGE9" class="" id="mce-MMERGE9">
	<option value="">---Select Province---</option>
	<option value="Gauteng">Gauteng</option>
	<option value="KwaZulu - Natal">KwaZulu - Natal</option>
	<option value="Mpumalanga">Mpumalanga</option>
	<option value="Western Cape">Western Cape</option>
	<option value="Limpopo">Limpopo</option>
	<option value="Eastern Cape">Eastern Cape</option>
	<option value="North West">North West</option>
	<option value="Free State">Free State</option>
	<option value="Northern Cape">Northern Cape</option>

	</select>
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE3">City </label>
	<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE10">Industry </label>
	<select name="MMERGE10" class="" id="mce-MMERGE10">
	<option value="">---Select Industry---</option>
<option value="Medical and Health">Medical and Health</option>
<option value="Online Business">Online Business</option>
<option value="Retail">Retail</option>
<option value="Fast food and Restaurant">Fast food and Restaurant</option>
<option value="Travel and Entertainment">Travel and Entertainment</option>
<option value="Other">Other</option>

	</select>
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE7">Do you have a practice or a business? </label>
	<select name="MMERGE7" class="" id="mce-MMERGE7">
	<option value="">---Please Select---</option>
	<option value="Practice">Practice</option>
<option value="Business">Business</option>

	</select>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee31df1d2f8eb86cc532648a7_95cf428ad5" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>



			
			{# <form name="infoForm" id="infoForm">
			  <input type="hidden" id="SourcePage" name="SourcePage" value="">
			<div class="row">
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label">Name:</label>
														<input required="required" class="c-form-input" name="callbackName" id="callbackName" placeholder="Enter your name" required="required" type="text">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label">Surname:</label>
														<input required="required" class="c-form-input" name="callbackSurname" id="callbackSurname" placeholder="Enter your surname" required="required" type="text">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label">Email address:</label>
														<input required="required" class="c-form-input" name="callbackEmail" id="callbackEmail" placeholder="Enter email address" required="required" type="email">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label">Contact number:</label>
														<input required="required" class="c-form-input" name="callbackPhone" id="callbackPhone" placeholder="Enter contact number" required="required" type="tel">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label">ID/Passport number:</label>
														<input required="required" class="c-form-input" name="callbackPassport" id="callbackPassport" placeholder="Enter ID/Passport number" required="required" type="text">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label">Preferred contact time:</label>
														<select required="required" class="c-form-select" name="callbackTime" id="callbackTime" required="required">
															<option selected="" value="">Select time</option>
																<option value="08:00">08:00</option>
															  <option value="08:00">08:30</option>
															  <option value="09:00">09:00</option>
															  <option value="09:00">09:30</option>
															  <option value="10:00">10:00</option>
															  <option value="10:30">10:30</option>
															  <option value="11:00">11:00</option>
															  <option value="11:30">11:30</option>
															  <option value="11:00">12:00</option>
															  <option value="12:30">12:30</option>
															  <option value="13:00">13:00</option>
															  <option value="13:30">13:30</option>
															  <option value="14:00">14:00</option>
															  <option value="14:30">14:30</option>
															  <option value="15:00">15:00</option>
															  <option value="15:30">15:30</option>
															  <option value="16:00">16:00</option>
															  <option value="16:30">16:30</option>
															  <option value="17:00">17:00</option>
															  <option value="17:30">17:30</option>
														</select>
													</div>
													
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label">Province:</label>
														<select required="required" class="c-form-select" name="province" id="province" required="required">
														    <option selected="" value="">Select province</option>
														    <option value="Gauteng">Gauteng</option>
														    <option value="KwaZulu-Natal">KwaZulu-Natal</option>
														    <option value="Mpumalanga">Mpumalanga</option>
														    <option value="Western Cape">Western Cape</option>
														    <option value="Limpopo">Limpopo</option>	
														    <option value="Eastern Cape">Eastern Cape</option>	
															<option value="North West">North West</option>
															<option value="Free State">Free State</option>
															<option value="Northern Cape">Northern Cape</option>	
														</select>
													</div>
													
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label">City:</label>
														<input required="required" class="c-form-input" name="city" id="city" placeholder="Enter your city" required="required" type="text">
													</div>
												</div>
												
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label" style="margin-bottom: 31px;">Industry:</label>
														<select required="required" class="c-form-select" name="industry" id="industry" required="required">
															<option selected value="">Select industry</option>
															  <option value="Medical and Health">Medical and Health</option>
															  <option value="Online business">Online business</option>
															  <option value="Retail">Retail</option>
															  <option value="Fast food and Restaurant">Fast food and Restaurant</option>
															  <option value="Travel and Entertainment">Travel and Entertainment</option>	
															  <option value="Other">Other</option>	
																														  
														</select>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="c-form-group">
														<label class="c-form-label">Do you have a practice or a business?</label>
															
														<select required="required" class="c-form-select" name="practicebusiness" id="practicebusiness" required="required">
															<option selected value="Yes">Yes</option>
															  <option value="No">No</option>
															  
															 	
																														  
														</select>
													</div>
												</div>
												
												<div class="col-sm-12 text-center">
													<button type="submit" class="c-button-1 -color-green-outline -hover-green-default -size-medium -corner-circle" id="callBackSubmit" name="button" style="color:white;">SUBMIT FORM</button>
												</div>						
											</div>
											</form> #}
	
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
	</div>
{# <script src="/{{ active_theme_path() }}/assets/js/jquery-2.1.4.js"></script> #}
<script src="/{{ active_theme_path() }}/assets/js/jquery-3.5.1.slim.min.js"></script>
<script src="/{{ active_theme_path() }}/assets/js/bankingforms.js"></script>



{% if 'credit-card' in url|render|render %} 
	<a href="https://ppscard.standardbank.co.za/" target="_blank" class="drop-msg dark-effect mobileApplyNow" title="Apply now">
		<i class="fa fa-credit-card float-left" style="padding: 2px;"></i> APPLY NOW</a>
		<a href="#callmebackinterested" class="callmebackinterested paypent-solutions-modal drop-msg dark-effect" title="Call me back"  style="right:147px;padding: 7px 15px !important;"><i class="fa fa-envelope" ></i> CALL ME BACK</a>

{% endif %}
	
 <!--end modal form-->
<style>
	
	.banner-text-background > h2.u-text-title{
		color: #fff;
	}

	.banner-text-background > p{
		color: #fff;
		font-weight:bold;
		font-size: 17pt;
	}

	{#Hloni added style - 29/03#}
	.profit-share-link{
		color: #091d35;
		text-transform: initial;
		font-size: 14px;
		margin: -10px;
	}

	.pps-rewards > img{
		height: auto;
	}

#section-apply {
	background-color: initial !important;
}
.contact-font {
	font-sie: 14px !important;
}
.label-color {
	color: #fff !important;
}
.content-top-margin {
	margin-top: -116px;
}
#takeLeft{
	text-align:center !important;
	padding-top:40px;
}
#takeRight{
	text-align:center !important;
}
.fa.fa-envelope{
	margin: 4px !important;
}
@media (max-width: 576px){
.drop-msg{
    visibility: visible;
}
.mobileApplyNow{
	    right: 26px !important;
}
#product .drop-msg {
    width: 40% !important;
    bottom: 55px !important;
}
.callmebackinterested{
	    right: 180px !important;
    padding: 7px 15px !important;
}
}
@media (max-width: 415px){
#product .drop-msg {
    width: 40% !important;
    bottom: 55px !important;
}
.callmebackinterested{
	    right: 180px !important;
    padding: 7px 15px !important;
}
}
@media screen and (max-width: 900px) and (min-width: 416px){
	.callmebackinterested{
		right:244px !important;
	}
}
.modal-header{
    display: block !important;
}
.close{
float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.modal-footer{
	    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #eceeef;
}
.modal-subheader{
	color: #091e35;
}
.textbox {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	background-color: #ffffff;
	/*margin: auto;*/
}

.selectric{
	border: 1px solid #d7e0e5 !important;
	border-radius: 0px !important;
}

.selectric span {
	height: 40px !important;
}  

.selectric .label{
    background-color: #ffffff !important;
    height: 40px !important;
    padding-top: 7px !important;
    font-weight: unset !important;
    padding-left: 16px !important;
    padding-bottom: 7px !important;
	
}
.fa.fa-envelope{
	float:left !important;
}
.drop-msg{
	    background: #69c5d1;
    border: none;
    color: #091e35;
    font-weight: 600;
    padding: 10px 20px;
    z-index: 100;
    display: block;
    position: fixed;
    cursor: pointer;
    right: 20px;
    bottom: 15px;
    text-align: center;
    border-radius: 0px;
}
.c-summary-1-title {
    font-size: 24px;
    color: #091e35;
    font-weight: 600;
}
.c-section.-bg-grey {
    background-color: #eeeef0;
}
.c-section.-space-small {
    padding-top: 50px;
    padding-bottom: 50px;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}
.modal-header {
    display: block;
}

element.style {
    padding-left: 0px;
}
.modal-header {
    display: block;
}
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.c-form-group {
    margin-bottom: 20px;
}
.c-form-label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
	font-weight: 400;
    text-transform: initial;
	color: #091e35;
}
.c-form-input, .c-form-select:not([multiple]):not([size]) {
    display: inline-block;
    height: 40px;
    line-height: 38px;
    vertical-align: middle;
    padding: 0 15px;
}
.c-form-input, .c-form-select, .c-form-textarea, .c-form-radio, .c-form-checkbox {
    border: 1px solid #d7e0e5;
    background-color: #ffffff;
}
.c-form-input, .c-form-select, .c-form-textarea {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
}
.c-form-input, .c-form-select, .c-form-textarea, .c-form-checkbox {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.c-form-input, .c-form-select, .c-form-textarea {
    -moz-appearance: none;
}
.c-form-input, .c-form-select, .c-form-textarea, .c-form-radio, .c-form-checkbox {
    -webkit-appearance: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
{#  #}
.qualifying-criteria>div>img{
	height:auto !important;
}
.accordion {
  background-color: rgb(9, 30, 53);
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  /*background-color: #ccc; */
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.card-and-payments-product-name{
  font-size: unset;
} 
p:last-child {
    margin-bottom: 0;
}
.u-text-lead {
    font-size: 18px !important;
    font-weight: 300 !important;
}
.u-text-title {
    color: #091e35;
}

.u-text-title {
    font-weight: 300 !important;
}
.u-text-title {
    font-size: 38px !important;
    font-weight: 100 !important;
}
.banner-text-background {
    background: rgba(255,255,255,0.4);
    padding: 20px;
    border-radius: 3px;
}
.u-space {
    min-height: 1px;
    margin-top: 25px;
    margin-bottom: 24px;
}

  .c-section.-space-medium {
   
   padding-top: 100px;
      padding-bottom: 100px;
  }
.c-section-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
}
.c-container {
    max-width: 85% !important;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px)
.c-container {
    padding-left: 50px;
    padding-right: 50px;
}
.row.-gutter-medium {
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -50px;
}
.c-section-video + .c-container, .c-section-photo + .c-container, .c-section-overlay + .c-container {
    position: relative;
}
.c-section.-space-small {
    padding-top: 50px;
    padding-bottom: 50px;
}

.c-section {
    position: relative;
    background-color: #ffffff;
}
.row.-gutter-medium {
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -50px;
}

element.style {
}
.c-team-4 {
    display: -webkit-flex;
    display: flex;
}
.c-team-4-photo {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.c-team-4-photo a, .c-team-4-photo img {
    display: block;
}
@media (min-width: 576px)
.c-team-4.-align-left .c-team-4-info {
    padding-top: 10px;
    padding-left: 30px;
}

.c-team-4.-align-left .c-team-4-info {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.u-text-title {
    color: #091e35;
}

.u-text-title {
    font-weight: 300 !important;
}
.u-text-title {
    font-size: 38px !important;
    font-weight: 100 !important;
}
p:last-child {
    margin-bottom: 0;
}

.u-color-grey {
    color: #777777 !important;
}
.u-color-grey {
    color: #888888 !important;
}
.c-team-4-photo img {
    border-radius: 0;
    width: 250px;
    height:auto;
}
.u-text-center {
    text-align: center !important;
}
.u-margin-top-40 {
    margin-top: 40px !important;
	margin-bottom: 100px !important;
}
.c-button-1.-corner-circle {
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
}

.c-button-1.-size-medium {
    border-width: 2px;
    height: 50px;
    line-height: 46px;
    padding: 0 25px;
    font-size: 12px;
}
.c-button-1.-color-green-outline {
    color: #9ab1bc;
    border-color: #9ab1bc;
    background-color: transparent;
}
.btn-lightblue {
    background-color: #69c5d1 !important;
    border-color: #69c5d1 !important;
    color: #091e35 !important;
}
.c-button-1 {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: normal;
    cursor: pointer;
    border-style: solid;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


#section-card{
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 100px;
}

.u-text-sup {
	color: #69c5d1 !important;
	font-weight: bold;
}

.u-text-title {
	color: #000;

}

.field--type-text-long span {
	color: #000;
}

.field--name-field-terminal-pos-desktop-image img {
	height: 50px;
	width: 43px;
}

.field--name-field-terminal-blumobi-image img {
	height: 50px;
	width: 43px;
}

.field--name-field-online-payment-image img {
	height: 50px;
	width: 43px;
}

.field--name-field-terminal-snapscan-image img {
	height: 50px;
	width: 43px;
}

.field--name-field-qualifying-article-image img {
	height: auto;
	width: 100%;
}

.field--name-field-qualifying-article-image-2 img {
	height: auto;
	width: 100%;
}

.field--name-field-qualifying-article-image-3 img {
	height: auto;
	width: 100%;
}

.field--name-field-credi-card-block-icon1 img {
	height: 50px;
	width: 55px;
}

.field--name-field-credi-card-block-icon-2 img {
	height: 50px;
	width: 55px;
}

.field--name-field-credi-card-block-icon-3 img {
	height: 50px;
	width: 55px;
}

.field--name-field-credi-card-block-icon-4 img {
	height: 50px;
	width: 55px;
}

.field--name-field-credi-card-block-icon-5 img {
	height: 50px;
	width: 55px;
}

.field--name-field-credi-card-block-icon-6 img {
	height: 50px;
	width: 55px;
}

.field--name-field-top-banner-image img {
	display: none;
}

.c-blog-1-info-category {
	margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.inner-content {
    padding: 0px 0px 0px 25px;
}

/*.inner-content p:nth-child(1) {
	display: none;
}*/

.col-md-7 {
	padding: 100px 70px;
}

.overlay-text {
    background: rgba(255,255,255,0.4);
    padding: 20px;
    border-radius: 3px;
    margin-left: 42px;
    margin-top: 60px;

}

.col-md-7 h2 {
	font-size: 29px !important;
	font-weight: 300 !important;
	color: #091e35;
}

.col-md-7 h3 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
	font-size: 18px;
	
}

.c-summary-1-title a {
	color: #000;
	font-size: 22px;
	text-transform: capitalize;
	margin-left: -8px;
}

.field--name-field-transaction-content {
	text-align: center;
}

.field--name-field-transaction-content ul{
	list-style: none;
}

#section-faqs {
    background-color: #f6f6f6;
}

#section-faqs > .c-container{
	padding-top: 40px;
    padding-bottom: 120px;
}

.space-padding {
	padding-top: 100px;
	padding-bottom: 80px;
}

#section-online > .c-container {
	padding-top: 100px;
}

.field--name-field-transaction-content p: nth-child(3){
	display: none;
	
}

.logo img {
	height: auto;
	width: auto;
}

.field--name-field-payment-solutions-image img {
	height: auto;
	width: auto;
}

#payment-solutions-image{
	height: 450px !important;
	width: 100% !important;
}

.field--name-field-transaction-content li {
	color: grey;
}

#section-benefits {
	background-color: #F5F5F5;
}

#section-benefits .c-container {
 padding: 100px 0px 50px 0px;
}

#section-itb {
	margin-bottom: 100px;
}

#section-itb .c-container {
	padding-top: 120px;
}

[data-target="#benefitsModal1"] {
  text-transform: capitalize;
  font-size: 20px;
}

[data-target="#benefitsModal2"] {
  text-transform: capitalize;
  font-size: 20px;  
}

[data-target="#benefitsModal3"] {
  text-transform: capitalize;
  font-size: 20px;
}

[data-target="#benefitsModal4"] {
  text-transform: capitalize;
  font-size: 20px;
}

[data-target="#benefitsModal5"] {
  text-transform: capitalize;
  font-size: 20px; 
}

[data-target="#benefitsModal6"] {
  text-transform: capitalize;
  font-size: 20px;
}

.file--mime-application-pdf a {

}

.control-padding {
	padding-left: 1px !important;
	padding-right: 1px !important;
}

#idLink a{
    padding: 20px 50px !important;
}

#idTerminalLink a {
    padding: 20px 50px !important;
}

#idTransactionLink {
    padding: 20px 50px !important;
}

.c-button-1.-color-green-outline {
    border-color: #091e35;
    background-color: #091e35;
    color: #fff;
}

#partners {
	margin-bottom: -120px !important;
}

.title-h6 {
	font-size: 32px;
}
table {
	border: 2px silver;
}

td, th {
    padding: 9px;
}



#takeRight a {
    padding: 20px 50px !important;
}



#takeLeft a{
    padding: 20px 50px  !important;
}

.intLink {
	padding: 20px 50px !important;
}

#section-itb p:first-of-type {
	margin-bottom: 40px !important;
}



.intPricingLink a:hover {
	color: #091e35 !important;
}
@media only screen and (max-width: 414px){
	.banner-wrap {
		position: absolute;
		top: -53px !important;
		left: -48px;
	}
}

@media only screen and (max-width: 768px) {
	#payment-solutions-image{
		height: 320px !important;
	}
	.banner-wrap {
		position: absolute;
		top: -39px !important;
	}
	.field--name-field-product-terminal-type-cont{
		margin-bottom: 15px;
	}
	#section-card {
		padding-top: 7px;
	}
	.med-container {
		padding-top: 75px !important;
	}
	.c-summary-1-info {
		margin-top: 10px;
	}
	.margin-credit {
		padding-top: 40px !important;
	}
	.margin-payments {
		padding-top: 140px !important;
	}
	#section-faqs .c-container{
		padding-top: 80px;
	}
	#section-itb .c-container {
		padding-top: 80px;	
	}
	#takeRight {
		float: unset;
		text-align: center;
	}
	
	#takeLeft {
		float: unset;	
		text-align: center;
	}
	
	
	.btn-link {
	    width: 100%;
		text-align: left !important;
		padding: 0px !important; 
		white-space: normal;
	}
	.card-header{
		padding: 0px;
	}
	
}

	.btn-link {
	    width: 100%;
		text-align: left !important;
		color: #fff;
		text-decoration: none !important;
		padding: 0px !important; 
	}
	
	.btn-link:hover {
		color: #fff;
	}
	
	.card-body {
		background-color: #fff;
	}
	
	.card {
		margin-bottom: 2px;
		background-color: #091e35;
	}

	.btn-link : hover {
		//color: #fff;
	}
	
	.card-header{
		padding: 10px;
	}
	
	[data-toggle="collapse"] .fa:before {
		content: "\f068";
	}
	
	[data-toggle="collapse"].collapsed .fa:before {
		content: "\f067";
	}
	
	.fa {
		float: right;
	}
	.banner-height{
		position: relative;
	}
	
	.banner-wrap{
	    position: absolute;
		top: 40px;
	}
	#container-id {
		padding-left: 0px;
		padding-right: 0px;
	}
	.c-summary_1_icon{
		color: #b09455;
		height: 50px;
    	font-size: 50px;
		margin-left: 35%;
		margin-bottom:10px;
	}
.field--name-field-pps-rewards-tcs{
	width:100%;
	text-align:left;
}
.field--name-field-pps-rewards-tcs.field--type-text-long>p>a{
		color: #888888;
		font-weight:300;
}
.field--name-field-faq-content{
	text-align:center;
}
.field--name-field-faq-content{
		font-size: 15px;
		color: #888;

}
.card-body>p>a{
	color: #091e35;
	text-transform: initial;
}
.ytp-cued-thumbnail-overlay-image{
	top: 188px !important;
	height: 380px !important;
}
.field--name-field-product-terminal-type-imag>img{
height: 110px;
width: 154px;
}
p>a{
	color: #091d35;
    text-transform: initial;
    font-size: 14px;
 
}
</style>
