{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{% set url = url('<current>') %}  
    {% if '/sickness-cover' in url|render|render %} 
        {% include directory ~ '/parts/life-pages.html.twig' %}
    {% elseif '/disability-cover' in url|render|render %}
        {% include directory ~ '/parts/life-pages.html.twig' %}
    {% elseif '/critical-illness-cover' in url|render|render %}
        {% include directory ~ '/parts/life-pages.html.twig' %}
    {% elseif '/life-cover' in url|render|render %}
        {% include directory ~ '/parts/life-pages.html.twig' %}
    {% elseif '/education-cover' in url|render|render %}
        {% include directory ~ '/parts/life-pages.html.twig' %}
    {% elseif '/accidental-death-cover' in url|render|render %}
        {% include directory ~ '/parts/life-pages.html.twig' %}
    {% endif %}



{% set background_image = content.field_product_banner|striptags|trim %}
<!-- cover -->


<section class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">
    {# <div class="image card-and-payments-banner"> #}
    <div id="card-and-payments-banner" hidden> {{ content.field_product_banner }}</div>
    {# </div> #}

    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest" style="width:550px">{{ node.label }}</h1>
             {# {% set currenturl = url('<current>') %}    

            {% if '/car' in currenturl|render|render %} 
                <div class="direct-contact">
                    <a href="tel:0860777784">Call 0860 777 784</a>
                    <span> or SMS Quote to 43111</span>
                </div>
            {% endif %}

            {% if '/home' in currenturl|render|render %} 
                <div class="direct-contact">
                    <a href="tel:0860777784">Call 0860 777 784</a>
                    <span> or SMS Quote to 43111</span>
                </div>
            {% endif %}

             {% if '/Business-Insurance' in currenturl|render|render %} 
                <div class="direct-contact">
                    <a href="tel:0860777784">Call 0860 777 784</a>
                    <span> or SMS Quote to 43111</span>
                </div>
            {% endif %}
            
            {% if '/life-solutions/sickness-cover' in currenturl|render|render %}
                <div class="direct-contact">
                    <a href="tel:0860777784">TOTAL PAID</a>
                    <span style="font-weight: bold;">R<span class="counter">541665520</span></span>
                </div>
            {% endif %}

            {% if '/life-solutions/life-cover' in currenturl|render|render %}
                <div class="direct-contact">
                    <a href="tel:0860777784">TOTAL PAID</a>
                    <span style="font-weight: bold;">R<span class="counter">511804744</span></span>
                </div>
            {% endif %}

            {% if '/life-solutions/disability-cover' in currenturl|render|render %}
                <div class="direct-contact">
                    <a href="tel:0860777784">TOTAL PAID</a>
                    <span style="font-weight: bold;">R<span class="counter">151471764</span></span>
                </div>
            {% endif %}

            {% if '/life-solutions/critical-illness-cover' in currenturl|render|render %}
                <div class="direct-contact">
                    <a href="tel:0860777784">TOTAL PAID</a>
                    <span style="font-weight: bold;">R<span class="counter">215919430</span></span>
                </div>
            {% endif %} #}
        </div>
    </div>
</section>


{% if content.field_top_section_promo|render %}
<section class="pt-3 top-promo" style="padding-bottom: 2.5rem !important; border-bottom: 1px solid #ccc;">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8">
                {{content.field_top_section_promo}}
            </div>
            <div class="col-12 col-md-4 col-lg-4 text-center pt-1">
                {{content.field__link}}
            </div>
        </div>
    </div>

</section>
{% endif %}


{% if content.field_new_introduction|render %}
    <section class="pt-2 pb-3" style="margin-bottom: 3rem; border-bottom: 1px solid #ccc;">
        <div class="container">
            {{content.field_new_introduction}}
        </div>
    </section>
{% endif %}



<section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
    <div class="container removeMarginRightWithForm">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">
{# class="aos-init aos-animate" #}
{# data-aos="fade-up" #}
                <div  >
                    <div class="row">
                        
                        {% set currenturl2 = url('<current>') %}  

                        {% if '/car' in currenturl2|render|render %} 

                            <div class="col-md-8">
                                <h2 class="text-blue">{{ content.field_intro_title }}</h2>
                                {{ content.body }}
                            </div>
                            
                            <div class="pb-2 payment-solutions-form c-section -space-small col-lg-4 col-md-4 col-sm-12 col-xs-12" id="section-apply" style="background: rgba(9,30,53,0.8);">
                                {% include directory ~ '/parts/form-sti.html.twig' %}
                            </div>
                            {# {% include directory ~ '/parts/insureIntroSectionWithForm.html.twig' %} #}
                        
                        {% elseif '/home' in currenturl2|render|render %} 

                            <div class="col-md-8">
                                <h2 class="text-blue">{{ content.field_intro_title }}</h2>
                                {{ content.body }}
                            </div>
                            
                            <div class="pb-2 payment-solutions-form c-section -space-small col-lg-4 col-md-4 col-sm-12 col-xs-12" id="section-apply" style="background: rgba(9,30,53,0.8);">
                                {% include directory ~ '/parts/form-sti.html.twig' %}
                            </div>
                            {# {% include directory ~ '/parts/insureIntroSectionWithForm.html.twig' %} #}
                        
                        {% elseif '/Business-Insurance' in currenturl2|render|render %} 

                            <div class="col-md-8">
                                <h2 class="text-blue">{{ content.field_intro_title }}</h2>
                                {{ content.body }}
                            </div>
                            
                            <div class="pb-2 payment-solutions-form c-section -space-small col-lg-4 col-md-4 col-sm-12 col-xs-12" id="section-apply" style="background: rgba(9,30,53,0.8);">
                                {% include directory ~ '/parts/form-sti.html.twig' %}
                            </div>
                            {# {% include directory ~ '/parts/insureIntroSectionWithForm.html.twig' %} #}

                        {% else %}

                            <div class="col-md-112">
                                <h2 class="text-blue">{{ content.field_intro_title }}</h2>
                                {{ content.body }}
                            </div>

                        {% endif %}
                        <style>
                            /*.removeMarginRightWithForm{
                                margin-right: 60px; 
                            }*/

                            .form-control{
                                height: calc(0.375rem + 2px) !important;
                            }
                            .align-items-center{
                                align-items: initial !important;
                            } 
                            .selectric .label {
                                padding: 0.400rem 0.9375rem;
                            }   
                            .selectric-wrapper {
                                background-color: #fff;
                                border-radius: 0.5rem;
                            }  
                            .mc-field-group {
                                margin: 20px 10px;
                            }                     
                        </style>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{# Featured Image #}

<section class="bg-light pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-1 text-center">
                <h2 class="text-blue">{{ content.field_featured_title }}</h2>
            </div>
        </div>

        <div class="row justify-content-between">

            <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom">

                <div class="block-bg" data-bottom-top="transform: translateY(40px);"
                     data-top-bottom="transform: translateY(-100px);">
                </div>

                <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
                    <ul class="gallery gutter-1 gutter-md-2">
                        <li class="col-12">
                            <figure class="photo">
                                <a id="feat-image" href="assets/images/interviewing-african-american-female-14.jpg">
                                    {{ content.field_product_featured_image }}
                                </a>
                            </figure>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

                <div class="mb-2 pl-1">
                    {{ content.field_product_featured_item }}
                </div>

            </div>

        </div>

    </div>
</section>

{# Second Featured Product Fields #}
  {# @Hloni added code below 
      # 22/01/2019
  #}
{% if content.field_product_feat_2_title|render %}
    <section class="pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-9 offset-md-1 text-center">
                    <h2 class="h1 text-blue">{{ content.field_product_feat_2_title }}</h2>
                </div>
            </div>

            <div class="row justify-content-between">

                <div class="block-life col-12 col-lg-5 scrolling-gallery" data-aos="fade-up"
                     data-aos-anchor-placement="top-bottom">

                    <div class="block-bg" data-bottom-top="transform: translateY(40px);"
                         data-top-bottom="transform: translateY(-100px);">
                    </div>

                    <div data-bottom-top="transform: translateY(200px);"
                         data-top-bottom="transform: translateY(-60px);">
                        <ul class="gallery gutter-1 gutter-md-2">
                            <li class="col-12">
                                <figure class="photo">
                                    <a id="feat-image" href="assets/images/interviewing-african-american-female-14.jpg">
                                        {{ content.field_product_feat_2_image }}
                                    </a>
                                </figure>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-12 col-lg-6 align-self-center text-center text-md-left">

                    <div class="mb-2 pl-1">
                        {{ content.field_product_feat_2_content }}
                    </div>

                </div>

            </div>

        </div>
    </section>
{% endif %}

  {# End Second Feature #}

 
{% if content.field_benefits_title|render %}
    <section class="pb-0">

        <div>
            <div class="container">

                <div data-aos="fade-up" class="aos-init aos-animate">
                    <div class="row justify-content-between align-items-center text-center">
                        <div class="col-md-9 offset-md-1 pb-4">

                            <h2 id="benefits-title" class="h1 text-blue">{{ content.field_benefits_title }}</h2>

                        </div>
                    </div>
                </div>

                <div class="row justify-content-between align-items-center text-center">

                    <div class="row gutter-3" style="justify-content: center;width: 100%;align-content: center;">
                        {% if content.field_product_benefit|render %}

                            <div class="col-md-6 col-lg-4">
                                {# {% if content.field_product_benefit %} #}
                                {# @Tshego Commented out code above an added code below #}

                                <div class="boxed rising p-4" style="margin-top: 0px !important; ">

                                    {% set currenturl2 = url('<current>') %}  

                                    {% if '/carhomeinsurance/pro-insure-home' in currenturl2|render|render %}

                                    {% else %}
                                        <img class="products-benefits" src="/{{ active_theme_path() }}/assets/images/products-benefit-icon.png">
                                    {% endif %}

                                    {{ content.field_product_benefit }}
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_product_benefit2|render %}
                            <div class="col-md-6 col-lg-4">
                                {# {% if content.field_product_benefit2 %} #}
                                {# @Tshego Commented out code above an added code below #}


                                <div class="boxed rising p-4" style="margin-top: 0px !important; ">
                                    
                                    {% set currenturl2 = url('<current>') %}  

                                    {% if '/carhomeinsurance/pro-insure-home' in currenturl2|render|render %}

                                    {% else %}
                                        <img class="products-benefits" src="/{{ active_theme_path() }}/assets/images/products-benefit-icon.png">
                                    {% endif %}

                                    {{ content.field_product_benefit2 }}
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_product_benefit3|render %}
                            <div class="col-md-6 col-lg-4">
                                {# {% if content.field_product_benefit3 %} #}
                                {# @Tshego Commented out code above an added code below #}

                                <div class="boxed rising p-4" style="margin-top: 0px !important; ">
                                    {% set currenturl2 = url('<current>') %}  

                                    {% if '/carhomeinsurance/pro-insure-home' in currenturl2|render|render %}

                                    {% else %}
                                        <img class="products-benefits" src="/{{ active_theme_path() }}/assets/images/products-benefit-icon.png">
                                    {% endif %}

                                    {{ content.field_product_benefit3 }}
                                </div>

                            </div>
                        {% endif %}

                    </div>

                </div>

            </div>
        </div>
    </section>
{% endif %}

    {% if content.field_product_additional_benefit|render %}
        {% if content.field_product_additional_benefit is not null %}
            <section class="separator-top pb-0">
                <div class="container">
                    {# <h2>PPS Additional Benefits</h2> #}

                    <div data-aos="fade-up" class="aos-init aos-animate">
                        <div class="row justify-content-between align-items-center text-center">
                            <div class="col-md-9 offset-md-1 pb-4">
                                <h2 class="text-blue">{{ content.field_product_additional_benefit }}</h2>
                            </div>
                        </div>
                    </div>


                    <div class="row separated">

                        <div class="col-md-6 col-12">
                            {% if content.field_additional_benefit_1|render %}
                                <div class="row pb-2 pt-2">
                                    <div class="col-2">
                                        <i class="icon-check-circle text-light-blue fs-60 float-left pr-1 "></i>
                                    </div>
                                    <div class="col-10 pr-3">
                                        {{ content.field_additional_benefit_1 }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                        <div class="col-md-6 col-12">
                            {% if content.field_additional_benefit2|render %}
                                <div class="row pb-2 pt-2">
                                    <div class="col-2">
                                        <i class="icon-check-circle text-light-blue fs-60 float-left pr-1 "></i>
                                    </div>
                                    <div class="col-10 pr-3">
                                        {{ content.field_additional_benefit2 }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                        <div class="col-md-6 col-12">
                            {% if content.field_additional_benefit3|render %}
                                <div class="row pb-2 pt-2">
                                    <div class="col-2">
                                        <i class="icon-check-circle text-light-blue fs-60 float-left pr-1 "></i>
                                    </div>
                                    <div class="col-10 pr-3">
                                        {{ content.field_additional_benefit3 }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                        <div class="col-md-6 col-12">
                            {% if content.field_additional_benefit4|render %}
                                <div class="row pb-2 pt-2">
                                    <div class="col-2">
                                        <i class="icon-check-circle text-light-blue fs-60 float-left pr-1 "></i>
                                    </div>
                                    <div class="col-10 pr-3">
                                        {{ content.field_additional_benefit4 }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}
      {% if content.field_product_additional_content|render %}
          <section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-12 col-lg-12">

                          <div data-aos="fade-up"
                               class="aos-init aos-animate">
                              <div class="row justify-content-between align-items-center text-center">
                                  <div class="col-md-12 col-lg-12">
                                      <h2 class="h1 text-blue">{{ content.field_product_addl_content_title }}</h2>
                                      {{ content.field_product_additional_content }}
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      {% endif %}


  {% if content.field_download|render %}
      <section class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
          <div class="container">

              {{ content.field_download }}

          </div>
      </section>
  {% endif %}

 {% set url = url('<current>') %}                                                                          
                {% if 'life-solutions/' in url|render|render %}                                                                 
  <section class="pt-6 pb-6 float-left col-12 col-md-12" style="padding-bottom:3.75rem !important">
          <div class="container" style="text-align:center">
                                                                                     
                {# Hloni added code
                                Desc: Check if The Product belongs to Life Solutions                                                                                #}
                 
                    <a href="https://cloud.3dissue.com/170814/171185/200050/kf/index.html"                                
                    class="btn btn-white btn-rounded"                                                                  
                    target="_blank"                                                                                    
                    style="text-transform: initial">                                                                   
                        Terms and conditions Apply.                                                                       
                    </a>                                                                                                                                                                                   
                                                                                                             
          </div>
      </section>
      {% endif %}  
{# //Terms and TCS #}
  {% if content.field_terms_and_tcs|render %}
      <section class="pt-6 pb-6 float-left col-6" style="padding-bottom:3.75rem !important">
          <div class="container">
              {{ content.field_terms_and_tcs }}

              {# {{content.field_3_brochure}} #}

                {{ content.field_bottom_link }}                                                                           
                                                                                            
          </div>
      </section>
      
  {% endif %}


  {% if content.field_bottom_link|render %}
      <section class="pt-6 pb-6 float-left col-6" style="padding-bottom:3.75rem !important">
          <div class="container">



          </div>
      </section>
  {% endif %}
<div class="clearfix"></div>





{% set url = url('<current>') %}
     {% if 'insure/' in url|render|render and '/car' not in url|render|render and '/home' not in url|render|render  %}

        {% include directory ~ '/parts/form-joinpps.html.twig' %}

         <div class="drop-msg drop-msg-mobile">
            <div class="drop-msg-border-left btnLinks">
                {{ content.field_life_brochure_link }}    
            </div>

            <div class="btnLinks">
                <a href="https://www.pps.co.za/sites/default/files/2020-04/2019%20Claims%20Statistics.pdf" style="color: #fff">CLAIMS STATISTICS</a>
            </div>

            <div class="btnLinks">
                <a href="#contactus" class="drop-msg-a">Call Me Back</a>
            </div>

            <div class="drop-msg-border-left">
                  
            </div>
         </div> 

     {% endif %}
 

   {% if '/home' in url|render|render %}
	  <section class="pb-0 contact-area" style="background-image:url(/{{active_theme_path()}}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center -120px; background-repeat:no-repeat">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">

          <div class="boxed p-4 text-center" style="background: rgba(9,30,53,0.8)">
            <div class="row justify-content-between align-items-center ">
              <div class="col-md-12">
                <h2 class="text-white mb-1 mt-0">Make the intelligent choice.</h2>
								<p class="text-white mb-1">Protect your assets and safeguard your future with PPS Short-Term Insurance today.</p>
								<p class="text-white mb-1">Complete the form below to get started.</p>             
              </div>
							
            </div>
							{#{% include directory ~ '/parts/carInfoForm.html.twig' %}#}

                            <a href="#section-apply"><button type="button" class="btn btn-light">Call Me Back</button></a>
          </div>
        
        </div>
      </div>
    </div>
    </section>

    {# <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:14%;">
        <div style="float:left;max-width: 100%;width:100%">
            <a href="https://www.pps.co.za/sites/default/files/2020-04/Value%20Added%20Services%20and%20SOS%20info.pdf" class="drop-msg-a">Value Added Services & SOS info</a>
        </div>
    </div>  #}


    <div class="drop-msg drop-msg-mobile">
      <div class="btnLinks">
          <a href="https://www.pps.co.za/sites/default/files/2020-04/Value%20Added%20Services%20and%20SOS%20info.pdf" class="drop-msg-a">Value Added Services & SOS info</a>
      </div>

      <div class="drop-msg-border-left">
            
      </div>
    </div> 

    {% endif %}
   {% if '/car' in url|render|render %}
	<section class="pb-0 contact-area" style="background-image:url(/{{active_theme_path()}}/assets/images/life-inner-bg.jpg); background-size:cover; background-position:center -120px; background-repeat:no-repeat">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">

          <div class="boxed p-4 text-center" style="background: rgba(9,30,53,0.8)">
            <div class="row justify-content-between align-items-center ">
              <div class="col-md-12">
                <h2 class="text-white mb-1 mt-0">Make the intelligent choice.</h2>
								<p class="text-white mb-1">Protect your assets and safeguard your future with PPS Short-Term Insurance today.</p>
								           
              </div>
							
            </div>
                <a href="#section-apply"><button type="button" class="btn btn-light">Call Me Back</button></a>

                {#{% include directory ~ '/parts/carInfoForm.html.twig' %}#}
          </div>
        
        </div>
      </div>
    </div>
    </section>

    {# <div class="drop-msg drop-msg-mobile" style="max-width:100%;width:14%;">
        <div style="float:left;max-width: 100%;width:100%">
            <a href="https://www.pps.co.za/sites/default/files/2020-04/Value%20Added%20Services%20and%20SOS%20info.pdf" class="drop-msg-a">Value Added Services & SOS info</a>
        </div>
    </div>  #}

    <div class="drop-msg drop-msg-mobile">
      <div class="btnLinks">
          <a href="https://www.pps.co.za/sites/default/files/2020-04/Value%20Added%20Services%20and%20SOS%20info.pdf" class="drop-msg-a">Value Added Services & SOS info</a>
      </div>

      <div class="drop-msg-border-left">
            
      </div>
    </div> 
    {% endif %}


{# Referrign URL #}
{# <script>
  document.getElementById("mce-MMERGE9").value = window.location.href;
</script> #}

{% if 'insure/' in url|render|render and '/car' not in url|render|render and '/home' not in url|render|render  %}
        <style>
            .shortform label{
                color: #ffffff !important;
            }


            select{
                padding: 0.9375rem 0.9375rem !important;
                padding-top: 0.9375rem !important;
                padding-right: 0.9375rem !important;
                padding-bottom: 0.9375rem !important;
                padding-left: 0.9375rem !important;
            }

            .selectric .label {
            padding: 1.00rem 0.9375rem !important;
            }
            .field--name-field-bottom-link > div > a {
                color: #091e35 !important;
            }

            .field--name-field-bottom-link > div > a:hover, a:active, a:focus {
                color: #B09455 !important
            }

            .field__label {
                display: none;
            }

            .field--name-field-tags a {
                color: #0a1d37 !important;
            }

            .article-excerpt a {
                color: #0a1d37 !important;
            }

            .photo img {
                width: 421px !important;
                height: auto !important;
            }

            .field--name-field-download {
                text-align: center !important;
            }

            .field--name-field-download a {
                color: #fff;
                font-weight: 900;
                text-transform: uppercase;
                padding: 20px 50px !important;
                font-size: 12px;
                font-weight: 398;
                border-color: #091e35;
                background-color: #091e35;
                color: #fff;
                border-radius: 1000px;
            }

            .btnLinks{
                float:left;
                width: 110px;
                border-right: solid 1px #fff; 
                height: 36px;
            }

            .drop-msg {
                width: 445px;
                background: #69c5d1;
                border: none;
                color: #091e35;
                font-weight: 600;
                padding: 10px 20px;
                z-index: 100;
                display: block;
                position: fixed;
                cursor: pointer;
                right: 20px;
                bottom: 15px;
                text-align: center;
                border-radius: 0px;
            }
            .direct-contact{
                top: 335px;
                position: absolute;
                background-color: rgba(9,30,53,1);
                width: 550px;
                text-align: center;
                height: 50px;
                padding: 11px;
            }
            .direct-contact>a{
                font-size: 16px;
                margin-right: -8px;
            }
            .direct-contact>span{
                color: #fff;
                font-size: 16px;
                font-weight: 900;
            }
            {# Added in dev #}
            .selectric-wrapper{
                background-color:#fff;
            }
            .selectric.label{
                font-weight:400;

            }

            .region .subnav-container li.menu-item {
                border-left: 0px solid #ccc;
            }

            .top-promo a{
                background: #091e35;
                padding: 15px 30px;
                border-radius: 0.5rem;
                color: #fff;
            }


            @media (max-width: 415px){
                .contact-area {
                height: unset !important;
            
                }

                .btnLinks:nth-child(3){
                    display: none; 
                }

                #chat_tab span {
                    position: fixed !important;
                    display: inline-block;
                    bottom: 65px !important;
                    padding: 9px 20px;
                    right: 40px !important;
                    cursor: pointer;
                    width: 100px;
                    left: unset!important;
                }

                .drop-msg {
                    width: 360px;
                }

            }

            @media screen and (max-width:767px) and (min-width:416px){
                .btnLinks:nth-child(3){
                    display: none; 
                }

                #chat_tab span {
                    position: fixed !important;
                    display: inline-block;
                    bottom: 24px !important;
                    padding: 9px 20px;
                    right: 22px !important;
                    cursor: pointer;
                    width: 100px;
                    left: unset!important;
                }

                .drop-msg {
                    width: 445px !important;
                }

                .btnLinks:nth-child(3){
                    display: block; 
                }
            }

            @media screen and (max-width:1199px) and (min-width:767px){
                .btnLinks:nth-child(3){
                    display: none; 
                }

                #chat_tab span {
                    position: fixed !important;
                    display: inline-block;
                    bottom: 24px !important;
                    padding: 9px 20px;
                    right: 22px !important;
                    cursor: pointer;
                    width: 100px;
                    left: unset!important;
                }

                .drop-msg {
                    width: 445px !important;
                }

                .btnLinks:nth-child(3){
                    display: block; 
                }
            }
        </style>
{% else %}

            <style>
                .shortform label{
                    color: #ffffff !important;
                }

                #chat_tab span {
                position: fixed !important;
                background: transparent !important;
                padding: 9px 10px;
                top: unset !important;
                bottom: 23px !important;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 11px;
                right: 36px !important;
                left: unset;
                margin-top: -7px;
                }

                @media (max-width: 415px){
                    .contact-area {
                        height: unset !important;
                    }

                    .drop-msg {
                        width: 300px !important;
                    }

                    .btnLinks:nth-child(3){
                        display: none; 
                    }

                    #chat_tab span {
                        position: fixed !important;
                        display: inline-block;
                        bottom: 65px !important;
                        padding: 9px 20px;
                        right: 40px !important;
                        cursor: pointer;
                        width: 100px;
                        left: unset!important;
                    }
                }

                @media screen and (max-width:767px) and (min-width:416px){
                .btnLinks:nth-child(3){
                        display: none; 
                    }

                    #chat_tab span {
                        position: fixed !important;
                        display: inline-block;
                        bottom: 24px !important;
                        padding: 9px 20px;
                        right: 22px !important;
                        cursor: pointer;
                        width: 100px;
                        left: unset!important;
                    }

                    .drop-msg {
                        width: 300px !important;
                    }

                    .btnLinks:nth-child(3){
                        display: block; 
                    }
                }

                @media screen and (max-width:1199px) and (min-width:767px){
                    .btnLinks:nth-child(3){
                        display: none; 
                    }

                    #chat_tab span {
                        position: fixed !important;
                        display: inline-block;
                        bottom: 24px !important;
                        padding: 9px 20px;
                        right: 22px !important;
                        cursor: pointer;
                        width: 100px;
                        left: unset!important;
                    }

                    .drop-msg {
                        width: 300px !important;
                    }

                    .btnLinks:nth-child(3){
                        display: block; 
                    }
                }

                select{
                    padding: 0.9375rem 0.9375rem !important;
                    padding-top: 0.9375rem !important;
                    padding-right: 0.9375rem !important;
                    padding-bottom: 0.9375rem !important;
                    padding-left: 0.9375rem !important;
                }

                .selectric .label {
                padding: 1.00rem 0.9375rem !important;
                }
                .field--name-field-bottom-link > div > a {
                    color: #091e35 !important;
                }

                .field--name-field-bottom-link > div > a:hover, a:active, a:focus {
                    color: #B09455 !important
                }

                .field__label {
                    display: none;
                }

                .field--name-field-tags a {
                    color: #0a1d37 !important;
                }

                .article-excerpt a {
                    color: #0a1d37 !important;
                }

                .photo img {
                    width: 421px !important;
                    height: auto !important;
                }

                .field--name-field-download {
                    text-align: center !important;
                }

                .field--name-field-download a {
                    color: #fff;
                    font-weight: 900;
                    text-transform: uppercase;
                    padding: 20px 50px !important;
                    font-size: 12px;
                    font-weight: 398;
                    border-color: #091e35;
                    background-color: #091e35;
                    color: #fff;
                    border-radius: 1000px;
                }

                .btnLinks{
                    float:left;
                    width: 160px;
                    border-right: solid 1px #fff; 
                    height: 36px;
                }

                .drop-msg {
                    width: 300px;
                    background: #69c5d1;
                    border: none;
                    color: #091e35;
                    font-weight: 600;
                    padding: 10px 20px;
                    z-index: 100;
                    display: block;
                    position: fixed;
                    cursor: pointer;
                    right: 20px;
                    bottom: 15px;
                    text-align: center;
                    border-radius: 0px;
                }
                .direct-contact{
                    top: 335px;
                    position: absolute;
                    background-color: rgba(9,30,53,1);
                    width: 550px;
                    text-align: center;
                    height: 50px;
                    padding: 11px;
                }
                .direct-contact>a{
                    font-size: 16px;
                    margin-right: -8px;
                }
                .direct-contact>span{
                    color: #fff;
                    font-size: 16px;
                    font-weight: 900;
                }
                {# Added in dev #}
                .selectric-wrapper{
                    background-color:#fff;
                }
                .selectric.label{
                    font-weight:400;

                }

                .region .subnav-container li.menu-item {
                    border-left: 0px solid #ccc;
                }

                .top-promo a{
                    background: #091e35;
                    padding: 15px 30px;
                    border-radius: 0.5rem;
                    color: #fff;
                }
            </style>
{% endif %}







   



