{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{% set background_image = content.field_ir_banner|trim %}
	<!-- cover -->	
   

    <section id="SectionBanner" class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images" style="margin-top: -26px !important;">		
			{# <div class="image card-and-payments-banner"> #}
     <div id="card-and-payments-banner" hidden> {{content.field_ir_banner}}</div>
      {# </div> #}
        
        <div class="container">
          <div class="banner-area">
            <h1 class="mb-0 banner-text-invest">{{ node.label }}</h1>
          </div>
        </div>
			</div>
    </section> 
	
			<!-- / cover -->

    {# First Product Section #}
    {% if content.field_ir_links|render %}
    <section id="SectionOne" class="pt-6 pb-6" style="padding-bottom:3.75rem !important">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">

            <div>
              <div class="row justify-content-between align-items-center">
                <div class="col-md-9 offset-md-1">
                  {{content.field_ir_links}}
                </div>

              </div>
            </div>
           </div>
          </div>
      </div>
    </section>
    {% endif %}

    {% if content.field_trust_deed|render %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3> <strong>{{ content.field_event_heading }}</strong></h3>
        </div>
        <div class="col-md-5">
          <div>
            {{ content.field_trust_deed }}
          </div>
        </div>
        <div class="col-md-7">
          {% include directory ~ "/parts/rsvpWithDietaryForm.html.twig" %}
        </div>
      </div>
    </div>
    {% endif %}
  


  


  










  <section class="pt-4" style="padding-bottom: 2.5rem !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">

          <div class="boxed p-4" style="background: rgba(9,30,53,1)"  data-aos="fade-up" class="aos-init aos-animate">
            <div class="row justify-content-between align-items-center text-center text-md-left">
              <div class="col-md-3">
                <h2 class="h1 text-white font-weight-bold">Join PPS</h2>
              </div>
              
              <div class="col-md-6">
                <p class="text-white">PPS offers tailor-made insurance, investment and healthcare solutions exclusively for graduate professionals with a qualifying four-year degree or equivalent.</p>
              </div>
              
              <div class="col-md-3 text-lg-right">
                <a href="/join-pps" class="btn btn-white btn-rounded px-5 member">Become a member</a>
              </div>
            </div>
          </div>
        
        </div>
      </div>

    </div>
  </section>

  <style>
      .field__label{
        display:none;
      }

      span > a, p > a{
        color: #2D2D2D;
      }

      div.field__item > ul > li{
        margin: 5px 0px;
      }

        .field--name-field-tags a{
              color:#0a1d37 !important;
          }
          .article-excerpt a{
              color:#0a1d37 !important;
          }
          .photo img{
            width:421px !important;
            height:auto !important;
          }
          .field--name-field-download {
                text-align: center !important;
          }
          .field--name-field-download a {
              color: #fff;
              font-weight: 900;
              text-transform: uppercase;
              padding: 20px 50px !important;
              font-size: 12px;
              font-weight: 398px;
              border-color: #091e35;
              background-color: #091e35;
              color: #fff;
              border-radius: 1000px;
          }
  </style>







   



