{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}


<section class="pb-5" style="background: #091f35; padding-top: 7.25rem !important;">
  <div class="text-center pb-5 img-header">
    {# <h2 style="color: #fff; font-weight: bold;">{{content.field_featured_top_title}}</h2> #}
    {{content.field_featured_image}}
  </div>

  

  {{content.field_featured_top_sections}}
</section>

<section class="p-5">

  {% if content.field_login_blocks %}
    {{content.field_login_blocks}}
  {% endif %}
  
</section>

{% include directory ~ '/parts/footer.html.twig' %}

<style>

  .img-header img{
    width: 250px;
    height: auto;
  }

  .region-content > .groupfooter{
    display: none;
  }
  
    .profit-btn a{
      background: #091f35 !important;
      color: #ffffff !important;
      width: 150px !important;
      border-radius: 26px;
      border: 1px solid #fff;
      font-size: 15px;
      line-height: 0;
      padding-top: 9px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;
      font-weight: bold;
    }

    .card-body-subtext {
      min-height: 200px;
    }

    .border-between{
      border-right: 1px solid #091f35;
    }

    .border-between:last-child{
      border: 0px;
    }

    @media only screen and (max-width: 767px) {
      .border-between {
        border-right: 0px;
        border-bottom: 1px solid #091f35;
        padding-top: 25px;
        
      }
    }


    @media (max-width: 1199px) and (min-width: 768px){
      .border-between {
        border-right: 1px solid #091f35;
        border-bottom: 1px solid #091f35;
        padding-top: 25px;
        
      }

      .border-between:nth-last-child(-n+2){
        border-bottom: 0px;
      }

      .border-between:nth-child(even){
        border-right: 0px;
      }
    }
    
</style>








   



