<section class="pt-20 pb-10" style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;
            background-size: cover;  background-image:url('http://34.76.147.18/themes/custom/refresh/assets/images/media-banner.jpg')">
    <div class="container">
        <div style="position: absolute; top: 220px;">
            <h1 class="mb-0" style="width:550px; color:#fff !important;">Legal and Compliance</h1>
        </div>
    </div>
</section>