{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}



{% set background_image = content.field_invest_now_banner|striptags|trim %}
<!-- cover -->


<section class="pt-20 pb-10 card-and-payments-banner banner-top-spacing banner-images">
    {# <div class="image card-and-payments-banner"> #}
    <div id="card-and-payments-banner" hidden> {{ content.field_invest_now_banner }}</div>
    {# </div> #}

    <div class="container">
        <div class="banner-area">
            <h1 class="mb-0 banner-text-invest" style="width:550px">{{ node.label }}</h1>
            {# <div class="direct-contact">
                <span>{{content.field_sub_heading}}</span>
            </div> #}
        </div>
    </div>
</section>



<section class="py-5">
    <div class="container">

        <div class="mb-4 text-center">
            {{content.field_invest_now_introduction}}
        </div>
        
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 p-2">
                <div class="bg-light p-3 content-area">
                    <h2>{{content.field_invest_title_1}}</h2>

                    <p>{{content.field_invest_description_1}}</p>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4 p-2">
                <div class="bg-light p-3 content-area">
                    <h2>{{content.field_invest_title_2}}</h2>

                    <p>{{content.field_invest_description_2}}</p>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4 p-2">
                <div class="bg-light p-3 content-area">
                    <h2>{{content.field_invest_title_3}}</h2>

                    <p>{{content.field_invest_description_3}}</p>
                </div>
            </div>
        </div>

    </div>
</section>




{% include directory ~ '/parts/form-joinpps.html.twig' %}

<div class="drop-msg drop-msg-mobile">

      <div class="btnLinks">
          <a style="display: inline-block;" href="https://www.ppsisecure.co.za/investnowpublic/investnow/landing" class="drop-msg-a" target="_blank">Invest Now</a>
      </div>

      <div class="drop-msg-border-left">
            
      </div>
    </div> 


<script type="text/javascript" src="https://webchat.pps.co.za/webchat_ucc_investments_chat_public_webchat/sfbwebchatplus/js/jquery-2.1.0.js"></script>
    <script id="anywhere365-sfbwebchatplus-client-index-external" src="https://webchat.pps.co.za/webchat_ucc_investments_chat_public_webchat/sfbwebchatplus/js/anywhere365_sfbwebchatplus_client_index_external.js"></script>
    <script>
    var optionalArguments = [];
    Anywhere365WebchatIntegration.Init(optionalArguments);
  </script>

  <script src="https://www.pps.co.za/themes/custom/refresh/assets/js/jquery-2.1.4.js"></script>
  <script>
    // Webchat Mobile Script

    //console.log('Webchat Script Below');
    
    setTimeout(function(){
      //console.log('PPS: '+ $('#chat_tab').length); 
  
        $('#chat_tab > span').on("click", function(){
          //console.log('Webchat Script 1');
          //alert('PPS Webchat');

            $('.chat_tab_extension').removeAttr('style');

            $('#chat_tab_extension').addClass('displayChat');
            $('.displayChat').removeAttr('id');
        });

        $('.modal-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            /*$('#chat_tab_extension').hide();*/
        });

        $('.anywhere365-sfbwebchatplus-linkbutton').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            $('#chat_tab_extension').hide();
        });

        $('.webchat-close').click(function(){
            $('.displayChat').attr('id', 'chat_tab_extension');
            $('#chat_tab_extension').removeClass('displayChat');
            /*$('#chat_tab_extension').hide();*/
        });

    }, 3000);
</script>



<style>
    .content-area{
        height: 350px;
        overflow: none;
    }

    .content-area p{
        display: none;
    }

    .content-area a{
        border: 2px solid #B09455;
        border-radius: 2rem;
        padding: 5px 8px;
    }

    .content-area h2{
        text-align: center;
        padding-top: 70px;
    }

    .content-area{
        height: 350px;
    }

    .content-area:hover{
        overflow: none;
    }

    .content-area:hover h2{
        text-align: left;
        padding-top: 0px;
        font-size: 25px;
        font-weight: bold;
        transition: 0.5s;
    }

    .content-area:hover p{
        display: block;
        transition: 0.5s;
    }



    .btnLinks strong{
        color: #091f36;
        font-weight: 600;
    }

    .btnLinks a{
        font-weight: 500;
    }

    .intro a{
        font-size: unset;
        text-transform: unset;
        font-weight: unset;
        padding: unset;
    }

    .shortform label{
        color: #ffffff !important;
    }

    .field--name-field-overview li, .field--name-field-global-investment-manager li{
        margin-bottom: 1.25rem !important;
    }

    .field--name-field-overview ul, .field--name-field-global-investment-manager ul{
        margin-top: 2rem !important;
    }

        

    @media (max-width: 415px){
        .contact-area {
        height: unset !important;
    
        }
    }

    select{
        padding: 0.9375rem 0.9375rem !important;
        padding-top: 0.9375rem !important;
        padding-right: 0.9375rem !important;
        padding-bottom: 0.9375rem !important;
        padding-left: 0.9375rem !important;
    }

    .selectric .label {
    padding: 1.00rem 0.9375rem !important;
}
    .field--name-field-bottom-link > div > a {
        color: #091e35 !important;
    }

    .field--name-field-bottom-link > div > a:hover, a:active, a:focus {
        color: #B09455 !important
    }

    .field__label {
        display: none;
    }

    .field--name-field-tags a {
        color: #0a1d37 !important;
    }

    .article-excerpt a {
        color: #0a1d37 !important;
    }

    .photo img {
        width: 421px !important;
        height: auto !important;
    }

    .field--name-field-download {
        text-align: center !important;
    }

    .field--name-field-download a {
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        padding: 20px 50px !important;
        font-size: 12px;
        font-weight: 398;
        border-color: #091e35;
        background-color: #091e35;
        color: #fff;
        border-radius: 1000px;
    }

    .drop-msg {
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }
    .direct-contact{
        top: 335px;
        position: absolute;
        background-color: rgba(9,30,53,1);
        width: 550px;
        text-align: center;
        height: 50px;
        padding: 11px;
    }
    .direct-contact>a{
        font-size: 16px;
        margin-right: -8px;
    }
    .direct-contact>span{
        color: #fff;
        font-size: 16px;
        font-weight: 900;
    }
     {# Added in dev #}
     .selectric-wrapper{
         background-color:#fff;
     }
     .selectric.label{
         font-weight:400;

     }

    .region .subnav-container li.menu-item {
        border-left: 0px solid #ccc;
    }



    {# Web Chat styling #}

    .btnLinks{
        float:left;
        width: 117px;
        border-right: solid 1px #fff; 
        height: 36px;
    }

    .drop-msg a {
      line-height: 3;
    }

    .drop-msg {
        width: 245px !important;
        background: #69c5d1;
        border: none;
        color: #091e35;
        font-weight: 600;
        padding: 10px 20px;
        z-index: 100;
        display: block;
        position: fixed;
        cursor: pointer;
        right: 20px;
        bottom: 15px;
        text-align: center;
        border-radius: 0px;
    }

    #chat_tab span {
      position: fixed !important;
      background: transparent !important;
      padding: 9px 10px;
      top: unset !important;
      bottom: 23px !important;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px;
      right: 36px !important;
      left: unset;
      margin-top: -7px;
    }

    @media screen and (max-width:1199px) and (min-width:416px){
      #chat_tab span {
            position: fixed !important;
            display: inline-block;
            bottom: 24px !important;
            padding: 9px 20px;
            right: 22px !important;
            cursor: pointer;
            width: 100px;
            left: unset!important;
        }
    }

    @media (max-width: 415px){
      #chat_tab span {
          position: fixed !important;
          display: inline-block;
          bottom: 64px !important;
          padding: 9px 20px;
          right: 22px !important;
          cursor: pointer;
          width: 100px;
          left: unset!important;
      }

      #product .drop-msg {
          width: 230px !important;
          bottom: 55px !important;
      }
</style>