{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
 set classes = [
	'container',
	'row',
	'justify-content-between',
	'section-margin'
 ]
%}

<section style="margin-top:120px">
  <div>
	<div{{ attributes.addClass('container').removeAttribute('id') }}>
	  <div{{ attributes.addClass('row justify-content-between').removeClass('container').removeAttribute('id') }}>
		{{content}}
	  </div>
	</div>
  </div>
</section>