{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
 set classes = [
	'pb-6',
	'btm-padding',
	'container',
	'row',
	'justify-content-between'
 ]
%}
<section{{ attributes.addClass('pb-6 btm-padding').removeAttribute('id') }}>
  <div>
	<div{{ attributes.addClass('container').removeClass('pb-6 btm-padding').removeAttribute('id') }}>
	  <div{{ attributes.addClass('row justify-content-between').removeClass('container btm-padding').removeAttribute('id') }}> 
		{{ content }}		  
	  </div>
	</div>
  </div>
</section>