.fbEmbed #flippingBookEmbed {
    float: left;
}

.fbEmbed {
    float:left;
    position: relative;
    overflow:hidden;
}
.fbEmbed img {
    padding:0px;
    background:white;
    float:left;
    margin: 0px;
    border:0;
}

.fbEmbed h4 {
    font-family: "Arial";
    color:#ffffff;
    font-weight:bold;
    background-color:rgb(65,65,65);
    background-color:rgba(0,0,0,0.7);
}

/* Top Title */
div#column {
    border-left: 10px solid rgb(65,65,65);
    border-left: 10px solid rgba(0,0,0,0.7);
    margin-top:6px;
    margin-left:6px;
}

p.subs
{
    font-family: "Arial";
    color:#ffffff;
    font-weight:bold;
    background-color:rgb(65,65,65);
    background-color:rgba(0,0,0,0.7);

    display: inline;
    white-space: pre-line; /* Not understood by IE, use manual br for IE */


    font-size:12pt;
    display: inline;
    padding: 4px 0px 4px 0px;
    text-indent: 0%;
    line-height:170%;
}



.topTitle {
    position: relative;
    left: -6px;
    word-wrap:break-word;
    word-break: break-all;
}


.bottomLink {
    font-size:10pt;
    position: absolute;
    bottom: 0px;
    right:0px;
    margin: 0px 6px 6px 0px;
    padding: 4px 22px 4px 8px;
    background-image: url("arrow.png");
    background-repeat: no-repeat;
    background-position: 93% center;
}

.arrow {
    align:middle;
    background:white;
    float:right;
    display: inline;
}

.fbHover {
    position: absolute;
    left:0px;
    background-color:transparent;
    background-color:rgba(0,0,0,0.3);
    width:100%;
    height:100%;
    opacity: 0;
    /*filter: alpha(opacity=100);*/ /*ie5-7*/
    /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/ /*ie8*/

}
.fbHover:hover {
    opacity: 1;

    /*filter: alpha(opacity=100);*/ /*ie5-7*/
    /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";*/ /*ie8*/
}

td#lefts {
    background: url("left.png") 0px 0px no-repeat;
    width:75px;
    padding:0px;
}

td#mids {
    background: url("center.png") 0px 0px repeat-x;
}

td#rights {
    background: url("right.png") 0px 0px no-repeat;
    width:75px;
    padding:0px;
}


.shadow {
    position: absolute;
    bottom:-5px;
    height:8px;
    left:-1.5%;
    width:103%;
    border:0;
    padding:0;
    border-collapse:collapse;
}

a:active, a:selected, a:visited {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    border: none;
    outline: none;
}

a img{
    outline: none;
}

