/* FONTS */

@font-face {
    font-family: 'Whitney-Black';
    src: url('../fonts/Whitney-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-light';
    src: url('../fonts/Whitney-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-semibold';
    src: url('../fonts/Whitney-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Whitney-Book';
    src: url('../fonts/Whitney-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'PPSFont-Regular';
	src: url('../fonts/PPSFont-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'iEdit_Tick-Regular';
	src: url('../fonts/iEdit_Tick-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

/* END FONTS */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	color:#444;
}

.bold{
	font-weight:bold;
	}
	
.italic{
	font-style:italic;
	}

	strong{
		font-weight: 700;
	}


h1 {
	color:#898781;
	font-size:36px;
	text-transform: uppercase;
	font-family: 'Whitney-semibold' !important;
    margin: 0px 0px 15px 0px;
	font-weight:normal
	}

h2 {
	color:#898781;
	font-size:20px;
	}

body a { color:#333339;
	     text-decoration:none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
	max-width:100%;
	height:auto;
}

.stretchImage{
	max-width: 100%;
	}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



ul li.a {
	list-style:none;
	}

ul {
	padding-left:17px;
	list-style-type:disc;
	}

ul li.dashList{
	list-style-type: none;
}

ul > li.dashList:before{
	content: "- ";
	padding-right:5px;
}

.listLast{
	padding-bottom:10px;
}	
	
.lihidden

{
	display:none;
	color:#FF0004;
	}


li span.numbered-list{
	color:purple;
}

span.list-nr{
	margin-right:10px;
	font-size: 16pt;        
    color: #888580; 
	font-weight:700;  
}

span.list-txt{
	font-size: 16pt;        
    color: #888580;
    text-transform: none;	
}

ol.numberList strong{ /* specifically for bad xml/html strong elemtns */
	font-size: 16pt;        
    color: #888580;
    text-transform: none;
}

.footnote{
	font-style: italic;
	font-size:12pt;
}

.numberList-2 span.list-nr{
	margin-right:10px;
	font-size: 13pt;  
	font-weight:300;  
	color:#444;    
}

.numberList-2 span.list-txt{     
    font-size: 13pt;        
    text-transform: none;
	color:#444;
}


/**** Input area ****/


/* ===== Initializr Styles ================================================== */

body {
    font: 13pt Whitney-book;
}

.site-wrapper {
	height: 100%;
    margin: auto;
    max-width: 1250px;
    overflow: hidden;
    position: relative;
	background: repeat-y url("../i/navVtile.jpg") !important;
}

.site-wrapper {
    font-family: "Whitney-light" !important;
}

#navContainer {
	height: 100%;
	height: auto!important;
    position: relative;
    width: 100%;
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

#site-menu {
	height: auto;
    left: -310px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 310px;
	background-image: url("../i/navVtile.jpg") !important;
	background-repeat: repeat-y;
	}
	
#site-menu ul {
	list-style:none;
	margin:0;
	padding:0;
	}
	
.content-area {
	display:block;
	}
	
.contentBG {
    display: block;
    background-color: #f2f2f2;
	padding:30px;
	margin-left:21px;
}

#contentBG-content {
    display: block;
	max-width:75%;
}

.content {
	background:#FFFFFF;
	padding:10px;
	}
	
#banner {
    background-color: #112232;
    display: block;
    height: 55px;
}

.boxGrey {
	background-color: #e5e5e5;
	padding: 12px 0px 10px 29px;
	margin-left:21px;

	}
	
.sideBar {
	width:15%;
	float:right;
	}
	
table.pageSocial td {
    color: #fff;
    background-color: #091d35;
    border-right: 1px solid #fff;
    font-size: 10px;
    text-transform: uppercase;
	vertical-align: middle;
}

table.pageSocial td:last-child {
    border-right: none;
}

.tab-links a {
    padding: 9px 14px 9px 15px;
    display: inline-block;
    background: #ffffff;
    font-size: 14px;
    font-weight: 600;
    color: #051525;
    text-decoration: none;
    text-transform: uppercase;
    transition: all linear 0.15s;
}

.tab-links a:hover{
	background: #b3e4ea;
}

.tab2, .tab3, .tab4{
	position:relative;
	top:7px;
}



.ceo-quote {
	background:#071735;
	padding:20px;
	
	}
	
.ceo-quote-content {
	border: 1px solid #fff;
	padding:10px;
	color:#FFFFFF;
	font-size:16px;
	text-align:center;
	font-style:italic;
	font-weight:bold;
	}
	
.ceo-quote-content-h1 {
	font-size:20px;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	color:#ffffff;
	}

.facebook{
	background-color:#091e35;
	/*background-color:#3b5998;*/
}

td.facebook:hover{
	background-color:#3b5998;
}

.twitter{
	background-color:#091e35;
	/*background-color:#00bbf2;*/
}
td.twitter:hover{
	background-color:#00bbf2;
}
.youtube{
background-color:#091e35;
	/*background-color:#cb3737;*/
}
.linkedIn{
	background-color:#091e35;
/*	background-color:#1687b1;*/
}

td.linkedIn:hover{
	background-color:#1687b1;
}
.googlePlus{
	background-color:#091e35;
/*	background-color:#e3401d;*/
}

td.googlePlus:hover{
	background-color:#e3401d;
}

button.blueButton, a.blueButton, input[type=button].blueButton {
    background-color: #091d35;
    color: #fff;
    font-size: 1.1em;
    margin: 80px 0px 7px 0px;
    padding: 100px;
    border: 0px;
}
button.blueButton:hover, a.blueButton:hover, input[type=button].blueButton:hover {
	background-color:#b09455 !Important;
}
button.joinButton, input[type=button].joinButton{
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    padding: 6px 0 0 0px;
    border: 0px;
    margin-left:0px;
}
td.joinButton:hover {
	background-color:#b09455 !important;
}
div.shareBarJoinPPS {
	text-align:right;
}

.link-arrow {
	background-image:url(../i/cd-icons.png);
	}
	
.blue-bullet {
	background-image:url(../i/blue-bullet.png);
	background-repeat:no-repeat;
	width:5px;
	height:auto;
	margin-top:7px;
	padding-top:10px;
	float:left;
	}

/* ===================
    iEdit table classes
   =================== */

.mainheading {

    font-family: 'Whitney-black' !important;
    font-size: 40px;
    margin: 0px 0px 25px 0px;
	font-weight:normal;
}

.heading5 {

    font-family: 'Whitney-black' !important;
    font-size: 18px;
    margin: 0px 0px 25px 0px;
    color: #091E35;
	font-weight:normal;
}

.heading1 {
    font-family: 'Whitney-semibold' !important;
    font-size: 20pt;
    margin: 0px 0px 5px 0px;
    margin-bottom:-15px;
    color: #888580;
	text-transform:uppercase;
}

.heading1-lower{
	font-family: 'Whitney-semibold' !important;
    font-size: 20pt;
    margin: 0px 0px 5px 0px;
    margin-bottom:-15px;
    color: #888580;
	text-transform: none;
}

.heading1-after {
    font-family: 'Whitney-semibold' !important;
    font-size: 20pt;
    margin: 15px 0px 5px 0px;
    color: #888580;
}

.heading2 {
    font-family: 'Whitney-semibold' !important;
    font-size: 22px;
    margin: 0px 0px 5px 0px;
    margin-bottom:-15px;
    color: #4b628b;
	font-weight:bold;
}

.semi-bold {
    font-family: 'Whitney-semibold' !important;
	font-weight:bold;
}

.heading2blue {
	font-family: 'Whitney-semibold' !important;
    font-size: 24px;
    margin-bottom:-15px;
    color: #4b628b;
}

.heading2blue-after{
	font-family: 'Whitney-semibold' !important;
    font-size: 24px;
    margin-bottom:-15px;
    color: #4b628b;
	padding-bottom:10px;
}

.heading2blueList {
	font-family: 'Whitney-semibold' !important;
    font-size: 24px;
    margin-bottom:0;
    color: #4b628b;
}

.gov-tabs {
	background:#091E35;
	color:#FFFFFF;
	padding:8px;
	border-radius:7px;
	margin-bottom:5px;
	}
	
.gov-tabs a {
	color:#ffffff;
	}

.dates {
    font-size: 18px;
    margin-top:-25px;
    color: #888580;
}

.bodyns {
    margin-bottom:-15px;
}

/* text table styles*/

	/* first col left */

.txt-tbl{
	width:100%;
	padding:10px;
	vertical-align: top;	
	margin-top: 10px;	
}

.txt-tbl td{
	padding:5px 5px;
	vertical-align:top;	
	color:#071735;
	text-align: center;
}

.txt-tbl td:first-child{
	text-align: left;
}

.txt-tbl tr:first-child td{
	color:#ffffff;
	background: #071735;
}

/* all center */

.txt-tbl-cntr{
	width:100%;
	padding:10px;
	vertical-align: top;	
	margin-top: 10px;	
	text-align: center;
}

.txt-cntr td{
	padding:5px 5px;
	vertical-align:top;	
	color:#071735;
}

.txt-tbl-cntr tr:first-child td{
	color:#ffffff;
	background: #071735;
}

/* end txt table styles*/

/* main tables  */
.main-tbl {
	width:100%;
	padding:10px;
	vertical-align:top;
	background-color:#f2f2f2;
	margin-bottom:15px;
	}

.main-tbl td{
	padding:15px;
}	

.main-tbl tr:first-child td{
	color:#ffffff;
	background: #071735;
	border-bottom:5px solid #fff;			
}

.main-tbl td.grey{
	background: #d6d5dd;
}

/* end */

/* general table */

.table {
	width:100%;
	padding:10px;
	vertical-align:top;
	background-color:#f2f2f2;
	margin-bottom:15px;
	}

.table tr:first-child td{
	color:#ffffff;
	background: #071735;
}

/* blue bg and white text (table header) */
tr.top-row td{
	color:#fff;
	background: #071735;
}

/* dark bg */
tr.dark td{
	background: #b6baca;
}

/* table rules */

tr.uline1 td{
	border-bottom:1px solid #071735;
}

tr.uline2 td{
	border-bottom:2px solid #071735;
}

/* cells */

td.dark-cell{
	background: #b6baca;
}

.uline2{
	border-bottom:2px solid #071735;
}

.blueWborder{
	background: #071735;
	color:#fff;
	border-right:1px solid #fff;
	border-top: 1px solid #fff;
}

.brh{
	border-right:1px solid #fff;
}

.bbh{
	border-bottom:1px solid #fff;
}

/* cell end*/

/* KPI font */

.kpiFont-g{
	font-family: 'PPSFont-Regular';
	font-size: 2.5em;
	color: #01a651;
}

.kpiFont-y{
	font-family: 'PPSFont-Regular';
	font-size: 2.5em;
	color: #fff701;
}

.kpiFont-r{
	font-family: 'PPSFont-Regular';
	font-size: 2.5em;
	color: #d4252a;
}

/* end kpiFont */

.tick{
	font-family: 'iEdit_Tick-Regular';	
}



.br{
 border-right:10px solid #fff;
}

.bl{
 border-left:10px solid #fff;
}

.bb{
	border-bottom:10px solid #fff;
}


/* end */

.table td:first-child{
	text-align:left;
}
	
.table, td {
	padding:5px 5px;
	vertical-align:top;	
	color:#071735;
	}

tr.tabletop td{
	color:#fff;
	background: #071735;
}

.middle{
	vertical-align: middle;
}
	
.top {
	vertical-align:top;
	}
	
.bottom {
	vertical-align:bottom;
	}
	
.middle-bold {
	vertical-align:middle;
	font-weight:bold;
	}	

.tright {
	text-align:right;
	}	

.tcenter{
	text-align:center;
}	

.tleft{
	text-align: left;
}


.blue-bg {
	background-color:#071735;
	color:#FFFFFF;	
	padding: 5px;
	font-weight:bold;
	}

.grey-bg {
	background-color:#b5b4c0;
	padding:5px;
	}

.white-bg-tbl {
	padding:5px;
	}	
	
.bl1 {
	border-bottom:#FFFFFF 1px solid;
	}

.topbl1-black {
	border-top:#000000 1px solid;
	}
	
.bl1-black {
	border-bottom:#000000 1px solid;
	}

.lefl1-black {
	border-left:#000000 1px solid;
	}	
	
.rightl1-black {
	border-right:#000000 1px solid;
	}		

.bl2 {
	border-bottom:#FFFFFF 2px solid;
	}

.bl3{
	border-bottom:#071735 1px solid;
	}
	
.rl3{
	border-right:#071735 1px solid;
	}	
	
.blBlue2 {
	border-bottom:#071735 2px solid;
	}	

.blBlue {
	border-bottom:#071735 1px solid;
	}		

.rl1 {
	border-right:#FFFFFF 1px solid;
	}
	
.rl2 {
	border-right:#FFFFFF 2px solid;
	}
		
.trusteeL{
	float:left;
	width:50%;
	}

.trusteeR{
	float:left;
	width:50%;
	}

.trusteeCL{
	overflow:hidden;
	}

.trusteeCL p{
	padding:0;
	margin:0;
}

p.board-last{
	padding-bottom: 15px;
}

	
.directorsname{
	color:#071735;
	font-weight:bold;
	}
	
.directorsqualifications{
	line-height:0px;
	}
	
.directorstitle{
	color:#071735;
	font-style:italic;
	}	

.retAnnCL{
	overflow:hidden;
	}
	
.retAnnInsertOne{
	float:left;
	width:33%;
	}


	
	/* 	KPI table style 
	
	*/
	
.KPIcol1{
	width:12%;
	}

.KPIcol2{
	width:16%;
	}

.KPIcol3{
	width:12%;
	}	

.KPIcol5 {
	width:7%;
	}
	
.KPIcol6 {
	width:5%;
	}

.KPIind {
	width:4%;
	}	
	

	/*
	Group performance at a glance table styles
	
	*/
	
	
.blue-bg-gp {
	background-color:#071735;
	color:#FFFFFF;
	border-right:#f2f2f2 10px solid;
	width:25%;
	vertical-align:middle;
	padding:10px;
	font-size:16px;
	font-weight:bold;
	}
	
.blue-bg-h1 {
	background-color:#071735;
	color:#FFFFFF;
	font-size:22px;
	border-bottom:#f2f2f2 10px solid;
	padding:10px;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	}

.grey-bg-gp {
	background-color:#d4d3da;	
	padding:10px;
	border-right:#f2f2f2 10px solid;
	border-bottom:#f2f2f2 10px solid;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	font-size:16px;
	}
	
.grey-bg-gp-no-border {
	background-color:#d4d3da;
	border-bottom:#f2f2f2 10px solid;
	width:30%;	
	font-weight:bold;
	}
	
.grey-bg-gp2 {
	background-color:#9998a7;	
	border-right:#f2f2f2 10px solid;
	border-bottom:#f2f2f2 10px solid;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	padding:20px;
	font-size:16px;
	}
	
.grey-bg-gp2-no-border {
	background-color:#9998a7;	
	border-bottom:#f2f2f2 10px solid;
	font-weight:bold;
	}
	
.bl1-gp {
	border-bottom:none;
	}
	
	/*
	Group performance: PPS Investments, Short-term Insurance table styles 
	
	*/
	
	
.blue-bg-inv {
	background-color:#42445c;
	color:#FFFFFF;
	border-right:#f2f2f2 10px solid;
	width:25%;
	vertical-align:middle;
	padding:10px;
	font-size:16px;
	font-weight:bold;
	}
	
.blue-bg-inv-h1 {
	background-color:#42445c;
	color:#FFFFFF;
	font-size:22px;
	border-bottom:#f2f2f2 10px solid;
	border-right:#f2f2f2 10px solid;
	padding:10px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	}
	
.blue-bg-ki {
	background-color:#071735;
	color:#FFFFFF;
	border-right:#f2f2f2 10px solid;
	width:25%;
	vertical-align:middle;
	padding:10px;
	font-size:16px;
	font-weight:bold;
	}
	
.blue-bg-ki-h1 {
	background-color:#071735;
	color:#FFFFFF;
	font-size:22px;
	border-bottom:#f2f2f2 10px solid;
	border-right:#f2f2f2 10px solid;
	padding:10px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	}
	
.blue-bg-sti-h1 {
	background-color:#69697d;
	color:#FFFFFF;
	font-size:22px;
	border-bottom:#f2f2f2 10px solid;
	border-right:#f2f2f2 10px solid;
	padding:10px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	}

.blue-bg-ha {
	background-color:#9998a7;
	color:#FFFFFF;
	border-right:#f2f2f2 10px solid;
	width:25%;
	vertical-align:middle;
	padding:10px;
	font-size:16px;
	font-weight:bold;
	}
	
.blue-bg-ha-h1 {
	background-color:#9998a7;
	color:#FFFFFF;
	font-size:22px;
	border-bottom:#f2f2f2 10px solid;
	border-right:#f2f2f2 10px solid;
	padding:10px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	}

.blue-bg-sti {
	background-color:#69697d;
	color:#FFFFFF;
	border-right:#f2f2f2 10px solid;
	width:25%;
	vertical-align:middle;
	padding:10px;
	font-size:16px;
	font-weight:bold;
	}
	
.grey-bg-inv {
	background-color:#e6e5e8;	
	border-right:#f2f2f2 10px solid;
	border-bottom:#f2f2f2 10px solid;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	font-size:16px;
	}
	
.grey-bg-inv-no-border {
	background-color:#e6e5e8;
	border-right:#f2f2f2 10px solid;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	font-size:16px;
	}
	
.grey-bg-inv2 {
	background-color:#d4d3da;	
	border-right:#f2f2f2 10px solid;
	border-bottom:#f2f2f2 10px solid;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	font-size:16px;
	}
	
.grey-bg-inv2-no-border {
	background-color:#d4d3da;	
	border-right:#f2f2f2 10px solid;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	}
	
.bl1-inv {
	border-bottom:none;
	}	
	
.bl1-inv-r {
	border-right:none;
	}

/* ===================
    ALL: Orange Theme
   =================== */

.footerGrey {
    background-color: #ceccc8;
    max-width: 1250px;
	font-size:13px;
    width: 100%;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
}

.footerGrey a {
    color: #337ab7;
	font-size:13px;
	text-decoration:none;
}

.footer-container {
	background:#112232;
	width:100%;
	margin:0 auto;
	max-width:1250px;
	}
.footer-l {
	width:8.33333333%;
	}
	
.footer-m {
	width:75%;
	}
	
.footer-r {
	width:16.66666667%;
	}
	
.main aside {
    background: #f0f0f0;
}
.contact_form {
	padding:2%;
	}

.title {
    color: white;
}

p.clr, .clr { clear:both; padding:0; margin:0;}
.clr2 { clear:both; padding:5px; margin:0;}

/* ==============
    MOBILE: Menu
   ============== */


.left {
	float:left;
	}
#navHome {
    width: 48px;
    margin-top: 30px;
}

.navVline {
    width: 25px;
    overflow: hidden;
}

#NavContent h1 a {
    color: #8f897d;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    cursor: default;
    font-family: 'Whitney-black' !important;
}

.NavContent, .NavContent a {
    color: #fff;
    text-decoration: none;
}
.NavContent {
    width: 220px;
    padding-right: 30px;
}

.NavContent .sideNavBox ul li:first-child {
    border-top: 1px solid #4e5c67;
}

.navHeading {
    width: 220px;
    padding: 25px 0px 0px 0px;
}

.navHeading h1 {
	color: #8f897d;
	font-family: 'Whitney-semibold' !important;
	margin: 0px;
	padding: 0px;
	cursor: default;
	text-transform: none;
	font-weight: normal; 
}

.navHeading h1 a {
	color: #8f897d;
	text-decoration:none;
}

.h1-text {
	color: #8f897d;
	font-family: 'Whitney-Black' !important;
	font-weight: bolder;
	margin: 0px;
	padding: 0px;
	cursor: default;
}

.navBackHome {
    margin-top: 15px;
}

#navBack {
    margin-top: 0px;
}

.sideNavBox {
	color:#FFFFFF;
    margin: 0px;
    width: 220px;
	margin-top:20px;
    margin-bottom: 40px;
}

.navArrow {
	width:220px;
	font-size:12px;
	}

a.navArrowBtn {
    color: #000 !Important;
    background-color: #8d897e;
    color: #072b4c;
    display: inline-block;
    width: 220px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-image: url("../i/btn_arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    text-transform: uppercase;
	box-sizing: border-box;
}

a.navArrowBtn:hover {
	background-color:#857041;
}


a.goldBtn {
    color: #fff;
    background-color: #091e35;
    display: inline-block;
	font-size:13px;
    width: 240px;
    padding: 20px 0px 20px 20px;
    margin: 50px 0px 10px 0px;
    background-image: url("../i/btn_arrow_hover.png");
    background-repeat: no-repeat;
    background-position: right center;
    text-transform: uppercase;
    border: 1px solid #fff;
}

a.goldBtn:hover {
	color:#091e35;
	background-color:#b09455;
	background-image:url('../i/btn_arrow.png');
	border:1px solid #091e35;
	text-decoration:none;
}

#navOpen {
    background-image: url("../i/open.png");
}

#navClose {
    background-image: url("../i/close.png");
}

#navOpen, #navClose {
    width: 40px;
    height: 37px;
    background-position: right bottom;
    background-repeat: no-repeat;
    cursor: pointer;
}

.headerBreadcrumb {
    color: #B09455 !important;
    padding: 15px 0px 0px 10px;
    width: 80%;
    height: 40px;
    overflow: hidden;
	font-size:12px;
}

.headerBreadcrumb a {
	color:#FFFFFF;
	}

#ppsHeaderBox {
    width: 400px;
	position:absolute;
    right: 0px;
	font-size:12px;
}

#ppsHeaderLogin {
	padding: 20px 0px 0px 0px;
}

#ppsHeaderLogin a {
    color: #fff;
	padding: 20px 0px 0px 0px;
}

#ppsHeaderLogin a:hover {
    color: #B09455;
}

.ppsHeaderSearch {
    padding: 15px 5px 0px 0px;
	float:right;
}

/*nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 2px 0.5%;
	background:#06C;
	border-radius:14px 0 14px 0;

    text-align: center;
    text-decoration: none;
    font-weight:500;

    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}*/

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: black;
    padding: 0;
}

.footer-container footer {
    color: black;
    padding: 0.4% 0;
}

.footer-container-bar footer {
    color: white;
	text-align:right;
	font-size:0.7em;
    padding: 5px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 800px) {
 
 .footer-m, footer-l {
	 display:none;
	}
	
.footer-r {
	text-align:center;
	width:100%;
}

.footerGrey p {
	text-align:center;
	}

.headerBreadcrumb {
	display:none;
	}

	iframe#g_2459ce31_0fe5_47b4_bf5a_54ab65e414d9 {
		min-height: 1267px;
	}

}

@media screen and (max-width: 700px) {
 
 .trusteeL {
	float:left;
	width:100%
	}
	
.truteeR {
	float:left;
	width:100%
}

}

@media only screen and (max-width: 768px) {
	
	/* scroll */

.scrollTbl {
	width:100%;
	overflow-x:scroll;
}

.scrollTbl table {
	min-width:100px;
}



}

@media only screen and (min-width: 960px) {


}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.fl{
	float:left;
	padding:0 15px 10px 0;
}

.bottom-border{
	border-bottom:1px solid #071735;
}