﻿

.left, #left {
	float:left;
}
.right, #right {
	float:right;
}

/* tablet spesefic -----------------------------------------------------*/
@media screen and (min-width: 1201px) {
   	#sideBar .col-md-4 {
	float:none;
	margin:10px 0px 0px 0px;
	width:100%;	
	}
}

/* tablet spesefic -----------------------------------------------------*/
@media screen and (max-width: 1200px) {
   	body  {
	/*background-color:aqua;	*/
	}
	#sideBar .col-md-4 {
	float:left;	
	}
	
}

/* mobile spesefic -----------------------------------------------------*/
div.tabs #tabMobileSelector {
	display:none;
	font-family: 'Whitney-book';
}

@media screen and (max-width: 700px) {
    footer  {
	/*background-color:purple;*/
	padding:20px 15px 40px 15px;	
	}
	#social .col-xs-2 {
	padding-left:10px;
	}
	footer h4 {
	display:block;
	background-color:#d3d2ce;
	padding:20px 0px 20px 10px;
	margin-top:40px;
	margin-bottom:0px;
	}
	
	
	/* mobile tabs -----------------------------------------------------*/
	div.tabs #tabMobileSelector {
		display:block;
	}

	div.tabs #pageTabsContainer {
	display:none;
	}
	div.tabs .tab-links {
		margin-bottom:15px;
	}
	div.tabs .tab-links li {
		float:none;
	}
	div.tabs .tab-links li a {
		display:block !important;
	}
	div.tabs #tabMobileSelector{
		background-color:#fff;
		color:#072b4d;
		text-transform:uppercase;
		display:block;
		line-height:40px;
		height:40px;
		padding:0px 0px 0px 10px;
	}
	div.tabs #tabMobileSelector #mobileButton {
		border-left:1px solid #e2e2e0 /*445c74*/;
		background-image:url("../i/mobileArrowBleu.png");
		background-repeat:no-repeat;
		float:right;
		width:44px;
		height:40px;
		cursor:pointer;
	}
	
}


/* mobile spesefic -----------------------------------------------------*/
@media screen and (max-width: 500px) {
    #categoryBanner {
		margin-left:-15px !important; 
		margin-right:-15px !important;
	}
}

/* tabs ------------------------------------------------------------------*/
#ppsPagelayoutControl {
	background-color:#e1e1e1;
	text-align:right;
}
#addCordion, #expandAll {
	background-color:#091e35;
	color:#fff; 
	display:inline-block; 
	padding:10px;
	cursor:pointer;
}
#accordion #heading {
	display:block;
	background-color:#ccc;
	background-image:url("../../../Style%20Library/PPS/images/accordionArrow_down.html");
	background-repeat:no-repeat;
	background-position:right center;
	font-size:16px;
	padding:10px;
	margin-top:2px;
}
#accordion #content {
	border:2px solid #ccc;
	padding:10px;
}

/* scale images */
#accordion #content img {
	max-width: 100%;
	height:auto;
}

.accordionUp {
background-image: url("../../../Style%20Library/PPS/images/accordionArrow_up.html") !important;
background-position: right;
background-repeat: no-repeat;
}

/* tabs ------------------------------------------------------------------*/
.tabs {
width:100%;
display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
display:block;
clear:both;
content:'';
}
ul.tab-links {
  padding: 0px;
  margin: 0px;
}
.tab-links li {
margin:0px 1px 0px 0px;
float:left;
list-style:none;
}

.tab-links a {
padding:9px 14px 9px 15px;
display:inline-block;
background:#ccc;
font-size:14px;
font-weight:600;
color:#051525;
text-decoration:none;
text-transform: uppercase;
transition:all linear 0.15s;
}

.tab-links a:hover {
background:#999;
text-decoration:none;
}

li.active a, li.active a:hover {
background:#6ac6d1;
color:#ffffff;
}

/*----- Content of Tabs -----*/
.tab-content {
padding:15px;
background:#fff;
position: relative;
/* border-top: 5px solid #6ac6d1; */
}

.tab-content:before {
	content:'';
	position:absolute;
	width:100%;
	height:7px;
	background:linear-gradient(to right,  #6ac6d1, #ffffff);
	top:1px;
	left:0;
}

.tab {
display:none;
}

.tab.active {
display:block;
}


/* image fix ------------------------------------------------------------------*/
.tab-content img, .col-lg-9 img {
	max-width: 100% !Important;
	height:auto !important;
}
sup {
	font-size:9px !important;
	padding-right:5px;
}
