/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}


/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-accordion-menu {
  width: 90%;
  max-width: 510px;
  background: #061525;
  font-size:0.8em;
	text-transform: uppercase;
  
}

.label-border {
	margin-bottom: 5px;
}

.cd-accordion-menu ul li.active a {
	background-color:#B09455;
}

li.active a {
	background-color:#B09455;
	}
li.active a:hover {
	background-color:#061525;
	}

.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
border-bottom:#4e5c67 1px solid;
  
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 10px 4px 10px 10px;
  line-height:16px;
  /*box-shadow: inset 0 -1px #555960;*/
  color: #ffffff;
}

.cd-top-border {
    border-top: 1px solid #4e5c67;
}

.no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
	color:#b09455;
}

.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 10px;
  height: 6px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after {
  background-image: url(../i/cd-icons.png);
  background-repeat: no-repeat;
  margin-left:-22px;
}
.cd-accordion-menu label::before {
  /* arrow icon */
  left: 18px;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-accordion-menu label::after {
  /* folder icons */
  left: 41px;
  background-position: -16px 0;
}
.cd-accordion-menu a::after {
  /* image icon */
  left: 36px;
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  /*box-shadow: inset 0 -3px #061525;*/
  border-top:#B09455 1px solid;
  border-bottom:none;
  padding-left: 45px;
  text-transform: uppercase;
  font-size: 13px;
  
}

.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
  background: #061525;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
  text-transform:uppercase;
}
.cd-accordion-menu ul label::before {
  left: 36px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 59px;
  
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 45px;
  background:#b09455;
  color:#061525;
  font-size:12px;
}
.cd-accordion-menu ul ul label::before {
  left: 54px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 77px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 118px;
}
.cd-accordion-menu ul ul ul label::before {
  left: 72px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 95px;
}

.gov-section {
	width: 875px;
	display: flex;
	flex-direction: row;
}

.gov-section div {
	width: 25%;
	height: 90px;
	background-color: #061525;
	margin-right: 7px;
	margin-bottom: 7px;
}

.gov-section div a {
	text-transform: none !important;
}

.wwa-blocks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wwa-block{
  background: #071735;
  flex: 1;
  margin: 5px;
  color:#fff;
  text-align: center;
  padding:20px 10px;
  align-content: center;
  font-size: 0.9em;
}

.light-blue{
  color: #6ac6d1;
}

span.circle {
  display: inline-block;
  border: 1px solid #000;
  width: 12px;
  border-radius: 50%;
  height: 12px;
}

.c-green{
  background: #00af4c;
}

.c-yellow{
  background: #ffcd03;
}

.c-red{
  background: #ed1d24;
}

@media (max-width: 768px) {
  .wwa-blocks{
    flex-direction: column;
  }
}



@media only screen and (min-width: 600px) {
  .cd-accordion-menu label, .cd-accordion-menu a {
    /*padding: 24px 24px 24px 82px;*/
  }
  .cd-accordion-menu label::before {
    left: 15px;
  }
  .cd-accordion-menu label::after {
    left: 53px;
  }
  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
  }
  .cd-accordion-menu ul label::before {
    left: 48px;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 77px;
  }
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding-left: 45px;
	color:#ffffff;
	background-color:#193246;
	font-size: 12px;
  }
  .cd-accordion-menu ul ul label::before {
    left: 72px;
  }
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 101px;
  }
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 80px;
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 96px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 125px;
  }



 
}
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cv-pic {
	float:right;
	margin-top:50px;
	}
	