/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (min-width : 1200px) {
  .mobilenav{
    display:none;
  }
}



@media only screen and (max-width : 768px) {

    header.header-sticky{
      width: 40% !important;
    }

    .d-md-none {
      display: inline!important;
    }
  }

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
  .videoContent{
    position: relative;
    bottom: unset;
    padding: 40px 0;
    width: auto;
    top: 0px;
    left: 10px;
  }
  .radio-labels label span, .checkbox-labels label span{
    float: none;
    font-size: small !important;
  }
  .checkbox-labels label{
    padding: 5px;
    line-height: 16px;
    font-size: 14px;
  }

  .navbar-brand{
    display:block;
  }

  header.header-sticky{
    width: 40% !important;
  }

  
  /*.dialog-off-canvas-main-canvas{
    margin-left: 15px;
  }

  .mobilenav{
    margin-left: -20px;
  }*/
}

@media (max-width: 1024px) and (min-width: 416px) {
  .container-wrap{
    margin-top: 83px;
  }
}





@media (max-width: 989px) and (min-width: 768px) {
  .signUp{
    margin-left: 0% !important
  }

  header.header-sticky{
    width: 40% !important;
  }
}


@media (max-width: 1199px) and (min-width: 1025px) {
    
    header.header-sticky
    {
      width: 40% !important;
    }
  }



/* Medium Devices, Desktops : col-md */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets : col-sm */
@media only screen and (max-width : 768px) {

}

/* col-ms */
@media only screen and (max-width: 767px) {
  .videoContent h1,.videoContent h1 a .display-4{
    font-size: 3rem;
  }
  #Content_16_Submit_1.videoContent h1{
    margin: 0;
  }
}

/* Extra Small Devices, Phones : col-xs */
@media only screen and (max-width: 575px) {
  .videoContent{
    padding: 20px 0;
  }
  .videoContent .display-3{
    font-size: 3rem;
  }
  .videoContent h1.display-3{
    font-size: 2.4rem;
  }
  .videoContent h1 a .display-4,.videoContent a .display-4{
    font-size: 1.5rem;
  }
  .videoContent .form-control{
    line-height: 20px; font-size: 20px;
  }
  .videoContent .btn-gold{
    margin-top: 15px;
  }
  .videoContent label,#Content_01_Introduction_1 .signUp h6, h6{
    font-size: 14px;
  }
  .form-group{
    margin-bottom: 0.5rem;
  }
  .videoContent label.mt-4{
    margin-top: 18px !important;
  }
  .radio-labels label{ padding: 5px }

  input[type=radio] + label:before,
  input[type=checkbox] + label:before{
    height: 20px;width: 20px;
  }
}

@media only screen and (max-width : 415px) {
  .container-fluid{
    display:none;
  }

  header{
  	display: none !important;
  }

  .navbar-brand{
    display:none !important;
  }

  header.header-sticky{
  	display:none;
  }

  a.visually-hidden{
  	display:none;
  }

  .container-wrap{
  	margin-top: 0px;
  }

  main{
  	margin-top: -24px;
  }

  video{
  	margin-top: -40px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
