/* Page */

body,html{ background: #091E35 }
.container-fluid{ padding-top: 15px; padding-bottom: 15px}
.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active{ background-color:#091E35 ; border-color:#091E35 }
.btn-gold { color: #fff !important; background-color: #B09455 !important; border-color: #B09455 !important; text-transform: uppercase;font-weight: bold; }
.videoContent{ position: relative; top:20px; left: 0; width: 100%; color: #fff }
.videoContent label{ margin: 0}
.videoContent .form-control{ line-height: 30px; font-size: 30px; border: none; font-weight: 300;}
.videoContent .btnPower{ margin-top: 10px }
.videoContent .btn-gold{ margin-top: 20px }
.videoContent .btnPower .btn{padding: 0px !important;border-radius: 50%;border-color:#fff;}
.form-group label{ font-weight: bold; font-size: 1rem;}
.st-btn.st-remove-label{ display: inline-block !important;}

/* COMMON RADIO AND CHECKBOX STYLES  */

.radio-labels label,
.checkbox-labels label{
  padding: 10px;
  background: rgba(9,30,53,1);
  border-radius: 3px;
  margin-bottom: 5px;
}
.checkbox-labels label{
  width: 100%;
}

.radio-labels label span,
.checkbox-labels label span{
  float: left;
  margin-top: 2px;
}

label{
    color: #fff !important; 
  }

  .notification{
    display:none;
  }

input[type=radio],
input[type=checkbox]{
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
  margin-right: 10px
}
input[type=radio] + label:before,
input[type=checkbox] + label:before{
  height:30px;
  width:30px;
  margin-right: 5px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  background-color:#eee;
  float: left;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before{
  background:#69C5D1;
    border: 0px !important;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio] + label:before{
  border-radius:50%;
    border: 0px !important;
}
input[type=checkbox] + label:before{
  border-radius:2px;
  border: 0px !important;
}

.form-control{
    border: 0px !important;
}

/* Video */
video{ width:100%; height:350px; margin:auto; position: relative; }

.container-wrap{
  padding-right: 0px !important; padding-left: 0px !important; margin-top: 84px;
}

/* #01_Introduction_1 */
#Content_01_Introduction_1 .btnPower, #Content_01_Introduction_1 .btn-gold{ margin-top: 0 }
#Content_01_Introduction_1 .signUp h1{ margin-top: -10px; line-height: 1}
#Content_01_Introduction_1 .signUp h6{ font-size: 1rem}

#Content_16_Submit_1.videoContent h1{ margin: 0 0 20px; line-height: 4.2rem; }
