{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
 set classes = [
	'col-12',
	'col-lg-5',
	'align-self-center',
	'text-center',
	'text-md-left',
 ]
%}
{%
	set remove_classes = [
	'pb-6',
	'pt-5',
	'container',
	'row',
	'justify-content-between'	
	]
%}
{%
 set classes_div = [
	'block-success',
	'col-12',
	'col-lg-6',
	'scrolling-gallery',
	'aos-init',
	'aos-animate'
 ]
%}

<div{{ attributes.addClass(classes).removeClass(remove_classes).removeAttribute('id')}}>
	{#
  <h2 class="h1 text-blue mb-2">Success is better, <b>shared.</b></h2>
  <p>Unlike a company that is listed on a stock exchange, PPS belongs to its members and operates under the ethos of mutuality. This means that qualifying members with life insurance can exclusively share in the profits of the PPS Group, through the unique PPS Profit-Share Account.</p>
  <a href="#." title="Learn more about Mutuality" class="font-weight-bold btn btn-transparent-blue btn-rounded">LEARN MORE ABOUT MUTUALITY</a> #}
  {{ content|without('field_mutuality_video') }}
</div>

<div{{ attributes.addClass(classes_div).removeClass(classes).addClass('col-12').removeClass('aos-init').removeClass('aos-animate').setAttribute('data-aos','fade-up').setAttribute('data-aos-anchor-placement','top-bottom') }}>

  <div class="block-bg" data-bottom-top="transform: translateY(80px);" data-top-bottom="transform: translateY(-160px);">
  </div>

  <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-40px);">
	<ul class="gallery gutter-1 gutter-md-2">
	  <li class="col-11">
		<figure class="photo">
			{#
		  <video controls height="315" width="100%" poster="assets/Becoming-a-PPS-member.jpg" id="video-background">
		   <source src="assets/Becoming-a-PPS-member.mp4" type="video/mp4">
		   <source src="assets/Becoming-a-PPS-member.webm" type="video/webm">
		   <source src="assets/Becoming-a-PPS-member.ogv" type="video/ogg">
		</video> #}

		  {#<iframe width="100%" height="315" src="https://www.youtube.com/embed/7hq-f4nTLAk?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> #}
		  {{ content|without('field_mutuality_title', 'field_mutuality_body', 'field_mutuality_link') }}
		</figure>
	  </li>
	</ul>
  </div>
</div>