{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
 set classes = [
	'block-invest',
	'col-12',
	'col-lg-5',
	'scrolling-gallery'
 ]
%}
{%
	set remove_classes = [
	'pb-6',
	'container',
	'row',
	'justify-content-between'	
	]
%}
{%
 set classes_div = [
	'block-invest',
	'col-12',
	'col-lg-6',
	'scrolling-gallery',
	'aos-init',
	'aos-animate'
 ]
%}

<div class="block-invest col-12 col-lg-5 scrolling-gallery" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

  <div class="block-bg" data-bottom-top="transform: translateY(40px);" data-top-bottom="transform: translateY(-200px);">
  </div>

  <div data-bottom-top="transform: translateY(200px);" data-top-bottom="transform: translateY(-60px);">
	<ul class="gallery gutter-1 gutter-md-2">
	  <li class="col-12">
		<figure class="photo">
		   <a href="/invest/start-investment" title="Save and invest"> 
		     {{ content|without('field_save_and_invest_body','field_save_and_invest_slogan','field_save_and_invest_title') }} 
		  </a> 
		</figure>
	  </li>
	</ul>
  </div>

</div>
<div{{ attributes.addClass(classes).removeClass(remove_classes).removeAttribute('id')}}>

  <span class="text-uppercase text-light-blue font-weight-bold">{{ content|without('field_save_and_invest_body','field_save_and_invest_slogan','field_save_and_invest_image', 'field_save_and_invest_link') }}</span>
  <h2 class="h1 text-blue mb-2 mt-0">{{ content|without('field_save_and_invest_body','field_save_and_invest_title','field_save_and_invest_image', 'field_save_and_invest_link') }}</h2>
  <p class="mb-3">{{ content|without('field_save_and_invest_title','field_save_and_invest_slogan','field_save_and_invest_image', 'field_save_and_invest_link') }}</p>
  <a href="/invest/start-investment" title="Invest now" class="btn btn-blue btn-rounded px-3">Learn More</a>
  
</div>